[2018-08-13 15:31] marwan-at-work commented on #308
@michalpristas does the proxy need to be scalable? It's meant to run internally and so 1 instance of the proxy server seems ok to me for MVP. But happy to do a distributed lock thing if people wanna scale the proxy, sounds more fun to implement anyway :)

[2018-08-13 15:34] michalpristas commented on #308
that's the question. we should elaborate more on that.
for MVP i guess it's fine to think about proxy as a single instance thing, but i would like to keep the discussion going. As you said, this is where it gets **REALLY** interesting.
Can't put enough emphasis on really

[2018-08-13 15:39] robjloranger commented on #447
closed via #460

[2018-08-13 15:39] #447 closed

[2018-08-13 15:41] robjloranger commented on #462
linking your suggestion on #371 and closing :+1:

[2018-08-13 15:56] rogpeppe commented on #462
Perhaps worth keeping the issue open as long as the PR isn't merged?

[2018-08-13 16:00] michalpristas commented on #462
we dont have underlying issue for #371, reopening

[2018-08-13 16:15] robjloranger commented on #462
very true, sorry about that. nice catch :+1:

[2018-08-13 18:19] arschles opened #466 "Add a codeowners file"
Let's add this file so we can get Github to tell us which folks should review a PR before it can merge

Docs on this file: https://help.github.com/articles/about-codeowners/

Let's keep categories broad for now and make more specific if necessary as we learn

[2018-08-13 18:20] arschles opened #467 "Add documentation on the code review process"
Goal is so that reviewers know the things that need to happen before a merge can happen (i.e. "the road to merge") and so that contributors know what to expect after they submit their PR

- How many reviewers are required (right now we've configured GH to require at least 1)
- CI/CD must pass
- Codeowners file (ref https://github.com/gomods/athens/issues/466)
- Must be up to date with master

[2018-08-13 18:40] marpio commented on #306
@robjloranger I think the ShouldProcess isn't used anymore and will be removed so we can close this issue.
Ref: https://github.com/gomods/athens/pull/461/files

[2018-08-13 19:14] robjloranger commented on #467
ref: #386

[2018-08-13 19:18] robjloranger commented on #467
No force pushes please :grin:

Someone correct me but I think a rebase requires a force push after.

This would be _after_ the pull request has started, any reorganizing of the branch history _before_ pushing is fine but changes to the history that has been pushed cause issues with the GH UI for changes.

[2018-08-13 20:14] robjloranger commented on #306
:+1: Thanks @marpio

[2018-08-13 20:14] #306 closed

[2018-08-13 20:29] michalpristas commented on #97
Closing as we dont need rewind

[2018-08-13 20:29] #97 closed

[2018-08-13 21:23] arschles opened #469 "Don't use the term "caching" in our docs"
Since code/metadata isn't evicted, it's technically the wrong term

[2018-08-13 21:38] robjloranger commented on #469
I think Brian mentioned too that 'registry' is the wrong term. The question then, how should we refer to Athens?

[2018-08-13 21:43] robjloranger commented on #469
I guess it's really a repository in some ways. Not a version control repository, but a software repository.

An immutable module repository.

[2018-08-13 23:01] fedepaol opened #471 "Serve public requests using the local storage of the proxy"
With https://github.com/gomods/athens/pull/456 requests for public (as in non filtered, non private) modules are redirected to olympus (see https://github.com/gomods/athens/pull/456/files/41a50de690a15ad25492c09c500c595e76cfbfbb#diff-581919e80b55b72ad097364f147d4dd1R44 )

To make use of the local storage, the proxy should :
- redirect only if the storage does not contain the module requested
- spi

[2018-08-13 23:02] arschles commented on #81
Ref #421

[2018-08-13 23:09] fedepaol opened #472 "Remove ShouldProcess from filter"
With https://github.com/gomods/athens/pull/461 `module.ShouldProcess` https://github.com/gomods/athens/blob/master/pkg/module/filter.go#L67 is not used anymore and must be removed

[2018-08-13 23:29] arschles opened #473 "What should the public/include filter be called?"
Follow-up on https://github.com/gomods/athens/pull/456/files#r209554785

Right now, it's called `Include` in the code. If we are planning to keep it that way, we can close this.

cc/ @marpio @michalpristas since you were in that discussion

[2018-08-13 23:33] arschles opened #474 "Implementation details of redirect-to-olympus"
This is a follow-up of https://github.com/gomods/athens/pull/456#discussion_r209773098

We've decided that we're going to make the proxy [redirect to an upstream without caching](https://github.com/gomods/athens/issues/495) in our first release. This issue is for discussion on what we should do in a follow-up to that release (I have labeled this as a `v2` milestone)

There are two related question

[2018-08-13 23:35] #309 closed

[2018-08-14 01:47] robjloranger commented on #452
I can confirm that I needed to do the following to get unit tests to run and pass.
[code]

This assumes previously installing other deps, either `make setup-dev-env` or by other means.

This raises another concern, `make setup-dev-env` calls the target for `dev` which only spins up a few services, this should spin up all services via `alldeps` as unit tests require all.

The make target that runs

[2018-08-14 01:55] robjloranger opened #476 "Tidy up Makefile"
continuing my verbose response for #452  https://github.com/gomods/athens/issues/452#issuecomment-412725709

---

The Makefile should not call the target `dev` during `setup-dev-env`, it is insufficient for running unit tests or buffalo tests. <strike>The target `dev` is not used anywhere, so could be removed.</strike> see: https://github.com/gomods/athens/issues/476#issuecomment-412730391

The ta

[2018-08-14 02:14] robjloranger commented on #476
I lied, the target `dev` is sufficient for running the e2e tests only. I still feel we could drop it in favor of `alldeps`, which would be better renamed to `dev`.

[2018-08-14 03:09] robjloranger commented on #476
so many thoughts: what about `make dev-install` which installs the dev deps?
and `make dev-run` that starts up the services?

[2018-08-14 05:51] michalpristas commented on #473
To sum up discussion: my mind settled on
- Include
- Exclude
- Direct

so it is easily readable
`+ github/a/b` as Include a/b
`- github/a/b` as Exclude a/b
`P github/a/b` as Directly download a/b

the other idea was to have it as
- Public - will always download
- Private  - will treat as private
- Exclude - does not download

[2018-08-14 05:55] michalpristas commented on #474
My Idea was to have it fast and synchronous - the redirect
with async db fill.
We can do this as additional middleware, checking status code of `next(c)`
it can see 3 scenarios
- 2xx: we have module registered and present (it may be after sync fill from VCS even)
- 3xx: we are in fact redirecting (to olympus): it should schedule a worker job
- 5xx: something happened, ignore

[2018-08-14 05:57] mydiemho commented on #334
I can work on this.

One question:
1) I am working on a fork, but the code is looking for some package in gomods/athens.  Do I just have to also clone the gomods/athens repo?

[2018-08-14 06:14] michalpristas commented on #474
To layer it up, we will have:

### job scheduling middleware:
- checks statusCode of `next(c)`, where `next(c) == redirect middleware`
    - 2xx: we have module registered and present (it may be after sync fill from VCS even)
    - 3xx: we are in fact redirecting (to olympus): it should schedule a worker job
    - 5xx: something happened, ignore

### redirect middleware
- checks whether or not mod

[2018-08-14 08:07] marpio commented on #473
I like `Direct` as well, it makes the difference between those two more clear.

[2018-08-14 08:28] #472 closed

[2018-08-14 08:29] marpio commented on #429
I will take this one.
Not sure about the `make` selecting the script @robjloranger since make is not available on Windows without an effort.

[2018-08-14 09:05] marpio commented on #474
We are redirecting cmd/go to Olympus.
My question was about storing the module in proxy storage which, I assumed, the worker job should do. Couldn't we fill the storage just like we do this for private modules (using go get - https://github.com/gomods/athens/blob/master/pkg/download/goget/goget.go)?
I don't have a clear preference, just wanted to make this clear.

[2018-08-14 09:13] michalpristas commented on #474
Yes, we might, but it would be slower, this would require a synchronous call to Olympus which would synchronously pull module from VCS, then it would serve the module to the proxy. The proxy would need to store it as well and then serve to the client.

This might timeout for larger packages. I see async as a safer variant of those 2.
I added this point to the mtg agenda so we can dive deeper and d

[2018-08-14 09:13] #473 closed

[2018-08-14 10:15] michalpristas commented on #474
After proxy redirects go cmd to Olympus, its worker should pull from Olympus as well.
We want to minimize collisions where the same version has diff SHAs. If it's still not present few configured retries should do the trick.

[2018-08-14 10:24] marpio commented on #474
Also relevant: #416

[2018-08-14 13:42] michalpristas commented on #471
Closing in favor of #474

[2018-08-14 13:42] #471 closed

[2018-08-14 14:18] robjloranger commented on #429
awesome, we could look at something like [task](https://github.com/go-task/task) in the future. But just having the scripts available will be great.

[2018-08-14 18:59] arschles commented on #81
Also, note that https://github.com/gomods/athens/pull/475 is setting the default storage to in-memory, so that users can have a good first-time experience (i.e. no need to set up directory structures, no need to set up Mongo, etc...)

Once docker images are published, maybe we could make the (or one of the) first-time setup tutorials use `docker run` with a different storage driver (like disk?)

[2018-08-14 21:28] arschles commented on #469
sorry @robjloranger - I worded this issue poorly. I was talking about documents like http://docs.gomods.io/intro/components/#proxy-athens - where it says `cache public modules`.

I think it's still totally fine to call it a Proxy, and this is mutually exclusive from the registry name - I was just referring to the word "cache" in the proxy documentation.

Could we call it a "datastore"?

[2018-08-15 00:06] arschles commented on #474
We had a similar discussion about the proxy returning to the CLI indicating that it should do a VCS fetch while the proxy did a fetch in the background. We decided then to keep it simple and do a `go get` in the background, store to the datastore, and then return to the client (we discussed possibly storing and returning concurrently as an optimization).

What do folks think about doing the same s

[2018-08-15 00:39] arschles opened #486 "Proposal: use Mage?"
Another option besides the Makefile is [mage](https://magefile.org/). It would let us write all our targets in Go.

Looking forward to hearing thoughts?

[2018-08-15 00:58] robjloranger commented on #486
I've never used it, can we branch logic on host OS? That would be amazing for windows users.

[2018-08-15 01:12] arschles opened #488 "Ensure storage tests can run without intermittent failures"
Storage tests right now run in parallel against the same shared datastore, so intermittent failures can happen due to race conditions (@marwan-at-work mentioned that he's seen some).

We should think about whether we can do something to make this more "foolproof". One idea is to use [testify/suite](https://godoc.org/github.com/stretchr/testify/suite)'s [`SetupTest`](https://godoc.org/github.com/st

[2018-08-15 02:52] marwan-at-work commented on #488
@arschles should this issue apply to all storages and not just RDMBS?

In any case, I think each test can get an "acquire" and "clean" functions as arguments so that each test can have its own namespace inside the Storage and a way to clean up afterwards.

This not only allows running tests in parallel, but running the tests again on the same DB instance.

PS. for RDBMS, seems like we're on the pa

[2018-08-15 02:59] marwan-at-work opened #489 "Use Go Cloud to Merge S3/Cloud Storage"
Go recently came out with a library that abstracts different cloud implementations under one interface: https://blog.golang.org/go-cloud

We can use this to have one storage implementation for both pkg/storage/s3 and pkg/storage/gcp, and potentially Azure, but I'm not sure.

I haven't tried Go Cloud yet myself, so I just wanted to open an issue and see what people think.

[2018-08-15 03:58] mydiemho commented on #334
@robjloranger @marpio I'm a little confuse on what I'm suppose to do here.

@robjloranger you said above that I just need to pass in afero.NewMemMapFs to the (./pkg/cdn/metadata/fs).NewStorage method

but it looks like we're already doing that in https://github.com/gomods/athens/blob/master/pkg/storage/mem/mem.go#L34

[2018-08-15 06:17] michalpristas commented on #469
datastore seems fine 👍

[2018-08-15 06:36] michalpristas commented on #474
One thing I like sync solution is that Olympus server may be unreachable from your client (firewall or whatever) but proxy might be able to reach to Olympus (think of any weird rule and you will find at least one company implementing it). Then having this in sync would be safer, causing less frustration and that's what we want, happy users.
If perf is good we should go with it.

But we need to thi

[2018-08-15 06:39] michalpristas commented on #486
Docs states that

We should rename this issue to: "Use Mage!"

[2018-08-15 06:48] michalpristas commented on #488
i like `-p 1` solution from Buffalo. I'm not a fan of tweaking code just to make tests work.

[2018-08-15 06:59] michalpristas commented on #334
Hey @mydiemho
For a reference take a look at https://github.com/gomods/athens/tree/master/pkg/cdn/metadata/fs
This is basically what you need to achieve, but with in-memory store

The code you posted uses `github.com/gomods/athens/pkg/storage/fs` while the goal of this task is to have the implementation in `github.com/gomods/athens/tree/master/pkg/cdn`

The difference is in what each package store

[2018-08-15 13:10] marwan-at-work commented on #488
@michalpristas if you run storage tests twice in a row, they fail. Because the DB doesn't get cleaned up after the first time, is that ok? If so, we should at least document that "you can only run the tests once, otherwise you have to clean the DB manually".

[2018-08-15 13:19] michalpristas commented on #488
yes, I agree with the cleanup at the end of the tests, this is a must as well.
But if tests operate on the same collection we should keep them running sequentially

[2018-08-15 14:10] robjloranger commented on #469
:+1: datastore

[2018-08-15 15:14] marwan-at-work commented on #476
@robjloranger I'm happy with any changes to make file, but I personally like `make dev` the way it is. This is because when working on Athens on my local machine, it's much slower to "up" `alldeps`. Upping just the minimum dependencies makes it *much* faster to iterate on the feature you're working on because you have to take them down and build them up multiple times in ~2 seconds as opposed to ~

[2018-08-15 16:01] marpio commented on #489
This looks awesome @marwan-at-work !
It seems like azure support is underway:
https://github.com/google/go-cloud/issues/76
The only concern is that it's still in alpha.

[2018-08-15 16:04] robjloranger commented on #476
My only problem is the minimum for running unit tests includes minio, which is not part of `dev`. Maybe we should just add minio? I think Aaron has something going in #487

[2018-08-15 16:29] arschles opened #491 "Can we remove NewRDBMSStorageWithConn?"
Continuation of https://github.com/gomods/athens/pull/457/files#r210026175

cc/ @kteb

[2018-08-15 16:33] #425 closed

[2018-08-15 17:03] robjloranger commented on #476
for reference see:
https://github.com/gomods/athens/blob/cdab5c515cbe8a442a863f36819f701b359b1eac/.travis.yml#L18-L24

`make setup-dev-env` runs the `dev` target and then travis installs and runs minio before running test scripts.

[2018-08-15 17:13] michalpristas commented on #491
This was added so tests can inject conn, let's get rid of this

[2018-08-15 17:30] michalpristas commented on #429
on hold in favor of #486

[2018-08-15 17:50] marpio commented on #486
I will try it out see if mage can work for us.

[2018-08-16 01:46] bketelsen commented on #486
please no.

[2018-08-16 05:42] michalpristas commented on #476
Removing on hold

[2018-08-16 05:44] michalpristas commented on #486
@bketelsen what do you say about using mage for Win and make as a standard solution for UNIX?

[2018-08-16 09:34] michalpristas commented on #489
I would wait with this one. it is 0.0.x version so it will change a lot which will put more work on us trying to stay on track, which is quite the opposite of the reason why we would consider to use this.
Also, our use case is not that difficult, using API directly gives you faster cycles in terms of changes and improvements of API.
So at least for now, I would stick to standard APIs, later we wil

[2018-08-16 10:32] marpio commented on #486
In that case I would rather go with powershell as it's installed on every Windows machine and doesn't introduce any new dependency.
We could observe how often the bash and powershell scripts get out of sync and look for a different solution i.e mage if necessary.l

[2018-08-16 20:27] arschles opened #494 "Remove RDBMS support from storage drivers"
We voted to remove RDBMS support for storage drivers (i.e. the stuff in `./pkg/storage/rdbms`) in https://github.com/gomods/athens/issues/423#issuecomment-412160149.

[2018-08-16 20:29] arschles opened #495 "Make the proxy redirect to an upstream download protocol (i.e. Olympus) with HTTP 301s"
We voted in https://github.com/gomods/athens/issues/423#issuecomment-411862230 to make the proxy issue HTTP 301 redirects to the CLI when the proxy datastore doesn't have the given module@version.

_Note that we're going to do this for our first released version_. We can add local caching/storage after that.

[2018-08-16 20:31] arschles commented on #495
Also, this means that if you make the proxy "exclude" all modules in its exclude list, then it will act as if there is no upstream, fetch everything from the VCS (using `go get` on the backend), and store it all in its datastore.

[2018-08-16 20:31] arschles commented on #423
Since we voted to remove RDBMS, I've created https://github.com/gomods/athens/issues/494 for that work, and since we voted to do 301s on proxy misses, I've created https://github.com/gomods/athens/issues/495.

I'm gonna close this issue now. Thanks everyone for voting!!! ❤️

[2018-08-16 20:31] #423 closed

[2018-08-16 20:34] arschles commented on #416
We decided to always redirect (https://github.com/gomods/athens/issues/416#issuecomment-411861110). Note that if you "exclude" everything in the proxy, it will work as if there is no upstream, never redirect, and always download/store modules from the VCS

[2018-08-16 20:35] arschles commented on #416
I've created https://github.com/gomods/athens/issues/495 to track the work to do redirects and I'm gonna close this now. Thanks everyone for voting!! ❤️

[2018-08-16 20:35] #416 closed

[2018-08-16 20:56] manugupt1 opened #496 "Remove pop from olympus and proxy"
Athens uses buffalo as its webframework. Pop is the rdbms connection wrapper for buffalo. We want to make athens independent of a db. Removing pop can be super useful in that regard.

This is where it is already commented out at already
https://github.com/gomods/athens/blob/master/cmd/proxy/actions/app.go#L106-L109
https://github.com/gomods/athens/blob/master/cmd/olympus/actions/app.go#L101-L104

[2018-08-16 21:35] manugupt1 commented on #496
Yep! thanks for clarifying! I did not mean to remove it as a dependency, only from the code repositories.

- Again, yes! We should not allow proxy to connect to the database.
- I assumed that would be removed with the rdbms storage removal in https://github.com/gomods/athens/issues/494
- Right again!

As a sidenote and perhaps a future thing,
We have CDN drivers using pop, I am not even sure we ne

[2018-08-16 21:39] manugupt1 commented on #496
I would probably do it in this sequence
PR 1 : Remove pop from models
PR2 : Remove pop from RDBMS
PR 3: If necessary, remove from CDN drivers

[2018-08-16 22:04] empijei commented on #351
Since you talked about the fact that there is going to be some sort of public key infrastructure, I was wondering if there will be anything to allow for key revocation and key expiration.

[2018-08-17 01:01] manugupt1 commented on #496
PR#1 https://github.com/gomods/athens/pull/497

[2018-08-17 01:07] manugupt1 commented on #494
Is it okay if I work on it?

[2018-08-17 02:03] marwan-at-work commented on #494
@manugupt1 go for it!

[2018-08-17 02:06] manugupt1 commented on #491
Once we remove RDBMS storage, this is no longer necessary
https://github.com/gomods/athens/issues/494

[2018-08-17 03:52] mydiemho commented on #334
@michalpristas could you take a look to see if I am on the right path before I make more changes?

Also, how should I test this?  I have look at the tests in pkg/cdn and pkg/storage and they don't seem to use the same strucutre

[2018-08-17 04:06] marwan-at-work opened #499 "Add Basic Auth To Proxy"
The Athens Proxy will most likely run as a private server behind a VPN in big and small companies. Or it will run behind cloud-specific authentication mechanisms such as GCP Service Accounts. Both of those are not straight forward for people to try out Athens and be excited about it.

Therefore, we should make it easier for people to try out the Proxy without too much set up. Once they see a value

[2018-08-17 04:13] mydiemho commented on #81
I would like to take this on.  How do I get access to our CI/CD?

[2018-08-17 04:26] robjloranger commented on #334
For this you can use package level unit tests. Have a look in packages other than storage for examples. The storages all share similar functionality which is why they share a test suite.

I will have a proper look on the morning. PST. 😴

[2018-08-17 04:47] marwan-at-work commented on #495
@arschles did you mean "include" all modules? "excluding" all modules would return status forbidden.

[2018-08-17 04:55] manugupt1 commented on #496
PR#2: https://github.com/gomods/athens/pull/502

[2018-08-17 04:56] manugupt1 commented on #494
PR https://github.com/gomods/athens/pull/502

[2018-08-17 06:12] michalpristas commented on #495
exclude should break the communication.
Include goes upstream (whatever it is, for proxy its olympus, for olympus it's VCS)
direct goes to VCS without caring about upstream

[2018-08-17 10:45] marpio commented on #491
Closing. Will be taken care of in #494

[2018-08-17 10:45] #491 closed

[2018-08-17 12:04] michalpristas commented on #75
Closing as we're getting rid of RDBMS

[2018-08-17 12:04] #75 closed

[2018-08-17 12:06] michalpristas commented on #450
can we close in favor of #494 ?

[2018-08-17 12:08] michalpristas commented on #486
Closing, we settle for PS script for windows and traditional Makefiles for unix

[2018-08-17 12:08] #486 closed

[2018-08-17 12:13] michalpristas commented on #330
Closing #457  is in

[2018-08-17 12:13] #330 closed

[2018-08-17 12:16] michalpristas commented on #307
Closing as blacklist returns `StatusForbidden`

[2018-08-17 12:16] #307 closed

[2018-08-17 12:19] manugupt1 commented on #450
Not sure, we can run buffalo test and see if it calls setup and teardown of databases. Want to check this for you this evening?

[2018-08-17 12:28] michalpristas commented on #450
yeah let's try it and in case it blows let's file a bug on buffalo

[2018-08-17 13:01] #499 closed

[2018-08-17 13:05] marwan-at-work commented on #147
@arschles @marpio I think this issue is no longer relevant because we won't be storing Metadata HTML anymore right?

[2018-08-17 13:23] michalpristas opened #503 "Do we need CDN package?"
To put you into context. At this time we have two moving parts when talking about Olympus.
 - Module Storage (also referred as storage)
 - CDN metadata store (pkg/cdn)

I was wondering do we need the second one?

Imagine a scenario.

You setup Olympus with a store (no cloud provided CDN on top of it just yet)
When you ask for a package it will return one from Olympus.

Then you experience some slo

[2018-08-17 13:33] marwan-at-work commented on #503
@michalpristas you mention that a user sets up a CDN on top of Olympus, can a user actually do that?

[2018-08-17 13:35] marpio commented on #503
Related https://github.com/gomods/athens/issues/299

[2018-08-17 13:45] michalpristas commented on #503
@marwan-at-work CDN is part of your infra,
examples
https://aws.amazon.com/cloudfront/
https://docs.microsoft.com/en-us/azure/cdn/cdn-overview

It is not our goal to provide a cdn and tackle with all the problems related to it e.g routing
So I as an Azure user, choose to use Azure Blob storage for modules and then i set up azure cdn on top of it.
Then i will configure olympus with cdn URI, then al

[2018-08-17 13:48] marwan-at-work commented on #503
I was under the impression that Olympus will be public, in other words “we”
create/control the storages and CDNs, not the user. The user can only
configure a Proxy. So when you say, “I an Azure user use Azure Blob
storage” do you mean that any one can configure www.olympus.com to use my
own Azure storage?

On Fri, Aug 17, 2018 at 9:45 AM Michal Pristas <notifications@github.com>
wrote:

--
Marwan

[2018-08-17 13:51] michalpristas commented on #503
oh that's what you mean, by user i mean an Ops person responsible for running it. sorry for the confusion.
As brian mentioned there are few companies which agreed to run Olympus on their infra. So they will need to set it up accordingly using the stack they have available.

[2018-08-17 13:55] robjloranger commented on #503
@michalpristas this is actually what I thought we would do. Which I why I kept getting confused when we discussed the CDN and Storage together. I couldn't figure out what the CDN was supposed to be for.

[2018-08-17 15:31] marwan-at-work commented on #503
@michalpristas lmao thanks for the call out, I removed it. Although I'm pretty sure it's on my website too.

I think it's safe to say most of us want to remove the CDN :)

@arschles curious about your input.

[2018-08-17 16:06] robjloranger commented on #81
For CI you can add a script, preferably to the `./scripts` directory, and then add a step to the `.travis.yml` for build and deployment. You will

For details on deployment see https://docs.travis-ci.com/user/deployment

For an example `.travis.yml` used for docker deployment and testing check out the [travis docs](https://docs.travis-ci.com/user/build-stages/share-docker-image/).

You will need t

[2018-08-17 18:08] marpio commented on #429
#486 has been closed - removing 'on hold'

[2018-08-17 18:58] arschles opened #506 "Proposal: have someone "triage" issues each week?"
I saw that the Helm project has a ["triager"](https://github.com/helm/helm/blob/master/CONTRIBUTING.md#the-triager) who goes through issues and PRs each week. If we did something like this in Athens, the triager might add labels to issues / PRs, prompt discussions in threads if they are "stale", maybe start votes for issues that have concrete options, and maybe some other things?

What do people t

[2018-08-17 19:53] robjloranger commented on #506
I do, I was trying to do this periodically.

[2018-08-17 20:40] carolynvs commented on #506
I love this idea!

[2018-08-17 21:14] arschles opened #508 "Move PHILOSOPHY.md to our docs site"
This is mostly a matter of moving the `/PHILOSOPHY.md` document into the `docs/` directory. Let's leave the current `/PHILOSOPHY.md` document in place, and write where it's redirected to.

[2018-08-17 21:30] manugupt1 commented on #506
Love this! Triaging can be good first issues also!

[2018-08-17 22:12] arschles opened #509 "Proposal: add a "transparency" section to our philosophy doc?"
I feel like we're very transparent with each other as-is, and it would be nice to write it down. Some ideas top of my head:

- We record all meetings and put them on youtube
- Agendas written down for dev meetings
- We have dev meetings!
- We vote on stuff in issues
- We file proposals in issues
- More?

What do folks think?

[2018-08-17 22:32] carolynvs opened #510 "Cleanup the CSS for our docs code blocks"
The CSS for our inline code blocks always includes a copy button, which isn't helpful

![screen shot 2018-08-17 at 5 29 46 pm](https://user-images.githubusercontent.com/1368985/44291338-4e010b80-a243-11e8-9d10-57e294c3f2bc.png)

The most common case when we inline code something is that we are referring to a command, or an environment variable, but aren't telling people to run that code. Runnable

[2018-08-17 22:38] robjloranger commented on #510
I agree, copy paste is somewhat bad practice anyway. I feel like I learn more when I have to type everything in.

[2018-08-18 01:09] manugupt1 commented on #450
This is the PR that will really let buffalo test not fail.
https://github.com/gomods/athens/pull/511

The relevant commits are : https://github.com/gomods/athens/pull/511/files#diff-f47e73f93c08e297a441f8902cc5c34e

Sorry about this big PR :(

It has one more change remaining and hopefully everything will work then!

[2018-08-18 13:27] michalpristas commented on #506
❤️ this idea, we should also include this in #444

[2018-08-19 09:33] marpio commented on #506
:+1:

[2018-08-19 18:32] marpio commented on #503
I think some time ago there was this idea of having the replication of modules between Olympuses consist of two steps - first saving the CDN URL of another Olympus and downloading and storing to it's own storage in step 2.
So let say we have Olympus MS (OM) and Olympus Amazon (OA).
OM checks whats new from OA and finds out that OA has module Mx which OM doesn't have. It then saves the OA-CDN-URL o

[2018-08-19 21:27] marpio opened #518 "Fix test_e2e.sh - set GOPATH to the temp dir"
At the moment
https://github.com/gomods/athens/blob/493945c13a740e790ef9d04b638598f3445d5d7d/scripts/test_e2e.sh#L14-L16
doesn't clear the cache because the cache is under `GOPATH/pkg/mod` Because of that go doesn't use the proxy which is the point of the test.

To fix that we need to **temporary** set `GOPATH` to
https://github.com/gomods/athens/blob/493945c13a740e790ef9d04b638598f3445d5d7d/scrip

[2018-08-19 21:47] fedepaol commented on #488
Can I work on this? Are we talking about the tests for `pkg/storage` right?

[2018-08-20 01:14] devdinu opened #519 "Accept interfaces and return struct"
Storage implementations could return actual struct instead of `storage.Backend`, our tests would help us ensure the implementations match the interface.

- This would help us write better unit tests against the struct.
- This would make the implementation consistent.

We already have mongo, olympus, s3 implementation properly, `mem, fs, minio` have to be changed. wdyt?

If it sounds good i could p

[2018-08-20 03:55] mydiemho commented on #334
@robjloranger I looked through other packages and a few don't have tests either.

What do you mean by package level unit tests?  Could you link to an example?

[2018-08-20 04:16] mydiemho opened #521 "`make verify` is failing due to golint failure"
[code]

[2018-08-20 04:48] marwan-at-work opened #523 "pkg/download: limit number of concurrent go get's"
When deploying the Athens Proxy to a low-resource instance and using `go build` against that proxy, cmd/go can exhaust the Proxy's resources fairly quickly which causes our internal `go mod download` to return `sig killed` errors.

Go seems to limit concurrent mod fetches by 10 but that's not something we can control. Therefore, we need a configurable worker pool to limit the number of go get's we

[2018-08-20 05:39] michalpristas commented on #503
Yes, this is a valid scenario, but it was brought when we hadn't redirects or sync cache fill from VCS.
When this CDN solution was designed we had Olympus in mind with workers and pull sync.
Now we think of push-pull synchronization and sync vcs fill on top of that.
As I think about it sync VCS fill is not really redirect friendly, whether it's to another olympus or to other CDN.

[2018-08-20 05:52] michalpristas commented on #523
So it is very likely that we will return such a small concurrent request as 20.
Can you measure on low-resource HW how long does it take to serve one module?

[2018-08-20 05:59] michalpristas commented on #523
this is kind of thing I had in mind when I was talking about proxy scalability.
To make 1000s of users happy, we need either scale this heavily or bring back async pulling and redesign whole flow again.
I guess for MVP it's ok to have this limitation but for later we should re-think.

[2018-08-20 06:50] marwan-at-work commented on #523
@michalpristas I think for MVP, and even after, setting "minimum hardware requirements" is probably sufficient enough for companies who want to run the Proxy in a serious manner. I suspect no company will run on low-resource because it wouldn't make sense. This issue is just for us to really figure out what's the "right amount" of resources or concurrent go-gets we should do.

[2018-08-20 07:01] michalpristas commented on #519
Go ahead @devdinu

[2018-08-20 07:02] michalpristas commented on #521
is this on your local branch? how does the code around pointer_registry.go:77 looks like?

[2018-08-20 07:04] #521 closed

[2018-08-20 07:04] marwan-at-work commented on #519
I initially disagree here (but not strongly)

There are standard library packages that return interfaces instead of structs:
The `context` package returns interfaces such as `context.Background`, or `context.WithTimeout`.

The `http.NewFileTransport`  returns a `RoundTripper` interface.

Returning an interface sends a clear message to the user about what functionality they have access to from the

[2018-08-20 08:17] marpio commented on #518
@mydiemho `GOMOD_CACHE` isn't something go knows about so the cache won't be there. It's just a var set to path where the cache _should_ be (but it's not right now). If we set GOPATH env var to TMPDIR go will actually put the cache there.

[2018-08-20 08:56] michalpristas commented on #518
Something for inspiration: https://github.com/golang/go/blob/b7d3f4c0b2f421c6b7bf6ce3533f1b34b470b39d/src/cmd/go/testdata/script/mod_file_proxy.txt

[2018-08-20 09:01] michalpristas commented on #509
Meetings are opened and anybody can join - just to make it obvious

[2018-08-20 09:08] michalpristas commented on #506
Related to triage, i really like how Helm, and probably others, use labels for PRs.
While having WIP in a title is nice, it is a bummer to filter on top of that.
So maybe as part of the triager routing, person can go through PRs, and assign following labels (stolen from Helm):

awaiting review | The PR has been triaged and is ready for someone to review
in progress | Indicates that a maintainer is

[2018-08-20 15:28] marwan-at-work opened #526 "Ensure goget is part of tracing"
Once https://github.com/gomods/athens/issues/392 is resolved, let's ensure that concurrent go-gets are properly traced as part of the entire request. This is because the request Context is not being passed to the cacheFill/storageFill operations which is a good thing because if the user abandons a request, we want to continue doing the cacheFill/storageFill. However, I'm not sure if we want to cop

[2018-08-20 16:53] arschles commented on #488
@fedepaol absolutely. And yes, we're talking primarily about `pkg/storage` tests, but this also applies to tests in `cmd/proxy/actions` because they use the storage drivers in pkg/storage

[2018-08-20 17:08] fedepaol commented on #488
OMG, my first officially assigned issue!

[2018-08-20 17:45] carolynvs opened #529 "Document our various caching and persistence levels"
"7 layer burrito of the athens cache"
* go cli on a worker caches to the filesystem in the GOPATH/pkg/mod
* in-memory storage
* filesystem storage
* redis storage
* mongo storage
* the go cli on the client end

What is the lifecycle for each layer? If I restart the proxy, what do I expect to see when the cache is full vs. empty? We will see different behavior depending on how it's run (i.e. in a c

[2018-08-20 18:03] marwan-at-work opened #530 "Proxy: use in-mem auth instead of .netrc"
A Proxy needs to authenticate with git or whatever vcs upstream to pull private company repos. Currently we do this through the .netrc file but this means that your credentials are chillin on disk. For development, this is fine and is probably already set for users through Access Keychain or .netrc without them realizing it. But for deployment we should make sure we have a clear/secure way of auth

[2018-08-20 18:05] marwan-at-work opened #531 "Proxy: Document Deployment Steps"
Sorry if this is a dup.
But we should document exactly how to deploy an Athens Proxy to different clouds, with authentication and all the turns and knobs needed.

[2018-08-20 18:08] arschles commented on #488
yessss! 💯

[2018-08-20 18:12] arschles commented on #519
I agree with @marwan-at-work here but I'm gonna add a little more from personal opinion.

Generally I think and have seen returning `struct`s can help the caller if the struct implements some functionality beyond the interface that it implements. Otherwise, if you return a struct that implements the interface and nothing more, you have to document that the struct implements the interface and you d

[2018-08-20 18:20] carolynvs opened #532 "Fix running the athens proxy on windows"
This is a placeholder, Jeremy will fill in the stacktraces and error messages.

[2018-08-20 18:41] carolynvs opened #533 "Document how to run an athens server for a development team"
This is a placeholder, more info coming.

[2018-08-20 18:41] jeremyrickard commented on #533
I've started this, I'll add an outline below.

[2018-08-20 18:42] carolynvs opened #534 "Suggest best practices for running a proxy in production"
This will need to evolve over time, so at first it may just document how to run it and not lose data. Then we can iterate and improve it from there.

[2018-08-20 19:01] jeremyrickard commented on #532
There are two issues kind of interleaved here. Here is the overall stack trace when running in a non-administrative PowerShell session.

[code]

The first error:
[code]
This goes away when running an administrative PowerShell session. Not sure if we want to require someone to run it as an admin?

Second one actually causes an issue when trying to build and use the proxy:
[code]

[2018-08-20 19:10] marpio commented on #532
I'm currently working on #429 so it's related. I can take this one if neither you @carolynvs or @jeremyrickard started to work on this or want to do it.

[2018-08-20 20:00] marwan-at-work commented on #534
yeah 531 seems like a dup of this. @carolynvs should I close it or is this a little different?

[2018-08-20 20:01] marwan-at-work commented on #534
PS. I deployed the Proxy to our GCP cluster and aggressively pushed a few prs to make it work lol. But there's still some work to be done, so let me know how I can help

[2018-08-20 20:08] carolynvs commented on #534
oops, thanks for calling that out I didn't see 531. Closing in favor of that

[2018-08-20 20:08] #534 closed

[2018-08-20 20:22] carolynvs commented on #532
@marpio I need all the help that I can get! 😊

[2018-08-20 20:31] ebati opened #535 "Remove docker volume prune from Makefile"
Down targets in make file run `docker volume prune` which removes _all_ unused volumes (and asks for confirmation). It will be better to run [`docker-compose down`](https://docs.docker.com/v17.09/compose/reference/down/) with `-v` flag which deletes volumes related to the project.

[2018-08-20 21:59] fedepaol opened #537 "Propagate Log.Entry down to all the middleware functions / handlers"
With https://github.com/gomods/athens/pull/492 and https://github.com/gomods/athens/pull/456 we have two middleware functions in addition to the type safe one implemented as `LogEntryHandler` .

Since the `log.Entry` parameters are bound to the request that traverses all the middleware functions (and the handler) it would be nice to have a way to instantiate it in the top level middleware and prop

[2018-08-20 23:53] arschles commented on #531
+1

Side note: this would be a cool thing to screencast 😊

On Mon, Aug 20, 2018 at 11:05 Marwan Sulaiman <notifications@github.com>
wrote:

[2018-08-21 00:26] robjloranger commented on #506
I love that idea @michalpristas

[2018-08-21 00:28] robjloranger commented on #334
For example the error package, https://github.com/gomods/athens/blob/master/pkg/errors/errors_test.go

[2018-08-21 09:40] marpio commented on #532
Got this error msg:
[code]

[2018-08-21 14:23] carolynvs opened #539 "Is it "Athens Proxy" or "Athens proxy"?"
Let's decide on a style guide for referring to the proxy and then update the docs to match, examples below:

* Athens Proxy, Proxy
* Athens Proxy, proxy
* Athens proxy, proxy

[2018-08-21 14:29] michalpristas commented on #539
I'm for Athens proxy, proxy
as Proxy evokes something like proxy of the proxies, uber-proxy, what might sound sniffy

[2018-08-21 14:34] carolynvs commented on #81
I'll get the credentials for the docker registry into our travis build if it's not there already. @mydiemho Ping me if you need help on this! 😀

[2018-08-21 14:47] carolynvs commented on #539
I also like "Athens proxy, proxy". 👍

[2018-08-21 15:17] #535 closed

[2018-08-21 15:46] michalpristas opened #540 "Support for custom CAs"
Lots of companies have their own CA, and it's not a trusted root by default.
Let's allow them to set this CA as trusted.

[2018-08-21 18:58] carolynvs commented on #81
@mydiemho I apologize for jumping on this but it rose in priority with GopherCon getting close, and because it simplifies our documentation so much. I'll be opening a PR shortly to get this implemented, and would appreciate your comments on it!

[2018-08-21 20:12] carolynvs opened #545 "Suggestion for reviewers?"
This is a suggestion for our reviewing guidelines that I'd appreciate feedback on from other maintainers.

Basically what I'm trying to avoid is a common situation where one reviewer uses **Request Changes** and then the PR is blocked from being merged without either a maintainer overriding your review, or forcing people to wait for you to have time to circle back and approve the author's fix. It

[2018-08-21 20:17] marwan-at-work commented on #545
@carolynvs that sounds good to me. Does that mean it's the merger's responsibility to make sure previous review's are addressed?

[2018-08-21 20:51] #311 closed

[2018-08-21 21:25] robjloranger commented on #545
Sounds great

[2018-08-21 21:27] robjloranger commented on #539
I'm with both of you, only Athens title case. Proxy should be lower case.

[2018-08-21 23:23] manugupt1 opened #548 "Remove pop dependency from olympus"
buffalo build and buffalo test should not build a database when this is ran

[2018-08-21 23:24] manugupt1 opened #549 "Remove cdn rdbms driver"
CDN RDBMS driver is not required because we wont store any relationships within the database and the document db such as mongo  should suffice

[2018-08-22 01:35] manugupt1 opened #552 "Fix the following dep ensure warning on CI"
When you run dep ensure on travis, you get the following warning

+dep ensure -dry-run
Warning: the following project(s) have [[constraint]] stanzas in Gopkg.toml:
  ✗  github.com/pkg/errors
However, these projects are not direct dependencies of the current project:
they are not imported in any .go files, nor are they in the 'required' list in
Gopkg.toml. Dep only applies [[constraint]] rules to d

[2018-08-22 03:00] robjloranger commented on #552
Can you point me to a PR that is experiencing this error?

It looks like you need to run dep ensure before pushing to the branch and resolve any errors there. Commit the change and then push, this should clear up the issue.

That check ensures we do not commit mismatching dep toml/lock and vendor.

[2018-08-22 03:08] manugupt1 commented on #552
If you check logs on this : https://travis-ci.org/gomods/athens/builds/418968846
You can see the warning. It is not really an error.

[2018-08-22 04:58] mydiemho commented on #518
@michalpristas thanks for the inspiration, but not sure what I'm looking at.

@marpio I'm still confuse by what this issue is trying to solve. Is it
1. Cache is not being clear and we would like to clear cache.  OR
1. GOPATH is not correct so tests are failing

When you say temporary, do you mean within the script or through the whole script, ie. unset it at the end of the script.

In the script,

[2018-08-22 05:00] mydiemho commented on #81
@carolynvs no worry, this will be a good learning experience for me.  Would love to pair with you on another issue next time :D

[2018-08-22 06:09] devdinu commented on #519
@marwan-at-work Agreed i don't prefer exposing the struct either as it would bring direct dependencies and hard to change. Then looking at the code, instead of `proxy/storage.go` `GetStorage() storage.Backend` we could move that behaviour to `pkg/storage`, as it's that package responsibility.

`New(storageType string) storage.Backend`, we could have non exported package specific storage struct in

[2018-08-22 06:47] marpio commented on #532
So the problem is missing env vars we are (not) passing here:
https://github.com/gomods/athens/blob/c0635b748ca7fa788b43835d8db2f48351f7ec0c/pkg/module/go_get_fetcher.go#L97
I'll submit a PR later today.

[2018-08-22 10:17] marpio commented on #518
Yes, we even need to do that!
We are executing `go run .` twice:
- without using Athens proxy
https://github.com/gomods/athens/blob/493945c13a740e790ef9d04b638598f3445d5d7d/scripts/test_e2e.sh#L44
- and with proxy (afters setting the GOPROXY env var)
https://github.com/gomods/athens/blob/493945c13a740e790ef9d04b638598f3445d5d7d/scripts/test_e2e.sh#L50
The first time we're just checking if it works

[2018-08-22 10:48] marpio commented on #552
We probably don't use github.com/pkg/errors anymore and should remove this dependency.

[2018-08-22 13:30] marwan-at-work commented on #519
@devdinu if you move `GetStorage() storage.Backend` to `pkg/storage`, then it won't compile because you'd create import cycles. GetStorage() imports various storage implementations, and all storages import pkg/storage.

As for testing, I don't believe it's necessary to test an initializer unless it had some runtime business logic (as opposed to boot-time which our initializers are just boot-time A

[2018-08-22 13:30] #519 closed

[2018-08-22 18:10] #548 closed

[2018-08-22 18:10] #549 closed

[2018-08-22 19:33] robjloranger commented on #552
interesting, that should actually have failed the CI. We don't want to commit changes that have not properly updated the vendored dependencies.

[2018-08-22 19:49] #427 closed

[2018-08-22 19:57] robjloranger commented on #317
@vagruchi are you still interested in working on this?

[2018-08-22 19:58] adyach commented on #414
@VineethReddy02 are you still on that? if not I would like to grab it

[2018-08-22 19:59] adyach commented on #414
sorry it was already addressed in https://github.com/gomods/athens/pull/513

[2018-08-22 21:06] #334 closed

[2018-08-22 21:35] fedepaol commented on #488
Need some help.

If I look at https://github.com/gomods/athens/blob/master/pkg/storage/storage_tests/module_storage/storage_test.go#L71 that's the only test function, so even if we enable running the tests in parallel, all the storage tests are there. Which means that the storage tests are called *sequentially*

Moreover, each storage has its own datastore (like mongo, fs, etc). What am I missing?

[2018-08-22 21:56] robjloranger commented on #488
I think mostly you need to make sure each test suite cleans up after itself. One of the issues is that an artifact from a previous year could remain to interfere with a subsequent test.

[2018-08-22 22:17] manugupt1 commented on #552
These are just warnings, even `dep ensure` does not fail. So, removing the package should suffice.

[2018-08-23 06:10] robjloranger commented on #552
But the idea of the script is to fail CI under this type of circumstance. It should prevent merging something that removed the errors package. I'll investigate more tomorrow.

[2018-08-23 17:05] #552 closed

[2018-08-23 22:14] manugupt1 commented on #488
@fedepaol We have removed RDBMS package from master. Can you verify if that is the case again? I checked it again and I did not find it.

[2018-08-23 22:34] fedepaol commented on #488
@manugupt1 what I meant here is that *before* we had tests for rdbms with no cleanup, which *might have* been the cause of this issue.

I linked an old revision to show that. Now that they are gone with the rdbms package, this issue could not be a problem anymore.

[2018-08-23 22:36] manugupt1 commented on #488
@fedepaol Ah okay! So, this might be fixed!

[2018-08-24 01:39] devdinu commented on #488
We should cleanup, but even after we do that, might hit into race condition. while cleaning we can't drop table, but clear its own records.

we should have records different for each storage and cases. eg: `storage_name_operation_module`, if we've same module with save and list cleanup might happen before other completes.

[2018-08-24 05:55] #532 closed

[2018-08-24 06:58] fedepaol commented on #488
@devdinu  Not sure race conditions are the problem. As I wrote before, there is only one test function that runs all the tests sequentially, one storage at the time, which is https://github.com/gomods/athens/blob/master/pkg/storage/storage_tests/module_storage/storage_test.go#L71

[2018-08-24 15:36] #81 closed

[2018-08-24 17:44] #429 closed

[2018-08-24 22:34] #467 closed

[2018-08-24 23:02] natefinch commented on #476
Anyone interested in a PR to replace the makefile with Mage?

[2018-08-24 23:07] robjloranger commented on #476
We decided against it in #486 unfortunately.

[2018-08-24 23:09] natefinch commented on #476
Powershell? Man, y'all crazy :)

[2018-08-24 23:13] robjloranger commented on #476
lol I know, I was excited to switch to mage

[2018-08-24 23:43] robjloranger opened #562 "docs: writing good first issues"
continuation of the conversation here: https://github.com/gomods/athens/pull/444#discussion_r209653748

I agree we should set up some documentation outlining prerequisites for any issue marked as either `good first issue` or `help wanted`.

Separate outlines for both, maybe the `help wanted` can be the base and `good first issue` will add more requirements making it ideal for someone new to Go or

[2018-08-25 07:09] michalpristas commented on #518
👍 for being a good citizen

[2018-08-25 16:16] #462 closed

[2018-08-25 16:50] robjloranger opened #566 "Host charts"
continuing the discussion from: https://github.com/gomods/athens/pull/547#discussion_r212679915

We should decide where to host our helm charts, maybe docker compose too?

@arschles suggested starting with an Azure storage container, which as @carolynvs mentioned we could then point a sub domain like `charts.gomods.io`.

[2018-08-25 16:52] robjloranger opened #567 "docs: cutting a release"
continuing the discussion from: https://github.com/gomods/athens/pull/547#discussion_r212680314

We need to outline the steps required for a maintainer to cut a new release of either the proxy or Olympus.

[2018-08-25 18:30] robjloranger commented on #273
I'll get this done today, I will have it omit `*.go` and `go.{mod,sum}` files as those will fail builds during lint and dependency checks respectively.

[2018-08-25 20:47] marpio commented on #518
We should also `unset` or set the GO111MODULE env var to the original value since it's not mandatory in 1.11

[2018-08-25 22:06] robjloranger commented on #518
That should be part of #378

[2018-08-26 03:41] robjloranger commented on #562
I've started this, #570. Please feel free to work on that branch if you have access and would like to help. Otherwise comment here or the PR. 😊

[2018-08-26 07:00] marpio commented on #518
@robjloranger could you expand on that?
The scenario I had in mind was running the test-e2e on a development machine. At the end of the test we should leave the environment as it was before.

[2018-08-26 09:12] fedepaol commented on #495
Can I take this one?

[2018-08-26 12:34] michalpristas commented on #495
This was discussed as post-MVP but sure @fedepaol

[2018-08-26 12:35] michalpristas commented on #495
@marwan-at-work you self-assigned this few days ago, are you ok with @fedepaol working on this?

[2018-08-26 14:50] marwan-at-work commented on #495
This is already done through the filter middleware and the global switch. Will close the issue and open a new one for cache filling.

[2018-08-26 14:50] #495 closed

[2018-08-26 14:57] marwan-at-work opened #571 "Proxy Cache Fill From Olympus"
Issue 495 made it so that we can redirect to Olympus. We should also have the option to save an Olympus module into the proxy storage backend.

1. This should configurable.
2. This should weigh out synchronous vs asynchronous options based on clean code and performance.
3. This should either be done through a backend passed to the middleware, or an Olympus implementation of the download.Protocol

[2018-08-26 15:27] robjloranger commented on #518
Oh sorry @marpio I misread. I thought the comment was for setting the variable in CI.

[2018-08-26 23:52] carolynvs commented on #566
Yeah, based on previous experience, it's easy for people to come on/off a project and then the project ends up needing to switch hosting providers, or scale out across more than one. So if we start off with a subdomain, we will save ourselves trouble down the road. Also this will give ourselves more options later for maybe doing something more complicated than static file hosting, like chart museu

[2018-08-27 00:11] robjloranger commented on #476
closed with #561

[2018-08-27 00:11] #476 closed

[2018-08-27 15:10] #510 closed

[2018-08-27 15:20] #533 closed

[2018-08-27 16:48] #273 closed

[2018-08-27 21:19] robjloranger opened #579 "pkg/config: add MongoConnectionString default"
## What

I propose we set `mongodb://127.0.0.1:27017` as the default value for `ATHENS_MONGO_CONNECTION_STRING`.

We would change:
https://github.com/gomods/athens/blob/b62ebddb1bc09c9e7cdbc60ebe8b11aa37d0bd6e/pkg/config/env/mongo.go#L11-L19

To become:
[code]

All uses of the function call would need to be updated to reflect the change in returned values. No longer includes an error.

We could al

[2018-08-28 09:56] #579 closed

[2018-08-28 10:00] marpio commented on #324
@manugupt1 @tbpg Can we close this issue?

[2018-08-28 10:24] marpio opened #581 "Provide a binary release"
At the moment we provide a docker image, which is great but sometimes `wget && tar -xvf && ./proxy` is just enough.
We could use https://developer.github.com/v3/repos/releases/#create-a-release

[2018-08-28 10:29] marpio commented on #489
Moving to the milestone v2. We can revisit this later when go-cloud gets stable.

[2018-08-28 10:34] marpio commented on #488
@fedepaol is there anything to do here or can we close it?

[2018-08-28 10:35] fedepaol commented on #488
@marpio I think this can be closed

[2018-08-28 10:40] marpio commented on #421
@arschles I'm closing it since #547 is merged.

[2018-08-28 10:40] #421 closed

[2018-08-28 10:48] #488 closed

[2018-08-28 10:55] marpio commented on #452
@robjloranger I think we can close this after the recent changes.

[2018-08-28 10:55] #452 closed

[2018-08-28 13:14] manugupt1 commented on #324
@marpio No :( There is a bug in the tracing thing. Right now, I am reading up on integrating about opencensus since we decided to use opencensus.

I am on vacation this Friday - Monday, I am planning to write code after that. If anyone is willing to do it before that, it will be great too.

[2018-08-28 19:36] fedepaol commented on #571
In case of storage miss currently the handlers fetch from the vcs synchronously and fill the storage

Let's put down some possible approaches:
#### We let the middleware check the storage and do the redirect in case of miss

In case of hit we let the handlers serve the data from the storage.
I don't like this approach because the logic is split between the middleware and the handlers.
It works rel

[2018-08-28 21:10] robjloranger commented on #571
I'm torn between the same two. My first instinct is to go for the second option:

But I also really like the idea of Olympus being the source of truth from the first fetch.

[2018-08-29 00:58] marwan-at-work commented on #571
Haven't fully read the response yet, but my initial thought is this:
1. Have the downloadProtocol be able to cache Filling just like it has before. It does it currently from go get, but it can also do it trivially from Olympus.
2. Have the handlers check if err is KindX (KindNotFound, or KindRedirect), and then redirect to Olympus.

My current open PR (573) does a few changes in that we can pass a

[2018-08-29 05:03] sahitpj opened #583 "Adding Issue and PR templates"

[2018-08-29 05:48] michalpristas commented on #571
I'm on the edge if this is dup of #474
I would go with 3 up to the point we find out that it won't perform well, then we know how to fix it immediately by switching to 2

[2018-08-29 07:02] fedepaol commented on #571
Ok then, I'll try to go for 3 trying to leverage @marwan-at-work PR for the stasher interface

[2018-08-29 08:37] marpio commented on #571
@fedepaol sorry for the late response.
I also think we should go with the third option. If performance will be a problem we can switch to option two or apply an optimization we already considered - writing to the storage and response at the same time.
Also, I think we don't have implement a whole new download protocol but just swap out the `module.Fetcher` in the existing one:
https://github.com/g

[2018-08-29 09:05] fedepaol commented on #571
Thanks @marpio for your opinion! I will try to collect all the pieces and start working.

[2018-08-29 10:50] marpio opened #584 "Proposal: Use WIP(Github App) to prevent merging WIP-PRs"
Use https://github.com/apps/wip to prevent merge of a WIP-PR in a automated fashion.

[2018-08-29 10:53] marpio commented on #581
Or maybe even better - https://goreleaser.com/ since it would create a binary for Windows, Linux and macOS, both amd64 and i386 architectures.

[2018-08-29 14:51] marwan-at-work commented on #571
@marpio If I understood you correctly, I don't think we can swap the Olympus with the GoGetFetcher because how else is the download.Protocol gonna get private modules? See my comment for a suggestion where we can have the Stasher be able to stash from an upstream (olympus) or local (goget)

[2018-08-29 15:41] marpio commented on #571
@marwan-at-work my idea was to make it possible to provide a `module.Fetcher` to the download protocol so we could pass the GoGetFetcher to fetch private modules and let say OlympusFetcher for public mods.

[2018-08-29 15:50] fedepaol commented on #571
The download protocol would need to know if the module is public / private and have both the fetchers / stasher + fetcher .
@marwan-at-work you mentioned redirect but given that we fetch from olympus it's not needed, right?

[2018-08-29 20:37] robjloranger commented on #583
This is a duplicate of #442 but I will close it in favor of this one.

[2018-08-29 21:41] marpio commented on #571
@fedepaol i don't intend to put both `module.Fetcher`s into the same protocol. More like letting the caller of `goget.New` (where goget wouldn't be the right name anymore) pass an appropriate one. So something like this:
`func New(mf module.Fetcher) (download.Protocol, error)`
so we can do
`gogetProtocol := New(module.NewGoGetFetcher(goBin, fs))`
and
`olympusProtocol := New(module.NewOlympusFetche

[2018-08-29 22:12] robjloranger commented on #1
closed via #387

[2018-08-29 22:12] #1 closed

[2018-08-30 00:21] ajstarks opened #587 "proxy: support authenticated proxies"
Note that this issue is probably related to #310, some environments have all outside Internet access mediated by an NTLM authenticated proxy.  Athens should support this use-case

[2018-08-30 07:01] michalpristas commented on #80
I think this hosts, athens only. Issue want both to be online

[2018-08-30 07:08] michalpristas commented on #571
I would like to avoid using go to download bits from Olympus (in proxy). It is not an effective way to download modules. If we could use API of each VCS we would.

We have both of them under control, Olympus provides a deterministic API, we can parallelize downloads of 3 pieces, without any additional go magic. Let's treat it as a network disk, which it is.
We can treat zip as a stream and pipe to

[2018-08-30 08:18] sauvaget commented on #317
If not, I would give it a go

[2018-08-30 09:19] vagruchi commented on #317
Sorry. I unexpectedly busy.
@sauvaget feel free to take it.

[2018-08-30 10:00] marpio commented on #571
I agree :100: percent with you @michalpristas  - we shouldn't use `go` to download bits from Olympus. This is also not what I had in mind.
If you look at https://github.com/gomods/athens/blob/master/pkg/download/goget/goget.go the only place where it interacts with go binary is here:
https://github.com/gomods/athens/blob/e2cd124816b1075e558d095a7779863552397866/pkg/download/goget/goget.go#L150-L15

[2018-08-30 10:13] michalpristas commented on #571
ok i get it now, Olympus implementation of Ref interface.
This actually might work.
Ref says Read reads modules into memory, so this is a limitation and avoids using streams for saving Olympus -> DB. Which might not even work.
But as a first step, I think it good enough. olympusGoget passed into a filtering middleware which currently redirects to Olympus in case of Include.
But with stasher in pla

[2018-08-30 11:26] marpio commented on #571
The only thing that `Ref.Read()` loads into memory is `.mod` and `.info`. The `.zip` is passed as a stream from disk/olympus.
https://github.com/gomods/athens/blob/e2cd124816b1075e558d095a7779863552397866/pkg/module/disk_ref.go#L99-L107

[2018-08-30 12:20] marpio commented on #80
Btw could we use https://microsoftgoproxy.azurewebsites.net/ for our builds?

[2018-08-30 12:32] michalpristas commented on #80
@arschles

[2018-08-30 12:34] michalpristas commented on #571
Discussed on Slack.
We can pass resp.Body as a ver.Zip.
watch out for Close
as work is limited by memory it will not allow handling so many jobs that will exhaust sockets.
Once we improve on memory, we need to keep an eye on sockets.

[2018-08-30 16:37] arschles opened #590 "Go get returns 500 after the repository is deleted"
I created `github.com/arschles/throwaway1`, did a `go get` on it with `GOPROXY` set to `https://microsoftgoproxy.azurewebsites.net`, and then deleted the repository. The next `go get` returns this:

[code]

I think this violates immutable builds? What do folks think?

[2018-08-30 16:47] marpio commented on #590
Makes sense. We use go to get the list of versions. We should probably merge it with what we have in storage.

[2018-08-30 16:56] arschles commented on #590
@marpio which do you think we should check first - `go` or storage?

[2018-08-30 17:07] marpio commented on #590
Couldn't we just return a merger list from the /list endpoint?
So if storage gives us
Mod@v1.0.0
Mod@v1.0.1
Mod@v1.0.2
and go list gives us
Mod@v1.0.0
Mod@v1.0.2
Mod@v1.0.3
Then the proxy /list endpoint would return
Mod@v1.0.0
Mod@v1.0.1
Mod@v1.0.2
Mod@v1.0.3
What do you think @arschles ?

[2018-08-30 17:10] arschles commented on #590
I agree, that sounds good to me. If go list fails, would we just returns what storage gives?

[2018-08-30 17:28] marpio commented on #590
Yes, and if storage finds nothing we would just propagate the go error since the module doesn't exist (or possibly was deleted from VCS before proxy ever saw it)

[2018-08-30 17:30] arschles commented on #590
That sounds like a good plan to me. @marwan91 what do you think? I remember
you implemented that upstream go list logic?

On Thu, Aug 30, 2018 at 11:28 marpio <notifications@github.com> wrote:

[2018-08-30 17:32] robjloranger commented on #590
That should definitely not be happening, Olympus should have that stored.

[2018-08-30 17:39] marpio commented on #590
@robjloranger I think the proxy has it in it's storage but `go list -version` which we use under the hood checks only the VCS.

[2018-08-30 21:17] matthewbrahms opened #594 "IDEA/FEATURE: make port that athens binds to configurable for users"
During the Athens walkthrough at GopherCon, there were several people who already had `127.0.0.1:3000` in use by another program.  Could we perhaps make the port that it binds to natively configurable in some way?

[2018-08-30 21:18] matthewbrahms commented on #594
This might be done through docker by mapping the port to a different port on the localhost.  Just a thought.

[2018-08-30 21:36] arschles opened #595 "Make port configurable for the proxy"
It's configurable for olympus, and defaulted to `3001`, I feel like we should make it configurable for athens, and defaulted to `3000`

[2018-08-30 22:05] arschles opened #597 "Force HTTPS on the gomods site"
Right now, if you go to `http://docs.gomods.io`, it won't force you to HTTPS. See attached screenshot.

<img width="976" alt="screen shot 2018-08-30 at 4 04 36 pm" src="https://user-images.githubusercontent.com/70865/44881904-78ed5580-ac6e-11e8-8799-0dc5e4b55252.png">

[2018-08-30 22:37] Sjeanpierre commented on #597
Hi @arschles I submitted a PR for this issue which should correct the behavior described on the production URL using redirects.

When testing this solution on the staging site, it does not appear to work due to the static url value I have set for the redirect. Would you prefer we do a more global redirect which would solve this issue no matter what URL the docs site is running on?

[2018-08-30 22:51] arschles opened #601 "Proposal: add a walkthrough for running Athens from the docker image?"
We have a [walkthrough](http://docs.gomods.io/walkthrough/) that explains how to use go modules without the proxy, how to build the proxy, and how to run the proxy locally. We also have documentation on how to deploy a [shared team instance](http://docs.gomods.io/install/shared-team-instance/) that explains how to deploy Athens with docker.

I feel like it would be nice to have a walkthrough that

[2018-08-30 23:02] arschles opened #602 "Proposal: Move "participating in the athens community""
I noticed that [this page](http://docs.gomods.io/intro/community-roles/) has tips on how to get involved as well as the different community member definitions.

I was thinking that it would be nice to make the "tips on how to get involved" page be basically a welcome page with links to the slack, dev meeting doc, etc...  and then have another page with the community roles.

At the GopherSource wor

[2018-08-30 23:09] robjloranger commented on #597
closed via #600

[2018-08-30 23:09] #597 closed

[2018-08-31 01:18] manugupt1 commented on #595
@arschles What do you think about also creating a non-standard default port for the proxy and olympus as 3000 and 3001 are default for most web apps.

[2018-08-31 03:15] manugupt1 commented on #594
Same as #595

[2018-08-31 06:43] marpio commented on #590
I will like to work on that if that's fine with everyone.

[2018-08-31 07:35] tw1nk opened #606 "Proposal: Add module registry to proxy for non supported VCS"
Go only supports a small set of VCS (git, mercurial, svn...). A lot of companies (and individuals) use other VCS systems.

My proposal is to add an endpoint that uploads a new version to the proxy / registry so that it doesn't need to rely on an underlying VCS.

My idea is to add an endpoint that accept a zip file (the same that would be downloaded when you the get the version)

Proposed endpoint

[2018-08-31 09:05] michalpristas commented on #606
If you check very initial design docs: https://docs.google.com/document/d/1F0cVKxX7kEzxjrr09moqFzRQ7FoNc-Z2igfsEIkp7mc/edit?usp=sharing
You can see the third component named Sparta, this is basically it. Currently, this functionality is postponed and will be addressed with V2

[2018-08-31 16:13] robjloranger opened #609 "Docs: New to open source"
We should have a page with links to good posts and other information someone new to open source, or even just an infrequent contributor.

Like:
- using github
- using git
- using forks
- using remotes
- creating pull requests
- best practices re: working on github. i.e. commenting interest on an issue.

I'll take this one.

[2018-08-31 16:34] #442 closed

[2018-08-31 16:34] #583 closed

[2018-08-31 16:38] sahitpj commented on #130
May I work on this, If it hasn't been assigned yet?

[2018-08-31 17:02] robjloranger opened #610 "Add ATHENS_PORT configuration"
Currently, as of PR #596, we are allowing a custom port to be set via the environment variable `PORT`. @marwan-at-work is 88% positive that platforms like GAE will yell at us if we try to set a `PORT` variable other than the one assigned.

We should add a configuration option for something like `ATHENS_PORT`, which could default to `3000` and be overridden by this new environment variable.

We may

[2018-08-31 17:43] robjloranger commented on #397
I'm pretty sure this is fixed, between the buffalo script changes, temp directory fix and power shell scripts.

[2018-08-31 17:43] #397 closed

[2018-08-31 17:59] robjloranger commented on #130
Please do, let us know if you have questions.

[2018-08-31 20:44] marwan-at-work opened #612 "Park Olympus Until Designs Are Finalized"
I'm not sure what this issue would entail exactly, but the current Olympus directory is quite outdate and not being used at all. It also causes some builds to break when you do some refactoring for the Proxy.

Should we remove Olympus and rewrite it once the designs/paper is complete and ready for dev?

Or should we just update the CI/CD to ignore the `olympus` directory for now?

Or should we jus

[2018-08-31 20:59] robjloranger commented on #612
I'm n favor of parking for now. It seems we are using only the proxy at the moment, and in the design doc from Brian there is question of whether we even need Olympus.

ref: https://docs.google.com/document/d/1F0cVKxX7kEzxjrr09moqFzRQ7FoNc-Z2igfsEIkp7mc/edit?usp=sharing

[2018-08-31 22:03] marwan-at-work commented on #612
cc @arschles

[2018-08-31 23:59] kaxcode opened #613 "Wiki: Update broken link for registry"
**Describe the bug**
In the wiki there is a link to read more about registry.
https://github.com/gomods/athens/wiki/The-Central-Package-Registry-(Olympus)
This link is broken and should be updated to be https://docs.gomods.io/design/registry/

[2018-09-01 16:33] marpio commented on #613
Do we even need wiki now that we have https://docs.gomods.io ?
cc @arschles

[2018-09-01 16:43] marpio commented on #613
I have updated wiki for now but we should consider removing it since it's better to have the docs in one place.

[2018-09-01 16:43] #613 closed

[2018-09-01 16:45] marpio opened #617 "Drop Github wiki"
Now that we have https://docs.gomods.io we could drop wiki so that the docs are in one place.
What do folks think?

[2018-09-01 17:33] #466 closed

[2018-09-01 17:36] robjloranger commented on #617
Vote here to **REMOVE** the GitHub Wiki.

[2018-09-01 17:36] robjloranger commented on #617
Vote here to **KEEP** the GitHub Wiki.

[2018-09-01 23:39] #581 closed

[2018-09-02 00:16] robjloranger commented on #567
Here are some thoughts from slack, after we added auto generation of binaries with GoReleaser.

...
I also saw it supports using a custom release notes markdown file. I wonder if we should do releases as a PR, this would just be a release notes file and new tag. That way we can control the notes contents. As it is if we allow the automatic generation it will just build a log from commit messages.

[2018-09-02 02:10] robjloranger commented on #567
I have a PR open to use the draft option, #621

[2018-09-02 14:13] fedepaol commented on #530
Working on this one.

I tinkered a bit with cache credential helper. It's not possible to force it to have an infinite timeout.
The docs does not tell which is the max timeout but looking at the sources (https://github.com/git/git/blob/53f9a3e157dbbc901a02ac2c73346d375e24978c/credential-cache.c#L100)  it's an int, so it might vary between 2^31 and 2^63 depending on the compiler git was compiled wi

[2018-09-02 14:14] fedepaol commented on #571
Discussed on slack, leaving this open in order to focus the work on the proxy.

[2018-09-02 15:11] kaxcode commented on #601
Would this be a combination of the [shared team instance](https://docs.gomods.io/install/shared-team-instance/) and [walkthrough](https://docs.gomods.io/walkthrough/) documentation?

[2018-09-02 15:42] robjloranger commented on #601
I _think_ the shared team doc is already doing this. It never goes into how to deploy, that part is being worked on afaik.

I think once #81 is complete, we could use that image in the docs.

[2018-09-02 15:46] kaxcode commented on #601
I went through the shared team doc and it does go through how to use the proxy with Docker really well. Maybe renaming the shared team doc to ‘walkthrough with docker’ would help.

[2018-09-02 15:53] robjloranger commented on #601
I like that, and maybe we could keep the original title and create a short doc that outlines the series with links to each one. Starting with the Docker walkthrough.

[2018-09-02 16:08] robjloranger commented on #602
I think this is great, I was thinking along these lines in https://github.com/gomods/athens/pull/570#issuecomment-417901075. While trying to decide on a folder/menu structure.

If we are agreeable on moving the doc I'm happy to split out the tips section into a welcome page. Should it be the first page in the contributing section? Or somewhere closer to the homepage of the docs?

[2018-09-02 16:17] robjloranger opened #623 "docs: editing docs"
While editing the docs there are a few things that some contributors may miss. I propose adding a doc to the in progress contributing section, a document for maintainers outlining:

- how to generate en empty file in the docs, with hugo
- which template to use where
- what the front matter does and what to update when editing
- how to control menu order and hide pages

[2018-09-02 16:30] robjloranger commented on #617
I think we _could_ keep it, but just update the existing pages to state that the documentation has moved and link to the new page on the docs site. It's all very out of date.

[2018-09-02 21:09] fedepaol commented on #530
Updated the comment with the results of the discussion with @marpio

[2018-09-03 01:12] kaxcode commented on #601
I'm going through the shared team doc again. This doc still assumes the user has Go installed locally. Should this be changed to run everything on Docker? Is that doable?
I deleted Go from my computer to test this. I go this error when trying to run the `go run .` command on the walkthrough repo.
<img width="764" alt="screen shot 2018-09-02 at 9 10 58 pm" src="https://user-images.githubusercontent

[2018-09-03 06:38] #595 closed

[2018-09-03 07:04] marwan-at-work commented on #590
We're starting to hit a few of the downsides of using the go binary in the background: can we gracefully handle errors such as "repository deleted" vs "unexpected error". Meaning, if a repo is deleted, we should gracefully ignore that error. But if there's a true error of some kind, we should probably error out.

The go binary doesn't return structured errors, so we're gonna have to parse the text

[2018-09-03 07:45] komuw commented on #612
we could move olympus to a new repo under`https://github.com/gomods` until it's final fate is decided.

[2018-09-03 10:56] sahitpj opened #626 "Docs Inclusion : How to quit from the Athens Proxy"
**Is your feature request related to a problem? Please describe.**
Although the Docs gives a good explanation as to how the Athens proxy is to be run ( in the Walk-through ), it doesn't tell how to quit from it. A small yet important thing for new people trying it out

**Describe the solution you'd like**
Mention it in the docs, in the Walk Through section

[2018-09-03 13:49] sadlil commented on #146
@lcd1232 Is the RDBMS driver still open? Or I can try to create one? if yes, @robjloranger @arschles any concern using gorm to implement a generic driver? So caller needs to import the DB specific driver and pass as configurations? Or implementations needs to be specifics?

@arschles any other driver in mind? may be redis or else?

[2018-09-03 13:51] michalpristas commented on #146
@sadlil  or we let RDBMS go. and wont support that - perf

[2018-09-03 14:55] robjloranger commented on #567
I think it should stay open, the doc would be a general outline of how to increment tags and when. What to include and how to format the changelog. As well with the draft feature, a maintainer would push a tag first to generate the binaries and draft. Then edit the release doc. Maybe releases require two maintainers? One to approve.

[2018-09-03 14:55] robjloranger commented on #567
I could incorporate it into #570

[2018-09-03 15:00] robjloranger commented on #612
@komuw this would just be not working on Olympus until we set the design. No need to move the code.

[2018-09-03 15:07] robjloranger commented on #439
Can we close this with #444?

[2018-09-03 15:29] michalpristas commented on #439
@carolynvs

[2018-09-03 20:31] #308 closed

[2018-09-04 07:35] komuw commented on #612
if builds break because of code that you should not be maintaining(olympus), then you actually have to start maintaining that code.

[2018-09-04 20:03] arschles commented on #612
I saw up above in the thread that we could omit it from the build, and I'm cool with that. what do folks think about also adding something to the cmd/olympus README?

[2018-09-04 20:13] robjloranger commented on #612
I like it, just skip in the build for now and leave a note until we are ready to move forward on it.

[2018-09-04 23:41] fedepaol commented on #530
Dug a little more on secrets handling.
@marwan-at-work suggested to read a file (k8s way) or through vault.
While k8s provides them as a file (or env variables), azure, gcp, vault and aws provide them through rest calls (or via an sdk).
With @michalpristas we agreed that having the proxy binary serving as credential helper sacrifices readability, so the idea is having the git helper as a separate

[2018-09-05 09:04] marpio commented on #530
I think we could read the secret on each request. This would allow us to change the credentials without restarting the proxy (if daemon is the proxy). Maybe we could implement different secret providers (k8s, vault, gcp etc.) and choose one just by passing the flag to the binary.
'path/to/credential-helper -k8s/vault/gcp'

[2018-09-06 09:05] lcd1232 commented on #146
@sadlil yes you can do it

[2018-09-06 10:00] zkry opened #631 "500 Error: Temp directory not being created; source unable to be fetched"
I was trying to start up the proxy and use it to get a go source (following the tutorial on https://docs.gomods.io/) but I would always encounter the following error message (formated for e:

<pre>
ERRO[0008] v1.0.0.mod not found in /var/folders/lk/jcz905h51p128q0xwk2z4_zh0000gn/T/athens240694464/pkg/mod/cache/download/github.com/athens-artifacts/samplelib/@v
http-method=GET
http-path=/github.com/

[2018-09-06 18:17] marwan-at-work commented on #420
@kaxcode feel free to give this a shot. Feel free to ping me here or on slack :)

[2018-09-06 19:03] arschles commented on #601
Closing in favor of #420

[2018-09-06 19:03] #601 closed

[2018-09-06 20:49] marpio opened #632 "Switch to go build -mod=vendor instead of buffalo dev in test_e2e.sh"
**Describe the bug**
At the moment we use 'buffalo dev' in the `test_e2e.sh` script to start the proxy. Since `buffalo dev` downloads the packages on the fly we're having problems each time a tag is force pushed or disappears.

**Error Message**
[code]

We should use `go build -mod=vendor` instead so that we use the pkgs from the vendor directory.

[2018-09-06 21:19] gcstang opened #633 "Minimize Docker Image footprint"
**Describe the bug**
Currently the Docker image for gomods/proxy is over 1GB in size and although the image is based on the full 1.11 Go distribution it could be minimized by utilizing the Alpine version instead.

**Expected behavior**
Smaller docker image

**Environment (please complete the following information):**
 - Go version : 1.11
 - proxy version : latest image id: 027e580061f7

[2018-09-06 21:36] penDerGraft commented on #632
@marpio I'd be up for tackling this one if no one else was planning on it. Is [this the line in question?](https://github.com/gomods/athens/blob/ea96158f8fb13e43b8cce6952dc95d312dd2a399/scripts/test_e2e.sh#L28)

[2018-09-06 22:01] robjloranger commented on #632
@penDerGraft Your welcome to it and you've got the right place in the script. :+1:

[2018-09-06 22:07] penDerGraft commented on #632
Thanks @robjloranger 👍 Anything else that is affected by this change that I should look out for?

[2018-09-06 22:50] penDerGraft opened #634 "Update docs to specify that "make alldeps" does not start Athens or Olympus"
_From conversation with @arschles on the Athens slack channel_

In my initial read through of `DEVELOPMENT.md` it wasn't super clear to me that `make alldeps` didn't start Athens and Olympus as well. I'm sure this was obvious to most people, but maybe towards the tail end of the "Services that Athens Needs" section something like, "note that this does not start up Athens or Olympus, just their dep

[2018-09-07 06:51] #632 closed

[2018-09-07 13:43] elvizlai opened #637 "could not find assets/application.852998aa3b53a0897008.css"
**Describe the bug**
docker run

**Error Message**
[code]

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment (please complete the following information):**
 - OS: [e.g. Linux 64bit]
 - Go version :
 - Buffalo Version :
 - Olympus or proxy version :

**Additional context**
Add any other context abo

[2018-09-07 16:31] robjloranger commented on #637
@elvizlai Thanks for the bug report.

Is this for the proxy or olympus?

In both cases this is a known issue, there is no front end for either the proxy or olympus at this time. So no assets are present.

It would be great to somehow disable the application from trying to find them, perhaps we missed something during the removal? Are you interested in trying to take that on?

Small note: in the fu

[2018-09-07 20:11] robbert229 opened #638 "PORT env is actually for setting the address"
**Describe the bug**
The *PORT* environment variable is not used to set the port, but the address. This seems unintuitive and might throw new users and new developers for a loop.

**Error Message**

<pre>
[code]
</pre>

**To Reproduce**

A user wants to run athens on port 8080 so the could potentially run the following...
[code]

**Expected behavior**

I would exect that the port environment varia

[2018-09-07 21:59] robjloranger commented on #638
This is a somewhat related to #610, but you are correct that we should be using something like `ATHENS_ADDR` _if_ we intend to keep allowing full address assignment.

However, I'm wondering in what situation we would want to set the running application's address to anything other than localhost. I'm not super familiar with that part of running applications so am not sure if it is ever needed.

If

[2018-09-07 22:09] robbert229 commented on #638
I think that listening on a non localhost address is a big deal for the
enterprise. I think a big use case of athens is hosting a single proxy
inside the enterprise and having developers use that single one. That's a
major use case for me at least.

On Fri, Sep 7, 2018, 2:59 PM Rob j Loranger <notifications@github.com>
wrote:

[2018-09-07 22:30] robjloranger commented on #638
I'd love to hear about how that even works, maybe in slack sometime? :grinning:

So then, maybe let's go with changing the variable name to `ATHENS_ADDR` or similar. And document that for localhost we can just set a port prefixed with `:` otherwise the full ip/port can be set. Using our config package we can default to something typical like `:3000` when the variable is not set.

[2018-09-08 00:04] elvizlai commented on #637
the proxy report this err log.
it looks like when packing go bin using `github.com/gobuffalo/packr` missing the generated css.

[2018-09-08 21:01] marpio commented on #518
@mydiemho are you working on this?

[2018-09-10 07:06] pigghost opened #640 "private gitlab project support"
We have many common modules in our private gitlab repository, and this gitlab webiste **only support http, not https**.

How can I use athens to proxy this gitlab repo?

[2018-09-10 07:34] mydiemho commented on #518
@marpio sorry I got busy and won't have time to work on this right now

[2018-09-10 07:57] marpio commented on #518
No worries @mydiemho ! thanks for the info.

[2018-09-10 07:58] marpio commented on #518
I will take this one.

[2018-09-10 21:16] #626 closed

[2018-09-11 17:31] #392 closed

[2018-09-11 17:31] #174 closed

[2018-09-11 17:41] arschles commented on #526
@manugupt1 was this done as part of https://github.com/gomods/athens/pull/604?

[2018-09-11 17:43] arschles commented on #640
@pigghost does a `go get my.internal.gitlab.repo`? work, without the athens proxy?

[2018-09-11 17:47] arschles commented on #350
@marwan-at-work we've talked about redirecting in other ways than the meta tag (https://github.com/gomods/athens/issues/474). do you think it's appropriate to close this?

[2018-09-11 17:49] arschles commented on #545
I'll take this one

[2018-09-11 17:57] arschles opened #641 "Proposal: create a proposal issue type"
**Is your feature request related to a problem? Please describe.**

I wanted to create an issue to propose a feature, but when I clicked "new issue", GH gave me the choice to create a new bug or feature request. It also gave me the option to open a new regular issue. I would love if we could have a proposal issue type

**Describe the solution you'd like**

When I click "new issue", I would like to

[2018-09-11 18:01] arschles commented on #537
@fedepaol would you be interested in creating a small PR that propagates `log.Entry` down to one middleware function, so that we can get started on it and other folks can pick up other middlewares/handlers afterward?

[2018-09-11 19:19] marwan-at-work commented on #350
yes, closing.

[2018-09-11 19:19] #350 closed

[2018-09-11 19:51] marwan-at-work commented on #526
This is a follow up to 604. I can work on it.

[2018-09-11 19:55] robjloranger commented on #641
I think it's a great idea.

[2018-09-11 19:58] arschles commented on #590
@marwan-at-work do you think it's time we ask for structured output from the Go CLI?

[2018-09-11 20:45] manugupt1 opened #642 "Tracing exporter for Stackdriver"
**Is your feature request related to a problem? Please describe.**
Currently, our observability stacks supports jaeger as the only UI. It would be nice to have the same for stackdriver as well as @marwan-at-work is using it at NYtimes

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

https://opencensus.io/guides/exporters/supported-exporters/go/stac

[2018-09-11 20:47] manugupt1 opened #643 "Spans should also have response status"
Currently when we trace a span, there are spans that return an http response. It will be nice to store the HTTP status code in the span as well.

Proxy
Opencensus
observ package

[2018-09-11 21:10] manugupt1 opened #644 "Observability - Try implementing ochttp plugin"
**Is your feature request related to a problem? Please describe.**
Ochttp plugin is a plugin from OpenCensus that traces http requests. It also comes with a set of metrics that we can directly use to capture.

**Describe the solution you'd like**
Try out ochttp from
1. https://godoc.org/go.opencensus.io/plugin/ochttp
2. See if the metrics are logged in or not.

**Describe alternatives you've consi

[2018-09-11 22:04] #190 closed

[2018-09-11 22:04] #261 closed

[2018-09-11 22:04] #284 closed

[2018-09-11 22:50] marwan-at-work commented on #489
@manugupt1 per @marpio 's comment as well as @michalpristas. This is on hold until we release beta and probably v1 as well.

[2018-09-11 23:49] arschles opened #646 "The master build seems to be failing"
**Describe the bug**

Travis CI builds for the master branch seem to be failing. Here is a recent failure: https://travis-ci.org/gomods/athens/builds/427422588?utm_source=email&utm_medium=notification

They aren't failing on PR builds, though.
**Error Message**

[code]

This log output is [here](https://travis-ci.org/gomods/athens/builds/427422588#L1390-L1394)

**To Reproduce**

Run tests on the m

[2018-09-12 00:15] arschles commented on #489
oops, sorry I suggested this @manugupt1! I forgot that we were holding off on this until go-cloud becomes more stable. ping me on slack if you want more help finding a good issue to work on

[2018-09-12 00:40] manugupt1 commented on #324
@arschles @marpio This issue was fixed with #604

[2018-09-12 03:37] pigghost commented on #640
@arschles  ```go get my.internal.gitlab.repo``` doesn't work, must add the "**-insecure**" option, like
```go get -insecure my.internal.gitlab.repo```. because the repo only support "http"

[2018-09-12 06:10] marwan-at-work commented on #590
@arschles yes that'd be nice.

[2018-09-12 06:17] #324 closed

[2018-09-12 07:27] komuw commented on #379
@arschles yes it is.

closed by; https://github.com/gomods/athens/pull/563

[2018-09-12 07:27] #379 closed

[2018-09-12 16:21] timraymond opened #651 "Visiting https://gomods.io produces a certificate warning"
When visiting https://gomods.io, users are presented with a certificate warning because a self-signed certificate for `bryankellar.com` is being served. Visiting the HTTP version at http://gomods.io yields the following error page from a cPanel instance:

<img width="1420" alt="default_web_site_page" src="https://user-images.githubusercontent.com/288061/45438550-73880600-b685-11e8-9d0e-186edbaa236

[2018-09-12 22:58] arschles commented on #530
@fedepaol talked about this a bunch on slack just now, and he agreed to let me submit my proposal here based on what we talked about, even thought it says a lot of what he already said (thanks @fedepaol!) Here it is:

1. First, I think we should only support files. To get this working, we could tell the user to configure a [git credential file store](https://git-scm.com/docs/git-credential-store)

[2018-09-13 02:22] davecheney opened #653 "testing flags leaking into cmd/proxy"
**Describe the bug**
[code]

**Expected behavior**

`testing` package flags should not appear in the final binary.

[2018-09-13 02:41] manugupt1 opened #654 "Specify a list of endpoints that should not be traced"
**Describe the bug**
Currently, there is no way to filter out specific endpoints to our traces in our middleware
It will be nice to have a way to filter those out

**Example**
`/healthz` endpoint is hit a lot of times and is definitely not useful for tracing functionality

[2018-09-13 03:03] robjloranger commented on #651
I'm very in favor of redirecting for now. Until we have a proper front end.

[2018-09-13 13:40] zkry opened #655 "First log message always "Starting application at http://127.0.0.1:3000" despite config"
**Describe the bug**
I was playing around with the configuration and changed the port of the proxy to 3002. Despite doing this I still got the "Starting application at http://127.0.0.1:3000" log message at the start. It turns out that no matter what the configuration is this message will always display. This occurs for both Olympus and proxy.

Looking into this further it appears to be because the

[2018-09-13 18:46] timraymond opened #656 "Add Athens to codetriage.com"
In support of helping triage open issues, we discussed adding Athens to [codetriage.com](https://www.codetriage.com) during the weekly development meeting on 9/13/18. This would involve submitting the project to codetriage.com, and updating related onboarding documentation to direct newcomers to sign up on CodeTriage to receive issues (if they want to).

They also have a fun button for the README

[2018-09-13 18:48] michalpristas commented on #503
Closing a vote in favor of code removal

[2018-09-13 18:48] #503 closed

[2018-09-13 18:51] michalpristas opened #657 "Remove pkg/cdn"
Based on a discussion here: #503

The goal of this issue is to have package `pkg/cdn` removed.

[2018-09-13 19:24] arschles opened #658 "Add a Code of Conduct file and PR templates"
We have a CoC, but it's written down in [the README](https://github.com/gomods/athens#code-of-conduct), so we should split it out into a new file

PR templates are helpful too, and show up in the community profile (below)

![screen shot 2018-09-13 at 12 23 08 pm](https://user-images.githubusercontent.com/70865/45510743-fd9ca100-b74f-11e8-95e3-ed924d47a1b6.png)

[2018-09-13 19:54] fedepaol commented on #530
Agree with all the line.
@arschles should I mess with the docs in order to document the process of configuring a credential store mapped as a secret?

[2018-09-13 20:44] fedepaol commented on #530
Update from my experiments:

- it's possible to feed the store with a handcrafted store file. The file has a line for each remote, with the following format: `https://fedepaol:password@bitbucket.org`
- we need to be careful, because the get is **blocking** if it requires authentication, *but* if we set `GIT_TERMINAL_PROMPT=0` the get will fail instead of asking for credentials. In case of privare

[2018-09-13 21:04] #518 closed

[2018-09-13 21:12] #590 closed

[2018-09-13 21:37] arschles opened #659 "Proposal: weekly triagers"
We discussed the idea of a weekly triager today at the [weekly development meeting](https://docs.google.com/document/d/1xpvgmR1Fq4iy1j975Tb4H_XjeXUQUOAvn0FximUzvIk/edit#heading=h.fpi0tmejbo0p).

The rough idea is that one [maintainer](https://github.com/orgs/gomods/teams/maintainers/members) will be the primary person to help make sure that issues and PRs keep "moving" during the week that they ar

[2018-09-13 21:47] manugupt1 commented on #640
While I have not checked all the details, I think there are some things that we can do

A) Do nothing for unsecure private repositories.
B) Add an env var that says `ALLOW_INSECURE` and adds that to the go commands inside our code base
C) Add a parameter proxy `--allow-insecure` which essentially does the same as B)
D) The last one is by default append `GOFLAGS` to all our commands. So for example

[2018-09-13 22:13] arschles commented on #640
My vote is for combining (b) and (c) since they have the same effect. I think our new configuration system allows us to use environment vars and flags at the same time (is that right @rchakra3?), so we could use that?

[2018-09-13 22:37] arschles opened #660 "Add description to CONTRIBUTING.md for how to claim an issue"
**Is your feature request related to a problem? Please describe.**

Nope 😄

**Describe the solution you'd like**

Right now, we all claim issues by writing "I'd like to take this" in a comment on the issue we want. That means that we're going to start working on it. I think we should write that in the CONTRIBUTING.md file, so that people all know what to do without needing to ask how to do it.

**

[2018-09-13 22:40] manugupt1 commented on #640
(Oh I would like to take this up!)

[2018-09-13 23:44] arschles commented on #656
I'll take this one!

[2018-09-13 23:51] arschles commented on #651
I'm also in favor. @robjloranger I remember you said on slack you might be able to take this on. are you still planning to?

[2018-09-13 23:57] arschles commented on #655
@zkry I think that the best thing is to use the "Host" buffalo option, and change the "Port" option to not have the `:` prefix.

@rchakra3 you did almost all of this config work, what do you think?

[2018-09-14 00:02] arschles commented on #659
Here is some prior art for issue triaging, from which I stole almost all of these ideas: https://gist.github.com/technosophos/c269362e154540b4bfc3bb2ac210df41#issue-triaging

[2018-09-14 01:55] rchakra3 commented on #655
@arschles I agree that seems the best way to do it!

[2018-09-14 02:16] rchakra3 commented on #640
There's no flag -> config parsing at the moment. You can either specify a value in the config file or add an environment variable.
(B) with an additional value in the configuration would be consistent with our current config system.

Regardless of what we choose I think it's important to call out the default behavior users would see with GOFLAGS set. If I understand it right, setting `GOFLAGS=-ins

[2018-09-14 02:42] manugupt1 commented on #640
@rchakra3 Yep!

I have been thinking of a reason not to do `GOFLAGS` as I really liked the idea of let users add a `GOFLAGS=-insecure` and we can call it done 💃.

This is the scenario where I like adding a config option or a flag. If the user has a single EC2 instance and they use the same environment to build it and run then by default all their commands would look like this

[code]

Another opti

[2018-09-14 03:34] timraymond commented on #587
I did a little research here since I had never heard of NTLM before :) The exchange that needs to happen between `go`, the proxy, and the outside world needs to look like this in an NTLM-authenticated world:

![ic871898](https://user-images.githubusercontent.com/288061/45527739-39188900-b7ab-11e8-8633-010e5830fc67.png)

I pulled the above from [MSDN](https://msdn.microsoft.com/en-us/library/dd9252

[2018-09-14 04:17] penDerGraft commented on #646
Noticed a couple of things looking at this locally.

1. The `make setup-dev-env` command modifies `go.mod` and `go.sum`, by adding golint and its indirect deps (assuming that's because of [this line here](https://github.com/gomods/athens/blob/master/scripts/get_dev_tools.sh#L7)? )
2. The builds started failing after the removal of the dep files [here](https://travis-ci.org/gomods/athens/builds/423

[2018-09-14 13:39] carolynvs opened #664 "Vote: Renaming the project"
Suggestion: **Rename the project to something that most go developers would at least recognize as being a) related to go and b) solving a problem (such as dependency mgmt, proxies, modules, etc).**

I'm going to reply to this issue with suggestions that people can vote on using 👍 or 👎 . Feel free to contribute your own suggestions, but please it would really help if you formulated your replies in

[2018-09-14 13:40] carolynvs commented on #664
Project Name: Gomods
Sub-project Names:
* Gomods Proxy
* Gomods Registry
* Gomods (whatever else we may come up with)

[2018-09-14 13:42] carolynvs commented on #664
Project Name: Gomods
Sub-project Names:
* Gopher Proxy
* Gopher Registry

[2018-09-14 13:43] carolynvs commented on #664
Project Name: GopherPacks
Sub-project Names:
* GopherPacks Proxy
* GopherPacks Registry

[2018-09-14 13:45] carolynvs commented on #664
ProjectName: GoMods
Sub-project Names:
* GoProxy
* GoRegistry

[2018-09-14 15:27] ajstarks commented on #587
Yes, I know about cntlm but I have never used it. By the way, curl lets you do this:

[code]

The ideal case is for Athena to support this internally without other tools, of course

[2018-09-14 16:55] marwan-at-work commented on #664
I think we should wait on renaming anything until we figure out what to do with Olympus on a technical and a architectural level.

For example, if Olympus/Proxy ended up getting merged into *one thing*: then we can just call the server itself Athens and that's. In other words if someone asks "what's Athens?" We'll have a simple answer: it's a GOPROXY implementation. There's only one server inside

[2018-09-14 17:48] arschles commented on #664
good point @marwan-at-work. here's my proposal:

1. We make olympus a "registry" and call it the "gomods registry". you'd publish to the registry with a CLI - `gomods publish 1.3.1` or similar (and it could support custom domains maybe?)
2. we keep the proxy as it is now and call it the "gomods proxy". we could (and already do) run proxies publically too, so that people can `go get github.com/my/p

[2018-09-14 17:51] marwan-at-work commented on #664
@arschles a much easier solution is to just have the registry be the only public one and wait on Go1.12 to fix this issue: https://github.com/golang/go/issues/26334

[2018-09-14 20:03] #651 closed

[2018-09-14 21:02] manugupt1 commented on #640
@marpio Yes! You are correct! The only thing is that the user is making a decision about marking it as insecure, so I think since a proxy is meant to be in an enterprise setting it does not matter much. It is not ideal though.

I like `GIT_ALLOW_PROTOCOL` the best
This allows users to specify a list of a protocol that will not have an insecure option and everything else is marked with an `-insecur

[2018-09-14 22:09] marwan-at-work commented on #664
I'd love to suggest that our names should be unique in that it won't be confused with other Go Proxies that the open source community is building. For example: `gomods` and `goproxy` are easily confused and there's already a a [goproxy.io](https://github.com/goproxyio/goproxy) -- so I suggest that we shouldn't be `gomods`.

For example, GopherPacks sounds the best so far. But other people might bu

[2018-09-15 03:15] scriptonist commented on #657
I would love to work on this :smiley:

[2018-09-15 07:29] michalpristas commented on #657
Go ahead @scriptonist, it's all yours

[2018-09-15 22:17] fedepaol commented on #530
Just another quick question: we currently pass a .netrc file which is not in the home to the proxy that copies it into the home (https://github.com/gomods/athens/blob/master/cmd/proxy/actions/app.go#L59).

Shouldn't the user be in charge of this? Wouldn't have been easier for the user to place it directly inside the home instead of passing another parameter to athens?
With the store helper, does i

[2018-09-16 21:10] marwan-at-work commented on #530
@fedepaol no, if you mount .netrc directly into the home, all the sibling files in that directory get removed (if you're on K8S). So we have to have it in a temp fs then copy it onto disk.

Once we have the in-mem option figured out, we'll see whether it's good enough to remove the .netrc option for the next couple of months we should definitely keep .netrc.

[2018-09-17 05:07] zkry commented on #653
I'd like to work on this one.

[2018-09-17 07:02] #656 closed

[2018-09-17 07:06] fedepaol commented on #530
@marwan-at-work thanks for the explanation!
Re: in-mem, the idea was not to keep the secret in memory but reading it every time from the mounted secret, since keeping it in memory would need a long running daemon serving a custom made git credential helper. Does this make sense to you?

[2018-09-17 12:36] marpio commented on #640
@manugupt1
These are the default secure protocols
https://github.com/golang/go/blob/930ce09ca3a1ab5f886c2327fc143b9ae075807b/src/cmd/go/internal/get/vcs.go#L47-L53
`GIT_ALLOW_PROTOCOL` can be used but it's specific to git
https://github.com/golang/go/blob/930ce09ca3a1ab5f886c2327fc143b9ae075807b/src/cmd/go/internal/get/vcs.go#L64-L80
I think we should have a generic solution for all VCS supported

[2018-09-17 17:00] marwan-at-work commented on #530
@fedepaol will that be any more secure than .netrc?

[2018-09-17 18:44] marpio commented on #111
Can we close this @michalpristas ?

[2018-09-17 18:57] michalpristas commented on #111
yes, thanks @marpio

[2018-09-17 18:57] #111 closed

[2018-09-17 19:08] #317 closed

[2018-09-17 21:45] manugupt1 commented on #640
I am not sure about config / env var anymore for the following reasons

 ### If you do a  `go get my.internal.gitlab.repo`, it does not really say which protocol it is. I have yet to look at our code to think if we really parse it our not but afaik (this managed by vcs.go), we run
`go get`
`go list` and so on.
### Having an ENV VAR may mean if a user introduces a new config, then they will have to

[2018-09-18 05:27] michalpristas commented on #147
yep this is a CDN which is getting removed

[2018-09-18 05:27] #147 closed

[2018-09-18 05:40] michalpristas commented on #640
I'm thinking about a second approach but with something like filtering, where you specify a filter of allowed insecure.
another thing is: do we want to store modules coming from unsecured locations?
VCS with self-signed certs or no cert at all: we don't have a circle of trust and yet we provide a mechanism to make them signed, verified and trusted. (for future releases)
I would go for no. @arschle

[2018-09-18 06:31] fedepaol commented on #530
@marwan-at-work not sure anymore :-(
The only advantage of not moving the secret from where k8s place it would be the fact that it is read every time and for this reason athens would not need to be restarted in order to change the credentials.
Apart from that, *if we are on k8s*, I don't think there would be much difference from a security point of view between the two approaches since I expect th

[2018-09-18 07:07] marpio commented on #640
Do we need to know the protocol? If had an list/filter with insecure sources and my.internal.gitlab.repo is on the list then we would apply the -insecure flag.

I'm not sure about that. If we just try the -insecure every time it would be possible for an an attacker to block secure ports (443 for HTTPS and 22 for git+ssh) and serve malicious packages via plain-text HTTP or git protocols.
Or another

[2018-09-18 07:11] marpio commented on #530
I think the difference would be that on k8s the file containing secrets would stay on tempfs (RAM-backed filesystem). If we could use the .netrc file from tempfs it wouldn't make much difference, I guess. Does .netrc file have to be in the home dir?

[2018-09-18 11:06] manugupt1 commented on #640
@marpio Perfect! Let me start with this now!

[2018-09-18 14:40] marwan-at-work commented on #655
This to me sounds like a Buffalo bug rather than an Athens one.

The Go convention (in the std lib and others) is that you provide the Port as colon-prefixed string and so you can do `http.ListenAndServe(":3000", nil)`.

So Buffalo should be able to handle this.

[2018-09-18 14:41] #660 closed

[2018-09-18 19:28] michalpristas commented on #125
closing, will reopen or create another one once we figure olympus out

[2018-09-18 19:28] #125 closed

[2018-09-19 01:54] scriptonist opened #671 "Minio Port conflict with vscode extensions server"
When we run `make alldeps` to do some `docker-compose` magic to bring up the services, Minio tries to bind to port `9000` which is being used by vscode for Its extension server. Which In turn will cause,
[code]
If we kill the process on port `9000 `
[code]
In vscode
![vscode](https://user-images.githubusercontent.com/8335904/45725853-5fd72500-bbda-11e8-99a2-40715205c7c8.png)

**Environment**
#####

[2018-09-19 04:11] timraymond commented on #540
@michalpristas Just to clarify—is this for olympus or proxy? Also, if it's for the proxy, did you mean allowing a custom CA for the module download API (where `GOPROXY` is pointed at) ? Or did you mean upstream of the proxy? (like internal vanity URLs maybe?)

[2018-09-19 06:36] #657 closed

[2018-09-19 06:41] michalpristas commented on #540
as we parked olympus let's focus on proxy.
the idea was born with PR allowing TLS for mongo #527
we use InsecureSkipVerify = true which is not really ideal way how to treat prod, i would start with this scenario

[2018-09-19 06:54] marwan-at-work commented on #646
Fixed by
https://github.com/gomods/athens/pull/679
https://github.com/gomods/athens/pull/678
https://github.com/gomods/athens/pull/676
https://github.com/gomods/athens/pull/675
https://github.com/gomods/athens/pull/674
https://github.com/gomods/athens/pull/635

[2018-09-19 06:54] #646 closed

[2018-09-19 07:15] marpio commented on #671
I will take this one

[2018-09-19 20:21] marwan-at-work commented on #642
I'd like to pick this up since I'm hoping to deploy this in the next few days.

[2018-09-19 23:56] #414 closed

[2018-09-20 03:30] marwan-at-work commented on #654
@manugupt1 OpenCensus v0.15.0 explicitly skips `/healthz` -- how were you getting them?

[2018-09-20 03:54] manugupt1 commented on #654
Did not realize that. I looked at ochttp plugin and they did it, so I thought it will be a good idea anyway.  I did not see on the trace though.

Cheers
Manu
________________________________
From: Marwan Sulaiman <notifications@github.com>
Sent: Wednesday, September 19, 2018 11:30:23 PM
To: gomods/athens
Cc: Manu Gupta; Mention
Subject: Re: [gomods/athens] Specify a list of endpoints that should n

[2018-09-20 05:44] marwan-at-work commented on #643
@manugupt1 can you explain more or point to documentation as to what this issue really is? Thanks!

[2018-09-20 06:29] michalpristas commented on #57
@arschles any progress here? can we consider deployment by @marstr and his team final and close this?
If so maybe the output could be blog post/docs what needs to be done to deploy Athens to ACI, any caveats...

[2018-09-20 06:30] michalpristas commented on #288
closing as we are parking olympus, we can re-open later if needed

[2018-09-20 06:30] #288 closed

[2018-09-20 11:48] manugupt1 commented on #643
@marwan-at-work Yes sure!
If you open the spans, you can find that the spans have a status field which is basically the trace status.

It would be nice to record the http status in the status field so that we can know what exactly happened in that span.

https://opencensus.io/quickstart/go/tracing/

[2018-09-20 14:08] marwan-at-work commented on #643
Got it, we need to wrap the http.ResponseWriter in this case which Buffalo doesn't make it very trivial because you have to wrap the entire Context.

[2018-09-20 14:33] manugupt1 commented on #643
Yep!

I think we should ask folks at opencensus on how they would do it. Ochttp does the same but it is not trivial to make it work with Buffalo again

Cheers
Manu
________________________________
From: Marwan Sulaiman <notifications@github.com>
Sent: Thursday, September 20, 2018 10:08:39 AM
To: gomods/athens
Cc: Manu Gupta; Mention
Subject: Re: [gomods/athens] Spans should also have response stat

[2018-09-20 14:59] #526 closed

[2018-09-20 16:41] marstr commented on #57
@joshgav for awareness.

We haven't looked into ACI in particular, but it shouldn't be much different from all of the other "run a Container in Azure" solutions.

[2018-09-20 17:16] pigghost commented on #640
As I know, ```go get``` and ```go download``` support '-insecure' flag, but ```go list``` seems not

[2018-09-20 18:14] carolynvs commented on #617
Closing this out as resolved. The wiki now points people to our new docs site.

[2018-09-20 18:14] #617 closed

[2018-09-20 19:31] #671 closed

[2018-09-21 20:45] #633 closed

[2018-09-21 21:08] marpio commented on #640
@pigghost the `go list` cmd should still work on a insecure repo though.
Could you try it out with your gitlab repository?
The proxy executes `go list -m -versions -json`

[2018-09-21 21:30] marpio commented on #408
@marwan-at-work @michalpristas  I was just looking at the tests and thought I'll revive this issue so we can close it eventually :-)
I think you're right on this one @marwan-at-work . Most of the time we just call the mock functions directly. There isn't much logic here (and if it's there it is encapsulated in here https://github.com/gomods/athens/blob/83281a80fb529fdf87cf6a790dffbe8c9a5b466d/pkg/

[2018-09-22 04:28] #643 closed

[2018-09-22 20:45] marpio commented on #640
@pigghost
Could you try the following?
Add this to your `$HOME/.gitconfig`
[code]
Then please create two files somewhere outside of GOPATH
`go.mod` with the content `module mod`
`mod.go` with the content `package mod`

and run:
`GO111MODULE=on go list -versions -m your.gitlab.repo@latest `
Note **-versions** and not -v

This is just a workaround. I think go should respect the -insecure flag in the

[2018-09-23 04:34] marwan-at-work commented on #408
Same idea here in my opinion -- testing a closed mock, is not really testing a closed gcp bucket.

[2018-09-24 02:55] scriptonist commented on #638
I can attempt to fix this :smiley:

[2018-09-24 05:40] michalpristas commented on #638
@robbert229 isn't container supposed to be paired with some public IP or sit behind a load balancer with ports correctly mapped? I can hardly imagine somebody will run Athens on bare metal, especially in enterprise

[2018-09-24 14:13] ofw opened #699 "Failing to go get package by revision"
When I try to `go get` a package by its revision number then I get 500 Internal Server Error.

[code]

**To Reproduce**
`GOPROXY=http://127.0.0.1:3000 go get github.com/pkg/errors@c059e472caf75dbe73903f6521a20abac245b17f`

**Expected behavior**
Installation of the specified version of `github.com/pkg/errors`

**Environment (please complete the following information):**
 - OS: mac os mojave 10.14

[2018-09-24 19:11] marpio commented on #699
I'll take this one

[2018-09-24 22:15] manugupt1 opened #700 "Making configuration files that are loaded on the server only readable to the user that it is hosted on"
**Is your feature request related to a problem? Please describe.**
We have a configuration file (like exclude/ include filter) stored as a conf file. Currently,  the permissions for the file are set by the user and the same set of permissions are carried over to Athens proxy. The result is if a user has 777 permissions on the file, the same will go on proxy making the proxy server vulnerable.

**D

[2018-09-24 22:16] manugupt1 commented on #700
Vote for 0400 pre-beta

[2018-09-24 22:16] manugupt1 commented on #700
Vote for 0400 post-beta

[2018-09-24 22:16] manugupt1 commented on #700
Vote for 0600 pre-beta

[2018-09-24 22:16] manugupt1 commented on #700
Vote for 0600 post-beta

[2018-09-24 22:16] manugupt1 commented on #700
Please leave comments and suggestions if you can suggest anything

[2018-09-25 00:31] manugupt1 commented on #640
@marpio @michalpristas
After looking at this issue: https://github.com/golang/go/issues/27332 and https://go-review.googlesource.com/c/135735/

Seems like `go mod download -insecure` is in the works, but has not been released yet, and may not be either.

A) Should we wait until then or should I work off the tip?
B) Finish up implementing the file reading pattern like include/exclude filter and the

[2018-09-25 00:57] manugupt1 commented on #637
@gomods/maintainers we can close this!

[2018-09-25 06:41] marpio commented on #637
Assets have been removed. Closing.

[2018-09-25 06:41] #637 closed

[2018-09-25 07:38] michalpristas commented on #640
i would go with A, without a download this feature is not that usable right?
correct me if i'm wrong

[2018-09-25 14:01] michalpristas commented on #9
@bketelsen ping pong

[2018-09-25 14:02] michalpristas commented on #78
@arschles can we close this?

[2018-09-25 14:02] michalpristas commented on #79
@arschles probably for closing as well

[2018-09-25 14:04] michalpristas commented on #80
@arschles can we consider this a dupl of #57

[2018-09-25 14:05] michalpristas commented on #83
closing, we're not using cdn storage anymore

[2018-09-25 14:05] #83 closed

[2018-09-25 14:07] michalpristas commented on #94
no hidden flag, sync downloading and singleflight in place => closing

[2018-09-25 14:07] #94 closed

[2018-09-25 14:13] michalpristas commented on #113
i think we can close as this is mostly related to cross Olympus consistency

[2018-09-25 14:15] michalpristas commented on #245
closing as CDN storage is not used

[2018-09-25 14:15] #245 closed

[2018-09-25 14:15] michalpristas commented on #325
closing: package removed

[2018-09-25 14:15] #325 closed

[2018-09-25 14:17] michalpristas commented on #315
@ryancox  can we close this as a dup of #10

[2018-09-25 17:01] ryancox commented on #315
Duplicate of #10

[2018-09-25 17:02] #315 closed

[2018-09-26 03:56] timraymond commented on #446
I'll give this a shot. As discussed in Slack on 9/21/18 (discussion began roughly [here](https://gophers.slack.com/archives/C9LRAQN8N/p1537535672000200)), we're going to try to do this with [opencensus.io](https://opencensus.io/), and more specifically, the [ochttp](https://godoc.org/go.opencensus.io/plugin/ochttp) plugin. There's some question as to how it can be integrated with Buffalo, which is

[2018-09-26 05:24] michalpristas opened #703 "Implement storage.Backend for Azure Blob storage"
**Is your feature request related to a problem? Please describe.**
Azure Blob Storage is missing implementation

**Describe the solution you'd like**
- Rename `azurecdn` to `azureblob`
- Implement storage.Backend interface (`Lister`, `Getter`, `Checker`, `Deleter`). `Saver` is already implemented
- Let `azure` storage join the fun in `/pkg/storage/storage_tests`

[2018-09-26 05:25] michalpristas opened #704 "Implement storage.Backend for S3 storage"
**Is your feature request related to a problem? Please describe.**
S3 is missing implementation

**Describe the solution you'd like**
- Implement storage.Backend interface (`Lister`, `Getter`, `Checker`, `Deleter`). `Saver` is already implemented
- Let `s3` storage join the fun in `/pkg/storage/storage_tests`

[2018-09-26 05:34] michalpristas commented on #703
For grab, preferring new contributors

[2018-09-26 19:56] marpio commented on #699
So the problem is that `go mod download` doesn't really work with commit hashes:
[code]
nothing gets downloaded.
What we could do is to run `go list -m`
[code]
to get the pseudo version determined by go (in this case v0.8.1-0.20161029093637-248dadf4e906) and then
[code]
The question is when and where should this be done? I was thinking about those 3 solutions:
 1. exec `go list`on every request to

[2018-09-27 10:21] michalpristas commented on #390
@robjloranger FAQ and WALKTHROUGH are done right. can we close

[2018-09-27 12:08] michalpristas commented on #699
i would go with option 2. have a middleware intercepting calls to all endpoints except list then it needs to check whether or not it is a commit hash, if it is, it translates and redirects to correct one?

[2018-09-27 13:09] manugupt1 commented on #699
I like 3rd the best because it is just `go mod download` that does not support hash commits. I like it because
A) It is easier to read the code
B) It does not introduce latency in other parts of the code.

[2018-09-27 13:52] fedepaol commented on #699
Middlewares would not work since they take the version from the path
(inside the buffalo context), so changing the version to be passed down
would be difficult.
We would need to do the translation (hash to pseudoversion) at least in the
handlers, where the version gets usable via `getModuleParams` or below (as
per case 3).

In any case, I would condition the extra work of go - listing only if the

[2018-09-27 13:57] michalpristas commented on #699
This is the reason I suggested returning redirect.
fetcher implementation sounds also good

[2018-09-27 15:11] fedepaol commented on #699
Sorry, I misinterpreted your proposal.
Redirect sound good as well then. It would be a single-purpose middleware
which does not sound that bad.

On Thu, Sep 27, 2018 at 3:57 PM Michal Pristas <notifications@github.com>
wrote:

--
--------
Federico

[2018-09-27 16:39] marwan-at-work commented on #699
Why not open this issue on the Go repository and make `mod download` work with plain commits? We can have a workaround until it's resolved upstream

[2018-09-27 21:35] gcstang opened #705 "Proxy home page image is huge"
**Describe the bug**
After starting the latest pull from the docker hub and going to the 3000 port on the container you're met with a HUGE image of "The Athens Project" so large you have to scroll to see more than one letter.

**Error Message**
buffalo: could not find assets/application.852998aa3b53a0897008.css

**To Reproduce**
Pull latest image from docker hub registry
Image ID: 027e580061f7

**

[2018-09-28 02:35] manugupt1 commented on #705
Can you review it on master? It may not be reproduced on Master and we may
not have updated the image which will be updated in the next version most
likely.

Cheers,

Manu Gupta

On Thu, Sep 27, 2018 at 5:35 PM Gil <notifications@github.com> wrote:

[2018-09-28 06:58] VineethReddy02 opened #706 "Athens for Outreachy and Google summer of code (GSOC) . I feel it's time for athens to participate in open source community driven programs. We need to check whether only OS organisations or projects like athens can participate ?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2018-09-28 13:54] #545 closed

[2018-09-28 14:54] gcstang commented on #705
I don't see any image on master.

[2018-09-28 16:29] arschles commented on #706
@manugupt1 would you be willing to investigate Google Summer of Code?

[2018-09-28 16:29] arschles commented on #706
I will check out Outreachy. Looks like the deadline for submitting a project there is 10/2/2018 (according to [here](https://www.outreachy.org/communities/cfp/))

[2018-09-28 16:31] manugupt1 commented on #706
@arschles Sure! will update you

[2018-09-28 18:02] manugupt1 commented on #705
Yep! So, we are removing the landing page in the next version. We will
revisit the landing page in the future to show which modules are stored in
the proxy.

Cheers,

Manu Gupta

On Fri, Sep 28, 2018 at 10:54 AM Gil <notifications@github.com> wrote:

[2018-09-28 18:29] #562 closed

[2018-09-29 14:54] scriptonist commented on #703
@michalpristas Can I take this up?

[2018-09-29 15:08] michalpristas commented on #703
Yes, of course, @scriptonist if you have question shoot it here ;-)

[2018-09-29 16:44] adelowo commented on #704
Would look to work on this....

[2018-09-29 17:16] michalpristas commented on #704
Go ahead @adelowo
Thanks

[2018-09-29 17:26] #653 closed, assigned to nobody

[2018-09-29 21:29] roy-michael commented on #130
@sahitpj are you still working on it?

[2018-09-30 00:34] brainsnail commented on #658
I'd like to work on these two items, if that's alright.

[2018-09-30 19:47] aman12592 commented on #704
@michalpristas I would like to contribute to the project. Any points on getting started would be great help.

[2018-09-30 19:48] marpio commented on #699
I'll go with the middleware since it will be easier to remove once https://github.com/golang/go/issues/27947 is fixed. Also the 3rd option would require passing the pseudo version from the go_get_fetcher/stasher, all the way up to the download protocol (to get it from the storage) which would make the code less readable.

[2018-09-30 19:51] fedepaol commented on #699
Agree.
Can I work on this?

Il dom 30 set 2018, 21:48 marpio <notifications@github.com> ha scritto:

[2018-09-30 19:59] marwan-at-work commented on #699
@marpio @fedepaol curious what you think about potential option no. 4 above? Also what's the impact of this bug?

[2018-10-01 07:06] michalpristas commented on #704
Hey @aman12592
feel free to join us at [gophers slack channel 'Athens'](http://gophers.slack.com/)
You should also go through [documentation](https://docs.gomods.io). Then we have a bunch of issues for grabbing marked as `good-first-issue` or `hacktoberfest`.  You can pick any of these by saying `i would like to work on this`
Try to setup athens locally, if docs are missing something or are not cl

[2018-10-01 16:31] gcstang opened #711 "Missing netrc documentation when utilizing private repositories."
**Describe the bug**
Missing documentation for netrc when utilizing private repositories.

**Environment (please complete the following information):**
 - Olympus or proxy version : latest

[2018-10-01 17:34] arschles opened #713 "Can we get the Microsoft t-shirt from Hacktoberfest?"
**Is your feature request related to a problem? Please describe.**

Hacktoberfest is described [here](https://hacktoberfest.digitalocean.com/). The TL;DR is that if you submit 5+ PRs between 10/1 and 10/31 (that you actually authored), then Digital Ocean will ship you a rad shirt. Microsoft is also [sponsoring](https://open.microsoft.com/2018/09/30/join-hacktoberfest-2018-celebration-microsoft/).

[2018-10-01 17:35] arschles commented on #713
I'll take this one

[2018-10-01 18:58] #655 closed

[2018-10-01 19:27] marpio commented on #705
Can we close this @gcstang ?

[2018-10-01 19:32] marpio opened #714 "Tracing exporter for Datadog"
**Is your feature request related to a problem? Please describe.**
Similar to #642 we could add support for Datadog

**Describe the solution you'd like**
It should be possible to export traces to Datadog.
https://opencensus.io/guides/exporters/supported-exporters/go/datadog/

[2018-10-01 21:16] bhaveshpraveen commented on #714
Hey, I'd like to work on this.

[2018-10-01 21:39] manugupt1 commented on #714
Awesome! Feel free to shoot questions to me

Cheers
Manu
________________________________
From: Bhavesh Praveen <notifications@github.com>
Sent: Monday, October 1, 2018 5:16:06 PM
To: gomods/athens
Cc: Subscribed
Subject: Re: [gomods/athens] Tracing exporter for Datadog (#714)

Hey, I'd like to work on this.

—
You are receiving this because you are subscribed to this thread.
Reply to this email d

[2018-10-01 23:51] gcstang commented on #705
@marpio yes this is ok in master

[2018-10-02 06:11] #705 closed

[2018-10-02 08:31] nclandrei commented on #138
Hi there, guys! I really want to start contributing to Athens so I thought this PR was a good start.

I see the PR suggested by @fedepaol hasn’t been merged yet. Is this still available? Can I start working on a PR for it? 😁

[2018-10-02 09:05] fedepaol opened #715 "Helm install broken"
**Describe the bug**
Can't install athens with helm following the instructions on the docs

**Error Message**
helm install ./charts/proxy -n athens
Error: render error in "athens-proxy/templates/deployment.yaml": template: athens-proxy/templates/deployment.yaml:36:28: executing "athens-proxy/templates/deployment.yaml" at <.Values.redis.addres...>: can't evaluate field address in type interface {}

[2018-10-02 09:06] marpio opened #716 "Support .hgrc files to access private Mercurial repos"
**Is your feature request related to a problem? Please describe.**
Authorize proxy to access a private Mercurial repo.

**Describe the solution you'd like**
Proxy supports .netrc file to access a private repo.
Mercurial has its own RC file - `.hgrc` - which can be used to store credentials.
We should add support for that similar to `.netrc`

Ref: https://github.com/gomods/athens/pull/528

[2018-10-02 09:48] nclandrei commented on #138
Awesome, thanks! :) Awaiting reply then!

[2018-10-02 09:58] fedepaol commented on #138
Sorry for not being helpful !

[2018-10-02 10:32] t-tomalak commented on #716
I would like to work on this :slightly_smiling_face:

[2018-10-02 10:40] nclandrei commented on #138
No problem at all, @fedepaol! 🙂

[2018-10-02 15:35] fedepaol commented on #715
Close with merge of https://github.com/gomods/athens/pull/717

[2018-10-02 15:35] #715 closed

[2018-10-02 15:35] arschles commented on #715
Looks like this is working now, according to @fedeapol

[2018-10-02 17:31] scriptonist commented on #703
I was wondering why we are using `github.com/Azure/azure-storage-blob-go` instead of `https://godoc.org/github.com/Azure/azure-sdk-for-go/storage`

[2018-10-02 18:02] michalpristas commented on #703
@scriptonist
if you go to: https://github.com/Azure/azure-sdk-for-go/tree/master/storage
you can find information saying that: This package is in maintenance only and will be deprecated in the future

[2018-10-02 18:04] scriptonist commented on #703
@michalpristas Thank you, I didn't catch that.

[2018-10-03 04:40] fedepaol opened #721 "Make it possible to use .netrc file with helm deploys"
**Is your feature request related to a problem? Please describe.**
Currently the helm chart does not allow to use .netrc file in order to access private repos

**Describe the solution you'd like**
Have the .netrc file provided as a secret and passed as argument to athens.

[2018-10-03 16:04] penDerGraft commented on #634
Hey @nclandrei, it looks like @AdinaBudriga already had a PR open for this one, and it just got merged. I'm sure there's another issue sitting out there with your name on it though!

[2018-10-03 16:05] penDerGraft commented on #634
Closed by #708

[2018-10-03 16:05] #634 closed

[2018-10-03 17:48] arschles commented on #713
I just followed up with some folks at Microsoft. They're not going to be sponsoring GitHub projects outside of the Microsoft related GitHub organizations (`/Microsoft`, `/Azure` and so on) this year.

The DigitalOcean shirts are still available though 😄

[2018-10-03 17:48] #713 closed

[2018-10-03 18:13] #716 closed

[2018-10-03 18:21] arschles commented on #706
I wasn't able to get us into Outreachy this year. Sorry for this folks.

@manugupt1 did you have any luck with GSoC?

[2018-10-03 19:50] arschles opened #725 "Requirements for Beta?"
We have had discussions about basic requirements for Beta. As far as I remember, the basic requirement for beta is that we have the proxy -> VCS auth story figured out.

Anything else to add?

cc/ @marwan-at-work @robjloranger @fedepaol

[2018-10-03 20:14] michalpristas commented on #725
Just for reference, quoting meeting notes:
Beta:
- More docs for how to deploy the athens proxy
- Solid deployment = building and pushing the docker image from CI/CD
- Nice to have: integration tests that run against a newly built docker image (i.e. on a tag release)

[2018-10-03 21:17] arschles commented on #566
Another thing to keep in mind for the future: https://azure.microsoft.com/en-us/updates/azure-container-registry-helm-repositories-public-preview/

It's in preview now so I think we probably shouldn't use it now, however.

[2018-10-03 21:18] arschles commented on #82
Just bumping this up - I haven't forgotten about this. We'll soon be ready to publish a detailed roadmap

[2018-10-03 21:23] arschles opened #726 "Should we create new repositories in the gomods organization for deployment artifacts?"
**Is your feature request related to a problem? Please describe.**

We discussed in the [September 27, 2018 dev meeting](https://docs.google.com/document/d/1xpvgmR1Fq4iy1j975Tb4H_XjeXUQUOAvn0FximUzvIk/edit#heading=h.f24qbjkyfv6v) that folks are starting to work on Terraform configuration to deploy Athens. When this is done, the `gomods/athens` repository will have helm charts and terraform configu

[2018-10-03 21:36] morfeo8marc commented on #130
Hi, I would like to start working on it to get used with the project

[2018-10-03 22:58] manugupt1 commented on #706
On my list to do over this weekend!

Cheers,

Manu Gupta

On Wed, Oct 3, 2018 at 2:21 PM Aaron Schlesinger <notifications@github.com>
wrote:

[2018-10-04 06:39] michalpristas commented on #130
Hey @morfeo8marc
i put this task on hold as the future of Olympus part of the code is uncertain

[2018-10-04 13:06] morfeo8marc commented on #130
Ok I will try to find another issue to work one then

[2018-10-04 18:34] arschles opened #728 "Update the "communication" page on the docs site"
**Is your feature request related to a problem? Please describe.**

The docs at https://docs.gomods.io/design/communication/ are out of date. We should update them to reflect how the proxy works

**Describe the solution you'd like**

I'd like them to not mention Olympus because the proxy does not involve olympus

**Describe alternatives you've considered**

None

**Additional context**

We discuss

[2018-10-04 18:36] arschles opened #729 "The docs homepage should have an "elevator pitch" explaining what Athens is"
**Is your feature request related to a problem? Please describe.**

The problem we have now is that the Athens homepage at https://docs.gomods.io doesn't describe what Athens is and why it's valuable, so we have to continually explain it in blog posts, verbally, etc...

**Describe the solution you'd like**

I'd like the homepage to have a brief description of what Athens is and why it's valuable

[2018-10-04 18:39] arschles opened #730 "The documentation homepage should have information on the Athens dev meeting"
**Is your feature request related to a problem? Please describe.**

The Athens dev meeting happens weekly but we have to continuously tell people how to find it because it's only discoverable on the README but not the documentation.

**Describe the solution you'd like**

For new community members who see the docs first, I'd like them to be able to discover the dev meeting from the homepage. So, I'

[2018-10-04 18:42] arschles opened #731 "We should move the .netrc Auth Documentation"
**Is your feature request related to a problem? Please describe.**

The "Authenticate private repositories via .netrc" documentation is at https://docs.gomods.io/design/proxy/, but that's not a good fit because it's not related to high level design.

**Describe the solution you'd like**

I think we should move this information to the pages under https://docs.gomods.io/install/

**Describe alternat

[2018-10-04 18:44] arschles opened #732 "Scrub the docs of Olympus information"
**Is your feature request related to a problem? Please describe.**

We have a lot of Olympus-related documentation on the documentation site, but Olympus is not built. So, the docs are confusing because they make it seem like Olympus is a finished or close-to-finished product.

**Describe the solution you'd like**

I'd like us to remove the Olympus-related documentation from the docs site.

**Desc

[2018-10-04 18:45] arschles opened #733 "Section headers on the docs site shouldn't be empty"
**Is your feature request related to a problem? Please describe.**

Section headers on the docs site like https://docs.gomods.io/install/ are blank except for the section title. That's really confusing and it's hard to figure out that you're supposed to click on a page in the sidebar. It feels broken

**Describe the solution you'd like**

I'd like the section header pages to show a description of

[2018-10-04 18:49] arschles opened #734 "Add dev meeting notes to the docs site"
**Is your feature request related to a problem? Please describe.**

Currently, our agenda is in the [Google Doc](https://aka.ms/athensdevmeeting). Sometimes we take meeting notes in that doc too. It's hard to find the agenda for a specific day and it's hard to find meeting notes, if they exist.

**Describe the solution you'd like**

I'd like at least the meeting notes to go onto the docs site. We

[2018-10-04 18:52] michalpristas commented on #728
Will work on this one

[2018-10-04 19:01] arschles opened #735 "Can we push our proxy docker images to a public URL on each master push?"
**Is your feature request related to a problem? Please describe.**

Right now, we have an Athens running on a public URL (https://microsoftgoproxy.azurewebsites.net). It was manually deployed before GopherCon 2018 (thanks @joshgav and @marstr!) and hasn't been pushed since. It would be nice to have an up-to-date image from master on some public URL so that people can test out the latest Athens

**

[2018-10-04 19:02] marwan-at-work opened #736 "Make go test ./... run without any dependencies."
We should make it easy to run tests for new users. `go test ./...` should work without having to set up Minio or anything else.

However, we should also make it easy to test storage implementations by *also* just running `go test ./...`

The way to make this work is either by flags, or environment variables, or config files. I'm going with env vars cuz that's easiest with CI/CD and easiest to unde

[2018-10-04 19:18] marpio commented on #732
I'll take this one.

[2018-10-04 19:27] fedepaol commented on #731
Taking this one

[2018-10-04 20:13] marwan-at-work opened #738 "Authenticate with Github Token Only"
A lot of people don't know about the .netrc path and can be weird/intimidating. But many people are familiar with Github tokens. Let's add the option to only provide a github token, and letting Athens take care of the rest so that they can access private repos.

[2018-10-04 20:56] arschles commented on #729
I'll take this one

[2018-10-04 22:31] arschles opened #741 "Move the "try out athens" section from the homepage to a separate page"
**Is your feature request related to a problem? Please describe.**

#740 seems to make the homepage clearer (preview it [here](https://deploy-preview-740--gomods-athens.netlify.com/)), and I think the "Try it now" section takes away from the clear "why you should stay on the docs page" message by adding noise.

**Describe the solution you'd like**

I think we should move this section to a new page

[2018-10-04 22:32] arschles commented on #733
I'll take this one

[2018-10-04 22:47] #642 closed

[2018-10-04 23:35] #738 closed

[2018-10-05 16:11] glb commented on #469
I wish my first contribution to this project wasn't a dissenting opinion... From what I've read so far (and I recognize that you are the actual creators here) it seems perfectly valid to talk and think about Athens as a caching proxy. Where is it written that a cache is not a cache unless it evicts data?

"How long does Athens cache content for?" "Forever!" seems like a valid question / answer?

C

[2018-10-05 16:17] arschles opened #749 "Add more documentation around "why does it matter""
**Is your feature request related to a problem? Please describe.**

After #740 is merged, there will be a "why does it matter" section on the homepage that briefly explains why Athens matters for better dependency management, but it leaves out vendor directory problems, auth, and more (see [here](https://github.com/gomods/athens/pull/740/files#r222852546) for the full list by @marwan-at-work)

**D

[2018-10-05 18:12] chriscoffee commented on #730
I'd like to take this please! 👍

[2018-10-05 18:15] michalpristas commented on #730
Hey @chriscoffee go ahead please

[2018-10-05 18:16] marwan-at-work commented on #699
I have a couple of concerns here (briefly mentioned in the PR):

1. What happens when a repo is not available upstream but is available in our storage? `go list` will fail but Athens should still serve that module, that's the whole point of Athens.
2. How do we save this module in storage? Do we save it as a long hash string? or do we save it as a pseudo version? How do we ensure both are retrieve

[2018-10-05 19:34] robjloranger commented on #726
I like the idea of having another repository.

Maybe something like `gomods/deployments` with subdirectories for each? It would be neater than having one for every option but would also require a user to clone more than they need when using the configurations.

That alternative might look like:
- `gomods/athens-helm`
- `gomods/athens-terrform`
- etc

[2018-10-05 19:48] chriscoffee commented on #730
Can I suggest that we move _participating in the athens community_ under a _athens community_ breadcrumb like maintainers/new contributors to sit alongside a page on the developer meetup. I think this would be more digestable to the reader?

[2018-10-05 23:03] fedepaol commented on #699
I do agree with you on all the line. When working on https://github.com/gomods/athens/pull/744 I thought that caching the hash - pseudoversion mapping would have been an optimization.
The problem is by doing that we make athens dependant on the vcs (which is something that goes against the purpouse of athens).
Said that, I think this bug needs to be addressed. If I understood correctly the effects

[2018-10-06 02:41] #741 closed

[2018-10-06 02:48] arschles opened #752 "Add "Make a pull request" badge?"
**Is your feature request related to a problem? Please describe.**

We as a community are growing, and it seems like as a new contributor it's easy to get started with a PR or similar. I think that's in large part because we're welcoming, our documentation makes that fact clear, and that we have good instructions on how to get going, both with Athens and with open source on GitHub in general.

I t

[2018-10-06 13:09] gabrielSchneider100 commented on #752
I'll take this one.

Just started contributing here and I found the contributing instructions very helpful to my first PR here.

[2018-10-06 13:44] gabrielSchneider100 commented on #752
I think there's already too much resources in the contributing instructions. I think it's better if we just reference it like @bketelsen 's video.

[2018-10-06 15:47] chriscoffee commented on #734
If you're happy for me to take this one too if that's cool, I can drop in after the other tickets' sorted? Also don't mind attending and maintaining them until we decide to automate it.

[2018-10-06 19:34] marpio commented on #699
`go get github.com/pkg/errors@248dadf4e9068a0b3e79f02ed0a610d935de5302` will add a pseudo version `v0.8.1-0.20161029093637-248dadf4e906` record to the go.mod file. The next time we will build the project go will ask for the pseudo version and will find it in the storage (go list middleware won't be hit). I we ask by the hash and the repo is not available it will fail. We could create a separate st

[2018-10-06 20:02] fedepaol commented on #699
Again, I see two alternatives here.
- We leave the list middleware there, and we store the hash / pseudover mapping somewhere. It _can_ be the final solution even when go download gets fixed
- We move the hash / pseudover resolution **inside** the `go_get_fetcher` . This means that the same version will be pointed by the hash AND by the pseudover. That would work at the price of having duplicate d

[2018-10-07 00:48] chriscoffee commented on #735
As @robjloranger said, first enable continuous deployment by either running the command in the docs or going to **container settings** (the docs are out of date it seems) and enable continuous deployment. Then just grab the webhook it provides underneath and throw it into https://hub.docker.com/r/gomods/proxy/~/settings/webhooks/ (docs for that [are here](https://docs.docker.com/docker-hub/webhook

[2018-10-07 16:03] marwan-at-work commented on #699
@marpio

True. However, Athens will not save the version in storage under `v0.8.1-0.20161029093637-248dadf4e906`, it will save the version in storage under `248dadf4e9068a0b3e79f02ed0a610d935de5302` -- and therefore, both times will be fetched from upstream and storage for that module will be duplicated.

So, as you said towards the end, we need to figure out how to go from hash to pseudo before p

[2018-10-07 18:35] marpio commented on #699
@marwan-at-work

I might be missing something but the the redirect middleware @fedepaol implemented should prevent that from happening, no?
It should redirect from `/github.com/pkg/errors/@v/248dadf4e9068a0b3e79f02ed0a610d935de5302.zip` to `/github.com/pkg/errors/@v/v0.8.1-0.20161029093637-248dadf4e906.zip` so that it will be stored under `v0.8.1-0.20161029093637-248dadf4e906`
The same should be t

[2018-10-07 20:59] fedepaol commented on #699
The middleware solves the hash problem. It redirects to the pseudover so the only entry in the storage is related to the pseudoversion. What's missing is the persitence of the map between the commit hash and the vcs in order to be complete.

@marwan-at-work's looked far than us (me) and raised the problem of master / named branches which is something I think needs to be discussed carefully. When a

[2018-10-08 07:39] fedepaol commented on #699
@marpio agree. What I mean here is that we just can't store a map between `master/branch` and a pseudoversion because the pseudoversion is going to change every time `master/branch` changes. For this reason it would make no sense to me to store it.

Do agree with _let's postpone this and think about it carefully_ .

[2018-10-08 18:23] robjloranger commented on #658
closing with #707 and we have a PR template now.

[2018-10-08 18:25] robjloranger commented on #725
I'm with Michal. I think with authentication, docs and more tests we should be good to go for beta.

[2018-10-08 18:36] robjloranger commented on #730
I think that's a great idea @chriscoffee , I would vote for `Community` for brevity in the menu.

As we continue to expand our docs site we will likely have a lot more nesting and reorganizing.

[2018-10-08 18:37] robjloranger commented on #734
You're welcome to it. Also if your interested in attending the meetings, all are welcome and we would encourage you to do so.

[2018-10-08 18:59] #721 closed

[2018-10-08 19:24] robjloranger commented on #138
@nclandrei that PR is very out of date so feel free to start another, just comment here if you do and we can close the old one.

[2018-10-08 19:57] #752 closed

[2018-10-08 20:26] arschles opened #760 "Implement Distributed Deduplication Mechanisms"
**Is your feature request related to a problem? Please describe.**

#308 was for making Athens not do two `go get` calls for the same `module@version` at the same time. That meant that if N `go get mod@ver` calls came in at the same time, only one `go get` would get issues on the backend. https://github.com/gomods/athens/pull/573 went and fixed #308 by introducing "single flight" - a kind of mutua

[2018-10-08 20:34] arschles commented on #704
@adelowo @aman12592 - would either/both of you two still be interested in working on this issue? Happy to help you get started if you'd like!

[2018-10-08 20:37] manugupt1 commented on #706
GSoC applications open in January.
To get a rough idea, here is this years timeline. https://summerofcode.withgoogle.com/how-it-works/#timeline

The second thing, we would want to decide earlier is how much projecs would we want to have. Typically, smaller orgs get 1 project assigned and afaik Google recommends applying with twice the number of projects that you can have. We will have to consider

[2018-10-08 20:40] marwan-at-work commented on #760
I'd like to work on this (I've done in implementation for it back in the day so I just need to dig it up).

I'd like to emphasize that this should only be worked on, reviewed, and merged after beta. So that we focus our efforts on achieving the beta milestone :v:

[2018-10-08 20:48] arschles opened #761 "Mutual exclusion for the /list and other shared endpoints for CDN/object storage drivers"
**Is your feature request related to a problem? Please describe.**

In the object storage systems we support (Azure CDN, GCS, Minio, etc...), there are a few entries that represent the entire module across versions. For example, the `/list` endpoint has to show every version of the requested module that Athens knows about.

When Athens goes and fetches a _new_ version of a module, it has to read,

[2018-10-08 20:51] t-tomalak commented on #704
@arschles I didn't write here that I am on it. But I looked that there is no activity from either @adelowo or @aman12592 on this issue and took this at friday night. Is it ok? :fearful:  PR is already reviewed by @marpio

[2018-10-08 21:20] manugupt1 opened #762 "Update helm charts to include tracing from jaeger"
**Is your feature request related to a problem? Please describe.**
Currently, helm charts do not have any way of letting the users know about tracing. We would want Jaeger to be used as a tracing library since it is open source.

This is because helm charts have been used to deploy the public proxy afaik.

**Describe the solution you'd like**
Update helm charts to include jaeger as the tracing lib

[2018-10-08 21:24] manugupt1 opened #763 "Allow users to use certificates from the system cert pool"
Problem

I was having a discussion with @carolynvs and I found out that in liue of #540 , there is another use case where vendors may have certificates in the SystemCertPool

Proposal

We should support certs from system cert pool.

[2018-10-08 21:37] carolynvs commented on #763
Fixed by #756

[2018-10-08 21:37] #763 closed

[2018-10-08 22:53] robjloranger commented on #704
That's awesome @t-tomalak, thank you for the PR :grinning:

[2018-10-09 14:16] #733 closed

[2018-10-09 18:56] t-tomalak commented on #762
Is anyone on this? I would like to take on this. I never done anything with helm but I probably need few answers to make it done.
1. Do we wanna use jaeger/all-in-one image?
2. Do we wanna any customization of ports on this image?
3. Should we also add in deployment.yml this two env variables? First one will be `ATHENS_TRACE_EXPORTER` and this is just set to `jaeger` probably. Second one `ATHENS_T

[2018-10-09 19:33] manugupt1 commented on #762
@t-tomalak
1. Yes, we want to have jaeger/all-in-one image because that simplifies a lot of things.

For 2 and 3, I think we just specify the ports that the image maps to with the full URL. I would do what you feel like and we can take it from there.

[2018-10-09 21:15] gcstang opened #765 "Update proxy Dockerfile to 1.11.1-alpine"
Proxy Dockerfile is now out of date that 1.11.1 has been released.
Update to build on the latest GO release prior to image creation.

FROM golang:1.11-alpine AS builder
to
FROM golang:1.11.1-alpine AS builder

[2018-10-10 03:44] HannanSolo commented on #765
I got ya ;)

[2018-10-10 17:01] gcstang opened #769 "Major version control authentication support for SVN"
**Is your feature request related to a problem? Please describe.**
Lack of setup for SVN authentication support.

**Describe the solution you'd like**
Create authentication support for SVN in the proxy.

[2018-10-10 17:01] gcstang commented on #769
I'm going to work on this one

[2018-10-10 17:03] gcstang opened #770 "Major version control authentication support for bzr"
**Is your feature request related to a problem? Please describe.**
Lack of authentication support for bzr

**Describe the solution you'd like**
Authentication support added for bzr

[2018-10-10 17:03] gcstang commented on #770
I'm going to work on this one @gcstang

[2018-10-10 23:25] arschles opened #772 "[Announcement] Athens Preview Deployment"
This issue is an announcement that came after the [maintainers](https://github.com/orgs/gomods/teams/maintainers/members) discussed. I hope you like what you read!

# What's Going On?

We’re gonna deploy the proxy to the public internet for the Go community to use! 🎉 😄

# Background

Athens is about 6 months old (here’s our [first commit](https://github.com/gomods/athens/commit/e6106038f39d61b4523

[2018-10-11 01:09] manugupt1 commented on #765
This issue can be closed @gomods/maintainers

[2018-10-11 01:56] marwan-at-work commented on #761
Depending on the storage, I think there shouldn't be a data race if `m@v1` and `m@v2` were being stashed at the same time. For example, in blob storage path is just arbitrary and the fact that both modules start with `m/@v/` is irrelevant.

[2018-10-11 06:44] marpio commented on #761
@marwan-at-work
@arschles please correct me if i'm wrong but I think the idea here was that, if we use a CDN on top of the blob storage, we have to write/append the new version to a `list` file on every `Save` and so `go` can use CDN `/list` endpoint.
I'm not sure if this makes sense anymore, since we actually perform a merge on the `/list`endpoint (versions from VCS + versions from storage) to ge

[2018-10-11 13:03] adelowo commented on #704
I was a little busy over last week. Thanks @t-tomalak

[2018-10-11 16:42] #765 closed

[2018-10-11 18:33] robjloranger opened #773 "Travis fails from go lint change to checking import path"
We need to change our `go get` for go lint as per tweet below.
![screenshot_20181011-113000](https://user-images.githubusercontent.com/13278126/46825826-5a887880-cd49-11e8-9ab6-4b750fb36a8b.png)

[2018-10-11 18:38] arschles commented on #770
@gcstang let us know if you'd like any help navigating the codebase or anything else! excited you're doing this 😄

[2018-10-11 18:38] arschles commented on #769
I've put this and #770 into the v0.1.0 milestone. both are related to authentication from athens to VCS's

[2018-10-11 18:39] arschles commented on #725
Update:

- all of the docs issues we need to do for beta are in the [v0.1.0 milestone](https://github.com/gomods/athens/milestone/2)
- deployment issues are all done. docker images are currently being pushed from our CI/CD system (thanks to @carolynvs for telling me about this!)
- integration tests we aren't going to complete for v0.1.0. we've pushed this to v0.2.0 (https://github.com/gomods/athen

[2018-10-11 18:40] arschles commented on #725
we've broken this issue down into several smaller, more focused issues. most ended up in either the v0.1.0 or v0.2.0 milestone. since this was a "meta" issue and it's already broken down, I'm going to close

[2018-10-11 18:40] #725 closed

[2018-10-11 18:42] arschles commented on #730
This was closed by #755

[2018-10-11 18:42] #730 closed

[2018-10-11 18:46] arschles commented on #700
@manugupt1 since this has been open 17+ days, I've put it into v0.1.0 and assigned you. thanks for opening 🎉 !!

[2018-10-11 18:55] arschles commented on #9
This is currently how the proxy works, and when we're running on a public domain name (we are currently doing that with an experimental server, but see #772 for more concrete plans), developers will set GOPROXY to the new DNS entry. Closing

[2018-10-11 18:55] #9 closed

[2018-10-11 18:57] arschles commented on #8
we're not going to focus on vanity domains or registry functionality right now. closing now, we'll reopen this in the future if we decide to go there

[2018-10-11 18:57] #8 closed

[2018-10-11 18:57] arschles commented on #82
Milestones are created. After we hit a few beta milestones, we'll probably create a more formal roadmap

[2018-10-11 18:57] #82 closed

[2018-10-11 19:02] arschles commented on #10
We're focusing on a pure proxy approach right now, where Athens fills its storage with code from the VCS only. I'm closing this now, and we can revisit a publishing API and/or webhook in the future. Closing

[2018-10-11 19:02] #10 closed

[2018-10-11 19:36] t-tomalak commented on #773
I can work on it!

[2018-10-11 20:05] chriscoffee opened #775 "Implement storage.Backend for Alibaba OSS"
**Is your feature request related to a problem? Please describe.**
Alibaba Object Storage Service is missing implementation.

**Describe the solution you'd like**
- Implement storage.Backend interface (`Lister`, `Getter`, `Checker`, `Deleter`). `Saver` is already implemented
- Let OSS join the fun in `/pkg/storage/storage_tests`

**Additional context**
Related issues: #704, #703

For further refer

[2018-10-11 20:49] arschles commented on #57
We should add docs for how to deploy Athens to ACI, but I don't think we should run an official athens instance on ACI because that overlaps with #772

I'll update labels and title accordingly

[2018-10-11 20:52] arschles opened #776 "Add docs on how to deploy to Google App Engine Flexible Environment"
**Is your feature request related to a problem? Please describe.**

We have a limited amount of docs right now on how to deploy Athens to clouds.

**Describe the solution you'd like**

Adding docs for how to deploy to [GAE's flex environment](https://cloud.google.com/appengine/docs/flexible/) would give more options for people to deploy

**Describe alternatives you've considered**

None

**Additio

[2018-10-11 20:54] arschles commented on #612
As of #772, we're going to focus on the global proxy and not on the registry (which is what Olympus was). Since this issue was for parking Olympus until designs are finalized, that's obsolete now. I'm going to close this and open a new issue for removing Olympus code

[2018-10-11 20:54] #612 closed

[2018-10-11 20:56] arschles opened #777 "Remove olympus code"
**Is your feature request related to a problem? Please describe.**

As of #772 we're focusing on a global proxy and not on a registry. the code in `cmd/proxy` is the former and `cmd/olympus` is the latter.

**Describe the solution you'd like**

I'd like us to remove the code in `cmd/olympus` and other related things that only the `cmd/olympus` code relied on.

**Describe alternatives you've consid

[2018-10-11 20:58] arschles commented on #106
As of #772 we're focusing on a global proxy and not a registry. Since this issue is a registry feature, I'm closing.

[2018-10-11 20:58] #106 closed

[2018-10-11 20:59] arschles commented on #105
As of #772 we're focusing on a global proxy and not a registry. If you take out all of the olympus-like functionality in this issue, it looks like a duplicate of #104, so I'm closing

[2018-10-11 20:59] #105 closed

[2018-10-11 21:01] arschles commented on #80
This is a duplicate of #772 so I'm closing. Also note that we're not going to build a registry (see #777 for more on that).

Also, @michalpristas I've changed #57 to indicate that we just want to do docs for ACI

[2018-10-11 21:01] #80 closed

[2018-10-11 21:04] arschles commented on #78
@michalpristas yes!

Background for other readers: the proxy architecture is detailed in https://docs.gomods.io/design/proxy/ and as of #772 we've decided not to continue building a registry at the moment

[2018-10-11 21:04] #78 closed

[2018-10-11 21:06] arschles opened #778 "The documentation still has a registry page on it"
**Describe the bug**

As of #772, we're not gonna build a registry for the time being, so we shouldn't have a [docs page](https://docs.gomods.io/design/registry/) for it.

**Error Message**
N/A

**To Reproduce**

Go to https://docs.gomods.io/design/registry/ in a browser

**Expected behavior**

That page shouldn't exist 😁

**Environment (please complete the following information):**

N/A

**Additi

[2018-10-11 21:06] arschles commented on #79
@michalpristas 👍

Background for other readers: as of #772, we're not going to try and build a registry for the time being, so we don't need docs for that

[2018-10-11 21:06] #79 closed

[2018-10-11 21:07] arschles commented on #95
As of #772, we're not going to try and build a registry for the time being, so closing.

[2018-10-11 21:07] #95 closed

[2018-10-11 21:07] arschles commented on #107
As of #772, we're not going to try and build a registry for the time being. Closing

[2018-10-11 21:07] #107 closed

[2018-10-11 21:08] arschles commented on #113
@michalpristas 👍
Background for other readers:

[2018-10-11 21:08] #113 closed

[2018-10-11 21:09] arschles commented on #124
As of #772, we're not going to try and build a registry for the time being, so I'm closing this issue

[2018-10-11 21:09] #124 closed

[2018-10-11 21:09] arschles commented on #130
As of #772, we're not going to try and build a registry for the time being, so I'm closing this issue

[2018-10-11 21:09] #130 closed

[2018-10-11 21:10] arschles commented on #451
note that as of #772, we're not going to try and build a registry for the time being. this still applies to the proxy though

[2018-10-11 21:11] arschles commented on #351
Note that as of #772, we're not going to try and build a registry for the time being. I'm leaving this issue open because security is still an open discussion for the proxy.

[2018-10-11 21:12] arschles commented on #351
also @empijei I don't know of anything that will allow for key revocation / expiration right now, but design hasn't moved much since the OP

[2018-10-11 21:12] arschles commented on #349
As of #772, we're not going to try and build a registry for the time being, so I'm closing this issue

[2018-10-11 21:12] #349 closed

[2018-10-11 21:12] arschles commented on #155
As of #772, we're not going to try and build a registry for the time being, so I'm closing this issue

[2018-10-11 21:12] #155 closed

[2018-10-11 21:13] arschles commented on #119
I've added a preview label to this because we should at least look into a GH token to handle high volumes of `go get`s for "misses"

[2018-10-11 21:19] arschles commented on #772
A few additional notes:

- We're talking about deploying a proxy but not a registry. That means the following big things, plus more small ones that I'll elide for brevity:
    - Users can't directly upload code to the thing. The "publish" process for a package is the same `git push` workflow
    - The thing won't have a UI where you can login, have a profile, or anything else like that (NPM, for e

[2018-10-11 21:28] arschles commented on #778
Duplicate of #732, closing

[2018-10-11 21:28] #778 closed

[2018-10-11 21:29] arschles commented on #658
what @robjloranger said ❤️

[2018-10-11 21:29] #658 closed

[2018-10-11 21:30] arschles commented on #606
As of #772, we're not going to try and build a registry for the time being, so I'm closing this issue

[2018-10-11 21:30] #606 closed

[2018-10-11 21:32] steakunderscore commented on #777
I can take this on as a first PR :)

[2018-10-11 21:33] arschles commented on #584
![screen shot 2018-10-11 at 2 32 51 pm](https://user-images.githubusercontent.com/70865/46835301-9aa82500-cd62-11e8-8a84-d32d887e545d.png)

Done - I love this idea @marpio  🎉 ❤️

[2018-10-11 21:33] #584 closed

[2018-10-11 21:41] arschles commented on #469
@glb thanks for commenting anyway, I'm glad you did, and welcome to Athens 😄

I think you're technically right, and I actually like "cache" a lot also. I also agree that something like an unbounded ttl-less cache is valid. My favorite part about the entire caching nomenclature is that we can use "cache miss" and "cache fill" - which perfectly describe what Athens does on the backend when a `go get

[2018-10-11 21:43] arschles commented on #474
As of #772, we're not going to try and build a registry for the time being, so I'm closing this issue

[2018-10-11 21:43] #474 closed

[2018-10-11 21:45] arschles commented on #439
Yes, I think #444 closes this. Here is the page that describes community roles and how to earn the commit bit: https://docs.gomods.io/contributing/community/participating/

[2018-10-11 21:45] #439 closed

[2018-10-11 21:46] arschles commented on #420
@marwan-at-work what do you feel like we're still missing for this issue?

[2018-10-11 21:47] arschles commented on #412
@robjloranger now that gobuffalo/buffalo#1075 is closed, is this still a bug?

[2018-10-11 21:50] arschles commented on #390
@devdinu given what you see on https://docs.gomods.io, do you think everything you were asking for is written down clearly?

[2018-10-11 21:52] arschles commented on #146
This is highly related to the registry but as of #772, we're not going to try and build a registry for the time being, so I'm closing this issue

[2018-10-11 21:52] #146 closed

[2018-10-11 21:53] arschles commented on #213
As of #772, we're not going to try and build a registry for the time being.

@robjloranger I've updated the title of this issue and put it into the `preview` milestone so that we can move toward #772

[2018-10-11 21:56] arschles commented on #221
We've done [a lot of work on docs](https://github.com/gomods/athens/issues?utf8=%E2%9C%93&q=is%3Aclosed+label%3Adocs+) and everything in the OP is fixed. Closing

[2018-10-11 21:56] #221 closed

[2018-10-11 22:41] robjloranger commented on #412
I can test this evening

[2018-10-12 01:13] robjloranger commented on #412
I can't reproduce this anymore. I don't even see us using `buffalo dev` anywhere in our scripts so not sure where I got this from.

### From tip of master w/ GO111MODULE=on
## Steps Tried w/ Buffalo v0.12.7
- ran `buffalo dev` from `cmd/proxy`
- ran make targets for `test`, `test-unit`, `test-e2e` and `build`
## w/ Buffalo v0.12.6 (current version we are using)
- ran `make test test-unit test-e2e

[2018-10-12 01:13] robjloranger commented on #412
I'll call it resolved by magic and we can open a new ticket if it resurfaces.

[2018-10-12 01:13] #412 closed

[2018-10-12 09:07] korrat commented on #775
I would like to work on this

[2018-10-12 19:47] glb commented on #469
Thanks @arschles ! The _exact fit_ of the caching metaphor is what I like as well; I think calling Athens a datastore leads to more awkward questions about "how do you store stuff in it?".

Is this an opportunity to educate people that caches don't have to evict things? You could abuse the playful Q&A trope a bit with a section that says something like "Q: But don't caches evict things? A: Often,

[2018-10-14 01:05] voutasaurus opened #780 "Fix "try it out" page so documented commands produce documented output"
**Describe the bug**
Trying out Athens https://docs.gomods.io/try-out/ and it looks like `proxy` looks for `../../config.dev.toml` so it needs to be run from `$GOPATH/src/github.com/gomods/athens/`

**Error Message**
[code]

**To Reproduce**
1. `cd ~`
2. `go get -u github.com/gomods/athens/cmd/proxy`
3. `proxy &`

**Expected behavior**
As here: https://docs.gomods.io/try-out/
[code]

**Environment

[2018-10-15 04:28] VineethReddy02 commented on #706
Hey!!

Sorry i was bit occupied with my exams couldn't followup the thread. As manu mentioned, It's true for the first time as an organisation we might get 1 or 2 projects approved. Last year .net foundation has applied for GSOC for the first time but it didn't get approved as most of the projects were documentation related. The quality of project plays a major role in terms of approval.

Aaron yo

[2018-10-15 08:33] michalpristas commented on #777
@steakunderscore feel free to split it into multiple PRs if it makes it easier

[2018-10-15 09:14] #540 closed

[2018-10-15 10:41] lwithers opened #781 "Filesystem backend marks files as executables"
**Describe the bug**
When using the filesystem storage backend, newly-created files are marked as executable.

**Error Message**
[code]

As you can see, each file incorrectly has the execute permission bit `x` set.

**To Reproduce**
Cause the proxy to download anything new.

**Expected behavior**
Files should not be marked as executable:

[code]

**Environment (please complete the following inform

[2018-10-15 10:59] michalpristas commented on #781
are you interested in fixing this?

[2018-10-15 11:07] lwithers commented on #781
Sure, I can open a PR.

[2018-10-15 11:16] t-tomalak commented on #781
Maybe one suggestion, If you could check that `0600` is sufficient for this file because we probably don't want all users to be able to access those files.

[2018-10-15 11:48] manugupt1 commented on #781
I have a question. I did a go get without the proxy on a MacOs and the permissions assigned to the downloaded modules are 0755.
A) Should the code not mimic that behavior?
B) Why did the go mod authors chose 0755 as the permissions or it is just a bug in the go get tool.

This is regardless of the report above. Can you help me clarify?

[2018-10-15 11:55] lwithers commented on #781
Under Linux, without the proxy, I get the following:

[code]

(i.e. a mix of 0600 and 0644).

In fact, if you take a look in the Go source at `src/cmd/go/internal/modfetch`, you'll see multiple invocations of `os.MkdirAll` used with mode 0777 and multiple `ioutil.WriteFile` with mode 0666.

[2018-10-15 12:06] #781 closed

[2018-10-15 12:07] michalpristas commented on #781
Thanks for a quick fix @lwithers  ;-)
i checked with
https://github.com/golang/go/blob/56dc1795e756767adb373a5bc151c9c820152025/src/cmd/go/internal/modfetch/fetch.go#L152
it is aligned so I guess it answers @manugupt1 's concerns

[2018-10-15 16:30] arschles opened #783 "Buffalo now supports modules!"
can we change our builds now that Buffalo supports modules?

https://blog.gobuffalo.io/buffalo-v0-13-0-released-eac17c4cc4fa

[2018-10-15 18:19] arschles commented on #780
@voutasaurus I think adding `cd $GOPATH/src/github.com/gomods/athens/cmd/proxy` between the `go get` and `proxy &` lines seems like the best way to go.

ideally, it would be great to give instructions on how to run this outside the GOPATH since that's a big feature of modules. would you like to try updating the docs to do that?

[2018-10-15 18:20] arschles commented on #772
@michalpristas yes absolutely - looks like you already found https://github.com/gomods/athens/issues/777 😄

[2018-10-15 18:20] arschles commented on #772
I will take this issue btw 😄

[2018-10-16 00:29] #731 closed

[2018-10-16 01:46] #704 closed

[2018-10-16 20:35] voutasaurus commented on #780
@arschles

This works on my machine:
[code]

Since Athens is dependent on go version being >= 1.11 this makes the most sense to me. Right now `go get` is a little wonky with main packages so it makes some sense to avoid it at least until it's working in go1.12 (https://github.com/golang/go/issues/24250).

I can throw together a PR for this on Thursday evening PST if nobody else gets to it first.

[2018-10-16 22:17] manugupt1 opened #787 "If a filter.conf file is not found when it is specified in config, proxy should not start up"
**Describe the bug**
If a filter.conf file is not found when it is specified in config, proxy should not start up.
This is a critical path, hence the proxy should not boot up

**To Reproduce**
Steps to reproduce the behavior:
1. create a filter.conf file
2. give the wrong path

**Expected behavior**
Expect an error

[2018-10-16 22:17] manugupt1 commented on #787
I am taking this one!

[2018-10-17 14:33] #729 closed

[2018-10-18 01:18] voutasaurus commented on #780
hmm, seems like there are some problems running the tests outside GOPATH:

[code]

[2018-10-18 01:19] voutasaurus commented on #780
Firstly, this is `./scripts/check_golint.sh`:
[code]

So yeah that's not going to work outside the GOPATH

[2018-10-18 01:28] voutasaurus commented on #780
The `TestBackend` failure is happening for me regardless of whether the repo is in the GOPATH or not.

I did run `make setup-dev-env`, and since the TestBackend failed I did `make down` and `make setup-dev-env` again to be sure, and I'm still getting the TestBackend failure. Then I checked that all my other docker containers / compose environments were downed and still getting that.

Seems like th

[2018-10-18 18:40] t-tomalak opened #790 "Test for minio and mongo are currently skipped in local environment"
**Describe the bug**
Test for minio and mongo are currently skipped, because in `storage/minio_test.go` we expect enviornment variable with URL. Same thing happens for `storage/mongo_test.go` but there enviornment variable should be also changed from:
`url := os.Getenv("ATHENS_MONGO_URL")`
to
`url := os.Getenv("ATHENS_MONGO_STORAGE_URL")`

**To Reproduce**
1. `make test-unit`

0% of coverage is sh

[2018-10-18 19:16] #769 closed

[2018-10-18 19:20] arschles opened #792 "Write docs to indicate we're using the WIP bot"
We have a little status check on all our PRs now that blocks merging if a PR has "WIP" at the beginning of its title. We should add a section to our contributing docs that tells contributors how that works, and when/how to use "WIP" in their PR titles

[2018-10-18 19:34] #728 closed

[2018-10-18 19:41] arschles opened #793 "Can we somehow auto-merge PRs?"
We currently have some criteria that GH enforces for when we can merge PRs:

- Our 3 status checks: netlify builds, travis-CI builds and the WIP bot (see #792 for details on the bot)
- we need 1 reviewer to sign off

Even after all of our criteria have been met, a maintainer still has to go and manually merge the PR, and that's just extra waiting and work that would be great if we didn't have to d

[2018-10-18 19:49] arschles opened #794 "Link to firstcontributions in our contributing docs"
@gcstang suggested that we link to. https://github.com/firstcontributions/first-contributions/blob/master/README.md in our docs for first-time contributors (thanks a ton @gcstang for the pointer!).

I think that would be a really, really helpful reference for new contributors to get familiar with the GH contribution flow while they contribute to Athens. Or if they don't contribute to Athens, at le

[2018-10-18 19:56] robjloranger commented on #793
I think the only problem is how to differentiate between reviews that should have a longer period so more people can review. Really big changes and the like.

[2018-10-18 20:07] t-tomalak opened #796 "Add bucket check and creation in S3 storage tests"
**Is your feature request related to a problem? Please describe.**
When tests are run, we need to check if bucket exists in `storage/s3` tests. Now this check is ommited and s3 tests will fail when `storage/minio`  test will be not run before.

**Describe the solution you'd like**
Add check if s3 bucket exists and if it's not it should create it. This check should be only applied in tests.

**Desc

[2018-10-18 21:36] #790 closed

[2018-10-18 21:37] arschles commented on #793
yep absolutely. I haven't thought this through much, maybe in the comments a reviewer can say something like `add @someone` to indicate that there needs to be another reviewer?

[2018-10-18 21:44] robjloranger commented on #793
I was thinking that way as well, or maybe on bigger PRs reviewers should only comment until they are certain they should be the final approval. Like if I see for people have commented approval and I review plus ensure all contents were addressed, then I can approve which triggers the auto merge.

Or something along those lines.

[2018-10-18 22:39] voutasaurus commented on #780
The TestBackend issue is captured here: https://github.com/gomods/athens/issues/796

[2018-10-18 22:50] voutasaurus commented on #780
As for golint in the `check_golint.sh` script, golint does not support modules yet https://github.com/golang/lint/issues/409 but there's a patch for it that appears to work: https://go-review.googlesource.com/c/lint/+/127695

I'm going to make a PR that optimistically updates the "try it out" docs to say this:
[code]

The assumption being that once golint supports modules on master `./scripts/chec

[2018-10-18 23:58] #780 closed

[2018-10-19 11:22] marpio opened #798 "Update test_unit.ps1 so that it matches the bash version."
**Describe the bug**
Currently the powershell test_unit.ps1 script doesn't add the default ENV VARs for minio and mongo so the storage tests are skipped even if minio and mongo are running.

**To Reproduce**
Execute test_unit.ps1

**Expected behavior**
The storage tests should execute if the services are up.

[2018-10-19 22:11] gcstang opened #800 "Ability to go to a another proxy if not found"
**Is your feature request related to a problem? Please describe.**
Need a way to point to the public repository and if it’s not found default to another i.e. like an internal ?
Or if not found in private point to public repository.

**Describe the solution you'd like**
When you setup a GOPROXY modules should resolve in your private or a public repository.
If you have a private repository then you

[2018-10-19 23:42] marwan-at-work commented on #800
@gcstang what do you mean by repository? Are you talking about a backend? An actual github repository? VCS vs backend?

[2018-10-19 23:46] gcstang commented on #800
by repository I mean a VCS

[2018-10-19 23:48] marwan-at-work commented on #800
@gcstang can you provide an example?
If say you have a dependency called `github.com/userA/pkgB`. This exist in only one domain: github. Why would we go to another VCS if it's not found in github?

Even so, it wouldn't be possible because the `go` command only knows to go to github.com

[2018-10-22 18:52] #777 closed

[2018-10-22 23:16] arschles commented on #664
At the [October 18, 2018 developer meeting](https://docs.google.com/document/d/1xpvgmR1Fq4iy1j975Tb4H_XjeXUQUOAvn0FximUzvIk/edit#heading=h.aor706plkyhh), we discussed #664. Since we decided in #772 that we're not gonna do a registry, we decided that the vote should change a little bit because we don't have to distinguish between the proxy and registry.

I said in the meeting that I would create a

[2018-10-22 23:16] #664 closed

[2018-10-22 23:17] arschles commented on #539
As said in https://github.com/gomods/athens/issues/664#issuecomment-432024563, let's do "Athens proxy" with a lowercase 'p'

Closing

[2018-10-22 23:17] #539 closed

[2018-10-23 07:51] michalpristas commented on #793
I think @carolynvs mentioned they have a good process in Helm(?) with one approver writing LGTM another one Approved and it gets merged. Maybe we can think of something like this. Don't know how much their solution is configurable but might be worth to look into that.

[2018-10-23 15:19] robjloranger commented on #793
I like that, require x LGTMs and then the next approval can merge.

[2018-10-23 20:56] arschles opened #804 "There's no link to our GitHub repo from the Documentation site"
**Describe the bug**

We don't have a link to https://github.com/gomods/athens (this repo 😄) from the [docs site](https://docs.gomods/io)

**Expected behavior**

We should have a link at least on the home page, so that people who want to get started, look at code, contribute, etc... can do so

[2018-10-23 21:04] monsij commented on #804
I'm in. May I be assigned to it?

[2018-10-23 21:06] monsij commented on #804
the docs site doesn't have a hyperlink :-)

[2018-10-23 23:05] #798 closed

[2018-10-23 23:32] arschles opened #806 "Should we add more to the CODEOWNERS file?"
The [current CODEOWNERS file](https://github.com/gomods/athens/blob/ccf59405cf5c68a55de6c851b225d541f5bf8d50/.github/CODEOWNERS) has only one line - everything is "owned" by @gomods/maintainers. We have a bigger community now, and a super different codebase, than we did when we committed that file.

Should we add more lines to the file so that we have different directories specialized to particula

[2018-10-23 23:34] arschles commented on #804
@monsij yes, you absolutely may take this!

And yea, the docs site is docs.gomods.io. I'm not sure I understand your question though - did I answer it?

[2018-10-23 23:41] arschles opened #807 "Should we do windows builds?"
We have a lot of powershell in our repo for doing builds and tests. I don't think we test any of that in Travis-CI, so should we do that? I think we can use [Appveyor](https://www.appveyor.com/) for that

[2018-10-23 23:49] #783 closed

[2018-10-23 23:52] arschles opened #808 "GitHub Actions Ideas Thread"
Personally I can't wait until we can use [GitHub Actions](https://github.com/features/actions) on this project! My TL;DR on actions: a hosted (by GitHub) system where you can run any code (in Docker containers) to respond to any webhook that the repo fires

We don't have access to actions on this repo yet, but I have some ideas on what we can do with them when we do. They're super flexible and I b

[2018-10-23 23:56] arschles commented on #808
Top of my head ideas:

- We can obviously run our tests in an action, and replace Travis-CI (we probably don't need to do this, but it'd be fun methinks)
- We could deploy an Athens server on each commit to a PR, and tear it down after that PR is closed
- We could crawl the docs site to look for dead links
- We could publish a tweet to the [@gomodsio](https://twitter.com/gomodsio) Twitter account

[2018-10-24 00:09] arschles opened #809 "Can we pass loggers down the stack via closures?"
**Is your feature request related to a problem? Please describe.**

#537 calls for passing log contexts down the stack (i.e. from handlers down to storage drivers).

I took a try at doing that in #645 but it wasn't too great.

**Describe the solution you'd like**

@fedepaol and @marwan-at-work talked about solving this by passing closures down the stack (see [here](https://github.com/gomods/athens

[2018-10-24 02:11] marwan-at-work opened #813 "Clean Up Config File"
Now that Olympus is out of the code base and we have a good idea of what the Proxy looks like, I'd like to do some cleaning up of the Config.go file:

- [x] Remove CSRF middleware/option (the Proxy is just an API)
- [x] Remove unnecessary functions in the config parser: `setRuntimeDefaults` and `deleteInvalidStorageConfigs`
- [x] Include one Timeout instead of many? For simplicity sake.
- [ ] Simp

[2018-10-24 04:36] monsij commented on #804
@arschles yes

[2018-10-24 06:06] michalpristas commented on #806
i would go with teams, which seems easier to manage. dont need to have PR with changes if you want to add somebody.
was thinking about package domain teams:
- storage
- api (incl middlewares)
- communication flow
- security
- test
- ops (tracing, config)

just from top of my head

[2018-10-24 06:07] michalpristas commented on #807
you also was looking for an exercise for Azure DevOps. Does this seems like a good candidate?

[2018-10-24 12:31] marpio commented on #807
@michalpristas yes! azure pipelines has free plan for open source projects (also on windows).

[2018-10-24 14:55] kaylangan commented on #807
I'm a Program Manager for Azure Pipelines. Let me know if you have any questions or suggestions. I'm happy to help!

[2018-10-24 16:02] chriscoffee commented on #808
* Check if there's any diff in the docs and deploy only if changes been made.
* Spellcheck/grammar check of docs.
* Probe endpoints on previews

* This could also include what's been changed with the changelog action you mention below that.

[2018-10-24 19:39] bhaveshpraveen opened #816 "Support for Metrics using Prometheus"
**Is your feature request related to a problem? Please describe.**
Only Tracing is currently supported. It'd be nice to also track metrics.
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Export metrics to prometheus
Reference: https://opencensus.io/guides/exporters/supported-exporters/go/prometheus/

[2018-10-24 19:39] bhaveshpraveen commented on #816
I'd like to work on this.

[2018-10-24 19:47] t-tomalak opened #817 "Remove redis in init.ps1 for development environment"
**Is your feature request related to a problem? Please describe.**
As we removed #785 redis from development environment because we use inmemory queue system by default. We should also do the same in init.ps1 file

**Describe the solution you'd like**
Remove redis initialization in powershell script

[2018-10-24 19:57] marpio opened #819 "Make clear in docs that we can't get a module by revision"
As pointed out in #699 Athens proxy is unable to fetch a module by a commit hash. We discussed possible solutions and decided to put this feature on hold.

We should document that it's not possible to do something like `GOPROXY=http://127.0.0.1:3000 go get github.com/pkg/errors@c059e472caf75dbe73903f6521a20abac245b17f` and in order to get a module by hash one has to bypass the proxy.

[2018-10-24 19:59] #817 closed

[2018-10-24 20:02] arschles commented on #808
@chriscoffee do you have a link to Azurite?

[2018-10-24 20:07] marpio opened #820 "Use Azurite to test Azure Storage"
**Is your feature request related to a problem? Please describe.**
At the moment we skip the Azure Storage tests in our travis builds.

**Describe the solution you'd like**
Idea stolen from @chriscoffee
We could use Azurite https://github.com/Azure/Azurite to test the storage just like we test s3 using minio.

**Describe alternatives you've considered**
Using Azure Blob Storage.

[2018-10-24 20:15] marpio commented on #301
@arschles Do you think we still need this one? #699 is on hold (but should be fixed at some point) and we removed registry.

[2018-10-24 20:50] marpio commented on #808
@arschles https://github.com/Azure/Azurite

[2018-10-24 20:59] chriscoffee commented on #808
Thanks @marpio I was afk! 👍

[2018-10-24 21:13] penDerGraft commented on #809
@arschles I'd like to work on at least a part of this. Is there a way I could get a little more context into the idea here?

[2018-10-24 23:09] chriscoffee commented on #820
I'll take this please

[2018-10-25 06:07] t-tomalak commented on #820
I think that with skip azure blob storage tests because it still not implemented `storage.Backend` interface (https://github.com/gomods/athens/issues/703), after that it could use `storage/compliance` tests and use `Azurite`. So this issue should wait or here we could just configure `Azurite` in our docker-compose file. :slightly_smiling_face:

[2018-10-25 06:50] michalpristas commented on #820
Yes indeed, the original purpose of the package was a bit different, we need to complete the interface implementation and then enable them in tests (same PR or followup).

[2018-10-25 07:15] marpio commented on #820
Waiting for #703

[2018-10-25 09:07] chriscoffee commented on #820
I think what I'll do then is task out this into doing the work to add the test and adding the container so I can get the latter half of the task done now.

I'll also check in with #703 and see if they want to pair/help with getting the task completed, we can probably learn something off each other.

If not I'll just wait.

👍

[2018-10-25 14:43] bhaveshpraveen commented on #816
Ok. Will do.

[2018-10-25 18:31] chriscoffee commented on #213
I'd like to take over on this one.

[2018-10-25 18:40] arschles commented on #699
For beta (`v0.1.0`), should we add some docs saying that `go get mymod@sha123` doesn't work? If we decide to do those docs, we can move this out of `v0.1.0`, otherwise we should keep this in here

cc/ @marwan-at-work

[2018-10-25 18:46] arschles commented on #699
We decided in the Oct. 25 meeting that we're going to write docs explaining the limitation, and fix this for `v0.2.0`

[2018-10-25 18:47] arschles opened #822 "Write docs to indicate that you can't get a package by revision"
**Is your feature request related to a problem? Please describe.**
The problem is in #699

**Describe the solution you'd like**
We should write docs to explain #699

**Describe alternatives you've considered**
None

**Additional context**
We discussed doing this in the Oct. 25 2018 Development Meeting

[2018-10-25 19:06] marpio commented on #822
@arschles isn't this a duplicate of #819 ?

[2018-10-25 22:39] #732 closed

[2018-10-26 06:45] michalpristas opened #824 "Context with timeouts not cancelled"
**Describe the bug**
Contexts with timeouts should be cancelled to avoid the leak.

**Expected behavior**
`defer cancel()`

[2018-10-26 12:58] morya commented on #800
I think it would be a very useful feature.

if working like this.

Athens-A deployed inside company
Athens-B some big website dedicated as public available.
C Final-vcs github and others

So go cmd talks to A, A try B if it doesn’t have it, and B will talk to github if needed.
All working together as a big distributed network.

The client only need to find the right sever to trust.

[2018-10-26 18:10] #824 closed

[2018-10-26 18:30] marpio commented on #822
@fedepaol that would be great but unfortunately the go cmd doesn't give any meaningful error msg so we would have to check if it's a semver/pseudo version or not. Not sure how to do that without copying a bunch of go code...

[2018-10-26 18:42] fedepaol commented on #822
@marpio , I feel like we already had this discussion, but isn't it enough to look for pseudoversions (as we already do in https://github.com/gomods/athens/blob/master/pkg/middleware/filter.go#L54 ) or versions (matchable by a regex) and reject otherwise?

[2018-10-26 19:53] #700 closed

[2018-10-26 19:56] arschles commented on #770
#795 fixed this, closing.

Thanks @gcstang for doing that PR!

[2018-10-26 19:56] #770 closed

[2018-10-26 20:11] #506 closed

[2018-10-27 07:28] marpio commented on #819
Closing in favour of #822

[2018-10-27 07:28] #819 closed

[2018-10-28 02:30] manugupt1 commented on #816
Let me know if you need help and I can chime in!

[2018-10-28 19:41] manugupt1 opened #829 "Introduction of a new endpoint that lists name all of the packages that are in the storage"
**Is your feature request related to a problem? Please describe.**
Sometimes, users would want to know what packages are stored in their storage module.
This can be useful when we have a Web UI as well.

**Describe the solution you'd like**
An API like
`GET /storage/modules/list`

would list be super useful to get info on what is on the storage.

**Describe alternatives you've considered**
I thoug

[2018-10-28 19:54] michalpristas commented on #829
I see only one drawback, the listing of blobs might be really slow. unless you keep a registry as another blob but then you have an additional set of problems
i did something like this before and listing more than 15k or 50k (i don't really remember the precise number) runs into request timeout. so we would need to provide some sort of paging with a default paging size

[2018-10-28 23:40] manugupt1 commented on #829
Ah.. yes! I thought about the drawback earlier and did not really see any way out of it. An `ls` does not necessarily  mean that we are reading the contents of the blob though. Although, I agree that the implementation of `ls` will depend on the backend storage. Some storages like S3 have a recursive ls. I see that GCP and Azure did not have a recursive one. For fs, recursive walking is easy.  For

[2018-10-29 07:13] arkadyb opened #830 "CI/CD Not Building Proxy Image Correctly"
Hi,

Id like to use athens for corp level go modules proxy, but cant seem to find a way get it authenticated against our private repos in http://github.com/[CompanyName]
Is there some way to use my GitHub deploy key in netrc file? Or should i be using some other auth type? Thanks for help!

[2018-10-29 07:16] michalpristas commented on #830
Hey @arkadyb, thanks for raising an issue.

please check this doc page https://docs.gomods.io/install/install-on-kubernetes/#give-athens-access-to-private-repositories-via-github-token-optional
and let me know if this answers your question

[2018-10-29 08:41] michalpristas commented on #830
Have you restarted the proxy?

[2018-10-29 14:14] fedepaol commented on #830
Also @arkadyb , could you manually throw a .netrc file in your home to check if that works?
The .netrc file should [be filled like this ](https://gist.github.com/cactus/3925422)

[2018-10-29 14:17] michalpristas commented on #830
also, one more important question comes to mind. which OS are you using?
our netrc implementations are not windows friendly

[2018-10-29 14:39] michalpristas opened #832 "NetRc file uses different name on windows"
**Describe the bug**
On Windows netrc file uses `_netrc` instead of `.netrc`. It expects it to be in a home folder still.
Athens on startup copies `.netrc` it has to `.netrc` at home.

**Expected behavior**
Athens on startup copies `.netrc` it has to `_netrc`/`.netrc` at home based on a platform it runs on.

[2018-10-29 20:59] marpio commented on #703
@scriptonist are you still on it? Do you need any help?

[2018-10-29 23:40] arkadyb commented on #830
@fedepaol, ive tried to run on local (macos) and Docker. .netrc file has been created at home, but i still face same issues, i get back 500 error when athens tries to access my private repos. Does it metter repo belongs to org and not my private user?

[2018-10-30 00:58] arkadyb commented on #830
I was finally able to run it. Problem is - when u run docker image from dockerhub, it does not seem to create required .netrc file event when i pass respective git hub security token. i was able to build image from Dockefile in repo and this one works.

[2018-10-30 01:45] scriptonist commented on #703
Hey @marpio, Sorry go stuck up at work! Is this high on priority?
Yes, I would Always love some help :smiley:

[2018-10-30 07:01] marwan-at-work commented on #830
@arkadyb what is the image that used from docker hub? Also, how did you pass the GITHUB_TOKEN or NETRC_PATH variables to the image? Can you please provide a reproduction example. Thanks

[2018-10-30 07:07] arkadyb commented on #830
@marwan-at-work , docker hub image - https://hub.docker.com/r/gomods/proxy/
as per command it is: `docker run -d ... -e ATHENS_GITHUB_TOKEN=[my-github-token] --name athens-proxy --restart always -p 3000:3000 gomods/proxy:latest`

[2018-10-30 07:10] arkadyb commented on #830
To repro simply use:
`
export ATHENS_STORAGE=~/athens-storage
mkdir -p $ATHENS_STORAGE
docker run -d -v $ATHENS_STORAGE:/var/lib/athens \
   -e ATHENS_DISK_STORAGE_ROOT=/var/lib/athens \
   -e ATHENS_GITHUB_TOKEN=[my-github-token] \
   -e ATHENS_STORAGE_TYPE=disk \
   --name athens-proxy \
   --restart always \
   -p 3000:3000 \
   gomods/proxy:latest
`

Then exec into running container and make s

[2018-10-30 07:13] michalpristas commented on #830
what i think you need to do is to copy the token into your container. during build, there is no such process except copying of config file.
so i suggest to share a dir with your container pass it as volume `-v /var/lib/tokens:/my/path/tokens`
and then set `-e ATHENS_GITHUB_TOKEN=/var/lib/tokens/github_token`
i actually havent tried this. it's just from top of my head

[2018-10-30 07:14] marwan-at-work commented on #830
I think the docker hub image is an old or incorrect one. If you curl `localhost:3000/` against the docker hub container, you get the old html response instead of the simple string one.

[2018-10-30 07:17] arkadyb commented on #830
@michalpristas, it works just fine with docker images built from sources.
@marwan-at-work, with docker hub image i get huge logo and

With the one build from sources just `"Welcome to The Athen Proxy"`

[2018-10-30 07:19] marwan-at-work commented on #830
@arkadyb exactly. I think our CI/CD is not correctly building the docker image.

@michalpristas with the latest source code, providing the ATHENS_GITHUB_TOKEN should be good enough as it will create an appropriate .netrc file inside the container itself.

[2018-10-30 07:20] michalpristas commented on #830
oh i forgot it is a token itself not a path, sorry my bad

[2018-10-30 08:17] marpio commented on #703
No problem @scriptonist we're all busy!
It would be nice to have it ready for beta so that we cover all the major clouds. ATM we implement only part of the storage.Backend interface.
If you have any questions just ask here or on Slack (athens channel).

[2018-10-30 13:36] #794 closed

[2018-10-30 17:44] arschles commented on #822
cc/ @marwan-at-work - he might have some opinions on the reporting part as well

[2018-10-30 17:49] arschles commented on #829
I think this would be really useful for an "admin" API, and also for use in a UI for Athens - for example if you `GET /` it could list all the packages it has. That would be awesome

[2018-10-30 20:16] arschles commented on #830
oh no! I'll check into this and see what's going on here, thanks for bringing this up everyone!

[2018-10-30 21:15] marpio opened #835 "Implement storage.Backend for DO Spaces"
**Is your feature request related to a problem? Please describe.**
Digital Ocean Spaces https://www.digitalocean.com/products/spaces/ is a s3 compatible blob storage with nice pricing. It would be great to be able to use that as modules storage.

**Describe the solution you'd like**
Spaces is s3 compatible and can be used with the minio client we're already using. We could probably use the minio i

[2018-10-30 21:39] natezyz opened #836 "Add development.md docs to new contributing page"
We have docs here that can use some help (https://deploy-preview-833--gomods-athens.netlify.com/contributing/new/). Is it possible to update it with contents of Development.md?

As requested in #833.

[2018-10-30 21:58] fedepaol commented on #822
Just my 2 cents, but if a self explaining error is easy to implement (and I think it is), it will result in a better user experience and will prevent us to answer to a lot of "RTM" issues. I don't believe all the users will read through all the docs.

[2018-10-30 22:16] t-tomalak commented on #835
It's look like even at their example, they are using minio go client. So we could use integration that we already have in our `storage`. We probably have two options:

1. We could just create seperate config for DO (it will be clearer for user what he is using) and dedicated `New` method in `storage\minio`.

1. We could write to docs that in minio configuration you can pass also DO credentials but

[2018-10-30 23:02] #836 closed

[2018-10-30 23:11] manugupt1 commented on #829
Yep, I actually stole this proposal from you when you were talking about it on slack, totally forgot to mention it though.

[2018-10-31 09:45] chriscoffee commented on #703
I'm also happy to help if needed, I meant to mention that I'd be happy to work on it with you if you wanted to split the tasks up or pair or something. 👍 Thanks for taking the ticket btw

[2018-10-31 15:23] marpio commented on #822
Just for reference (copied from go):

[code]

[2018-10-31 17:08] #787 closed

[2018-10-31 17:35] arschles opened #842 "Build the commit SHA / Tag into the built Athens binary"
**Is your feature request related to a problem? Please describe.**

#830 has some doubt whether we're building and pushing the right docker image on CI builds. We can kinda sorta try and figure out whether there's a problem with trial and error and hand-inspecting the script that pushes, but it's not ideal and it's hard to be sure/

**Describe the solution you'd like**

It would be ideal if the bi

[2018-10-31 17:48] arschles commented on #830
I did some investigation. As everyone knows, every commit push to master (i.e. PR merges), a `canary` image and an image with the SHA as a tag get pushed. I looked at https://github.com/gomods/athens/commit/539072c6e35ef6afae643efffe5cafd097a2cf52, since that changed the home page from `Welcome to The Athen Proxy` to `Welcome to The Athens Proxy`.

Right now, `gomods/proxy:canary` and `gomods/prox

[2018-10-31 17:55] arschles commented on #835
+1 on adding to docs (I added that label), good idea @t-tomalak

[2018-10-31 21:44] marpio opened #843 "Don't tag proxy with `latest` on docker hub"
**Is your feature request related to a problem? Please describe.**
Don't tag `gomods/proxy` with `latest` on docker hub. As we saw in #830 this leads to all kind of problems and causes confusion since latest can mean many things.

**Describe the solution you'd like**
Here:
https://github.com/gomods/athens/blob/8f4e3dc3c0f5b8752829e02ef3be90b9774cb454/scripts/push-docker-images.sh#L24-L25
we tag wi

[2018-11-01 11:29] chriscoffee commented on #830
Just a bit of further information, `latest` was last tagged on `2018-08-27T14:45:24.541023Z`.

Also, here's a list of everything in the registry, along with when they were last updated.

[code]

[2018-11-01 14:57] t-tomalak commented on #835
Do we have seperate docs for storages which describe what storages are available, how to configure them etc.? Should we have one?

[2018-11-01 15:18] michalpristas commented on #835
I believe we don't, it would be great to have a section on storages with a walkthrough to help people set up any storage they like

[2018-11-01 15:49] t-tomalak opened #848 "Add documentation about Storages in Athens"
**Is your feature request related to a problem? Please describe.**
We already have support for many storages in athens: `memory, Mongo, S3, GCP, Minio, DigitalOcean Spaces` and more to come. It would be nice to have more documentation around that. eg. What storages are available, how to configure them.

**Describe the solution you'd like**
We should add new page (pages?) in our documentation which

[2018-11-01 15:54] t-tomalak commented on #835
Added issue for that. (https://github.com/gomods/athens/issues/848)