[2019-12-30 07:57] doddi opened #1512 "Reduce ValidationHook requests"
**Is your feature request related to a problem? Please describe.**
When making use of the [ValidationHook](https://github.com/gomods/athens/blob/master/config.dev.toml#L147-L150) configuration a module is validated against multiple times, one for each file request such as .mod, .info and .zip. Validating a module multiple times is unnecessary and could put a burden on the endpoint doing the valida

[2019-12-30 08:09] doddi opened #1513 "Improve ValidationHook responses"
**Is your feature request related to a problem? Please describe.**
The ValidationHook responses only respond with true/false depending on the HTTP status code response after validation. It would be useful to have context around validation failures.

**Describe the solution you'd like**
Optionally add JSON message to the response body that could include parameters such as:

  “reason”: “not found”,

[2019-12-30 13:19] fedepaol commented on #1474
Not sure why this is on hold, as it should be meant to replace our current e2e tests with something more elaborate.
#1449 on the other hand, is about replacing the interaction with the go executable with a mocked one.

[2019-12-30 18:36] davidpfarrell commented on #1404
(this popped up in my subscription to codeTriage so thought I'd take a peek)

I reviewed #1505  and think its the wrong approach - You're just kicking problem down the road to the next person who needs `';'` in their value.

Also, what if I want an `'='` or a SPACE in my value?

The only scalable approach is to parse the string sequentially and have one or more supported quote/escape patterns.

Sc

[2019-12-30 21:31] hypnoglow commented on #1404
@davidpfarrell Valid points.

But, personally, I cannot imagine that someone needs `;` in their values:
- For the specific vars mentioned in the issue, I've never seen Go import paths with `;`
- What Go-specific env vars support values that may need `;`?

Sure, there might be some rare use cases, but we should decide if we want additional complexity to support custom separators or just go with def

[2019-12-31 00:23] davidpfarrell commented on #1404
You realize @ kelseyhightower likely said those exact same words when he decided on the use of `,` for envconfig? :)

As an aside, one thing I didn't realize is that Athens treats this parsed value as an `[]string` and not `map[string]string` so nobody (neither Athens nor envconfig) is actually parsing the `key=value` pairs. (Additionally, envconfig requires `:` for maps so it couldn't parse it an

[2020-01-08 06:21] linzhp commented on #1323
We are using a private fork of Athens at Uber. We wish to contribute to the project and make it more flexible and extensible (e.g., #1511), so we don't have to maintain a private fork.

[2020-01-08 22:20] arschles commented on #1323
@linzhp I'm glad that Athens seems to be working for you! I'll check out #1511 as soon as I can

[2020-01-09 13:21] matejvelikonja commented on #1432
cannot reproduce it anymore. looks like it's fixed.

[2020-01-09 13:21] #1432 closed

[2020-01-10 17:06] marwan-at-work commented on #1511
@linzhp that sounds good to me.

A couple of implementations I have in mind:

1. The cache can live in the storage itself
2. The cache can just be in memory using something like https://github.com/dgraph-io/ristretto (since we can memory-bind it)
3. The cache can be a new storage type that is cache-oriented such as Redis and group/mem-cache

Option 1 is the most straight forward but requires updat

[2020-01-10 18:44] marwan-at-work opened #1521 "Always Use Request Logger"
One of the main confusions is that GoEnv disabled our Request Logger Middleware if the GoEnv=production.

That is mainly because we just fmt.Println the log line where we should be using our proper logger.

We should make it so that the middleware is always in use, and if an Athens user wants to not see these logs, then they can just set their LogLevel to something higher than INFO

In a related n

[2020-01-13 21:29] #1501 closed

[2020-01-13 21:49] fedepaol commented on #1503
Hey, can I work on this?

[2020-01-13 22:09] teaguecole commented on #1460
I will start working on `We could publish a tweet to the @gomodsio Twitter account when we publish a new GitHub release`.  Not sure if this is the best way to manage/track which of the ideas in #808 are being worked on.

[2020-01-13 22:28] arschles commented on #1460
@teaguecole awesome. thanks!

[2020-01-14 00:22] xytan0056 commented on #1511
One downside of this is it won't work in distributed environment. Because memory cache doesn't consult peers, there's a chance that users see different results of the same request.

[2020-01-14 14:49] linzhp commented on #1511
That's a good point. Also Option 2 means each node needs to request a copy of the list from VCS, which involves more VCS traffic than Option 1. However, updating the storage interface and all its implementations sounds scary...

[2020-01-15 00:00] marwan-at-work commented on #1511
One thing to realize is the following:

The "go list" command only runs  in two endpoints: `<import-path>/@v/list` and `<import/path>/@latest`.

In other words, if you have a resolved go.mod file and you run a `go build/get/etc`, the `go list` should _never_ be called.

Those two endpoints are only ever called when you are onboarding a new module to your system.

In a CI/CD environment, `go list`

[2020-01-15 00:39] linzhp commented on #1511
A bit context:

We generate Go code on the fly at build time. When we generate Go packages from the proto files of [Apache Mesos](https://github.com/apache/mesos/tree/master/include/mesos) , the import path will become `github.com/apache/mesos/include/mesos`. With Go 1.12, `go mod tidy` will download the latest version of `github.com/apache/mesos` without adding it to the `go.mod` file, because it

[2020-01-15 00:51] marwan-at-work commented on #1511
@linzhp thanks for the context. The `go mod tidy` situation you described is very interesting. I don't have a full grasp of what's going there but I'd love to dig a bit more, probably outside of the context of this issue.

But to stay on topic, yes I imagine the cache will be configurable and most likely opt-in. What we can do is introduce it as an optional interface, similar to how http.ResponseW

[2020-01-15 09:01] dhiemaz commented on #1502
@arschles, I want to help for this.. :)

[2020-01-15 21:36] marwan-at-work opened #1526 "Include Documentation about our Dev Releases"
On every commit, we push a new image to docker hub. This means that people can lock their Athens deployment to a commit sha without worrying about it changing from under their feet (i.e. Canary builds) as well as without having to wait for our official releases.

The dev releases are kept in a separate docker hub repository here: https://hub.docker.com/r/gomods/athens-dev/tags

However, this is no

[2020-01-15 22:45] geototti21 commented on #1473
@arschles I am happy to pick this up, if you can give a little more context and a small example with what you mean with: 🙏

[2020-01-16 23:21] arschles commented on #1510
Closing because we're back 😄

[2020-01-16 23:21] #1510 closed

[2020-01-16 23:22] arschles opened #1528 "Add documentation for ATHENS_GITHUB_TOKEN"
The [config docs](https://docs.gomods.io/configuration/authentication/) for authenticating to private repos don't talk about [`ATHENS_GITHUB_TOKEN`](https://github.com/gomods/athens/blob/15733395eb9d7bf1e156e0e702173d8cb1198f67/config.dev.toml#L173), but they should!

[2020-01-19 19:45] marwan-at-work opened #1529 "v0.7.1 Docker Image Does not work when GO_ENV = production"
It was reported on slack that the config.toml does not have the right permissions inside the Dockerfile.

This is because we enforce `rwx,---,---` permissions on the config file if go_env=production.

I never enjoyed `chmod`'ing things or dealing with permissions, but I imagine this is a necessary security feature...if anyone thinks otherwise, I'd be more than happy to remove it since it's a weird

[2020-01-20 00:14] #1529 closed

[2020-01-20 13:24] avivdolev commented on #1506
Hi,
My situation is much like @RonAmihai 's
I thought I found a better alternative to pacmod: Run an Athens instance on my online machine, with storage configuration set to "disk", then copy the whole directory (with the correct folder structures, .mod and .info files).
However, I ran into this problem (v0.7.0):
`localhost:3000/modulename/@v/list` just returns `404`, because Athens tries to run `g

[2020-01-20 18:26] #1513 closed

[2020-01-20 22:47] marwan-at-work commented on #1404
I think in this particular case it's okay to introduce a breaking change for a couple of reasons:

1. Athens is not yet v1.x.x and that's precisely why we're not v1 yet...which is to catch these mistakes and make sure they UX is correct. Unfortunately, it will be at the expense of our users but we'll do our best to announce it and provide guides on how to move forward

2. In this case a breaking c

[2020-01-20 23:25] #1521 closed

[2020-01-21 10:56] avivdolev commented on #1511
Another consideration - completely offline environment.
We described it here #1506

@marwan-at-work I think that even without implementing the ListCacher interface-to-be , these endpoints should return the local catalog of versions instead of an error when the VCS is unavailable, or at least have an optional configuration to do so.
That will enable pre-loading the storage manually.
Could be implem

[2020-01-21 23:34] timraymond commented on #1473
@geototti21 I put this Terraform module together last year to deploy Athens to a DO droplet: https://github.com/timraymond/terraform-athens-digitalocean

I _think_ it still works... though I haven't tried recently. It may need updating with some slight changes in the DO provider. The only acrobatics that had to be done were here to get persistent storage: https://github.com/timraymond/terraform-at

[2020-01-24 15:20] #1404 closed

[2020-01-27 13:07] hypnoglow commented on #1404
Amazing! @marwan-at-work thank you for the great work!

[2020-01-28 23:09] linzhp opened #1532 "Availability vs. correctness in list API"
**Is your feature request related to a problem? Please describe.**
When Athens is serving list API, it issues request to both storage and VCS and merge two lists. It [fails if there is a storage error](https://github.com/gomods/athens/blob/master/pkg/download/protocol.go#L97). I understand this is to guarantee that Athens returns tags that are deleted from VCS but cached locally can be returned.

[2020-01-28 23:43] marwan-at-work commented on #1532
@linzhp

If storage is down, pretty much nothing will work. Athens always serves from the storage, never directly from `go mod download`

1. If VCS is down, and you have a resolved go.mod file, then everything should still work. This is because the list endpoint never gets hit.

2. If VCS is up, but the repo got deleted, we actually continue to work by just "listing" the versions from the storage.

[2020-01-29 16:19] twexler commented on #1532
It sounds like this could be solved by offering a configuration option that allows the operator to determine which they prefer. It will increase code complexity a tad bit, but allow the operator to specify the behavior they prefer.

Thoughts?

[2020-01-29 16:24] marwan-at-work commented on #1532
@twexler re-iterating my point 3 above:

[2020-01-29 16:29] marwan-at-work commented on #1532
I hesitate towards adding another configuration since our config file is already gigantic. But if people think it's definitely nice to have, then I'm okay with that.

Also the original issue makes an assumption that if Storage is down then Athens would continue to work which is not true.

Therefore, I'd like to get a second feel on whether the current behavior still makes sense or the configuratio

[2020-01-29 16:49] duedal commented on #1323
Unity.com (video game engine etc) is using Athens, as a recent hire at Unity, I was frustrated with the use of vendoring, so I was happy when I found Athens to help me get rid of it.

Our primary reason for using Athens is to provide access to private go modules, so I put athens behind an envoy proxy with custom authentication, for easy use with the various different CI solutions we run at Unity.

[2020-01-29 21:11] twexler commented on #1532
Oops, sorry @marwan-at-work. I was speed reading while having my first coffee of the day and missed that.

We can also use the new

I can see both sides of the argument from my previous experience (having dealt with VCS outages _partially_ breaking my builds and having internal caches hide breakage from me). I think there may be a reasonable middle ground.

I see a few of approaches to realize tha

[2020-01-29 21:32] fedepaol commented on #1500
To add an alternative, I had a good experience with https://github.com/ory/dockertest which seems to solve the same problem.

[2020-01-31 18:31] linzhp commented on #1532
I realize my original description of "storage down" is very confusing, and I didn't provide our context. My apologizes.

We experienced a partially down storage earlier this week. Most of the APIS of the storage worked except the storage.List. So even when Athens got a pretty good list of versions from VCS, users still got 500 errors. Let me rephrase the two scenarios of list API:

1. storage list

[2020-02-02 10:53] praseodym commented on #1532
Currently Athens is a little hard to use in offline environments (such as one described in the [the 'pre-filling disk storage' docs scenario](https://docs.gomods.io/configuration/prefill-disk-cache/)) because there's no way to find out what module versions Athens has available, aside from looking at the actual files in storage. A list API that works without connecting to the upstream VCS would be

[2020-02-02 10:59] praseodym commented on #1506
There's a discussion going on about this in https://github.com/gomods/athens/issues/1532 :slightly_smiling_face:

Currently `GOSUMDB=off` is the best way to go. The idea behind having a checksum server is that there's a third party that ensures the proxy is behaving as expected. Having Athens serve its own checksums defeats that purpose.

[2020-02-04 12:32] Dominik-Robert opened #1534 "Support for running athens behind a company proxy"
Hello, I'm trying to run the athens proxy in my company but it failed with a 404 error. I think he can't get the resource from the VCS from the internet. One more problem is that we have a proxy certificate, so the certificate is invalid.

I dont know if it is already supportet but it would be great if you can implement a support for own ssl-certificates and an option to run this behind a company

[2020-02-04 13:22] chriscoffee commented on #1473
Hey @geototti21 👋

How you getting on with this?

Do you mind if I take it over, or work on it together with you? I'm also happy to update the digital ocean example @timraymond suggested above to v0.12 if that's something you were doing?

[2020-02-05 23:45] arschles commented on #1506
Adding to @praseodym, in an untrusted environment that deals with private code, it would be ideal (in my opinion) if Athens could serve checksums for that private code. I don't know if there is such a thing as an untrusted environment that deals with private code, though.

More importantly, it is impossible to have `sum.golang.org` to serve one part of the checksum tree and have Athens serve the o

[2020-02-07 07:52] RaymondKYLiu opened #1537 "Bump aws-sdk-go to latest version"
Hello,

I have deployed Athens in EKS, we need to enable s3 storage, but failed to assume role via an OIDC web identity token file.
Because aws-sdk-go v1.15.24 https://github.com/gomods/athens/blob/ba40b8f76daff911ac293bbdd0eb4d3b3b6acc23/go.mod#L15 is not supported.

This [article](https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts-minimum-sdk.html) shows the minimum

[2020-02-07 19:49] marwan-at-work commented on #1511
Sorry everyone, work has been busy. I'll get back to reading and answering as soon as I can.

But I just thought of an idea that would also unblock anyone here that needs "offline mode" or "partial responses":

You can create a side-car GOPROXY that you set "GoBinaryEnvVars" to point to.

The GOPROXY will do 1 of the 2 things:
1. For offline mode, never run "go list", just return an empty response

[2020-02-07 22:09] linzhp commented on #1511
After upgrading to Go 1.13 and properly handling packages like `github.com/apache/mesos`, we no longer have this performance issue. So we removed our custom logic related to the list API. Closing this one.

[2020-02-07 22:09] #1511 closed

[2020-02-10 18:48] #1476 closed

[2020-02-10 20:05] wburningham opened #1539 "Add option to set encryption key for storage"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I have two use cases where data needs to be:
1. "encrypted at rest" (for file storage backend)
2. "encrypted in the runtime/process" even though TLS encrypts HTTP traffic and even though some storage providers may provide encryption at rest

[2020-02-10 23:48] arschles commented on #1476
@daxmc99 hopefully you got your setup working. If you have more questions, just let us know!

[2020-02-10 23:50] daxmc99 commented on #1476
I did!

Thank you!  Currently running latest over here and haven't had any issues

[2020-02-10 23:50] arschles commented on #1511
@linzhp are you able now to get onto the mainline Athens branch?

[2020-02-10 23:50] arschles commented on #1476
That's great news. Thanks for letting me know 😄

[2020-02-11 00:22] linzhp commented on #1511
Not yet. We still have to fork in order to:
*  work around #1450
* collect metrics (we may be able to remove this, @xytan0056)
* work with our internal storage API (this is less intrusive)

[2020-02-11 01:57] arschles commented on #1511
Got it. For #1450, I'll have another look and see if we can fix it faster. For metrics, if we can help, let me know. For your internal storage API, in the past we've tried to implement a generic storage driver. One try was based on gRPC and the other was an HTTP based implementation. Would either of those help?

[2020-02-11 01:58] arschles commented on #1537
@RaymondKYLiu thanks for bringing this up. Would you be up for creating a new PR to bump the version? If not, that's totally ok. Just let us know 😄

[2020-02-11 02:00] arschles commented on #1506
@RonAmihai we threw a lot of information in this issue, so I'm wondering if your original question got drowned out. Can you let me know if things are still not working for you, and if you still have questions?

[2020-02-11 02:00] arschles commented on #1500
Thanks @ClaytonNorthey92 that helps. @fedepaol do you have any code you can link to that uses `dockertest`?

[2020-02-11 02:03] arschles commented on #1416
@brian73286 I haven't been active in this issue for some time, sorry about that. If the issue is still happening, let me know and I'll help debug some more.

[2020-02-11 02:06] arschles commented on #1539
@wburningham for the 2nd requirement, could Athens encrypt before sending to S3 and decrypt in-memory after receiving data?

Also, do you have code that you can share from your own proxy app? We can use that and work together to submit a PR back to Athens if you'd like

[2020-02-11 02:08] arschles commented on #1424
@volker-raschek I am going to close this issue, but we're happy to continue the conversation. If you'd like to do so, can you comment here or open a new issue? Thanks!

[2020-02-11 02:08] #1424 closed

[2020-02-11 02:13] arschles commented on #1534
@Dominik-Robert Athens gets code from the VCS on-demand, so if it can't reach the internet, you'll need to pre-load code yourself. See [this document](https://docs.gomods.io/configuration/prefill-disk-cache/) for how to do that with disk storage.

Regarding custom TLS certificates, Athens runs unsecured by default, but you can specify your own with these configuration variables

https://github.com

[2020-02-11 03:15] wburningham commented on #1539
The code that I had from my own app was already in it's own package so I just submitted a PR with what it could look like.

[2020-02-11 04:09] marwan-at-work commented on #1539
I think this is a perfect use case for https://github.com/gomods/athens/pull/1353

Maybe it's worth revisiting so that we don't inflate our backend implementations.

Admittedly, encrypting/decrypting modules within the Athens codebase sounds pretty damn cool ;)

But I worry about the following:

If we were to claim Athens has encryption within its codebase, then people will trust it and cryptograp

[2020-02-11 06:00] linzhp commented on #1511
Our internal storage API comes with its own Go client, so we implemented a `storage.Backend` to call that client and added a `case` [here](https://github.com/gomods/athens/blob/master/cmd/proxy/actions/storage.go#L24). I am not sure if there is a way to plugin a new `storage.Backend` without changing Athens' codebase.

I will work with @xytan0056 to identify gaps on metrics

[2020-02-11 07:03] xytan0056 commented on #1511
We currently use [tally](https://github.com/uber-go/tally) to directly emit metrics data to [m3db server](https://github.com/m3db/m3). However, the latter doesn't seem to have a compatible exporter. We can probably do some [tweaks](https://m3db.github.io/m3/integrations/prometheus/) around our infra though. Need some time to research.

[2020-02-11 08:52] fedepaol commented on #1500
I used it in my previous job, but IIRC the examples are pretty clear: https://github.com/ory/dockertest/tree/v3/examples

It uses the docker go lib to spin up what's needed, and an exponential backoff to wait for it to be ready before launching tests

[2020-02-11 19:40] arschles commented on #1473
I have some in-progress stuff [here](https://github.com/arschles/athens-azure/tree/master/tf). It's Azure-specific, but if it helps feel free to steal it 😄

[2020-02-12 05:50] Dominik-Robert commented on #1534
Thank you for your answer. I get it running with preload code, but is it possible that athens fetch the code from VCS from the internet behind a company proxy?

[2020-02-12 08:36] geototti21 commented on #1473
👋 hey @chriscoffee @arschles , I didn't start it yet but I will do something with AWS Fargate so feel free to go ahead with the digital ocean one 😄

[2020-02-12 19:39] arschles commented on #1534
@Dominik-Robert it depends on the proxy, I suppose. Athens doesn't have built-in support for any proxy protocols. Is that what you'd need?

[2020-02-13 00:11] arschles commented on #1473
@geototti21 sounds good 👍 . I am going to close this issue and open one just for AWS fargate. @chriscoffee @timraymond let me know if you would like me to open one for DO. I'll do one for Azure after GopherCon planning is done

[2020-02-13 00:14] arschles opened #1543 "Add a terraform module for AWS Fargate"
In https://github.com/gomods/athens/issues/1473, we discussed the various terraform modules that might be useful to have. @geototti21 volunteered to do Fargate module.

cc/ @geototti21

[2020-02-13 00:14] arschles commented on #1473
Closinig in favor of #1543

[2020-02-13 00:14] #1473 closed

[2020-02-13 01:08] arschles commented on #1532
@praseodym would the `/catalog` endpoint work for you? ([example](https://athens.azurefd.net/catalog))

[2020-02-13 09:19] geototti21 commented on #1543
Thanks 🙌 , feel free to assign it to me 😄

[2020-02-14 00:25] arschles commented on #1532
I think this is a really important issue along with the better offline support in #1506 and https://github.com/gomods/athens/issues/1532#issuecomment-581123313 above. I also think these two issues are related.

I don't think an Athens running with default configuration should work if there's a storage outage, even if some of the APIs still work. That behavior would violate the primary and original

[2020-02-14 00:35] arschles commented on #1490
@bluekeyes sorry I haven't gotten back to you in so long. My travel schedule has calmed down significantly so I hope to be able to have an ongoing discussion.

I'll get #1492 into a better state so we can get logs for `DownloadMode` into the next release. Also, from #1336, it sounds like the next step is to mark fields as required. Would you be up for submitting a PR with `required` tags on some o

[2020-02-14 07:02] linzhp commented on #1532
I like the idea of `MODE=offline-list`. It's an alternative solution to #1511. And the `MODE=best-effort-list` is basically what I need for this thread.

[2020-02-14 17:45] arschles commented on #793
Closing because we’re doing pretty well with reviews and manually merging.

[2020-02-14 17:45] #793 closed

[2020-02-14 20:24] arschles commented on #1532
glad to hear it @linzhp. I'll try to solicit some more opinions and hopefully we can come up with a good solution and build it

[2020-02-14 20:30] arschles commented on #1532
I [tweeted](https://twitter.com/arschles/status/1228415018389008386) a request for people to come comment here

[2020-02-14 20:55] arschles commented on #1532
also note that the Go team settled on a similar behavior for their public proxy as what `MODE=offline` or `MODE=offline-list` (depending on the state of the upstream repo and connectedness to the internet) would do.

https://github.com/golang/go/issues/37079#issuecomment-583089198

[2020-02-15 01:47] arschles commented on #1543
@geototti21 done 👍

[2020-02-15 01:50] arschles commented on #1500
Good to know. Both sound like they could work well for us. @fedepaol or @ClaytonNorthey92 would either of you be up for opening a PR with a small prototype?

[2020-02-15 02:13] arschles commented on #1511
@linzhp we have had some folks try to build new & more generic backends so they could also run Athens with their specific backend without recompiling Athens. Tons of reading on this if you're interested: #1110, #1131, #1459, #1130. Somewhere in one of those PRs, we discussed a gRPC based API that Athens can use to performantly talk to a storage server.

If that would work for you, we can try to ma

[2020-02-15 02:17] arschles commented on #1539
As it happens, I was just commenting on an unrelated issue where the author could use something like #1353. Maybe it's time 😄

If we do any encryption work, I'm all for putting a big disclaimer that we're not experts, until we get someone to audit and/or champion the implementation

[2020-02-15 18:26] marwan-at-work commented on #1539
@arschles ideally I'd go for 1353 first, it would also help keep the Athens code base smaller and easier to maintainer since we already have a big number of implementations. I definitely don't wanna block anyone tho in case this is absolutely needed 👍

[2020-02-15 19:21] ClaytonNorthey92 commented on #1500
@arschles yeah I would like to! I should have time this weekend.  For the prototype, what functionality would you absolutely want to see?

Reading through the docs, the main thing I think it should cover is:
* given a container A running Go, and a container B running Athens, ensure that the Go environment in container A can successfully be configured to download packages that have been installed i

[2020-02-15 19:54] fedepaol commented on #1500
For this, please note that that script is being replaced by a full fledged go test suite in a PR [1] which should merged soon.

[1] https://github.com/gomods/athens/pull/1514

[2020-02-15 21:26] ClaytonNorthey92 commented on #1500
@fedepaol ah thank you for the link, I will follow what occurs in that test suite rather than `test_e2e.sh`

[2020-02-16 18:58] mplachter commented on #1007
I would like a way to either toggle this off or just remove it. This does add deployment complexity when running in a docker container as a random runtime user.

[2020-02-17 03:20] ClaytonNorthey92 commented on #1500
hey @fedepaol and @arschles , I have a small prototype draft pull request here:
https://github.com/gomods/athens/pull/1544

I few things to note:
* @fedepaol I know you mentioned your other pull request that updates the end to end tests, I opted not to modify those, I only use testcontainers for redis, mongo, and minio (I think that might have been what @arschles had in mind based on the first com

[2020-02-17 21:08] Dominik-Robert commented on #1534
Yes I need that. Is it possible to support that?

[2020-02-17 23:33] linzhp commented on #1511
I think it's a good idea to have some plugin architecture to support custom storage backends without forking Athens. Keep me posted on the progress

[2020-02-18 00:36] marwan-at-work opened #1546 "Integrate with pkg.go.dev"
Now that pkg.go.dev will be open sourced (more here https://groups.google.com/forum/#!msg/golang-dev/mfiPCtJ1BGU/OZ9cU3SgBgAJ)

This is a place holder ticket to see if/how we can integrate Athens with it :v:

[2020-02-18 07:24] xytan0056 opened #1547 "[question] What is use of @Delete method in Storage interface?"
Since the storage of module is immutable, we should not delete a stashed module, then do we need to have a [deleter](https://sourcegraph.com/github.com/gomods/athens/-/blob/pkg/storage/deleter.go) at all?

[2020-02-19 17:58] marwan-at-work commented on #1547
I think this will be helpful if we ever need to do migrations of an underlying storage which I imagine is only necessary until we have a v1 then we can remove it.

Happy to hear more opinions

[2020-02-19 18:47] xytan0056 commented on #1547
We just happened to have done such a migration recently. We wanted to switch storage location, but then realized that there's a chance that a newly stashed module can have a different sum than existing one, resulting in mismatched checksum for users. That means we cannot permit a change/deletion of modules in storage.

[2020-02-19 19:24] marwan-at-work commented on #1547
Do note that this functionality is not exposed in the http server, so there's no way for someone to delete a module by calling an endpoint on Athens.

If you are doing a migration, I imagine copying the modules to the new storage will ensure the same sum, and then you can delete modules from the old storage once everything looks good.

The scenario I see for Athens to use this Delete method is the

[2020-02-19 21:17] xytan0056 commented on #1547
By migration, I meant we changed the way we stash modules. However we can't delete the old modules because re-stashed ones will have different sums.

for 3, do you mean do this in config? config read is a one time thing, how can athens know that the storage changed?
for 4, Don't we still have to keep old instance up or somehow call the `Delete` method within Athens if we want to remove old storage

[2020-02-19 23:37] arschles commented on #1547
@xytan0056 which storage driver you are using now?

[2020-02-19 23:38] #1474 closed

[2020-02-19 23:54] arschles commented on #1511
@linzhp will do. We would like some details on what specific functionality you would need to be able to use it at your company. For example, if we did a straightforward HTTP API that matches the Go proxy download API, would that be enough for you?

[2020-02-19 23:56] arschles commented on #1474
sorry @fedepaol, I meant to remove the on hold label before I merged #1514. I agree with what you said in https://github.com/gomods/athens/issues/1474#issuecomment-569676633

[2020-02-20 00:13] arschles commented on #1007
@lanmingle I apologize for not getting back to this issue sooner. I understand that lots of folks including you don't like the way that Athens treats permissions of the `config.toml`. Thank you for telling us that it's a problem for you, and that you're unhappy with it.

However, next time can you please tell us in a more respectful way? Here is an example: "I don't think that this access control

[2020-02-20 00:28] arschles commented on #1007
Since this issue is coming up again, I'd like to address it more completely. Sorry for our lack of attention earlier.

We do the permissions check [here](https://github.com/gomods/athens/blob/27f36834161274dd3b98f8547a1aea1f536f643d/pkg/config/config.go#L323). I haven't done binary AND calculations by hand in a while, but I think the calculation is right, and the error string is wrong. Hopefully s

[2020-02-20 00:38] arschles commented on #1546
One idea - we could add it to some of our deployment artifacts. For example, you could install the helm chart and it would optionally have a doc server all set up alongside your Athens server.

Obviously depends on if the server is easily packaged up in an image and easily deployed

[2020-02-20 00:41] arschles commented on #1534
@Dominik-Robert behind the scenes, Athens uses the `go` CLI to do its interaction with the internet at-large, so we wouldn't need to make big changes to the Athens codebase to do this. What protocol(s) would you need to support?

[2020-02-20 00:50] xytan0056 commented on #1547
@arschles Our internal storage. We had to implement the API ourselves. I'm just wondering if we need to delete modules at all

[2020-02-20 02:16] arschles commented on #1421
@awkj would this solve the problem you are seeing? Otherwise, is there an easier way that would help you?

I am going to close this issue now, but please feel free to comment here. I will get the notifications if you do, and come back to respond.

[2020-02-20 02:16] #1421 closed

[2020-02-20 02:19] arschles commented on #33
Hopefully this will be solved by the open sourcing of `pkg.go.dev` (#1546). [moddoc](https://github.com/marwan-at-work/moddoc) is an option too.

Regardless, I am going to close this because I'd like to keep a doc server out of the core Athens codebase

[2020-02-20 02:19] #33 closed

[2020-02-20 02:21] arschles commented on #348
We are using opencensus now, and have merged our error handling with logging. So far, this seems to be working fine. I'm going to close this now.

[2020-02-20 02:21] #348 closed

[2020-02-20 02:22] arschles commented on #1509
We've are `sleep()`-ing longer and are not seeing many flakes anymore. I'm closing this now. If flakes come back, a new issue will naturally be created.

[2020-02-20 02:22] #1509 closed

[2020-02-20 02:23] z2665 commented on #1007
@arschles  Yeah,the calculation is right,but the error prompt may not be clear for me.  The error prompt will tell a bit mask value, but the value entered by using chmod to modify permissions should be the value masked by the bit mask. So I don't get it  at that time. I think this may cause some puzzled for first-time users.

[2020-02-20 02:23] arschles commented on #1493
cc/ @marwan-at-work - I remember you had an opinion on this, but I don't remember what it is. Any thoughts now?

[2020-02-20 02:26] arschles commented on #1105
we seem to have landed on caching in here, and we have a more specific use case in #1468. I am closing this now in favor of discussing specifics there

[2020-02-20 02:26] #1105 closed

[2020-02-20 02:29] arschles commented on #1470
@pjediny my apologies for letting you hang for so long. What version of Athens were you using when you hit this problem? There was a change to the checksum calculations between two releases of Go

[2020-02-20 02:33] arschles commented on #1489
@xytan0056 have you found a way to fix this with the download mode file?

I am going to close this issue now, but please comment here if the issue is not fixed. I will get a notification that you commented, reopen it, and continue our discussion.

[2020-02-20 02:33] #1489 closed

[2020-02-20 02:35] arschles commented on #1459
@raulk do you still need this feature? I'm happy to go and figure out how to implement it.

[2020-02-20 02:38] arschles commented on #1315
@daqingshu sorry for the delay. yes, the difficult point is having Athens download from `git.corp.com/golang/appengine@v1.6.5` - that is because the `go.mod` file doesn't match up.

[2020-02-20 02:47] arschles commented on #1320
@xyt0056 if you run the Athens binary on your machine, it will pick up whatever `go` binary you have installed, by default. You can configure it to point to a custom binary, however.

We do have a [docker image](https://hub.docker.com/r/gomods/athens) that is pre-packaged with the right `go` binary, and we use that as our hermetic solution. It should work the same way on development machines and i

[2020-02-20 02:47] #1320 closed

[2020-02-20 02:52] arschles commented on #1169
unfortunately, we are not doing dev meetings regularly anymore, partially because we can't find a good time for enough people to come. we have folks in GMT/CET time zones, North/South America time zones, and Asia/Pacific time zones! on the plus side, I'm proud that there are Athens users and developers all over the world. So, I am going to close this.

Sidenote: I do office hours and screencasts e

[2020-02-20 02:52] #1169 closed

[2020-02-20 02:53] arschles opened #1548 "Add integration/e2e tests for s3"
Please see #1078 for details. This is a continuation of that issue.

[2020-02-20 02:54] arschles commented on #1078
I'm going to close this since we have tests against Minio which largely cover S3. I am going to close this and have created #1548 to follow up on the s3 specific tests

[2020-02-20 02:54] #1078 closed

[2020-02-20 03:29] arschles commented on #262
This is very broad and I'm going to close it. We have several specific issues & PRs in progress right now that are splitting up and expanding our tests.

[2020-02-20 03:29] #262 closed

[2020-02-20 03:30] arschles commented on #301
Agree with you @marpio (1.5 years later 😆 ) - closing

[2020-02-20 03:30] #301 closed

[2020-02-20 03:32] arschles commented on #922
This is done now. There's a description of how our docker tags are set up, and several links back to GitHub. Closing

[2020-02-20 03:32] #922 closed

[2020-02-20 03:32] arschles commented on #734
Sadly we're not doing dev meetings reliably anymore, so I'm closing this

[2020-02-20 03:32] #734 closed

[2020-02-20 03:34] arschles commented on #706
@VineethReddy02 I am going to close this issue for now. If you're interested in helping with GSoC this year, please comment in here or open a new issue. If you do the former, I'll still get the notification and come and open this issue back up.

[2020-02-20 03:34] #706 closed

[2020-02-20 03:37] arschles commented on #587
@ajstarks I am going to close this, since you don't need it now. If it comes back up, comment here and I'll get the notification and come open the issue back up.

[2020-02-20 03:37] #587 closed

[2020-02-20 04:04] mplachter commented on #1007
@arschles the issue comes into play when the docker runtime user is a UID of a random user that does not have a user group. Since the random user does not have a user group you cannot chown or chmod the files or directories.

[2020-02-20 12:28] pjediny commented on #1470
@arschles
Versions:
- athens version 0.7
- go  v1.13.8

same thing happens inside of the container:
[code]

With `GOPROXY=direct`
[code]
When I'm not using the proxy env var it defaults to `GOPROXY="https://proxy.golang.org,direct"` and it downloads with no problem, same behaviour as outside of the container.

I suspect the fabric 1.4.4 used go 1.11.?, maybe there is some problem with the checksum

[2020-02-20 17:52] xytan0056 commented on #1511
@arschles #1131 is actually what we considered previously, however, when calling our internal storage using raw HTTP, **we must specify some specific params in header or query param**. This involves modifying go code with pieces specific to our company.
Another approach will be directly using S3 client, but then we'll need to hardcode the credentials in config.toml, which raises security concern.

[2020-02-20 19:48] xytan0056 commented on #1489
We did the same -- stash the old module. For now it's fine. Thanks for the tips about download mod. I will try it out

[2020-02-20 22:24] arschles commented on #1489
You got it @xytan0056. If you have more questions, we will always be here to help 😄

[2020-02-20 23:11] marwan-at-work commented on #1534
Just an FYI: if you can `git clone` a repo from within the VM that Athens is running on (whether it's exposed to the internet or within your company VPN), then Athens should be able to reach it as well. As long as you configure git correctly from within that VM and/or configure the `.netrc` file in Athens as well: https://github.com/gomods/athens/blob/master/config.dev.toml#L182

[2020-02-21 17:37] arschles opened #1550 "Copy config.dev.toml to the docs page"
**Is your feature request related to a problem? Please describe.**

We get good questions about config directives in Athens. We don't have all the configs documented on `docs.gomods.io`, and it would be hard to keep the docs site up to date with the config file.

**Describe the solution you'd like**

The config file itself is well commented, so I'd like it to show up on the docs page.

**Describe

[2020-02-21 17:39] arschles commented on #1511
@xytan0056 what if you used the [environment variables](https://github.com/gomods/athens/blob/ed703ee63dcf0418d9ce662baf8dee78097dbb1e/config.dev.toml#L395) to configure s3 credentials?

[2020-02-21 17:44] arschles commented on #1502
@dhiemaz please do! I just created a new issue #1550 with an idea of how this might be done more easily. What do you think about that?

[2020-02-21 17:46] arschles commented on #1512
@doddi sorry for the long delay. I don't see a reason why we shouldn't do this. I'll assign myself and send a PR as soon as I can. If you'd like to do it before me, just comment here and it's all yours 😄

Hope you have a good weekend!

[2020-02-21 18:23] arschles commented on #1539
Agreed on #1353. Looks like that PR hasn't had any activity for a while, so I'm gonna open a new draft with a simple implementation and we can start there.

[2020-02-21 19:35] pjediny commented on #1470
I have looked deeper into this and the cached version at proxy.golang.org is different from the github version. It looks like fabric moved the tag to fix some issues with their release. So this is not an issue at the athens proxy side.

One thing could be improved at the athens side in this case: 500 internal service error is not really descriptive.

[2020-02-21 19:35] #1470 closed

[2020-02-21 20:40] arschles commented on #1500
@ClaytonNorthey92 sorry I missed this issue. I made some comments on #1544 about drone io and possibly using GitHub actions for those tests. I think that is a good idea, because we're already thinking about doing some more in #1460. I saw you responded there, so I'll move discussion there. Just wanted to make sure you know I'm not ignoring you 😄

[2020-02-21 20:47] arschles commented on #446
I totally lost track of this one. Sorry @bndw - I agree that too much is subjective. I would say that Athens by default emits a "medium" amount of cardinality, and then you can turn it up as needed, via a config variable. Not sure about this, but would you be open to having Athens emit more metrics as the log level goes up?

[2020-02-21 20:50] arschles commented on #138
@xiaoyunyang I'm going to close this issue now. If you'd still like to write more tests, please feel free to comment here or submit a PR. If you comment here, I'll still get the notification and we can continue the discussion. Cheers! 😄

[2020-02-21 20:50] #138 closed

[2020-02-21 20:52] arschles commented on #735
The deployment is being done from [here](https://github.com/arschles/athens-azure) now, and I'm working on updating the whole architecture based on Terraform and Kubernetes (I wrote about it briefly [here](https://arschles.com/blog/athens-on-azure-kubernetes-service/)). Once that is done, I'll be able to do deployments fairly easily, all via GH actions. At that point, I can pretty easily hook this

[2020-02-21 20:52] #735 closed

[2020-02-21 20:56] arschles commented on #893
We've discussed this a few times and decided this caching logic shouldn't live inside of Athens. We are discussing an "offline mode" in #1506, which will treat the list endpoint as immutable. If Athens gets an offline mode, then caching will become unnecessary if you run it in that configuration. If you were to still run it in online mode configuration and still want caching, the best thing to do

[2020-02-21 20:56] #893 closed

[2020-02-21 21:07] arschles commented on #776
I'm going to close this now. We can always re-open if folks are actively deploying to GAE flexible env.  We have GAE standard environment [docs](https://docs.gomods.io/install/install-on-gae/) now as well.

[2020-02-21 21:07] #776 closed

[2020-02-21 21:43] arschles commented on #489
Looks like go-cloud is `v0.19.0` at the moment, so I'm going to close this. If someone wants us to pursue moving over, I'm cool with it. I just didn't want to have this issue hanging around for more years 😉

[2020-02-21 21:43] #489 closed

[2020-02-21 21:45] arschles commented on #850
I'm going to close this b/c of what @marwan-at-work said above. Also, since we last checked in on this issue, we've done a fair bit of customization for the s3 backend to handle various auth situations.  I don't think it's worth writing a migrator for Minio and handle the s3 specific things, just so we can unify the 2 storage backends.

[2020-02-21 21:45] #850 closed

[2020-02-21 21:46] arschles commented on #213
I'm closing this for the same reason as #735

[2020-02-21 21:46] #213 closed

[2020-02-21 21:47] arschles commented on #310
This is a duplicate of #1166. Since that one has more up to date details, I am going to close this one.

[2020-02-21 21:47] #310 closed

[2020-02-21 21:48] arschles commented on #360
@robjloranger do you still think we should do this?

[2020-02-21 22:29] robjloranger commented on #360
personally I do like dashboards. Would it be public or do we need to add some user management stuff, or at least a dashboard password?

[2020-02-21 22:31] robjloranger commented on #446
agreed, and maybe just the dashboard itself with whoever starts the first one.

[2020-02-24 07:48] dhiemaz commented on #1502
Hi @arschles let me check that first ya..

[2020-02-24 08:44] Dominik-Robert commented on #1534
Oh @marwan-at-work that is a good point I will look at.

@arschles I don´t know exactly I want to use Athen normally behind a proxy. So I would think http and https for the VCS-Systems would be enough or am I missing something?

[2020-02-24 17:58] twexler commented on #1546
This feels a bit out of scope for Athens, but could be part of a larger initiative to provide non-Google-hosted Go development resources

[2020-02-24 18:05] twexler opened #1553 "SingleFlight should support Redis Sentinel"
**Is your feature request related to a problem? Please describe.**
In some environments (including my current employer's) another group/team provides Redis, but only via redis-sentinel. Athens doesn't currently support connecting to redis via a sentinel

**Describe the solution you'd like**
Add another SingleFlight provider `redis-sentinel`

**Describe alternatives you've considered**
None.

[2020-02-25 01:03] arschles commented on #1546
Agreed. If `pkg.go.dev` is like moddoc, you would be able to point it at Athens and it would "just work".

If that is not the case, I hope there would be a way we can make them work together. I would advocate we build the software to do that in a different repo. Or at least in a different binary.

[2020-02-25 01:09] arschles commented on #360
At the moment, there is no password protection on any of the other Athens endpoints, so I think this can be passwordless.

To do a dashboard with things like @carolynvs suggested in above:

Athens would need to start tracking these things. I would like to keep the Athens codebase, or at least the binary built from `cmd/proxy/main.go`, from growing significantly, so I would propose we do those thin

[2020-02-25 01:39] twexler commented on #1546
I wasn't familiar with `moddoc`, nice work @marwan-at-work!

That would be the most ideal. It's a bit disappointing `go doc`'s http server was deprecated, as having access to the on-disk cache that Athens uses could also be a great excuse to run a docs server with it.

[2020-02-26 00:02] arschles commented on #609
For the `Pull Requests` point, we have https://docs.gomods.io/contributing/new/github/#pull-requests, and for the `best practices re: working on github ...` point, we have updated text in #1555 (it's scattered about in the docs site as well). I am going to have #1555 close this

[2020-02-26 00:05] arschles commented on #1007
@mplachter sorry for the delay. that problem sounds like a good reason to relax the perms requirement then! would a new env var work for you?

[2020-02-26 00:12] arschles commented on #1547
got it. @xytan0056 currently Athens never calls Delete. As @marwan-at-work said, we put it in the interface for future proofing.

That said, if I was building out a custom storage driver for internal usage, I would probably return an error for delete right now, to prevent deletions for the same reason you said in https://github.com/gomods/athens/issues/1547#issuecomment-588382493.

On a somewhat r

[2020-02-26 00:12] #1547 closed

[2020-02-26 00:18] #1387 closed

[2020-02-26 00:59] arschles commented on #1534
@Dominik-Robert yes, http/https for VCS systems definitely would be enough. I thought that we were talking about a corporate auth proxy like NTLM or something similar. Sorry about that. Let us know if you can do the `git clone` that @marwan-at-work mentioned.

[2020-02-26 01:01] arschles commented on #587
just going to throw this in here: https://github.com/genotrance/px

This could potentially be a good way for Athens to download from VCS's via HTTP, and from upstream proxyes (which already use HTTP as we know)

[2020-02-26 01:13] arschles commented on #1470
@pjediny thanks for doing that investigation!

Regarding this:

Since some `go` commands don't produce output that is easily machine readable, we would need to do string machine on failure outputs. We had discussed doing string matching previously and decided against it, but I agree with you that just returning 500 error codes is not informative and doesn't help with debugging.

I would be willing

[2020-02-26 01:18] arschles commented on #1502
@dhiemaz sounds good. Let me know what you think 😄 👍

[2020-02-26 02:49] marwan-at-work commented on #1500
Just my 2 cents: tests have worked quite well for a couple of years now testing "service dependencies" such as Mongo, Redis, and Etcd. And most importantly, our codebase is getting very stable which is gives confidence for a lot of people to use it.

So I think we should address the following questions if we want to make this change:

1. What problem do we have with our current set up?
2. How does

[2020-02-26 07:02] awkj commented on #1434
yes , perfect run, because I need Compatible with 1.12, so i must choose set goprivate in server,

if is china user, i suggest use this config

ATHENS_GO_BINARY_ENV_VARS: "GOPROXY=goproxy.cn,goproxy.io,direct; GOPRIVATE=*.<your company domain>/*"

thanks arschles help

[2020-02-26 11:49] daqingshu commented on #1315
Thank you. I agree your opinion.
and could you please give the API declaration, so that volunteers(include me) could contribute implement code.

[2020-02-27 00:29] arschles commented on #1500
@marwan-at-work personally I think there is no problem with our current setup. We have it pretty well documented and I don't see many people having problems running tests locally.

But using testcontainers/similar (like #1544) takes a moving piece out of all of our local test setups. You no longer need docker compose. That makes the local dev experience nicer, and means we can take out documentati

[2020-02-27 00:43] #792 closed

[2020-02-27 01:53] marwan-at-work commented on #1315
From what I understand, you have a git server at `mycompany.com/mymodule.git` and you'd like to declare its import path as something like `mycompany.com/mymodule` or really any other name such as `mymodule.mycompany.com` -- is that assumption correct?

If so, wouldn't a **vanity import server** solve your use case?

[2020-02-27 03:14] marwan-at-work commented on #1500
I'd say it takes out the docker-compose but enforces docker...what if I want to run the tests against a local Mongo server but not a dockerized one? :)

[2020-02-27 08:53] MetalRex101 opened #1560 "Kubernetes liveness and readiness probs with basic auth"
**Describe the bug**
When basic auth is turned on, kubernetes liveness and readiness probs are always failed with 401 http error, because liveness and readiness url are hardcoded in deployment with out any basic auth support.

**Error Message**
Pod goes to crush loop because of 401 http error.

**To Reproduce**
Set up basic auth, deploy server to kubernetes cluster.

**Expected behavior**
Readines

[2020-02-27 14:58] doddi commented on #1512
@arschles How would you propose we solve it? Is it as easy as sending the validation hook only when requesting .zip? or do you think there is a better approach

[2020-02-28 01:54] arschles commented on #1512
@doddi I should have been clearer here 😆. what I mean to say is, I think we should do this as you suggested in the OP 😄

[2020-02-28 09:46] doddi commented on #1512
@arschles Im happy to take a look at this if you want to assign it over

[2020-03-03 06:27] Dominik-Robert commented on #1534
It works so far as I can download the first 5 packages. I don't know why it is failing for the other packages.  It says it is not finding them.

My go.mod file

[code]

Athens-Output

[code]

[2020-03-03 18:31] marwan-at-work commented on #1534
@Dominik-Robert I wasn't able to reproduce the issue:

[code]

Logs are a result of `~ curl localhost:3000/github.com/rs/cors/@v/v1.6.0.mod`

I have noticed however, that there has been intermittent failures with git so what I'd do so just try again and see if that works. Kind of a bad answer, but if you can find a way to reproduce this please include the reproduction steps so we can dig into why

[2020-03-04 14:31] chriscoffee commented on #1560
Hey @MetalRex101 👋

Thanks for making the ticket. It looks like an issue with the image the chart has drifted out of date from the current minor version. The chart references v0.7.0 but we need v0.7.1 at the very least to get the following change: https://github.com/gomods/athens/commit/221c451b6ae6990d21c8cef63fbf1cc4d69c3ce9

Whilst I patch the image tag in the chart, you can set the latest v0.7

[2020-03-04 19:07] msound opened #1565 "Broken link in README.md"
**Describe the bug**
In the [Coding Guidelines](https://github.com/gomods/athens/#coding-guidelines) section of the README.md, the hyperlink `Printed version` is broken.

 **Error Message**
In my browser, I am getting the error "The site can't be reached". It looks like DNS records are missing.

[2020-03-06 03:11] ZaynJarvis commented on #640
With Go 1.14, I think we can try out GOINSECURE env

[2020-03-07 00:04] arschles commented on #1512
@doddi great, and thanks so much! I unassigned myself and moved it to you 😄

[2020-03-07 00:11] arschles commented on #1434
@awkj you're welcome, and I'm glad that this is working for you! 😄

Please always feel free to open a new issue if you have more questions or are finding problems

[2020-03-07 00:11] #1434 closed

[2020-03-07 00:22] arschles commented on #640
@ZaynJarvis I agree, and I think that's the best course of action 😄 . The full description of how to set `GOINSECURE` is in https://github.com/gomods/athens/pull/697#issuecomment-596014257. Here is how you would do that with the environment variable, if you don't want to look at that other issue:

[code]

Unfortunately, this `GOINSECURE` environment variable only works with Go 1.14, so we don't ha

[2020-03-07 00:22] #640 closed

[2020-03-08 21:41] nathanhack opened #1568 "Athens runs for a bit then seems to stall, when running `go mod tidy`."
**Describe the bug**
When running `go mod tidy` on a project looking to grab the latest, it seems to work for a while but then seems to stall for a long time.  The `go mod tidy` never completes instead I have to kill it.

**Error Message**
The only messages that I see that may be related is one about `latest` and `list`
<pre>
INFO[5:11PM]: exit status 1: go list -m: github.com/gorilla/mux@latest:

[2020-03-10 22:05] arschles commented on #1568
@nathanhack I can't reproduce this behavior using Athens v0.7.2. I'm running with Docker with this command:

[code]

In case it helps, here are my `go.mod` and `go.sum` files: https://gist.github.com/arschles/82ecca84b2c7753546914de3e444c866

[2020-03-10 22:19] arschles commented on #1450
@linzhp I see what you mean now, thanks.

You can configure Athens to respect `GOPRIVATE` on the server side. For example, you can do this:

[code]

or set it in the config file:

[code]

And then Athens will set `GOPRIVATE` properly every time it does its `go get`

@linzhp @mrgleeco would that work for you?

[2020-03-10 22:22] arschles commented on #1318
@xyt0056 we can certainly do that. as you said, we'll have to change the fetch logic. I'd also like to put this behind a config flag. Would you be up for opening a pull request for splitting up the fetching logic?

[2020-03-10 23:20] linzhp commented on #1450
The issue is less about `GOPRIVATE` and more about `go get`. As long as Athens still runs `go get`, it will still use HTTPS protocol, which our VCS server doesn't support

[2020-03-10 23:57] arschles commented on #1490
@bluekeyes I haven't forgotten about this. still working on #1492. When that's merged, I'll have a good pattern to work on, to expand validation to other config fields

[2020-03-11 00:05] arschles commented on #446
@robjloranger we already have a prometheus stats exporter. would you be cool with expanding our prometheus output (possibly based on the log level) and then using the built-in prometheus dashboard for https://github.com/gomods/athens/issues/360?

[2020-03-11 00:13] arschles commented on #1500
Yup, you're right. There would be no way to do that. Do you think that's a dealbreaker? I think this is a nice idea because it's less setup work in the common case.

That said, in #1544, @ClaytonNorthey92 is adding the ability to turn off the testcontainers-based tests. In pseudocode:

[code]

We can take this one step further and give the option to turn off just the testcontainers code:

[code]

[2020-03-11 00:15] arschles commented on #1460
@teaguecole I will rename this issue specific to the twitter action, so we can track just that here. We can open issues for other specific actions as we go, then, and track things more easily.

[2020-03-11 00:18] arschles commented on #1437
@damoon are you still interested in this one? Absolutely no pressure either way, I just wanted to check in so I don't step on your toes. 😄

[2020-03-11 00:23] arschles commented on #1450
@linzhp the gitconfig would be to prevent `go get` from using an HTTPS protocol, and the `GOPRIVATE` would prevent it from using any upstream module proxy. Would that setup not work if you do it locally? I want to see what Athens is missing

[2020-03-11 00:25] arschles commented on #1407
@brian73286 @volker-raschek I am going to close this issue now, but I'm happy to continue the conversation. If you want, please feel free to come comment on this issue. I'll get the notification and come back to open it back up.

[2020-03-11 00:25] #1407 closed

[2020-03-11 00:28] arschles commented on #1406
@bndw are you still interested in writing some quickstart docs? Absolutely no pressure if not. I've been writing some in various places and just want to check in to make sure I don't step on your toes. Let me know 😄

[2020-03-11 01:05] arschles commented on #1503
@fedepaol absolutely! 💚

[2020-03-11 01:08] arschles commented on #1488
Also related: #1551 because that's all about writing custom storage drivers

[2020-03-11 01:16] marwan-at-work commented on #1503
This feature sounds very helpful :100:

However, we should make sure it is protected because the configuration might have sensitive information like credentials to access storage.

[2020-03-11 02:53] bluekeyes commented on #1490
Thanks for the continued work on this. I'm pretty sure #1492 will fix the problem I ran into with `DownloadMode`, but I don't remember if there were other "required, but not validated" properties.

I don't have enough familiarity with Athens to know offhand what other properties need to be required, and I don't know if I'll have time to go through code to figure it out. But I might be able to subm

[2020-03-11 04:11] marwan-at-work commented on #1500
I don't think it's a deal breaker but it's certainly weird to require all of our storage backends to be dockerized or the tests wouldn't run.

As for supporting both dockerized and not dockerized environments, I worry about maintenance and ease of onboarding for new contributors. That said, we certainly can try stuff out in an experimental branch and not commit to it. If the complexity is justifie

[2020-03-11 04:23] linzhp commented on #1450
When we run `go get code.example.internal/communications/locales/pkg`, it will request the following URLs:

[code]
Most of these request will return 404 Not Found, but one of them, e.g., `https://code.example.internal/communications/locales` may return 200 with a meta tag `https://code.example.internal/communications/locales.git`. Then Go knows where the Git repo root is and call git to checkout t

[2020-03-11 04:24] bndw commented on #1406
👋 @arschles apologies for dropping the ball on the docs, go ahead without me!

[2020-03-11 13:36] DylanMeeus opened #1571 "Update documentation"
Recently I deployed an instance of athens to Google Cloud, and I believe the docs could be updated a bit.

1) Versioning is out-of-date, blindly following the docs at first I ended up with `v0.6.0` rather than `v0.7.2`

2) A `Dockerfile` is needed when you use `gcloud submit`, but this step wasn't found in the docs for `Google Cloud Run`, which I eventually did see in the `Google  App Engine` docs

[2020-03-11 14:07] marwan-at-work commented on #1571
@DylanMeeus thank you for reporting this issue. A PR would be great!

Though I've run Athens on cloud run a number of times, I didn't know we had docs on it 😄

I think we should put `x` instead of the version number, otherwise we'd always have to update this document. We can also say `check the latest upgrade, below is just an example`

I'm not sure what you mean, the docs mention that you can jus

[2020-03-11 14:15] DylanMeeus commented on #1571
@marwan-at-work

If you submit to GCR with this command:
[code]

The exact error is:
[code]

So I assume the docker file would still be needed, somehow. The error was also resolved by simply using a Dockerfile.

`grc.io` didn't work for me either (image not found in cloud regsitry) but `eu.grc.io` did. I'm not ruling out that this is because of the gcloud version I have installed, it's not an athe

[2020-03-11 14:33] marwan-at-work commented on #1571
@DylanMeeus I think `gclouds builds submit` are specifically for building an image from scratch and pushing it (as opposed to pushing an already built image)

The docs for pushing/pulling images mention that you just need to use `docker push` https://cloud.google.com/container-registry/docs/pushing-and-pulling

[2020-03-11 14:35] marwan-at-work commented on #1571
cc: @schafer14 as I'm not sure if `gclouds builds submit` can be used to push an already built image

[2020-03-11 14:40] DylanMeeus commented on #1571
Aha I see. (the same docs you linked also talk about the region specifier as separating storage buckets by the way). I thought it worked when I did the `gcloud build submit`, or at least, it did not error out.

I did have some trouble with the next step (`gcloud beta run deploy`) and fiddled around with more stuff at that point.

[2020-03-11 19:24] fedepaol commented on #1503
Ah you are right @marwan-at-work .
I was thinking about integrating https://golang.org/pkg/expvar/ instead of doing a custom solution, but not sure it fits the bill of having the endpoint protected.
One thing we can do is to obscure the sensitive fields (those related to auth) before exporting the configuration. Another one is to expose such endpoint under basic auth.

Thoughts?

[2020-03-12 22:23] arschles commented on #1490
@bluekeyes you got it. if it makes Athens easier to run, I'm in 😄

If you'd like to submit PRs for setting required/default please feel free. I'm going to be looking at our config code alongside our getting started docs sometime soon as well.

[2020-03-13 17:53] arschles commented on #1500
@marwan-at-work let's see how this looks in #1544 and see how complex it gets. Are you ok with that?

[2020-03-13 18:00] arschles commented on #1503
I don't think basic auth is worth it personally. I'd rather put the endpoint behind a configuration value that defaults to off. If someone wanted to turn it on, they would need to use their firewall/load balancer/etc... to protect it for now. If the endpoint gets widely used, I'd then advocate for supporting `Authorization` header based auth. All a strong opinion weakly held. What do you think?

[2020-03-13 18:04] arschles commented on #1450
@linzhp I'm not understanding perfectly because you said [above](https://github.com/gomods/athens/issues/1450#issuecomment-565735504) that when you run `GOPRIVATE=code.example.internal go get code.example.internal/communications/locales.git`, this works.

If Athens ran that same command on the server, would `GOPROXY=athens.internal go get code.example.internal/communications/locales.git` not work?

[2020-03-13 18:51] linzhp commented on #1450
To sum up: `go get code.example.internal/communications/locales.git` works, both on Athens and locally, `go get code.example.internal/communications/locales` doesn't work, neither on Athens or locally. Note there is a little `.git` difference in those two commands.

[2020-03-14 20:15] jhollowayj opened #1572 "Using Athens as Checksum DB (not just a proxy) for private repos?"
The title suggests a that this is a feature request, but maybe it's more of a documentation item stemming from me not understanding something...

I've been looking into setting up an Athens proxy for both public and private repos, but I was a little confused about the proper use of `ATHENS_GONOSUM_PATTERNS ` and `GONOSUMDB` in your [documentation](https://docs.gomods.io/configuration/sumdb/) on pr

[2020-03-14 21:11] schafer14 commented on #1571
Hey, sorry for the late response. Thanks for the feedback and PR!

Just to add my two cents about the `gcloud build subit` issue. The goal of this step is to get an Athens container into GCR (google container registry) so it can be accessed by Cloud Run. You could use the Athens Dockerfile to build the container and then push it to GCR and that would accomplish the same outcome. There is already a

[2020-03-14 21:28] fedepaol commented on #1503
Make sense to me.
If we foresee using auth, it's still probably worth using a custom endpoint instead of `expar`.

[2020-03-15 00:29] marwan-at-work commented on #1503
If auth is not worth it for now, here are the options I can think of (and were mentioned above):

Option 1: I like the idea of obscuring sensitive fields. But we should make sure the implementation is easy to maintain, maybe any sensitive configuration would implement the fmt.Stringer interface.

Option 2: a configuration option to either output everything or not output everything.

Option 3: expo

[2020-03-15 00:30] marwan-at-work commented on #1571
@schafer14

I agree, but I don't think `gcloud builds submit` works in this case right? I think `gclouds builds submit` is explicitly for building an image from a Dockerfile, and not pushing an already built image?

[2020-03-15 03:40] schafer14 commented on #1571
@marwan-at-work I think you're correct... I have no clue what I was thinking.

I think this is what we are looking for?

[code]

[2020-03-15 14:56] DylanMeeus commented on #1571
@schafer14 that command will not be supported for more recent docker versions it seems.
[code]

and is seemingly replaced by just using `docker push` (`docker push gcr.io/example-org/example-image:latest`)

See the bottom of this page: https://cloud.google.com/sdk/gcloud/reference/docker

[2020-03-15 16:19] ClaytonNorthey92 commented on #1500
@arschles @marwan-at-work

I have some ideas on how we could make this work.  First question though, do we want to default testcontainers to be used during tests?  Or do we want to to default to using a user-defined location (ex. locally, remotely)?

[2020-03-16 22:43] #1571 closed

[2020-03-17 20:04] #1553 closed

[2020-03-18 00:03] marwan-at-work opened #1578 "[Proposal] Remove storage.Checker from storage.Backend"
The storage.Backend interface has an `Exists` method which is part of the storage.Checker interface.

This is used to check if a module exists. However, the Go command itself uses the `Info` endpoint to check if a module exists, it even calls it [Stat](https://github.com/golang/go/blob/971f8a2f9a5beb0473f82d7299613c86d2b4a5b9/src/cmd/go/internal/modfetch/proxy.go#L354)

There are a couple of good

[2020-03-18 07:47] kmalloc commented on #1416
I am experiencing same issue, and the reproducing step is **exactly the same** as described in this thread.

following works fine:

GET $HOST:$PORT/github.com/kmalloc/l5/@v/v1.0.0.info
GET $HOST:$PORT/github.com/kmalloc/l5/@v/v1.0.0.mod
GET $HOST:$PORT/github.com/kmalloc/l5/@v/v1.0.0.zip

however, @latest and @v/list return 404.

athens I am using is 0.7.2. go 1.12.5

[2020-03-18 18:38] arschles commented on #1578
@marwan-at-work sounds fine to me

I definitely like #1580 better than #1579 (looks like that is the alternative) because external storages can opt into using `Exists` if that that's more efficient for them. I wrote a few more details about that in https://github.com/gomods/athens/pull/1579#pullrequestreview-377128503

[2020-03-18 21:29] #1565 closed

[2020-03-18 23:07] #1578 closed

[2020-03-19 18:11] arschles opened #1582 "Live discussion about GitHub Actions"
We've had a few PRs introduce GitHub actions, but adding a new CI/CD tool to our project would be a fairly big step because it's a whole new system to learn.

Let's share our screens and discuss the pros/cons of actions on Athens.

We're going to meet at https://arschles.com/zoom

Please vote on times that work for you at https://doodle.com/poll/m4f882pg3y2hkrks

**Absolutely everybody is welcome.

[2020-03-20 18:03] arschles commented on #1416
@brian73286 @jpreese @kmalloc I couldn't reproduce this again on v0.7.2. Here is how I ran Athens:

[code]

I did an `export ATHENS_STORAGE=$PWD` before I ran this. Forgot to copy that in above.

That command runs Athens with the default [`config.toml`](https://github.com/gomods/athens/blob/master/config.dev.toml) file, so it's using disk storage and the directory is on my host.

Here are my logs

[2020-03-20 18:48] arschles opened #1584 "Pin the alpine base image to a specific version"
**Is your feature request related to a problem? Please describe.**

The final Athens image is currently based on just `alpine`. That means that on each build, we're uncertain what version of alpine is being used.

**Describe the solution you'd like**

I'd like a Docker build arg that exposes the alpine image version.

**Describe alternatives you've considered**

None

**Additional context**

@dyla

[2020-03-20 18:51] arschles opened #1586 "Expose ATHENS_DOWNLOAD_MODE to the helm chart"
**Is your feature request related to a problem? Please describe.**

Right now, it's impossible to set `ATHENS_DOWNLOAD_MODE` from the helm chart.

**Describe the solution you'd like**

I'd like to be able to set it in the helm chart.

**Describe alternatives you've considered**

None

**Additional context**

@dylan-bourque and I discussed this on slack

[2020-03-20 19:03] arschles commented on #1586
After more discussion with @dylan-bourque on slack, we realized that this can be done already by setting the env var in [`configEnvVars`](https://github.com/gomods/athens/blob/0bb95c73515ee1ac018dbb13e85d5030a031917d/charts/athens-proxy/values.yaml#L80), so I'm closing this.

[2020-03-20 19:03] #1586 closed

[2020-03-20 19:49] arschles opened #1589 "Allow setting the download mode file from the helm chart"
**Is your feature request related to a problem? Please describe.**

The only way to set the download mode file from the helm chart currently is to set it with `configEnvVars.ATHENS_DOWNLOAD_MODE="base64:<base64 encoded file>"`. This obviously requires you to base64 encode the download file before putting it into the helm chart.

You can also point Athens to an existing download mode file on disk,

[2020-03-20 19:50] arschles commented on #1589
I will work on this next week, unless someone would like to work on it in that time frame

[2020-03-23 02:29] kmalloc commented on #1416
I changed my repo later, please refere to the attached screenshot in my previous reply. the issue is the same.

[2020-03-23 02:52] kmalloc commented on #1416
I double check the file/directory permission, it seems fine,  where can i get the log file of athens?

[2020-03-23 16:21] PheonixS opened #1592 "Unable to fetch module from private repo"
**Describe the bug**

Athens unable to complete download from private Bitbucket.

**Error Message**
On Athena
<pre>
[code]
</pre>

On Build server:
<pre>
[code]
</pre>

**To Reproduce**
Helm values
<pre>
[code]
</pre>

go env on Go build server:
<pre>
[code]
</pre>

Go env on Athena:
<pre>
[code]
</pre>

Steps to reproduce the behavior:

1. Install athena via Helm
2. On build server:
[code]

**Exp

[2020-03-24 09:37] PheonixS commented on #1592
looks like it internal problem in communication with our git server

[2020-03-24 09:37] #1592 closed

[2020-03-26 20:10] marwan-at-work opened #1593 "Include Open Census tracing for External Storage"
External Storage makes HTTP requests to whatever backend on the other side, we should have OpenCensus tracing on the client end. On the server end, we return an http.Handler, we can potentially return an OC-wrapped handle, but maybe we should leave that up to the user.

[2020-03-26 20:23] arschles commented on #1592
@PheonixS sounds good. Let us know if you have more problems 😄

[2020-03-26 20:26] arschles commented on #1416
@kmalloc Athens logs to stdout but you posted some of them from your setup. Do you want to see the Athens logs from when I tried to reproduce?

[2020-03-26 20:31] arschles commented on #1500
@ClaytonNorthey92 let's default to user-defined location (as it is now), and I'll set up the env var in our CI to turn on TestContainers. We should also add docs for why/how to turn testcontainers on

How does that sound?

[2020-03-26 20:40] arschles commented on #1503
My vote is for (1) and (3). I personally would like to set `CONFIG_OUTPUT=true` and `CONFIG_PORT=9090` and automatically have all non-sensitive data get output on port 9090.

[2020-03-26 20:47] marwan-at-work commented on #1503
I think if we do `CONFIG_OUTPUT` and `CONFIG_PORT`, at that point I feel comfortable exposing sensitive data because it's not reachable on the Athens default server.

That said, we can implement 3 first and then implement 1 as an enhancement after...but maybe users would want to see everything especially the sensitive configuration to debug auth issues.  In that case we _could_ have a `ABSTRACT_SE

[2020-03-26 21:12] arschles commented on #1572
Thanks for your questions @jhollowayj! I'll answer them inline:

There isn't a strict need. In fact, there's no strict need for checksums on any public repo. The idea is to prove that nothing has been changed since the checksum server first saw it. For your own public repos, you have control over what gets changed.

Another matter of opinion, but you most likely have tighter control over who can p

[2020-03-26 22:08] marwan-at-work commented on #1450
@linzhp @mrgleeco would a vanity import server like this one solve your use case? https://github.com/GoogleCloudPlatform/govanityurls

If not, I'd love to know why and I'm happy to consider potential additions to Athens for this.

[2020-03-27 06:55] xytan0056 commented on #1450
@marwan-at-work thanks for the suggestion. I took a look.
1. Looks like we need to deploy it somewhere that supports accessible custom domain (eg. code.corp.internal). Our infra doesn't support it currently.  Every service has to be service.corp.com. We still have the problem of having to rewrite import path.
2. I don't see govanityurls support regex. meaning we'll have to put every repo into vani

[2020-03-27 17:35] #1110 closed

[2020-03-27 17:35] #1130 closed

[2020-03-27 18:25] nathanhack commented on #1568
@arschles sorry for the long delay, I really appreciated your fast response!  I pull the v0.8 and it doesn't seem to be occurring.  The new version should have a similar problem but if it's not happening it must have been something with my environment.  I'm going to close this for now.  If it occurs again I'll reopen.

As a side note, the issue didn't occur when had a populated (with versions) go.

[2020-03-27 18:25] #1568 closed

[2020-03-27 19:00] nathanhack commented on #1532
I'm late to this topic and my use case my not help. But I'm currently using Athens in an offline network and it is painful (of course it's better than the alternative).  I ended up setting up a ftp server just so people could look for the version that was available so they can manually update their go.mod files.

Originally I thought by setting `DownloadMode = "none"` and `GoBinaryEnvVars = ["GOPR

[2020-03-27 19:14] nathanhack commented on #1532
But to be clear, I don't really care what the implementation is as long as `go mod tidy` works without the real internet ;-)

[2020-03-27 20:14] arschles opened #1596 "Fix the "How to release" section in the contributing docs"
**Describe the bug**

The release docs have a few issues.

First, they don't have information on how to do patch releases. There should be some things added:

- Code freeze is not required for patch releases
- You should branch from the previous release branch and cherry pick (e.g. `git cherry-pick $COMMIT`) commits from `master` into the new branch
- Before you tag the branch / do the GH release,

[2020-03-27 20:16] #1582 closed

[2020-03-31 03:34] jhollowayj commented on #1572
@arschles, thank you so much for the detailed response.  I'll run this response by one of my coworkers and come back with any questions they might have as well.

[2020-04-01 22:44] arschles commented on #1572
@jhollowayj you got it! I also want to convey a quick point that @marwan-at-work told me on chat. He gave a really good analogy of what a proxy that also hosts a checksum DB would be. Paraphrased:

I thought this was a really, really good way to describe the situation. I hope it helps. And thanks @marwan-at-work !

[2020-04-01 22:46] arschles commented on #1568
Ah, ok. Thanks for letting me know, @nathanhack. If the `go.mod` file is not present, then this issue is likely related to the "mutable" endpoints. These are the `.../@/list` and the `.../@latest` endpoints. Does `v0.8.0` work without a `go.mod` file too?

[2020-04-01 22:50] arschles commented on #1450
@xytan0056 if the project that @marwan-at-work mentioned works for you, we will add documentation for when and how to use it. I'm looking forward to seeing how `govanityurls` works for you!

[2020-04-01 22:58] xytan0056 commented on #1450
@arschles See my [comment](https://github.com/gomods/athens/issues/1450#issuecomment-604844922) above. Unfortunately, it didn't work for our current infra. Moreover, we'll need to do this for every internal repo, which doesn't scale.

[2020-04-01 23:08] arschles commented on #1450
Sorry, I misunderstood your first comment. I'm not sure how we can make this work if you can't host a vanity server(s) at the same domains as your modules (e.g. `code.example.internal`). I'm still not sure if I'm completely understanding the issue here, though, so please correct me if I'm wrong 😄

[2020-04-02 14:17] nathanhack commented on #1568
@arschles The new version seems to work when Athens has access to the internet. (However, with the older version it would stop responding to `go mod tidy` when the `go.mod` file had an empty imports section. Maybe this is still a problem but it doesn't seem to be occurring at the moment.)

But for my actual use case the Athens repo doesn't have access to the real internet. So the only way around i

[2020-04-03 18:57] linzhp commented on #1450
We had an internal discussion on this vanityurl idea. Here is what we found out:

1. "go get" uses HTTPS. It is almost impossible obtain an SSL cert for ".internal" domain within our infrastructure. So we can't deploy vanityurl on https://code.example.internal
2. We may be able to run a sidecar vanityurl within the same container as Athens, and override `/etc/hosts` to direct all "code.example.int

[2020-04-06 07:41] bahlo opened #1598 "Publish minor-version docker tags (`v0.8` instead of `v0.8.1`)"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
Publish all bugfix-release also on the minor tag (patch `v0.8.1` also gets pushed to `v0.8`).

**Describe alternatives you've considered**
The alternative is manually upgrading after every patch-release.

**Additional context**
With things like [watchtower](https://github.com/containrrr/wat

[2020-04-06 11:20] publicocean0 opened #1599 "error downloading module"
go run .
go: github.com/athens-artifacts/samplelib@v1.0.0: reading http://sr-vm318-kubert.comune.intranet:3000/github.com/athens-artifacts/samplelib/@v/v1.0.0.mod: 404 Not Found

i cant understand ufffff

[2020-04-07 18:32] arschles commented on #1599
@publicocean0 if you have access to the log output of the Athens server, can you please post it here?

[2020-04-07 18:37] arschles commented on #1598
I see pros and cons to this @bahlo

pro: everything you said 😄
con: our semver tags would not be strictly immutable anymore. I don't if that matters to anyone who automatically gets patch fixes, but it's a semantic change to our versioning scheme that I don't know who it will affect

I'd like to hear other opinions on this

[2020-04-07 18:55] arschles commented on #1450
@linzhp regarding (2), using a self-signed cert with the sidecar is the only thing that comes to mind. it would mean that you'd need to add TLS support to govanityurls as well.

[2020-04-07 18:59] arschles commented on #1532
Thanks @nathanhack! We have two major features to do - external storage and offline mode. We just finished the former so we're going to start tackling this as soon as we can.

[2020-04-07 19:50] #1584 closed

[2020-04-08 16:56] VassilMarjunits opened #1600 "dial tcp: lookup bitbucket.internal on 8.8.8.8:53: no such host on Alpine Linux v3.11"
**Describe the bug**
athens proxy can't resolve private repo hostname, as it looking record from external DNS  8.8.8.8:53
but should find it from local DNS server in this example  1.1.1.1 and 1.1.1.2

**Error Message**

<pre>
[code]
go mod tidy
go test ./...

git add .
git commit -m "hello: changes for v1.0.0"
git tag v1.0.0
git push origin v1.0.0
[code]

**Configuration inside athens container:**

[2020-04-13 22:51] arschles commented on #1600
@VassilMarjunits the `GONOPROXY="bitbucket.internal"` and `GONOSUMDB="bitbucket.internal"` variables in your Athens config need to conform to [`path.Match`](https://godoc.org/path#Match) glob syntax. Try this:

`GONOPROXY="bitbucket.internal/*`
`GONOSUMDB="bitbucket.internal/*`

[2020-04-13 22:54] arschles commented on #1406
@bndw not a problem! We'll probably tackle this in pieces, so feel free to jump back in if you ever feel like it 😄 .

[2020-04-13 23:39] arschles commented on #1459
@raulk now that Athens supports [external storage drivers](https://github.com/gomods/athens/pull/1587), I am going to close this since a simple external server could be built to serve the local cache

[2020-04-13 23:39] #1459 closed

[2020-04-13 23:42] arschles commented on #1004
We have [external storage drivers](https://github.com/gomods/athens/pull/1587) now, so an external driver could be built, using the Athens `pkg/storage` packages, that supports deletions. I'm going to close this for now since there hasn't been activity here in a long time. If anyone comes across this issue and has a definitive use case to having _Athens_ support deletions, please feel free to comm

[2020-04-13 23:42] #1004 closed

[2020-04-13 23:43] arschles commented on #1488
I'm going to close this because it would be better done in an external storage driver

[2020-04-13 23:43] #1488 closed

[2020-04-14 08:45] VassilMarjunits commented on #1600
@arschles thank you for advice

I configured on athens container:
Option 1:
GOPRIVATE="bitbucket.internal"
GONOPROXY="bitbucket.internal/*"
GONOSUMDB="bitbucket.internal/*"

Option 2:
GOPRIVATE="bitbucket.internal/*"
GONOPROXY="bitbucket.internal/*"
GONOSUMDB="bitbucket.internal/*"

With both options still same error:
**dial tcp: lookup bitbucket.internal on 8.8.8.8:53: no such host**
I can't unde

[2020-04-15 10:21] publicocean0 commented on #1599
i solved , sorry.

[2020-04-15 10:21] #1599 closed

[2020-04-15 14:31] miecio45 opened #1604 "Tool for data migration between storage backend"
Hello!

**Is your feature request related to a problem? Please describe.**
It seems that it is quite hard to migrate athens local files backed to GCS or other cloud storage. Seems that such process requires changing paths and names of Athens objects.

**Describe the solution you'd like**
It would be awesome to have some kind of CLI which is able to push data from local storage to cloud one.

Regar

[2020-04-15 16:01] marwan-at-work commented on #1604
That's a great idea, and I believe it should be straightforward for all storages that support the storage.Cataloger endpoint

[2020-04-17 13:15] VassilMarjunits commented on #1600
According to
https://github.com/gomods/athens/blob/05438234ed596735029df15255e53ce313f3acc3/config.dev.toml#L26

Solution was to configure go binary env vars:

`ENV ATHENS_GO_BINARY_ENV_VARS="GOPROXY=proxy.golang.org,direct; GOPRIVATE=*.internal; GONOPROXY=*.internal; GONOSUMDB=*.internal"`

[2020-04-17 13:15] #1600 closed

[2020-04-21 19:46] arschles commented on #1600
@VassilMarjunits I'm glad to hear that it's fixed, thanks for letting us know how you did it 😄

[2020-04-22 23:04] timraymond opened #1607 "Published Binary Distributions with Releases"
**Is your feature request related to a problem? Please describe.**

I'm currently in the process of setting up a homelab system, and as a result of choice of hypervisor (Proxmox), the most efficient way for me to deploy Athens is within an LXC container. The existing Docker images produced during releases are helpful in building scripts to create these, but there's no direct migration tool that I

[2020-04-24 05:05] xytan0056 opened #1608 "Occasional broken pipe error"
**Describe the bug**
We intermittently see `broken pipe` or `connection reset by peer` errors. Looks like something to do with network buffers. Any idea why this happened?
On the other hand, these normally get resolved by a retry. Do you think it's worth it to configure a retry at API level?

**Error Message**

**To Reproduce**
Can repro. Happening randomly

[2020-04-27 18:20] arschles commented on #1599
@publicocean0 no problem. I'm glad you solved it 😄

[2020-04-27 18:30] arschles commented on #1608
@xytan0056 not sure why this is happening but I'd like to see if we can fix it before adding retry functionality to Athens. As you probably know, Athens is doing these downloads with the `go` CLI, which is really just `git` behind the scenes. Can you start by trying several `go mod download github.com/lightstep/lightstep-tracer-go@v0.18.1` calls in quick succession on the same server and see if yo

[2020-04-27 18:40] arschles commented on #1604
I'll submit a draft PR for this topday

[2020-04-27 22:48] arschles commented on #1604
@miecio45 @marwan-at-work I submitted a draft, reviews welcome 😄

https://github.com/gomods/athens/pull/1609

[2020-05-05 14:03] juliengrondin commented on #1350
This would be very useful as I have run into some issues trying to set this up. Are we forced to use credentials over a role as is best practice on an AWS instance?
My current setup has the correct permissions on an assigned IAM role however I am getting errors due to invalid access keys. I have probably missed something in the configuration however it does not seem overly clear.

[2020-05-05 22:21] arschles commented on #1350
@juliengrondin I'm not very good at AWS so I'm not exactly sure what's needed. Is it just setting [`AWS_ACCESS_KEY_ID`](https://github.com/gomods/athens/blob/90af973c3dc8f420cedf6863b712be0a7fcd5fe5/config.dev.toml#L414) and [`AWS_SECRET_ACCESS_KEY`](https://github.com/gomods/athens/blob/90af973c3dc8f420cedf6863b712be0a7fcd5fe5/config.dev.toml#L418) in the `config.dev.toml` to `""`?

[2020-05-05 22:30] geototti21 commented on #1350
@juliengrondin @arschles I think you need to set ` UseDefaultConfiguration` to `true` and it will work with the default AWS cli behaviour https://github.com/gomods/athens/blob/master/config.dev.toml#L440

[2020-05-06 03:12] crazyzh1984 commented on #1282
For big company has many developers, go get from github is slow and duplicate.

A solution is mirroring  github repo(eg. https://github.com/kubernetes/api)
from inner gitlab (eg. https://mygit.com/kubernetes/api)
https://docs.gitlab.com/ee/user/project/repository/repository_mirroring.html
then athens redirect **k8s.io/api**  to  **mygit.com/kubernetes/api**.

Athens act as a rewrite proxy without

[2020-05-06 04:30] Xuanwo commented on #1282
I Implement this feature in https://github.com/Xuanwo/go-mod-redirect

[2020-05-06 07:47] juliengrondin commented on #1350
@geototti21  Thanks for clarifying. I did wonder about this but it was not clear how to achieve this with env override which is primarily how I'm configuring my container.
@arschles by setting the env overrides to `""` this solved the issue for me.

[2020-05-07 21:06] arschles commented on #1607
We can do this with: https://github.com/wangyoucao577/go-release-action

[2020-05-10 02:22] keremgocen commented on #1460
Anyone is working on this? I’d like to have a go of not or if anyone needs help.

[2020-05-10 22:07] teaguecole commented on #1460
@keremgocen I was going to wok on doing the twitter thing but ive been busy with work. If you get to it, go for it.

[2020-05-12 06:50] philpennock opened #1612 "kubernetes helm chart ingress annotations mis-typed"
**Describe the bug**

The helm chart's `values.yaml`  defines `ingress.annotations:` without the `{}` after it. This causes Helm to expect a list-array instead of a key-value array.  I couldn't find a way to make that work.

Editing `values.yaml` to use `{}` for the ingress annotations, like all the other types' annotations entries, let my ingress annotations work.

**Error Message**
If applicable

[2020-05-12 20:09] brenol opened #1613 "storage/s3: allow to define a base directory"
**Is your feature request related to a problem? Please describe.**
Right now we have a lot of Buckets in S3 and we cannot create another one. The problem right now is that athens creates all repositories inside the root of the S3 bucket.

**Describe the solution you'd like**
Allow users to configure a prefix/base_directory in athens config.toml so the bucket isn't only for "athens".

**Describe al

[2020-05-12 21:29] VihanAgarwal97 opened #1614 "Bad default config file"
**Describe the bug**
Bad env variable config in athens.

**Error Message**
[code]

**To Reproduce**
Install  athens on helm (v 2.11.0) using the following command -

[code]

With the following configs -
[code]

**Expected behavior**
Expected athens to start up without any errors. To fix this I added this to the `config.yml` file -
[code]
However, now the readiness probe is failing -
[code]
[code]

[2020-05-12 21:54] VihanAgarwal97 commented on #1614
[code]
I can't seem to find `prober.go`

[2020-05-12 22:25] arschles commented on #1282
@Xuanwo that's great! Thank you for letting us know

[2020-05-12 22:27] arschles commented on #1282
It looks like we have two valid solutions, [go-mod-redirect](https://github.com/Xuanwo/go-mod-redirect) and [govanityurls](https://github.com/GoogleCloudPlatform/govanityurls). I'm going to close this issue now.

[2020-05-12 22:27] #1282 closed

[2020-05-12 23:01] arschles commented on #1350
So is it right to say there are two ways to do it? Either setting `UseDefaultConfiguration=True` or doing the env overrides? @juliengrondin if you're up for writing these docs, I'm happy to review 😉

[2020-05-13 04:36] linzhp opened #1615 "Partial download on large package"
**Describe the bug**
When downloading large packages such as gopkg.in/jcmturner/gokrb5.v7@v7.5.0, the Athens instance [deployed on Azure](https://athens.azurefd.net/gopkg.in/jcmturner/gokrb5.v7/@v/v7.5.0.zip) gives a partial download, while Google's proxy works fine.

**To Reproduce**
Open this link on a browser or `curl`: https://athens.azurefd.net/gopkg.in/jcmturner/gokrb5.v7/@v/v7.5.0.zip

Comp

[2020-05-13 15:03] VihanAgarwal97 commented on #1614
Changed the storage type to `in-memory` and this works. Any idea what the cause might be? It could be `kiam` (which I'm using for pod roles). However, kiam by default works with the default AWS credentials chain. And I have verified that the credentials are being requested

[2020-05-19 17:14] #1596 closed

[2020-05-21 08:48] rolandjitsu opened #1618 "Athens is ignoring the ATHENS_GO_BINARY_ENV_VARS"
**Describe the bug**
A clear and concise description of what the bug is.
I'm trying to setup Athens to download private repos from a Gitlab server that's not running on HTTPS, but it seems like Athens ignores any go env vars I pass to the docker image I use.

**Error Message**
When running the go get from some machine that is configured to use my athens server as a proxy:
[code]

I get the followi

[2020-05-21 09:05] rolandjitsu commented on #1450
I'm having a similar issue and I've tried just this, but it seems like Athens is either not picking up on the env vars or it just doesn't work.

I've describe my issue in https://github.com/gomods/athens/issues/1618 but it might be similar to this one.

[2020-05-23 05:48] elliotmr opened #1619 "sumdb proxy always returns 404 error with a global path prefix."
**Describe the bug**
If you set a global path prefix for the athens install using the config file or ATHENS_PATH_PREFIX, the sumdb reverse proxy will never be called. This is because the call to `http.StripPrefix` in `addProxyRoutes()` (app_proxy.go) will fail if the path-prefix does not match the request path.

https://golang.org/pkg/net/http/#StripPrefix

[2020-05-26 08:59] kzhui125 opened #1621 "build-from-source document issue"
From the document, https://docs.gomods.io/install/build-from-source/

[code]

I am using Windows Chinese version, and `(Get-Date).ToUniversalTime()` will get something like "2020年5月26日 8:50:26", which has space, so go build will fail.

If I change the $date to "20200526", go build success

[2020-06-01 20:12] tankbusta commented on #1614
I had this same problem but adding `ATHENS_STORAGE_S3_AWS_FORCE_PATH_STYLE` solved it and my health checks are good. Maybe your S3 configuration is broken elsewhere failing those checks?

I do think there is a bug here in Athens where not setting `ATHENS_STORAGE_S3_AWS_FORCE_PATH_STYLE` causes it to not start

[2020-06-04 11:31] NateDreier commented on #1532
Just checking in on the `MODE=offline`, looking forward to this feature :)

[2020-06-05 16:01] #1619 closed

[2020-06-10 22:56] bradleyjames opened #1624 "Unable to go get gosec with athens"
**Describe the bug**
`go get github.com/securego/gosec/cmd/gosec` succeeds when not using athens.  When using athens, the same command fails with a 404.
**Error Message**

Used `myproxy` below to represent the URL.

[code]
**To Reproduce**

[code]

**Expected behavior**
Successfully get gosec.

**Environment (please complete the following information):**
 - OS: macOS Catalina 10.15.5
 - Go version

[2020-06-14 03:04] marwan-at-work opened #1625 "Add client tracing to external storage"
The new external storage uses http to make requests to the backend storage layer.

We should instrument those http calls so that users can have debug bottlenecks in their systems.

[2020-06-14 15:03] #1625 closed

[2020-06-19 23:12] jhollowayj commented on #1572
Sorry for the delay @arshles.  2020, am I right?  :D

I think we've cleared up misunderstandings on our side.  Sounds like using Athens as a Checksum DB does _not_ make sense.  So I'm happy for this issue to be closed.  Is there any need to keep this issue open on your end?  Should there be a new issue created for updating documentation to include any of the things explained here?

I'm happy to pu

[2020-06-22 05:46] planear opened #1631 "Please change `main` branch back into `master`! It's really terrible!"
# master!
# master!
# master!
# master!
# master!

[2020-06-22 15:24] Kunde21 commented on #1631
We encourage all contributors to read the Code of Conduct before submitting issues.

To clarify -
Examples of behavior that contributes to creating a positive environment include:
- Using welcoming and inclusive language
- Being respectful of differing viewpoints and experiences
- Gracefully accepting constructive criticism
- Focusing on what is best for the community
- Showing empathy towards oth

[2020-06-22 22:18] sidprak opened #1632 "AWS SDK upgrade for working with AWS EKS IRSA"
**Describe the bug**
I am not sure if this is a bug or a feature request :) Looks like Athens uses AWS SDK v1.15.24 but using IAM Roles for Service Accounts in AWS EKS (Kubernetes) requires at least v1.23.13: https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts-minimum-sdk.html.

**Error Message**

/readyz throws a 500 without any log messages but it starts to return a 2

[2020-06-23 02:18] sidprak commented on #1632
The SDK upgrade helped to get support for IRSA but it is still not quite working so I'm reopening this issue. I think we are now hitting https://github.com/aws/aws-sdk-go/issues/3218 because of our use of `defaults.CredProviders`.

[2020-06-23 02:18] sidprak commented on #1632
Oh I cannot reopen this issue :) @marwan-at-work could you please reopen it?

[2020-06-23 13:35] chriscoffee commented on #1632
Reopened even though I am not Marwan! 👍

[2020-06-23 13:38] #1631 closed

[2020-06-23 13:51] marwan-at-work commented on #1624
@bradleyjames this is because `github.com/securego/gosec` is stored in `proxy.golang.org` but it is not working correctly with `GOPROXY=direct`

For example, if you try `GOPROXY=direct github.com/securego/gosec/cmd/gosec`, you will notice the same error.

And if you run Athens with `GOPROXY` pointed to `proxy.golang.org,direct`, then you will notice that Athens will work correctly:

`ATHENS_GO_BIN

[2020-06-24 15:05] jdsatava127 commented on #1416
We are experiencing the same issues in Docker version v0.9.0. Our Athens is running in a completely offline environment and we have pre-filled the disk cache. Calls for specific versions like `go get github.com/gorilla/websocket@1.4.2` work fine. But calls for @latest result in the 404 Not Found error for https://athens/github.com/gorilla/websocket/@v/list. Athens throws this error:

[code]

We ha

[2020-06-25 20:25] marwan-at-work opened #1635 "Expose a destination directory for "go mod download""
An Athens server can be running in an environment (such as K8s) where one directory is volumed to larger resources than the rest of the pod.

Our `go mod download` operation always uses a TempDir and does not allow the user to specify a directory to which it uses as a prefix for GOPATH's go mod download: https://github.com/gomods/athens/blob/main/pkg/module/go_get_fetcher.go#L58

It would be great

[2020-06-25 21:15] #1635 closed

[2020-06-28 15:35] erwbgy opened #1639 "downloadURL path is truncated"
**Describe the bug**
If a downloadURL with a path such https://internal.domain/repository/gonexus is configured then this is truncated to https://internal.domain when redirecting to the upstream proxy, resulting in failures.

**Expected behavior**
It should be possible to use a downloadURL that has a path.

[2020-06-28 20:07] #1639 closed

[2020-06-28 22:13] jtn7 commented on #1460
I have the action ready for this. I just have some questions before I make a pull request.

**Q:** Do you need a tweet for pre-releases or just releases?

**Q:** What should the message format be? `v0.9.0 is out` `v0.9.0 pre-release is out`

**Q:** The workflow has to be in the branch where you're creating the release from so I'm guessing this will be a pull request into `main`?

[2020-06-29 16:53] chriscoffee opened #1643 "Fix bad links within documentation"
**Describe the bug**

We need to correct 404 issues with the docs so that we're not causing issues for people.

**To Reproduce**

- Visit https://docs.gomods.io/install/using-docker/ and click on Kubernetes, https://docs.gomods.io/install/using-docker/install-on-kubernetes gives a 404
- Visit https://docs.gomods.io/configuration/storage/ and click here, https://docs.gomods.io/configuration/storage

[2020-06-29 18:38] #1643 closed

[2020-06-30 14:53] jakesyl commented on #1183
👍 on this, this is especially useful when you've got athens configured with cloudflare/basic auth

[2020-07-01 11:16] erwbgy commented on #1598
As long as there are still tags for the patch versions (eg. v0.8.1) as well as the minor versions (eg. v0.8) I don't see that it will affect anyone.  Those who want to continue using explicit patch versions, as they do now, can continue to do so and those that wish to always use the latest patch version in a minor release would be able to do so.  To avoid ambiguity the patch versions would always

[2020-07-05 11:01] bahlo commented on #1598
This is also kinda industry-standard, for example the `golang` has the same image tagged with `1.14.4`, `1.14`, `1` and `latest`. If you don't care about the minor version and just want latest `1.X.X`, use `golang:1`. Same for all other popular images I've checked.

[2020-07-07 16:17] oakad commented on #1613
I would like to second this: key prefix for s3 stored items is very useful.

[2020-07-13 13:25] apptut commented on #1007
I encouter this problem too. I think this not good idea must limit config file mask to 0700

[2020-07-15 20:02] juanpabloaj commented on #1600
I am using Athens with the docker image

https://hub.docker.com/r/gomods/athens/tags

and I had the same problem, until now for me, the simplest option is to use the version v0.5.0 of Athens.

[2020-07-20 12:57] marwan-at-work opened #1649 "Implement Authentication Propagation"
Athens currently supports a couple of types of authentication:

1. [Basic Authentication](https://github.com/gomods/athens/blob/408fd74a9c95c019264982f020f6eaf31a1eeabe/config.dev.toml#L152): authenticates clients to the Athens server itself. If the user has the basic auth, then he/she can access the Athens server.

2. [.netrc file](https://github.com/gomods/athens/blob/408fd74a9c95c019264982f020f

[2020-07-22 03:34] lanmingle commented on #1007
@arschles 该死的翻译，用词错误，对不起！

Damn translation, misnomer, sorry

[2020-07-24 15:05] r10r opened #1651 "helm chart not working with recent kubernetes"
Running `helm install gomods/athens-proxy` raises the following error:

[code]

**Environment**
[code]

[code]

[2020-07-24 15:07] r10r commented on #1651
See https://github.com/Drachenfels-GmbH/kubernetes-crio-lxc/issues/2#issuecomment-663580690 for a solution

[2020-07-26 13:14] marwan-at-work commented on #1651
Thank you for opening this.

Reading the issue you linked, I think that solution is already a part of this PR: https://github.com/gomods/athens/pull/1638

CC: @chriscoffee let me know if the PR above has anything left in it and I'm happy to help. It would be good to unblock the above. Otherwise we can make a separate smaller PR just for the fix.

Thank you!

[2020-07-26 15:14] marwan-at-work opened #1653 "Proposal: introduce event hooks"
#### Motivation

Athens makes a number of decisions in a request's lifecycle. An administrator might want to hook into some of the functionality for automation or other reasons.

We already have one validation hook which can be used to block incoming requests.

However, there are more events that an Athens admin might be interested in automating:

1. An event triggered when a new module is stored

[2020-07-27 01:10] marwan-at-work opened #1654 "Proposal: introduce Request ID propagation"
Request IDs allow distributed systems to track the lifetime of a request throughout 1 or more services.

I propose that Athens accepts a Request ID header that it will propagate throughout its logs and its outbound requests. If a request id does not exist, Athens can create one on the fly and pass it along.

The header key should be `Athens-Request-ID` (though any other suggestion is very welcome)

[2020-07-27 16:37] #1654 closed

[2020-07-30 12:49] stamm opened #1657 "bang replace in s3 client"
**Describe the bug**
Hi, I use athens v0.10.0 with s3 storage with yandex object storage

When I try to download module with upper case(for example github.com/ThomsonReutersEikon/go-ntlm) I get an error
And it replace path for save with prefix bang `/github.com/!thomson!reuters!eikon/go-ntlm`, but it's doesn't allowed from yandex object storage: https://cloud.yandex.com/docs/storage/concepts/objec

[2020-07-30 21:06] #1649 closed

[2020-07-31 02:57] venkz commented on #1283
@johnjelinek : I want to use the aws credentials in AWS Fargate. I am using a golang docker container to read some AWS SSM Params and need credentials. Can you please help me with this snippent..

[code]

[2020-08-03 21:59] fedepaol commented on #1653
Looks interesting!

Some thoughts:
- even if it's the implementer's responsability not to block, I'd avoid relying on their good will / absence of bug for making sure athens is working. I think a (maybe long) timeout is better with that regard. Not sure if the originating call should fail or pass. Maybe we can have that as an option?

- Rest vs grpc: if I understood correctly, you are proposing to

[2020-08-09 10:16] psankar opened #1661 "Provide a tutorial on how to create/publish private packages"
I have project with the following structure.
[code]

Here mylib.go/mod is a golang module that is used from `svc1.go` and `svc2.go`. Now for some reasons, I do not want to expose these files in a git/github url that is publicly accessible. I keep them in my laptop and a non-standard version control system.

Now in my dev laptop, I checkout the sources and want to build `svc1.go` and `svc2.go` (whi

[2020-08-10 18:12] jakesyl commented on #1183
By the way - I put this behind cloudflare and wanted to share the results b/c they're absolutely insane. So I added this page rule:
![image](https://user-images.githubusercontent.com/6392429/89815824-698e0c80-db13-11ea-8410-e6ddd9e5dc8a.png)
and the cache rate changes at my mouseover point.
![image](https://user-images.githubusercontent.com/6392429/89815791-5a0ec380-db13-11ea-9675-a8420d42fb56.png

[2020-08-10 18:38] jakesyl commented on #1183
@arschles by the way we haven't run into this

[2020-08-11 12:12] tanora opened #1663 "Error when using Helm and S3"
**Describe the bug**
ForcePathStyle is not included in the chart. I have tried setting ForcePathStyle to true and false.
[code]

**Error Message**
Logs from pod
<pre>
INFO[12:04PM]: incoming request	http-method=GET http-path=/readyz http-status=500
INFO[12:04PM]: incoming request	http-method=GET http-path=/healthz http-status=200
INFO[12:04PM]: incoming request	http-method=GET http-path=/readyz ht

[2020-08-11 13:30] marwan-at-work commented on #1653
Putting in a sane timeout is definitely a good idea. I hope we can make it long enough that it doesn't need to be configurable just to keep our config from getting any larger

In the case of Athens, I'm comfortable keeping the client Go only since anyone interacting with Athens is probably using Go. Even if someone needed to use a different language, the EventHook should be incredibly simple: it w

[2020-08-31 20:32] VihanAgarwal97 commented on #1614
I just fixed this by deploying the same config with helm v3.3.0
Closing this issue.

[2020-08-31 20:32] #1614 closed

[2020-09-11 22:30] #1607 closed

[2020-09-15 16:53] draeron opened #1666 "[helm chart] secrets keys should be set in a secret, not as clear text env in deployment"
All secret keys (for aws, minio etc) should be in a external k8s secret instead of directly be as env variable.

https://github.com/gomods/athens/blob/main/charts/athens-proxy/templates/deployment.yaml#L103

[2020-09-16 17:00] krishnakumar4a4 commented on #1323
We do use it at work too. Unfortunately, for us, athens is running on a VM without internet access(some policy limitations). Whenever we need a new third party module from internet, I enable internet through HTTP proxy + SSH reverse tunnel from a machine with internet. Crazy, but better than copying modules from somewhere else to athens storage.

[2020-10-11 00:33] bored-engineer opened #1669 "Reload DownloadMode file/retrieve from URL"
**Is your feature request related to a problem? Please describe.**
When using [DownloadMode](https://docs.gomods.io/configuration/download/) to enforce an allow-list of acceptable modules (ala the original [FilterFile](https://docs.gomods.io/configuration/filter/) feature) the list is loaded once when Athens starts, modifying the file requires restarting Athens before the change takes effect.

**D

[2020-10-11 14:51] AlexeyUzhva opened #1670 "Content-Length Support is required to make local pkgsite working"
**Is your feature request related to a problem? Please describe.**

I'm trying to setup internal copy of [pkgsite](https://github.com/golang/pkgsite) for private modules. It requires go proxy to be set up to get module content. Trying to use Athens for this purpose.

To read modules pkgsite relies on `Content-Length` header to be delivered by go proxy alongside with actual content.

See [GetZipSiz

[2020-10-13 02:13] jaredallard commented on #1670
I'm also running into this.

[2020-10-13 03:10] jaredallard commented on #1670
Did a quick hack that makes this work: https://github.com/getoutreach/athens/commit/0a01d905e09e54bf439ddc562b1057a7fe11f0bc

[2020-10-13 19:35] arschles commented on #1669
@bored-engineer we talked in Slack:

[code]

We should force the download mode URL to use SSL, and then I think this is a fine idea. Also, this is a smaller thing but if you send a PR, make sure to have Athens clearly log when it reloads config, including a timestamp

[2020-10-18 21:45] bored-engineer commented on #1669
@arschles Looking further I think my use-case is better suited by the existing ValidationMiddleware implementation, however I don't see any documentation on it beyond the code itself, am I missing some caveat where it won't work or I should prefer to filter modules via FilterFile/DownloadMode instead?

[2020-10-21 20:01] arschles commented on #1323
@krishnakumar4a4 your use case is one that we've had in mind for a while. I'm glad to hear that it's working for you

[2020-10-22 23:10] arschles commented on #1670
@jaredallard great - would you be ok with submitting a PR with that change?

[2020-10-23 07:36] AlexeyUzhva commented on #1670
Works ok. The only caveat - from source code it looks a bit memory-consumption worrying as it keeps zip file in memory.

As of temporal solution looks fine and works.

[2020-11-16 02:38] jaredallard commented on #1670
@arschles So sorry, didn't see this. And yeah, my only concern with submitting it is the memory usage. I'll see if I can get something better out by end of the month!

[2020-11-19 20:39] arschles commented on #1670
Sounds good @jaredallard! Can you do me a favor and `@` me in a PR if/when you submit one?

[2020-11-20 19:26] arschles commented on #1666
@draeron are you wanting to create a secret outside of the helm chart, and then bring it into your pod as an environment variable?

[2020-11-20 19:28] arschles opened #1679 "Add documentation for ValidationMiddleware"
In https://github.com/gomods/athens/issues/1669#issuecomment-711428240, @bored-engineer asked about the ValidationMiddleware, but there is not documentation around it.

We should add some

[2020-11-20 19:37] arschles commented on #1669
@bored-engineer good idea on using the middleware. we haven't documented it at all at the moment (just filed https://github.com/gomods/athens/issues/1679 for that). Wouldn't using DownloadMode take you back to your original problem? Anyway, for now if you set the validation URL (`ATHENS_PROXY_VALIDATOR` env var), Athens ends up doing a POST request to that URL (see [here](https://github.com/gomods

[2020-11-20 22:18] draeron commented on #1666
By external i meant the chart itself should create the secrets and the deployment should refer to it via a `secretKeyRef`.

[2020-11-21 04:36] marwan-at-work opened #1680 "Integrate Athens With pkg.go.dev (pkgsite)"
The code for pkg.go.dev is [open source](https://github.com/github/pkgsite) and it uses the GOPROXY as its main source for modules to show documentation for.

Therefore, a company, team, or individual should be able to run an internal documentation server that runs along side their internal Athens server.and uses it as its main source.

This issue tracks required features, docs, and UX to make the

[2020-11-24 01:40] arschles commented on #1534
@Dominik-Robert I'm going to close this issue. If you still have this problem, please reopen.

[2020-11-24 01:40] #1534 closed

[2020-11-24 03:17] arschles opened #1683 "(pkg/storage).Module shouldn't have a Mongo primitive.ObjectID in it"
Following from discussion at https://github.com/gomods/athens/pull/1681/files#diff-f23cedde26f3951492d8ee6130ee313245a5319c031dbd14ab82564487fc2e9bR9

cc/ @marwan-at-work

[2020-12-06 08:34] Starttoaster opened #1684 "Private modules from gitlab.com not being served from proxy"
For the purposes of this Issue, I'm using a variable "$GROUP_NAME" to replace my group in gitlab.com, for privacy. In the actual input/output, suffice to say the literal value is what is meant :)

**Describe the bug**
When running a local Docker install of Athens, and running `go get gitlab.com/$GROUP_NAME/go/modules/errors` the proxy is returning a 404 not found. However, when exec'd into the run

[2020-12-06 08:38] Starttoaster commented on #1684
Just to pile on; my gut tells me I've done _something_ wrong. For the life of me, I haven't found what it is though.

[2020-12-06 09:18] Starttoaster commented on #1684
UPDATE: I was able to download my module on my local as well! It appears I needed to set `$GONOSUMDB` on my local? I figured just having this within the proxy would work. Can anyone with more knowledge of go modules confirm this was the solution?

[2020-12-07 00:59] Starttoaster commented on #1684
Issue ended up being that I hadn't set the variable `GONOSUMDB` on my local machine, apparently.

[2020-12-07 00:59] #1684 closed

[2020-12-11 14:27] pshanoop opened #1685 "[Chart] AWS Load Balancer Controller ssl redirect using annotation"
**Is your feature request related to a problem? Please describe.**
With current chart, It is not possible to setup ssl-redirect for aws loadbalancer controller ingress.

**Describe the solution you'd like**
Adding a `extraPath`  map value to each hosts. Where `serverName` and `servicePort` can be defined will resolve this issue.
Values will look like
[code]
ingress template will then
[code]
This i

[2020-12-15 14:37] pshanoop commented on #1685
I noticed I missed the detail about the default path.
On nginx `/` will match all paths, But on ALB it uses glob match, so it needs `/*` to match all paths.

To solve this I added `customPath` on my PR.

[2020-12-18 16:18] jhawk28 opened #1688 "Packer v1.6.6 fails on unzip"
**Describe the bug**
When pulling packer 1.6.6 through athens, it fails. It works fine when pulling directly.

**Error Message**
INFO[11:12AM]: unzip /tmp/athens422842948/pkg/mod/cache/download/github.com/hashicorp/packer/@v/v1.6.6.zip: malformed file path "website/pages/docs/[[...page]].jsx": double dot   http-method=GET http-path=/github.com/hashicorp/packer/@v/v1.6.6.mod kind=Not Found module=

[2020-12-18 17:35] jhawk28 commented on #1688
I upgraded my go version to 1.15.6 and the issue went away.

[2020-12-18 17:35] #1688 closed

[2020-12-24 02:45] wangycc opened #1689 "Upstream configuration does not take effect"
**Is your feature request related to a problem? Please describe.**
I want the private package to be pulled directly from the private code repository. Pull from the upstream server when the third-party package does not exist locally. I don’t know if my configuration is wrong, but it doesn’t take effect.

**Additional context**
version: v0.6.1

configuration:
[code]

download-hcl.conf:

[code]

logs

[2020-12-24 19:31] bnrjee opened #1690 "500 Internal Server Error while reading google.golang.org/api/@v/v0.15.1-0.20200106000736-b8fc810ca6b5.mod"
**Describe the bug**
We are trying to build few [projects](https://github.com/aws/eks-distro/blob/main/Makefile) and using athens as a proxy with an s3 bucket at the back-end. Build fails for the following repositories,
https://github.com/kubernetes-csi/external-snapshotter
https://github.com/kubernetes-csi/external-provisioner

**Error Message**
If applicable add error message to help explain you

[2021-01-07 21:03] bnrjee commented on #1690
@arschles, would it be possible for you to look into it?

[2021-01-13 15:26] Locus99 opened #1692 "Adding an ExistingClaim to Chart"
Currently, the athens-proxy helm chart can create a pvc.  I have seen using the value of "existingClaim" on other charts to supply a pvc value rather than create one and suggest updating the deployment to use this value when available (and not create the pvc).  The pvc can still be created if this option is not available.

Is there a philosophical reason why this wasn't done before?

[2021-01-13 23:01] arschles commented on #1692
@Locus99 no, we don't have a philosophical reason for not doing that. I don't think any of us thought of it at all, to be honest. Is it something you need?

[2021-01-14 14:49] Locus99 commented on #1692
I have a situation where I have an offline system and if I needed to redeploy this chart  the existing go modules in the repo would be lost (or at least would need to be moved from the archived storage back to the new PVC).  I am working on an update to the chart locally to see how it would work.  Wanted to know if this would be something accepted if I made it publicly available.

[2021-02-01 15:39] MetalRex101 opened #1693 "stream error: stream ID 535; PROTOCOL_ERROR; invalid header field name"
**Describe the bug**
When building go app with dependencies, error occurs while fetching some dependencies through athens. Looks like problem related to voyager `v11.0.1`. With voyager `v12.0` problem does not exist, but we can't update to `v12.*` because of other problems with voyager.

**Error Message**

<pre>
[code]
</pre>

**To Reproduce**
Deploy athens to K8S behind voyager `v11.0.1`.

**Expe

[2021-02-01 17:00] thomasrutkowski opened #1694 "Minimum S3 permissions"
**Is your feature request related to a problem? Please describe.**
When setting up Athens with AWS S3 storage backend, the documentation fails to specify necessary permissions for the bucket. Best practice is to only allow the minimum permissions needed.

**Describe the solution you'd like**
A list of permissions or optimally a policy snippet included in the documentation.

**Describe alternatives

[2021-02-04 20:01] arschles commented on #1692
@Locus99 we would accept it, if it was opt-in

[2021-02-04 20:03] arschles commented on #1694
@thomasrutkowski from memory, you'll need just read and write on a bucket. I want to confirm - is that what you're seeing? If so, I can update the docs

[2021-02-06 05:43] tzvetkoff opened #1695 "Docker: change /config/config.toml permissions so Athens can be ran as non-root user"
**Problem**

Currently the `/config/config.toml` has permissions set to `0700`.
This makes it impossible to run Athens with a non-root user, and this is in turn needed so you can mount the filesystem storage directory with your UID/GID.

**Possible solution**
Changing the permissions to something sane, like `0644` (or `0755` and add a `#!/bin/athens-proxy` hashbang.)

**Alternative**
Building a wr

[2021-02-09 10:41] thomasrutkowski commented on #1694
Hi,
I'm currently testing and setting the environment up, I can set up a PR with examples and instructions towards the documentation unless you would prefer a snippet here?

[2021-02-10 09:59] thomasrutkowski commented on #1694
Tested and verified working IAM-policy:

`{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Action": [
                "s3:ListBucket",
                "s3:GetBucketLocation"
            ],
            "Resource": "arn:aws:s3:::BUCKETNAME"
        },
        {
            "Effect": "Allow",
            "Action": [
                "s3:PutObject"

[2021-02-19 08:23] ceejatec opened #1696 "Error downloading github.com/google/flatbuffers v1.12.0"
**Describe the bug**
When using Athens as a proxy, "go get github.com/google/flatbuffers@v1.12.0" fails with a 404 error.

**Error Message**
The following appears in the Athens logs:

<pre>
DEBUG[8:11AM]: saving github.com/google/flatbuffers@v1.12.0 to storage...	http-method=GET http-path=/github.com/google/flatbuffers/@v/v1.12.0.info request-id=c2ab8d62-401a-486c-b2d2-5c0e01734768
INFO[8:11AM]: g

[2021-02-19 08:27] ceejatec commented on #1696
As a note, we're working around this by specifying the following in our go.mod files:

    github.com/google/flatbuffers v0.0.0-20200312223339-6df40a247173

which points to the same SHA as the tag "v1.12.0" does. This downloads fine via Athens.

[2021-02-25 00:53] xytan0056 opened #1697 "Descriptive error message for non-conforming module imports"
**Describe the bug**
maybe  can be fixed with #1318. When a module's tag doesn't match sem ver format, especially for v1+ modules, athens will return a 404, whereas proxy.golang.org returns a descriptive error
https://athens.azurefd.net/github.com/uber/h3-go/@v/v3.0.2.info
https://proxy.golang.org/github.com/uber/h3-go/@v/v3.0.2.info

**Error Message**

<pre>
[code]
</pre>

**To Reproduce**
Steps

[2021-03-02 07:31] teochenglim commented on #1663
Same problem here.

[code]

[2021-03-02 21:16] khanhldt opened #1698 "Enable custom error message for 404"
**Is your feature request related to a problem? Please describe.**
We want to enforce some deny policy at the organizational level when someone attempts to install a potentially confusing repo's URLs (per [this blog post](https://michenriksen.com/blog/finding-evil-go-packages/)). For example:
- `github.com/siruspen/logrus` is likely a typo from the popular `github.com/sirupsen/logrus`

Having the

[2021-03-04 13:47] endocrimes commented on #1695
@tzvetkoff looks like this is the dockerfile they use for pushing those images https://github.com/gomods/athens/blob/main/cmd/proxy/Dockerfile

[2021-03-06 08:51] danieloleynyk commented on #1680
I'd like to give it a shot :)

[2021-03-06 18:02] arschles commented on #1680
I'd like to keep the do one thing and do it well pattern we've had until now, so can we leave pkgsite out of Athens itself? If we have to, I'm all for forking it into the gomods/ GitHub org

[2021-03-06 18:05] arschles commented on #1695
Thanks for the pointer @endocrimes 😊

@tzvetkoff feel free to send a pull request - we'd really appreciate that!

[2021-03-06 18:08] arschles commented on #1663
@teochenglim @tanora do either of you see anything in logs that shows an error specific to S3 or similar?

[2021-03-07 02:49] teochenglim commented on #1663
@arschles That's no any helpful error message from the kubernetes pod. All we see is bunch of 200 (/healthz) and 500 (/readyz) status code because of helm charts's readiness. A more verbose debug log option would be helpful.

i think it is from https://github.com/gomods/athens/blob/main/charts/athens-proxy/templates/deployment.yaml#L59-L70

[code]

The other possible question is when the endpoint

[2021-03-07 02:58] teochenglim commented on #1663
@arschles

indeed the /readyz seems from this code and it only return the http status
https://github.com/gomods/athens/blob/main/cmd/proxy/actions/readiness.go#L12

If some log is written somewhere would be good.

Or maybe also return the "err" on what ready happen would be so helpful.
https://github.com/gomods/athens/blob/main/pkg/storage/s3/s3.go#L70

The problem can range from permission error,

[2021-03-07 08:53] AlexeyUzhva commented on #1670
That would be awesome!

Any chance that could get to the release? Any plans to add so?

[2021-03-09 09:47] thomasrutkowski commented on #1694
Hi @teochenglim,

We are using an instance profile with the above policy attached. If your Bucket is encrypted you would also need to add kms-keys for decrypt.

I set AWS_USE_DEFAULT_CONFIGURATION=true for athens to work with the instance profile and consequently do not set AWS_ACCESS_KEY_ID or AWS_SECRET_ACCESS_KEY at all.

I would recommend that you join the #athens channel on the gophers slack.

[2021-03-11 18:26] marwan-at-work commented on #1690
@bnrjee sorry for the delayed response. If you look at the `ops` field in the `signal-killed` log line, it looks like it failed when Athens was doing `go mod download` which at this point doesn't try to upload to S3 at all (even though it used S3 to check if the object exists in the first place already and that obviously hasn't failed, otherwise there would have been no `go mod download`)

Therefo

[2021-03-11 19:59] arschles opened #1702 "Host docker images on GitHub Container Registry"
They're on DockerHub now. We might consider putting them onto ghcr because that service gives us statistics on downloads for each tag, rather then just all tags at once.

[2021-03-11 20:03] arschles commented on #1670
@AlexeyUzhva @jaredallard so we do have https://github.com/gomods/athens/pull/1681 (which is in the new [v0.11.0](https://github.com/gomods/athens/releases/tag/v0.11.0) release). iirc, in most cases it's done in memory but we could probably use that abstraction to pre-compute the sizes and store them. Would having that feature (which presumably would eliminate an OOM issue) fix something for you?

[2021-03-12 11:46] thomasrutkowski opened #1703 "Athens/docker on aws EC2 not picking up instance role for S3 Permissions"
**Describe the bug**
When running Athens from the official docker container, Athens will not catch the instance role credentials unless AWS_USE_DEFAULT_CONFIGURATION is set to true.

**To Reproduce**
Steps to reproduce the behavior:
Add instance role to instance, start athens from docker and set S3 environment without setting any credentials.

**Expected behavior**
Athens should start and pick up

[2021-03-16 15:06] gw0 opened #1704 "Newest Helm chart versions are not published"
**Describe the bug**
Latest two version of the Helm chart (`0.5.0` and `0.4.16`) are not published on the `gomods` chart repository.

**Error Message**

[code]

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
A CI pipeline should build and publish new chart versions.

**Environment (please complete the following information):**
 - OS: Linux 64bit
 - Helm: 3.1.3

[2021-03-18 07:15] vatine commented on #1696
I think I am seeing the same issue with a few other module/version tuples (inexplicable module download errors through Athens that seem to be working fine when going straight out).

[2021-03-19 12:25] jgiannuzzi commented on #1696
This issue can be reproduced outside of Athens by bypassing the Google Go proxy whilst still using their Sum DB:

[code]

When comparing the version downloaded from the Google Go proxy to the current v1.12.0 tag, you can see that there are a bunch of (irrelevant to Go) version differences in Swift, Java, Kotlin, etc. files (1.11.1 instead of 1.12.0). So this seems to me like an actual case of some

[2021-03-20 09:09] vatine commented on #1696
I could get this to work as I would have expected with the following configuration:

[code]

That is, explicitly putting GOPROXY back to its default value.

[2021-03-21 12:00] chriscoffee commented on #1704
Thanks for the ticket @gw0. I'll pick this one up and have peek why the push failed in the last release:https://cloud.drone.io/gomods/athens/2179/1/12) Error: Looks like "https://kubernetes-charts.storage.googleapis.com" is not a valid chart repository or cannot be reached: Failed to fetch https://kubernetes-charts.storage.googleapis.com/index.yaml : 403 Forbidden)

[2021-03-21 18:48] arschles commented on #1704
@gw0 @chriscoffee - just merged https://github.com/gomods/drone-helm/pull/4 and restarted the drone job. 🤞

[2021-03-21 18:51] arschles commented on #1704
@gw0 @chriscoffee update - the latest build worked! https://cloud.drone.io/gomods/athens/2181/1/2

thanks both of you :)

[2021-03-21 18:51] #1704 closed

[2021-03-22 16:58] stackedsax commented on #1323
@marwan-at-work We use it in production at [G-Research](https://github.com/G-Research).  Our whole Go developer experience relies on it.

We love it, but we ran into one issue that caused us some pain: https://github.com/gomods/athens/issues/1512.  We fixed this for us internally, so now we're using an internal fork... which I hate.  I'll push the team to work with y'all to upstream a fix so we ca

[2021-03-22 17:00] marwan-at-work commented on #1323
@stackedsax ah, i haven't checked out #1512 before. But that sounds great.

[2021-03-27 20:16] danieloleynyk commented on #1416
same issue over here :/

[2021-03-27 21:00] danieloleynyk opened #1707 "Support for /latest & /list apis on disconnected networks"
I'm currently working on integrating pkgsite with athens (#1680), my motivation for this is to have documentation on my organization's internal network.

Sadly I've encountered a different issue in the process, pksite uses the /list & /latest api endpoints which are unreachable on an internal network, both of those endpoints use the same List() function which executes "go list -m -versions -json {

[2021-03-28 05:54] #1707 closed

[2021-03-28 05:55] danieloleynyk commented on #1707
nvm this is a duplicate of #1416

[2021-03-28 13:49] #1694 closed

[2021-03-28 21:34] thomasrutkowski commented on #1703
This isssue is NOT resolved by #1708.

Documentation does not solve the problem that instance roles are only be used when setting a configuration value slated for depreciation as true. #1708 only states to use that config. This is for resolving the underlying problem and should be reopened.

[2021-03-28 21:47] iamnande commented on #1543
are there storage requirements/assumptions for the module? I have a lot of the terraform already completed and would be willing to contribute a module version of it.

it currently uses s3 as the backend storage and latency based, regional, routing so deploying it globally is relatively simple (adding a region to an array).

[2021-03-28 23:33] marwan-at-work commented on #1703
@thomasrutkowski happy to re-open, although setting the env var seems like a low lift. Any suggestions on how to resolve the underlying problem without having to set the env var?

[2021-03-29 05:02] teochenglim commented on #1694
Guys.. it still doesn't work on EKS because it is not using sts assume role, but it used sts web assume identify.

[2021-03-29 05:10] thomasrutkowski commented on #1703
The problem is deprecating the variable. If it stays then by all means, just set it.

No easy fix apparent after a quick look. Will try to dig a bit when I have time.

[2021-03-29 14:13] marwan-at-work commented on #1694
I'm happy to re-open this issue as well. But I'm not too familiar with AWS and its permission model.

@thomasrutkowski can you please confirm @teochenglim 's concern given your docs PR that closed this issue?

Thanks! 🙏🏼

[2021-03-30 05:23] teochenglim commented on #1694
@marwan-at-work allow me to explain in long details.

Thomas is using ec2 instance (VM) and it works on ECS (docker container managed service) works for him. It is a good documentation for the user to have.

I am using EKS (Kubernetes manage service) and it doesn't work for me.

In AWS you can use API_KEY and API_SECRET to authenticate the AWS "session" https://github.com/gomods/athens/blob/main/p

[2021-03-30 05:24] teochenglim commented on #1694
@marwan-at-work

working code for EKS

[code]

[2021-03-31 11:55] alikhil commented on #1615
The problem is actual for Google Cloud Run too. There is a limit for response size - 32MB.

And it makes it impossible to run proxy in production using Google Cloud Run.

[2021-03-31 18:20] #1695 closed

[2021-04-01 17:05] arschles commented on #1615
@linzhp there appears to be something wrong with the Athens on Azure - I'll have a look and get that fixed up as soon as I can. Are you depending on it for something critical?

I verified that this problem doesn't exist with the [latest](https://hub.docker.com/layers/gomods/athens/latest/images/sha256-efb811df7844779d4ca46d2fd1aaf830082e4229e8c947d983f5feedc53e8f1f?context=explore) Athens docker i

[2021-04-01 17:12] arschles commented on #1696
Google likely stored this version at the same time as they calculated the checksum, so their version will pass validation but if you run Athens to download directly from VCS (it does this by [default](https://github.com/gomods/athens/blob/6991d6347b8247dc4f2323a2ac754e5c3ffd50ab/config.dev.toml#L54)) then it will download the version that doesn't match the checksum.

As @vatine said, changing `GoB

[2021-04-01 17:12] #1696 closed

[2021-04-01 17:26] arschles commented on #1693
@MetalRex101 I'm not familiar with Voyager. Can you paste a link?

[2021-04-01 23:46] linzhp commented on #1615
No. We don't depend on it

[2021-04-02 07:11] alikhil commented on #1615
@arschles should I create another issue for the problem with GCP?

[2021-04-04 06:48] thomasf opened #1709 "maybe remove known-limitations.md"
The first paragraph is about go modules being an experimental feature which isn't true anymore and the other two are not really about limitations at all.

[2021-04-06 18:19] arschles commented on #1709
Right you are, thanks @thomasf !

[2021-04-06 18:26] #1709 closed

[2021-04-15 17:17] arschles commented on #1615
@alikhil sure. we can discuss there. I'm not sure what Athens can do about the response size limits of cloud run, so if you have ideas, please put them there.

[2021-04-15 17:23] arschles commented on #1689
@wangycc can I see what is in the file you've specified as your `FilterFile` (`/config/filter-file.conf`)?

[2021-04-16 06:19] alikhil commented on #1615
@arschles I don't know how go mod protocol works under the hood, but I was thinking about implementing partial responses so that any single response will not exceed the limit. Is it possible in theory?

[2021-04-21 12:59] redwolf2019 opened #1713 "Proxy gitlab subgroup project error with "Host is unreachable""
**Describe the bug**
When I use `athens v0.11.0` proxy gitlab  subgroup project ,`athens` server and `gitlab server` was in same LAN network and can reach each other. but actually,i can't proxy to gitlab repo.here is error msg:

**Error Message**

[code]

**To Reproduce**
run go get failed:
[code]

**Expected behavior**
success download gitlab private repo

**Environment (please complete the follo

[2021-04-27 19:30] rbrtl commented on #1537
This is fixed in latest - v1.11.0

[code]

[https://github.com/gomods/athens/blob/release-v0.11.0/go.modL15](https://github.com/gomods/athens/blob/release-v0.11.0/go.modL15)

[2021-04-27 20:34] arschles commented on #1537
yes, sorry I forgot to close this issue. hope this helps @RaymondKYLiu. closing

[2021-04-27 20:34] #1537 closed

[2021-04-28 20:03] karlem commented on #1618
@rolandjitsu Hi Roland, I know this issue has been open for a while but have you managed to figure out what was wrong? I have the same problem...

[2021-04-29 01:29] rolandjitsu commented on #1618
I don't think I got it working. My goal was to have the proxy download private repositories without having the user setup their machine to do that, but I couldn't figure out a way to do that. So I ended up not using the proxy and using docker buildx to build and do the auth required for getting private repos.

[2021-04-29 12:54] karlem commented on #1618
Thanks, Roland, that makes sense.. I am not sure why is it not working..

[2021-05-21 01:33] bnrjee commented on #1690
@marwan-at-work sorry for the late reply. Athens service can reach internet. We build bunch of other projects with athens and only these 2 fail. Other repos that we build with athens are
1> kubernetes/release
2> containernetworking/plugins
3> coredns/coredns
4> etcd-io/etcd
5> kubernetes-csi/external-attacher
6> kubernetes-csi/external-resizer
7> kubernetes-csi/livenessprobe
8> kubernetes-csi/node

[2021-05-25 01:57] drewwells commented on #1416
Latest appears to work now. however, the workers are not able to retrieve module index. So you can't populate a database from athens

[code]

[2021-05-25 13:22] drewwells opened #1714 "Helm chart bring your own config.toml"
**Is your feature request related to a problem? Please describe.**
The config.yaml is hardcoded into the docker container. This is fine, but the helm chart needs a way to override this config file.

**Describe the solution you'd like**
Option to mount an externally provided config file. I think most options are available as environment variable overrides, but the athens process does not log its co

[2021-05-30 19:26] rgao-wish opened #1715 "Cannot authenticate to GitHub. private repo"
Hi guys,  I'm trying to test the functionality of authenticating to private repo on my local docker, and I've followed the guides here https://docs.gomods.io/configuration/authentication/#atlassian-bitbucket-and-ssh-secured-git-vcs-s. Finally I was able to properly set up the git credentials, and I was able to git clone private repos via ssh and https without having to entering additional credenti

[2021-05-30 19:49] rgao-wish commented on #1713
Shall we talk about this via emails? Mine is c47gao@outlook.com

[2021-06-04 12:53] zdebra opened #1718 "Better error message for invalid github token"
**Is your feature request related to a problem? Please describe.**
We are running Athens in the company as a goproxy for both private and public repositories. It was working just fine until Github token was rotated and goproxy lost permissions for company private repositories.

This is obfuscated output of the service:
[code]
I don't think this error message is clear.

**Describe the solution you'

[2021-06-14 22:25] arschles commented on #1718
@zdebra thanks for offering to improve the message - we're happy to take a PR from you to fix it.

[2021-06-16 17:25] #1715 closed

[2021-06-16 18:09] arschles commented on #1715
@rgao-wish is this still a problem for you?

[2021-06-16 18:22] rgao-wish commented on #1715
@arschles Hey I solved this by setting GONOSUMDB to bypass the check.

[2021-06-17 16:24] Xjs commented on #1680
@danieloleynyk I'm interested in this as well, before I start: have you made any progress with this? Do you happen to have a running athens+pkgsite setup or might I be wasting my time because it is hopeless? :)

[2021-06-17 17:17] danieloleynyk commented on #1680
Sadly I had to leave it since I had no free time for it :(
I need this feature in my organization's air-gapped network, so all the things that I did had to be tested on an air-gapped network, quickly it became an issue since the /list and /latest api's of athens are not working in air-gapped networks(#1416)

issue #1416 is in progress, there is a listoffline branch that should resolve it,
however,

[2021-06-28 03:32] will-beta commented on #1468
@arschles Does it mean the Athens could not utilize `GOSUMDB` in the `ATHENS_GO_BINARY_ENV_VARS`?

`https://sum.golang.org` is not accessible in China apparently.

Just ran the server with the config.dev.toml and the envs below:

[code]

Got the error messages on the client side when I ran `go get golang.org/x/tools/gopls@v0.7.0` :

[code]

[2021-06-29 20:50] c47gao opened #1722 "Cannot upload traces when using an Jaeger sidecar"
**Describe the bug**
I used an Jaeger agent sidecar to collect traces. But it fails for some reason

**Error Message**
The jaeger agent sidecar itself is working properly and it's been used in other apps.
[code]

**To Reproduce**
Steps to reproduce the behavior:
Athens 0.11.0.

[code]
Jaeger agent sidecar uses the default setup:
[code]

**Expected behavior**
Athens should be able to upload traces

[2021-07-28 08:53] poblish opened #1725 "Extend Helm chart values to allow "scm" in private Bitbucket repository URL"
**Is your feature request related to a problem? Please describe.**
In order to access a private repository running on Bitbucket server, we needed to fork the main Helm chart in order to extend the `git_config` ConfigMap data [here](https://github.com/gomods/athens/blob/30b9ea0b6cfdfe7757005b38882f3857d62439e0/charts/athens-proxy/templates/config-ssh-git-servers.yaml#L24), replacing:

`insteadOf =

[2021-08-18 18:57] vposhamod opened #1726 "private GitHub repo download access change needs Athens restart"
**Describe the bug**
Private Github repos for which Athens doesnt have access at the time of its startup are considered unauthenticated even if the access to that repo is granted later for athens github user.

**Error Message**
Client - reading github.com/org/some-private-repo/go.mod at revision v0.1.5: unknown revision v0.1.5
Server - I wish I captured it, but I dint - sorry.

**To Reproduce**
St

[2021-08-18 23:09] #1506 closed

[2021-08-18 23:09] #1532 closed

[2021-08-19 10:12] wenerme commented on #1589
Current syntax is `configEnvVars.ATHENS_DOWNLOAD_MODE="custom:<base64 encoded file>"`, should add a note to values.yaml

[2021-08-19 10:16] wenerme commented on #1589
@arschles How about treat ATHENS_DOWNLOAD_MODE without prefix as the content of download mode file, this will be way easier

[2021-08-19 18:35] kylelemons opened #1729 "Panic when configuring `[Storage.S3]`"
**Describe the bug**
When we configure our instance with:

[code]

we get a panic as follows:

**Error Message**

[code]

**To Reproduce**
I'm not sure what is causing this; it's possible that the kube2iam isn't propagating, for example, or that the bucket permissions aren't set, or that we're missing something for the URL but none of these sorts of predictable failure conditions should be able to

[2021-08-19 18:45] kylelemons commented on #1729
Update:

Just to confirm, if I add
[code]

to the configuration, this panic no longer occurs, and it seems to be able to use s3 correctly

[2021-09-13 16:11] scriptonist commented on #1327
@arschles Is this still relevant, can I make an attempt to add these tests?

[2021-09-13 17:32] arschles commented on #1327
@scriptonist yes, it looks like it. Please feel free!

[2021-09-17 01:24] linzhp opened #1731 "LRU cache"
**Is your feature request related to a problem? Please describe.**
We are considering to implement an LRU cache for Athens. Unlike the current pkg/storage/mem implementation, we can specify the size of memory available. The cache can evict old modules when the memory usage reaches its limit. This cache can improve the performance of Athens because it requires less persistent storage access. It can

[2021-09-17 18:18] linzhp commented on #1731
I am thinking about adding a caching layer that can be shared by all storage backend, but I am open for implementing it as another storage backend too.

[2021-09-17 21:48] arschles commented on #1731
Ah, I like your shared caching layer idea better. Are you willing to submit a PR for this? If so, please feel free.

If you do, can you please DM me on the Gophers slack group to prompt for a review? I'm `arschles` there.

[2021-09-17 21:53] linzhp commented on #1731
We will prioritize the task internally and submit a PR

[2021-09-17 22:00] arschles commented on #1731
Ok, thank you @linzhp. I look forward to seeing the PR 👍

[2021-10-01 20:11] #1729 closed

[2021-10-05 17:47] arschles commented on #1722
@c47gao are traces making it from Athens to the sidecar properly?

[2021-10-26 15:07] 56KBs opened #1733 "List endpoint excessively slow"
**Describe the bug**
When completing a `/list` lookup on a dependency to identify all versions of that dependency, the lookup is consistently very slow.

**To Reproduce**
Steps to reproduce the behaviour:

[code]

**Expected behaviour**
I would have expected the time for this to run to be similar to that of querying via `go list -m -versions -json github.com/aws/aws-sdk-go-v2@latest`, or querying

[2021-10-27 18:14] arschles opened #1734 "A Call for new Maintainers"
Since its launch in August 2018, Athens has grown to become an important project as an open source Go module proxy and datastore for the Go community. Over the past 3 years, we (the existing core maintainers) have focused on a stable set of useful features while ensuring Athens is extremely contributor-friendly. That work has paid off. We now have 100 contributors to date and the software is used

[2021-11-05 12:02] ericsonj commented on #1416
Hi, check config.toml file:

[code]

[2021-11-13 07:08] abhay-krishna commented on #1323
[Amazon EKS Distro!](https://github.com/aws/eks-distro)

[2021-12-02 06:32] jason-liew opened #1740 "support "|" in GOPROXY env var"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

ATHENS_GO_BINARY_ENV_VARS="GOPROXY=https://goproxy.io|direct;"
report ERROR: invalid character "|" in host name

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

  upgrade golang version to

[2021-12-03 05:56] #1740 closed

[2021-12-06 05:40] nitesh-epifi commented on #1624
I was facing the same issue with `github.com/google/tink/go`

[code]

This got later fixed by solution suggested by @marwan-at-work. Thanks

[2021-12-06 09:14] mc-roblee commented on #1350
@manugupt1 is this resolved by #1708?

[2021-12-06 17:24] manugupt1 commented on #1350
@mc-roblee I would like to see one more improvement. I would like to see a complete task definition that points to the athens task image; would you be able to help with it?

[2021-12-07 08:26] mc-roblee commented on #1350
Happy to take a look, certainly. I am not up to speed on task definitions, so I shall read some docs and start a branch

[2021-12-09 16:08] rbrtl opened #1743 "`golint` checks in `make verify` throw GOROOT error"
**Describe the bug**

Linting during `verify` Makefile task returns error for each module in Athens as "not in GOROOT" with the `GO111MODULE=off` setting.

**Error Message**

<pre>
[code]
</pre>

**To Reproduce**

`make verify`

**Expected behavior**

No errors thrown by `golint` and status 0 returned

**Environment (please complete the following information):**

 - OS: Darwin Kernel Version 20.6.

[2021-12-10 06:03] #1743 closed

[2021-12-12 13:19] rbrtl commented on #1359
Suggest removing the Good First Issue label as there is a complex history to the feature request and significant decision to be made before this can be done.

[2021-12-13 23:34] cep21 commented on #1733
I can see the same issue trying to do a `go get -u X` for a private module hosted on github.  Here are the results both with and without using athens (This is an athens server with 1CPU serving only this request).

Using athens: 25 seconds
[code]

Not using athens: 3 seconds
[code]

[2021-12-14 17:19] arschles commented on #1733
@56KBs caching is tricky in the most common (as of this writing) usages of Athens, which is what you saw in the issues you mentioned. However, when Athens is running in "offline" mode (which we recently introduced), caching `/list` is done by default. If you can run in that mode, this problem would be greatly reduced.

@cep21 in the test you did, did Athens have `github.com/COMPANY/PROJECT` in its

[2021-12-14 17:20] arschles commented on #1359
good point, thanks @rbrtl. removed

[2021-12-14 17:23] arschles commented on #1624
Since running Athens with `GOPROXY=proxy.golang.org,direct` (using the `ATHENS_BINARY_ENV_VARS` env var), as @marwan-at-work suggested above, works, closing this issue. @nitesh-epifi I'm glad it worked for you!

if anybody thinks that athens should run with `GOPROXY=proxy.golang.org,direct` by default, please feel free to open another issue 👍

[2021-12-14 17:23] #1624 closed

[2021-12-14 17:48] cep21 commented on #1733
@arschles you were right I've modifed my command to the following

[code]

Inside my S3 bucket I see the files for the module.

However, the time is still much slower.

Athens: `real    0m31.357s`
No athens: `real    0m2.293s`

I did some experimentation: helm is pretty complex and downloads fast
[code]

But not as fast as no proxy by a factor of 10x
[code]

When I look at my athens logs while fet

[2021-12-14 17:56] cep21 commented on #1733
I think the delays go back to `/list` since I see these timings when I curl via helm, and I see the `/list` calls in my logs

Athens:
[code]

Regular:
[code]

[2021-12-14 18:08] cep21 commented on #1733
Reading a bit about the /list difficulties, is it possible to do all /list calls via proxy.golang.org first, and if that's a 404, then use private auth from the proxy's configuration?  I think that would give me the best of both worlds.

[2021-12-14 18:12] cep21 commented on #1733
Maybe another actionable artifact is a FAQ around how to performantly run athens for private setups?

[2021-12-15 04:18] cep21 commented on #1733
My first thought was to try something like this
[code]

But the problem is that the proxy still tries to do list requests rather than sending them to proxy.golang.or

[2021-12-17 09:51] 56KBs commented on #1733
From the documentation this suggests that in offline mode it'd never reach out to VCS to identify new versions - Is this correct?

[2021-12-20 22:17] manugupt1 opened #1749 "Log Escaped URL Paths based on CodeQL results"
**Describe the bug**
CodeQL show that we are logging paths directly. We should instead escape and then log them.

**To Reproduce**
Results are shown here: https://github.com/gomods/athens/pull/1748/checks?check_run_id=4567576462

**Expected behavior**

We can simply log escaped paths provided by net/url: https://pkg.go.dev/net/url#URL.EscapedPath

**Additional context**
Add any other context about

[2021-12-27 21:04] ChanceNCounter commented on #1406
A weird thing on GitHub, but I think this issue is worthy of a bump, considering that its last activity was more than a year and a half ago, and I've just had the same experience over an evening and a morning.

So far, I've gotten to the point where I *think* the proxy should be redirecting certain requests to my local Gitea server, but instead it's checking its own storage and returning a 404. Ob

[2021-12-30 14:41] DGollings commented on #1690
Have same/similar issue, can't download google.golang.org/ap

Logs:
[code]
Manual curl
[code]

whilst using Athens Proxy
[code]
hangs

[2022-01-02 20:45] enkeyz commented on #1749
Would like to work on this. One question: what do you mean by "We should instead escape"?

[2022-01-03 03:32] manugupt1 commented on #1749
Hello @enkeyz

That should be awesome. I think this should be enough.

One of the reviewers should be able to review and see if any other changes are required.

Also, have a great 2022.

[2022-01-12 15:24] joshuabaird opened #1750 "Log cache hits vs cache miss"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
We would like to produce a metric that describes cache hits (modules already in Athens' storage) vs cache misses (modules that need to be fetched from a VCS).  One way to accomplish this is to enhance logging which we could use to generate a metric from.

[2022-01-12 17:16] arschles commented on #1750
@joshuabaird seems reasonable. would you be interested in submitting a PR for this?

[2022-01-18 20:29] StevenACoffman commented on #1571
This... didn't exactly happen in the PR. Corrected instructions should be:

[code]

[2022-02-21 07:58] abh opened #1761 "Helm chart ingress not working on Kube 1.22+"
The ingress API version used in the helm chart (v1beta) was deprecated a while back and removed in Kubernetes v1.22.

https://kubernetes.io/docs/reference/using-api/deprecation-guide/

[2022-02-21 22:29] manugupt1 commented on #1761
Hi @abh

Thanks for bringing this to our attention. Will you be able to send a PR for this?

thanks!
Manu

[2022-02-21 22:30] manugupt1 commented on #1749
I will close this as CodeQL is not red anymore.

[2022-02-21 22:30] #1749 closed

[2022-03-09 10:41] elamre commented on #1733
Have you found any solution aroudn this @56KBs ? I run athens offline, and get exactly the same issue. It always forces to use the list on every dependency and wait for it to time out. It takes an hour, what should be done in a matter of seconds

[2022-03-09 19:47] marwan-at-work commented on #1733
Hi everyone 👋🏼 apologies for the delay here.

The /list endpoint goes through the VCS every time to see if there's a new version that's been published. That's why it's slow. Proxy.golang.org caches those results which means often you don't see new versions for however long the cache is (unless you explicitly request the new version directly and the proxy will add it to the list).

Within Athens, y

[2022-03-21 12:56] prosnekov commented on #1690
The same thing with the same module
[code]
We are using athens for a lot of modules but this is the only one which fails. And I agree that it looks like some kind of internal timeout.

[2022-04-11 23:25] manugupt1 opened #1771 "Move to opentelemetry"
**Describe the bug**
Athens already supports tracing via opencensus; but that is no longer supported and deprecated

**Error Message**
If applicable add error message to help explain your problem or console output enclose in triple back-ticks eg,

<pre>
[code]
</pre>

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
Move to opentelemtry in a non-breaking way.

**Environment

[2022-04-19 03:28] #1761 closed

[2022-05-17 14:46] umdstu commented on #1713
I believe the same thing is happening with my setup. @redwolf2019 did you ever get this resolved?

[2022-05-24 06:41] jdnielsBinus opened #1773 "Fail to access private bitbucket repository get 404"
Hi,

I want to integrate Athens with bitbucket, but always getting Error response 404, I've followed the steps in the documentation

<img width="852" alt="image" src="https://user-images.githubusercontent.com/106030029/169965279-9775a89c-b347-48ec-8348-3a2a0b1cd459.png">

[code]

[2022-05-30 18:39] pboguslawski opened #1774 "Download Mode leaks"
**Problem**

One wants to block any requests from Athens proxy to given hostname (say `myhost.mydomain`) using download mode file as described on

https://gomods.io/configuration/download/

With download mode files
[code]
Athens blocks (as expected with `none`) requests for given module version i.e.

[code]

but searching for latest version with

[code]

is not blocked using download mode file lik

[2022-06-01 11:48] pboguslawski opened #1775 "sumdb responses caching"
**Is your feature request related to a problem? Please describe.**

According to https://github.com/gomods/athens/issues/1506#issuecomment-581123728 Athens does not cache checksums just packages.

<s>If Athens is compromised, proxied sumdb responses may be compromised as well probably (not sure if checksums are signed)?</s>

According to  https://goproxy.io/docs/GOSUMDB-env.html there is public ke

[2022-06-02 14:24] pboguslawski opened #1776 "Empty build details when using go install"
**Describe the bug**
When you build athens using `go install`, no version nor build time is set:

[code]

**Expected behavior**

Version and build date are set automatically based on version selected by `go install` for installation and current time.

May help:
https://www.reddit.com/r/golang/comments/u1a7ah/how_to_embed_version_when_go_installing_since_you/

**Environment (please complete the fol

[2022-07-04 06:37] zhmq0124v commented on #1308
Hi, how to solve this issue in jclouds library, any hints? Thank you. https://jclouds.apache.org/

[2022-07-04 06:38] zhmq0124v commented on #1296
Hi, we hit the same error when using jclouds library, any hints on how to solve this error? Thank you. https://jclouds.apache.org/

[2022-07-25 09:41] chikaizhou commented on #1689
@arschles I have the same question ,I am trying to use athens on docker ,and i only edit config.toml where DownloadMode = "file:/config/download.hcl" and create a file download.hcl ,content is

downloadURL = "https://goproxy.cn,direct"

mode = "redirect"

download "test.com/*" {
    mode = "redirect"
    downloadURL = "http://google.com/"
}

And i run command `go get github.com/beego/bee/v2`,but i

[2022-07-25 12:31] chikaizhou opened #1780 "how can i use it in offline environment and store my custom gomod"
I have a offline Office environment and a goproxy for extranet . now i want to build a gomod repository like java maven repository to deploy my project.when i import my own project ,according to the prefix of mod it can be download from the intranet gitlab .
I am trying to run athens by the command
[code]
And i edit config.toml add a hcl like
downloadURL = "https://goproxy.cn,direct"

mode = "asyn

[2022-08-11 04:59] prologic commented on #1323
I do for my self-hosted infra. Not that happy with the memory usage though. I run it in a Docker Swarm cluster with the following resource constriants:

[code]

And the memory and cpu usage are still not that happy. Admittedly this is probably due to large dependencies being cached and cached.

<img width="1190" alt="Screen Shot 2022-08-11 at 14 58 18" src="https://user-images.githubusercontent.co

[2022-08-12 15:07] umdstu opened #1783 "More frequent tagged releases/images"
**Is your feature request related to a problem? Please describe.**
Can we get more frequent tagged releases? v0.11.0 is quite far behind. Using the published docker image isn't even an options at this point.

**Describe the solution you'd like**
More frequent tagged releases / published containers when significant changes are merged into `main`

**Describe alternatives you've considered**
Cloning

[2022-08-12 20:30] manugupt1 commented on #1783
@umdstu canary tag is published with every main commit you can use it.

[2022-08-12 22:53] umdstu commented on #1783
Thank you for your quick response @manugupt1 . I actually did come across that this morning but wasn't sure about the reliability of it or that I could be using a changed version without knowing. Is there a release schedule? When I glanced before it looked loosely like one version per year.

Thanks again!

[2022-08-12 23:46] manugupt1 commented on #1783
We currently lack maintainers and current maintainers do not have the bandwidth to support frequent releases and regressions if they come along with it. Please see: https://github.com/gomods/athens/issues/1734
If canaries work for you, please use them.

[2022-08-13 01:07] umdstu commented on #1783
Totally understand, just trying to get a better understanding. Thanks for the details!

I'll go ahead and close this as it seems like this is all by design.

[2022-08-27 01:03] linzhp commented on #446
Can I propose two more metrics?

* vcsLister.List
* goGetFetcher.Fetch

These two operations both depend on external services and are both expensive. It would be helpful to track their latency and count (success, failure).

For implementation, both operations call os/exec. Is there any existing [View](https://pkg.go.dev/go.opencensus.io/stats/view#View) that I can use?

[2022-09-19 04:55] r-ashish opened #1792 "[RFC] Fallback mechanism for SingleFlight"
### Issue

Currently Athens doesn't work at all if the SingleFlight store (etcd, redis etc.) is down or unavailable for some reason. New instances fail to start and the running instances also fail to continue working.

### Proposal
I'm creating this as a proposal and a placeholder to get some comments before I actually start working on this.

The idea is to have another config to define the fallba

[2022-09-20 00:38] manugupt1 commented on #1792
I am not sure this will work. Consider You have 3 nodes behind an LB. If redis fails and then you have in-memory singleflight request, you may still get 3 single flight requests overwriting each other. I am not sure if there is a good way to guarantee uniqueness.

the easiest way is to probably write a new singleflight type backed by a managed by a cloud provider just like storage.

[2022-09-20 03:04] r-ashish commented on #1792
Yes if the fallback is configured to use in-memory then that's the expected behaviour after this implementation. The idea is to let it work even after redis is down, currently it doesn't work at all.

Also, like I described above - another distributed store (redis/ etcd etc.) can also be used as fallback so it can still guarantee uniqueness, it would just depend on your config.

Basically there're

[2022-10-18 19:52] pmalmsten opened #1795 "Helm chart repository https://athens.blob.core.windows.net/charts not usable - returns 403 for all requests"
**Describe the bug**
The Helm chart repository `https://athens.blob.core.windows.net/charts` cannot be used, because it returns 403 for all requests.

**Error Message**

[code]

**To Reproduce**
Execute `helm repo add gomods https://athens.blob.core.windows.net/charts`

**Expected behavior**
The repository is registered successfully with the helm CLI, and I am able to deploy the chart to a Kuberne

[2022-10-24 09:23] awagner-iq opened #1797 "Docker image contains stale Go version"
The [latest docker image](https://hub.docker.com/layers/gomods/athens/v0.11.0/images/sha256-efb811df7844779d4ca46d2fd1aaf830082e4229e8c947d983f5feedc53e8f1f?context=explore) uses Go 1.14.15:

[code]

That version of Go is very old, currently we are on Go 1.19. There have been many changes, in particular for modules. I am having trouble setting up a module proxy at work. I believe a possible reason

[2022-10-27 18:36] arschles commented on #1795
I had to remove public access to the azure blob store that backs the helm repository. I'll work on figuring out a solution, sorry

[2022-11-02 13:16] awagner-iq commented on #1797
Friendly ping?

[2022-11-03 13:13] damoon commented on #1795
any progress on this?
i am blocked to install athens currently...

[2022-11-05 18:50] Jeansen opened #1798 "Systemd setup has hard-coded ATHENS_DISK_STORAGE_ROOT"
`scripts/systemd.sh` has a hard-coded `ATHENS_DISK_STORAGE_ROOT=/var/run/athens`. That overwrites any setting in a config file (either default or provided with -config_file).

Before I create a PR, I wanted to make sure this is a bug and not intentional.

Otherwise I'd suggest do remedy this setting. The script forces a valid config file to be in place, anyway.

[2022-11-06 14:43] DrPsychick commented on #1795
@arschles Why not host it on GitHub meanwhile? Does not have to be permanent solution, but currently - for more than 2 weeks - one cannot pull the helm chart as far as I understand. I can offer support to do that, if that helps 🤷‍♂️

[2022-11-18 07:21] ngshiheng opened #1801 "s3.Exists returns 404 even if module is present in S3"
**Describe the bug**

The current `s3.Exists` method in `checker.go` may return a 404 even if the module cache is present in S3.:

https://github.com/gomods/athens/blob/cc496afbf1c23ac3cd20bce78ad6d318f62b66db/pkg/storage/s3/checker.go#L25-L30

Under the hood, `ListObjectsWithContext` (same as `ListObjects`) can only [return up to 1000 objects](https://docs.aws.amazon.com/sdk-for-go/api/service/s3

[2022-11-18 08:37] ngshiheng commented on #1801
From what I can deduce, we can either:

1. Roll back https://github.com/gomods/athens/pull/1720
2. Move forward with a method to paginate through the S3 List Object API

For 2., currently I'm seeing 4000+ objects by using the prefix `github.com/aws/aws-sdk-go/@v/` on my S3, which is something we may want to take note of. Not sure if running through all the available pages is the best way forward h

[2022-11-18 14:05] project0 commented on #1797
#1734 It seems there is currently no active maintainer :-(

[2022-11-23 17:08] draeron commented on #1795
is there any way this can be worked around? This prevent us from updating our deployment.

[2022-11-24 10:05] smartinov opened #1803 "Helm Repository Not Reachable"
**Describe the bug**
The helm repository is not reachable

**Error Message**

Helm repository not reachable
<pre>
[code]
</pre>

**To Reproduce**
➜  ~ helm repo add gomods https://athens.blob.core.windows.net/charts
Error: looks like "https://athens.blob.core.windows.net/charts" is not a valid chart repository or cannot be reached: failed to fetch https://athens.blob.core.windows.net/charts/index.