[2019-05-28 16:35] penthaapatel commented on #1242
@arschles Okay, I'll submit a PR now. :)

[2019-05-28 16:41] arschles commented on #1233
Looks like @delley @shorsher @brainflake it looks like everything is working for all 3 of you, so I'm going to close this issue. If I'm wrong, can you comment here or open a new issue? Thanks!

[2019-05-28 16:41] #1233 closed

[2019-05-28 20:27] glb commented on #1228
Fixed by #1249 .

[2019-05-29 04:54] Kunde21 commented on #1110
Missed this when it was first discussed, but there's an option to use https://github.com/hashicorp/go-plugin and define a gRPC service as the interface.  Then, storage plugins can be created and maintained in a separate repo, so long as they fulfill the service definition.

[2019-05-29 05:50] zerok commented on #1228
@glb Yes :)

[2019-05-29 05:50] #1228 closed

[2019-05-29 09:42] 5onic commented on #1186
@MaruHyl Hey, do you have some progress on it? if you don't have time, I'll take care of it:)

[2019-05-29 11:46] marwan-at-work commented on #1110
@Kunde21 the readme says:

Is that outdated?

[2019-05-29 13:14] MaruHyl commented on #1186
@5onic sure, you can take it.

[2019-05-29 13:17] 5onic commented on #1186
@MaruHyl Got it.

So, I'll work on this.

[2019-05-29 13:41] Kunde21 commented on #1110
@marwan-at-work the readme kind of buries the gRPC option:

[2019-05-29 14:20] kumy opened #1253 "No access log since 0.4.0"
**Describe the bug**
Since docker image v0.4.0 the access logs are not present on stdout.

**Error Message**
none

**To Reproduce**
* Launch Athens using docker image tag `v0.4.0`
* Download some module `go run .`

**Expected behavior**
I expect to see access logs like in version `0.3.1`

[code]

**Environment (please complete the following information):**
 - OS: Linux 64bit
 - Go version : go ver

[2019-05-29 20:45] marpio commented on #1186
@arschles @5onic
What do you think about supporting the https://index.golang.org/index format instead?

[2019-05-30 00:42] marwan-at-work opened #1255 "If GOPROXY is set, Athens unit tests will use them implicitly"
If a developer runs `go test ./...` from within the Athens project and they have a GOPROXY environment set, our tests will actually use that variable because our tests run the `go` command internally.

We have 4 options:

1. Leave it be, and have the user figure out what's going on.
2. Check GOPROXY, and warn the user that their tests might be affected (especially if their GOPROXY url is broken fo

[2019-05-30 00:45] Mark-Jung commented on #1255
I might just take this haha.

[2019-05-30 00:46] marwan-at-work commented on #1255
@Mark-Jung thank you! I think the best thing to do is maybe temporarily set `GOPROXY=off` in `TestMain` for the tests that use the `GoGetFetcher` internally

[2019-05-30 01:13] Mark-Jung opened #1256 "Make command make test-unit causes error"
**Describe the bug**
make test-unit doesn't run all the tests.

**Error Message**
command doesn't exist.

**To Reproduce**
Run make test-unit at the root directory of the project.

**Expected behavior**
Run all the tests.

**Environment (please complete the following information):**
 - OS: Linux Ubuntu 19.04
 - Go version : go version 1.12.5
 - Proxy version : v0.4.0
 - Storage (fs/mongodb/s3 etc.

[2019-05-30 02:52] #1256 closed

[2019-05-30 09:30] 5onic commented on #1186
@marpio @arschles  Yes, it would be cool to use the format, that you mentioned. And I'm pretty sure that it will be helpful for people. But let me ask - I don't have a whole scope of `/catalog` endpoint. And I want to ask the next: Do we have already `Timestamp` property for a `module` objects?

[2019-05-30 12:34] arschles commented on #1255
I vote for reproducibility as much as possible, which IMO would be setting `GOPROXY=https://proxy.golang.org`.

On top of that, we would be testing Athens against another implementation of the download protocol, which helps us make sure that we work in the larger ecosystem.

[2019-05-30 15:28] marpio commented on #1186
@5onic
We could probably use the .info files.
Example:
https://proxy.golang.org/github.com/gomods/athens/@v/v0.4.0.info

[2019-05-30 15:49] 5onic commented on #1186
@marpio Got it, thanks! also would be cool to hear @arschles thoughts.

and jFYI: I'll start work on it since the next Friday, just got a short vacation 😄

[2019-05-30 18:46] marpio commented on #1186
@5onic
Thanks for taking this one!
Just for reference, since we talked about this on slack.
@marwan-at-work provided this link https://github.com/golang/go/issues/32312
Apparently it's the time the module entered the database.
We support multiple storages GCS, S3, Azure Blob Storage etc.
Depending on the storage we will have to obtain the timestamp differently i.e. in case of GCS https://godoc.org

[2019-05-30 19:02] marpio commented on #1255
@marwan-at-work
Not sure I understand why go "knows" GOPROXY env var?
Aren't we creating a separate env here: https://github.com/gomods/athens/blob/a4cf4eb991f375724426d7b466c0705386ad7da3/pkg/module/go_get_fetcher.go#L139 ?
Why is GOPROXY leaked?

[2019-05-30 19:40] marwan-at-work opened #1259 "Dockerized Development Misses The Vendor Folder"
Our `docker-compose up dev` command uses the same Dockerfile we use in our deployment pipeline which includes `-mod=vendor`...However, our deployment pipeline runs `go mod vendor` on the fly while our development environment doesn't

We therefore should expose the local cache to our Dockerfile build in our pipeline so that we can remove the `-mod=vendor` and also ensure that we don't re-download e

[2019-05-30 19:47] marwan-at-work commented on #1255
@marpio very good point, I totally forgot about that :)

Looking back at the slack channel where the issue was [originally reported](https://gophers.slack.com/archives/C9LRAQN8N/p1559176353124500):

![image](https://user-images.githubusercontent.com/16294261/58659820-edcee800-82f1-11e9-9221-abfc5fa0a8c0.png)

I just realized that I misdiagnosed the issue, it's not that our unit tests were seeing t

[2019-05-30 19:47] #1255 closed

[2019-05-30 20:16] paivagustavo commented on #1259
Seems to be duplicated from #1242

[2019-05-30 20:35] marwan-at-work commented on #1259
Potentially :) this one is more concerned with making sure our CI/CD pipeline caches the GOPATH (or rebuilds with a public proxy)

[2019-05-30 21:01] marwan-at-work commented on #1253
@kumy thank you for reporting this, there are two separate issues here:
1. logs in the container
2. build tag in the container

I'll look into both today. However, the default behavior of the container is `ENV=production` which means only error-level logs would show up. Let me look into why v0.3.1 was showing those.

[2019-05-30 21:05] marwan-at-work commented on #1253
For issue 1, if you run `docker run --rm -p 3000:3000 gomods/athens:v0.3.1` and from a separate terminal `curl localhost:3000/github.com/pkg/@v/list`, you'll notice that there are no logs in the container.

Therefore the behavior here hasn't changed. Do you mind telling me how you got the v0.3.1 container to show access logs ?

[2019-05-30 21:21] marwan-at-work commented on #1253
The build tag just got fixed and it will be included in the next version release. We can potentially override the v0.4.0 Docker Hub Image to fix the issue, but I'd rather keep things immutable (unless someone feels strongly otherwise)

Closing the issue as `1` is the default behavior, but @kumy feel free to answer my previous question and if there's indeed a bug i'll re-open this issue. Thank you!

[2019-05-30 21:21] #1253 closed

[2019-05-31 00:25] timraymond commented on #602
Hey @arschles and @robjloranger ! I'm doing some issue gardening this evening. Do you think this issue is sufficiently resolved by https://docs.gomods.io/contributing/community/participating/ ? It seems to cover the original intents.

[2019-05-31 00:41] sterlingdeng commented on #1171
For this issue, would a good place to start looking be `go_get_fetcher.go`?

[2019-05-31 02:46] snxq commented on #277
have the same problem. and server has no rate limit.

then I found this. https://github.com/golang/go/issues/20960 I don't know if it's related to this.
but I still not successful.

[2019-05-31 04:15] paivagustavo commented on #892
@arschles I would like to work on this.

I did an initial analysis and for what I understood the `RequestLogger` which is responsible to logs like `handler: GET /github.com/arschles/assert/@v/list/ [200]` is only enabled on dev environment which contradicts what you said about `Most production logs look like this` (am I getting anything wrong here?).

So I would like to propose start using the log

[2019-05-31 04:43] paivagustavo commented on #892
So I was giving this a try and woud like to know what do you think. I've changed the mentioned log to a debug log on logrus and added the `trace-id` on the logger fields. The output after hitting a non-existent module would be:
[code]

[2019-05-31 09:00] benjaminch commented on #1177
Hey !
New comer to Athens here. This one looks interesting, would you mind if I give a shot on this one?

Thanks ;)

[2019-05-31 09:44] marpio commented on #1177
Welcome @benjaminch !
Please do! Let us know if you have any questions or need help.

[2019-05-31 09:52] snxq opened #1263 "get cloud.google.com/go@xxx timeout"
**Describe the bug**

when I run `go get cloud.google.com/go@xxx` will no display and waiting...

And server had download this package.

I try to catch net package.

![WeChatWorkScreenshot_8892d270-0c08-4b11-acb9-a5def9ef7473](https://user-images.githubusercontent.com/22384359/58697292-e67c0d00-83cb-11e9-9198-217071a64b7c.png)
![WeChatWorkScreenshot_055af6b1-b72c-445b-9396-f5d2b00d64fc](https://us

[2019-05-31 09:56] marpio commented on #1263
@snxq
Can you execute `go mod download cloud.google.com/go@xxx` without using Athens (without setting `GOPROXY`) and let us know if it worked?
If possible on the machine where Athens is running.

[2019-05-31 10:01] marpio commented on #1221
@qqqasdwx
Yes, this is the right way to use it.
So, just to be sure - it's working fine now, right?

[2019-05-31 10:02] snxq commented on #1263
@marpio
I did what you said.

![image](https://user-images.githubusercontent.com/22384359/58698591-1c21f580-83ce-11e9-8f7d-1b3f7919355d.png)

[2019-05-31 12:33] marpio commented on #1227
I think it's interesting b/c it would potentially enable Athens to run on [AWS EC2 A1](https://aws.amazon.com/ec2/instance-types/a1/) or Scaleway ARM servers https://www.scaleway.com/en/arm-instances/

[2019-06-01 05:13] cByst commented on #1135
@arschles no worries I lost track of this as well. Yeah I think that makes sense were you thinking just add a section to the current readme like:

# Getting Started
### Run `docker run -p '3000:3000' gomods/athens:latest`

Then, set up your `GOPROXY` and `go get` going!

`export GOPROXY=http://localhost:3000 && go get module@v1`

If you think that makes sense where in the readme do you think it fi

[2019-06-01 05:37] cByst commented on #1171
@arschles @sterlingdeng  yeah I'd like to continue working on this one. Sorry about the delay kinda lost track of this one. Based upon what I was looking at a little while ago, I think it would make sense to change checker.go in the fs package. Would you guys agree?

It looks like currently the Exists func checks the directory just for the number of file in it. If it has 3 files all is good if not

[2019-06-01 16:15] Kunde21 commented on #1227
I've built athens on `arm`, `arm64`, and `amd64` with a multiarch manifest here:  hub.docker.com/r/kunde21/athens-arm

I'll be testing on my local hardware (rpi3 and odroid XU4), but it would be good to get others to test, too.  Main focus for testing in performance on different hardware, so we can give some general recommendations when it's released on the official gomods dockerhub.

[2019-06-01 18:33] atomi commented on #1227
By the way, according to the `tini` README an init is included in docker now by passing `--init` so I'm not sure `tini` is even necessary anymore.

[2019-06-01 20:03] marpio commented on #1227
@atomi no problem!
The reason we have is #1155

[2019-06-01 20:54] atomi commented on #1227
@marpio Thank you!

[2019-06-01 23:22] atomi commented on #1155
I personally have done something similar to https://github.com/ramr/go-reaper in my own containers.
It may be an option here.

[2019-06-02 08:59] gensmusic commented on #1211
any update?

[2019-06-02 15:35] marpio commented on #1263
@snxq
hmm... `go mod download cloud.google.com/go@0.26.0` is what Athens is running to fetch the info, mod and zip parts so if it's working fine then Athens should too.
Are you using the 0.4.0 docker image?

[2019-06-02 22:49] marwan-at-work commented on #1211
@gensmusic PR is ready to be merged, awaiting one more maintainer approval.

[2019-06-03 03:13] snxq commented on #1263
@marpio
yes.Its docker image v0.4.0. I also try to use v0.3.0, and get the same result.

I guass this is maybe a system problem.

[2019-06-03 03:41] snxq opened #1264 "add an option to add robots. txt"
**Describe the solution you'd like**

I have deployed athens at a server with Public IP. And the second day I meet the web crawler.
so, Do we need an option to add `/robots. txt`?

[2019-06-03 04:05] snxq commented on #1263
@marpio
Not solved yet, But this should be my client's problem.
I closed this issue. thanks a lot for answer.

[2019-06-03 04:05] #1263 closed

[2019-06-03 04:59] qqqasdwx commented on #1221
@marpio
Yes, it's working fine now!

[2019-06-03 07:19] chengjingtao opened #1265 "Fail to access private bitbucket repository"
**Describe the bug**
Hi, I have met some questions about `access bitbucket private repository`.
I deployed `athens` on kubernetes cluster and fllowed  doc https://docs.gomods.io/install/install-on-kubernetes/.
I am sure  somethings works well
1.  I could clone my private repository in athens-proxy pod. ( correct ssh-key has been set in pod )
2. Already change  `git@bitbucket.org:` instead of `http

[2019-06-03 07:30] marpio commented on #1263
@snxq let us know if you solved the issue.

[2019-06-03 07:30] #1221 closed

[2019-06-03 11:53] kumy commented on #1253
Thanks @marwan-at-work. Regarding the access log issue, you were right, the problem was `ENV=production` on one host, but not on the other.

[2019-06-03 16:29] marpio commented on #1105
@arschles we can think about downloading the sumdb and letting Athens serve the sumdb requests instead of just proxying them.
We need to wait for that until the go team provides a spec for bulk download though.

[2019-06-03 18:17] FiloSottile commented on #1105
The endpoint for bulk download is now specified at https://go.googlesource.com/proposal/+/master/design/25530-sumdb.md#checksum-database (the `/tile/H/data/K[.p/W]` one), and will soon be supported by sum.golang.org.

You can also see an example implementation here:

https://github.com/golang/exp/blob/efd6b22b2522a48712e1fd0b3c1ab34d243f5245/sumdb/internal/sumweb/server.go#L131-L160

[2019-06-03 21:01] marpio commented on #1265
@chengjingtao closing since it has been solved on slack.
https://gophers.slack.com/archives/C9LRAQN8N/p1559561893068700

[2019-06-03 21:01] #1265 closed

[2019-06-04 02:15] chamilad commented on #651
This is still there. Now a cert for SANs for a bunch of *.br names is offered.

![image](https://user-images.githubusercontent.com/505989/58846388-1c263c00-86d3-11e9-8d2b-190f259eb35e.png)

[2019-06-04 08:42] kumy opened #1268 "Tini not launched as subreaper"
**Describe the bug**
As used, tini is not registered as subreaper. So theorically, it doesn't works.

**Error Message**
[code]

**To Reproduce**
Nothing special, it's written in the startup logs. `docker run --rm -p 3000:3000 gomods/athens:v0.4.0`

**Expected behavior**
Tini should by default be launched as subreaper

**Environment (please complete the following information):**
 - OS: Linux 64bit

[2019-06-04 08:46] kumy commented on #1268
link #1155

[2019-06-04 12:24] marwan-at-work commented on #1268
@kumy I wasn't able to reproduce the error message from above:

[code]

Then from another terminal:

[code]

Can you tell me your Docker version, host version, and maybe anything else that can help us reproduce your scenario? Thanks!

[2019-06-04 13:41] kumy commented on #1268
Ok I've discovered what's different in our config, the docker daemon has `"init": true,` in it's configuration.

I'm able to reproduce on my workstation using `docker run --rm -i --init gomods/athens:v0.4.0`

[code]

[2019-06-04 14:08] fsouza commented on #1268
@kumy if you're running docker with ``--init`` you don't need tini, docker-init will do the work for you.

[2019-06-04 14:11] kumy commented on #1268
@fsouza the second `tini` is in the athens docker image :)

[2019-06-04 14:30] fsouza commented on #1268
@kumy yeah, sorry my bad x) What I meant is that since you're using ``--init`` you could change the entrypoint to be just ``/bin/athens-proxy``.

@marwan-at-work there's a hacky alternative: introduce a custom entrypoint that checks the PID and only uses tini if it's ``1`` x)

[2019-06-04 14:30] marwan-at-work commented on #1268
@kumy so if you are running with `init=true`, that means `tini` will not be reaping anything, but shouldn't that also mean that Docker will be reaping the defunct processes? In other words, can we just ignore the warning message?

[2019-06-04 14:33] marwan-at-work commented on #1268
Also as you said, maybe changing the ENTRYPOINT on the fly (if a user is aware of their init configuration) is also not a bad alternative?

[2019-06-04 14:36] kumy commented on #1268
I've added it for the demo so it can be reproduced by everyone (I've found this option originally in our production swarm cluster).

if the `athens` container didn't included tiny, then the "docker daemon" would have reap the zombies.

I've workaround it on our production, by adding `TINI_SUBREAPER: "true"`. then no warning at all, and tini from the container is reaping processes

[2019-06-05 13:08] dolanor opened #1271 "The official athens Docker image ignore --add-host parameter"
**Describe the bug**
When running the `gomods/athens` image from the hub, it ignores the `--add-host` option.
It seems it comes from this bug : docker-library/docker#82
So I guess we should add some nsswitch.conf?
My use case was to test vanity urls hosted internally. And for testing, I ran a https://github.com/GoogleCloudPlatform/govanityurls on my host, so I needed a way for it to be accessed fr

[2019-06-05 20:30] marpio commented on #1268
@kumy

Are you saying that the "docker tini" would **not** reap the zombie procs?
I would assume that, since the docker-tini is running as PID 1 it would do that anyway, regardless of the second "athens tini".

[2019-06-05 20:36] kumy commented on #1268
@marpio You are certainly right!

It seems this issue is really specific to configuration on our side, and there are plenty of workaround available. Feel free to close as is if you wish.

[2019-06-06 02:45] #1241 closed

[2019-06-06 19:46] marpio commented on #1268
@kumy @marwan-at-work do you think adding some documentation would be enough?

[2019-06-06 19:48] marwan-at-work commented on #1268
Yes, that'd be great.

[2019-06-06 20:00] marpio opened #1275 "500 errors"
**Describe the bug**
From a Slack conversation:
https://gophers.slack.com/archives/C9LRAQN8N/p1559819025026000

On one of my machines, Athens is returning 500s on all requests. Any suggestion how I could debug what happens ?

**Error Message**
The docker log is full of lines like

[code]

**Environment (please complete the following information):**
 - OS: ubuntu 18.04.2
 - Go version : Go 1.12.5

[2019-06-06 20:03] fgm commented on #1275
Thanks for doing it for me. Of course, the error starts by "go list...", not just "o list...", it was a paste error.

[2019-06-07 21:43] #1268 closed

[2019-06-07 21:45] arschles commented on #651
@chamilad thanks for bringing it back up! I'll take it now

[2019-06-07 21:48] arschles commented on #651
update: it requires me to update the dns records of the gomods.io domain. I'm working on that now, might take a bit of time

[2019-06-07 21:50] arschles commented on #1265
For those who can't see the slack, I'm copying in here:

[code]

[2019-06-07 21:53] arschles commented on #1155
@atomi https://github.com/gomods/athens/pull/1260 has a fix for this. Can you take a look and see if it's similar to what you were thinking?

[2019-06-07 21:54] arschles commented on #277
@snxq are you trying to request pages from netlify using Go?

We haven't seen these resets in a while on pull request status reports

[2019-06-07 22:06] arschles commented on #1105
@marpio the bulk download is probably a good next step, yes

[2019-06-07 22:09] arschles commented on #1110
Is everyone ok with sticking with HTTP for now? It's less specification work for us because we can use the module download protocol we all know and love already.

More conversation at https://github.com/gomods/athens/pull/1131#issuecomment-496509839 and https://github.com/gomods/athens/issues/1110#issuecomment-471779673

[2019-06-07 22:14] #1242 closed

[2019-06-07 22:16] arschles commented on #1135
@cByst definitely that makes sense! I think it would be really good on the `docs.gomods.io` site, right below the `Athens is a Server for Your Go Packages` text. Not sure about the readme. What do you think?

[2019-06-07 22:21] #1243 closed

[2019-06-07 23:06] atomi commented on #1155
@arschles I  don't have any issues with tini. It makes a lot of sense since Athens already has dependencies from alpine such as vcs and openssh packages.
I think using tini in this case is more in line with "keeping it simple."  Apologies for adding extra noise here. You're all good. :+1:

[2019-06-08 01:19] cByst commented on #1135
@arschles definitely agree it makes the most sense to go on docs.gomods.io for some reason I was thinking the issue had stated readme but must have been miss remembering. I agree after thinking about it I don't think the readme would be the right place as the readme is more around project status contributing in building from a dev/contributing perspective. Thanks for your help with this one I'll g

[2019-06-08 01:27] cByst commented on #1171
Scratch all that above I've been reading through the code base and see how it works now. It appears that when ```go get``` reaches out to the proxy for the first of the 3 files, if that first file doesn't exist all files are replaced from vcs and the file requested is then served. This pattern continues for all 3 files. Since we don't know if either of the other 2 files exist at the point of check

[2019-06-08 04:30] #984 closed

[2019-06-08 04:30] #1211 closed

[2019-06-08 07:46] vaibhavjayaraman commented on #892
i haven't worked on this yet. you can have it.

[2019-06-08 14:00] qbit opened #1279 "Expose go.sum for use by packaging systems."
Packaging frameworks like OpenBSD's follow a fairly strict workflow (FreeBSD and pkgsrc are have similar systems) :

- The build process has no network access.
- Distribution files must be fetched prior to building and by using tooling in OpenBSD base. In this case using ftp(1) (a tool similar to wget), which has extra security measures like pledge(2) and is run as a user with reduced privileges.

[2019-06-10 12:33] marwan-at-work commented on #1211
@gensmusic this is now ready to be tested in the `canary` build :v:

[2019-06-10 12:34] marwan-at-work commented on #984
@mwf this is now ready to be tested in the `canary` build. See https://docs.gomods.io/configuration/download/

[2019-06-11 00:40] arschles commented on #1155
@atomi that's all good! I'm really glad you brought up your go-reaper project 😄, I'll go check it out sometime. Cheers!

[2019-06-11 01:25] atomi commented on #1155
@arschles It's not my project. I've just used it in the past before `--init` was available.

It' was an interesting solution at the time. Anyway, Cheers.

[2019-06-11 06:35] Kunde21 commented on #1279
This is a little beyond the initial design of the proxy, but builder functionality that can "bundle" a dependency list would be especially helpful for these types of build systems.  Basically,  a 'GET' request endpoint for a specific module/version (w/ the hash for verification) and the server does a download of that module, validates it, unzips it, then runs a `go mod download` to fetch all the d

[2019-06-11 12:57] qbit commented on #1279
"local Athens proxy" here means the uncompressed files that `$GOPROXY` points to, correct? Would one still need to call `go mod download`, or is `go build` sufficient at that point?

[2019-06-12 03:31] Kunde21 commented on #1279
I'm using "local" in reference to the `go mod download` command, not the user's machine.  The endpoint that is collecting all the dependencies would set its `$GOPROXY` to the same Athens proxy server.  There's no good reason to build on the server.

On the user's machine, `$GOPROXY` would point to the downloaded modules and the `go build` would run.

[2019-06-12 03:47] qbit commented on #1279
Just so I know we are on the same page, from my perspective:

- **Users**: will install signed packages distributed by OpenBSD that contain the built binaries.
- **Build servers**: will do fetching of all source files, then be disconnected from the network at which point building of source can continue. Once everything is built, it is signed and distributed to mirrors for end users to install.

I

[2019-06-12 06:45] Kunde21 commented on #1279
Yes, I mean the Athens server wouldn't be building binaries since it doesn't know (or care) the target architecture.

Build servers/user install/etc would be able to fetch all the needed source code with a single GET call, since it cannot use the go tool during that phase to do package selection.

[2019-06-12 17:34] Xuanwo opened #1282 "Proposal: Add redirect support like gopkg.in"
**Is your feature request related to a problem? Please describe.**

Our gitlab looks like: `git.internal.example.com`, and the repo url is something like: `git.internal.example.com/cool_project/common-go`. The project could be long history or complex so that we can't name it like `cool_project/common` which make them hard to import.

We tried to import all golang package in the same way like:

[co

[2019-06-12 17:48] johnjelinek opened #1283 "Use AWS ECS credentials"
**Is your feature request related to a problem? Please describe.**

When running athens in AWS ECS (Fargate), the environment is provided credentials through a different avenue than the usual environment variables (i.e.: `AWS_ACCESS_KEY_ID`). I have a sidecar process go fetch the credentials and inject them into the config file:

[code]
The problem is that these credentials expire and I don't have

[2019-06-12 19:02] marpio commented on #1283
@johnjelinek
Just for my understanding - the problem is that currently Athens fetches the credentials only once (either from the config file or environment variables) while starting and there is no way to provide new credentials?

[2019-06-12 19:28] johnjelinek commented on #1283
Yes, I bootstrap it out of process and have no way to send updates although
that URL is available during the lifetime of the container and is always
available to get new values. The AWS SDK should have support to make
fetching these credentials seamless if you wanted to provide another way
for Athens to learn about its IAM task role.

On Wed, Jun 12, 2019, 2:02 PM marpio <notifications@github.com>

[2019-06-12 19:57] marpio commented on #1283
Athens s3 config file contains the `UseDefaultConfiguration` option. If it's set to `true` then, instead of using `credentials.NewStaticCredentials` the defaults are being used.
Fom docs:

[code]
Would that be of any help to you?

[2019-06-12 21:09] johnjelinek commented on #1283
No, I first tried setting that to true and it didn't find the credentials.
That's why I made that bootstrapping process to inject values into the
config file.

On Wed, Jun 12, 2019, 2:58 PM marpio <notifications@github.com> wrote:

[2019-06-12 21:29] manugupt1 commented on #1283
Hi,

What happens when  you do not add credentials to the config file? If Athens
does not start, I think we should fix this as we can get credentials from

A) Profile (default / otherwise)
B) Config
C) Env (for security token)

Cheers,

Manu Gupta

On Wed, Jun 12, 2019 at 2:09 PM John Jelinek IV <notifications@github.com>
wrote:

[2019-06-12 22:44] johnjelinek commented on #1283
If I do not add credentials, athens starts and I can get the metrics
endpoint, but all artifact requests respond with 500 because it can't get
the credentials of the ECS task.

On Wed, Jun 12, 2019, 4:29 PM Manu Gupta <notifications@github.com> wrote:

[2019-06-13 11:24] marpio commented on #1283
@johnjelinek since you're fetching the credentials from an endpoint currently - we could support https://docs.aws.amazon.com/sdk-for-go/api/aws/credentials/endpointcreds/

cc: @manugupt1

[2019-06-13 11:41] johnjelinek commented on #1283
That should work. The endpoint will always be the same in AWS ECS (Fargate).

On Thu, Jun 13, 2019, 6:24 AM marpio <notifications@github.com> wrote:

[2019-06-13 14:15] manugupt1 commented on #1283
Yep! that should work. I would like to work on it. I should have a PR next week.

[2019-06-13 23:18] johnjelinek commented on #1283
I just had to add this kind of support to another project. This works:
[code]

[2019-06-14 16:55] johnjelinek commented on #1283
apparently `session.New` is deprecated ... maybe use `session.NewSession()` instead.

[2019-06-18 11:10] chen56 commented on #1275
gomods/athens:latest , same error???

[code]

but, gomods/athens:v0.3.1 is ok!

dock-compose config:

services:
  athens:
    image: gomods/athens:v0.3.1
    ports:
      - 3001:3000
    container_name: go-mod-proxy-athens
    environment:
      - ATHENS_DISK_STORAGE_ROOT=/app/storage
      - ATHENS_NETRC_PATH=/app/.netrc
      - ATHENS_STORAGE_TYPE=disk
      - HTTP_PROXY=http://192.168.1.20:8118

[2019-06-18 12:16] alexejk opened #1285 "Location header not set for redirect/async_redirect mode when fetching module file"
**Describe the bug**
With DownloadMode set to `redirect` or `async_redirect` no `Location` header is returned for `<module>/@v/<version>.mod` endpoint when module isn't cached.

**Error Message**
On the client `go get` fails with following error
<pre>
[code]
</pre>

**To Reproduce**
1. Set DownloadMode to `redirect` or `async_redirect` either via config `DownloadMode` or use downloadFile like this

[2019-06-18 12:53] #1285 closed

[2019-06-18 12:59] alexejk commented on #1282
Could this not be handled by a vanity url approach?
https://golang.org/cmd/go/#hdr-Remote_import_paths

Something like this could do a trick: https://github.com/GoogleCloudPlatform/govanityurls

We have a custom implementation in place that basically allows Athens `go` binary to query `example.com/cool_project/common` and it returns the following content that the binary follows rules on.
[code]

T

[2019-06-20 07:12] #1264 closed

[2019-06-24 15:17] johnjelinek commented on #1283
@marpio: any updates?

[2019-06-24 16:36] benjaminch commented on #1136
Hey @arschles !

I can get a stab on this one if you want.

Just curious how would you find the right balance of workers. Do you have anything in mind already on how we can check this (via providing a bench mark?).

Cheers !

[2019-06-24 18:52] marpio commented on #1283
@manugupt1 are you still on it?

[2019-06-24 18:59] #1177 closed

[2019-06-25 04:34] manugupt1 commented on #1283
yep! sorry did not notice it got assigned to me. I looked into it a bit now.

It seems like we can end up using a combination of Static and Env credentials and if we get a 403, then we re-try by fetching new credentials rather than enforcing an HTTP handler.

This will enable users to inject new credentials in whatever way they see fit (HTTP / otherwise)

What do you think?

Ref: https://github.co

[2019-06-25 05:29] marpio commented on #1283
@manugupt1
Yes, I think that will do.
Please see https://github.com/gomods/athens/issues/1283#issuecomment-501912410

[2019-06-25 12:28] johnjelinek commented on #1283
Precisely. It knows when it's expired and when you call `Get` it knows how to renew.

[2019-06-26 07:24] gowdabas commented on #995
I would like to work on this. Let me know if I can take this up:)

[2019-06-26 09:37] marpio commented on #995
Please do @gowdabas ! 🎉
Also while you're at it, take a look at https://github.com/gomods/athens/issues/1186
We are considering using the same format as https://index.golang.org/ for the V2 of our catalog endpoint.

[2019-06-26 12:20] cudle commented on #1283
I am currently in the same situation as @johnjelinek. That feature would be highly appreciated.

[2019-06-26 13:59] manugupt1 commented on #1283
Yep! I have an idea on what to do. I am working on a PR soon and expect it in a couple of days.

[2019-06-27 04:30] gowdabas commented on #995
Sure, thanks for pointing that out , @marpio .

[2019-06-27 18:29] jorng opened #1290 "Proxy should respond with 404 when unable to fetch source"
**Is your feature request related to a problem? Please describe.**
Currently, if Athens is unable to download the source code of a project using `go get`, it results in a `500` error.

This could be a variety of issues, including authentication/authorization issues, or no connection to the server (private repos?), but the result for clients is the same: the module cannot be found.

When Go 1.13 is

[2019-06-27 20:16] #1135 closed

[2019-06-28 06:43] manugupt1 commented on #1283
FYI: Ran into some issues. Here is a draft PR: https://github.com/gomods/athens/pull/1291

Please start putting in comments so that I can address as I make changes to it.

[2019-06-28 11:09] seeruk opened #1292 "Can't "go get" branches with capital letters in their name"
**Describe the bug**
Attempting to `go get` a branch with capital letters in the name currently results in a HTTP 500. It appears that this is because Athens isn't decoding the branch name before using it. This is outlined in [this issue](https://github.com/golang/go/issues/26456) in the golang/go repository.

**Error Message**
If applicable add error message to help explain your problem or consol

[2019-06-28 12:12] marpio commented on #1283
@manugupt1 What kind of issues?

[2019-06-30 11:10] manugupt1 commented on #1283
@marpio I have added a PR that is ready for review. https://github.com/gomods/athens/pull/1291/files

Do you think we should also add a unit test that spins up a server and retrieves creds from that server and see if the test succeeds?

[2019-07-01 22:06] keremgocen commented on #1259
Hey, I'm new here and still getting familiar with the system. This one looks like something I can start working on.

[2019-07-01 22:17] marwan-at-work commented on #1259
@keremgocen sounds good :v:

[2019-07-02 09:07] yittg opened #1294 "support fetch from proxy when download url provided"
**Is your feature request related to a problem? Please describe.**
1. now download url is provided for redirect, when async redirect mode specified, and the fetcher still download module from original repo only. If the original repo is not reachable, the async fetch will always fail.
2. download rules is only applied to info/mod/zip apis, list is leave unconfigurable.

**Describe the solution you'

[2019-07-03 17:06] jamesnaftel opened #1295 "Minio MakeBucket errors not being returned."
**Describe the bug**
[See code for minio MakeBucket](https://github.com/gomods/athens/blob/a5eba1812bc48a4df1d9e7868288ed8feb31cdfd/pkg/storage/minio/minio.go#L39-L47)
If MakeBucket fails, the BucketExists call will overwrite the real error.  The result is a generic error being logged.

**Error Message**

[code]
**To Reproduce**
Set the minio bucket name to an invalid name like "bucket_test".  The

[2019-07-03 19:00] arschles commented on #1295
@jamesnaftel sounds good! looking forward to it

[2019-07-03 20:41] #1179 closed

[2019-07-04 06:42] opinionsDazzle opened #1296 "aliyun oss"
v0.3.1 version athens with storage aliyun oss
when put object to oss ,the oss server return an exception
<Error>
  <Code>NotImplemented</Code>
  <Message>Aws MultiChunkedEncoding is not supported.</Message>
  <RequestId>5D1D9AB1A9692A992EBF780C</RequestId>
  <HostId>oss-us-west-1-internal.aliyuncs.com</HostId>
</Error>

How is this going？How should I solve this problem?

[2019-07-08 21:40] #1292 closed

[2019-07-08 22:02] arschles opened #1301 "Write a test for the new Mongo query function"
**Is your feature request related to a problem? Please describe.**

This is a follow-up to https://github.com/gomods/athens/pull/1297#pullrequestreview-259171326

**Describe the solution you'd like**

We should have a test for the `query` function that was introduced in #1297. We probably will need to make it an integration test, since it will need to connect to a real MongoDB server

**Describe a

[2019-07-08 22:04] arschles commented on #1296
@opinionsDazzle is this for Alibaba object storage? I'm not exactly sure how to fix this at the moment, but can you post a link to some documentation for the object storage you're using?

[2019-07-09 15:25] benjaminch commented on #531
Hello @marwan-at-work,
I can get a stab on this one if you want. I can put together a script (description + commands) and then do a screencast based on this script.
Please let me know if there is anything else you need / think can help.
Cheers

[2019-07-09 17:30] marwan-at-work commented on #531
@benjaminch that sounds awesome, thank you! Do you mind writing a comment here about which cloud/product you're deploying Athens to?

[2019-07-09 20:10] marpio commented on #1296
It's possible that since https://github.com/gomods/athens/pull/1107 (iirc 0.3.1 was a patch release containing that PR) we are using some features that aren't supported by Alibaba object storage.

@opinionsDazzle can you try if 0.3.0 is working for you so we can confirm that?

[2019-07-10 04:12] qiuyuzhou opened #1303 "[helm-chart] Failed to deploy with basic auth"
https://github.com/gomods/athens/blob/8e8e886f84e9c84d69c00a32cdd5787c72c99ae8/charts/athens-proxy/templates/deployment.yaml#L139-L142

The value has been quoted twice.

[2019-07-10 08:00] benjaminch commented on #531
Hey @marwan-at-work
I am currently only playing with athens locally via a Docker.
I wanted to take this as an opportunity to deploy it on the stack I am using for other projects, either on:
- AWS EBS Docker
- OVH Kubernetes env
I have never did it before, so if you are thinking about other providers, please let me know.

[2019-07-10 09:31] yittg commented on #1294
cc @arschles @marwan-at-work
does these feature request make sense, looking forward to your voices, :)

[2019-07-10 12:52] marwan-at-work commented on #531
@benjaminch that sounds like a great start 👍

[2019-07-10 12:56] marwan-at-work commented on #1294
@yittg that sounds good to me. There are a couple of ways to pass `GOPROXY`:
1. Either just set GOPROXY in the environment that Athens is running in
2. Let the user pass it in through the Config (which would include no.1 above)

In either cases, we'd have to explicitly pass that to `go_get_fetcher.go` and the Upstream Lister which should be an easy addition.

Thanks!

[2019-07-10 15:27] yittg commented on #1294
yeah, for the bottom `go_get_fetcher.go`/`upstream_lister.go`, we should pass a `GOPROXY` to cmd(`go mod download`/`go list`) as env to execute, as you said.
for the user interface, both ways you mentioned are proposing a brand new global configuration/or env which is totally different from `GlobalEndpoint` or `DownloadURL`/download_hcl, right?
i think it's difficult to expand and maintain, especi

[2019-07-12 15:55] bou1der commented on #1301
When I looked into this, I double checked the tests under the compliance package. I think the tests in this package already do a good job of testing the interface and in turn the query function which is private.

I feel like I am missing something. Should I be testing a private implementation?

Sorry if this is a silly question - I'm still relatively new to Go and Athens :)

[2019-07-12 17:42] xytan0056 opened #1305 "@list missing some versions"
**Describe the bug**
google proxy :
https://proxy.golang.org/github.com/shirou/gopsutil/@v/list
returns
[code]
however,
https://proxy.golang.org/github.com/shirou/gopsutil/@latest  -> `v2.18.12+incompatible`

as of when the issue if filed, master athens returns
[code]

`go list` also misses a version. I wonder how google's proxy does it
[code]

**Error Message**
none

**To Reproduce**
build from s

[2019-07-15 18:07] #1294 closed

[2019-07-16 09:20] Halfi opened #1306 "Redirects from git repository (for example from pkg.re/check.v1) in docker container"
**Is your feature request related to a problem? Please describe.**
The problem is that git redirects not follow in docker container.

**Describe the solution you'd like**
In `/etc/gitconfig` should be `followRedirects` param set.

**Describe alternatives you've considered**
Maybe exists way to serve it in app side?

**Additional context**
[code]
[code]
Response:

Logs:
[code]

If use dockerfile li

[2019-07-16 13:19] yittg commented on #1305
@xytan0056 It's clear, it is about go module semantic versioning.
for all v2+ version, if it is not adopted go module(checking go.mod), it will be marked as incompatible and will be respond for fetch without explicit version(like v2,v3...),
otherwise for those adopted go module(v2.19.6 you mentioned), it is only in it's major version list(v2)
so for design, `curl http://localhost:3000/github.com/s

[2019-07-16 13:54] marwan-at-work commented on #1305
v2.19.6 has a `go.mod` file, yet it doesn't have a `/v2` suffix in its import path. This is a mistake on the `gopsutil` side and they should probably fix it. I'll open an issue there. Thanks

[2019-07-16 13:54] #1305 closed

[2019-07-16 18:38] johnjelinek commented on #1283
any new updates on this @marpio?

[2019-07-16 19:25] manugupt1 commented on #1283
Hi I have a patch PR, I was travelling and am on-call, so I will try to get
to it asap.
Cheers,

Manu Gupta

On Tue, Jul 16, 2019 at 11:38 AM John Jelinek IV <notifications@github.com>
wrote:

[2019-07-16 22:23] #1295 closed

[2019-07-17 06:06] yittg commented on #1290
@jorng it seems be fixed in #1299 and #1300, would you checkout the unreleased version to verify whether your scenario is fixed?

[2019-07-17 12:04] cudle opened #1307 "Health endpoint without basic authentication"
**Is your feature request related to a problem? Please describe.**
We are currently running Athens with basic auth as an ECS Service on AWS. In addition there is an ALB which does a periodic health check on the root path. Since health checks don't support basic authentication, it gets a 401 response. In order to bypass this issue, we had to add the 401 status code to the allowed status codes but i

[2019-07-17 19:10] marpio commented on #1306
@Halfi is setting followRedirects always desired? Can this be controlled using an environment variable similar to other settings (i.e. http_proxy)?

[2019-07-18 06:29] wangycc opened #1308 "Cannot use Aliyun OSS storage"
**Describe the bug**
When I use aliyun oss, the pull package fails

**Error Message**
<pre>
[code]
</pre>

**Environment (please complete the following information):**
 - OS: The official docker
 - Go version : go version go1.12.4 darwin/amd64
 - Proxy version : gomods/athens:v0.5.0
 - Storage (fs/mongodb/s3 etc.) : aliyun oss

**configuration**
[code]

[2019-07-18 06:51] t-tomalak commented on #1308
Hi, it seems like it same issue as here #1296 . Could you try version proposed in that issue, to check if it works?

[2019-07-18 08:07] wangycc commented on #1308
@t-tomalak Yes, I also tried to use v0.3.0 also failed

athens version: gomods/athens:v0.3.0

logs:
[code]

[2019-07-18 15:42] yittg commented on #1296
@arschles @marpio I may take a look if no one else is working on it.

[2019-07-19 07:02] opinionsDazzle commented on #1308
you should set EnableSSL = true, just try it !

[2019-07-19 07:06] opinionsDazzle commented on #1296
set EnableSSL = true can solve this problem. Because Aliyun hasn't supported this Aws MultiChunkedEncoding yet. Https can work around this problem.

[2019-07-19 07:06] #1296 closed

[2019-07-19 07:23] opinionsDazzle commented on #1308
because aliyun oss has not support Aws MultiChunkedEncoding yet。so just use https to get around it.

[2019-07-19 07:35] opinionsDazzle opened #1311 "There is a bug in the minior/lister.go that can cause get wrong versions."
if moudule = "github.com/labstack/echo",objectCh will contains the version of module "github.com/labstack/echo/v4" ,  because list all the file related to searchPrefix.

![image](https://user-images.githubusercontent.com/20106076/61518465-2ced0000-aa3c-11e9-9731-0e0e1636cfb3.png)

[2019-07-19 08:47] wangycc commented on #1308
@opinionsDazzle Thanks

[2019-07-19 08:47] #1308 closed

[2019-07-20 16:05] yittg commented on #1311
@opinionsDazzle yeah, indeed it's a bug, thanks for your feedback. Actually, not just minio, the implementation of fs has similar problems. a straightforward idea is to add special separator like others, but may we can also just check the prefix after listing for backward compatibility. And for describing and reproducing issue clearly, i opened a pre-PR
@marwan-at-work @marpio what do you think?

[2019-07-21 05:17] lanmingle commented on #1007
Meaningless access control, disgusting to me

[2019-07-22 22:36] johnjelinek commented on #1283
@marpio  / @manugupt1: I'm having difficulty getting this to work. Here's my config change:
[code]
but I'm getting an exception:
[code]

[2019-07-22 22:48] johnjelinek commented on #1283
One of the tricky things about running this in AWS ECS Fargate is that the URL changes every time. I have to do something like this in a sidecar `sed -i'' -e 's|MY_AWS_CREDENTIALS_ENDPOINT|http://169.254.170.2'\"$AWS_CONTAINER_CREDENTIALS_RELATIVE_URI\"'|' /config/config.toml` to populate the config file before starting athens. I'm not sure if you know of a way to get env vars to interpolate when

[2019-07-23 00:27] manugupt1 commented on #1283
Is it possible to see how you have set up on farget and I would love to set it up and actually fix this issue instead of going through the docs and fixing it

Cheers
Manu

________________________________
From: John Jelinek IV <notifications@github.com>
Sent: Monday, July 22, 2019 3:48 PM
To: gomods/athens
Cc: Manu Gupta; Mention
Subject: Re: [gomods/athens] Use AWS ECS credentials (#1283)

One of

[2019-07-23 09:37] marpio commented on #1283
I'm reopening the issue to track your problem @johnjelinek

[2019-07-23 14:55] johnjelinek commented on #1283
Does this help? Here's a task definition:
[code]

[2019-07-24 05:45] manugupt1 commented on #1283
This was my original proposal, looks like that will be the easiest way to get the URL and add it to the handler. https://github.com/gomods/athens/issues/1283#issuecomment-505278544

We can add a force override for changing URLs so that we can use it when absolutely require: for example `FORCE_SIDE_CAR_CREDSENDPOINT`

[2019-07-25 09:57] daqingshu opened #1315 "could athens support mirror?"
**Is your feature request related to a problem? Please describe.**
a simple way to replace in athens, not in go.mod
batch config in athens

**Describe the solution you'd like**
Mirrors = [
"golang.org/x/(.*) => github.com/golang/$1",
"google.golang.org/appengine => github.com/golang/appengine",
"google.golang.org/genproto => github.com/google/go-genproto",
"google.golang.org/grpc => github.com/grp

[2019-07-26 05:34] manugupt1 commented on #1283
What do you think @johnjelinek  @marpio

[2019-07-26 06:35] marpio commented on #1283
@johnjelinek @manugupt1
I don't have much experience with AWS so just for my understanding - the problem seems to be that not only do the credentials expire but so does the endpoint providing the credentials, right?
I'm also wondering about the segmentation fault - does it happen when the endpoint expires or on the first request?

Currently we're setting the credentials endpoint at the start of At

[2019-07-26 12:31] johnjelinek commented on #1283
The endpoint that provides the credentials does not expire, it is available for the life of the Fargate service, but the panic should be caught.

[2019-07-26 14:13] manugupt1 commented on #1283
I do not have much experience either. I will try and set it up and see if I can replicate the panic.

Cheers
Manu

________________________________
From: John Jelinek IV <notifications@github.com>
Sent: Friday, July 26, 2019 5:31 AM
To: gomods/athens
Cc: Manu Gupta; Mention
Subject: Re: [gomods/athens] Use AWS ECS credentials (#1283)

The endpoint that provides the credentials does not expire, it

[2019-07-26 14:53] johnjelinek commented on #1283
It should be pretty easy to mock, any HTTP endpoint that serves a few key-pairs in JSON should help you repro a panic.

[2019-07-26 15:10] manugupt1 commented on #1283
Let me try that and get back. I really appreciate your patience. Thank you

Cheers
Manu

________________________________
From: John Jelinek IV <notifications@github.com>
Sent: Friday, July 26, 2019 7:53 AM
To: gomods/athens
Cc: Manu Gupta; Mention
Subject: Re: [gomods/athens] Use AWS ECS credentials (#1283)

It should be pretty easy to mock, any HTTP endpoint that serves a few key-pairs in JSON s

[2019-07-27 20:50] arschles commented on #995
FYI, if anyone needs to test this, you can use https://github.com/Azure/Azurite for local testing

[2019-07-31 00:07] xytan123 opened #1318 "should we block non semver for @mod and @zip?"
**Describe the bug**
currently we filter out non-semver versions in @list, but if user specifically asked for it, we return it in @info @mod @zip. However, it's not the case in proxy.golang.org, which return 200 for @info, 400 for @mod and @zip. Should we follow?

https://proxy.golang.org/github.com/google/gvisor/@v/release-20190529.1.mod
http://localhost:3000/github.com/google/gvisor/@v/release-2

[2019-07-31 20:11] ramanvis opened #1319 "github private repo"
Issue:
Athens throwing a 500 Internal server error when the module repository is a private github repo.

Details:
I created a go module in a private github repo to experiment with athens. The module provides a simple utility to convert a map to slice of keys and values.

In another repo/module, I simply use this module's library and print values in a map.

This works fine without athens.

I saw th

[2019-08-01 06:34] marpio commented on #1319
@ramanvis
You will need to provide a .netrc or GitHub token to Athens in order for it to get access to your private repository.
Ref:
https://github.com/gomods/athens/blob/8240e720fdc7cc89d5b433e95025a1b1f1186343/config.dev.toml#L143

https://github.com/gomods/athens/blob/8240e720fdc7cc89d5b433e95025a1b1f1186343/config.dev.toml#L151

Let us know if you have any other questions!

[2019-08-01 17:16] #1311 closed

[2019-08-01 23:04] xytan0056 commented on #1318
one thing to note is, currently athens populate .info, .mod, .zip at the same time up either one of the calls. In order to achieve the same behavior as `proxy.golang.org`, we need to separate fetcher logic

[2019-08-01 23:05] xytan123 commented on #1318
one thing to note is, currently athens populate .info, .mod, .zip at the same time up either one of the calls. In order to achieve the same behavior as proxy.golang.org, we need to separate fetcher logic

[2019-08-02 00:05] xyt0056 opened #1320 "sanity check version string that users provide"
**Is your feature request related to a problem? Please describe.**
we take whatever version passed in for granted and return them unchecked
for example `vx.x.x+incompatible`, if `vx.x.x` is compatible, we should error out instead of returning `vx.x.x+incompatible` as is

**Describe the solution you'd like**
user provided version is checked

**Describe alternatives you've considered**
check at fetc

[2019-08-04 01:47] johnjelinek commented on #1283
@manugupt1: how'd the mock HTTP endpoint work for you?

[2019-08-05 18:58] arschles commented on #1318
@xytan123 Do you have a use case for adding this filter? We could add it as a config option if needed.

For context, we want to allow non-semver versions only if someone already had them specified in their `go.mod` because that could be helpful for folks who have non-semver release processes internally. We wanted to prevent folks from picking up a new non-semver release when they do a `go get` wit

[2019-08-05 19:04] arschles commented on #1320
@xytan123 I don't see a reason not to error out on `/@v/list` and `/@latest` requests for both style versions, but I think it would be a good idea to allow them on `.info`, `.mod` and `.zip` requests, for the same reason I gave in https://github.com/gomods/athens/issues/1318

@marwan-at-work what do you think?

[2019-08-05 19:06] arschles commented on #1283
Looks like #1291 was supposed to close this but it didn't. I'm going to close now.

@johnjelinek if this is still not panic-ing (https://github.com/gomods/athens/pull/1291#issuecomment-513987374) or not working, can you open a new issue?

[2019-08-05 19:08] arschles commented on #587
@ajstarks did you figure out a way around this?

[2019-08-05 19:10] arschles commented on #1319
@ramanvis https://docs.gomods.io/install/managing-private-repos/ also has some documentation on how to configure this file.

I'm going to close this issue now. If you have additional questions, can you contact us in the `#athens` channel in the [Gophers Slack](https://invite.slack.golangbridge.org/) or open a new issue here?

[2019-08-05 19:10] #1319 closed

[2019-08-05 19:19] arschles commented on #1315
@daqingshu do you have a use case for this?

[2019-08-05 20:06] johnjelinek commented on #1283
@arschles: I don't understand. #1291 was not implemented in a way that would address this issue. That's what this communication was addressing. So you want a new issue to mention the same problem?

[2019-08-05 20:08] arschles commented on #1290
@jorng @yittg I am going to close this issue now. If you're still seeing the problem, can you talk to us in the `#athens` channel in the Gophers Slack, or open another issue in this repository?

[2019-08-05 20:08] #1290 closed

[2019-08-05 20:27] arschles commented on #531
@benjaminch are you still thinking of writing up some docs for those platforms? If not, no worries at all. I just wanted to check in.

[2019-08-05 20:31] benjaminch commented on #531
Hey @arschles,
Thanks for checking ! Yes I am still planning to do it, just did not happen to have the time I though I would have just yet to start it ...
I will try to start the script ASAP at least script and screenshots drafts so you can check if it goes toward the good direction.
Cheers !

[2019-08-05 20:36] xytan123 commented on #1318
@arschles I agree on user experience requirements. From what I tested, `go get` only needs `@info` to get the correct modules, but not `@mod`, `@zip`.

currently `proxy.golang.org` return `410` to malformed version for  `@mod`, `@zip`. But `go get` resolves correctly
[code]
[code]
I think we need to be on par with proxy.golang.org just in case go toolchain use them elsewhere for validation

[2019-08-05 20:38] xytan123 commented on #1320
`.info` :white_check_mark:
`.mod` `.zip` no need

[2019-08-05 20:43] marpio commented on #1283
@arschles #1291 didn't address this issue (we're getting a panic). I think we can leave it open until we fix the current implementation.

[2019-08-05 20:54] arschles commented on #1259
@keremgocen would you still be interested in taking this one? I'm happy to help out if you are. If not, absolutely no worries. I just wanted to check in.

[2019-08-05 20:54] arschles commented on #1303
Thanks @qiuyuzhou - I just submitted #1322. Can you let me know if that will solve it for you?

[2019-08-05 21:03] arschles commented on #1132
Sorry for the long delay @sevennt. There's a similar discussion going on at https://github.com/gomods/athens/issues/1315. Do you have a use case for this?

One possible solution would be to use the [new download mode configuration file](https://docs.gomods.io/configuration/download/) (this was added since we talked last) and introduce a syntax like this:

[code]

Could this work for you?

[2019-08-05 21:10] arschles commented on #1189
@storyicon following up here, GOS looks very interesting!

if you'd like to use the validation middleware that @marpio mentioned, we can certainly help you build an HTTP server that works with it, and does the auth that you need to do.

I am going to close this issue now. If you still have questions or are interested in building that HTTP server, please feel free to file another issue in here 😁

[2019-08-05 21:10] #1189 closed

[2019-08-05 21:11] arschles commented on #1156
@zc2638 I am going to close this issue. If you still have this problem, can you let us know by filing another issue in this repository? Thank you 😄

[2019-08-05 21:11] #1156 closed

[2019-08-05 21:12] arschles commented on #1213
@j4ng5y can you let us know if you're still interested in taking a stab at this? Absolutely no problem if you're not, I just wanted to check in 😄

[2019-08-05 21:13] arschles commented on #1166
@storyicon do you use GOS to download internal/private code directly from the VCS, and public code from a proxy?

[2019-08-05 21:15] arschles commented on #1133
@tfzxyinhao I am going to close this issue now. If you still see problems, would you mind opening  a new issue in this repository? Thank you 😁

[2019-08-05 21:15] #1133 closed

[2019-08-05 21:17] arschles commented on #1137
@vprasanth are you still interested in doing this? If not, that's absolutely no problem. I just wanted to check in 😄

[2019-08-05 21:29] arschles commented on #1136
@benjaminch thanks! I think there's a balance between how many requests you want to concurrently serve (via [`ATHENS_PROTOCOL_WORKERS`](https://github.com/gomods/athens/blob/61e29b0a91081a7d852afb6e6361077802f420f6/config.dev.toml#L31)) and how many concurrent `go mod download` requests to run (via [`ATHENS_GOGET_WORKERS`](https://github.com/gomods/athens/blob/61e29b0a91081a7d852afb6e6361077802f42

[2019-08-05 21:49] marwan-at-work opened #1323 "Who's using Athens in production?"
We have been working on making Athens production ready and as we get closer to v1, we'd love to know who's using Athens within their organizations.

I'll go first: The New York Times :)

[2019-08-05 22:02] arschles commented on #1323
athens.azurefd.net (hopefully behind another domain soon, if I get some free time!)

[2019-08-05 22:03] leitzler commented on #1323
I do, at work :)

[2019-08-05 22:54] ajstarks commented on #587
Sorry, no.

[2019-08-05 23:41] marwan-at-work commented on #1320
@xytan123 if you try that same query against Athens you get the same error as proxy.golang.org:

[code]

Athens logs:

[code]

The only thing is that we're not passing the message all the way back to the client, we can do that as part of the response, but we don't need to manually parse/understand versions, that's `go mod download` and `go list`'s job internally

[2019-08-05 23:55] xytan123 commented on #1320
@marwan-at-work
Does it take whatever go binary on machine? I use `go version go1.12.6 darwin/amd64`. build from master
[code]

[2019-08-06 02:05] jorng commented on #1290
Sorry for the delay. I was just able to get this setup earlier today to replicate. Yes, it appears to be fixed.

[2019-08-06 02:40] vprasanth commented on #1137
Oh crap, totally lost track of this. I'll get this wrapped up shortly. Sorry for the delay!

[2019-08-06 03:28] manugupt1 commented on #1283
@johnjelinek I have been able to get a 403 on this with endpoint creds. Can you verify if it works with real ones: https://github.com/gomods/athens/pull/1325

[2019-08-06 06:50] daqingshu commented on #1315
case 1.  Inside the enterprise, there is strict network control, only some people can directly access github, we want create some mirror repos, sync them every week, then others can use the athens with your great idea "alias" feature get the repos from mirrors

[2019-08-06 06:52] daqingshu commented on #1132
I think your idea is great, use alias  syntax is great

[2019-08-06 10:56] lowstz commented on #1275
500 errors happens both on v0.4.0 and v.0.5.0 release

@chen56 rollback to v0.3.1 fix the issue, Thank you!

[2019-08-06 12:54] keremgocen commented on #1259
@arschles feel free to take it, I recently started a new project so it's a bit hard for me to create extra time right now. I'm sure I can find something else to work on when I have a better schedule.

[2019-08-06 13:00] johnjelinek commented on #1283
Cool! I think that looks good. Can you push this to the canary container so I can pull it in Fargate?

[2019-08-06 14:38] marwan-at-work commented on #1320
@xytan123 can you try it with go1.13 beta (or go tip) and let me know? It seems that we can call it done if the underlying Go binary fixes this for us.

[2019-08-06 17:20] #1137 closed

[2019-08-06 19:23] marpio commented on #1283
@johnjelinek canary should be pushed on every master build so you should be able to test it.

[2019-08-06 19:46] jpreese commented on #1282
I think this would be a good candidate for a vanity url server, but I'd love to see the functionality of a vanity url server supported by Athens. This way there isn't yet another service to deploy, monitor, maintain etc.

If we bought a url such as myurl.com, and a module hosted there at mymodule, if I could redirect all requests to Athens and have Athens generate a meta tag for me based on some u

[2019-08-06 22:24] xytan123 commented on #1320
yep, go 13 fixes.
[code]
But can we make this hermetic? I feel it's a bit weird that the result is not reproducible on different machines

[2019-08-06 22:45] chriscoffee opened #1326 "Helm chart needs updating to use latest docker container"
**Describe the bug**
We need to update the docker container to use the latest build.

Whilst we were in the 2018-08-06 Office Hours @arschles noticed that the Helm chart was out of date of the latest v0.5.0 release.

Either bump the version manually or write a script to bump the version as we deploy out a release. That way we don't have to keep remembering to do this! 👍

[2019-08-06 22:58] schafer14 commented on #1326
May I take this issue?

[2019-08-06 23:41] chriscoffee commented on #1259
Just so I understand you right with this one @marwan-at-work (it's rather late here):

Are you wanting the developer environment in docker-compose to be able to `depend_on` a second container, which does the `go mod download && go mod vendor` and uses it as a mounted volume shared between the two. i.e https://gist.github.com/chriscoffee/f7e6d7052c0a426eebaceaf1ab2c8218#file-docker-compose-yml

OR

[2019-08-07 00:53] bobmaertz opened #1327 "Write tests for error paths in Mongo query funtion"
**Is your feature request related to a problem? Please describe.**

This is a follow up to the conversation in #1314

**Describe the solution you'd like**

The tests for the query function handle all of the good paths but not the error cases. There should be tests to verify that the error paths behave as expected.

**Describe alternatives you've considered**

N/A

**Additional context**

N/A

[2019-08-07 01:10] sevennt commented on #1132
@arschles that works, thanks.

[2019-08-07 01:10] #1132 closed

[2019-08-07 02:18] bou1der opened #1328 "Check for errors generated by URL when initializing mongo client"
**Is your feature request related to a problem? Please describe.**

When creating a new Mongo client, athens doesn't check for error messages when providing the mongo client with the URI. The NewStorage function allows you to pass an empty string URL as the mongo URL. It does eventually error out later when trying to call the backend.

**Describe the solution you'd like**

In the newClient functio

[2019-08-07 17:24] arschles commented on #281
Closing this issue, as it's no longer relevant to the current design of Athens

[2019-08-07 17:24] #281 closed

[2019-08-07 22:04] gowdabas commented on #1328
Hi @bou1der , are you working on this? If not, I can take it up.

[2019-08-07 23:20] bou1der commented on #1328
Hi @gowdabas, I am working on it. Sorry about that, I submitted a PR right after I wrote this issue

[2019-08-08 09:48] magiconair commented on #1166
Adding static token support to authenticate users to the proxy would be quite helpful.

[2019-08-08 18:11] johnjelinek commented on #1283
@marpio: works great! :shipit: The only other part that would make this nicer is if it could figure out the endpoint in process instead of me having to use a sidecar to generate the URL to pass into the config.

[2019-08-08 20:07] marpio commented on #1283
@johnjelinek glad to hear that!
Would using an environment variable be an option for you?
https://github.com/gomods/athens/blob/a336c5552ff5ad03ebd0b269ac0792a2b8ed8d56/pkg/config/s3.go#L11

[2019-08-08 20:10] johnjelinek commented on #1283
@marpio: no, the env var would have to be set a deploy-time, but AWS generates it dynamically, so I generate the URL at run-time in a sidecar, modifying the config file in a shared volume, and then I start the athens container -- however, the URL is always discoverable at: `http://169.254.170.2$AWS_CONTAINER_CREDENTIALS_RELATIVE_URI`, but I can't pass in a reference to another env var to `AWS_CRED

[2019-08-09 18:24] gowdabas commented on #1328
@bou1der Np, that's great !!

[2019-08-11 15:54] manugupt1 commented on #1283
@johnjelinek Can you be a bit more clear?

Is it a new URI that it generates or do the tokens expire after a while?

[2019-08-11 16:08] owenhaynes opened #1334 "Download module from a specific subdirectory within the repository"
**Is your feature request related to a problem? Please describe.**
Be able to cache a module from a mono-repo which has a vanity URL in front of it.

E.G have a go module in some mixed language environment git repo.
/src/test.cpp
/src/b.cpp
/go/blah.go
/go/go.mod
/go/go.sum

make go.foo.io/foo  points to /go/

**Describe the solution you'd like**
Be able to configure Athens to know how to map a va

[2019-08-12 17:35] johnjelinek commented on #1283
A service, in Fargate, is an essential container and a collection of sidecars that run to provide functionality. Every time a service starts in Fargate, the environment variable `AWS_CONTAINER_CREDENTIALS_RELATIVE_URI` changes. The environment variable is the same for all containers of the service. So, right now, I have a sidecar that fetches the value of `AWS_CONTAINER_CREDENTIALS_RELATIVE_URI` a

[2019-08-12 17:36] johnjelinek commented on #1323
The Container Store

[2019-08-12 21:24] bluekeyes opened #1336 "Confusing behavior with missing (required) configuration values"
**Describe the bug**

_(This is arguably 3 distinct bugs, but they are related and each led to the next.)_

(1) The documentation suggested to me that configuration properties that are not set in a configuration file will use the documented defaults; this is the behavior if environment variables are used for configuration. Instead, any properties not explicitly defined in the configuration file us

[2019-08-13 05:53] manugupt1 commented on #1283
@johnjelinek  to keep track I am reopening the issue.

Can you look at this PR and see if it makes sense: https://github.com/gomods/athens/pull/1337/files

[2019-08-13 06:45] #1303 closed

[2019-08-13 06:49] #995 closed

[2019-08-13 06:54] #1328 closed

[2019-08-13 09:38] frasercobb opened #1338 "docs: make it easy to compare vendoring and athens"
**Is your feature request related to a problem? Please describe.**
My team found it difficult to compare and contrast vendoring with Athens.

**Describe the solution you'd like**
Documentation to make it easy to compare vendoring with go module proxies such as Athens.
Ideally the documentation would make it easy to compare the solutions on the users repo, with commands to copy and run to see the b

[2019-08-13 12:53] johnjelinek commented on #1283
I'm not sure this makes sense. It doesn't look like it's linking to anything from the environment. I think what you're trying to implement is an environment variable alias. The `$AWS_CONTAINER_CREDENTIALS_RELATIVE_URI` is already an environment variable, it's not part of the URL. It might make more sense to see if `AWS_CONTAINER_CREDENTIALS_RELATIVE_URI` exists as an env var and if so, evaluate `A

[2019-08-13 15:07] manugupt1 commented on #1283
We use envconfig that should help override env vars.

https://github.com/kelseyhightower/envconfig/blob/master/README.md

That should work! Is there an easy way for you to test this branch? If not, let’s figure something out

Cheers
Manu

________________________________
From: John Jelinek IV <notifications@github.com>
Sent: Tuesday, August 13, 2019 5:53 AM
To: gomods/athens
Cc: Manu Gupta; State

[2019-08-13 15:46] johnjelinek commented on #1283
@manugupt1: If you could push your latest changes to the canary container release, I can pull it in and try it out ... I suspect it won't work, but let's find out!

[2019-08-13 15:53] johnjelinek commented on #1283
@manugupt1: I left comments on your PR

[2019-08-13 16:51] kevin-cantwell opened #1339 "disk storage doesn't store anything to disk"
**Describe the bug**
Athens doesn't store to the configured location (or anywhere else, afaict).

**Error Message**
No errors, just no disk writes.

**To Reproduce**
Steps to reproduce the behavior:

1. `mkdir -p $HOME/.athens/storage`
1. `docker run -p '3000:3000' -v $HOME/.athens/storage:/athens/storage --env ATHENS_STORAGE_TYPE=disk --env ATHENS_DISK_STORAGE_ROOT=/athens/storage gomods/athens:v

[2019-08-13 22:11] arschles opened #1341 "Webhook for proactively downloading modules into storage"
**Is your feature request related to a problem? Please describe.**

It would be useful to tell Athens to download all of a module's versions before they are needed.

**Describe the solution you'd like**

Essentially, I would like to have a webhook to tell Athens to do the equivalent of priming its cache. This webhook would do the following, possibly in the background:

- Determine all of the versi

[2019-08-14 03:13] manugupt1 commented on #1283
@johnjelinek It should work as I tested out printing out exported env vars. I will open the PR for review and see if everyone is okay to merge it in.

[2019-08-14 16:51] johnjelinek commented on #1283
cool, when it gets to the canary container, I'll try it out

[2019-08-15 18:39] arschles commented on #1339
Hi @kevin-cantwell - a few questions, and apologies if you've already done some/all of these. It'll help me understand what's going on:

- when you view the container logs after you do the `go get`, do you see Athens doing the downloads in the background? I'm assuming you already verified this but I want to make sure
- can you run `ls` on the `/athens/storage` directory in the container? I usually

[2019-08-15 21:02] arschles commented on #1323
@johnjelinek thanks for letting us know! I can't resist posting this because I love the slogan...

![contain yourself](https://images.containerstore.com/catalogimages/113423/TCSreusableTote_x.jpg)

[2019-08-15 21:04] #1301 closed

[2019-08-15 21:05] arschles commented on #1327
Specific link to the start of the conversation in #1314 about error kinds is [here](https://github.com/gomods/athens/pull/1314#pullrequestreview-270959865)

[2019-08-15 21:23] leucos commented on #1339
@kevin-cantwell it seems that you are looking into `$HOME/go/.athens` directory while you used `$HOME/.athens/storage`. Are they symlinked or do you have a type on line 2 ?

[2019-08-15 21:48] arschles commented on #1334
Hi @owenhaynes! discussions on aliasing and vanity URLs have been pretty popular recently, if you're interested.  Here are 3 for example: #1315, #1282, and the alias endpoint discussion in #1195.

For your case, just to be clear, does running `go get` or `go mod download` on the VCS subdirectory work for you? For example, does `GOPROXY=https://athens go get bitbucket.com/foo/foo/src/go` work? It l

[2019-08-15 22:13] owenhaynes commented on #1334
It was the first thing I tried before seeing if a proxy would solve my
problem.

The metadata for go get does not support subdirectories golang/go#33562.
They don't seem to what to make any changes to the metadata fields.

I have managed to hack Athens at the moment to do basic aliases to do the
zip business like go get does and support subdirs. Implemented  a fetcher
which calls git clone and zip

[2019-08-15 22:39] arschles commented on #1237
I think that #1248 fixed this, so I'm gonna close. @brainflake if I'm wrong, let me know please!

[2019-08-15 22:39] #1237 closed

[2019-08-15 22:42] arschles commented on #659
I think every contributor in our community is doing a pretty good job keeping up with PRs and issues for now, so I'm gonna close this issue. We can go try and fix something if it becomes a problem 😄

[2019-08-15 22:42] #659 closed

[2019-08-15 22:44] arschles commented on #921
@rogpeppe do you think that linking to https://github.com/gomods/athens/blob/master/config.dev.toml would be a good first pass at this? I ask because it's the source of truth for our config vars - we make sure to add documentation for each new config variable we add

[2019-08-15 23:10] arschles commented on #1336
@bluekeyes Do you think a log to indicate what's missing, and removing docs that talk about defaults be a decent start to solving these 3 problems?

[2019-08-15 23:23] ramanvis commented on #1319
Thank you

[2019-08-15 23:40] bluekeyes commented on #1336
I think logging some of the additional details attached to errors and making sure all required properties are marked with the `required` tag for validation would be a good start: that existing validation was pretty helpful when I first started the server with my minimal configuration file.

I'm not sure what the best way to improve the docs is, since the defaults are still relevant for people usin

[2019-08-16 06:15] #1326 closed

[2019-08-16 08:07] rogpeppe commented on #921
Thanks, that's certainly a good start, thanks, although I think ideally it would be nicer to have the possible values nicely formatted in the main documentation, and with appropriate links to external resources (for example FilterFile could point to the docs for the filter file syntax; DownloadMode could point to the docs for whatever an HCL file is (I don't know...))

[2019-08-16 13:31] brainflake commented on #1237
Sounds good 🚀

[2019-08-16 20:54] arschles commented on #921
Sounds good. I updated the PR to reflect what you said, thanks @rogpeppe !

[2019-08-16 21:07] arschles commented on #531
All good @benjaminch, take your time! Happy to read / try out whatever you have, whenever you have it

[2019-08-16 21:12] arschles commented on #1334
zip business like go get does and support subdirs

Do you have this code in a fork somewhere we can take a look? I think there's a lot of interest in seeing how this works and whether we can add it to Athens..

[2019-08-21 13:37] manugupt1 commented on #1283
It should be on canary now can you test it John! Thanks

Cheers
Manu

________________________________
From: John Jelinek IV <notifications@github.com>
Sent: Wednesday, August 14, 2019 9:51 AM
To: gomods/athens
Cc: Manu Gupta; Mention
Subject: Re: [gomods/athens] Use AWS ECS credentials (#1283)

cool, when it gets to the canary container, I'll try it out

—
You are receiving this because you were

[2019-08-21 16:46] johnjelinek commented on #1283
Excellent, I should be able to test it tomorrow

[2019-08-22 15:14] arschles commented on #1059
One possible way to do this would be https://github.com/sonatype-nexus-community/nancy

[2019-08-22 16:32] johnjelinek commented on #1283
@manugupt1: canary works great. I removed all my sidecars and it still works with this env var:

      {
        "name": "AWS_CREDENTIALS_ENDPOINT",
        "value": "http://169.254.170.2"
      }
I think can be closed now. It might be nice to document somewhere that `http://169.254.170.2` is the default Fargate endpoint for everyone.

[2019-08-22 16:49] manugupt1 commented on #1283
Is it a global endpoint or is it region specific?

Cheers
Manu

________________________________
From: John Jelinek IV <notifications@github.com>
Sent: Thursday, August 22, 2019 9:32 AM
To: gomods/athens
Cc: Manu Gupta; Mention
Subject: Re: [gomods/athens] Use AWS ECS credentials (#1283)

@manugupt1<https://github.com/manugupt1>: canary works great. I removed all my sidecars and it still works wit

[2019-08-22 17:52] johnjelinek commented on #1283
global

[2019-08-23 05:51] gowdabas commented on #1213
@j4ng5y If you haven't gotten a chance to work on this, can I take it up?

[2019-08-23 05:56] gowdabas commented on #1186
@arschles Where are we on this? Are we still looking to change the format? If so, I'd like to take this up.

[2019-08-23 14:12] manugupt1 opened #1349 "Add docs on how to configure AWS Fargate for athens"
**Describe the request**
Right now, aws fargate can be configured in canary and it has a global endpoint that vends credentials. It will be nice to point to the aws docs that talks about this global URL and how to configure it.

[2019-08-23 14:14] manugupt1 opened #1350 "Add docs to launch an instance of Athens on AWS Fargate"
**Is your feature request related to a problem? Please describe.**
RIght now, we are missing docs on to launch an instance of  athens for Fargate with sample task definition file and the steps to run through it.

**Describe the solution you'd like**
I would like to see docs that would on-board a non AWS user to athens on AWS Fargate.

[2019-08-23 20:36] marpio commented on #1186
@arschles @gowdabas
What do you think about supporting the proxy.golang.org format?

[2019-08-23 21:16] marwan-at-work commented on #1186
I believe that was something that was discussed (I thought here, but maybe elsewhere now that I don't see it).

Also, I assume you mean the `index.golang.org` format?

I'd love to support that format, but I'm also wondering if it's worth supporting both formats?
The index/golang format is just an append-log and has the same problem as our v1 catalog format: we can't ask the simple question of "how

[2019-08-24 00:32] gowdabas commented on #1186
@marwan-at-work by both formats, you mean index/golang format and {mod1:[v1, v2,v3], mod2:[v1. v2]} format right? For the second format, yes, we do have the overhead of iterating through the entire database at once and also handling pagination.
@marpio I think we could support both.  What do you think?

[2019-08-24 11:40] rickb777 opened #1354 "Is there interest in SystemD installation?"
It's generally quite easy to install Go services on Linux systems that support [SystemD](https://en.wikipedia.org/wiki/Systemd). For such servers, Docker is an unnecessary dependency and unwanted overhead. For example, I already run [Caddy](https://caddyserver.com/) this way in Ubuntu.

Is there much interest in running Athens this way? If so, I can help get it started.

[2019-08-24 19:34] manugupt1 commented on #1354
I would love to see systemd and other init based systems supported

Cheers
Manu

________________________________
From: Rick Beton <notifications@github.com>
Sent: Saturday, August 24, 2019 4:40 AM
To: gomods/athens
Cc: Subscribed
Subject: [gomods/athens] Is there interestin in SystemD installation (#1354)

It's generally quite easy to install Go services on Linux systems that support SystemD<http

[2019-08-25 20:40] marpio commented on #1186
@marwan-at-work

Yes!

What do you mean by _both_ formats? Our current v1 and the index.golang.org? We could probably phase out our over time.
The reason, why I think it would be useful o support the `index.golang.org`, is that I assume the future tooling will use it and so Athens would be compatible.
Not sure how stable it is though so waiting for some time is definitely an option.

[2019-08-25 20:54] marwan-at-work commented on #1186
@marpio by both formats I meant `index.golang.org` and the "v2" format suggested above.

The reason I say that is because our proposed v2 format will allow us to quickly get all the versions for a given module

And I'm happy to wait for index/golang to be stable for sure.

[2019-08-26 07:57] owenhaynes commented on #1334
Sorry it taken so long been a bit  busy
[https://github.com/owenhaynes/athens/tree/gitVanityOffset](Git Offset)

Like I said this uses a lot of copied code from the go code base, and is no way clean, just a hack.

[2019-08-26 11:45] knsh14 opened #1357 "Unhandled error"
**Is your feature request related to a problem? Please describe.**
Some codes does not handle error.
so if it causes error, but cannot recognize it.

https://github.com/gomods/athens/blob/master/pkg/storage/fs/cataloger.go#L34
https://github.com/gomods/athens/blob/master/pkg/storage/mongo/deleter.go#L36

**Describe the solution you'd like**
Add error handling statements.

**Describe alternatives y

[2019-08-26 12:26] knsh14 commented on #1357
and here( https://github.com/gomods/athens/blob/master/pkg/storage/minio/minio.go#L33 )

[2019-08-26 13:17] knsh14 commented on #1357
ignored with `_`:
https://github.com/gomods/athens/blob/master/pkg/download/handler.go#L59
https://github.com/gomods/athens/blob/master/pkg/middleware/validation.go#L28
https://github.com/gomods/athens/blob/master/pkg/storage/minio/minio.go#L42

[2019-08-27 15:22] knsh14 commented on #1357
sorry https://github.com/gomods/athens/blob/master/pkg/middleware/validation.go#L28 is commented why not handling error

[2019-08-27 22:06] arschles opened #1359 "Investigate using mock Go binaries in unit tests"
**Is your feature request related to a problem? Please describe.**
Not related to a problem

**Describe the solution you'd like**
It could be useful to add a "fake" Go binary to

**Describe alternatives you've considered**
N/A

**Additional context**
This idea was brought up in the 2019-08-27 office hours, and it was based on https://www.youtube.com/watch?v=8hQG7QlcLBk

[2019-08-28 18:19] #1349 closed, assigned to nobody

[2019-08-28 18:59] arschles opened #1363 "Proposal: adding docs on how to set GONOSUMDB"
**Is your feature request related to a problem? Please describe.**

We have [docs](https://docs.gomods.io/configuration/sumdb/) on how to make Athens proxy the global sum DB, but no docs on how to configure your toolchain to ignore the sum db for private modules.

**Describe the solution you'd like**

I think we should add docs on how to configure `GONOSUMDB` and why you'd want to do that.

**Desc

[2019-08-28 19:52] #921 closed

[2019-08-28 22:09] manugupt1 commented on #1350
No it does not. This is a follow up.

Cheers
Manu

________________________________
From: Aaron Schlesinger <notifications@github.com>
Sent: Thursday, August 29, 2019 12:01 AM
To: gomods/athens
Cc: Manu Gupta; Mention
Subject: Re: [gomods/athens] Add docs to launch an instance of Athens on AWS Fargate (#1350)

@manugupt1<https://github.com/manugupt1> does #1283<https://github.com/gomods/athens/iss

[2019-08-28 22:38] gowdabas opened #1364 "Make docker based unit tests and e2e tests use upstream proxy to download dependencies"
**Is your feature request related to a problem? Please describe.**
Currently the unit tests and end-to-end tests that run within the docker container use VCS to download the dependencies required for Athens. We would like to change this to use an upstream proxy.

**Describe the solution you'd like**
Use proxy.golang.org instead of VCS to download the dependencies required for Athens to run the tes

[2019-08-28 22:39] gowdabas commented on #1364
Picking this up.

[2019-08-29 17:56] rugwirobaker commented on #1354
Has anyone taken it? @arschles

[2019-08-30 07:32] rickb777 commented on #1354
I have started preparing a PR. It works but only with Ubuntu >16 a.t.m

[2019-08-30 07:33] rickb777 commented on #1354
w.i.p. https://github.com/rickb777/athens/commits/master

[2019-08-30 15:44] twexler commented on #1336
I also just ran into this when handwriting my own config, I think the easy change is to make `DownloadMode` required, but I think the correct fix is to actually set defaults when they should be.

[2019-08-30 17:04] marwan-at-work commented on #1336
The config file takes precedence over the defaults, and therefore if you're using your own config file, you want to make sure it's a modified version of the config.dev.toml file. That said, the error is definitely confusing and we should either default to Sync for DownloadMode, or tell the user that they are not using it correctly and error out.

[2019-09-01 06:44] yolo3301 commented on #1359
I'm new to the project. Is `pkg/module/go_get_fetcher_test.go` the specific unit test we're talking about here?

[2019-09-01 14:04] dylan-bourque commented on #1359
That is the test we were talking about when this concept came up, yes. The concept would apply to any test that executes a child process though.

[2019-09-02 07:27] mschneider82 commented on #1363
docs would be nice! I just tried go 1.13rc2 with athens and private repo and failed because of the sum's..

[2019-09-03 15:45] sah4ez opened #1367 "Deployment to kubernets"
In [this condition](https://github.com/gomods/athens/blob/master/charts/athens-proxy/templates/deployment.yaml#L146) missed the values for `sshGitServers` ([there](https://github.com/gomods/athens/blob/master/charts/athens-proxy/templates/deployment.yaml#L163))

[code]
when I tried install to helm, I got an error:
[code]
I disabled `upstreamProxy`, `netrc` and used `type: mongo` in storage.

[2019-09-03 15:47] sah4ez commented on #1367
helm template contains:
[code]

[2019-09-03 21:31] twexler opened #1368 "Mock out VCS/go get in order to improve testing speed"
**Is your feature request related to a problem? Please describe.**
During office hours, we discussed testing `athens`, and it seemed like one issue is that we have to actually call out to somewhere public to run tests. This isn't ideal for several reasons.

**Describe the solution you'd like**
Ideally, this would just be a `module.Fetcher` implemented against a set of local filesystem objects

**D

[2019-09-03 22:33] marwan-at-work commented on #1368
@twexler can you specify which tests exactly should be using a mock? I believe we do have a mock implementation of `module.Fetcher` but we also test the live-internet-y code for good reasons to make sure things function properly. I can help you look around if you're not sure which tests would you like to mock out. Thanks!

[2019-09-04 06:02] yolo3301 commented on #1368
Seems similar to https://github.com/gomods/athens/issues/1359

[2019-09-04 13:50] twexler commented on #1368
I need to rewatch yesterday's office hours to regain context, but as mentioned this came up during that meeting

[2019-09-04 13:51] twexler commented on #1368
@yolo3301 it seems fairly similar to that issue, maybe sort of a duplicate?

[2019-09-04 19:31] marct83 opened #1372 "Go 1.13 Causing "500 Internal Server Error""
**Describe the bug**
Since updating to Go 1.13 I am seeing a "500 Internal Server Error" when fetching some packages. I rolled back to go 1.12 and the issue goes away. I tested this against the public experimental version of Athens to be sure it wasn't an issue with our instance.

**Error Message**
If applicable add error message to help explain your problem or console output enclose in triple bac

[2019-09-05 02:10] samzhao88 commented on #1275
I also run into the same issue with v0.5.0.
Any updates on this?

[2019-09-06 02:12] yittg opened #1373 "introduce GOPRIVATE configuration for private modules"
**Is your feature request related to a problem? Please describe.**
In #1294 #1304 , athens introduce a config to download from upstream proxy,
a approach to indicates module paths that are not publicly available and disable proxy is needed

**Describe the solution you'd like**
The go env `GOPRIVATE` is what we want, we should introduce it as configuration also.

[2019-09-06 03:19] yittg commented on #1373
cc @arschles

[2019-09-06 11:06] srimaln91 commented on #1323
We are using Athens in production

[2019-09-06 19:38] arschles commented on #1368
There _could_ be two levels to this. a Mock VCS could help us isolate the caller / response parsing code from the code that sets up the command and environment. the mock binary in #1359 could validate the code to set up the command/env

[2019-09-07 00:46] atomi commented on #1372
Here are logs when trying to `go get -u github.com/gorilla/mux`

[code]

[2019-09-08 19:43] Skarlso commented on #1372
I had this same error when trying to use Gaia which was downloading and building outside of project root. I'm trying to gather more information about this.

[2019-09-09 17:45] jorng opened #1375 "Cannot configure download mode for a whole domain"
Nevermind. Ignore this.

[2019-09-09 18:29] draeron commented on #1275
I'm pretty this is caused by go 1.13 as mentionned here https://github.com/gomods/athens/issues/1372

[2019-09-09 18:30] jorng commented on #1375
Looks like `go` implements this via [`str.GlobsMatchPath`](https://golang.org/src/cmd/go/internal/str/path.go#L54) at `src/cmd/go/internal/str/path.go`.

[2019-09-09 21:57] #1375 closed

[2019-09-10 14:50] johnjelinek commented on #1232
Can you do monthly? I'd really like a new release to pin against, since I depend on features in the canary release that have been there for a while.

[2019-09-11 03:01] wangkirin opened #1376 "Fail in go mod download : unable to access 'https://git.apache.org/thrift.git/'"
**Describe the bug**
I try to clone the latest `athens` code and build from source. But when I run `go mod download`,
it fails.

**Error Message**
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. `git clone https://github.com/gomods/athens.git`
2.  `go mod download`

**Expected behavior**
go mod success

**Environment (please complete the following information):**
 - OS: Linux 64bit

[2019-09-11 23:37] arschles commented on #1373
@yittg sorry for not responding sooner. I made a comment on this issue in the PR you submitted, [here](https://github.com/gomods/athens/pull/1374#issuecomment-530605760)

[2019-09-13 18:09] marwan-at-work commented on #1372
@marct83 TL;DR Athens version v0.5.0 uses Go 1.12 which has incompatible behavior than Go 1.13

The Canary version (docker `gomods/athens:canary`) uses Go v1.13 as well as the correct behavior in returning 410 on incorrect import paths so that Go 1.13 doesn't fail.

I also just released Athens v0.6.0. So please feel free to use that to pin to a stable version.

I've run the test above using the fo

[2019-09-13 18:09] #1372 closed

[2019-09-13 19:14] LukeMauldin opened #1378 "Athens airgapped mode"
I would like to run Athens in a completely airgapped mode. I have it setup with disk storage. I use a separate Athens server on a machine with internet access to download modules and then manually transfer the storage directory to the Athens server. This works as long as I specify the exact version in go get. Example:
‘go get -v github.com/foo/bar@v1.0.1’ however if I run ‘go get -v github.com/foo

[2019-09-16 18:19] tamalsaha opened #1379 "Deployment guide for Google appengine"
I would like to deploy athens on Google appengine to handle my private modules. I would prefer a guide for the appengine standard environment.

**Additional context**
https://twitter.com/arschles/status/1173661298963271680

[2019-09-16 21:07] gudladona87 opened #1380 "Helm chart still points to 0.5.0 docker image in release tag 0.6.0"
**Describe the bug**
Seems like the Helm chart is not updated in the 0.6.0 tag still points to 0.5.0 docker image

**Error Message**

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment (please complete the following information):**

**Additional context**
Add any other context about the problem her

[2019-09-16 21:11] arschles commented on #1378
Hi @LukeMauldin - at the moment, Athens tries to fetch the list of versions from storage and from the upstream, and then merge them ([here](https://github.com/gomods/athens/blob/master/pkg/download/protocol.go#L72) is where it does that)

When you do a `go get` without the version number, iirc it's doing a request to the `@latest` endpoint. We could add a config flag to Athens to make it just look

[2019-09-16 21:12] arschles commented on #1375
😄

[2019-09-16 21:14] jorng commented on #1375
Sorry for the noise, I will need to follow up on this later, once I have company approval.

[2019-09-16 21:14] arschles commented on #1232
@johnjelinek we certainly could. We've put the roadmap on the back burner for a while, and just released when we've added enough features that it "feels" (that's a highly technical term by the way 😆) like a new release.

But! I've done a bit of organizing a roadmap (which then informed when a release was gonna happen) in the past. [Here](https://github.com/gomods/athens/projects/4) is an example.

[2019-09-16 21:15] arschles commented on #1376
@wangkirin yes, I think that would be a great idea. Would you be willing to submit a PR to update the `go.mod`?

[2019-09-16 21:15] #1357 closed

[2019-09-16 21:45] #1380 closed

[2019-09-17 00:16] marwan-at-work commented on #1378
I think it makes sense to add a new configuration option where a "more advanced" Athens admin would "disable using `go list`, or `go mod download`"

However, I do want to understand your use case a little more...couldn't you just solve this on the client side by doing `GOPROXY=athens1,athens2,direct,etc go get ...`??

[2019-09-17 07:59] wangkirin commented on #1376
Sure, the PR already submitted.

[2019-09-17 14:47] marwan-at-work commented on #1376
@wangkirin this is actually fixed if you use `GOPROXY=proxy.golang.org`, otherwise all of our builds would fail.

Can you not use the Go proxy in your builds?

[2019-09-17 17:06] LukeMauldin commented on #1378
I like the idea of a configuration option to tell Athens to use the packages in storage and not check upstream for completely airgapped scenarios.
As far as I know, I cannot resolve this client side. Use case: I import github.com/foo/bar v1.0.0 and v1.0.1 manually into Athens storage. I then have a module that depends on v1.0.0. I would like to be able to do ‘go get -u github.com/foo/bar’ and for

[2019-09-17 17:12] LukeMauldin opened #1383 "Disable SUMDB"
**Describe the bug**
In an airgapped scenario, when using the versions below and doing ‘go get github.com/foo/bar’, Athens tries to query the standard Go sumdb website which fails due to lacking external internet access. Cannot resolve this issue client side because Go 1.12 does not support Goprivate. This scenario works as expected in Athens 0.5.0 because that version does not query Go sumdb.

**

[2019-09-17 17:36] draeron commented on #1383
Have you tried the `ATHENS_GONOSUM_PATTERNS` env ? I've tried it but athens keep doing request (which fail).

Ref: https://docs.gomods.io/configuration/sumdb/#why-proxy-a-checksum-db

[2019-09-17 18:02] LukeMauldin commented on #1383
I have multiple values for SumDBs and NoSumPatterns in the config file but Athens 0.6.0 always makes the sumdb request which fails in the airgapped scenario.

[2019-09-17 18:41] robjloranger commented on #1364
@gowdabas how are you doing with this? Just checking in to see if you ran into an issue.

[2019-09-17 18:51] robjloranger commented on #1354
Hi @rickb777, just checking in. How is it going with your WIP?

[2019-09-17 19:05] robjloranger commented on #1339
I followed your reproduction steps and found that the directory is populated as expected. Is it possible as mentioned, that you were checking the wrong directory?

[2019-09-17 19:54] manugupt1 commented on #1307
I wont be able to look until next month, anyone can take this issue.
Cheers,

Manu Gupta

On Wed, Sep 18, 2019 at 12:46 AM Rob j Loranger <notifications@github.com>
wrote:

[2019-09-17 22:10] twexler commented on #1376
It looks like git.apache.org is dead for good, and we should change the import anyway: https://blogs.apache.org/infra/entry/subversion-to-git-service-git

[2019-09-18 01:26] wangkirin commented on #1376
Agree! But it seems the `thrift` package is not directly imported by `athens` ,  it is imported by  `opencensus-go`  v0.17.0 (an old&archived version)
https://github.com/census-instrumentation/opencensus-go/blob/79993219becaa7e29e3b60cb67f5b8e82dee11d6/exporter/jaeger/jaeger.go#L28

@marwan-at-work @twexler
I think if we want to solve it completely,  we may try to help `opencensus` change its impo

[2019-09-18 02:02] marwan-at-work commented on #1376
It would be ideal if we fixed the go.mod file in opencensus, then we only need update our opencensus dependency in our go.mod file.

For now, using GOPROXY=proxy.golang.org should be a valid workaround IMO, and if people can't get around that, please do say so here so we can accept the `replace` PR :)

Thanks!

[2019-09-18 09:35] ZHRen opened #1385 "Athens hangs when receiving a request for a module that does not exist"
**Describe the bug**
When go get a module which does not exist in origion repo through Athens, such as github.com/rzh/gotest, the Athens process will hang because you need to enter the username and password for github.

**Expected behavior**
Athens responds with 404 or other error codes instead of hanging when receiving a request for a module that does not exist.

**Environment (please complete th

[2019-09-18 13:24] rickb777 commented on #1354
Hi, I have it working for latest Ubuntu and I have had similar scripts etc working for earlier (non-SystemD) versions. I could make a PR at this point, but it's incomplete. I haven't yet got good testing (e.g. via docker) and only really know for sure that the latest Ubuntu SystemD installation works. I can't yet demonstrate that other Linux flavours and/or version are ready.

[2019-09-18 18:05] tankbusta opened #1386 "NOSUMDB/ATHENS_GONOSUM_PATTERNS Being Ignored"
**Describe the bug**

I'm setting `ATHENS_GONOSUM_PATTERNS` but I'm still seeing Athens attempt to reach out to `https://sum.golang.org/lookup` for the package that should be matched in the GONOSUM_PATTERNS

My Config:

`ATHENS_GONOSUM_PATTERNS: github.mycorp.local/*`

**Error Message**
[code]
</pre>

**To Reproduce**

1. Set `ATHENS_GONOSUM_PATTERNS` to a pattern matching an internal GitHub/GitLa

[2019-09-18 18:06] tankbusta commented on #1386
This might be related to what @draeron mentioned in #1383

[2019-09-18 19:59] robjloranger commented on #1386
Have a look at [path.Match](https://golang.org/pkg/path/#Match) which is used to process these patterns.

In order to match against `github.mycorp.local/chris-schmitt/mypkg` you would need `github.mycorp.local/*/*` as in this example https://play.golang.org/p/4my0GowsEeJ.

Keep in mind though, that you would need another `/*` for each sub package deeper an import could be.

[2019-09-18 20:15] tankbusta commented on #1386
Ah, I didn't realize it was using path.Match

This is somewhat concerning since given the end users don't have much control over it? I don't want anything matching `github.mycorp.local` to ever hit the Public Checksum DB but at the same time I have no idea about my other users and their sub packages. It'd be nice if this used Regex (since `**` isn't supported) or a custom matcher that implemented

[2019-09-18 20:16] draeron commented on #1386
maybe using a regexp instead of `path.Match` would make more sense ?

[2019-09-18 20:17] robjloranger commented on #1386
I agree, either solution would be awesome. I think with a custom matcher we could allow user's to supply a regex with less changes to existing code.

[2019-09-18 20:25] twexler commented on #1376
It looks like they're already tracking this: census-instrumentation/opencensus-go#1158

[2019-09-18 20:27] twexler commented on #1376
@wangkirin

Looks like that got moved, see census-instrumentation/opencensus-go#1100

[2019-09-19 00:37] wangkirin commented on #1376
@twexler
Thank you for reminding :)
I will see how to update the athens code

[2019-09-19 07:58] iwittkau commented on #1386
I have the same problem.

**Even setting a correct pattern does result in athens querying sum.golang.org** (internal server error).

My configuration is similar to this:

Pattern: `git.region.company.com/*/*`
Module Name: `git.region.company.com/group/project`

which results in a positive (`true`) match for `path.Match`. But athens still tries to query sum.golang.org and returns an internal server

[2019-09-19 11:01] ZHRen opened #1387 "SingleFlight.Redis endpoint does not support setting passwords"
**Describe the bug**
SingleFlight.Redis endpoint does not support setting passwords. I have tried "redis://:password@host:6379", but it didn't work.

**Error Message**
2019-09-19 11:52:37.207681 I | error adding proxy routes (NOAUTH Authentication required.)
or
2019-09-19 14:42:06.649731 I | error adding proxy routes (dial tcp: address redis://:passrord@host:6379: too many colons in address)

**Ex

[2019-09-19 15:33] robjloranger commented on #1213
@gowdabas are you still interested in taking this?

[2019-09-19 15:39] draeron commented on #1386
i think the `ATHENS_GONOSUM_PATTERNS` use the same rule / parsing as the `GONOSUMDB`.

https://go.googlesource.com/proposal/+/master/design/25530-sumdb.md#command-client

[2019-09-19 15:41] robjloranger commented on #1136
@benjaminch were you still interested in taking this one up?

[2019-09-19 15:45] robjloranger commented on #1100
is this still relevant? it looks like the domain is with namecheap now.

[2019-09-19 15:47] robjloranger commented on #1093
@fedepaol is this one still up for grabs?

[2019-09-19 15:47] benjaminch commented on #1136
Hey @robjloranger yes indeed I am ! I missed free time for the past week so I couldn't start this one properly though ... If you want to pick it, feel free. I would be very happy to help on this one anyways (complete part of the doc, review, or add links) :)

[2019-09-19 15:49] robjloranger commented on #1136
No trouble, just looking over the issue queue. You're welcome to get to this when you have some time.

[2019-09-19 15:53] robjloranger commented on #1386
interesting, it looks like it should just support prefixes and globs. perhaps we do just need to set the `GONOSUMDB`. If anyone has some time that would be awesome to see if the solution works. If not I can try later today.

[2019-09-19 15:53] fedepaol commented on #1093
It is, sorry if I have gone missing. I really hope to get back (soon or later) but for now this is free to take

[2019-09-19 15:57] robjloranger commented on #1093
no problem, I'm only just getting back myself.

[2019-09-19 20:40] housejester commented on #1386
I'm running into the same, and came to roughly the same conclusion today (ie, update the fetcher to pass through a GONOSUMDB env) before looking for existing issues here.

It may also be worth passing through the GOPRIVATE env. The way we are using Athens is that we are cool with athens accessing our private repos, so that part is succeeding, but then it is failing to do the sum check. But even if

[2019-09-19 21:02] robjloranger commented on #1386
update: #1388 is up for review and should fix this behavior

[2019-09-19 21:07] housejester commented on #1386
Hm, I'm not sure it fixes it though. As @iwittkau said, even with a correctly matching pattern, it still attempts to do the sum check, which i believe is actually happening as part of the module fetcher (vs the sumdb proxy action)

[2019-09-19 21:09] robjloranger commented on #1386
Ah yes, sorry. Got ahead of my self. Two similar issue going on.

[2019-09-19 21:09] svillars-bl commented on #1383
I just ran into this as well, I _think_ the logic might be wrong. I have set a private repo in the environment variable and I'm getting 403's. According to the logic below, if the pattern matches then it issues a 403. Shouldn't it let it pass through if the pattern matches?

https://github.com/gomods/athens/blob/0cac0edbf1f4d59620e28268b8d242537a3e680e/cmd/proxy/actions/sumdb.go#L24-L36

[2019-09-19 21:30] svillars-bl commented on #1383
I just ran into this as well, I _think_ the logic might be wrong. I have set a private repo in the environment variable and I'm getting 403's. According to the logic below, if the pattern matches then it issues a 403. Shouldn't it let it pass through if the pattern matches?

If I don't put the repo name in `ATHENS_GONOSUM_PATTERNS` then I get 410s

https://github.com/gomods/athens/blob/0cac0edbf1f

[2019-09-19 21:51] marwan-at-work commented on #1383
Can you please create reproducible steps, if a module is in Athens storage, Athens does not consult the sum database.

[2019-09-19 21:53] marwan-at-work commented on #1383
@svillars-bl the expected behavior is 403, not to let is pass. See https://github.com/gomods/athens/blob/master/docs/content/configuration/sumdb.md for motivation

[2019-09-20 07:16] iennae opened #1389 "Is there a new docs site?"
**Describe the bug**
Going through the repository seeing links to the online docs site, I get server IP can not be found errors. It looks like the whois information was recently updated "Updated Date: 2019-09-17T21:20:29Z".

**Error Message**
ERR_NAME_NOT_RESOLVED

**To Reproduce**
Browse to website: https://docs.gomods.io/contributing/community/philosophy/

**Expected behavior**
I expect to find

[2019-09-20 08:39] iwittkau commented on #1386
I created a fork [which passes](https://github.com/iwittkau/athens/commit/339c38221ef384e61db68f1ca49f276baf727a60#diff-60cb5f85a375bf645ff29733ae285284) `ATHENS_GONOSUM_PATTERNS` in the fetcher. I'm not sure if I went a little too far with my implementation but I can submit a pull request if it's ok.

[2019-09-20 11:55] awkj commented on #1389
After I spent thirty minutes to fuck China GFW , I found that the website was hanging, very funny.

[2019-09-20 12:05] awkj commented on #1323
As far as I know, Xiaomi Company is using it .

[2019-09-20 12:40] iwittkau commented on #1389
Looks like a DNS problem?

[code]

[2019-09-20 16:17] #1386 closed

[2019-09-20 16:20] marwan-at-work commented on #1386
@housejester the GOSUM still being checked is a different issue. It's because we don't pass GOPRIVATE or GONOSUMDB to our internal `go mod download` command. I'm pushing another PR for this really soon :)

[2019-09-20 16:21] svillars-bl commented on #1383
Ah I see, so if I understand correctly, the 403 is telling the client that it didn't reach out to the sumcheck service, *not* that the whole action failed.

[2019-09-20 16:49] iennae commented on #1389
@iwittkau yeah that's where my ERR_NAME_NOT_RESOLVED comment in the error message was from :)

[2019-09-20 18:21] marwan-at-work opened #1390 "v0.6.0 and Go1.13: unable to install new private repos"
In Go1.13, `go mod download` consults the sum db which means all private modules that are not in yet storage will fail.

This means that all new modules that are private will fail in Athens v0.6.0

Related: https://github.com/gomods/athens/issues/1386
Related: https://github.com/gomods/athens/issues/1383

[2019-09-21 05:54] iennae commented on #1389
Looks like this has been fixed! Thanks.

[2019-09-21 05:54] #1389 closed

[2019-09-21 16:00] arschles commented on #1389
Sorry about this, folks. Here's what happened:

We use Netlify to host our docs site, which requires that we set nameservers to them. When namecheap took over the records, they also overrwrote the nameservers, so no more Netlify.

The fix: simply set nameservers to Netlify and wait for TTL expiry around the world.

Why I did this: I did this change so that the core maintainers can share admin righ

[2019-09-21 16:36] iennae commented on #1389
@arschles Thanks for the update!

[2019-09-23 08:42] wangkirin commented on #1376
@marwan-at-work @twexler
I have submitted a new PR to solve this problem by update the  opencensus dependency :)
Please take a look

[2019-09-23 16:47] #1390 closed

[2019-09-23 19:19] marwan-at-work commented on #1383
@LukeMauldin we released `v0.6.1` can you give it a go and see if it resolves your issue?

[2019-09-23 19:21] marwan-at-work commented on #1363
@mschneider82 this is fixed in Athens v0.6.1, feel free to give it a try. You can pass GOPRIVATE or GONOSUMDB through the new `GoBinaryEnvVars` config, or through the existing `NoSumPatterns` config.

This issue should stay open open and would be great to add documentation for people unfamiliar with the new Go 1.13 behavior

Thanks

[2019-09-23 20:22] marwan-at-work commented on #1386
v0.6.1 is now released, please feel free to try it and re-open the issue if the error persists

[2019-09-24 04:55] gowdabas commented on #1364
Hi @robjloranger I made the changes to docker-compose.yml but like I mentioned on the slack channel ran into an issue while running e2e tests. I'll create a PR for now and I can either add to it on fixing the other issue or address it separately.

[2019-09-24 05:50] gowdabas commented on #1364
@robjloranger Actually looks like the issue was with my dev setup. Cleaned up things on my system and e2e tests are running fine.

[2019-09-24 06:40] iwittkau commented on #1386
I ran tests with two of our bigger projects. Now works as expected with private repos, no sums are checked. Thanks @marwan-at-work!

[2019-09-24 13:39] marwan-at-work commented on #1376
Fixed by https://github.com/gomods/athens/pull/1392

[2019-09-24 13:39] #1376 closed

[2019-09-24 18:21] LukeMauldin commented on #1383
Yes. I tested that version and it works with both 1.12.9 and 1.13 Go clients.

[2019-09-26 04:00] gowdabas commented on #1213
@robjloranger Didn't get a chance to get on to this. Planning to work on it in the next few days. Feel free to take it in case it's holding something else back?

[2019-09-26 18:17] robjloranger commented on #1213
no, no trouble. Just checking in on old issues :smiley:

[2019-09-26 18:48] kmhagan opened #1396 "EnvList.Validate doesn't allow GODEBUG with multiple = to be set"
**Describe the bug**
Setting ATHENS_GO_BINARY_ENV_VARS=GODEBUG=netdns=cgo causes athens to throw an error.

**Error Message**
[code]

**To Reproduce**
Steps to reproduce the behavior:
Run athens with ATHENS_GO_BINARY_ENV_VARS=GODEBUG=netdns=cgo

**Expected behavior**
I expected athens to run go commands with GODEBUG=netdns=cgo

**Environment (please complete the following information):**
Running t

[2019-09-26 21:19] schafer14 commented on #1379
Is it alright if I take this issue?

[2019-09-26 21:25] tamalsaha commented on #1379
Sure! Thanks.

[2019-09-26 22:20] arschles commented on #1354
@rickb777 that's awesome! if you like, you can submit the PR and we're happy to try it out and give feedback. if not, absolutely no worries. we'll be here when you're ready

[2019-09-26 22:33] #1364 closed

[2019-09-26 22:35] arschles commented on #1100
Yup, this is now done. It also caused some [downtime](https://twitter.com/gomodsio/status/1175447104363233280) in the process, so I double checked it 😆

Closing

[2019-09-26 22:35] #1100 closed

[2019-09-26 22:37] ernado opened #1398 "Blank GIT_SSH leads to connection failure"
**Describe the bug**
Go can't download a private repo if `GIT_SSH` is set to blank value using `exec` for some arcane reason (e.g. something like `env = append(env, "GIT_SSH=")`)

**Error Message**

[code]

**To Reproduce**:
Run `go mod download` in module that depends on private module.

**Expected behavior**
Module is downloaded successfully.

**Environment (please complete the following informa

[2019-09-27 05:14] gowdabas commented on #1213
@robjloranger Cool, thanks 😄

[2019-09-27 18:28] fsouza opened #1401 "Support recursive glob patterns in download mode configuration"
When using a download mode config file, we've noticed that the glob pattern for paths doesn't support recursive globs. This ticket is a feature request for support it 😁  It's particularly useful for users of GitHub Enterprise or repositories with multiple modules (and can help ensure import paths don't leak when ``go get``ing a package inside a module). This is what the config would look like:

[c

[2019-09-27 20:48] fedepaol commented on #1359
Hey, can I take this? Can't promise any speed in delivery though

[2019-09-27 20:51] dylan-bourque commented on #1359
I haven't had any spare cycles to contribute so you're welcome to it. :)

[2019-09-27 21:02] bndw commented on #446
Would adding per-module metrics be of use to anyone else? I'd like to be able to audit which packages are regularly accessed (think a counter with a fields like name, version).

[2019-09-27 23:36] abursavich commented on #446
@bndw, I would vote against any per-module metrics because they could have unbounded cardinality, which usually isn't ideal for real-time monitoring systems and may be more suited to (offline) log aggregation.

[2019-09-28 00:59] schafer14 commented on #1338
I prettied up some of the notes Aaron had made during office hours.

[2019-09-30 08:37] hypnoglow opened #1404 "Config fields defined as slices cannot have commas in item values"
**Describe the bug**

As an example, there is `ATHENS_GO_BINARY_ENV_VARS` environment variable. When parsing, **envconfig** splits on comma. Thus, if I want to pass `GOPRIVATE=*.corp.example.com,rsc.io/private` - this won't work, because value contains comma, which basically results into two wars `GOPRIVATE=*.corp.example.com` and `rsc.io/private=`.

**Expected behavior**

I expect to be able to a

[2019-09-30 08:58] hypnoglow opened #1405 "Add possibility to provide config.toml in helm chart"
**Is your feature request related to a problem? Please describe.**

Currently there is no way to provide custom `config.toml` file to Athens when using helm chart. All configuration is done via environment variables. However, in some cases config file is preferable. And in some edge cases environment variables won't work (for example, see https://github.com/gomods/athens/issues/1404 )

**Describe

[2019-09-30 18:59] #1396 closed

[2019-09-30 20:58] bndw commented on #446
@abursavich Good point, I agree that the general _import all the modules_  use case probably makes per-module metrics a bad idea.

I was looking at this through a corp lens where there are constraints on licenses/modules, in which case I think real-time metrics (and alarms) may warrant the trade off.

[2019-09-30 23:19] bndw opened #1406 "Docs: First time setup guides/quickstart"
**Is your feature request related to a problem? Please describe.**
I experienced a bit of friction on my deployment of Athens. I think there's room for improvement in documentation around typical setups and quickstart guides.

**Describe the solution you'd like**
A quickstart guide for typical configurations. For example, configuring Athens with access to private Github repos, an S3 backend, under

[2019-10-01 13:37] volker-raschek commented on #1406
You're absolutely right, the documentary is terrible. I'm also looking in vain for information on configuring athens in a docker container via env variables.

[2019-10-01 13:46] volker-raschek opened #1407 "Missing self signed certificate"
I would like to add the companies self singed certificate over a volume mount into the container image. Otherwise, when downloading go models via the company's internal gitlab server, which is secured by a self signed ssl certificate, athens throws an ssl error and the build fails at the developers.

How can add the self signed certificate into the container image of athens to trust the https conn

[2019-10-01 22:21] jorng opened #1408 "Download directive paths do not match subpackages like GOPRIVATE"
**Describe the bug**
When using a 'Download File' to configure download modes, it is not possible to match all packages with an import path at a domain level. For example, private repos behind a firewall.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a `download.hcl` file and configure Athens to use it via `DownloadMode` config.

[code]

**Expected behavior**
All modules from _anyth

[2019-10-02 05:07] abhirockzz opened #1410 "Add storage configuration for Azure Blob Storage"
Add instructions for configuring Athens to use the Azure Blob storage provider

[2019-10-02 12:45] #1408 closed

[2019-10-02 16:48] arschles commented on #1410
Fixed by #1411, closing

[2019-10-02 16:48] #1410 closed

[2019-10-02 19:03] arschles commented on #446
@bndw @abursavich do you think that a simple counter for top-level paths is still too much cardinality?

[2019-10-03 14:03] #1401 closed

[2019-10-03 16:27] bndw commented on #446
@arschles I think _too much_ is subjective. Personally, our use-case needs metrics around package usage. Ideally Athens can provide that without us having to maintain a fork.

[2019-10-03 17:18] bndw opened #1412 "Publish commit-tagged Docker images"
It would be awesome if all commits in master had a corresponding Docker tag.

For example, I'm affected by the bugfix in https://github.com/gomods/athens/commit/ed66d85f3fa7d8cef17aad567c0c3e719e76eba1 but it appears my only option for deploying that fix is to run `gomods/athens:canary`. There is a `:latest` tag but that seems to be the latest release, instead of the tip of master.

Suggestion:
-

[2019-10-03 19:14] arschles commented on #1401
@fsouza can you remind me, did we merge a PR that fixed this?

[2019-10-03 19:17] arschles commented on #1412
@bndw I think this is a great idea!

One modification: would you be open to making the corresponding docker tag the first N (7 is a good choice IMO) characters in the git SHA?

We'd love a PR for this, if you're willing.

[2019-10-03 19:28] fsouza commented on #1401
@arschles yes, sorry I should've tagged it 🙈

It's #1409.

[2019-10-04 14:56] arschles commented on #1401
No worries - thanks for tagging it!

[2019-10-04 17:22] marwan-at-work commented on #1412
This can end up making our docker hub page look real gigantic in a year or so.

If we actually do release once a month, then the current "canary" version and the latest stable release won't be too far off.

However, if we want to do commit shas, then we should at least have a strategy of cleaning them up and warning the user about commit shas being eventually removed.

[2019-10-04 17:37] bndw commented on #1412
That's a good point, it will inflate Dockerhub and unfortunately they still don't have any filtering, search, etc.

I just looked at Envoy again and it looks like they've recently split this into two Dockerhub repos, one for [releases](https://hub.docker.com/r/envoyproxy/envoy/tags) and one for [commits on master](https://hub.docker.com/r/envoyproxy/envoy-dev/tags).

[2019-10-04 19:39] marwan-at-work commented on #1412
@bndw that might be a really good idea. If other maintainers are cool with it, then we can make a `gomods/athens-dev`

[2019-10-08 16:36] robjloranger commented on #1412
`gomods/athens-dev` has been created

[2019-10-08 18:06] marwan-at-work commented on #1412
@robjloranger thank you thank you thank you

[2019-10-08 22:15] arschles commented on #1412
late to the game, but 👍 to `gomods/athens-dev` from me too 😆

[2019-10-09 16:52] arschles commented on #1383
@LukeMauldin it seems like `v0.6.1` solved the problem. I'm going to close this, but if I got it wrong, please comment here and we can open it back up 😁

[2019-10-09 16:52] #1383 closed

[2019-10-09 18:36] brian73286 opened #1416 "404 from @latest and @v/list when pre-filling the disk cache"
**Describe the bug**
I get 404 from @v/list and @latest endpoints for modules when using athens on a computer that has never cached internet resources, after following instructions for pre-filling the disk cache.

**Error Message**
When I GET $HOST:$PORT/github.com/julienschmidt/httprouter/@v/list my client receives 404 and kubectl logs <POD_NAME> shows:
<pre>
[code]
</pre>
When I GET $HOST:$PORT/

[2019-10-09 18:53] brian73286 commented on #1416
I'm guessing either athens is failing to do some sort of logic or I need my `config.toml` to specify `GOPRIVATE`, `GOPROXY`, and/or `GONOPROXY` in athen's `GoBinaryEnvVars` property. If it is the latter then that should also be documented.

[2019-10-09 19:01] jpreese commented on #1416
I've made a couple comments on PR #1414 relating to the guide, and my gut says it's because of the step that has you renaming from `v1.3.0` to `source`.

When you run `go mod download`, it returns a .zip that is named the same as the version.

[2019-10-09 19:59] brian73286 commented on #1416
I just tried renaming `/opt/athens/storage/github.com/julienschmidt/httprouter/v1.3.0/source.zip` to `/opt/athens/storage/github.com/julienschmidt/httprouter/v1.3.0/v1.3.0.zip`. The @v/list and @latest endpoints continue to return 404 and now `GET $HOST:$PORT/github.com/julienschmidt/httprouter/@v/v1.3.0.zip` also returns 404 instead of offering a file for download. I've reverted this rename.

[2019-10-09 20:09] jpreese commented on #1416
Interesting. I'll keep an eye on this thread, because if its supposed to be `source`, then I'd rather pacmod generate a file called source.zip so users aren't stuck renaming it.

I was just going off of the fact that when you use the Go toolchain, it tosses a v1.3.0.zip file in your mod cache.

[2019-10-09 23:36] nmiyake opened #1417 "Cannot fetch modules from sources like "rsc.io" or "go.etcd.io" when using network that performs TLS MiTM"
**Describe the bug**
Running commands like `go get rsc.io/sampler@v1.3.1` and `go get go.etcd.io/etcd@v3.4.1` using Athens as the module server fails.

**Error Message**
In the console:

[code]

Logs:

[code]

**To Reproduce**
[code]

Then:

[code]

**Expected behavior**
Operation should succeed, as running the operation without the proxy does succeed.

**Environment (please complete the following

[2019-10-10 21:51] schafer14 commented on #1406
@bndw Excellent point, I think there is definitely an opportunity for improvement in the documentation around using private repositories. It is a little bit tricky because you have so many configuration combinations with the storage backends and the deployment type. It's like a choose your own adventure book. If you want to contribute to the docs that would be awesome! Sing out if you need any hel

[2019-10-11 17:11] bndw commented on #1406
Documentation can always be improved and IMHO this project is documented quite well. I think we're really just missing a higher-level doc to tie it all together for folks that are unfamiliar with the code base (once you get into the code, configs, etc, the details are available).

I'll work on a brief "quickstart" for the Docker, S3, Github setup that I'm running. I'm not sure where that should li

[2019-10-13 22:33] schafer14 commented on #1406
@bndw Just wanted to make sure you know about these docs on writing docs https://docs.gomods.io/contributing/new/docs/. If you add your page underneath the introduction section that might be a good place to start and it can always be moved around later.

[2019-10-14 03:41] Haiyung opened #1418 "Why athens doesn't cache packages when using GlobalEndpoint and FilterFile?"
Hi,

I am trying to use athens to cache public packages in my local server.

Now, I set GlobalEndpoint,FilterFile and Storage.Disk in athens.toml and then execute go mod tidy. Those packages were downloaded, but not stored in RootPath which I set.

I have to download again and again. In other words, athens' cache does not work.

How should I do?

Thanks.

[2019-10-14 07:58] MkAnHui commented on #1418
+1

[2019-10-15 22:30] #1412 closed

[2019-10-16 20:13] #1398 closed

[2019-10-16 20:18] arschles commented on #1406
Sorry for the delay on response @bndw, @schafer14 and @volker-raschek! I was busy in Kubernetes land.

It sounds like there are two documents being discussed in this thread that would be helpful:

1. A quickstart for running in docker
1. More complete documentation for setting up storage, regardless of the target deployment platform

What do you all think? Also, for (2) above, could we make the [s

[2019-10-16 20:19] arschles commented on #1406
Also @bndw

Let me know if/when you have something up in a PR (I couldn't find anything right now) and I'll help you find a good place for it 😄

[2019-10-16 20:24] arschles commented on #1406
@volker-raschek I apologize that there are gaps in the documentation and that it makes you feel like the documentation is terrible. But, in the future can you also tell us some ideas for solving that problem?

For example, I think we would all benefit from hearing what specific environment variables and/or functionality is not documented? If there is some configuration that Athens is just missing,

[2019-10-16 20:35] arschles commented on #1418
Hey @Haiyung and @MkAnHui - we don't have functionality in Athens yet to fill up Athens storage from upstream sources besides version control systems, because there hasn't been a use case for it.

Right now, if you set `GlobalEndpoint`, Athens will return a redirect and tell the Go tool to go and fetch code from the proxy. Do either of you have a use case for making it store the code?

[2019-10-16 20:48] arschles commented on #1385
@ZHRen is Athens trying to fetch a module from a private github repository? If so, is it [configured to authenticate to a private github repository](https://docs.gomods.io/configuration/authentication/)?

[2019-10-16 20:49] arschles commented on #1339
@kevin-cantwell I am going to close this issue. If you get a chance to check out the comments from me, @leucos and @robjloranger can you let us know either in here or a new issue?

Thanks!

[2019-10-16 20:49] #1339 closed

[2019-10-16 20:49] #1338 closed

[2019-10-16 20:55] arschles commented on #1416
@jpreese iirc naming it `source.zip` was an arbitrary decision. We can of course rename it, but we'll need to retain backward compatibility in Athens. Instead of changing `pacmod` completely, what do you think about adding a new command called `pacmod import-athens` or something like that? It could do the same thing as `packmod pack` and then rename & move the files into the disk storage root?

[2019-10-16 21:02] arschles commented on #1407
@volker-raschek forgive my ignorance because I've never done this in Athens, but is it possible to specify an `insteadOf` rule to use SSH instead of the https URL using a `.gitconfig` like [this](https://docs.gomods.io/configuration/authentication/#altassian-bitbucket-and-ssh-secured-git-vcs-s).

If I'm way off here, let's look into how to add self-signed certs.

[2019-10-16 21:06] arschles commented on #1404
@hypnoglow sorry for the delay. I like what you did in #1405, but I think we should support both. Instead of using `;` as the separator, what do you think of specifying multiple values as a list like. below, and then having Athens decode the list into multiple values?

[code]

[2019-10-16 21:22] jpreese commented on #1416
I'm not opposed to that. I just wanted to make sure we weren't missing anything with the naming of `source.zip`.

Because the `go mod` toolchain uses `$VERSION.zip`, I think it would be worthwhile for Athens to do the same, if even at a major version bump.

[2019-10-16 22:04] arschles commented on #1378
Sorry for the delay @LukeMauldin. In your use-case, when you do the `go get -u github.com/foo/bar`, are you looking to prevent Athens from lookup upstream, even if it can access the public internet?

That said, I'm ok with adding an "airgapped" configuration. It would be fairly easy to prevent Athens from looking upstream on the `/@v/list` codepath -- we could prevent it from launching the "check

[2019-10-16 22:10] arschles commented on #1387
@ZHRen thanks for this catch! I think the best fix for doing this is adding a `[SingleFlight.Redis.Password]` field to the `config.toml` file and a corresponding `ATHENS_REDIS_PASSWORD` environment variable override, and then using that variable in https://github.com/gomods/athens/blob/master/pkg/stash/with_redis.go#L17.

Would you be up for submitting a PR for that? No pressure at all to do so -

[2019-10-16 22:12] arschles commented on #1416
We haven't done one of these. We haven't made the plunge to a `v1.0.0` yet either 😉

That said, would you be up for submitting a PR that does the backward compatible `$VERSION.zip` support in the disk driver? No pressure if not - I'll pick it up.

Also, if you're open to it, I'm totally open to adding a `pacmod import-athens` command. Let me know.

[2019-10-16 22:29] arschles commented on #1318
Sorry for the long delay @xytan123! I'm catching up on this issue, so I apologize for repeating what we already. said above.

So you are saying that Athens should return 200 and valid JSON on the `.info` endpoint, but 410 for `.mod` and `.zip`, correct? Is that to make sure Athens is in line with what proxy.golang.org, or do you have more reasons?

[2019-10-16 22:35] arschles commented on #1354
Hey @rickb777 are you still interested in doing this? You had mentioned you have something but it's incomplete. I'd love to check it out if you're ok with PR-ing it. If not, absolutely no worrries and no pressure!

[2019-10-16 22:40] marwan-at-work commented on #1378
It should be as simple as just avoiding the UpstreamLister and keep whatever in storage. We can do it in two ways:

1. Yet another config. Something like "Offline=true"
2. Pass the DownloadFile to the Lister and if the DownloadMode == None, then don't use UpstreamLister.

I prefer 2 for now since we already have a pretty big config file

[2019-10-16 22:42] arschles commented on #1227
@atomi @marpio @Kunde21 since we closed #1155 and we stick with running Athens under tini in our images, do you think we can close this?

[2019-10-16 22:45] arschles commented on #602
@timraymond I was just going through issues and saw how long I let this issue sit (octobox.io FTW) - sorry for that!

I definitely think that https://docs.gomods.io/contributing/community/participating/  resolves this (http://docs.gomods.io/intro/community-roles/ is gone anyway), so I'm going to close.

@robjloranger I'm going to close this, but if you still have ideas on splitting parts/all of th

[2019-10-16 22:45] #602 closed

[2019-10-16 22:54] atomi commented on #1227
Apologies. Yes!

[2019-10-16 22:54] #1227 closed

[2019-10-16 23:27] xytan123 commented on #1318
@arschles  yep. To make it as close to google's proxy as possible

[2019-10-17 00:23] LukeMauldin commented on #1378
Using the new config options in Athens, I was able to set the GoProxy and GoPrivate variables to get the behavior that I needed. I was able to get it to work for both Go 1.12 and Go 1.13 clients.

[2019-10-17 00:23] #1378 closed

[2019-10-17 01:24] marwan-at-work commented on #1418
The GlobalEndpoint (bad name for legacy reasons) and the FilterFile are top level that are explicitly for not reaching our storage in any way.

If you'd like to point Athens to another Public Proxy while still caching the modules, use the DownloadFile documented here: https://docs.gomods.io/configuration/download/

Please feel free to re-open this issue if I misunderstood :)

[2019-10-17 01:24] #1418 closed

[2019-10-17 01:31] marwan-at-work commented on #1417
@nmiyake I'm unable to reproduce your bug.

On the client side, here's the command I ran:

[code]

On the Athens side, here are my logs:

[code]

[2019-10-17 01:32] marwan-at-work commented on #1275
Can people here struggling with this try it with the latest Athens version? `v0.6.1`

Thanks

[2019-10-17 01:33] marwan-at-work commented on #1275
Closing ,since it seems like a duplicate of 1372 but pls feel free to re-open

[2019-10-17 01:33] #1275 closed

[2019-10-17 03:49] jpreese commented on #1416
I can tackle that @arschles.

For pacmod, my gut would be to add an `output` / `name` sort of parameter that would allow the user to name their artifacts. I think that gives us what we need without needing to create a special purpose command for Athens.

Though, if we update Athens to support both $VERSION and source (for backwards shenanigans), I don't think we'd need it, right? We'd just let pac

[2019-10-17 08:21] awkj opened #1421 "how use ATHENS_GO_BINARY_ENV_VARS or config.dev.toml in docker"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

how use config in docker?
how use ATHENS_GO_BINARY_ENV_VARS in docker, I don't know how to write it in yaml

**Describe the solution you'd like**

A clear and concise description of what you want to happen.
should have a varibale to specif

[2019-10-17 10:18] hypnoglow commented on #1404
If I understood you correctly, you want to provide non-compatible format for standard envs like `GOPRIVATE`? I neither do think it is a good idea nor see how it solves the problem. `ATHENS_GO_BINARY_ENV_VARS=GOPRIVATE=[*.corp.example.com,rsc.io/private];GOPROXY=direct` still splits by comma, producing incorrect values.

[2019-10-17 15:06] bndw commented on #1406
@arschles Planning to get something together in the coming days (also been lost in Kubernetes land 😅)

[2019-10-17 16:11] nmiyake commented on #1417
@marwan-at-work thanks for looking into this -- after doing some more debugging, I believe there's an environmental factor at work here.

I sometimes make network connections in an environment that uses a TLS MiTM proxy for all connections (it replaces the TLS cert provided by the server with one that uses an internal root CA). It appears that this issue only manifests when I use that connection.

[2019-10-17 16:54] arschles commented on #1323
@srimaln91 can you let us know who "We" is 😁 ?

[2019-10-17 16:55] arschles commented on #1323
@leitzler can you let us know where "Work" is 😁 ?

[2019-10-17 16:59] johnjelinek commented on #1323
@arschles: maybe it's WeWork?

[2019-10-17 17:05] nmiyake commented on #1417
Further verified that the root cause seems to be the CA by adding the MiTM root CA to the Docker image and confirming that this workflow works, even in the MiTM environment.

Given this, I believe the issue here is that Athens is not properly reporting that it attempted to make a connection but that it failed due to receiving a certificate that couldn't be verified. I think this would be helpful i

[2019-10-17 17:42] marwan-at-work commented on #1417
@nmiyake if the storage is empty, then Athens shells out to `go mod download` and `go list -m` to download/list modules and persist them to storage. And given the log you have originally pasted, it seems the error is in fact coming from this function: https://github.com/gomods/athens/blob/master/pkg/module/go_get_fetcher.go#L104

So this is likely a Go command issue :)

[2019-10-17 17:43] marwan-at-work commented on #1417
Please feel free to run athens locally to reproduce the issue and see if there's a slight chance of Athens swallowing the error, and if not def feel free to report it to upstream

[2019-10-17 21:08] volker-raschek opened #1424 "Push source code into version controll system"
Hello, I am instructed to keep all libraries that are imported into every golang project of my company in order to be able to create definitively reproducible software. Otherwise there is a danger that libraries on the internet will be deleted or moved and older versions can no longer be built.

Athens cached the libraries, but it would be nicer if Athens uploaded the libraries to a version contro

[2019-10-17 21:08] volker-raschek commented on #1406
Hello @arschles ,
first, I have looked for a feature to import self signed certificates. But I don't find a documented environment variable where I can store my self signed certificate neither a path inside the container image to store multiple self singed certificates over a volume which will be imported automatically at startup #1407. Currently I added the certificate over a new container image

[2019-10-17 22:57] ferryvg commented on #1315
Yep, it's needed! Dep is support it by `name` option in `constraint`

[2019-10-18 02:57] arschles commented on #1227
No apologies necessary @atomi. Thanks for responding 😁

[2019-10-18 03:04] arschles commented on #1275
#1372 to get the link into that issue

[2019-10-18 03:05] arschles commented on #1378
@LukeMauldin that's awesome. Can you share that part of your config? We can add that to the docs

[2019-10-18 13:23] brian73286 commented on #1421
`docker history --no-trunc gomods/athens:v0.7.0` shows the Dockerfile commands used to build the athens image. Athens also publishes their Dockerfile in git which you'll probably find to be more readable https://github.com/gomods/athens/blob/release-v0.7.0/config.dev.toml

You'll notice the command `CMD ["athens-proxy" "-config_file=/config/config.toml"]` specified the athens config file as a para

[2019-10-18 14:20] brian73286 commented on #1416
I just verified this issue also affects the new v0.7.0 release in the same ways.

I tried copying `source.zip` to `v1.3.0.zip`, then restarting the container so it is running with four files under `/opt/athens/storage/github.com/julienschmidt/httprouter/v1.3.0/`
 * `go.mod`
 * `v1.3.0.info`
 * `v1.3.0.zip`
 * `source.zip`.

Where the last two are copies of each other. The hope was that instead of

[2019-10-18 14:36] brian73286 commented on #1407
While the [athens config file](https://github.com/gomods/athens/blob/release-v0.7.0/config.dev.toml) allows configuring a TLS key and certificate it does not allow users to add or set certificate authority certificates (self-signed certificates). Therefore you'll be left with whatever CA cert stuff Go does which on Linux is defined in https://github.com/golang/go/blob/release-branch.go1.13/src/cry

[2019-10-19 00:13] nmiyake commented on #1417
Thanks for the pointer! Adding some debugging logic allowed me to run the command with the same environment that Athens did, and that helped to uncover the bug.

Your assessment was correct -- this issue is wholly contained in the `go mod download` call. Filed https://github.com/golang/go/issues/34998 to track the underlying issue. This may end up relating to https://github.com/golang/go/issues/30

[2019-10-19 00:13] #1417 closed

[2019-10-22 07:35] matejvelikonja opened #1432 "Invalid multipart request with 0 with GCP storage"
**Describe the bug**
When Athens is cloning some repos, it fails sometimes with bottom error.

**Error Message**

[code]

Could be related to https://github.com/googleapis/google-cloud-go/issues/1350, so basically only package update would be needed.

[2019-10-22 10:24] srimaln91 commented on #1323
@arschles `PickMe`. A taxi-hailing company operating in Sri Lanka

[2019-10-22 16:56] arschles opened #1433 "Athens should warn or fail if private VCS credentials are given, but no GONOSUMDB paths are given"
**Is your feature request related to a problem? Please describe.**

TBD

**Describe the solution you'd like**

TBD

**Describe alternatives you've considered**

TBD

**Additional context**
We talked about this in the October 22 office hours

[2019-10-22 17:31] awkj opened #1434 "in go.1.13 how config private package"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

in go 1.13, I can config GoBinaryEnvVars ='[xxxx,direct]', but if I wish config it to use CDN, and private use local ssh to get, I try to config Nosum, but no effect, if I config in local enviriment GOPRIVATE variable it's ok.

example my

[2019-10-22 18:09] ferryvg commented on #1434
I configure it with go env:
[code]
and `NoSumPatterns` is `git.example.com/*`

[2019-10-22 20:21] davidpfarrell opened #1435 "Consider removing 'GO_ENV=production' from proxy Dockerfile"
**Is your feature request related to a problem? Please describe.**

Because the proxy Dockerfile adds `GO_ENV=production`, there is no way to override the setting via the config.

This prevents the user from being able to use the config to fully manage their installation.

**Describe the solution you'd like**

Since a permanent environment override (i.e baked into the Dockerfile) makes the related

[2019-10-22 20:33] ferryvg commented on #1435
You can override `GO_ENV` on `docker run` or in `docker-composer.yml`

[2019-10-23 06:15] damoon opened #1437 "While releasing a new tag / container image also release the updated helm chart."
**Is your feature request related to a problem? Please describe.**
Currently the helm chart uses a old version.

**Describe the solution you'd like**
Update the helm chart during the release process.

**Describe alternatives you've considered**
Selecting a different image tag for the chart kind of works, but (maybe silently) fail if new or changed configurations are needed.

**Additional context**

[2019-10-23 13:53] arschles commented on #1424
Hi @volker-raschek - the major purpose of Athens is to download module code _from_ version control systems and cache them in its own storage, so I have a few questions that maybe you can answer to help me understand your use case:

- Are you looking to have these dependencies in your own version control system so that you can maintain them yourself?
- Would manually forking these dependencies be a

[2019-10-23 13:56] arschles commented on #1435
@davidpfarrell it's tough to tell I'm not 100% sure about your use case, but would setting `GO_ENV` to `production` in our semver-tagged images be enough?

It's hard to definitively say what are the best default values to put in the `config.dev.toml` file, and the same goes for the Kubernetes chart, and so on.

[2019-10-23 13:58] arschles commented on #1437
@damoon awesome idea! we nearly always forget to update the version when we release. Would you be up for submitting a pull request to add this feature? Not a worry in the world if not, just let us know 😄

[2019-10-23 14:18] volker-raschek commented on #1424
Yes, but without maintaining. I must only provide third party libraries in our own version control system, because if the library is deleted, developers can't look into the source code they once used for problems.

The following example should explain the workflow for the ssh package, if it's needed as third party lib for a golang project.

![Diagramm1](https://user-images.githubusercontent.com/18

[2019-10-23 14:53] awkj commented on #1434
Yes, I try your advice, and can use the config in local, but want to know how to setting in athens

[2019-10-23 15:00] arschles commented on #1424
@volker-raschek thanks for the added details. Athens isn't designed to fork code from one repository to another, unfortunately. Instead, it's designed to store code as a downloadable asset, stored in a database, and serve it to the Go CLI tool.

There's no great solution in Athens for what you want to do, but you can get something working by manually downloading all of the module zip files that At

[2019-10-23 16:49] davidpfarrell commented on #1435
My feeling is that we shouldn't put any environment variables into the user-facing Dockerfiles and instead bake any image-specific configurations into the injected config file.

My initial thought (and the related PR) was that a separate config could be useful for the proxy docker use case.

Your comment helps me realize that each of the many docker use cases within the project could possibly bene

[2019-10-23 17:20] davidpfarrell opened #1438 "FilePermissions not checked when config=dev + env=prod"
**Describe the bug**
re: `pkg/config/config.go:ParseConfigFile()` :

The "production+filePermissions" check happens before the environment overrides are applied.
This can lead to the case where the proxy is running in production mode but that file permissions on `configFile`  and  `config.FilterFile` are out of compliance.

NOTE: This is in-fact the current case for the proxy docker image which se

[2019-10-23 20:21] damoon commented on #1437
I was thinking about adding a automatic git commit to persist the updated Chart.yaml.
What do you think?

[2019-10-23 20:26] damoon commented on #1437
also i am not perfectly sure how to test it...

[2019-10-24 21:25] davidpfarrell commented on #1435
I just submitted PR # 1440 with a `sed`-based solution for review.

[2019-10-24 22:06] davidpfarrell commented on #1438
In the event that moving `checkFilePerms` to happen after `envOverride` is deemed a useful fix, I have prepared PR #1441 for review.

[2019-10-24 22:39] davidpfarrell opened #1442 "Add Go Version Override Support to Proxy Dockerfile"
**Is your feature request related to a problem? Please describe.**
I want to be able to utilize the existing makefile functionality for setting the golang version when building the proxy via `make docker`  and `make run`.

**Describe the solution you'd like**
Pass the existing `GOLANG_VERSION` variable into the docker build args for building the proxy docker image via `make docker` and `make run`.

[2019-10-24 23:17] davidpfarrell commented on #1435
I have submitted PR #1443 which simply removes the `GO_ENV=production` statement.

[2019-10-25 08:25] rickb777 commented on #1354
Hi, I'm trying to get a PR together shortly.

[2019-10-29 03:13] jpreese commented on #1416
I don't seem to be having the same issues that you're running into, @brian73286. There's definitely some disconnect between the module API assuming `$VERSION.ZIP` and Athens checking against `source.zip`, but I was able to get the `list` command working fine as that just looks at the folders. The name of the artifacts shouldn't matter.

It only was an issue for me running `module/@v/$VERSION.zip`

[2019-10-29 04:00] jpreese commented on #1416
@arschles I took some time today to look into some of the internals of how Athens handles different filesystems, and I don't necessarily see a problem with how Athens is storing the modules.

I think it's a little confusing that it doesn't mimic the same file structure as the Go tooling, but from an API point of view, the file structure shouldnt/doesn't matter. I was able to spin up a local Athens

[2019-10-29 20:12] rickb777 commented on #1354
Sorry it took so long.

I have the outlines of SysV service management too, but Ubuntu has moved away from this some time ago. Is it worth doing?

[2019-10-30 11:42] seeruk commented on #1323
Icelolly.com are using it in production.

The main barrier we've hit is the old versions of the Helm Charts being deleted - we have some automation set up for installing things in our K8s clusters, and we've had to mirror the chart so we don't have to keep upgrading it all of the time. It'd be nice to be able to rely on older versions of the Chart existing in the official repo.

[2019-11-04 13:23] bahlo opened #1448 "Git Large File Storage (LFS) support"
**Is your feature request related to a problem? Please describe.**
Yes, Athens generates an invalid checksum for go packages that have files stored in [git-lfs](https://git-lfs.github.com) (as it's not downloading them and instead hashing the text file).

**Describe the solution you'd like**
Would be great if we could install `git-lfs` in the docker container.

**Describe alternatives you've consi

[2019-11-05 06:12] davidpfarrell commented on #1435
Greetings ! Just checking in to see if there's anything I can do help this along?

I know I have 3 PRs open for this (one for each potential fix idea), but I think #1443 has the most traction.

Please don't hesitate to let me know if you have any questions or suggestions.  Thanks!

[2019-11-06 05:19] #1373 closed

[2019-11-06 08:06] mrgleeco opened #1450 "proxy private ssh-only repo"
I understand the hack of switching to ssh from https via the .gitconfig `insteadOf` syntax.
However, in some cases, only SSH access is available to the repo.  Is it possible to proxy a local private repo that does not have ANY http/s?  It seems the request for the package `<meta name="go-import"...` is always necessary, as per golang module spec.

[2019-11-06 16:33] jesusvazquez commented on #1404
Hi

We're having the same issue. Our scenario is that our company has private repositories in many different places, as an example imagine the following list:
- bitbucket.org/company
- gitlab.com/company
- github.com/company
- selfhostedgitsolution.company.com

Now Imagine that we want to set up athens proxy in front of all those repositories, we'd have to define something like:
[code]

Unfortunat

[2019-11-06 19:30] arschles commented on #1323
@seeruk The old versions of the Helm Charts being deleted is a bug! Would you mind filing an issue for that? We have a script that uploads charts every time a release is cut, and it must be overwriting old stuff instead of just adding new stuff

[2019-11-06 19:33] #1442 closed

[2019-11-07 00:38] #1435 closed

[2019-11-07 10:59] seeruk commented on #1323
@arschles I've submitted a PR fixing the cause of the issue here: https://github.com/gomods/drone-helm/pull/1/files

[2019-11-07 17:43] arschles commented on #1323
@seeruk thanks! I just merged it 😄

[2019-11-07 19:18] arschles commented on #1354
@rickb777 if you think it would still be helpful to folks (even though ubuntu has moved away from this), then I think it's worth doing 😄. Up to you!

[2019-11-07 19:20] arschles commented on #1448
@bahlo if git-lfs is not installed in the container, does `go mod download` (and I assume, the underlying `git clone`) just ignore the files?

[2019-11-07 19:27] #1438 closed

[2019-11-07 19:46] bahlo commented on #1448
@arschles no, it‘s using the [git-lfs pointers](https://github.com/git-lfs/git-lfs/blob/master/docs/spec.md).

[2019-11-08 02:51] aqelali opened #1452 "Support for KIAM and kube2iam for S3 storage"
**Is your feature request related to a problem? Please describe.**
In our Kubernetes environment, we don't put our AWS creds on our pods, but rather, we use KIAM and proxy all our AWS requests through it where it then attaches the correct creds based on the IAM role we annotate the pods with. I would think a good feature would be to specify an environment variable (something like `USE_KUBE_IAM_ROL

[2019-11-08 13:08] jabbrwcky opened #1453 "Catalog request fails for minio client with Dell EMC ECS S3 as storage"
**Describe the bug**
We are currently deploying athens with a Dell ECS system as S3 storage using the minio client.

Catalog requests fail with an array index out of bounds exception because ECS returns the key as URL-Encoded value:

[code]

A test with mino shows that the key is returned decoded already here:

[code]

**Error Message**

[code]

**To Reproduce**
Run athens (tested 0.6.1/0.70) with

[2019-11-08 20:15] arschles commented on #1448
@bahlo got it! Would you be up for submitting a PR that adds `git-lfs` in the Dockerfile? That way, when the PR is merged, there will be a new image published to https://hub.docker.com/r/gomods/athens-dev immediately, and it will be published to the next tagged version of [`gomods/athens`](https://hub.docker.com/r/gomods/athens)

[2019-11-08 20:16] arschles commented on #1448
Oh, and it'll be published to the `canary` tag in `gomods/athens`

[2019-11-08 20:45] arschles commented on #1350
@manugupt1 would you be up for adding these docs?

[2019-11-08 21:19] arschles commented on #1437
@damoon thanks so much for saying that 💚

What do you think about commiting to a branch and opening a pull request for this?

Neither am I. Maybe if you write this as a script, we could try simulating it without actually making a new release.

[2019-11-09 15:42] bahlo commented on #1448
Happy to, PR is up 👍

[2019-11-11 10:13] jabbrwcky commented on #1453
Did some further digging.

It is possible to use the AWS client with ECS but this requires some changes to aws configuration (Configuring endpoint, static credentials and enforce s3 path style).

I also fuound out the hard way that athens uses different incompatible keys the minio client and AWS:

* minio: github.com/minio/hdfs/v3/v3.0.0/v3.0.0.info
* AWS: github.com/minio/hdfs/@v/v3.0.0.info

Swi

[2019-11-11 10:15] jabbrwcky commented on #1453
So to resolve this I either see to add `PathDecoding` the key that is returned with the minio client or switch to AWS client with the extended configuration options including wiping the bucket because of differing key formats.

[2019-11-11 20:17] arschles commented on #1093
@fedepaol @robjloranger I know that we have a bit of filtering docs now. Do you think it's enough?

Let me know if either of you are still up for taking this on. No pressure to do so as always, just looking to see if someone else wants to do it 😄

Chill OSS projects FTW ✌️

[2019-11-11 20:31] arschles commented on #1165
@marwan-at-work I totally dropped this one, but I'm running through all the issues now and saw this. I think that generally, a bot would be a really good idea.

CircleCI has a feature like this that requires maintainers to manually sign off before PR tests run (if you turn it on). It comes with a problem, though, that it requires a maintainer to approve every single PR's tests. So, for example, if

[2019-11-11 20:34] marwan-at-work commented on #1165
@arschles that sounds good. We can start as a super simple bot to just trigger a build as long as it's run by one of the maintainers. As long as DroneCI has an API to say "trigger this build"

[2019-11-11 20:37] arschles commented on #1105
@marpio do you think you still want to do this one? No pressure as always, just let me know what you're thinking ✌️ 😄

If you are thinking about doing it still, I've heard a few requests to have Athens serve sum DB entries. I think a bulk download could help here. If it did, then one open question would be - how do we allow an operator to keep the local DB up to date?

[2019-11-11 21:05] #1379 closed

[2019-11-11 21:08] arschles commented on #1452
@aqelali this sounds like a great addition, and I'm excited to see your PR if you decide to send it! Let us know if you would like some help figuring out the GitHub creds locally, we'll be here 😄

[2019-11-11 21:17] arschles commented on #1368
@yolocs yes, I think this is exactly the same. #1449 should fix both of these issues

[2019-11-11 21:17] #1448 closed

[2019-11-11 21:20] aaqel-s commented on #1452
I ended up creating another account, so you'll see the PR shortly.

[2019-11-11 21:22] arschles commented on #1315
@blueworrybear not that I know of. if you have ideas, feel free to write them in here!

@ferryvg @daqingshu behind the scenes, Athens does a `go mod download` when it is asked for a module that it doesn't currently have in storage. If Athens is configured with `"google.golang.org/appengine => github.com/golang/appengine"`, for example, I have two questions:

- Would it need to do a `go mod downloa

[2019-11-11 21:23] FiloSottile commented on #1105
If you are doing a full mirror, you should poll `/latest` and fetch new tiles and records as they show up.

[2019-11-11 21:23] arschles commented on #1406
@bndw no problem, just let us know when you're ready. We'll be here!

[2019-11-11 21:26] arschles commented on #1406
@volker-raschek thanks for laying out the specific things that you'd like improved. That was also really helpful for me to see your use case. I am going to comment separately in #1407 and #1424 right now, so that we can talk separately about each of those features and their documentation

[2019-11-11 21:28] robjloranger commented on #1093
I will do it, i need to get my toes wet again

[2019-11-11 21:30] arschles commented on #1424
@volker-raschek I thought of another option that you might be able to take advantage of without modifying Athens. We have a [webhook](https://github.com/gomods/athens/blob/5870aeee8de4cc9922c9592db3934846c91be369/pkg/middleware/validation.go#L16) (which is poorly documented at the moment, that's a work in progress 😄) that we initially called a "validation webhook".

The use case we originally inte

[2019-11-11 21:36] arschles commented on #1407
Thanks @brian73286. I think I see what you and @volker-raschek are saying much more clearly now.

Is this a matter of setting environment variables (`SSL_CERT_FILE` and `SSL_CERT_DIR`) that Athens will set when it invokes the `go` binary? If so, we do have an environment variable called [`ATHENS_GO_BINARY_ENV_VARS`](https://github.com/gomods/athens/blob/81102aa38d8999d370157e82f1260907b6d6d9e2/con

[2019-11-11 21:49] arschles commented on #1448
Thanks @bahlo, this is all merged 👍

[2019-11-12 12:59] raulk opened #1459 "pkg/mod storage backend"
I'd like to start Athens and link its storage backend with an existing `$GOPATH/pkg/mod` repository on the host. That way it would be able to reuse any modules that have been downloaded on the machine.

One scenario where this is useful is to speed up Golang Docker builds by starting up a proxy on the host to share modules downloaded there with the build container.

[2019-11-12 17:51] #1367 closed

[2019-11-12 18:25] arschles commented on #1453
@jabbrwcky I think #1457 would be a better solution for this, just because it has fewer code changes. Are you ok with us merging just that one, and closing out #1456?

[2019-11-12 18:41] jabbrwcky commented on #1453
I'm fine with improving the minio client in #1457. I had some issues with minio complainig about continuation keys - it would not accept unescaped paths nor escaped ones as continuation token.

If you don't mind I would also extract the key extraction code to avoid having to update in two places (cataloger/lister)

[2019-11-12 18:45] arschles commented on #1336
@twexler Do you think we can close this issue, and you can open 3 new ones, one for each of the items in your description above? I think it will be easier to work on each in parallel that way. I will pick up some of them.

Also, I saw that #1365 fixes some of the problems above, but only for a single config value.

[2019-11-12 18:48] arschles commented on #892
@paivagustavo sorry for the really, really late response. I think that those logs look much, much better than we have now, so if you're still willing and up for it, we would love a PR that implements them! If not, absolutely no worries and no pressure. ✌️ 😄

[2019-11-13 22:36] arschles commented on #808
This repository now has actions enabled. I'm going to open a new issue to add some actions alongside our drone / appveyor setup and see how it goes

[2019-11-13 22:39] arschles opened #1460 "Add some GitHub Actions"
**Is your feature request related to a problem? Please describe.**

Not related to a problem

**Describe the solution you'd like**

We opened #808 to discuss how we might use GitHub actions. At the time, this repo didn't have actions enabled. Now that it does, we should try them out for some of the things in that thread.

**Describe alternatives you've considered**

We could do nothing!

**Additio

[2019-11-14 09:35] mschneider82 commented on #1363
hi @marwan-at-work
I tried it, but same nearly the same problem:

my athens config:

[code]

Athens log:
[code]

developer client pc:

[code]

[code]

[2019-11-14 19:20] arschles commented on #1166
I've added the `on hold` label to this issue because we need to decide what we want to do in the interim for authenticating from the toolchain to Athens.

[2019-11-15 14:19] utrack commented on #1323
OZON.ru - russian e-commerce :)

[2019-11-15 14:25] utrack opened #1464 "[0.7,minio] panic when retrieving certain packages"
**Describe the bug**
An out-of-range panic that kills the proxy (v0.7) when go-getting `github.com/mailru/easyjson` via Athens using minio storage.

**Error Message**

stacktrace:
<pre>
2019-11-15 13:50:45.722658 I | Starting application at port :3000
panic: runtime error: index out of range [-1]

goroutine 1059 [running]:
github.com/gomods/athens/pkg/storage/minio.(*storageImpl).List(0xc00000c4a0

[2019-11-15 16:16] twexler commented on #1336
@arschles I've sort of lost context on this, I believe you're talking about the 3 items in @bluekeyes' description though?

[2019-11-18 03:14] daqingshu commented on #1315
@arschles in my opinion, Athens is a transparent proxy,  wont change 'go mod download' s result, user can get same result as no proxy.

[2019-11-21 09:46] Haiyung commented on #640
Go 1.13 is comming!
But `go mod download`  does not support -insecure still.

[2019-11-21 11:01] wayjam opened #1468 "Proxying sumdb behind a proxy or upstream"
**Describe the solution you'd like**
Now `SumDBs` will proxy sumdb direct to the accually sumdb server insteads of behine the value of `GlobalEndpoint`

[code]

**Describe alternatives you've considered**

What 's the best way to describe?

1. if the `SumDB` match `https://(?<proxyHost>.*)/sumdb/(?<sumdb id>.*)`, use id `sumdb id`
2. all sumdb will try if upstream server support, then proxy to `up

[2019-11-22 15:26] codestation commented on #1464
Same here,

 - OS: Ubuntu 18.04 64bit (host), Docker 19.03.4
 - Proxy version : gomods/athens:v0.7.0 or gomods/athens:canary
 - Storage (fs/mongodb/s3 etc.) : Linode Object Storage (using ATHENS_STORAGE_TYPE=minio)

[code]

[code]

[2019-11-22 17:17] pjediny opened #1470 "sumdb problem: different behavior with athens:0.7 and proxy.golang.org downloading module"
Here is what I did,

clean local cache
tried to get the fabric module via athens proxy (fail)
tried to get the fabric module via https://proxy.golang.org (ok)
tried to get the fabric module via athens proxy (ok, it's already stored locally)
[code]

the Athens proxy logs this error:
[code]

This looks like a checksum error, but I only get in in the athens proxy, but it works with golang proxy.

[2019-11-25 06:36] wangycc opened #1471 "500 Internal Server Error"
**Describe the bug**
[code]

**Error Message**
athens v0.6.0 logs:

[code]

**To Reproduce**
1. git pull private repo
2. git list
3. return private repo find error

**Expected behavior**
download success

**Environment (please complete the following information):**
 - OS: [e.g. Linux 64bit] Centos7.6
 - Go version : go client: 1.12
 - Proxy version :  athens: v0.6.1  golang: 1.13
 - Storage (fs/mo

[2019-11-26 00:17] #1464 closed

[2019-11-26 00:27] #1453 closed

[2019-11-26 00:27] arschles commented on #1453
@jabbrwcky sounds good. I am about to merge #1457, it looks great :)

[2019-11-26 01:15] arschles commented on #808
Closing in favor of #1460

[2019-11-26 01:15] #808 closed

[2019-11-26 01:17] arschles commented on #1471
@wangycc can you try executing `go get gitlab.xxx.com/middleware/seaweed@v1.0.2` directly from the machine / container that Athens is running in? That will be the place to start.

[2019-11-26 01:24] arschles commented on #1165
@marwan-at-work what if someone submits a PR that turns off the bot and also prints out a secret in part of the standard unit test code? Are you thinking that the bot runs somewhere else outside of drone and injects secrets?

[2019-11-26 01:28] arschles commented on #1105
@FiloSottile yup, makes sense. I was referring to how we let an operator configure Athens to do that. Since `sum.golang.org/latest` doesn't (seem to) stream new tiles & records, Athens can poll it as you said, fall back to the sum DB if a tile doesn't exist for a module@version, we can allow an Athens operator to manually trigger an update, or some combination of those.

What do you & others think

[2019-11-26 01:28] arschles commented on #1093
Sounds great @robjloranger 👍 🎉

[2019-11-26 01:48] arschles opened #1472 "Add terraform config for deploying Athens?"
We have a helm chart, so it might be nice to also have terraform configs for deploying Athens to various targets. On releases, we could then publish the terraform configs to hashicorp’s registry

[2019-11-26 01:48] arschles opened #1473 "Add terraform config for deploying Athens?"
We have a helm chart, so it might be nice to also have terraform configs for deploying Athens to various targets. On releases, we could then publish the terraform configs to hashicorp’s registry

[2019-11-26 02:07] schafer14 commented on #1473
This sounds fun! Can I have a go at it?

[2019-11-26 03:02] FiloSottile commented on #1105
Presuming your users will only select this mode if they are unwilling to leak lookups to the upstream, I would advise against falling back if you don't have a record in your index. What you can try is kicking off a pull to check if `/latest` moved, and index the new records while the client waits.

[2019-11-26 17:54] arschles commented on #1473
@schafer14 you got it 😄

[2019-11-28 03:46] Felyne commented on #1434
try `docker run` to run `athens` with environment?
[code]

[2019-11-30 21:37] robjloranger commented on #1093
ok seriously i will do this now

[2019-12-02 21:33] fedepaol opened #1474 "Expand the e2e tests"
**Is your feature request related to a problem? Please describe.**
Right now the e2e tests we have are provided the test_e2e.sh file. We want to extend them, ideally using a code driven approach replacing the bash script.

**Describe the solution you'd like**
Having the script replaced by a test suite that can run e2e tests.

**Describe alternatives you've considered**
None

**Additional context**

[2019-12-03 01:51] arschles commented on #1093
😁 when you're ready, I'll be ready to review 😄

[2019-12-03 01:54] arschles commented on #1459
@raulk I think this is a really cool idea! There is some related work in https://github.com/gomods/athens/pull/1414. Do you think it would it make sense to modify that PR to fit your needs before we merge it?

[2019-12-03 02:07] #1307 closed

[2019-12-03 02:11] arschles commented on #1468
@wayjam if Athens is proxying to a sum DB, would you want it to cache results locally?

[2019-12-03 02:24] arschles commented on #1315
@daqingshu I'm still not sure if we can make this happen technically. If the user executes `go mod download google.golang.org/appengine`, then we tell Athens to translate that to `github.com/golang/appengine`. Athens will then run `go mod download github.com/golang/appengine`, and that currently fails on my machine. Here is the output of the `go mod download` and also the `go get` output:

[code]

[2019-12-03 03:51] meilihao opened #1475 "dial tcp: lookup xxx: no such host on windows 10"
**Describe the bug**
pull packages gets errors by  athens in company-internal network.

**Error Message**
<pre>
[code]
</pre>

**But on linux is OK.**

**To Reproduce**
1. deploy athens in internal network
1. fetch packages on windows 10

**Expected behavior**
no error.

**Environment:**
 - OS: linux x64
 - Proxy version : docker athens:canary/latest

config.toml:
[code]

FilterFile:
[code]

cmd:

[2019-12-03 07:55] wayjam commented on #1468
@arschles I think just a reverse proxy or a middleware with cache are both fine. And if athens can provide two options ideally.

[2019-12-03 09:55] daqingshu commented on #1315
go mod download should plus version, like:
[code]
go get  github.com/golang/appengine got error I think this is correct, because go get is legacy mechanism, and wont through GOPROXY

[2019-12-03 11:39] raulk commented on #1459
@arschles Yeah, this virtual storage backend would basically automate that process, feeding from `pkg/mod`, calling `pacmod` when a module is requested, and serving those assets via the proxy. Maintaining a cache would be handy.

[2019-12-03 11:41] raulk commented on #1459
For the record, we're currently using goproxyio/goproxy for our Docker builds because it supports this use case. If you're curious, here's a link to how we do it:

https://github.com/ipfs/testground/blob/ad5608acd71d01702b1462e0854ec9ad527dc6d5/pkg/build/golang/docker.go#L327-L352

Thanks!

[2019-12-03 17:44] arschles commented on #1472
Duplicate of #1473, closing 😄

[2019-12-03 17:44] #1472 closed

[2019-12-03 20:53] daxmc99 commented on #1323
Rancher Labs 🐮

[2019-12-03 21:03] daxmc99 opened #1476 "Checksum mismatch"
**Describe the bug**
A 500 error is returned for this module

**Error Message**

[code]

**To Reproduce**
Steps to reproduce the behavior:
Go build this repo https://github.com/rancher/rio at fea4ad3806aa76f54e949622de297ef775537083 with a clean mod cache

**Expected behavior**
The Google proxy does not have this error and works correctly

**Environment (please complete the following information):

[2019-12-04 01:24] arschles commented on #1476
@daxmc99 to answer your question about the insecure arg:

You can use the `NoSumPatters` configuration param in Athens to skip checksum verification (see the bottom of https://docs.gomods.io/configuration/sumdb/). This will still require that you set up `GONOSUMDB` on your local machine if you want to skip the sum DB altogether

Regarding the actual problem, can you tell me what Athens version you

[2019-12-04 01:29] arschles commented on #1475
@meilihao it looks like Athens is redirecting to https://mirror.aliyun.com/goproxy/ according to your `GlobalEndpoint`, and then your Go tool is requesting the module from https://mirrors.aliyun.com as expected, but your local windows 10 machine can't access that URL. Can you try accessing that URL directly from your Windows 10 machine and see if that works?

[2019-12-04 01:38] arschles commented on #1459
I see what you mean. If we had a different backend, or a "v2" backend of the current filesystem backend that followed the same format as what's in `pkg/mod`, we probably wouldn't need to involve `pacmod` at all, right? It would be nice to have one less piece.

Either way, I am totally ok with having such a backend.

Regarding #1414, I am gonna merge that one and I'm happy to modify it later on dep

[2019-12-04 02:05] arschles commented on #1468
@wayjam I see. That sounds like it could work! We would never have to expire the cache either, which makes this a lot easier.

Would you like to prototype this? No pressure at all if you don't. Just let me know

[2019-12-04 02:08] arschles commented on #1315
@daqingshu I see! So, Athens can do the download on the backend, and then when it serves a request for the `github.com/golang/appengine` module to a client, would the client be able to use that module, even though the `go.mod` says the module name is not `github.com/golang/appengine`?

[2019-12-04 02:09] arschles commented on #1474
I am marking this on hold because we marked #1449 on hold also: https://github.com/gomods/athens/pull/1449#issuecomment-560962016

[2019-12-04 02:19] arschles commented on #1105
I don't think we know all the use cases for why folks want this functionality. It looks like we have some requests for a read through cache (#1468 ). @wayjam would this polling strategy work for you?

cc/ @marwan-at-work @marpio

[2019-12-04 02:38] arschles opened #1478 "Fix build flakes"
**Describe the bug**

We have had consistent build flakes in drone.io such as https://cloud.drone.io/gomods/athens/1283/1/5. Errors manifest themselves like this:

- [build step 5](https://cloud.drone.io/gomods/athens/1281/1/5) succeeds, but Athens can't connect to the Google Cloud Storage bucket because it doesn't have the proper credentials (I think, based on the error message). This step should

[2019-12-04 03:35] marwan-at-work commented on #1478
@arschles

The error you see in the logs I believe are coming from this line: https://github.com/golang/oauth2/blob/master/google/default.go#L117

But this line is only executed if there were no credentials provided. And when no credentials are provided, we attempt to go for the default ones.

The athens image we're running takes these params:

[code]

So it's one of the following possibilities:

[2019-12-04 03:54] marwan-at-work commented on #1478
CC: @epk

[2019-12-04 05:16] meilihao commented on #1475
windows 10 machine is no access to the Internet, so we use Athens to proxy.

[2019-12-05 18:49] #1478 closed

[2019-12-05 18:54] arschles opened #1481 "The 'athens-proxy' build step in drone should build an Athens image and run it, instead of using the canary image"
**Describe the bug**

Since we're using the `canary` image, we are running the Athens server was built from the previous merge to master. That might be useful, but I think it's more useful to run the _current_ one and test against that.

**Error Message**

N/A

**To Reproduce**

N/A

**Expected behavior**

N/A

**Environment (please complete the following information):**

N/A

**Additional context

[2019-12-05 19:05] arschles commented on #1481
This might be tough to do in drone, since we need to run Athens as a service. Not sure if we could do it in GH actions (https://github.com/gomods/athens/issues/1460) either...

[2019-12-05 21:02] arschles commented on #1475
@meilihao I see, thanks for letting me kow. The `GlobalEndpoint` configuration redirects the client to the URL you set on the Athens config. So, in your case, it's redirecting the Go tool on your windows machine to https://mirror.aliyun.com/goproxy/. Right now, Athens doesn't support proxying any other upstreams except for VCS systems. Would you be able to stick with a VCS system, or do you defini

[2019-12-05 21:08] arschles commented on #1385
@ZHRen I am going to close this issue now. Can you please comment here or open a new issue if you are still seeing it with the latest `v0.7.0` release of Athens?

[2019-12-05 21:08] #1385 closed

[2019-12-05 21:24] ernado commented on #1323
We are using Athens at Mail.ru (Russian IT Corp), really helps with private modules.

[2019-12-05 21:59] aaqel-s commented on #1452
@arschles Reopened the MR!

[2019-12-06 00:53] #1354 closed

[2019-12-06 01:47] arschles commented on #1432
@matejvelikonja I was unable to reproduce this. Would you mind trying with the updated package version and let me know if it fixes? If so, we can do the update and release.

[2019-12-06 01:50] arschles opened #1485 "Various community pages in docs go nowhere"
**Describe the bug**

[This](https://docs.gomods.io/contributing/community/), [this](https://docs.gomods.io/contributing/new/) and [this](https://docs.gomods.io/contributing/maintainers/) page are just a little bit of text and then don't have a next step. They should have a link to the next place to go read.

**Error Message**
N/A

**To Reproduce**
N/A

**Expected behavior**
N/A

**Environment (pl

[2019-12-06 05:02] meilihao commented on #1475
We use [Gitfor Windows](https://gitforwindows.org/) on windows 10.

Yes, we need GlobalEndpoint. Because only the machine where Athens is deployed in the internal network can connect to the external network and we cannot directly access the packages on google servers.

[2019-12-06 07:59] jabbrwcky opened #1487 "Upstream 404 results in 500 response"
**Describe the bug**
Info lookup fails on a package (upstream 404), resulting in a 500 error.

**Error Message**
<pre>
[code]
</pre>

**To Reproduce**
Steps to reproduce the behavior:

Configure gocenter.io as upstream and get the mod info for the package in the log file.

**Expected behavior**
The proxy should return upstream 404s as 404s as well.

**Environment (please complete the following inf

[2019-12-06 21:48] #1485 closed

[2019-12-06 22:07] arschles commented on #1323
@ernado glad to hear it! And thanks for your contributions 😄

[2019-12-06 22:16] arschles commented on #1487
@jabbrwcky in the case that the Go tool doesn't return JSON, it seems like the challenge would be how to determine what the error code is. We would need something like a function `is404(jsonErr)`. I don't know of a way to do that without parsing human-readable output. Perhaps we could just use `strings.HasSuffix(output, "404 Not Found")` (where `output` is the string representation of `stdout`)

T

[2019-12-06 22:20] arschles commented on #1078
So far, we have CI/CD that tests with Azure Blob Storage and Google Cloud Storage (among other storage backends)

[2019-12-06 22:21] arschles commented on #772
Closing this because we have had athens.azurefd.net up for a while. Also see https://arschles.com/blog/athens-on-azure-kubernetes-service/ for related work

[2019-12-06 22:21] #772 closed

[2019-12-06 22:37] arschles opened #1488 "Add a configuration for Athens to proxy to upstream proxies"
**Is your feature request related to a problem? Please describe.**

We have had [two](https://github.com/gomods/athens/issues/1475) [requests](https://github.com/gomods/athens/pull/1131) that I know of that would like Athens to proxy to an HTTP upstream of some kind. @meilihao explicitly says in #1475 that the only machine in their organization that can access the external network is their Athens

[2019-12-06 22:38] arschles commented on #1475
Cool. @meilihao this functionality has been asked for before, so I've restarted that discussion in https://github.com/gomods/athens/issues/1488. As I wrote in there, I think that it's time for us to do it. Can we please move the discussion there so we can decide exactly how we're going to implement this?

[2019-12-06 23:37] xytan0056 opened #1489 "404 for gopkg.in/russross/blackfriday.v2"
**Describe the bug**
A clear and concise description of what the bug is.
This is a weird one

[code]
but
https://proxy.golang.org/gopkg.in/russross/blackfriday.v2/@v/v2.0.1.info
looks like 410 in google's proxy as well

but difference is return code, athens return 404

**To Reproduce**
`GOPRIVATE=* GONOPROXY=none GOPROXY=http://localhost:3000  GO111MODULE=on go1.13 get gopkg.in/russross/blackfrida

[2019-12-07 08:05] jabbrwcky commented on #1487
In my opinion the go tool is at fault here also, because its `-json` flag only returns json on the happy path, not consistently.

I think parsing the output would be too fragile; there (likely) will be other error states that woul not be parseable.

Another option might be to consider any unusuable response as not found.

500 implies that there is something wrong with the proxy itself, which is no

[2019-12-07 08:20] marwan-at-work commented on #1487
@jabbrwcky @arschles I fixed this issue in Go itself a couple of months ago, you can see the fix here: https://github.com/golang/go/commit/6232dadc63dda3e6f8ce227ed7e003da80f5ba2e

I'm not sure if this was ever patch-released, but it should either way be fixed in Go 1.14 :)

[2019-12-07 08:21] marwan-at-work commented on #1487
to reproduce, build Go from tip and run `GO111MODULE=on GOPROXY=https://gocenter.io go mod download -json github.com/prometheus/prometheus@v2.14.0+incompatible`

[2019-12-09 01:18] meilihao commented on #1475
ok, thinks.

[2019-12-09 01:18] #1475 closed

[2019-12-09 08:18] Felyne commented on #1471
I also encountered the same error when I pulled the private repository`git.bmk.top`
The athens started by docker:
[code]
go client is 1.13

[2019-12-09 08:52] wangycc commented on #1471
@Felyne NoSumPatterns=["git.bmk.top"]

[2019-12-09 08:56] jabbrwcky commented on #1487
@marwan-at-work Looking forward to go 1.14 then :)

[2019-12-09 08:57] Felyne commented on #1471
@wangycc  I have set the environment variables of the container `  -e GOPRIVATE="*.bmk.top" `

[2019-12-09 09:00] wangycc commented on #1471
@Felyne On a similar note, if you have private import paths make sure you tell Athens that through the NoSumPatterns config. Otherwise, go mod download will fail!

Reference:
- https://github.com/gomods/athens/releases/tag/v0.6.1

[2019-12-09 09:14] Felyne commented on #1471
@wangycc
When i use it like this:
[code]
`go get` the private repository `git.bmk.top` is still the same error

[2019-12-09 09:22] Felyne commented on #1471
@wangycc the logs of docker:
[code]

[2019-12-09 13:07] wayjam commented on #1105
Would athens 's local sumdb data left behind by upstrem or split brain?

[2019-12-09 14:54] #1487 closed

[2019-12-09 19:00] arschles commented on #1487
Didn't know that, thanks @marwan-at-work !

[2019-12-10 21:49] schafer14 commented on #1473
Unfortunately, I am not going to have time to do this :( If someone else wants to take over that would be great.

[2019-12-11 23:54] arschles commented on #1473
@schafer14 no worries. thanks for the update 😄

[2019-12-11 23:59] arschles commented on #1105
the global sum DB is append-only in all cases that I know of. in that case, athens is a pure mirror and will only fall behind

[2019-12-12 00:08] arschles commented on #1471
@Felyne this part of the last log line:

[code]

Is indicating that Athens isn't setting `GONOSUMDB`. Can you please try taking off the brackets from the `ATHENS_GONOSUM_PATTERNS` environment variables (i.e. `-e ATHENS_GONOSUM_PATTERNS='git.bmk.top/*'`), and running again?

[2019-12-12 00:10] arschles commented on #1336
@twexler yup, that's what I meant

cc/ @bluekeyes

[2019-12-12 00:30] bluekeyes opened #1490 "Consider using defaults for missing properties in config files"
**Is your feature request related to a problem? Please describe.**

The documentation suggested to me that configuration properties that are not set in a configuration file will use the documented defaults; this is the behavior if environment variables are used for configuration. Instead, any properties not explicitly defined in the configuration file use the zero values for their types.

**Descri

[2019-12-12 00:34] bluekeyes opened #1491 "Audit validation tags for configuration properties"
**Is your feature request related to a problem? Please describe.**

For some properties (I hit it on `DownloadMode`, but may apply to others), the zero value is invalid and the property is effectively required, but is not marked as required for validation.

**Describe the solution you'd like**

Audit the configuration type definitions to make sure the validation tags are correct for properties. I

[2019-12-12 00:36] bluekeyes commented on #1336
Sure, I've created #1490 and #1491 for issues (1) and (2) in my original list.

The problem in (3) was mostly fixed by #1365, although I see that `errors.KindBadRequest` is still used in some situations. I'll need to look at that one a bit more to see if there is still a separate issue to report related to error handling.

[2019-12-12 01:04] arschles commented on #1336
@bluekeyes that's great, thank you. I am working on making our configuration error messages better at the moment, which may help with #1491. I'll submit a draft pull request and tag you to get your opinion.

Thanks again 💚

[2019-12-12 01:04] #1336 closed

[2019-12-12 01:41] arschles commented on #1491
@bluekeyes We should certainly get better at validating configurations. Since there are a lot of options, it's easy to forget something and make a mistake, so I think we should look holistically at the configuration. For example, if `DownloadMode` is set to `"redirect"`, then `DownloadURL` needs to be set. We should check that and report it and disallow Athens from starting.

What do you think?

[2019-12-12 01:55] arschles opened #1493 "Deprecate the GlobalEndpoint"
**Is your feature request related to a problem? Please describe.**

The `GlobalEndpoint` configuration value is mostly superseded by the [Download Mode File](https://docs.gomods.io/configuration/download/)

**Describe the solution you'd like**

I think we should deprecate it. This to me means writing that it's deprecated in the docs, saying to use the `DownloadMode` file, and then adding an [error

[2019-12-12 02:26] bluekeyes commented on #1491
Yeah, it makes sense to me that the application would need a way to validate relationships between properties and that that would provide a better user experience than just saying if an option is required or not.

From a pure code perspective, I personally find it a bit confusing when there are multiple validation methods at play in a project, so long term, I think it could be valuable to decide o

[2019-12-12 06:34] Felyne commented on #1471
@arschles  Thanks, solved my problem, combined with `nginx`.

[2019-12-12 18:57] arschles commented on #1489
@xytan0056 is Athens configured with [`GoNoSumDB`](https://docs.gomods.io/configuration/sumdb/)?

[2019-12-12 18:58] arschles commented on #1489
Also, our return codes are slightly different than the Google proxy because we don't parse the `go` CLI tool's output the same. Do you require that we return the same HTTP error codes as the Google proxy?

[2019-12-12 19:13] arschles commented on #1471
@Felyne great! Did you install nginx in front of your Athens server?

[2019-12-13 00:10] robjloranger commented on #1093
Idk when I'll get to this so leaving it up for grabs

[2019-12-13 01:09] xytan0056 commented on #1489
I'm not sure. what would be the root cause for this module

https://proxy.golang.org/gopkg.in/russross/blackfriday.v2/@v/list
returns fine

athens doesn't
$ curl -I http://localhost:3000/gopkg.in/russross/blackfriday.v2/@v/list
HTTP/1.1 404 Not Found
Cache-Control: no-cache, no-store, must-revalidate
Content-Type: application/json
Date: Fri, 13 Dec 2019 01:09:22 GMT

[2019-12-13 02:17] Felyne commented on #1471
@arschles The problem of go get private repository is solved, but the problem of `go get` `golang.org/*` is not solved, so it is solved by `nginx`.

this part of the Athens logs:
[code]
[code]
Athens:
[code]
nginx
[code]
go client 1.13
[code]

[2019-12-13 09:22] daqingshu commented on #1315
my opnion, the config effect athens,  user side should not perceptive other
with GOPROXY, user now can download package
without GOPROXY, user got network error

example:
     if user's go.mod use google.golang.org/appengine, it's OK
if use github.com/golang/appengine, not OK, he must add 'replace'

[2019-12-13 20:40] arschles opened #1495 "Change 'make build' to not cd into ./cmd/proxy"
**Is your feature request related to a problem? Please describe.**

The Makefile runs `cd cmd/proxy && go build` when you run `make build`, so you get a built Athens binary but you end up in a different directory than where you started.

**Describe the solution you'd like**

I'd like the makefile to run `go build -o cmd/proxy/proxy ./cmd/proxy` when you run `make build`. This has the exact same ef

[2019-12-13 21:06] arschles opened #1496 "Add documentation on the validator hook"
**Is your feature request related to a problem? Please describe.**

We don't have any documentation on the [validator hook](https://github.com/gomods/athens/blob/6c47f8bcbfa7f7e20332cd11fc98812f85c3b15f/pkg/middleware/validation.go), or how to [configure it](https://github.com/gomods/athens/blob/6c47f8bcbfa7f7e20332cd11fc98812f85c3b15f/config.dev.toml#L147-L150)

**Describe the solution you'd like

[2019-12-13 23:20] arschles commented on #1471
@Felyne thanks for that. What you're doing makes sense. If you have tried Athens v0.7.0, can you let me know if you are still getting the errors? I am also going to re-open this issue while we continue the discussion

[2019-12-13 23:33] arschles commented on #1489
@xytan0056 it looks like the go.mod for this module in github is saying the module is `github.com/russross/blackfriday/v2`, but you're requesting it as the `gopkg.in/russross/blackfriday.v2`. I replicated that below.

I'm betting that `proxy.golang.org` has this module in its own internal storage from when it had the right name in its `go.mod`

[code]

To fix this, can you use a `redirect` rule in

[2019-12-13 23:43] arschles commented on #640
@Haiyung I'm catching up on this now. It seems possible that Athens could work with a gitconfig as @marpio showed in https://github.com/gomods/athens/issues/640#issuecomment-423772137, to get this to work. What do you think?

cc/ @manugupt1 @michalpristas

[2019-12-13 23:44] arschles commented on #1452
@aaqel-s thank you :smile:. I've left some comments there.

[2019-12-14 01:51] Felyne commented on #1471
@arschles v0.7.0 is the same error

[2019-12-14 17:16] linzhp commented on #1450
We also have a similar need. We have a git server that only support SSH access. So the server doesn't support `go get`, or `GET https://code.example.internal/foo/bar?go-get=1`

Is there a way for athens to translate `code.example.internal/foo/bar` into `gitolite@code.example.internal:foo/bar` and check out from git directly using SSH instead of calling `go mod download` or `go get`?

[2019-12-19 21:00] #1495 closed

[2019-12-19 21:03] arschles commented on #587
Just dropping a quick note in here - we haven't forgotten about this issue, but not planning to implement it at the moment. @ajstarks or anyone else interested - can you please 👍 this comment, or add your own comment if you need this functionality for your production Athens deployments?

[2019-12-19 21:15] arschles commented on #1341
Duplicate of #1068, closing

[2019-12-19 21:15] #1341 closed

[2019-12-19 21:15] arschles commented on #1068
Please seee #1341 for a more detailed idea of how this could be implemented

[2019-12-19 21:21] arschles commented on #1491
@bluekeyes I don't have any experience with validator.v9, but it looks nice. The idea I have in mind is to centralize all validation of configuration in one place in the code, regardless of where the configuration values came from - file, environment variables, or anywhere else we define later on.

Ideally, the validations would come with good error messages too, when Athens is misconfigured. I'll

[2019-12-19 21:35] arschles opened #1499 "Document the different places where defaults are set"
**Is your feature request related to a problem? Please describe.**

Discussion [here](https://github.com/gomods/athens/pull/1420#discussion_r359046353) has revealed that there are a lot of "layers" of defaults, and that is confusing.

**Describe the solution you'd like**

It would be helpful to have them documented, so that an Athens operator can understand where they should override defaults, dep

[2019-12-19 21:35] arschles commented on #1499
I'll take this one 😄

[2019-12-19 23:26] arschles opened #1500 "Is it worth using testcontainers to set up our unit, integration or e2e tests?"
[Testcontainers](https://github.com/testcontainers/testcontainers-go) is a convenience library to set up containers from Go code. We could use it to set up pre-requisite services like Redis, Mongo, Minio, etc...

[2019-12-20 02:37] ajstarks commented on #587
I currently don't need this now, so I'm ok with lowering the priority.

[2019-12-20 03:42] arschles commented on #1450
@linzhp right now, Athens doesn't fetch code from VCS systems by any means other than `go get`. I believe that if you use an `insteadOf` directive in the Athens server-side git config (see https://docs.gomods.io/configuration/authentication/ for example), you can achieve this translation.

If you've tried this, and it doesn't work, we would absolutely open to a contribution to add this feature (I'

[2019-12-20 03:52] arschles opened #1501 "Update the upstream proxy & filter config documentation"
**Is your feature request related to a problem? Please describe.**

[The upstream config docs](https://docs.gomods.io/configuration/upstream/) and [filter docs](https://docs.gomods.io/configuration/filter/) still reference the deprecated filter file

**Describe the solution you'd like**

These docs should be updated to show the [download mode](https://docs.gomods.io/configuration/download/) file a

[2019-12-20 03:55] arschles commented on #1471
@Felyne ok. Based on your nginx configuration, I'm assuming that you were trying to use Athens as a proxy to `https://goproxy.io` for all public packages. Is that right?

If so, your line `-e GOPROXY="https://goproxy.io,direct" \` in the docker command won't tell Athens to do that unfortunately. If you need to do that, you can use the [download mode file](https://docs.gomods.io/configuration/downl

[2019-12-20 04:01] arschles commented on #1315
I don't think that is going to be possible because of the way that the Go client works. Whatever `GOPROXY` is set to, if you run a `go get my/module`, that module's go.mod file needs to have `module my/module` in it.

If Athens supported server-side replace directives, the user could run `go get github.com/golang/appengine` would return the [go.mod file with `google.golang.org/appengine` in it](ht

[2019-12-20 04:12] arschles commented on #1363
@mschneider82 it looks like there are two different things going on in those logs.

First, this:

[code]

I don't think this is related to the sum DB. This part of the line: `parse https://git.internal/?go-get=1: no go-import meta tags` indicates that you might need to be running with a global git config that has an [`insteadOf` rule in it](https://docs.gomods.io/configuration/authentication/). Is

[2019-12-20 04:21] arschles opened #1502 "Document config.toml basics"
**Is your feature request related to a problem? Please describe.**

Our [configuration documentation](https://docs.gomods.io/configuration/) has a lot of specific information, but very little general overview on how to configure Athens.

**Describe the solution you'd like**

We should have documentation explaining the `config.toml` file, environment variables, and even the configuration that you c

[2019-12-20 04:24] arschles commented on #1166
Looks like https://github.com/golang/go/issues/26232 is still open. We'll continue to watch for it.

[2019-12-20 04:34] arschles opened #1503 "Add an endpoint that will output Athens configuration"
**Is your feature request related to a problem? Please describe.**

Athens has many configuration values and it's easy to get them mixed up. We are taking several measures to make it easier to make sure you don't configure it with anything obviously bad.

**Describe the solution you'd like**

Along with [other strategies](https://github.com/gomods/athens/pull/1492) to make this better, it would be

[2019-12-20 05:37] linzhp commented on #1450
The mean issue here is `go get`, which always trying to get `https://code.example.internal/communications/locales?go-get=1` first and expect a `go-import` meta tag in the response. The Git `insteadOf` translation comes after `go get` finds `https://code.example.internal/communications/locales.git` in the meta tag. Since our Git server doesn't support HTTPS at all, `go get` fails before hitting Git

[2019-12-20 05:37] Felyne commented on #1471
@arschles thinks.Perfectly solved the problem!!!

[2019-12-20 05:46] marwan-at-work commented on #1488
I believe Athens should already be able to download a module from an upstream proxy through this config: https://github.com/gomods/athens/blob/master/config.dev.toml#L38

Is there a use case or motivation to have to change this per module@version?

[2019-12-20 21:45] RonAmihai opened #1506 "Use Athens as repository in private (offline) network"
I'm working in an offline environment which consists of private (offline) network.

I can bring packages (3rd party) which I've downloaded in an online machine (moving them to the offline network over USB media storage), but the machines in the offline network don't have direct access to the worldwide internet.

In Node/JavaScript project, I'm using [Verdaccio] (https://github.com/verdaccio/verdac

[2019-12-20 23:03] arschles commented on #1471
You got it. Cheers 😄

[2019-12-20 23:03] #1471 closed

[2019-12-20 23:11] arschles commented on #1475
@meilihao in https://github.com/gomods/athens/issues/1488#issuecomment-567797640, @marwan-at-work mentioned another solution that could work now. You could set `GoBinaryEnvVars` in the config.toml file (or an environment variable `ATHENS_GO_BINARY_ENV_VARS`) to be `GoBinaryEnvVars = ["GOPROXY=https://mirrors.aliyun.com"]`, and then Athens would correctly download from mirrors.aliyun.com

[2019-12-20 23:30] arschles commented on #1488
@marwan-at-work I have a motivation and a use case.

The use case is to effectively set `GOPROXY=https://myproxy.com` for a specific package glob. Setting `GOPROXY=https://proxy.golang.org,https://myproxy.com,direct` would work, but it's relying on the Go tool to failover to the second proxy in the list, which is suboptimal.

The motivation is to enable the same behavior as `GoBinaryEnvVars = ["GO

[2019-12-20 23:36] arschles commented on #1434
Hi @awkj sorry, this issue slipped through my inbox. It sounds like you want to prompt Athens to download some modules from a CDN and others from a private VCS? If that's correct,  you can set `GoBinaryEnvVars = ["GOPRIVATE=github.com/mycompany/*"]` in the config file, or `export ATHENS_GO_BINARY_ENV_VARS="github.com/mycompany/*"` as an environment variable. See `https://github.com/gomods/athens/b

[2019-12-20 23:38] arschles commented on #1506
@RonAmihai can you check out our [documentation on pre-filling the disk cache](https://docs.gomods.io/configuration/prefill-disk-cache/) and let me know if that will work for you?

[2019-12-20 23:43] arschles opened #1507 "Add holistic documentation on how to configure Athens to proxy private repositories"
**Is your feature request related to a problem? Please describe.**

We have various documents that you have to piece together to figure out how to configure Athens to proxy to private repositories:

- https://docs.gomods.io/configuration/authentication/
- https://docs.gomods.io/configuration/filter/ (see https://github.com/gomods/athens/issues/1501 for another planned update for this)
- https://do

[2019-12-20 23:47] RonAmihai commented on #1506
Thank you for this very helpful information.
I guess I've skipped it while reading the documentation.

I'll give it a try in the next few days and share the results here

[2019-12-21 00:48] arschles commented on #1506
@RonAmihai great. I'm going to leave this issue open for now 😄

[2019-12-21 00:54] arschles opened #1509 "The drone build is flakey"
**Describe the bug**

It looks like there are flakes in the drone build. I'm guessing it's because the `download-dependencies` build step runs `go mod download` before the Athens server itself is up and running. We've seen this before.

**Error Message**

[code]

**To Reproduce**

This is a flake, so it's not a 100% reproducible case. The best you can do is submit a PR to trigger a drone CI run

*

[2019-12-21 01:08] arschles opened #1510 "Happy (early) new year, Athenians!"
Hi Athenians!

As we near the end of the year and some of us are going to be celebrating holidays, many of the Athens maintainers and the community are going to be taking a break. So, those of us who review and respond to issues are going to be slow to respond.

If you have an issue or pull request open, I promise that we'll get back to you soon after the new year. If we don't, message me on Slack

[2019-12-23 12:53] ClaytonNorthey92 commented on #1500
Hello, I am a contributor to the testcontainers-go port.  I have also used testcontainers-go for integration tests at work.  I would say it is 100% worth it in my use cases.

I work on a team where one of our products that we own is a conversational AI tool, with models trained specifically for different clients' use cases.  These models are used by a containerized service that needs to communicat

[2019-12-24 01:16] linzhp opened #1511 "Use cache before running "go list""
**Is your feature request related to a problem? Please describe.**
When Athens handles "list" or "latest" commands, it always runs "go list -m -versions" to get the list of version (https://github.com/gomods/athens/blob/master/pkg/module/go_vcs_lister.go#L44). The "go list" command in turn will reach out to the VCS to get the list. This is not optimal because:

1. It doesn't provide protection in

[2019-12-26 15:54] RonAmihai commented on #1506
Are there convenient alternatives to pacmod for this method?

Pacmod doesn't seem to support packaging with all dependencies.
I want to PR this feature soon, but till than I'm wondering if I can bring package will all of it's dependencies to Athens in other way.

[2019-12-30 07:54] daqingshu commented on #1315
I think Athens won't  supported  server-side replace directives, just transparent proxy.
like:
user's go.mod config  "github.com/golang/appengine v1.6.5"
server side config
alias github.com  git.corp.com

then user compile, actually the cmd is go  mod download
go mod download github.com/golang/appengine@v1.6.5

this cmd to athens server-side
athens just download from git.corp.com/golang/appengine@