[2018-02-26 19:23] bketelsen opened #1 "Fix up readme, license, etc"
change to team ownership

[2018-02-26 19:30] arschles opened #2 "Make the CLI read the `go.mod` file"
The current CLI usage looks like this:

[code]

The `module` part shouldn't be required because the module is listed in the `go.mod` file. The CLI should just read that entry. The resulting usage would then be:

[code]

[2018-02-26 19:32] arschles opened #3 "Make the CLI ignore unnecessary files when zipping source code"
The [does it work](https://github.com/gomods/athens#does-it-work) section shows that the default "upload" command in the CLI zips source code that then fails when `vgo` downloads it:

[code]

It should ignore at least the `.git` and `.DS_Store` files, but probably more. At least to make `vgo get` succeed in downloading modules for now

[2018-02-26 19:33] arschles opened #4 "Add CI to this repository"
Add circleCI (2.0) tests

[2018-02-26 19:33] arschles opened #5 "Add a disk storage backend"
Since it'll be the second storage backend, it will require that the server also reads some config (prefer to read from env vars) to indicate what storage backend to use

[2018-02-26 19:38] arschles opened #6 "Make the CLI use a subcommand & flags"
Instead of `./vgp ./testmodule arschles.com testmodule v1.0.0`, it'd be nicer to have something like this:

[code]

It's more human readable, and it also allows for expanding the admin API and supporting it in the CLI. Prefer to use [cobra](https://github.com/spf13/cobra) for this

[2018-02-27 15:47] bketelsen commented on #3
maybe just follow the .gitignore?

[2018-02-27 21:14] bketelsen opened #8 "Feature: Serve as vanity host"
as a registry service, provide vanity hosting for modules under a given set of domain names.

Using this service, VCS would be insulated from the end user.  As an example if we host at gomods.io, users can register modules with vanity domain names -- also serving as the canonical import path for the module.

[code]
This functionality is separate from, and in addition to the proxy service.

[2018-02-27 21:16] bketelsen opened #9 "Feature: Serve as a proxy for the go tool"
if a user sets the GOPROXY environment variable to our domain name, they should use our service to download modules, zip files, metadata, etc from our servers where it is cached from the upstream sources.

This reduces load on upstream VCS servers, and allows us to provide a better experience for end-users by using a CDN for content.

[2018-02-27 21:22] bketelsen opened #10 "Feature: Module publishing API"
Create an API that allows module authors to publish modules from their CI/CD systems like Travis.

Possibly this could be as simple as a webhook integration.

[2018-02-27 22:56] arschles commented on #3
+1 - https://github.com/sabhiram/go-gitignore could help with that (h/t @bketelsen for the reference)

[2018-02-27 23:30] arschles commented on #10
In the case of Travis etc..., I'd say we have folks do it from the `athens` CLI (which effectively would call an a webhook with a bearer token)

[2018-03-01 16:55] bketelsen opened #12 "upgrade buffalo to 0.11.0"

[2018-03-01 18:28] bketelsen opened #16 "proxy: add background worker to fetch requested modules that aren't present locally"

[2018-03-01 18:30] bketelsen opened #17 "docs: add documentation endpoint"
add documentation endpoint serving nicely formatted docs in markdown

[2018-03-01 18:35] arschles commented on #16
excellent idea. for production-like deployments we'll want the worker queue to be backed by not-memory. we should write a grift that we can run separately that consumes the queue

[2018-03-01 18:50] #12 closed

[2018-03-01 19:20] #17 closed

[2018-03-01 22:37] arschles commented on #9
@bketelsen we said in the [registry section](https://github.com/gomods/athens/blob/master/DETAILS.md#the-registry) that if a user specifies a vanity name, then the VCS name of their module will not be available.

That rule would make the world look like this:

1. I connect my `github.com/my/module` repo to athens (this is always required, whether we're proxying or serving as a registry)
1. Athens

[2018-03-01 23:03] arschles commented on #8
I've been just calling this a "registry" - because in theory it wouldn't just need to be vanity names.

We could choose to serve VCS package names (i.e. `gomods.io/github.com/mything/awesomerepo`) if we wanted to in the registry. I proposed some naming rules at https://github.com/gomods/athens/blob/master/DETAILS.md#the-registry

[2018-03-02 01:16] arschles commented on #8
Edit: in #19 we added language that says that modules will be available at `gomods.io/$NAME`, where `NAME` is the module name defined in the `go.mod` file. I think this functionality eliminates the need to differentiate between vanity and repository names.

[2018-03-02 23:07] arschles opened #29 "Build a storage driver for Azure blob storage"
It needs to be able to save module metadata & source (`go.mod`, add to the versions list, and the zip file), and also fetch it

After this is built, consider building drivers for other CDNs

[2018-03-03 00:38] #4 closed

[2018-03-05 20:42] arschles opened #31 "Add a test for the CLI's file walk function for the zip creator"
After #30, there will be a tree walk function that we'll need to test

[2018-03-05 21:43] #3 closed

[2018-03-06 19:46] arschles commented on #16
I talked to someone yesterday that uses https://github.com/gocraft/work a _lot_. If the standard buffalo background worker isn't enough for us, this would be a good option. Putting here as a reminder for later if we need it.

[2018-03-06 23:29] arschles opened #33 "Proposal: hosting docs"
Proxies will host multiple versions of a module, and I think it would be very helpful to the community for proxies to also host documentation for each version. This is similar to what godoc.org or the `godoc` CLI does, except docs would be versioned. I could also imagine this being great for private code 😄

[2018-03-07 14:16] #6 closed

[2018-03-07 14:38] bketelsen commented on #33
interesting idea

[2018-03-08 00:30] marstr commented on #29
Instead of targeting blob storage directly, have you thought about targeting the [Azure CDN service](https://azure.microsoft.com/en-us/services/cdn/)? There's an [existing Go SDK](https://github.com/Azure/azure-sdk-for-go/tree/master/services/cdn/mgmt) for targeting it.

[2018-03-08 21:30] arschles opened #38 "Disk storage: Do not read entire source zipfiles into memory"
After #20, there will be a disk storage system, which is likely to store large modules. The storage interface's `Get` function returns `[]byte`s for both the `go.mod` file and the zipped-up module source code. Of course, that's not ideal because module zips would need to be read into memory.

The storage interface `Get` method should be changed to return `io.ReadCloser`s instead of `[]byte`s for t

[2018-03-08 21:33] arschles commented on #2
Note: since this issue was opened, `vgp` has changed to `athens`

[2018-03-08 21:37] arschles opened #39 "Implement a PostgreSQL storage driver"
The storage drivers at `./pkg/storage` are used by the proxy to store and return metadata and source for a given module. We should implement a driver for PostgreSQL.

[2018-03-08 21:37] arschles opened #40 "Implement a MySQL Storage driver"
The storage drivers at ./pkg/storage are used by the proxy to store and return metadata and source for a given module. We should implement a driver for MySQL.

[2018-03-08 21:38] arschles opened #41 "Implement a MongoDB Storage Driver"
The storage drivers at ./pkg/storage are used by the proxy to store and return metadata and source for a given module. We should implement a driver for MongoDB. By using the MongoDB API, we can connect the proxy to CosmosDB

[2018-03-08 21:40] arschles opened #42 "Build background workers to allow the proxy to fetch source code"
When a package is requested by the proxy, it should check if the module is in storage. If it is not, then it should respond with a 404 and kick off a fetch operation in the background

[2018-03-08 21:54] arschles opened #43 "Write a docker-compose file for use with testing"
Right now, you need to run a MongoDB server to successfully run tests. The number of service dependencies will grow, though (see #40 and #39 for example), and it'd be nice to only need to run `docker-compose up` to get all them running before you run `make test`. That means writing a `docker-compose.yml` file

[2018-03-08 21:56] bketelsen commented on #41
see the mongo driver for user storage under /pkg as an example

[2018-03-08 21:57] arschles opened #44 "Make the GoGet middleware configurable"
You should be able to configure it to redirect to any DNS name or IP - including the proxy IP/name, if running in proxy mode. Right now, it's hard-coded to `gomods.io`

[2018-03-08 21:58] bketelsen commented on #44
I have some thoughts here, I need to formalize, I think there's more to this.

[2018-03-08 22:10] arschles commented on #44
Continuing conversation on slack, @bketelsen you formalized all (we think) of the possible CLI workflows (copied to [here](https://github.com/gomods/athens/wiki/CLI-Workflows)). The question that remains is whether 2.i will cause `vgo` to hit the `http://athensproxywhatever//githublcim/bketelsen/captainhook/@v/...` endpoints directly, or still go through the `?go-get=1` flow

[2018-03-08 22:28] bketelsen commented on #44
here's the code from vgo:
[code]

[2018-03-09 02:24] #5 closed

[2018-03-09 08:53] michalpristas commented on #38
this is actually something I wanted to propose.
I will target #2 to work with files directly (used in cli) and with zip.Reader (used on server side)

[2018-03-09 15:11] arschles commented on #44
thanks @bketelsen - confirms my understanding too. reading the code cemented it too - good idea :)

the GoGet middleware still needs to be configurable for registry use, but not for proxy usage

[2018-03-09 15:41] arschles opened #46 "Split proxy storage, CDN storage, and actions between proxy and registry"
The proxy and the registry are different enough that much of the packages and codebase needs to be split apart. For example:

- The registry needs to create a CDN getter
- The registry should not declare handlers for the metadata/code download paths
    - It should instead use a meta redirect to a CDN location
- The proxy needs to create storage
- The proxy needs to declare handlers for metadata/c

[2018-03-09 16:01] #43 closed

[2018-03-09 16:04] #44 closed

[2018-03-09 16:37] arschles commented on #38
SGTM @michalpristas

[2018-03-09 16:53] arschles opened #49 "Implement a Mongo-backed CDN getter"
We only have a fake one now

[2018-03-09 17:06] arschles opened #50 "Implement a CDN saver"
This would complement the CDN getter. The getter just gets a redirect location for a module; the setter should upload/update:

- The versions list
- The go.mod file
- The version metadata
- The source zip

It should also enter a redirect location (that the getter can fetch) into the CDN metadata store.

Make sure to put the entire operation (enter into CDN metadata store + upload) in a critical se

[2018-03-10 10:36] michalpristas opened #52 "Tests for gomod parsers"
After #2 is done
Tests for parsers need to be implemented

[2018-03-10 12:27] #2 closed

[2018-03-16 22:23] arschles opened #57 "Add docs on how to deploy Athens to ACI"
This would increase the options for folks who want to deploy Athens to the cloud

ACI docs: https://azure.microsoft.com/en-us/services/container-instances/

[2018-03-16 22:24] arschles commented on #57
Changed title - copy/paste error in the first place

[2018-03-16 22:30] arschles opened #58 "Remove 'dep ensure' from the Dockerfile"
We already check in the `vendor` dir, so we don't need to re-run `dep ensure` on every build

[2018-03-16 22:47] #46 closed

[2018-03-16 23:11] arschles opened #59 "In disk storage mode, do initial check that disk storage root exists"

[2018-03-18 20:07] marpio opened #65 "Use spf13/afero for InMemory and Disk Storage"
It would be possible to use the same code for both backends and automatically enable others i.e. sftp
https://github.com/spf13/afero

[2018-03-18 22:27] #58 closed

[2018-03-19 05:45] arschles opened #69 "use disk based storage by default"
Memory storage is not very useful for almost all uses 😄

[2018-03-19 05:45] arschles commented on #65
@marpio great idea. thanks!

[2018-03-19 09:22] marpio commented on #65
@arschles I don't have that much experience with go but I would like to try to implement this if that's ok.

[2018-03-19 10:07] michalpristas commented on #65
@marpio go ahead, we have PR reviews for that.
also we have slack channel on gophers slack called athens. feel free to join and ask questions

[2018-03-19 18:41] arschles commented on #65
@marpio +1 to what @michalpristas said

feel free to fork & submit a PR for this. The dev guide for this project is [here](https://github.com/gomods/athens#development), and hopefully that should get you set up to run locally, do development, etc... Let us know if something is not working for you and we can fix it in the guide 😄

[2018-03-19 21:12] marpio commented on #65
Thanks! I'll give it a try.

[2018-03-20 06:32] adelowo commented on #52
Anyone currently working on this ? If not I can use this to get acquainted with the codebase .

[2018-03-20 06:41] michalpristas commented on #52
Please take it

[2018-03-20 11:23] adelowo commented on #52
See #71 @michalpristas

[2018-03-20 18:28] #41 closed

[2018-03-20 18:41] bketelsen opened #73 "vendoring"
sort out vendoring
Ideally, a vgo based solution would be best, but how viable is that with buffalo in current configuration?  Research what buffalo dev does and how deep the dep integration is with buffalo.

[2018-03-21 01:39] #65 closed

[2018-03-21 07:13] marpio opened #75 "Proposal: Implement MS SQL Server storage driver"
For completeness and all SQL Server users.
Pop doesn't cover that but there is go-mssqldb.

[2018-03-21 16:38] bketelsen commented on #75
Sounds good to me.

[2018-03-21 21:08] #52 closed

[2018-03-21 21:55] arschles opened #76 "Factor all storage tests into a common suite"
We have a lot of `./pkg/storage/*/all_test.go` files that exercise pretty much the same functionality for all the drivers. We should just factor them all out into one suite

[2018-03-21 22:00] arschles opened #77 "Wire up gofmt and golint to CI"

[2018-03-21 22:16] arschles commented on #73
:+1: - afaik buffalo only generates a dep file to manage dependencies for the code it generates, but uses `go get` to build binaries that it needs when running `buffalo dev`

[2018-03-22 01:21] arschles opened #78 "Proxy Architecture Considerations"
# Athens Proxy Architecture

The Athens repository builds three logical artifacts:

1. The proxy server
2. The registry server
3. The (crude) CLI

This document is focused on discussing the systems architecture and challenges in the proxy.

Registry architecture will be covered in a different document.

Code layout and architecture, dependency management considerations, and discussion on the CLI a

[2018-03-22 05:30] arschles opened #79 "TODO: Registry architecture and considerations"
We need an issue that lays out the current architecture of the registry and considerations we need to think through in the near future for the registry (similar to #78).

To start, I know we'll need to figure out how to save the CDN metadata and upload module metadata & code to the CDN, atomically. A bit more detail about that in https://github.com/gomods/athens/issues/50

[2018-03-22 05:46] arschles commented on #73
Ref https://github.com/gobuffalo/buffalo/issues/981

[2018-03-22 05:51] arschles commented on #57
This would be a great way to get a quick test up and running for a proxy and/or a hosted registry (ACI has auto DNS support)

[2018-03-22 05:52] arschles commented on #29
@marstr great idea! Would you be up for building a [`Saver`](https://github.com/gomods/athens/blob/master/pkg/cdn/saver.go) for CDN service?

[2018-03-22 05:55] arschles opened #80 "Host Olympus / Athens"
I'd like us to host the gomods.io (and all of the other hostnames!) inside a Kubernetes cluster. I'd also like to provide the option for anyone else to host their own registry or proxy in their own Kubernetes cluster. By providing all the artifacts someone needs to install Athens (proxy or registry) on their cluster, we can do both at once 🎉!

This is a umbrella ticket for hosting Athens (both the

[2018-03-22 05:56] arschles opened #81 "Build and publish docker images for the Athens server"
We'll need to do this on the road to #57 and #80

[2018-03-22 06:00] arschles opened #82 "Milestones"
Longer term, when Athens reaches a beta release (maybe earlier, when we reach some stability), I want the project to have some milestones so we can plan each release. I volunteer as tribute to do this.

![I volunteer as tribute](https://media.giphy.com/media/54JLdulN5BOwM/giphy-facebook_s.jpg)

[2018-03-22 06:07] arschles opened #83 "Build other CDN drivers"
There are two pieces of CDN storage:

- Functionality that uploads stuff to the CDN itself ("storage drivers")
- Functionality that saves and fetches metadata about the CDN ("metadata drivers")

Storage drivers and metadata drivers can be mixed and matched. For example, you can use Azure CDN storage drivers with MySQL metadata drivers, Google Cloud Storage with Mongo, and so on...

The issue for a

[2018-03-22 07:55] marpio commented on #75
Not sure if it's that simple though... Open questions:
- Travis does not support SQL server (use appvayor and also test for windows? switch to circleci and use docker image?)
- how do we manage migrations? The cleanest way would be to let pop do it;) maybe it makes sense to wait for pop to support SQL server?
What do you think?

[2018-03-22 08:17] michalpristas commented on #78
i agree with lease approach.
i have also one point/question here, i opened that yesterday in a chat with aaron.
in case proxy is distributed across multiple nodes, and we hit cache miss.
Do we want to populate only a node which suffered from this miss or do we populate all nodes. i would go with all nodes.
Then this behavior maybe somehow changes just a bit.
instead of firing cache-fill process, w

[2018-03-22 10:15] marpio commented on #77
I can do that.

[2018-03-22 12:47] marpio commented on #31
@marstr are you on it? If not I could write these tests.

[2018-03-22 16:45] karrick commented on #31
I did this for dep a while back. If nobody is working on this, I'd be happy to tackle.

[2018-03-22 16:47] marpio commented on #75
I created an issue on the pop repo and will try to add support for SQL server.

[2018-03-22 16:47] karrick commented on #31
Also, working on `dep` I found the standard library `filepath.Walk` function has a bug on Windows. I created this library for it, and it's got some good performance results, including just working correctly on Windows:

https://www.reddit.com/r/golang/comments/83lwfs/a_quick_comparison_between_different_go_file_walk/

[2018-03-22 17:24] arschles opened #84 "Proposal: build separate binaries for proxy & registry"
We have a growing set of logic that's basically `if proxy { ... } else { ... }` which will be growing over time. I believe we're better served building separate binaries (i.e. having two `main()` functions), one for the proxy and one for the registry (and others for components to come if necessary). We already have a `cmd` directory, so my proposal is to create a `cmd/proxy` and a `cmd/registry`,

[2018-03-22 17:25] bketelsen commented on #84
how could we keep the existing "buffalo dev" workflow?

[2018-03-22 17:26] arschles commented on #42
Architecturally, here's how I think this should work:

- We use the buffalo [background workers api](https://gobuffalo.io/en/docs/workers) to submit background jobs
    - It is pluggable, with an in-memory and a gocraft/work (redis) implementation
    - We can build more if necessary
- We build one or more [grift](https://gobuffalo.io/en/docs/tasks)s to consume the queue as necessary

cc/ @michalp

[2018-03-22 17:34] bketelsen commented on #84
we can experiment and see how much "buffalo dev" is tied to the layout of the project.

[2018-03-22 21:47] #77 closed

[2018-03-22 21:54] arschles commented on #75
@marpio good points. I'll address each below

I see a few options. I'll list them below but I really want to hear what you think as well.

1. Add tests for SQL Server behind a build tag, and then add CircleCI tests to just run against the SQL server tests (we can consider moving over wholesale to circleCI later if it makes sense). This is just about what you said, except we wouldn't immediately mo

[2018-03-22 22:05] arschles commented on #84
My original thought was to put a full buffalo application into each of `cmd/proxy` and `cmd/registry`, so you would run `buffalo dev` inside of either directory. This fits nicely into the standard buffalo tooling without any modifications.

The only thing that I'm sure of with `buffalo dev` itself is that it needs the `.buffalo.dev.yml` to run, and I think it needs a `main`. I know you and @markba

[2018-03-22 22:06] arschles commented on #31
@karrick happy to have you go give it a shot 😄

[2018-03-22 22:51] markbates commented on #84
I agree with Aaron. Also, you could make a grift task in Athens that did all the docker, migration, seed, etc… then no matter happens the docks say run `buffalo t setup` the first tome. :)

[2018-03-22 23:28] arschles commented on #84
ooooh, the grift for all the migration etc... is an _awesome_ idea. thanks @markbates!

[2018-03-23 00:47] arschles commented on #84
I'll take this one

[2018-03-23 07:41] marpio commented on #75
@arschles
1. I think, if we want to ensure athens is working correctly on windows we will have to add Appvoyer integration at some point. Since SQL Server has linux support now we could probably use docker on Travis just like here: https://github.com/aspnet/EntityFrameworkCore/pull/7842/files for now and add Appvoyer later.
This is probably what I'll end up doing for the pop issue.
2. Cross-refere

[2018-03-23 18:48] bketelsen opened #87 "break out different targets into folders in the monorepo"
Add Olympus Buffalo App
Add Athens Buffalo App
Move Athens CLI App
Docs (Athens)
Docs (Olympus)
Docs (cli)

[2018-03-23 18:48] bketelsen commented on #84
See #87, close together

[2018-03-23 19:17] bketelsen opened #88 "Add Open Tracing support"
[ ] to all binaries
[ ] add OT Collector to the docker-compose file.

[2018-03-23 20:41] #49 closed

[2018-03-23 21:46] marpio opened #90 "Fix golint issues"
At the moment, golint $(go list ./...) reports quite a few issues (missing  comments and stutters).
We should run golint with -set_exit_status flag after they are fixed - see #85

[2018-03-23 21:51] michalpristas commented on #90
calling dibs on this one, unless @marpio you want to work on this one

[2018-03-23 21:57] marpio commented on #90
@michalpristas to be honest I don't think I have a good enough overview to write meaningful  comments so take it please! It would be great if you could modify travis.yaml to run with -set_exit_status as well so that we don't have to repeat this.

[2018-03-23 22:19] arschles commented on #90
@marpio if you'd like we can chat offline about writing meaningful comments and I can help! comment here or DM me on Gophers Slack (I'm arschles) if you're interested. Would love to help

[2018-03-24 06:11] michalpristas commented on #90
depending on timezone you can do the same exercise with me, whatever suits you better

[2018-03-24 06:14] michalpristas commented on #90
depending on timezone you can do the same exercise with me, whatever suits you better, i'm central europe, aaron is pacific timezone

[2018-03-24 13:17] michalpristas opened #92 "Notify Olympus on cache-miss"
When proxy encounters a request for which it does not have data it returns 404 so vgo can ask upstream VCS for requested package
At the same time, handler should fire a goroutine in which it notifies Olympus about cache miss.
Olympus will do the rest.

[2018-03-24 13:17] michalpristas opened #93 "Pull module feed periodically from Olympus"
Prepare a long-running background task which will periodically ask Olympus what's new providing last synchronization point

Proxy needs to makes initial sync request to olympus.golang.org to learn its affinity to Olympus deployment e.g amazon.olympus.golang.org

Olympus recognizes that proxy is asking for the first time and responds with following information:
- entire log
- sequence_id: which ser

[2018-03-24 13:18] michalpristas opened #94 "Report 404 for inactive/hidden modules immediately"
active/hidden flag means that download is in progress, so we return 404 to vgo and we dont notify Olympus about cache-miss

Prereq: #93

[2018-03-24 13:19] michalpristas opened #95 "Add support for disabling communication with Olympus"
If proxy is used as private there might need to disable communication with Olympus.
Provide configuration settings with the possibility to change value during runtime. Each following operation will use new configuration value

Check before contacting Olympus

Disabling means not reporting cache-misses. Proxy will still try to fetch data from olympus on regular basis and pull modules which pass the

[2018-03-24 13:21] michalpristas opened #96 "Support for Exclude"
Proxy by default fetches ALL modules reported from Olympus. Provide a way how to configure proxy with exclude configuration file
which changes this behavior

Example 1: Exclude modules
[code]
this configuration will exclude from processing all repos owned by azure and foo/bar repo.
Other repos by foo will be processed as designed

These prefixes should be supported:
[code]
**NO** regexes

[2018-03-24 13:22] michalpristas opened #97 "Rewind on configuration change"
Filewatcher for the configuration file.
When the configuration of enabled/excluded modules changes, full rewind needs to be performed.

Most simple and naive option would be to clear the history and download modules.

More optimized way would be to remove local modules which don't pass the filter fetch full history from Olymus and restore missing modules.

Prereq: #96 #93

[2018-03-24 13:22] michalpristas opened #98 "Add Deprecation tag"
Deprecation flag marks version as deprecated so it's not considered during minimal version selection process.

[2018-03-24 13:24] michalpristas opened #99 "Support for private repos"
Format of the configuration file is same as #96  but only with **+**

Each entry specified within this configuration file is considered secret and Olympus will not be informed about cache misses

Prereq: #96 #92

[2018-03-24 13:25] michalpristas opened #100 "Enpoint for fetching event log"
Provide endpoint which will accept last point of synchronization (UUID)(optional) and provides module log messages published from this point on.

When no UUID is specified Olympus replies with full history

[2018-03-24 13:25] michalpristas opened #101 "Endpoint for processing cache misses from proxies"
Provide endpoint which accepts module name and version.

Store cache misses into separate event log

[2018-03-24 13:26] michalpristas opened #102 "Construct metadata for reported cache misses"
Crawl repo for missing package and construct metadata for it
Append to module log

Prereq: #101

[2018-03-24 13:26] michalpristas opened #103 "Endpoint for CLI notifications"
Provide endpoint which can be used by CLI to report new modules

[2018-03-24 13:26] michalpristas opened #104 "Support for VCS webhook"
Provide endpoint which can be used from VCS [Github webhooks](https://developer.github.com/webhooks/)

[2018-03-24 13:27] michalpristas opened #105 "Configure github webhook to listen for tagging of Go based projects"
More information here: [https://developer.github.com/webhooks/](https://developer.github.com/webhooks/)

Prereq: #104

[2018-03-24 13:27] michalpristas opened #106 "Elaborate hooks for different CI"
Similiarly to VCS hook this will be used by most common CI tools (jenkins, travis etc.)

Elaborate possibilities of using webhook for different CIs like Jenkins, Travis etc

Output of this task is set of issues describing requirement for each CI

[2018-03-24 13:28] michalpristas opened #107 "Background synchronization job for Olympus"
To achieve consistency between different Olympus cloud deployments, each of the deployment provides a background job to keep up to speed with its peers.

The first and fundamental background job is meant for pull synchronization.

Once in every synchronization period background job will start pulling process to learn about the state of other deployments.
First time it runs it asks for whole histor

[2018-03-24 17:33] michalpristas opened #108 "Create clean buffalo app for Olympus"
Clean buffalo app for Olympus including Docker images

Use existing buffalo app for athens as example

[2018-03-24 20:43] marpio commented on #90
@michalpristas  Ok, great! I'll do my best. I'm also in the central europe timezone so I will probably ask you.

[2018-03-24 21:04] michalpristas commented on #90
great! i'm on slack most of the time. we can even schedule a call if you have questions

[2018-03-25 22:26] arschles commented on #107
I have some ideas on this - design doc incoming as soon as I can. Thanks for pinging me about this @michalpristas !

[2018-03-26 14:11] michalpristas opened #111 "Support for fetching go supported VCSs"
Go tool currently supports:
- Git
- Mercurial
- Svn (Subversion)
- Fossil
- Bazaar

Athens currently provides support only for Git. We need to enhance this functionality to catch up with go tool.
Idea: think about reusing functionality from (v)go.

edit: we currently use generic fetcher which uses go tooling for fetching packages.
This task covers all specific implementations on top of that

[2018-03-26 18:18] #90 closed

[2018-03-26 22:12] arschles commented on #88
Closed by https://github.com/gomods/athens/pull/112

[2018-03-26 22:29] arschles opened #113 "What happens if a VCS tag is deleted/modified?"
Our current design is approximately the following:

- Olympus holds module/version metadata
- Athens proxy holds cached module/version metadata and source

As we've written elsewhere, if a proxy doesn't have code cached locally, it'll go to the VCS to download it. that works without a hitch if the VCS version (on Github, this would be a git tag) content never changes. If someone does change it, th

[2018-03-27 06:13] michalpristas commented on #113
isnt CDN exactly for that? we can have backed storage connected to CDN. talking MS Stack it would be Azure Storage with Azure CDN i'm sure amazon and google have the same thing.
Flow would be like this:
proxy --  _cache miss_ --> Olympus (MS)
Olympus registers cache miss in it's append log and prepares zip in his backing storage
Olympus syncs metadata about package as well as CDN address so other

[2018-03-27 13:27] bketelsen commented on #113
On 03/27, Michal Pristas wrote:

I think this makes sense.  Olympus needs to be the system of record
everywhere.

[2018-03-27 13:36] michalpristas commented on #113
i'm going to paste here message from chat with @arschles let's discuss it here as it is all related

but i have different flow in mind
client -> proxy (cache miss) -- 404 --> client
client -- get --> VCS

proxy -- cache miss --> Olympus
Olympus, fetches code and stores into CDN

client -- get --> proxy (still cache miss as no synchronization is performed at all)
proxy asks olympus (hey do you know

[2018-03-27 17:10] arschles commented on #113
I agree with this 😄. if we put the zip in Olympus, I’m happy

For some reason I was under the impression that after our last call, we were only going to store metadata but not code in Olympus.

We should use multiple CDNs because cloud agnostic was our goal

This is the hard part. We need to decide what kind of read consistency we want across all the Olympus-es (you wrote about that below 😄) and h

[2018-03-27 17:44] michalpristas commented on #113
What i had in mind is that when you work with proxy as 'know it all' and download all modules with UUID after XX you need to solve order on and across Olympus instances.

When proxy is 'cache of previously missed packages' it does not need to know order, it just need Olympus to serve information reliably (all Os need to have same set of information but order how these are processed does not matter

[2018-03-27 18:36] arschles commented on #113
So are you thinking that this UUID has ordering implied in it? (we've talked about using a vector clock here to express causal ordering in the event log)

seems like here is where we need to do work in the multi-cloud Olympus deployment to ensure read consistency. do I have it wrong? I think I'm missing something...

I completely understand that phenomenon 😄

[2018-03-27 19:08] michalpristas commented on #113
nono you're not missing anything. this is where work needs to be done

[2018-03-27 20:13] arschles commented on #113
alrighty 😄 - we will talk offline about the consistency problem

[2018-03-27 20:18] marpio commented on #111
@michalpristas right now Athens fetches the archive from Github; the repo pkg doesn't know anything about the VCS. Should that stay this way? That would imply that athens needs to support github, gitlab, vsts, gitea etc. just for git... What if i.e. gitea api doesn't provide an option to download the zip? git pull?

[2018-03-27 22:31] arschles commented on #111
@marpio good points. I prefer downloading a zip because it'll be faster than `git clone` in many cases. Can we include support for specific VCS-es and then fall back to `git clone` (or the equivalent for other VCSs) for the rest?

[2018-03-28 06:43] michalpristas commented on #111
we should be service independent and be able to fetch anything from any public git whether its bitbucket, git or something else.
But again the same point as aaron mentioned, downloading zip is less stressful skips the boring part when the network connection is warming up (which might delay whole repo download significantly)
so I'm on the same page with aaron here, specific support for services and

[2018-03-28 06:50] michalpristas commented on #111
even if it is so simple as executing go get with custom gopath to tmp directory. this would cover all cases and we can build some more optimized way using public API on top of that

[2018-03-28 14:30] #108 closed

[2018-03-29 16:54] arschles commented on #107
The design document for the gossip protocol is [here](https://docs.google.com/document/d/1R1iCuDUF8FPZpJalewVZMjSaqWOZn37MHjssayQRQs4/edit#)

Note that this document links to [this document](https://docs.google.com/document/d/16oeQp620bn4BrhaV-DvGjoJpVHQkF3bOGEbspCW11t0/edit#), which specifically details metadata exchange

[2018-03-31 01:47] chrispickard opened #116 ""Some Additional Details" lacking a few details"
When I followed the steps in "Some Additional Details" I ran into a couple issues.
- I'm pretty sure the `athens` cli command is supposed to be `athens upload ./testmodule`
- I can't get `vgo get arschles.com/testmodule@v1.0.0` to work from a location outside the `$GOPATH` with a `go.mod` and a `main.go`. it says
[code]

I'm on ubuntu 16.04 with `go version go1.10 linux/amd64` and I ran athens wit

[2018-03-31 01:52] chrispickard opened #117 "cli needs work"
in the readme, it says "cli needs work." What work exactly does it need?
I can think of:
- additional docs
- not hardcoding the upload endpoint
- testing on the cmds?

[2018-03-31 02:09] chrispickard commented on #116
I realized I need to set `$GOPROXY`, but I'm not sure what to set it to

[2018-03-31 05:30] michalpristas commented on #116
you need to set it to: http://localhost:3000
beware or http

[2018-03-31 05:33] arschles commented on #116
Hey Chris - to add to that, the docs are generally outdated and I’ll get
them back in shape. I’m out of town for the weekend but when I get back
next week I’ll give them a pass and clean things up. Thanks 😊

On Fri, Mar 30, 2018 at 22:30 Michal Pristas <notifications@github.com>
wrote:

[2018-03-31 05:34] arschles commented on #117
Yes, those are three big ones. Top of my head I can’t think of more but
when I get back in town I’ll get a list together. Meanwhile, feel free to
PR any of those if you like. Thanks Chris

On Fri, Mar 30, 2018 at 18:52 Chris Pickard <notifications@github.com>
wrote:

[2018-03-31 05:40] michalpristas commented on #117
from my point of view, it depends where we take CLI. there are basically two options now
First one is to keep it as a tool which will help you with testing. Even then it would be fine not to have it hardcoded.
The second option is that CLI will provide alternative flow for uploading code to the private deployment of Athens. In this case, there will be much more work to do.
But at this point we do

[2018-04-02 05:56] michalpristas opened #118 "Replace Filesystem operations with Afero"
Right now we use standard library for walking through filesystem as well as for modifications/reads/writes...
As Karrick pointed out the standard library has some flaws when walk fn is used on Windows.
Afero v0.10.0 provides full Windows compatibility

Goal is to replace all occurrences of Walk, Remove, Mkdir, Tmp.... operations.

[2018-04-02 07:06] marpio commented on #118
I would like to do this.

[2018-04-02 07:11] michalpristas commented on #118
I knew you would, that's why I created this issue ;) Please go ahead.

[2018-04-02 07:20] michalpristas commented on #118
for some reason, i am not able to assign this issue to you @marpio
I assigned this to myself so it is clear that somebody is working on it

[2018-04-02 17:21] arschles commented on #118
@marpio what's left on this after https://github.com/gomods/athens/pull/70?

[2018-04-02 17:34] michalpristas commented on #118
Repo fetcher I think. I'm on the phone but can't check but I think fetcher needs work

[2018-04-02 17:39] arschles commented on #118
oh ok, thanks 😄

[2018-04-02 18:08] marpio commented on #118
Didn't you just rewrite the whole repo package @michalpristas ? Should I wait until it is in master?

[2018-04-02 18:09] marpio commented on #118
Or refactor what's in branch?

[2018-04-02 18:22] michalpristas commented on #118
If you have time to refactor please go ahead. I won't be online till tomorrow evening so I won't touch the code

[2018-04-02 18:31] marpio commented on #118
Me neither... Let's see tomorrow.

[2018-04-02 18:33] michalpristas commented on #118
Ok let's sync tomorrow about this.
Thank you @marpio

[2018-04-03 17:56] marstr commented on #29
Sure, I can do that! :)

[2018-04-03 18:01] michalpristas opened #119 "Workaround for api.github.com limits"
Using vgo fetching we are hitting limits set by github.com for anonymous users.
We need to find a way how to authenticate to github from Olympus.
As we might event hit limits set for individual users some agreement with github would be nice.

If the agreement is out of option we need to find a workaround.

[2018-04-03 18:17] arschles commented on #119
For now, let's put a token into our requests as the basic first step.

:+1:

[2018-04-03 18:32] michalpristas commented on #119
do we need some shared account? what is the best practice here

[2018-04-03 18:39] michalpristas commented on #118
@marpio #114 went in so you should not be blocked

[2018-04-03 18:44] marpio commented on #118
Great! Thanks.

[2018-04-03 18:48] marstr commented on #31
Howdy folks, sorry I was out for a couple of weeks. I can get on this and have a PR in by end of week. That is, unless @karrick already addressed this.

[2018-04-03 18:50] michalpristas commented on #31
nobody addressed it afaik. please check if the work you do does not conflict with #118

[2018-04-03 20:26] marpio opened #120 "Add codecov.io integration"
It would make easier to spot untested execution paths. Missing test could be turned into nice 'good-first-issues'.
Example: https://codecov.io/gh/restic/restic

[2018-04-04 08:46] michalpristas commented on #120
I just went through their docs. Looks nice and it is free for open source.
:100:

[2018-04-04 08:52] michalpristas commented on #87
#91 fixes this, closing

[2018-04-04 08:52] #87 closed

[2018-04-04 08:53] michalpristas commented on #84
#91 fixes this, closing

[2018-04-04 08:53] #84 closed

[2018-04-04 09:11] marpio commented on #120
I could extend travis.yml but someone would need to add the integration. A badge would be nice as well.

[2018-04-05 13:52] chrispickard commented on #117
I added support for custom upload endpoints with #121

[2018-04-05 13:53] chrispickard commented on #117
I'm not sure how to add tests for the upload cmd. What makes sense to me is end-to-end tests, not unit tests.

[2018-04-05 14:04] chrispickard commented on #81
both olympus and the proxy have dockerfiles, what else needs to happen for this issue?

[2018-04-05 14:09] michalpristas commented on #81
I think this issue covers official docker images on docker repo available for anybody to download.

[2018-04-09 06:16] michalpristas commented on #99
#95 disables communication with olympus (reporting cache misses). Pull is done automatically based on configure olympus_host settings.
Won't do

[2018-04-09 06:16] #99 closed

[2018-04-09 06:30] michalpristas opened #124 "Handle deprecated Olympus deployment"
On failed event log download from Olympus do not increase UUID of synchronization point and let it run on next pull.
Having UUID unchanged downloaded packages will not have hidden state and will be served by proxy while failed will be retried again

Remember retry count, when retry count hits a configured limit, reset:
- olympus_host
- sequence_id
- clears local db  - do not clear private repos.

[2018-04-09 06:37] michalpristas opened #125 "Push processed cache misses to other Olympus deployments"
With push synchronization, Olympus deployment notifies other deployments about the change.

In case of error, it is ignored, this will be handled by pull synchronization.

[2018-04-09 06:38] michalpristas opened #126 "Endpoint for push synchronization"
With push synchronization, Olympus deployment notifies other deployments about the change.

When olympus deployment OA receives push notification from deployment OM, OA does not increase its pointer for OM.
Next time pull synchronization happens, it will be performed with latest pull sync pointer, changes received through push notifications will be skipped due to deduplication checks.

Example:
[c

[2018-04-09 09:09] michalpristas commented on #107
updated description, based on latest discussions

[2018-04-18 11:43] gedw99 commented on #73
Vgo is working really well for my projects.
When used with make.go the 2 solve a myriad of issues for ops and CI also.

Mage.go replaces all makfiles with golang equivalents. This makes it very easy to use golang and vgo on Windows and Linux at the same time.
Then for your consideration and ops you need nothing on any machines because mage is you CLI to everything.

[2018-04-20 15:22] marpio opened #127 "Implement minio storage driver"
It would be a nice alternative to disk and DB since it is relatively easy to set it up in a distributed mode.
Ref: https://docs.minio.io/

[2018-05-08 01:13] #127 closed

[2018-05-10 20:28] marpio commented on #105
I would like to start this one.
I'm not sure about security though (how does Olympus know that the POST comes from Github). If we would use secret tokens we would have to get authorization to set up a webhook and  store the token somewhere (and syncronize between different Olympus deployments?) for every repository. Any suggestion @michalpristas @arschles ?

[2018-05-10 22:15] arschles commented on #105
I have some comments & ideas below

Perhaps we could build an endpoint specifically for Github webhooks (i.e. `/github/webhook/{project_name}`)

I'd recommend we skip this auto-setup mechanism altogether, and instead provide the repository owner a secret to use for their repository. Then, they can set up the webhook on their own.

Synchronizing the webhook secrets across deployments is definitely

[2018-05-10 22:19] arschles commented on #126
Note that https://docs.google.com/document/d/1R1iCuDUF8FPZpJalewVZMjSaqWOZn37MHjssayQRQs4/edit?usp=sharing is important background context for this issue.

[2018-05-10 23:17] arschles commented on #125
See https://docs.google.com/document/d/1R1iCuDUF8FPZpJalewVZMjSaqWOZn37MHjssayQRQs4/edit#heading=h.s9iie8sxvefx for background

[2018-05-10 23:19] arschles commented on #125
Requires #126

[2018-05-11 00:39] arschles commented on #93
Note that for production deployments, this should be a separate process and not just a goroutine - we should not run it in the same process (i.e. as a goroutine) as the olympus server

[2018-05-11 13:56] michalpristas opened #130 "Configurable Olympus instances"
We keep the membership protocol as simple as it gets: each cloud deployment will store a static list of all of the cloud providers in the global deployment, other than itself. For example, the membership list for OM is [OA, OG].

A cloud deployment consults this list to communicate with another member of the Olympus global deployment.

Simple json configuration file will be sufficient for now.

[2018-05-12 05:11] michalpristas opened #131 "Add .info to proxy payload"
At the moment when we call upload endpoint on proxy,
payload contains module (.mod) and and zip (.zip). only thing missing is .info

This task involves
- adding info to payload (pkg/payload/upload)
- modifying all .Save methods of all storages so far in place (incl interface pkg/storage/Saver) to accept and store Info bits

Follow conventions used for zip

Note: at the moment info is consturcted i

[2018-05-13 19:40] #118 closed

[2018-05-14 01:19] arschles opened #134 "Host binaries that CI uses"
Our travis config file does several `go get` requests to get CLIs that it needs (i.e. `golint`)

As @marpio pointed out, this has caused flakes. There are two options I can think of:

1. Create a docker image with these CLIs in it, and use it in CI
2. Host the linux builds for these CLIs somewhere and download them from CI

(1) is overall harder than (2) because we have to run the CI build in `sud

[2018-05-14 17:18] arschles opened #136 "Host Athens"
Athens is still in development, but it would be really nice to set CI up to deploy an Athens server from master so that folks can test out roughly what this thing can do.

[2018-05-14 20:12] marpio commented on #102
@michalpristas could you elaborate on that?

[2018-05-14 21:02] #100 closed

[2018-05-15 06:04] michalpristas commented on #102
closing, this is not relevant after simplifications we did with redesigning solution.
if you're looking for something to pick up you #100 would be great

[2018-05-15 06:04] #102 closed

[2018-05-15 06:32] michalpristas commented on #101
go ahead. assigning to myself as i cannot assign to you @marpio

[2018-05-16 21:15] marpio opened #138 "Add tests for proxy routes"
At the moment there are not tests for cmd/proxy/actions package.

[2018-05-17 20:52] marpio commented on #105
Thanks @arschles
I'll wait until the metadata and pkgs syncronization between Os is implemented so we don't invent the same thing in parallel and it's clear how it should work in details.

[2018-05-17 21:10] marpio commented on #126
What should happen with the push notification? Should it be treated just like a cache miss from proxy, stored in a separate log or processed right away?

[2018-05-17 22:43] arschles commented on #126
It shouldn't work exactly like a cache miss from the proxy. Instead, it should be processed just as if it were a pull operation, except the log pointer shouldn't be updated (it will be reported as duplicate on the next pull)

[2018-05-17 23:06] #101 closed

[2018-05-18 16:40] robjloranger commented on #131
I think I've got this, I'll be back if I run into trouble.

[2018-05-18 18:16] robjloranger opened #139 "Missing Mongo Configuration?"
Just trying to run the test suite without any changes to the source I'm getting an error about the mongo URL env variable.
`creating eventlog (missing mongo URL (could not find ENV var with ATHENS_MONGO_STORAGE_URL))`

Should there be some instructions on setting this? I have the docker images all running, `buffalo dev` works from `cmd/proxy`.
Is this even required or is this another issue masquer

[2018-05-18 18:19] robjloranger commented on #131
Just waiting on another issue before confirming this as working, #139.

In the meantime, what is the `.info` file supposed to be? Just a hidden config file or something more? i.e. `{go,mod,source}.info` There are a few places where the file name is used but I'm not sure what it should be so I'm just putting `.info` for now.

[2018-05-18 20:00] marpio commented on #139
@robjloranger
Please try setting the env vars:
[code]
You can also take a look at travis.yml for reference.

[2018-05-18 21:25] marpio commented on #131
@robjloranger it's JSON-formatted metadata about a version:
[code]
You can read about it here: [https://research.swtch.com/vgo-module](url) in the **Download Protocol** section.

[2018-05-19 05:53] michalpristas commented on #131
@robjloranger for uploading info. you do not need to know its content. please treat it as a blob storage.
once this task is done. then generating RevInfo might be replaced by reading info file.

for missing configuration please take a look at travis.yml file. there are bunch of env variables which might be of use

[2018-05-19 06:02] michalpristas commented on #131
then on each storage getter.go we do this: https://github.com/gomods/athens/blob/8ceda38ad702b86ae9cb45090273e2e22fb14cbe/pkg/storage/fs/getter.go#L26

[code]

This needs to be replaced by parsed .info file content.

[2018-05-19 15:26] robjloranger commented on #139
Should this be added to the readme? I'm happy to add it if so.

[2018-05-20 18:48] #139 closed

[2018-05-20 20:45] michalpristas commented on #126
I would prefer having one/set of workers (with a set you need to sync about what is getting processed to avoid processing same item at the same time multiple times). background job per request might turn out bad and decrease perf/
we did not think this trough but, I imagine there could be a worker fed periodically with data pulled and decoupled from other Os. this very same worker would get fed by

[2018-05-20 20:50] arschles commented on #126
Let me think this through some more and get back on Monday

[2018-05-21 19:27] marpio commented on #126
right, i didn't express myself clearly - by "creating a background job" i meant putting a job on a queue.

[2018-05-21 20:03] arschles commented on #126
Perfect. after thinking about this some more, I came to realize that's what you meant. In a production environment, we'll have workers running to consume from the job queue, and we can scale them up if the queue grows. I believe that a queue push per request is fine given that.

@michalpristas talked about this earlier today as well.

[2018-05-21 20:08] arschles commented on #126
Also @marpio I have answers to your questions (2) and (3)

OM should download it from OA, but not while it does deduplication and saving module _metadata_ (revision info, name, etc...) to its own event log. In more detail, OM should do deduplication etc... and save the module metadata in its own log. That metadata will direct to OA's source code (in OA's CDN). Then, in a subsequent background job,

[2018-05-21 21:02] marpio commented on #126
Thanks @arschles
I guess implementing all of this would extend the scope of this issue. Would it be ok if I would implement just the handler and a worker which accepts the push and does nothing at the moment?

[2018-05-21 22:53] arschles commented on #126
@marpio yes absolutely. In your PR that does part of this work, just reference this issue so we can keep track of how far along the work is.

[2018-05-29 06:03] #131 closed

[2018-05-29 22:11] robjloranger commented on #88
Can we close this issue?

[2018-05-30 08:11] michalpristas commented on #88
@arschles closing this as per previous comment mentioning PR

[2018-05-30 08:11] #88 closed

[2018-05-31 18:29] arschles commented on #40
We use [pop](https://github.com/gobuffalo/pop) for the RDBMS storage driver which supports MySQL out of the box. Closing

[2018-05-31 18:29] #40 closed

[2018-05-31 18:35] arschles commented on #134
@marpio we're using hosted CI services so can't use our own VMs right now

[2018-05-31 18:37] arschles opened #146 "[Meta] Implement drivers for the pointer registry"
https://github.com/gomods/athens/pull/144 added a "pointer registry" interface for use with the proxy (confusingly called "Athens" at the moment). Athens uses the pointers to store the last event log entry that it has fetched from Olympus, and of course it needs to persist them somewhere.

Right now there is only an interface, and we need implementations:

- ~~RDBMS's (the ones that pop supports)~

[2018-05-31 18:45] arschles opened #147 "[Meta] Implement CDN Metadata Drivers"
There are two pieces of CDN storage:

- Functionality that uploads stuff to the CDN itself ("storage drivers")
- Functionality that saves and fetches metadata about the CDN ("metadata drivers")

Storage drivers and metadata drivers can be mixed and matched. For example, you can use Azure CDN storage drivers with MySQL metadata drivers, Google Cloud Storage with Mongo, and so on...

The issue for a

[2018-05-31 19:02] arschles commented on #107
I don't think we should do constant background synchronization, because that requires complex event log logic - like orchestrating log appends with storage updates & log compaction - and I don't anticipate that we'll gain much from the effort.

To recap, we planned to do background sync to increase the probability that at any given time, a given Olympus OM will have package MxV1 if another Olympus

[2018-06-01 05:35] michalpristas commented on #107
just to point out what we discussed offline:
Athens proxies will not use event log. they will just check periodically with olympus what happened since last check and deduplicate entries based on Exists check implemented in each storage.

[2018-06-01 15:44] robjloranger commented on #146
Looking at the current interface, there is only a look up method. Should there be a set or update method as well?

[2018-06-01 16:33] robjloranger commented on #146
I'm going to start work on the in memory implementation.

[2018-06-01 20:42] marpio commented on #147
I will start with the rdbms if no one else is woking on it.

[2018-06-02 18:01] robjloranger commented on #146
Mongo is complete

[2018-06-02 19:55] arschles commented on #146
@robjloranger you are rad 🙌

checked off mongo in the OP

[2018-06-02 23:53] robjloranger commented on #146
I am starting on the FS driver.

[2018-06-06 18:29] arschles opened #154 "Tests don't run locally"
A few things:

- I run `docker-compose -p athenstest up -d` to launch all services that tests depend on
- I run `make test` and it runs `go test ./...`
    - it should instead run `buffalo test` on the buffalo apps (`cmd/proxy` and `cmd/olympus`)
- I get this error:

[code]

I think there will be other errors that come up after this one gets fixed

[2018-06-06 18:52] arschles opened #155 "Add tests for the DB diff handler"
This should be a follow-up to https://github.com/gomods/athens/pull/153. I will take this

Requires https://github.com/gomods/athens/issues/154

[2018-06-06 19:24] arschles opened #156 "Improve logging"
At least add line numbers to logs in server code.

The way to do this would be to create a new `log.Logger` with [`log.New()`](https://godoc.org/log#New). This would all be done in an `init.go` file in each package.

... and then this issue would also entail replacing `log.Abc()` calls with `logger.Abc()`

Here is an example `init.go`:

[code]

[2018-06-06 19:42] #154 closed

[2018-06-07 16:41] arschles commented on #103
Since we don't know exactly how the CLI will look, or if we'll need one, this one is on hold

[2018-06-07 16:46] arschles commented on #69
This is done, because there is no default storage type anymore in athens (see https://github.com/gomods/athens/blob/977d816c89439b4662ec2ec0444d55b1cba8a2d5/cmd/proxy/actions/storage.go#L16)

closing

[2018-06-07 16:46] #69 closed

[2018-06-07 16:46] arschles commented on #117
I am putting this on hold because I am not sure exactly how the CLI is going to look, or whether we are going to need one at all.

[2018-06-07 16:46] arschles commented on #31
I am putting this on hold because I am not sure exactly how the CLI is going to look, or whether we are going to need one at all.

[2018-06-07 16:54] lcd1232 commented on #146
I am starting RDBMS driver

[2018-06-07 16:56] arschles commented on #80
This issue is a little bit out of date, but I am leaving the OP as-is. Changes to it:

- We are likely only going to host Olympus
- I am still gonna run the Azure part of the Olympus deployment on Kubernetes long-term. Other deployments, of course, might use some other method of deployment. I just ❤️ Kube
    - Initially, I'm gonna use [azure container instances](https://azure.microsoft.com/en-us/

[2018-06-07 17:01] arschles opened #158 "Build storage driver for Google Cloud Storage"
Ref #83

[2018-06-07 17:02] arschles opened #159 "Build storage driver for AWS S3"
Ref #83

[2018-06-07 17:07] arschles opened #160 "Add CDN metadata driver for RDBMSs"
It's ok to just use the ones that [pop](https://github.com/gobuffalo/pop) supports

Ref #147

[2018-06-07 17:17] marstr commented on #31
Sorry, dropping balls over here too!

[2018-06-07 18:41] arschles commented on #31
No worries Martin! We all are busy 😊

On Thu, Jun 7, 2018 at 10:17 Martin Strobel <notifications@github.com>
wrote:

[2018-06-07 18:41] arschles commented on #146
👍

On Thu, Jun 7, 2018 at 09:54 lcd1232 <notifications@github.com> wrote:

[2018-06-07 21:43] robjloranger opened #162 "Implement CDN file system storage"
Will be capable of in memory as well by use of `afero.Fs`'s

[2018-06-07 21:44] robjloranger commented on #162
I will start on this tomorrow, will round out #147

[2018-06-08 18:12] marpio commented on #160
Isn't this solved by #151 @arschles ?

[2018-06-08 18:19] marpio commented on #162
Ups... sorry @robjloranger I've just submited a PR for this and saw this issue after that...

[2018-06-08 18:20] robjloranger commented on #162
No problem 😁 one less to do

[2018-06-08 19:45] marpio commented on #162
Solved by #164

[2018-06-10 06:31] michalpristas opened #165 "Tests for inmem storage"
While working on #132 i found that inmem storage was not able to resolve saved package (no error on save).
No problem was found with mongo implementation, first request was a miss second one was served.

Implement tests for in memory storage and verify if Save->Get works.

[2018-06-11 07:56] #165 closed

[2018-06-11 14:31] michalpristas commented on #146
just pushed FS by @robjloranger

[2018-06-11 16:12] #93 closed

[2018-06-13 15:58] arschles commented on #50
the [storage saver](https://github.com/gomods/athens/blob/master/pkg/storage/saver.go) interface exists and it's implemented in all our storage drivers. closing

[2018-06-13 15:58] #50 closed

[2018-06-13 15:58] arschles commented on #29
@marstr I am going to try to do this one today

[2018-06-13 16:12] arschles commented on #73
Check it: https://github.com/gobuffalo/buffalo/pull/1074

[2018-06-13 16:18] arschles opened #168 "Build background job to download packages from GH"
There is code in https://github.com/gomods/athens/tree/master/pkg/repo/github that can pretty much do the download, we just have to build the background job (probably do it in a grift) that uses it to download stuff (it should hook up to Redis)

[2018-06-13 17:02] marstr commented on #29
Thanks, sorry I've been busy! Feel free to ping me if you need any help with the Azure-SDK-for-Go or anything else Azure related.

[2018-06-13 17:51] michalpristas commented on #159
i want this one, yaay

[2018-06-13 19:39] arschles commented on #29
Not a problem 😊

And thanks for the offer!

On Wed, Jun 13, 2018 at 10:02 Martin Strobel <notifications@github.com>
wrote:

[2018-06-13 21:13] robjloranger commented on #158
I can look at this on Friday. I've worked with gcp and go in the past.

[2018-06-13 21:37] arschles commented on #158
Awesome, thanks Rob

On Wed, Jun 13, 2018 at 14:13 Rob j Loranger <notifications@github.com>
wrote:

[2018-06-14 17:45] bketelsen commented on #120
this is complete thank you!

[2018-06-14 17:45] #120 closed

[2018-06-14 20:31] bketelsen opened #172 "opentracing: fix operation name in olympus"
by setting operation name explicitly in handlers

[2018-06-14 20:36] bketelsen opened #173 "investigate checking error types instead of using string matching"
see:
https://github.com/gomods/athens/pull/171#discussion-diff-195561658R51

[2018-06-14 20:41] arschles opened #174 "Thread contexts down the stack"
Ref: https://github.com/gomods/athens/pull/170#discussion_r195553351

This also greatly helps us with tracing. cc/ @bketelsen

Here's an example on how to add a tracing span to a function:

[code]

[2018-06-14 20:41] arschles opened #175 "Parallelize CDN uploads"
Ref: https://github.com/gomods/athens/pull/170#discussion_r195550376

[2018-06-14 20:43] arschles commented on #174
Definitely don't have to do this all in one PR. That would be a big refactor!

[2018-06-14 20:52] arschles opened #176 "Try not to store zips in memory"
Wherever possible, we should try to stream data up to CDNs and into proxy storage. Not sure if we can stream directly from GH to CDN/storage, but we should try wherever possible.

This is an optimization that would probably help for bit modules (i.e. Kubernetes)

[2018-06-14 21:04] marstr opened #177 "Thread Context through storage.Save interface implementers"
Child of #174

[2018-06-14 21:08] arschles opened #178 "Handle CDN custom domains properly"
Ref https://github.com/gomods/athens/pull/170#discussion_r195549007

[2018-06-14 21:08] #29 closed

[2018-06-15 03:21] arschles commented on #83
Azure CDN is done! 🎉

[2018-06-15 04:14] arschles opened #180 "Remove pkg/storage/olympus"
I don't think it's used anywhere, and don't think we need it either.

https://github.com/gomods/athens/tree/master/pkg/storage/olympus

[2018-06-15 15:17] michalpristas commented on #42
this is done closing

[2018-06-15 15:17] #42 closed

[2018-06-15 20:20] #168 closed

[2018-06-17 09:32] airylinus commented on #119
May be you can use Personal Access Code, find more on github.com [here](https://blog.github.com/2013-05-16-personal-api-tokens/)

[2018-06-18 22:20] arschles opened #184 "Change the cmd/proxy to cmd/zeus & update docs, etc..."
Right now, the project & repo is called Athens, and there is a cmd/athens & we call the subproject "athens" - that name collision is really confusing! Since it's early in the project and we don't yet have too much confusion, I want to head off confusion long-term.

I'm going to change `cmd/athens` to `cmd/zeus` (since zeus was one of the olympians that lived on mt olympus.) I'm also going to chang

[2018-06-19 00:17] arschles commented on #184
Docs changed in https://github.com/gomods/athens/commit/ce5a96ddc424cfa18a75f467e68a283a3d35abaa

[2018-06-19 00:18] arschles commented on #184
This issue is almost done. Leaving it open for now in case there's any code, docs, etc... that still need to be changed

[2018-06-20 20:55] arschles opened #187 "ATHENS_MONGO_STORAGE_URL doesn't take credentials"

[2018-06-20 20:58] arschles commented on #187
scratch that, according to https://docs.mongodb.com/manual/reference/connection-string/, username and password go into the connection string. closing

[2018-06-20 20:58] #187 closed

[2018-06-20 23:27] arschles opened #190 "Consolidate all environment variable fetching at the top of the stack"
I was figuring out how to deploy Olympus and it was pretty hard to find all the env vars it uses, and which of those it requires. It'll be easier when we have docs but even then it's nicer to have things in one place.

Everything uses `envy.Get` or `envy.MustGet`, so we need to:

1. Move all those commands to the top of the stack (i.e. near the `main`)
2. ... possibly create a utility function to

[2018-06-21 00:16] arschles opened #191 "Add all required services to the Makefile "dev" target"
see the comment that starts at https://github.com/gomods/athens/pull/189/files#diff-b67911656ef5d18c4ae36cb6741b7965R20

[2018-06-21 05:19] marpio commented on #190
I would like to start this one

[2018-06-21 16:23] robjloranger commented on #162
#164 closes this

[2018-06-21 16:23] #162 closed

[2018-06-21 17:47] #175 closed

[2018-06-21 17:47] #177 closed

[2018-06-21 18:34] arschles opened #193 "Add support for Azure CDN"
This is a follow-on to https://github.com/gomods/athens/issues/29. Originally, that issue was going to support Azure CDN, but I stopped after I supported Azure Blog Storage. This would be to add support for Azure CDN.

Here's what I think most of the work would be (I'm not 100% sure how Azure CDN works):

- Add support for custom URLs per-module in the metadata driver (right now, it's the same bas

[2018-06-21 22:42] #191 closed

[2018-06-22 07:30] michalpristas opened #195 "Add support for AWS CDN"
This is a follow-on to #159. Originally, that issue was going to support AWS CDN, but I stopped after I supported S3 Storage. This would be to add support for AWS CDN.

Here's what I think most of the work would be (I'm not 100% sure how Azure CDN works):

Prereq is #193 then this task is just about applying patterns set there to S3 storage

[2018-06-25 19:34] robjloranger opened #196 "Update Travis CI/CD for GCP tests"
Travis will need to be updated to include the appengine SDK to facilitate running the tests.

As well:

- [ ] json key file for `athens-test` service account should be added, I (@robjloranger) have this <robjloranger@protonmail.com>
- [ ] `ATHENS_GCP_TEST_KEY` env variable should point to the json key file
- [ ] `ATHENS_GCP_BUCKET_NAME` should be set to `staging.praxis-cab-207400.appspot.com`

Thi

[2018-06-25 20:29] michalpristas opened #197 "Tests for push endpoints"
Child of #181

[2018-06-25 21:49] #158 closed

[2018-06-25 22:30] robjloranger opened #198 "Docs for GCP Saver"
This is for user documentation. Should include more in depth description of functionality as well as examples of real world set up and usage.

[2018-06-26 01:59] robjloranger commented on #198
in progress

[2018-06-26 18:37] #59 closed

[2018-06-29 17:31] markbates opened #203 "Please add Topics to repo"
Hi, I working on a project that will be announced soon to help with the discovery of these sorts of tools. Would you please mind adding some "Topics" to this repo? Thanks.

On GitHub you can use the "Topics" feature of your repository to tag your projects with `gobuffalo` and other category tags.

There are a few more tags that you can use that will help the Buffalo Toolkit better categorize your

[2018-06-29 17:39] arschles commented on #203
Hey Mark - I added a few more topics to describe this project, including `gobuffalo`. Screenshot below.

![screen shot 2018-06-29 at 10 38 50 am](https://user-images.githubusercontent.com/70865/42106359-a17c38de-7b88-11e8-9027-49d7ba9814ab.png)

I'm gonna close this issue now, but please comment here or open a new one if you have ideas for more.

[2018-06-29 17:39] #203 closed

[2018-06-29 17:42] markbates commented on #203
Thanks! Please update any other repos you think are appropriate to Buffalo developers. :)

[2018-06-29 21:02] robjloranger opened #205 "Finish GCP storage"
Should also implement the `Lister`, `Getter` and `Checker` interfaces to round out the driver. After which it can be used as a back end for both Olympus and Zeus.

[2018-06-29 21:53] arschles commented on #205
@robjloranger I think it only needs the `Saver` and `Getter` interface to be used for the registry, right?

I think we'd need those interface implementations for the proxy though...

[2018-06-29 22:02] #159 closed

[2018-06-30 03:52] robjloranger commented on #205
I was wondering about that. Should the driver implement both and provide two different generators? I can write up a datastore (GCP database) driver for the proxy stuff.

I just remembered the fs driver implements all of it.

[2018-06-30 04:17] robjloranger opened #206 "Allow private modules"
This was going to be an issue specific to GCP storage but I think it will probably be a lot bigger than that.

The configuration ability for just that driver is easy enough but having the saver know when something should be uploaded as private or not is another issue. I think it would require modification to the `Saver` interface.

The metadata would probably also store whether a module is private

[2018-06-30 04:21] robjloranger opened #207 "Add configurable upload timeout"
Just an environment variable like `ATHENS_STORAGE_TIMEOUT` which should be set in seconds.

Each driver implementing the `(./pkg/storage).Saver` interface should be updated to use this value. Should be 300 seconds by default when no variable is set.

This will be cleaner to implement once #190 is complete.

[2018-06-30 19:55] robjloranger commented on #207
Sweet, yep. Now just the other drivers need to be updated to use it

[2018-06-30 19:56] #207 closed

[2018-06-30 21:05] robjloranger commented on #206
I've been thinking if it does need modification, perhaps it could take a `(./pkg/storage).Module` and a bool for private. At the moment it takes a parameter for all the same fields as a `Module` so a change like this would be easier to read.

[2018-07-01 08:51] michalpristas commented on #207
yes, i will have a separate PR for that and more soon.
i did not want to mix concerns in s3 pr

[2018-07-02 02:34] robjloranger commented on #205
now in progress #208

[2018-07-03 07:09] marpio opened #210 "Stream zip up to Azure CDN/Blob Storage"
PR #200 changes the `storage.Saver` interface so that it accepts zip as `io.Reader` but the Azure CDN storage impl. uses `ioutil.ReadAll` to get a byte slice which gets then uploaded.

Change the implementation so it's possible to stream the zip directly to the CDN/Blob storage.
Reference:
https://godoc.org/github.com/Azure/azure-storage-blob-go/2017-07-29/azblob#UploadStreamToBlockBlob
UploadStea

[2018-07-03 07:13] marpio opened #211 "Stream zip up to AWS S3 storage"
PR #200 changes the `storage.Saver` interface so that it accepts zip as `io.Reader` but the AWS S3 storage impl. uses `ioutil.ReadAll` to get a byte slice which gets then uploaded.

This could probably help:
https://docs.aws.amazon.com/sdk-for-go/api/service/s3/s3manager/#Uploader

[2018-07-05 20:10] robjloranger opened #213 "Update CI/CD to deploy to development instance of the proxy"
_We still need to get up and running first._

After which we can have a continuous deployment from the tip of master.

A few things to consider:

1. Which type of deployment would be best? Using cloud based storage/database?
2. Where will we host the Olympus instance?
3. How will we handle breaking changes?

[2018-07-05 20:43] #198 closed

[2018-07-05 21:13] marwan-at-work commented on #156
Happy to pick this up and give it a shot. Feel free to assign it to me :)

[2018-07-05 21:19] michalpristas commented on #156
Feel free to start, I cannot assign it to anyone except few collaborators yet

[2018-07-05 21:29] robjloranger commented on #156
@marwan-at-work it's the usual fork > branch > PR process

[2018-07-06 07:21] michalpristas commented on #180
used in cache miss fetcher as an abstraction layer for fetching packages from Olympus

[2018-07-07 15:46] #176 closed

[2018-07-07 15:57] robjloranger commented on #174
I'm thinking if we start with just threading the context, not adding tracing as well, it should be pretty easy. Start in each app and only change one interface per PR.

[2018-07-07 15:58] robjloranger commented on #210
Closed per #200

[2018-07-07 15:58] #210 closed

[2018-07-07 18:20] marpio commented on #197
I'll take this one.

[2018-07-08 12:46] bketelsen commented on #174
that's a nice logical way to do this 👍

[2018-07-08 15:01] marwan-at-work opened #218 "Zeus: Upload Module Endpoint Does Not Cover All URL Characters"
The upload endpoint in the proxy does not account for dashes and other characters valid in a url, my github url is `github.com/marwan-at-work/somemodule` and so the upload returns a `404`.

I suggest that the endpoint should just be `POST /admin/upload` and move module path and the version to the request body.

[2018-07-08 18:18] arschles opened #220 "remove the CLI"
since the source of code is VCSs now, and the registry/proxy pulls that code in the background, we don't need the CLI anymore, since its purpose was to upload code to the registry/proxy. Right now, it's a burden for us to keep it up to date with endpoint changes, etc...

This issue is for removing the CLI code and removing the "upload" endpoints as well

[2018-07-08 18:20] arschles opened #221 "update docs"
The docs are way out of date. They include how to set up the CLI to upload code (see https://github.com/gomods/athens/issues/220 for related), etc...

The docs should be updated to show:

- How to run the registry if you want (done)
- How to run the proxy (done)
- How to set up vgo to talk to either

[2018-07-08 22:59] arschles opened #223 "The registry should check for Github repos and use the Github fetcher for it"
Other repositories can use the generic fetcher. This means the the registry should have a hard-coded check for `github.com` as the prefix for the package name

[2018-07-09 05:51] michalpristas commented on #223
i'm thikning whether we should not address #119  first

[2018-07-09 06:42] #178 closed

[2018-07-09 06:42] #193 closed

[2018-07-09 06:42] #195 closed

[2018-07-09 16:58] #96 closed

[2018-07-09 19:55] arschles opened #228 "Make the registry implement the download protocol"
I said I would do this a while ago, and then it slipped my mind 😦

@marwan-at-work I know you had interest in doing this? Let me know, and zero problems if not - I'll take care of it in that case.

[2018-07-09 20:29] marwan-at-work commented on #228
will take a stab at it : )

[2018-07-09 20:44] #220 closed

[2018-07-09 20:47] arschles commented on #119
Good question, I will look into this

[2018-07-09 20:48] arschles commented on #223
I feel like we can implement this now and figure out the tokens? What do you think @michalpristas

[2018-07-09 20:49] arschles commented on #211
@marpio now that #200 is merged, is this issue completed?

[2018-07-09 20:50] arschles commented on #206
@robjloranger did #212 address this?

[2018-07-09 20:51] arschles commented on #180
Thanks @michalpristas - I'm closing this then

[2018-07-09 20:51] #180 closed

[2018-07-09 20:57] michalpristas commented on #223
yes, but tests might fail occasionally as limits are shared.
we can skip the test for github now and allow them later.
we will need access token and maybe some kind of special deal with github, that's what we were talking about with @bketelsen a while back if i remember correctly

[2018-07-09 20:59] robjloranger commented on #206
I think it should. It originally came up for me working on cloud storage and Olympus storing module files as publicly viewable. There was a thought about having the option to upload some modules as private but I'm not sure it is necessary. With a filter Olympus should never have a reason to store a private/internal module.

Let's close it and revisit of it comes up.

[2018-07-09 20:59] #206 closed

[2018-07-09 21:00] michalpristas commented on #206
I will copy comment from another PR: Maybe this issue can cover this?

so you host your code in gitlab instance deployed within companys VPN.
your private proxy is deployed in same VPN
so it is all visible.
another way how to understand private is as a private repo in github visible to organization. in this case we need to provide a way how to make this package available through proxy. we don't re

[2018-07-09 21:06] robjloranger commented on #211
Not yet. The s3 and gcp storages still pass a byte slice to their clients.

[2018-07-09 21:44] arschles opened #232 "Look for "dead code""
Continuation of https://github.com/gomods/athens/pull/229#issuecomment-403620039

cc/ @michalpristas

[2018-07-09 22:31] arschles commented on #184
I think this is good to go. If anyone sees other changes that need to be made, please open up another issue

[2018-07-09 22:31] #184 closed

[2018-07-10 06:06] michalpristas commented on #232
Thank you 💙

[2018-07-10 06:50] marpio commented on #211
@robjloranger gcp is using Io.reader

[2018-07-10 13:19] marpio commented on #190
Does #209 close this?

[2018-07-10 13:54] robjloranger commented on #211
Oh nice 😊, I missed the io copy

[2018-07-10 14:18] marpio commented on #211
I talked to Michal. I'll take this one.

[2018-07-10 15:53] michalpristas commented on #190
I believe it does, to some extent. Next step is documenting all the things necessary to setup preferably with a script setting it for you.
Then I would consider this issue closed.

[2018-07-10 15:56] michalpristas commented on #211
assigned to you @marpio

[2018-07-10 18:53] marpio opened #240 "Implement cdn.Download"
At the moment the impl. looks  like this:
[code]
It should download module from the cdn.

[2018-07-10 19:11] #197 closed

[2018-07-10 21:24] arschles opened #241 "Make the proxy and registry return a VCS redirect on a cache miss"
A vgo API redirect looks like this (notice the `mod` in the `<meta>` tag):

[code]

And a vcs redirect looks like this (notice the "git" in the `<meta>` tag):

[code]

When the proxy or the registry see a cache miss, they currently return a `404 Not Found` HTTP response, but this breaks vgo and fails builds.

@marwan-at-work is investigating whether vgo will follow a vcs redirect from a proxy serv

[2018-07-10 22:48] marwan-at-work commented on #241
Moving some of our slack conversation findings here:

If `GOPROXY` is set, then vgo does not handle redirects. It assumes that whatever the proxy gives it is the right module data.

Furthermore, it seems that it is not strict about incorrect `/list` data. If the lines are not semver, they are simply not added. So vgo ends up returning this error: https://github.com/golang/vgo/blob/master/vendor/cm

[2018-07-10 22:50] arschles commented on #241
More slack discussion moved here:

The situation:

- vgo may not support exactly what we need, which is returning a "redirect" to a vcs
- we needed that because it would give us the opportunity to fill caches in the background
- it would be great to be able to do that in vgo b/c putting downloads in the critical path would add a lot of load to our webservers
- we could get around doing it in the c

[2018-07-10 23:12] marwan-at-work commented on #241
From the Athens side of things, whether vgo handles redirects or not, we still need to get rid of the worker logic because things need to be synchronous. Particularly the cacheMiss/cacheFetch jobs. Because otherwise `vgo` will fail and would have to say "try again in 5 minutes" 😃

[2018-07-10 23:15] arschles commented on #241
I think if vgo does handle redirects to a vcs, that’s ok because the user
will still get the code from the vcs, but the next time someone requests
the package, the user will get it from the cache.

Thoughts?

On Tue, Jul 10, 2018 at 16:12 Marwan Sulaiman <notifications@github.com>
wrote:

[2018-07-10 23:17] marwan-at-work commented on #241
ah, yes that makes sense. So the handler will return a redirect, and queue a cache fill.

But in case vgo does not end up handling redirects and we're left with the "critical path" solution, then we can just copy the data from the pipe into our own cache. But maybe im missing other ways too :D

[2018-07-10 23:21] arschles commented on #241
Those are the two options I can think of too 👍

On Tue, Jul 10, 2018 at 16:17 Marwan Sulaiman <notifications@github.com>
wrote:

[2018-07-11 08:18] gedw99 opened #242 "GoFish and Athens"
There is a nice golang system that replaces Homebrew and works on all Desktops.
https://github.com/fishworks/gofish

I know Athens is all about source packages, but its interesting that Gofish can be used for Binary Package management too.

At the moment lots of the tools gopherjs use if supported by Gofish.  They call the packages "Food" - Fish food - get it :)
https://github.com/fishworks/fish-f

[2018-07-11 08:19] gedw99 commented on #136
Yeah this would be cool !

Within a large enterprise team its also useful because you can control the versions all teams are using..

[2018-07-11 09:41] gedw99 commented on #73
I changed to using buffalo grift. Works better than mage.
Buffalo is really quite something

[2018-07-11 12:47] marwan-at-work commented on #241
After doing some digging into vgo itself, it turns out the net/http Client handles redirects automatically (up to 10 redirects https://golang.org/pkg/net/http/#Get)

Therefore, vgo can handle Proxy Redirects but not in the same HTML way described above.

From athens side of things, we still need to make sure we propagate redirects appropriately so we can track that in this issue or create a new on

[2018-07-11 12:58] marwan-at-work opened #243 "Implement Download Protocol's @latest Endpoint"
The Download Protocol mentions this endpoint `GET baseURL/module/@t/yyyymmddhhmmss` to retrieve a non-tagged package's latest RevInfo (more here https://research.swtch.com/vgo-module)

From vgo's source code, this seem to have changed to `GET baseURL/module/@latest` https://github.com/golang/vgo/blob/master/vendor/cmd/go/internal/modfetch/proxy.go#L107

Athens needs to add this URL and get the lat

[2018-07-11 13:08] michalpristas commented on #243
can we respond with 404 and let vgo handle these? we won't cache them anyway as they are not nicely versioned packages and latest does not support reproducible builds in any way

[2018-07-11 15:38] marwan-at-work commented on #243
@michalpristas As of toda, Vgo will fail if we return `404`. From a slack conversations, we have two options:

1. Have vgo ignore the GOPROXY for non-tagged modules.

Benefit: Makes Athens only work with tagged modules which makes it cleaner, easier to reason about, and encourages the community to tag their stuff.

Drawback: vgo will need to be updated for this option to work, and significantly ch

[2018-07-11 15:43] komuw commented on #232
@michalpristas
regarding;
`Totaly unrelated: I would like to scan codebase for unused packages and code to clean it up a bit (not everything unused is not needed)`
Do you have ideas on how to go about doing that?

I would like to help with athens and I'm looking for "easy" issues to start with & get my feet wet.

[2018-07-11 15:49] robjloranger opened #244 "Deleter should return ErrVersionNotFound"
Currently the (./pkg/storage).Deleter is expected to return the error `ErrNotFound` which is for a module that is not found. I think it makes more sense to return `ErrVersionNotFound` as the Deleter is attempting to delete a specific version.

for reference https://github.com/gomods/athens/blob/3504476fa17d779cc4f3df8f1861f819915a0539/pkg/storage/deleter.go#L5
https://github.com/gomods/athens/blob

[2018-07-11 15:51] robjloranger commented on #136
I guess #213 is a duplicate of this, we should close one.

[2018-07-11 17:14] arschles commented on #243
Ref https://github.com/golang/go/issues/26334

[2018-07-11 17:14] arschles commented on #241
Ref https://github.com/golang/go/issues/26334

[2018-07-11 17:32] arschles commented on #232
Hey @komuw! Thanks for getting in touch. One great place to check out is the `./pkg/user` package (https://github.com/gomods/athens/tree/master/pkg/user). We don't manage users in the system and don't plan to in the near future, but I'm not sure if any of that code is used anywhere. Anyway, if you feel like going to check it out, absolutely go for it and [ask questions](https://github.com/gomods/a

[2018-07-11 17:36] arschles commented on #242
@gedw99 thanks for bringing that up! Do you think there'd be any overlap between the two systems? It would be really cool to see if you can think of something

[2018-07-11 17:50] komuw commented on #232
thanks I will

[2018-07-11 18:01] arschles commented on #232
👍

On Wed, Jul 11, 2018 at 10:50 Komu Wairagu <notifications@github.com> wrote:

[2018-07-11 18:06] michalpristas commented on #232
oh I wrote a reply and forgot to send it :D
my plan with this was to write a simple tool, creating map packages in the solution
then scanning for imports and counting occurrences.
next step would be to manually check packages and decide whether or not they are needed.
please feel free to ping me directly if you need any help. I usually respond faster on Slack.

[2018-07-11 18:45] #173 closed

[2018-07-11 18:48] michalpristas opened #245 "Common testing ground for CDN storages"
Follow #215 as an example and introduce common testing ground for CDN storages
this covers: azure blob storage, s3 and GCP

[2018-07-11 19:03] robjloranger commented on #245
note: GCP will require an authentication key file so the tests should skip if the env variable `ATHENS_STORAGE_GCP_SA` is not set. This name may change, I think `SA` for service account is not descriptive enough.

[2018-07-12 09:05] tobiaskohlbau opened #250 "proxy: authenticity_token missing within context"
#248 defaults to disabled CSRF but the application template uses the variable `authenticity_token`. It should be evaluated if it's set and then be used within the template.

I've prepared a fix for this and will open a PR.

[2018-07-12 16:29] marpio opened #255 "Unify code for parallel uploades in S3/azure/gcp storages"
At the moment each Saver uploades .zip,.mod and .info in parallel but does this a little bit different.
It would be good to use common code for that.

[2018-07-12 17:18] robjloranger commented on #255
I agree, they are all pretty similar but it would be nice to have one implementation to keep things clean. Some thing maybe at the (./pkg/storage) level.

[2018-07-12 19:29] tobiaskohlbau opened #257 "github repo fetch nil pointer dereference"
The API call to GitHub for fetching fails with nil pointer reference in case of non gzip response (for e.g. 404 Not Found response). This happens cause `defer gzr.Close()` is called before checking the error of `gzip.NewReader()`

https://github.com/gomods/athens/blob/200ffe2a07aa5f41fa2043a1ef7bb6139400b6d0/pkg/repo/github/github.go#L146-L150

I've prepared a PR, which should follow soon.

[2018-07-12 19:37] #257 closed

[2018-07-13 05:02] robjloranger opened #259 "Add build status to README.md?"
I think this would be cool, I like the little badges for projects.

The markdown is:
[code]

Which results in [![Build Status](https://travis-ci.org/gomods/athens.svg?branch=master)](https://travis-ci.org/gomods/athens)

Maybe this could go under the "Project Status" section in the readme?

[2018-07-13 09:09] komuw opened #260 "deprecated redis client"
Athens is using redigo[1]
But from that packages github repo[2], it is marked as `This repository has been archived by the owner`. Development has moved to[3]

1. https://github.com/gomods/athens/blob/5addd3304a940c4f39042b2e1581b60aafdd4210/Gopkg.toml#L101

2. https://github.com/garyburd/redigo

3. https://github.com/gomodule/redigo

[2018-07-13 09:10] komuw commented on #260
I would like to work on this.

[2018-07-13 09:13] michalpristas commented on #260
yes please move it to gomodule/redigo.
maybe gocraft work adapter will make some troubles, but they will have a pack in moving to [3] as well

[2018-07-13 09:14] michalpristas commented on #260
if you have the issue with adapter, just raise a PR mark it as wip, and once adapter is aligned,
we will update PR and push it in.

[2018-07-13 16:36] arschles opened #261 "Make 'env.Timeout' more specific"
I think we should have separate timeouts for different services. For example, mongo connection timeouts (see https://github.com/gomods/athens/pull/216), HTTP timeouts, etc...

Continuation of https://github.com/gomods/athens/pull/254#discussion_r202407219

[2018-07-13 16:36] #211 closed

[2018-07-13 16:37] robjloranger commented on #261
Agreed, I thought that as well but forgot to create the follow up.

Web requests and DB connections should have more sane defaults, maybe 60s?

[2018-07-13 16:47] #250 closed

[2018-07-13 17:53] robjloranger commented on #31
Can we close as the CLI is gone? Or will it still be useful elsewhere?

[2018-07-13 17:56] michalpristas commented on #31
Yes, indeed.

[2018-07-13 17:56] #31 closed

[2018-07-13 19:31] marpio commented on #255
I would like to work on this.

[2018-07-13 19:33] arschles opened #262 "Split up our tests (unit, integration, end to end)"
Following https://github.com/gomods/athens/pull/256#issuecomment-404931246 and I believe there was discussion on this in yesterday's meeting (7/12/2018).

Here's my opinion on how we should split up our tests:

1. Unit tests - only operate on in-memory things
2. Integration tests - operate on services that a developer can run on their machine via docker compose
3. Full end to end - operate on ever

[2018-07-13 19:39] robjloranger commented on #255
@marpio If you don't mind including https://github.com/gomods/athens/pull/208#discussion_r202346292 we can probably get the gcp stuff in and make merge conflicts less complicated.

[2018-07-13 19:43] michalpristas commented on #262
I totally agree on that, maybe we can talk about 3. I would like to see how it works in k8s.
in my current org we have real services, isolated storages... which ofc cost money.

[2018-07-13 20:01] marpio commented on #255
@robjloranger sure!

[2018-07-13 20:30] robjloranger opened #263 "Mock GCP storage resource"
For testing purposes we should have a mock interface to allow in memory testing against the Google Cloud Storage (./pkg/storage).Backend implementation. Currently the tests require a live resource with corresponding authentication for that project. This prevents CI from running the tests and complicates things for contributors wishing to run tests locally.

For reference: s3 is mocked in #254

**U

[2018-07-13 20:30] robjloranger commented on #196
This can close for now, will likely be reopened later with a different context. Pull requests can not expose Travis secrets and it is planned to mock the GCP storage resource for tests. ref: #263

[2018-07-13 20:30] #196 closed

[2018-07-14 12:29] komuw commented on #232
@michalpristas hi, have a look at ; https://github.com/gomods/athens/pull/267
let me know if you think I missed something

[2018-07-14 22:54] robjloranger commented on #244
current implementations of `Deleter` which are missing the check/return not found:
- [ ] minio
- [ ] rdbms
- [ ] fs
- [ ] mongo

[2018-07-14 23:30] robjloranger commented on #117
cli is gone, closing

[2018-07-14 23:30] #117 closed

[2018-07-14 23:47] robjloranger commented on #240
Do you think this was meant to be an interface declaration like the Deleter in the same pkg?

[2018-07-15 00:09] robjloranger commented on #205
closed via #208

[2018-07-15 00:09] #205 closed

[2018-07-15 00:14] marwan-at-work commented on #228
Fixed by by https://github.com/gomods/athens/pull/238

However, the one endpoint that remains unimplemented by both the registry and the proxy, is the `/@latest` endpoint which is pending input from the Go team via https://github.com/golang/go/issues/26334

[2018-07-15 00:16] robjloranger commented on #160
correct @marpio

[2018-07-15 00:16] #160 closed

[2018-07-15 00:34] robjloranger commented on #126
did #181 solve this @marpio

[2018-07-15 00:36] robjloranger commented on #228
thanks @marwan-at-work

[2018-07-15 00:36] #228 closed

[2018-07-15 00:38] robjloranger commented on #116
the cli is now gone

[2018-07-15 00:38] #116 closed

[2018-07-15 00:44] robjloranger commented on #111
for git, we could use source{d} go-git library, https://github.com/src-d/go-git

[2018-07-15 00:47] robjloranger commented on #106
I this meant to be a way for projects to notify on new tagged releases?

[2018-07-15 00:51] robjloranger commented on #103
cli is gone, closing

[2018-07-15 00:51] #103 closed

[2018-07-15 00:54] robjloranger commented on #95
did #212 get us closer to this?

[2018-07-15 00:55] marwan-at-work commented on #111
@robjloranger when I was experimenting with vcs stuff, I used src-d's go-git, and it's great. However, git itself does not implement fetching certain files AFAIK.

So when vgo asks for a `.mod` file, we'd have to clone the whole repo. Which is quite costly. I just wanted to mention this somewhere as I have been playing with vcs inside athens.

On another note, if we're only working with tags, and

[2018-07-15 01:00] robjloranger commented on #83
I'm not sure about s3 but the gcp driver currently does not apply any atomicity precautions so leaving this open as a reminder

[2018-07-15 01:05] robjloranger commented on #10
cli is gone now, however see #106 for reference re: CI/CD

[2018-07-15 01:06] robjloranger commented on #8
I agree, can we close this one?

[2018-07-15 01:09] robjloranger commented on #9
would this be solved by #238?

[2018-07-15 01:11] robjloranger commented on #16
could this be solved by #132 or #182

[2018-07-15 01:12] robjloranger commented on #111
that's a great point. :crossed_fingers: for getting vcs redirects going

[2018-07-15 03:21] robjloranger opened #273 "Add build step to prevent merging conflicts"
conflicts = the artifacts marking the conflicts. ie:
[code]

A grep in bash should do the trick, like `^[<>=]{7}` would check for lines beginning with any of the `<<<<<<<`, `=======`, `>>>>>>>`

This way the build would fail when these are hiding somewhere in a toml or other 'diff collapsed by default' file.

[2018-07-15 04:50] marwan-at-work opened #275 "Introduce errors package"
Athens is quite a big project with a lot of moving parts and dependencies. We should have a consistent way to construct and communicate errors through the codebase.

We should have our own errors package with an `Error` struct holds relevant Athens information about a system error.

An Error struct can hold information about what led to the creation of that error: module path, module operation, st

[2018-07-15 07:11] marpio commented on #240
I think a simple function is okay. We could pass it to mergedb so it can be substituted in a unit test.

[2018-07-15 07:40] marpio commented on #275
Also from the same author: https://middlemost.com/failure-is-your-domain/

[2018-07-15 07:41] michalpristas commented on #95
yes and no, this one should be FCB which disables it without using filters.

[2018-07-15 07:41] michalpristas commented on #95
also you cant modify filters during runtime as for now

[2018-07-15 07:42] michalpristas commented on #106
Yes indeed @robjloranger

[2018-07-15 07:54] michalpristas commented on #8
this was planned to overcome tight coupling between import path and VCS, for example, you have pretty/printer hosted on github. so your import path is `github.com/pretty/printer`
but you don't want that. so using registry you can say I want to use gomods.io. and then we will resolve this to `gomods.io/pretty/printer`
at the point you decide to migrate to gitlab there will be no changes required no

[2018-07-15 08:01] michalpristas commented on #16
closing

[2018-07-15 08:01] #16 closed

[2018-07-15 08:02] marpio commented on #126
@robjloranger I think so. @michalpristas correct me if I'm wrong please.

[2018-07-15 08:05] michalpristas commented on #273
can we consider this fixed indirectly by #268 ?
will dep ensure fail if Gopkg files are incorrect and contain `>>>>`?

[2018-07-15 08:09] michalpristas commented on #126
yes #181  solves this closing

[2018-07-15 08:09] #126 closed

[2018-07-15 09:36] komuw commented on #259
I can work on this

[2018-07-15 09:40] michalpristas commented on #259
go ahead @komuw

[2018-07-15 14:23] #259 closed

[2018-07-15 14:38] robjloranger commented on #273
It would fail, however it won't check any other files. Go files are ok because lint will catch those. This would catch the odd edges like `.travis.yaml`, or `.md` files.

I suppose most of those file types should be show expanded diffs, so we should catch them in reviews.

What does everyone think?

[2018-07-15 15:13] #156 closed

[2018-07-15 15:13] robjloranger opened #277 "Investigate Netlify deploy connection resets"
This might just be something on Netlify's end but it makes pull requests appear to have failed.

We are experiencing an intermittent error during the put request to https://api.netlify.com/api/v1/sites/ of `read: connection reset by peer`.

[2018-07-15 15:38] robjloranger commented on #277
It could be rate limiting but I think we get 200 reqs per minute.

[2018-07-15 16:44] robjloranger commented on #277
I'm not sure there is much we can do on our end, closing

[2018-07-15 16:44] #277 closed

[2018-07-15 17:37] #260 closed

[2018-07-15 17:44] michalpristas commented on #273
i'm afraid that expanding all will result in collapsing gopkg.* manually as conflicts there are super long and unreadable

[2018-07-15 17:44] michalpristas commented on #273
but i'm not against expanding

[2018-07-15 17:48] robjloranger commented on #273
I would rather not have them expand either, so the existing check for those could stay. It doesn't check for conflicts that were committed just for errors on `dep ensure`.

But should we bother to check for conflicts committed in other non `.go` files?

[2018-07-15 17:50] michalpristas commented on #277
could you sum up your investigation? or is it mentioned throttling?

[2018-07-15 17:51] robjloranger commented on #273
updated the OP for clarity.

[2018-07-15 17:59] robjloranger commented on #277
I started by checking the status page[1] which reports nothing unusual.
I then checked the toml config options[2] to see if we were setting, or not, something that could affect this with no luck.
Then digging around on Netlify docs I found there is a rate limit[3] of 200 requests per minute whose status is returned in the HTTP response which we likely can not check as it's Travis making the reques

[2018-07-15 17:59] robjloranger commented on #277
I'm happy to reopen if you think we can find something else.

[2018-07-15 17:59] michalpristas commented on #277
Thanks @robjloranger much appreciated 👍

[2018-07-15 18:38] robjloranger opened #279 "Tests for Log pkg"
Recently #274 added a custom log package.

We need some basic unit tests.

[2018-07-16 02:59] robjloranger commented on #263
This is next on my list

[2018-07-16 07:03] michalpristas commented on #275
while reading the article I realized I've read it before, but it was a nice recap.
It would be great to have something like this with Athens but first, we need to find a common delimiter for our errors. Just like with the mentioned Upspin they developed the pkg with the problem in mind to solve.

We don't play with errors just yet so maybe our understanding of how we should approach this might be

[2018-07-16 13:42] michalpristas opened #281 "Implement download protocol on top of Github API"
The goal is to provide an adapter to github api so we can redirect in case of cache miss or a request for non-version ref (commit hash)

The flow should be like this (for zip endpoint) for module mod version v1.0.0 owned by gomods:
1. GET athens/github.com/gomods/mod/@v/v1.0.0.zip is hit and detects a CACHE MISS
1. reports cache miss to olympus
1. redirects to  athens/adapter/github/gomods/mod/@v/

[2018-07-17 16:09] arschles opened #284 "switch to envconfig for configuration"
the `./pkg/config/env` package has lots and lots of `envy.Get` (and friends) calls, with defaults, type conversions, etc...

let's remove all that duplicated code and use [envconfig](https://github.com/kelseyhightower/envconfig)

[2018-07-17 16:10] marwan-at-work commented on #284
@arschles Should we have a config struct with all of our expected environment variables?

[2018-07-17 16:12] arschles opened #285 "enable in-memory workers in the proxy"
instead of always using redis (see [here](https://github.com/gomods/athens/blob/eb0768f3fe476dd68f4635a7ad60c3e059d0ff44/cmd/proxy/actions/app.go#L145)) we should allow in-memory proxies for local development

[2018-07-17 16:41] arschles opened #287 "The fs lister lists directories, not versions"
See https://github.com/gomods/athens/blob/eb0768f3fe476dd68f4635a7ad60c3e059d0ff44/pkg/storage/fs/lister.go#L9 - it is hooked up to `/@v/list`, which should list the versions

[2018-07-17 16:59] arschles opened #288 "make the proxy download metadata and code from the registry using the standard vgo endpoints"

[2018-07-17 23:27] arschles opened #290 "Big Kahuna: Do cache fills synchronously"
We've had some discussion about whether to do cache fills synchronously or asynchronously. We've discussed how we can make a `vgo get` call still succeed if we do cache fills asynchronously (and return a 404 to the user), and created https://github.com/golang/go/issues/26334 to discuss a possibility.

I've mostly argued for asynchronously filling caches until now, but I'm changing my mind because

[2018-07-18 03:55] marwan-at-work commented on #290
@arschles if you haven't started working on it already, I've already written some of the code for how you described `/latest`. I can push that as a separate PR.

[2018-07-18 11:27] marpio opened #292 "Extract client iface for Azure backed Storage"
To enable unit tests and for consistency. ref: #254

[2018-07-18 14:41] tbpg commented on #244
I'm interested in this. I'll send a PR for `fs` first.

[2018-07-18 15:29] marwan-at-work commented on #275
I agree, we should at least have one canonical way to construct errors and then as we progress we'll see what kind of information/behavior it should have. But we should start conforming our errors before it gets outta hand :P

I'll take a stab at it today or this week

[2018-07-18 15:44] arschles commented on #275
Sounds like a plan! I see some packages where errors are pretty
standardized so I can go error-ify those and we can move in increments

On Wed, Jul 18, 2018 at 08:29 Marwan Sulaiman <notifications@github.com>
wrote:

[2018-07-18 16:16] robjloranger commented on #244
Just a heads up, after these are complete the tests will need to be refactored to align with #76.

We can't change the common test while doing one at a time or the other storages will fail. I will create a second issue for this. The smaller PRs are much easier to review.

[2018-07-18 16:19] tbpg commented on #244
:+1: Sounds good! I'd be happy to take that one, too.

[2018-07-18 16:53] robjloranger opened #296 "Move new deleter not found tests to storage suite"
With #244 completed in smaller PRs, the common storage test suite can not be updated to test for the correct error until after each storage is updated.

Part of #76

[2018-07-18 19:35] arschles opened #299 "Can we merge the cdn storage and pkg/storage interfaces?"
Not sure if this is possible since they serve slightly different use cases (proxy vs. registry), but if we could merge, it could simplify the codebase conceptually.

[2018-07-18 19:36] arschles commented on #299
Right now, this is just an item for discussion. Let's hear what people think?

[2018-07-18 19:46] arschles opened #301 "Support only tags for modules in the registry, any SHA in the proxy"
This was discussed in the July 12, 2018 meeting, and I think it's a good idea because:

- Folks should be able to choose to serve whatever code they want in their proxies - especially for internal (i.e. "behind the firewall") proxy deployments
- We want to set the standard that every module in the global registry is an official, well defined release, and a good way to establish that expectation is

[2018-07-18 19:49] robjloranger commented on #299
I can't speak for the other implementations, but for GCP if would mean having two clients for different services. One for object storage and one for database storage. This in itself is not really a big deal, just something to note.

[2018-07-18 20:49] robjloranger commented on #244
closed by #294, #295, #297, #298

[2018-07-18 20:49] #244 closed

[2018-07-18 20:52] #292 closed

[2018-07-18 20:58] marpio commented on #299
The `Deleter` interface is actually same in both and GCP has it already implemented.
I'm  not sure  about the `metadata` part. Do we need to store the URLs? Isn't the `baseURL` provided by each CDN impl. enough?

[2018-07-18 22:31] #240 closed

[2018-07-19 01:29] arschles commented on #299
@marpio I think you made a good point there - seems like one of the biggest differences between the two use cases is the getter has to return a redirect URL in the CDN case, but a stream of bytes in the storage/proxy case

[2018-07-19 01:31] arschles commented on #290
@marwan-at-work I'd love that!

I'm gonna work in increments starting with moving the fetcher logic in https://github.com/gomods/athens/pull/291 and then to putting synchronous fetches into each endpoint, so I'll skip the `/list` endpoint if you've pushed it up already

[2018-07-19 08:48] marpio commented on #299
@arschles yes but I was wondering if we need the `(./pkg/metadata/).Saver`?
Couldn't we just construct the redirect URL for a module?
So i.e. in case of AWS:
`http://d111111abcdef8.cloudfront.net/gomods.io/my/module `
where `gomods.io/my/module` is the module name and `http://d111111abcdef8.cloudfront.net/` is provided by `env.CDNEndpointWithDefault`

[2018-07-19 12:15] tbpg commented on #296
I'll work on this.

[2018-07-19 14:59] #296 closed

[2018-07-19 15:34] #232 closed

[2018-07-19 16:57] robjloranger opened #306 "Proposal: Module filter should have `ShouldSkip` or similar"
When we use the (./pkg/module).Filter method `ShouldProcess` to check that we should not process something. i.e.

[code]

I'm thinking we add a second method to improve readability like `mf.ShouldSkip(mod)`, which could even just call `ShouldProcess` and return the inverse result.

[2018-07-19 18:29] bketelsen opened #307 "proxy: go get should return different errors for "not found" vs "on blacklist""
proxy should return a not found error for a package that isn't found
the error for a package that is on the blacklist should be different from the "not found" error, to allow the go client to discriminate properly between non-existing packages and packages prohibited by proxy policy.

[2018-07-19 18:43] arschles commented on #275
I wonder if https://github.com/pkg/errors would be useful here?

[2018-07-19 19:12] Kunde21 opened #308 "Deduplicate cache fill requests to avoid cache stampede in proxy"
Large and heavily-used projects will have users with automated update mechanisms, leading to a flood of requests for the newest tag.  Proxy & Olympus need to be able to identify duplicate requests and only fill cache from VCS once.

Initially, we can simply block all duplicate requests until the module is downloaded (#290), but this will become more complicated when working with streams (#281).

[2018-07-19 19:41] arschles commented on #307
Agree. Personally I think we should make 403 Forbidden the standard for anything on the exclude list in the proxy

[2018-07-19 19:43] fedepaol commented on #287
Hey, can I grab this to start cutting my teeth?

[2018-07-19 19:49] robjloranger commented on #287
Please do, let us know if you have any trouble.

[2018-07-19 19:53] arschles commented on #308
Totally agree. Taking inspiration from https://github.com/golang/groupcache, I have a rough proposal (which I'm pretty sure needs work!).

The basic idea is that we build a distributed lease on which any process can watch for release events. Then, when a server receives a `go get module@version` request:

1. Check for `module@version` in storage. If it exists, return it and stop. If not, continue

[2018-07-19 22:03] Kunde21 commented on #308
I'm hesitant to put the fetch logic on the request side of the interaction.  If we keep the fetch on the storage side, we can keep the retry logic there.  That also allows us to register failed requests to a background worker that performs the retry with back-off and/or fill from elsewhere in the athens system.

As a wrapper around the storage backend, the "cache-warmer" would implement `storage.L

[2018-07-19 22:38] robjloranger commented on #287
Thanks so much, sorry for the confusion.

[2018-07-19 22:38] #287 closed

[2018-07-19 22:41] arschles opened #309 "We should have a private module filter for the proxy"
We have an exclude list which tells the proxy to not return a module that matches a pattern on the list now. We also need to implement a list of patterns that the proxy can use to determine if a module is "private" - this means that it shouldn't ask for the module from upstream (the registry) and instead should directly fetch them from the VCS (with `go get`)

[2018-07-20 14:03] marpio commented on #309
@fedepaol relevant issue: https://github.com/gomods/athens/issues/96 and PR https://github.com/gomods/athens/pull/212

[2018-07-20 14:36] tbpg opened #310 "proxy: Provide authentication mechanism"
Thinking of something like this: https://docs.npmjs.com/private-modules/ci-server-config.

Possibly related: https://github.com/golang/go/issues/26232.

[2018-07-20 17:01] arschles commented on #309
@fedepaol please do! and unlike last time, this one is not going to go away or become obsolete 😄

[2018-07-20 17:50] ryancox opened #311 "Implement a proxy 'admission controller'"
Allow users of the proxy to implement a webhook that codifies their policies for allowed packages. Prior to populating the cache, the webhook would be consulted and the request would either be allowed or failed and a 403 or something similar returned.

Examples of policy rules:

- No GPL enforced via a library like https://github.com/ryanuber/go-license
- No high entropy string enforced via a libr

[2018-07-20 17:52] arschles commented on #311
Thanks for bringing this up @ryancox! It would be a great addition to the proxy.

Related issues:

- https://github.com/gomods/athens/issues/96
- https://github.com/gomods/athens/issues/309

[2018-07-20 18:03] arschles opened #312 "Remove the fetch route, handler & gomod parser"
The fetch route is [here](https://github.com/gomods/athens/blob/b1f178072f482cf69b7111a6366db383ad62c0c2/cmd/proxy/actions/app_proxy.go#L25) and the handler is [here](https://github.com/gomods/athens/blob/b1f178072f482cf69b7111a6366db383ad62c0c2/cmd/proxy/actions/fetch.go#L20)

This handler was used by the CLI (which is obsolete and was removed), and we don't need it anymore. This issue is for rem

[2018-07-20 18:15] #255 closed

[2018-07-20 18:41] ryancox opened #315 "Support a push to registry model"
Rather than operating only as a pull-through cache, populate the registry via an explicit push operation.

![untitled drawing](https://user-images.githubusercontent.com/111244/43019383-9ef82ca0-8c11-11e8-9f43-3dcd9838e5e5.jpg)

This would be conceptually similar to artifactory's [go-publish command](https://www.jfrog.com/confluence/display/CLI/CLI+for+JFrog+Artifactory#CLIforJFrogArtifactory-Publi

[2018-07-20 18:43] arschles commented on #315
@ryancox are you thinking the package deployer component would build the zip, `go.mod` and `.info` files? or would the registry do that?

[2018-07-20 18:45] ryancox commented on #315
The deployer would do that... It would be a totally separate concern.

[2018-07-20 19:44] arschles commented on #290
We're breaking this up into a few pieces:

- Cleanup: refactor the fetcher logic (https://github.com/gomods/athens/pull/291)
- Cleanup: remove the proxy fetch handler (https://github.com/gomods/athens/pull/314)
- Install synchronous fetcher logic in the various endpoints as necessary
- Implement the `/list` endpoint (https://github.com/gomods/athens/pull/300)

[2018-07-20 19:45] marwan-at-work commented on #262
For my dev set up I'd like two things:
1. Have one command to bootstrap only things I need to run in dev mode. At this point: it's just redis, mongo, jaegar and the registry/proxy servers. And another command to tear down everything and remove persistent data (docker volume prune)

2. Have a clean slate backdoor to not have to take down everything and reboot everything once again just so that we h

[2018-07-20 20:20] ryancox commented on #312
is there a gomod parser library elsewhere that could be used / improved?

[2018-07-20 20:36] arschles opened #317 "`make test` doesn't run tests in ./pkg"
There's a lot of logic in there, and `make test` should run it. It will need to set some environment variables

[2018-07-20 20:41] arschles commented on #281
We are going to do synchronous cache fills (see #290), so redirecting will be less necessary and IMO we should prefer to be the authoritative source of module source code and metadata.

Streaming from Github would be an interesting optimization if we can do it, though - we could stream to the client as we also fill the cache. We'll need to measure that against just `go get`-ing code onto disk and

[2018-07-20 20:43] arschles commented on #262
@marwan-at-work I feel like our test code and test/dev dependencies are related enough to keep in the same issue for now. Would you be up for PR-ing the command to start up things only needed in dev mode? That'd be a good start down this path.

[2018-07-20 20:44] arschles commented on #223
I am going to close this, since as part of #290 we are going to fill caches with only `go get` calls. That way, we don't have to write any logic to parse imports, etc...

[2018-07-20 20:45] arschles commented on #94
@michalpristas can you up date on where we are for this?

[2018-07-20 20:46] arschles commented on #82
cc / @ryancox

[2018-07-20 20:46] arschles commented on #81
@chrispickard sorry for the extremely late response on this. What @michalpristas said is correct - it would be adding something to CI/CD in order to build/push our docker images up to dockerhub

[2018-07-20 20:47] arschles commented on #1
I think this is done? @bketelsen can you close if so?

[2018-07-20 20:48] arschles commented on #8
I am going to leave this open for now, as this is a planned feature for the longer team. I'm even assigning a milestone to it!

[2018-07-20 20:49] arschles commented on #9
I think it is? @bketelsen can you close if you agree?

[2018-07-20 20:50] arschles commented on #106
This is related to #10

[2018-07-20 20:51] arschles commented on #73
@gedw99 would you be interested in trying this out?

[2018-07-20 20:52] arschles commented on #75
@marpio are we waiting for https://github.com/gobuffalo/pop/issues/40 still? I am going to move this to the v2 milestone for now, and if we get mssql support before then we can move it back in

[2018-07-20 20:53] arschles commented on #76
@michalpristas you did some work on this, right? I think it's done? If so, can you close?

[2018-07-20 20:55] arschles commented on #242
Ref https://github.com/fishworks/gofish/issues/97

[2018-07-20 20:56] arschles commented on #242
@gedw99 I am going to close this for now. Feel free to comment here if you can clarify how this would work or give some more ideas on https://github.com/gomods/athens/issues/242#issuecomment-404251560

[2018-07-20 20:56] #242 closed

[2018-07-20 21:07] marpio commented on #75
Which is waiting for https://github.com/jmoiron/sqlx/pull/406 It will take a while probably so moving this is definitely a good idea.

[2018-07-20 21:27] arschles opened #318 "Make disk refs clean up their entire gopath"
After https://github.com/gomods/athens/pull/291, there will be a `diskRef` type that implements `(./pkg/module).Ref`. These `diskRef` types are intended to read a mod, zip and info from disk into memory and return them to the caller. They're also used to clean those files up but they don't do so completely. This issue is for making their `Clean` method able to clean up the entire path that they ow

[2018-07-20 21:49] arschles commented on #290
Ok right now I have a ton of PRs up that attack this problem, and I've opened some against other branches. Here's how it all looks:

- The root of everything is https://github.com/gomods/athens/pull/291. That's the thing that needs reviewing first 😄
- #319, #316 and #314 are opened against #291 and they need #291 merged before I can continue with them

[2018-07-21 21:13] fedepaol commented on #309
I gave a quick look at https://github.com/gomods/athens/pull/212 . What I would try to do is to extend the domain of the current filter (now +/- ) with a p maybe?

Something like
- a
+ a/b/c
p a/b/c/d

Would mean that a/b/c/d will never be looked for in olympus an fetched directly from the vcs.
Does it make sense? To me it feels better than having a different filter file.

Can I try to proceed wit

[2018-07-22 21:41] fedepaol commented on #309
New question, sorry @arschles :-(

I am looking at https://github.com/gomods/athens/blob/db7a318a6f1944640b4474f3df3a83332d74f271/cmd/proxy/actions/app_proxy.go#L21 and https://github.com/gomods/athens/blob/db7a318a6f1944640b4474f3df3a83332d74f271/cmd/proxy/actions/cache_miss_handler.go#L25

My understanding of the current status of the proxy is that when there is a miss in the local storage, alig

[2018-07-23 15:58] arschles commented on #309
Hey Federico - I’m traveling today and going to be offline tomorrow morning
so hopefully someone else can give more detail.

We’re going to begin filling caches synchronously soon, so if there’s any
way you can design the filter so that it can be applied later after the
synchronous implementation gets merged, that would be the best option.

There are a few PRs open that show how the async => sync

[2018-07-23 20:06] fedepaol commented on #309
Grazie!
Also, does my suggestion of extending the current configuration instead of
adding a new one make sense (
https://github.com/gomods/athens/issues/309#issuecomment-406823918)?

Il lun 23 lug 2018, 21:26 Aaron Schlesinger <notifications@github.com> ha
scritto:

[2018-07-23 21:05] fedepaol commented on #309
Update: I gave a look at all the stuff attached to the big Kahuna (https://github.com/gomods/athens/issues/290) and after discussing with @marpio I am pretty convinced that the big stuff is not implementing the new filter but putting the feeding the proxy with the local vcs in place.
For this reason, I would try to pick something else and wait for this one.

PS: thought that first bugs were easier

[2018-07-24 08:30] marpio commented on #245
Small hint - the client interface and the newWithClient function aren't exported. They would need to be to be used in a common suite.

[2018-07-24 09:43] marpio commented on #262
I was thinking, maybe we could use minio for almost everything. We already have storage backed by minio. It is s3 compatible so in theory we could use it a CDN storage for the registry (not sure if aws-sdk can be used to talk to minio though). The only thing that's missing is the event log impl. on top of minio (at the moment mongo only). Then we would only need minio, redis and jaeger for proxy a

[2018-07-24 12:04] tbpg opened #324 "Add tracing to functions with a context.Context"
See #174, which threads contexts throughout the project.

Starter list (there are more outside of `storage`):
- [x] `storage.Exists`
- [x] `storage.Delete`
- [x] `storage.Get`
- [x] `storage.List`
- [x] `storage.Save`

From @arschles on #174:

----------------

I'll start with `List` and `Save`.

[2018-07-24 12:18] manugupt1 commented on #324
Hi @tbpg, I had like to take a look at this issue!

[2018-07-24 12:20] vagruchi commented on #317
Hi. Does somebody work on it? I'm interested in.

[2018-07-24 12:59] tbpg commented on #324
`buffet` works with `buffalo.Context` for requests. So, we'll need to use the tracing library directly to add the spans. Should we use `opencensus` or `opentracing`? `buffet` seems to use `opentracing`, so should we continue with that?

Here's how to create an `opentracing` span:
[code]

Here's how to create an `opencensus` span:
[code]

The APIs differ in how to create tracers, tags, & metrics, b

[2018-07-24 14:15] robjloranger commented on #317
Please go ahead @vagruchi, let us know in slack if you run into problems. We are usually quicker to answer questions there.

[2018-07-24 14:20] robjloranger commented on #245
There is no `newWithClient` in GCP, and the new `Bucket` interface is exported. After #263 my above comment will not be as relevant. There will be a `NewMock` or similar function to return a mock implementation for GCP tests.

[2018-07-24 14:21] arschles commented on #324
Please do!

On Tue, Jul 24, 2018 at 07:18 Manu Gupta <notifications@github.com> wrote:

[2018-07-24 15:39] fedepaol commented on #309
Lol no worries! I won't give up!

Il mar 24 lug 2018, 16:27 Aaron Schlesinger <notifications@github.com> ha
scritto:

[2018-07-24 20:37] marpio commented on #262
I was actually only thinking about the development setup @arschles sorry for not being clear on that.
It would be nice if we would only need minio, jeager and redis for the proxy and registry development env.
We still need the others dependencies for tests.

[2018-07-24 20:48] marpio commented on #245
@robjloranger you're right. I was thinking about the azure CDN implementation.

[2018-07-24 21:08] fedepaol commented on #245
I will take this one!

[2018-07-24 21:35] marpio commented on #245
I think CDN storages could have a separate suite since they have some functionality that other storages don't have i.e. getting the URL. So maybe this could be done without implementing the full Backend interface for azure and s3 before @robjloranger ?

[2018-07-24 22:28] robjloranger opened #325 "proposal: rename pkg/cdn"
`pkg/cdn` is really just metadata drivers, so I propose that we rename this package. Similar to `pkg/storage`.

The contents of `pkg/cdn/metadata` would be moved to into `pkg/cdn`, the now empty `pkg/cdn/metadata` would be deleted and then the package directory `pkg/cdn` would be renamed to `pkg/metadata`.

Then all references would need to be updated to reflect the new package path.

[2018-07-24 23:06] arschles commented on #325
Agree - after we rename or merge somehow with `./pkg/storage/cdn` or something else (#299) we should document how we use CDNs because it's confusing. here are the ways:

- we use the CDN as a web server that we redirect vgo to. the web server implements the download protocol
- we use the CDN as a database that we use to store zip, info and mod files in

sidenote: I wonder if there's a way to combi

[2018-07-24 23:07] arschles commented on #299
Check out https://github.com/gomods/athens/issues/325#issuecomment-407580216 for another idea

[2018-07-24 23:09] arschles commented on #299
@marpio I don't remember that code super well, but iirc I think we could construct the URL, but `Saver` implementations saves it to the CDN metadata storage too.

[2018-07-25 00:55] robjloranger commented on #324
:+1: for using opentracing until we fully convert to threading the buffalo context.

[2018-07-25 02:35] manugupt1 commented on #324
Got started on it here: https://github.com/gomods/athens/pull/326

The GET function touches a lot of other backends as well as the context was not defined earlier, so I am going to hold it off for a different commit.

[2018-07-25 03:05] kengbailey commented on #285
I'll go ahead and take this as my first PR. I'm able to build the run the proxy using `buffalo dev` so I should be all setup.

Seeing as this has the "good first issue" tag, I don't want to over think this. The solutions is probably much simpler than I'm thinking right now. I see that the proxy is currently using `buffalo/worker.Worker` with a redis backend. I have two questions:

1. By in memory

[2018-07-25 06:45] arschles commented on #285
Hey Ken - awesome that you’re joining us - welcome!!!

You asked and answered your two questions 100% correctly 😊

One note to keep in mind as you implement - can you make sure that folks
can configure whether they want in-mem or redis using an environment
variable?

On Tue, Jul 24, 2018 at 20:05 Ken Bailey <notifications@github.com> wrote:

[2018-07-25 06:49] arschles commented on #325
This seems like it’ll make things a little more understandable in our
codebase so +1 from me

On Tue, Jul 24, 2018 at 15:28 Rob j Loranger <notifications@github.com>
wrote:

[2018-07-25 13:32] robjloranger commented on #285
:+1: see https://github.com/gomods/athens/blob/master/pkg/config/env/ for examples regarding our env package, https://github.com/gomods/athens/blob/master/pkg/config/env/redis.go for the current redis ones.

[2018-07-25 13:55] marwan-at-work opened #327 "move defined errors into pkg/errors"
now that we have pkg/errors, we should move all user defined errors such as storage/NotExist into pkg/errors

[2018-07-25 13:57] marwan-at-work opened #328 "introduce logging middleware"
now that we have our own logger, we should introduce a Buffalo middleware for our logger that injects sane default into a log `Entry`. This is so that whenever there's a SystemErr not only do you see the information about the error (module, operation etc), you see the request details that caused this error: http-path, http-method, request-id etc.

The question now is that should we pass the logger

[2018-07-25 14:05] robjloranger commented on #328
I'm thinking update the handlers, I'm not a fan of magic 😬

[2018-07-25 18:16] arschles commented on #328
+1 to @robjloranger - I definitely think we should pass loggers into the handlers by updating them, rather than in the context. I think it's a little more work to write but later on, easier to read. All that is subjective of course :)

Regarding the middleware, I like this idea but there's also a buffalo logger built in ([here](https://github.com/gomods/athens/blob/27bbc3f42f683da78d766361656caaf2

[2018-07-25 18:17] marwan-at-work commented on #328
@arschles we already implement our own, which is what `log.Buffalo()` returns. This is only for dev purposes as we should not log anything from buffalo in production.

[2018-07-25 18:18] #275 closed

[2018-07-25 18:21] marwan-at-work commented on #328
@arschles @robjloranger to be clear, this logging middleware should not *log* anything to Stdout. It should only populate the logger with sane Entry Fields :)

[2018-07-25 19:47] marpio commented on #299
@arschles I still don't quite understand why do we need the metadata.Saver I'm on phone so not 100% sure but I don't think we use any of the implementations now. Should i.e. the azure storage save the URL in it's Save function? This isn't the case now.

[2018-07-25 20:08] marpio commented on #325
@arschles so if the proxy doesn't have the module in cache, it asks Olympus for it and gets a URL to which vgo can be redirected. Is that what you mean?
If that is the case, what happens if Olympus doesn't have it - does proxy wait until

[2018-07-25 20:48] arschles commented on #324
@robjloranger is there an issue for fully convert to threading the buffalo context? If not, after #326 is merged, we should start talking about that in here

[2018-07-25 20:50] robjloranger commented on #324
#174

[2018-07-25 20:57] arschles opened #329 "Return a diskRef that can delete the entire gopath root"
After #291, the disk ref (in `./pkg/module/disk_ref.go`) will return a `diskRef` that will clean up the zip, info and mod files. It should delete the _entire_ GOPATH root directory that it owns

[2018-07-25 21:03] arschles commented on #329
Also, when this is done, the `TestGoGetFetcherFetch()` test in `./pkg/module/go_get_fetcher_test.go` should be updated to test that the entire GOPATH is deleted for that ref

[2018-07-25 21:43] arschles opened #330 "Proposal: get rid of the storage.Connector"
I'm not sure about this one. Do we need a separate `Connect()` function, or is it ok to connect automatically when we create a new `Saver`, `Lister`, etc...?

[2018-07-25 22:21] robjloranger commented on #330
I like just connecting on creation, this gives the caller a ready to use `Saver` etc

[2018-07-26 00:52] manugupt1 commented on #324
@tbpg Just finished all of the items on the check list.
I have added a few more in this PR: https://github.com/gomods/athens/pull/332

Would you like me to just add for everything else in the storage package like GCP?

[2018-07-26 01:00] manugupt1 commented on #324
There is another one remaining which is the olympus backend?

[2018-07-26 01:39] kengbailey commented on #285
@arschles @robjloranger Thanks 😊👍

[2018-07-26 18:04] robjloranger commented on #76
Just missing the clouds: azure, GCP and s3. Azure and s3 are incomplete implementations so could be skipped leaving the contributor who finishes them to add their tests to the suite. Only GCP has full tests but is waiting on #263 before we can move the tests over to the common suite.

**TL;DR** we can probably close and enforce using the suite on future PRs.

[2018-07-26 19:32] robjloranger opened #334 "CDN metadata in memory driver"
the last piece of #147 is the in memory driver.

This could be as simple as using the existing file system implementation but passing in an `afero.NewMemMapFs` to the (./pkg/cdn/metadata/fs).NewStorage when in memory is desired.

[2018-07-26 19:55] lcd1232 commented on #146
@robjloranger 1-2 days

[2018-07-26 20:21] robjloranger commented on #172
Also maybe the service name should be changed from `athens` to `olympus`.
ref: https://github.com/gomods/athens/blob/ab9a4c0f4197d7e721a757250e506eae611d08c3/cmd/olympus/actions/tracing.go#L31

[2018-07-26 20:28] arschles opened #335 "Clean up ./pkg/repo"
Now that #291 is in, all of the code in `./pkg/repo` has been refactored for use in #290 and moved to `./pkg/module`. This issue is for removing all of `./pkg/repo`.

A lot of code up the stack relies on `./pkg/repo`, so of course that code will need to be removed as well (see https://github.com/gomods/athens/issues/312). Dependent code goes all the way up to asynchronous workers (also part of #29

[2018-07-26 20:56] arschles commented on #312
@ryancox yes, it's in a package inside `golang/go`, I think an `internal` package. We're going to delegate as much of this as possible to calling the `go` CLI so we don't have to depend on code inside of the go toolchain

cc/ @rsc @marwan-at-work, both of whom have been part of discussions on this topic

[2018-07-26 20:57] arschles commented on #312
This is a subset of #335, closing

[2018-07-26 20:57] #312 closed

[2018-07-26 21:02] arschles commented on #335
I'll take this one

[2018-07-26 22:33] fedepaol commented on #263
Almost done with this.
Question for @robjloranger : should I entirely replace the tests against gcp or should this live together with them?

[2018-07-26 22:41] robjloranger commented on #245
@marpio I *believe* this is for the whole `Backend` interface. If #215 is an example. Are not all sub packages of (./pkg/storage) meant to be a `Backend`? Maybe @michalpristas can clarify?

[2018-07-26 22:46] robjloranger commented on #263
I think you should replace them entirely, and even move them into the common suite. Then anything important that is not being tested under that could be as a pkg level unit test.

[2018-07-26 22:48] fedepaol commented on #263
How about doing this in two steps? Replacing the tests with the mock and
then moving them into the common ground

On Fri, Jul 27, 2018 at 12:46 AM, Rob j Loranger <notifications@github.com>
wrote:

--
--------
Federico

[2018-07-26 22:48] robjloranger commented on #263
Sounds great, keep it small :grinning:

[2018-07-26 22:54] robjloranger commented on #284
I think so @marwan-at-work. What do you think about using an init to first load the config, then the subsequent calls can return needed variables?

[2018-07-26 23:11] robjloranger commented on #329
is this a duplicate of #318?

[2018-07-27 00:07] robjloranger commented on #146
Awesome, no rush @lcd1232. just wanted to touch base and see if you were still working on it.

[2018-07-27 00:31] robjloranger opened #339 "Remove tracing spans added to handlers"
I want to verify with @bketelsen before moving on this.

The documentation for buffet say's that the buffalo middleware handles instrumenting tracing spans in the handlers. If that is the case we should remove the added spans. They were however added by Brian so I am confused :smile: Lets discuss.

ref: https://github.com/bketelsen/buffet#usage

[2018-07-27 05:54] marwan-at-work opened #340 "Create Test Repos in gomods org"
We should create test repos with certain tags so that we can test against them in various scenarios such as download protocol, git fetching etc.

TODO: Adjust goget_test.go

[2018-07-27 15:42] bketelsen commented on #339
You should add child spans when you want visibility into the child function.  If you don't add a new span, you'll see the parent span with timing, logs, etc for the whole execution.  If you add children, you'll get visibility into each called function.

[2018-07-27 15:53] arschles commented on #339
I think we should add to child functions wherever possible. We're going to have this code running in the wild in lots of different contexts (no pun intended 😆) so the more visibility the better

[2018-07-27 16:01] robjloranger commented on #339
I talked with Brian in slack and he cleared it up. Because we are calling functions to return our handlers the span and operation has to be manually set.

[2018-07-27 16:01] #339 closed

[2018-07-27 21:39] #290 closed

[2018-07-27 22:53] arschles opened #348 "Convenience package to wrap tracing & logging (and metrics?)"
@bketelsen @manugupt1 @carolynvs @Kunde21 @marwan-at-work and I discussed today building something that can combine our logger and opentracing (and https://github.com/bketelsen/buffet)

Maybe something similar to https://github.com/bketelsen/trace

[2018-07-27 22:54] carolynvs commented on #348
`allthethings.doit()`

[2018-07-27 23:17] manugupt1 commented on #174
https://github.com/gomods/athens/pull/346

The above PR fixes it!

[2018-07-28 01:12] arschles commented on #241
We decided in #290 that we're going to fill caches synchronously, so we don't need to do redirects for that purpose. We still may need to have the proxy redirect the go CLI to the registry, but I am going to open a separate issue for that.

Also, the go CLI will not respect the HTML I referenced in the OP, when GOPROXY is set. I'll open a new issue for that too

[2018-07-28 01:12] #241 closed

[2018-07-28 01:14] arschles opened #349 "Make the proxy redirect to olympus on cache misses"
If the proxy does not have module@version on its exclude list and not on its private module list, and it doesn't have it in its cache, it should redirect the go CLI to olympus

Continuation of https://github.com/gomods/athens/issues/241

[2018-07-28 01:15] arschles opened #350 "Make the go CLI respect "redirect" HTML metadata tags"
When GOPROXY is set, the go CLI won't do a `?go-get=1` request and so won't get the HTML redirect metadata. We need it to do that so that the registry works out of the box. Ideally, I'd like the go CLI to have another setting (or hard-coded) a URL to the registry that it hits with `?go-get=1`, so that we can serve the HTML

This is a continuation of https://github.com/gomods/athens/issues/241

[2018-07-28 18:31] arschles commented on #350
cc/ @bketelsen - we have discussed embedding or adding configuration to the go CLI to respect "built in" (or configurable) URLs for public registries

[2018-07-28 18:32] arschles commented on #262
@marpio that makes sense. What do you think about making unit tests completely free of outside dependencies? For example, #343 is removing all dependencies on external GCP, we could do the same thing for RDBMS, Jaeger, and so on. I'm not sure if this is wise but I want to hear what you think

[2018-07-28 19:39] andybons opened #351 "Security sections in the design documents"
There don’t appear to be sections for security (threat models, mitigation, etc.) in the design documents (https://github.com/gomods/athens/blob/master/REGISTRY.md and https://github.com/gomods/athens/blob/master/PROXY.md).

I heard from @carolynvs that @erikstmartin has been thinking extensively about this. It would be great to get those thoughts “down on paper” and in the public domain.

Thank yo

[2018-07-28 20:44] arschles commented on #351
Thanks for bringing this up @andybons. You are absolutely right, we have only talked in very high level terms on video chats that were completely not in the public domain, and we need to get those thoughts down on paper.

Until we can get some precise language down, here's a really rough summary of what I remember we've talked about. None of this is final and I might have forgotten things or plain

[2018-07-28 23:08] arschles opened #353 "Add end-to-end test for the proxy to CI"
Now that #290 is done, a `GOPROXY=proxyurl go get stuff` works against a running proxy. We should totally do that in our CI tests!

cc/ @carolynvs since you were interested in this

[2018-07-29 00:00] rchakra3 commented on #318
I'd like to work on this!

[2018-07-29 16:14] marwan-at-work opened #355 "Make the zip's io.ReadCloser delete the entire goPath"
Currently the buffalo handlers don't know anything about disks and refs as they are low level implementations of getting modules. However, we need a way to ensure things are cleaned up once a module is fully used.

Therefore when `diskRef` returns a *storage.Version, we should have the io.ReadCloser of its zip be able to delete the entire temp gopath since there's practically no need for that path

[2018-07-29 16:23] marwan-at-work opened #356 "Encode/Decode path according to Go Modules"
Modules are encoded in a weird way for upper case packages and currently they blow up on athens. We probably need to copy/paste from go's repository or implement our own encode/decoder

This is from `go help goproxy`

the < module > and < version > elements are case-encoded, replacing every
uppercase letter with an exclamation mark followed by the correponding
lower-case letter: github.com/Azure e

[2018-07-29 16:26] marwan-at-work opened #357 "Mongo: stream zip modules"
Our MongoDB implementation of storage.Backend stores entire zip modules in json objects which makes it super slow and inefficient. We can use MongoDB's GridFS feature to store/stream zip modules instead.

[2018-07-29 16:29] marwan-at-work opened #358 "Stream Zip Modules to User and to Storage simultaneously"
When we do a cache fill, we risk completely reading the zip file out (in order to store it to backend), so we end up giving the user an empty reader.

As a first implementation, we should just do storage.Get once storage.Save succeeds and that's the easiest way to do it. In the future, we should be able to stream from the upstream directly to storage and to the client that requested the zip.

[2018-07-29 16:29] arschles commented on #357
Waaaaaat. That’s awesome. Let’s measure latencies?

On Sun, Jul 29, 2018 at 09:26 Marwan Sulaiman <notifications@github.com>
wrote:

[2018-07-29 16:48] marwan-at-work commented on #218
fixed by #219

[2018-07-29 16:48] #218 closed

[2018-07-29 16:49] #243 closed

[2018-07-29 17:27] carolynvs opened #360 "Add proxy admin dashboard page"
It would be useful if the proxy hosted a dashboard with stats:

* disk usage
* requests per package
* other dashboardy info that we have readily available

[2018-07-30 01:17] rchakra3 commented on #355
Does this mean the expected behavior would be:
[code]
I thought the expectation was that the caller calls ref.Clear() ? Something like:
[code]

Which would actually delete everything on disk

[2018-07-30 02:04] rchakra3 commented on #355
Gotcha, that makes sense.
I just went through the various calls and I personally think it would be cleaner to remove Clear from the Ref interface and let zip.Close() handle cleanup.

The alternative would be that we read the zip file into memory and pass that around (which is mentioned in the comments for diskref) - that way the flow would be to call `ref.Clear()` right after `ref.Read()`. That wo

[2018-07-30 02:05] marwan-at-work commented on #355
@rchakra3 yes with the alternative we would run out of memory very fast. Feel free to remove the Clear method from the interface definition. Thank you!

[2018-07-30 03:01] arschles commented on #355
All good with me. Can you add really good docs (with code samples hopefully
😊) that explain how to clean up? Thank you thank you!

On Sun, Jul 29, 2018 at 19:05 Marwan Sulaiman <notifications@github.com>
wrote:

[2018-07-30 11:45] michalpristas commented on #76
i agree with closing this. later on this week i will skim the code and create more granular issues if needed

[2018-07-30 12:02] michalpristas commented on #334
also once somebody is on it. it would be great to make it default for Dev env

[2018-07-30 13:08] michalpristas commented on #245
cdn is for metadata storage and should have separate test suite. what i had in mind with this issue are implementations of module storages

[2018-07-30 13:10] michalpristas commented on #284
👍 for a configuration file. keep dev defaults there. we can inject/replace the file with test/prod env easily on deploy

[2018-07-30 13:36] carolynvs commented on #353
As part of this I'm going to submit some extra PRs to "de-travisify" so that people can use make or call bash scripts directly to check everything locally, instead of having to copy/pasta from the `.travis` file.

[2018-07-30 13:39] michalpristas commented on #360
can we make this part of some kind of healthcheck endpoint?

[2018-07-30 14:14] #76 closed

[2018-07-30 14:49] arschles commented on #360
I think we should have both, but would you be ok if we put the healthcheck
endpoint into another issue?

On Mon, Jul 30, 2018 at 06:39 Michal Pristas <notifications@github.com>
wrote:

[2018-07-30 14:55] arschles commented on #353
👍👍👍👍❤️❤️❤️❤️

On Mon, Jul 30, 2018 at 06:36 Carolyn Van Slyck <notifications@github.com>
wrote:

[2018-07-30 15:31] michalpristas commented on #360
yes absolutely, i just wanted to point out that this kind of information i would like to have in a healthcheck as well.

[2018-07-30 16:51] komuw commented on #104
@michalpristas isn't this the same as; https://github.com/gomods/athens/issues/106

[2018-07-30 18:07] michalpristas commented on #104
similiar but not the same. this one is a hook for VCS informing us that a tag was added (new version) so we can act reactively.
106 is hook for CI. which is meant for registry (third component of athens which is not in development now). This hook uploads the bits directly.

[2018-07-30 20:50] arschles commented on #309
@fedepaol #290 is done now - sorry for not mentioning that sooner. you're clear to work on this if you still want to!

[2018-07-30 21:00] arschles commented on #360
all the ❤️ s

[2018-07-30 21:06] #335 closed

[2018-07-31 04:43] rchakra3 commented on #349
Mind if I take a stab at this? Or is there already some work underway to get this working?

[2018-07-31 06:30] #358 closed

[2018-07-31 07:01] arschles commented on #349
Yup it is up for grabs! @marwan-at-work has looked into how th redirects
work on the client so he might have some good ideas here

On Mon, Jul 30, 2018 at 22:17 Rob j Loranger <notifications@github.com>
wrote:

[2018-07-31 07:29] #356 closed

[2018-07-31 10:58] komuw opened #368 "Non Random UUID's"
Athens uses `github.com/gobuffalo/uuid` for the generation of UUID's.
The generated uuid's are used for example, when saving a module in storage[1]

`github.com/gobuffalo/uuid` which is a fork of `https://github.com/satori/go.uuid` is vulnerable to a bug where it can generate Non-Random UUID's with collissions.
I'm guessing we wouldn't want to, for example try to store different modules using the

[2018-07-31 14:42] marwan-at-work opened #372 "Check "go" exists in your path before running server"
We should have gogetfetcher.New() stat the goBinPath and returns an error if go cannot be found.

[2018-07-31 15:59] marwan-at-work commented on #349
@rchakra3
Off the top of my head, this should be the behavior:

1. Proxy gets a request (on any of the download protocol endpoints)
2. Proxy checks blacklist (returns status forbidden if module is flagged)
3. Proxy checks its own storage first, if it exists return it, we're done here.
4. If module does not exist in Proxy Storage, then:
    4a. redirect to Olympus (and asynchronously fill proxy cac

[2018-07-31 16:27] #357 closed

[2018-07-31 19:25] marpio commented on #349
Would it make sense for Olympus to redirect go one again directly to the CDN if the module is cached there?

[2018-07-31 19:29] marwan-at-work commented on #349
@marpio I keep forgetting, what's the difference between Olympus and CDN? Is CDN the backend storage for Olympus?

[2018-07-31 19:35] marpio commented on #349
@marwan-at-work yes, that is my understanding. CDN exposes all the endpoints required be download protocol though.
@arschles @michalpristas please correct me if I'm wrong.

[2018-07-31 19:36] marwan-at-work commented on #349
@marpio how can we make say GCP storage expose DP endpoints? I might be not getting this :)

[2018-07-31 19:48] marpio commented on #349
@marwan-at-work I mean for every module stored in the CDN there should be:

https://mycdn.com/gomods.io/my/module/@v/list
// - https://mycdn.com/gomods.io/my/module/@v/{version}.info
// - https://mycdn.com/gomods.io/my/module/@v/{version}.mod
// - https://mycdn.com/gomods.io/my/module/@v/{version}.zip

Sorry if I wasn't clear.

[2018-07-31 19:49] marwan-at-work commented on #349
doesn't that make the CDN exactly the same as Olympus?

[2018-07-31 19:57] marpio commented on #349
I guess if the module isn't in the CDN then Olympus would have to fetch it and save it to the CDN storage.

[2018-07-31 20:00] marwan-at-work commented on #349
I think it still makes Olympus/CDN exactly the same, at least the way I see it. In any case, this issue is regarding redirecting from Proxy -> Olympus which is already a considerable amount of work. So we can safely put Olympus -> CDN stuff to the side. But would like to discuss it more separately
Thanks!

[2018-07-31 23:13] #263 closed

[2018-08-01 03:42] #355 closed

[2018-08-01 05:32] arschles commented on #285
Totally cool Ken. If you get some time you come back and want to
contribute, we’ll be here.

Meanwhile, have an amazing holiday! 🎉

On Tue, Jul 31, 2018 at 20:21 Ken Bailey <notifications@github.com> wrote:

[2018-08-01 05:35] marwan-at-work commented on #350
@arschles why do we need this? What scenario is not currently working?

[2018-08-01 07:27] #327 closed

[2018-08-01 10:00] michalpristas commented on #349
Olympus is storing its data into storage and CDN should work on top of that automatically if configured.
Flow makes sense, we need to keep in mind option to disable communication with olympus entirely. we have an issue for this as well.

[2018-08-01 10:56] devdinu commented on #372
I can pick this up. `(gg *goget) Version()` would this return a custom error when called?

[2018-08-01 14:37] marwan-at-work commented on #372
@devdinu if `goget.New` returns an error, then we should just `log.Fatal` and the app wouldn't even start in the first place for Version or List to work.

[2018-08-01 16:00] komuw opened #379 "Update Athens CI for Go version 1.11"
Go version 1.11 is scheduled to come out some time this month(August 2018) as per Go's regular release schedule[1]

There are already some PR's that have been put out in preparation for that, eg [2][3]
However, we need to update the CI pipeline[4] to use Go version 1.11 and also drop the use of dep for package management and instead use Go modules[5]

Using Go modules and Travis-CI[6]

**ref:**
1.

[2018-08-01 16:03] komuw commented on #379
I'll work on this.

I'm working on the assumption that everyone is okay if we drop `dep` in favour of Go modules for dependency management once Go version 1.11 comes out.

[2018-08-02 14:00] #372 closed

[2018-08-02 21:28] marwan-at-work opened #382 "Benchmark Storage Performance"
Let's get an idea of which of the backend implementations work best for our use cases (scalability, streaming, etc.)

Simple benchmark tests should be a good start. But in the future, we should have the ability to run benchmarks against staged deployments to get more accurate results.

[2018-08-02 21:31] marwan-at-work opened #383 "Ensure Storage Streaming"
All of our storage implementations must have streaming capabilities, otherwise they're not worth having as an implementation in the first place.

Let's go through what we have implemented in pkg/storage, and check the following:
1. If the storage itself does not have streaming capabilities, then completely remove implementation.
2. If it does and we are not using it, let's make sure we are using i

[2018-08-02 21:55] manugupt1 commented on #172
this is similar to the tracing stuff I am working on. I can take this as well! Most of commits now have an operation name. If it is similar to the following commit,
https://github.com/gomods/athens/blob/master/pkg/storage/s3/storage.go#L80

I can make the changes and push it.

cc @bketelsen @robjloranger

[2018-08-02 22:54] robjloranger commented on #172
Abosultely @manugupt1, if your interested please open a PR.

It's a bit different, it's not starting the span but setting the operation name because the handlers won't automatically have that set. see #338 for examples setting operation names. All handlers in both the registry and proxy should have the operation name set explicitly.

also for reference discussion where I was confused: #339

[2018-08-02 23:06] manugupt1 commented on #172
Check this out @robjloranger  Every handler has an opName attached
https://github.com/bketelsen/buffet/blob/master/opentracing.go#L22

The issue in my code is that
It is not really a child span of the context
https://github.com/gomods/athens/blob/master/pkg/storage/s3/storage.go#L80

This can be fixed when we start using buffet in these functions that have a context that start a childspan of the c

[2018-08-02 23:12] robjloranger commented on #172
I think this issue should stay on topic, keep it small.

I know that buffet sets an operation name for handlers automatically, however, because of the way we create our handlers buffet treats them more like regular functions and does not set an operation name.

As for the the initialize function it can just be hard coded in `tracing.go` as each app has it's own tracing initializing function.

[2018-08-02 23:16] manugupt1 commented on #172
Perfect, I did not realize that `initializetracing` is within the context of every app! I can put in a PR in a while at least for that.

[2018-08-03 00:02] arschles opened #386 "PR Review Requirements"
We should have a document that describes what we expect from PR reviewers and how we do PR reviews. Ideas:

- At least one review before a PR is merged (we do this already)
- CI run against the PR that is even with tip of master
- codeowners file (we haven't done this yet. we can integrate with minimum number of reviews)

Others?

[2018-08-03 00:48] leighmcculloch commented on #1
The license still reads personal copyright ownership.

https://github.com/gomods/athens/blob/097fde39570b17ca2c180257980050eaeb86e465/LICENSE#L3

Are there plans for Athens to be an official Go thing? Could Athens fall into the golang family of repos, and sport the standard Go contribution licensing/authorship model?

[2018-08-03 01:15] robjloranger commented on #1
It should be community owned. Brian is working on getting an organisation set up, like a trust. So no one company has control of Athens.

[2018-08-03 02:10] arschles commented on #1
+ 💯 - I completely overlooked the license file @leighmcculloch (for context, this codebase used to be in my personal repo way back when). I'll submit a PR to fix that but going to leave this issue open if anyone else finds stuff that needs updating

[2018-08-03 02:42] kengbailey commented on #285
I appreciate that!

[2018-08-03 08:34] devdinu commented on #382
I could pick this up.

[2018-08-03 14:40] #353 closed

[2018-08-03 14:45] komuw commented on #368
sent PR to buffalo; https://github.com/gobuffalo/uuid/pull/2

[2018-08-03 14:49] devdinu opened #390 "Create FAQ, Guidelines For Athens"
We could use go [FAQ](https://golang.org/doc/faq) as a reference.

1. What's the purpose of the project, what does it solve.
2. Architectural Decisions (this could be separate too)
3. Conventions for code PR's [Effective Go](https://golang.org/doc/effective_go.html) helps at high level, this is very customised
- For each package
- the way we pull out interfaces
- errors, logging, tracing
- benchma

[2018-08-03 15:05] michalpristas commented on #390
I will prepare something.
Im just going to poll a survey here: about architectural decisions, what format do you prefer?

I was thinking about some overview of current state followed by Decision log - explaining how we got there in form of short tweets (?), so it's clear what was rejected on the way
@arschles @bketelsen @robjloranger @devdinu

[2018-08-03 16:03] marwan-at-work opened #391 "Create Twitter Account"
Because all official things have a twitter account.

Name suggestions welcome: `@athensproj`, `@athensproject`, `@goathens`, `@athensproxy`

[2018-08-03 16:05] michalpristas commented on #391
i'm for goathens

[2018-08-03 16:06] arschles commented on #391
+1 for goathens - it matches gobuffalo. I’ll take care of this

[2018-08-03 17:09] tbpg opened #392 "Evaluate using OpenCensus versus OpenTracing"
[OpenTracing](http://opentracing.io) and [OpenCensus](https://opencensus.io/) provide observability instrumentation. Athens currently uses OpenTracing through [bketelsen/buffet](https://github.com/bketelsen/buffet) (@bketelsen). See [related issues](https://github.com/gomods/athens/search?q=tracing&type=Issues).

We should evaluate which library we want to use in Athens. There are pros and cons to

[2018-08-03 17:29] marwan-at-work commented on #392
Two questions:
1. Is there a preference for OpenCensus/OpenTracing in AWS?

2. Regardless of which library we use, do we want to trace every function call? Or only trace networks calls? I assume there's a price difference and code overhead that can influence this decision.

[2018-08-03 17:29] arschles commented on #392
❤️

I’m looking forward to seeing where this goes.

[2018-08-03 17:56] tbpg commented on #392
1. OpenCensus can export to AWS X-Ray See https://github.com/census-ecosystem/opencensus-go-exporter-aws, https://opencensus.io/faq/#what-exporters-does-opencensus-support, and https://opencensus.io/supported-exporters/go/xray/.

    I don't see an exporter from OpenTracing to X-Ray (could be missing it).

    I don't see any integrations by the AWS SDK directly with OpenCensus or OpenTracing.
1.

[2018-08-03 18:12] rakyll commented on #392
@marwan-at-work, AWS primarily and only recommends their proprietary tracing libraries at this point.

[2018-08-03 18:15] robjloranger commented on #391
Goathens is taken already too https://twitter.com/goathens?s=09

[2018-08-03 18:29] michalpristas commented on #390
How is it with associating logs with spans in opentracing

[2018-08-03 18:30] michalpristas commented on #392
How is it with associating logs with spans in openCensus

[2018-08-03 18:33] rakyll commented on #392
You can access the span from the current context and then https://godoc.org/go.opencensus.io/trace#Span.SpanContext and use it when logging.

[2018-08-03 18:41] marpio commented on #383
The only storage without the streaming capabilities at the moment is the RDBMS one.
I can think of two options here:
1. Use DB specific API i.e. Large Object in Postgres. I'm not sure if every DB supported by pop has something similar so this could mean eliminating some of them.
2. Store chunks of the zip in a temporary table and copy to the target table at the end. This would be probably more gen

[2018-08-03 18:48] marwan-at-work commented on #392
@tbpg for 2 that sounds logical to me. In that sense then, we should trace the following operations:

1. Calls from Proxy -> Registry
2. Calls to backend.Storage
3. Calls to download.Protocol ( `go get`  and `go list` )

@rakyll thanks for the link. It should be straightforward then to have our [Error](https://github.com/gomods/athens/blob/master/pkg/errors/errors.go#L25) struct include a `trace.S

[2018-08-03 18:55] rakyll commented on #392
You generally don't want to both log the traces if you are collecting them at a tracing backend to avoid duplication but it is up to you.  A span contains more than just the identifiers such as annotations and attributes. If `Error` struct adds a trace.SpanContext field, it will be good enough to cover the correlation case.

Thanks much for the kind words!

[2018-08-03 19:04] marwan-at-work commented on #392
That's great. Keeping tracing and logging separated makes sense to me.

If there are errors of the "context timed out" kind, including a trace id could be helpful or we could have potentially already gotten to such errors through our cloud tracing tools once they are set up correctly.

[2018-08-03 19:20] rakyll commented on #392
You can also annotate the interesting events as a part of the trace if you think it will help debugging when reading traces. Annotations are little log lines that fits traces when debugging better than the regular log. See the following:

https://godoc.org/go.opencensus.io/trace#Span.Annotate
https://godoc.org/go.opencensus.io/trace#Span.Annotatef

[2018-08-03 19:37] nicknezis opened #395 "Proxy use-case for offline, secure development environments"
Will the proxy support the use case in which Go development happens in a totally offline environment? An enterprise could setup a process to manually sync modules to the offline repo in which an instance of the proxy is able to serve up the modules to internal Go developers.

[2018-08-03 20:03] arschles commented on #395
The proxy can work completely behind a firewall, without access to the
public internet. The current limitation in that case is that it can only
serve modules that exist in another internal proxy, or a vcs.

We don’t currently have functionality to “manually” sync - other than
exposing the proxy to the public internet and running a bunch of “go get”
commands against it.

Can you give some more deta

[2018-08-03 20:12] marwan-at-work commented on #383
Is there a reason for having RDMBS in the first place? :)

[2018-08-03 20:29] arschles commented on #383
We basically guessed that it would be useful for some on prem uses. I don’t
think we should work on perf improvements at this point unless we hear from
folks that they’re having problems.

On Fri, Aug 3, 2018 at 13:12 Marwan Sulaiman <notifications@github.com>
wrote:

[2018-08-03 20:33] marwan-at-work commented on #383
@arschles loading modules into memory has already proven to be a performance issue. I couldn't build my work repo at all and I brought it up in the meeting yesterday :) -- maybe other folks could try and let us know their results in this issue?

[2018-08-03 20:37] marwan-at-work opened #396 "Split backend's storage.Getter interface"
I'd like to get up/down votes to get a sense of what's preferred:

Should we split the backend's storage.Getter interface into three independent methods?

Currently this is the interface:

[code]

Should we make it like this:

[code]

### Motivation:
1. `cmd/go` never asks for all three files at the same time, so why load them up?
2. We have to be very careful when to close and when *not* to close

[2018-08-03 20:47] arschles commented on #396
Big ups from me for this. Your point about having to be careful to close the zip really resonates with me.

[2018-08-03 21:16] fhs opened #397 "some scripts are not portable"
Few issues with `get_buffalo.sh`:
* It uses `$TMPDIR`, which is not always set in Linux
* It downloads Linux binary only
* It doesn't clean up temporary directory after it's done
* Maybe it should be updated to use 0.12.4 instead of 0.12.3? It seem like extra maintenance keeping the version up to date when one can just `get get` the latest.

[2018-08-03 21:45] derekperkins commented on #392
I've got a vote for OpenCensus. OpenTracing leaves a lot of ambiguity to the implementation.

[2018-08-03 23:29] kdvy commented on #285
I'd like to take this as my first contribution to Athens if that's okay.

Thanks to the investigation done by @kengbailey, I think I have a good idea of what to do.

I noticed that Olympus also has the same redis backing for processing push notifications, would it be useful to add a different env variable to control whether we use a worker.Simple or Redis there as well ?

[2018-08-04 00:37] kdvy commented on #285
Had a quiet night in so I decided to write the code for both Olympus and Athens. Happy to make any changes/ remove as necessary.

[2018-08-04 00:53] robjloranger commented on #390
I like this @michalpristas, starting with overview of the current state. How we ended up there.

[2018-08-04 05:00] marwan-at-work opened #402 "Remove Lister from storage.Backend"
/@v/list goes directly to upstream. Is there a reason not to remove it from the backend.Storage interface?

[2018-08-04 05:26] marwan-at-work commented on #263
PS. I can see the only time we need to test the details of an implementation, and not just the interface from the outside, is when the implementation can have side effects (writing to disk, caching, etc) But for GCP we don't. We can say: call storage.Delete(), then call storage.Get() and check that it correctly has a not found error.

[2018-08-04 05:57] #340 closed

[2018-08-04 16:15] marwan-at-work commented on #263
@marpio in theory yes, but
1. we're not doing that for gcp tests, we're just testing what storage_tests already does.
2. we can still include those cases you mentioned under `if noCredentials { t.Skip() }` because whether expensive or not, we're gonna want to test against GCP in one way or another so it's ok to skip them if gcp creds are not present during tests (imo of course)

E2E tests will def

[2018-08-04 16:27] #328 closed

[2018-08-04 18:42] arschles commented on #390
@michalpristas for current state and architectural decisions, do you think that [REGISTRY.md](./REGISTRY.md) and [PROXY.md](./PROXY.md) can be updated?

[2018-08-04 18:42] arschles commented on #391
😢

[2018-08-04 18:43] arschles commented on #391
How about `@gomodsio` or `@athensapp`? Both are available

[2018-08-04 18:47] michalpristas commented on #391
gomods 👍

[2018-08-04 18:48] arschles commented on #73
I'm closing this because #371 and #378 are both going to move us to Go modules after 1.11 stable is out.

[2018-08-04 18:48] #73 closed

[2018-08-04 18:49] manugupt1 commented on #392
In terms of tracing, I do not see a lot of difference between OpenTracing and OpenCensus.  However, I like OpenCensus better because it has metrics included. To add a new metric all we really have to do is push a commit and start tracking it within the code repository rather than relying on an external system.

For the backend exporters, my vote would be `Prometheus` for metrics and `Jaeger` / `Zi

[2018-08-04 18:50] arschles commented on #402
I think it's useful to keep for debugging purposes - I could see us [building a UI](https://github.com/gomods/athens/issues/360) for the proxy and/or registry that lists the modules/versions we have for example

[2018-08-04 18:51] michalpristas commented on #402
true that @arschles i used that as well for verification, does not harm anything to keep it here

[2018-08-04 18:52] arschles commented on #397
@fhs would you be up for cleaning the script up?

[2018-08-04 18:53] michalpristas commented on #390
yes i was planning to draw some communication diagrams, more detailed models maybe
+ history what we've been through ever since 3-phase-commit model

[2018-08-04 18:58] arschles commented on #383
@marwan-at-work sorry that my previous comment was so terse! I just realized how that must have sounded. What I meant was I don't think we should work on perf improvements for the RDBMS drivers.

On top of that, I missed the meeting 🤦‍♂️ so you're probably right that if you can't build your work repo we shouldn't have the RDBMS drivers.

[2018-08-04 19:00] robjloranger commented on #391
Yes to `gomods` or `gomodsio`

[2018-08-04 19:00] marwan-at-work commented on #402
@arschles nice yeah that totally makes sense. Closing the issue :)

[2018-08-04 19:00] #402 closed

[2018-08-04 19:01] robjloranger commented on #402
Good point, let's hang on to it for now

[2018-08-04 19:01] arschles commented on #368
@komuw thanks! Is there anything you think we should do right now in our repo?

Also, depending on how [this](https://github.com/gomods/athens/issues/383#issuecomment-410363868) discussion goes, we might be removing the RDBMS drivers, which would remove a lot of our UUID usage, fyi.

[2018-08-04 19:09] arschles commented on #350
@marwan-at-work right now if you `GOPROXY=my.proxy go get module@v1`, the `@v/list` endpoint is hit, so we can't send the meta tag redirect to the CLI (i.e. what gopkg.in does to redirect to a github tag).

So that means that we can't send the `go` tool to a CDN for the entire download protocol (which is basically a must for public proxy usage), unless a user does a `go get my.proxy.com/github.com

[2018-08-04 19:09] arschles commented on #348
Ref #392

[2018-08-04 19:12] marwan-at-work commented on #350
@arschles if `GOPROXY=my.proxy go get module@v1` is run the @v/list endpoint will internally call `go list -m -versions -json module@v1` and it should properly do the return for us.

Here's an example from my local machine

[code]

[2018-08-04 19:16] robjloranger commented on #383
I'll test it out today, but otherwise I'm not opposed. I don't see a real benefit to using a database for large files. With the exception of mongo+gridFS.

[2018-08-04 19:33] robjloranger opened #405 "Travis: use gimme instead of building go"
Currently the build scripts clone and build go 1.11beta3 from source. This is available in Travis so we should use that instead of downloading and compiling during a build.

I'll take this one.

[2018-08-04 20:10] marpio commented on #383
I also think we could remove RDBMS drivers. The performance improvements would probably mean much work and maintenance afterwards.

[2018-08-04 20:15] marwan-at-work commented on #383
@marpio though I agree with you. The  issue is not about performance improvements, the issue is **does it even work in the first place?**  😄  (which in my case it didn't)

Because when it comes to performance, I agree with @arschles is that we should measure first before jumping into performance optimizations.

In any case, I think much of our storage packages were written before we actually had a

[2018-08-04 20:23] marpio opened #408 "[Discussion] Should we remove the GCP bucket mock"
@marwan-at-work I'm moving the discussion from the bottom of the closed issue https://github.com/gomods/athens/issues/263 here.

I guess the same is also valid for the S3 implementation.

[2018-08-04 21:31] robjloranger commented on #408
I think I'm on the 'removal' team. If we have mocks to test a different implementation, what are we really testing?

[2018-08-05 00:37] robjloranger opened #412 "e2e test: buffalo dev doesn't like GO111MODULE=on"
For some reason the check for http status code in our e2e test script never succeeds if we set `GO111MODULE` to `on` _before_ we run buffalo dev.

If set after the script runs fine.

[2018-08-05 00:48] robjloranger opened #413 "Update development docs"
The CI tests are now using `go1.11beta3`, we should update our docs to let developers know they are expected to have the same version installed.

I used the following to install:
[code]
Then when working on the project, set an alias at the start of a session:
[code]
[code]

[2018-08-05 03:03] fhs commented on #397
Looks like robjloranger has started the work (PR #410).

It seems that these scripts were expected to be run in travis. The main issue is that `CONTRIBUTING.md` and `DEVELOPMENT.md` asks the reader to run `make setup-dev-env`. So, either the docs need to be updated or the scripts need to become portable.

[2018-08-05 05:02] rchakra3 commented on #349
Totally underestimated my workload this past week. I'm going to get started on this now.

Based on the expected behavior described by @marwan-at-work above, the additional behavior to be implemented for this issue is:
[code]
and once #309 is done also incorporate the private modules filter

and
[code]
4b seems to be the current behavior (I'm assuming by **storage** you meant the goget fetcher but

[2018-08-05 05:44] michalpristas commented on #408
I would like to keep them. At least for unit tests of other components (e.g fetcher?).
with E2e i would run against actual instance.
like we should not write unit test to verify GCP/S3/Cosmos works, we believe they do, we should test whether or not our queries and API is correct

[2018-08-05 06:46] marpio commented on #408
The fetcher (and other components using storage) could use the in-memory implementation for tests but I think there is still some logic in the storage implementations which could be unit-tested. We could definitely add gcp to the common storage test suite though.

[2018-08-05 08:05] michalpristas commented on #349
Check #406 to see how upstream download protocol is passed (not directly solved in this PR but it's visible there)
Right now upstream in proxy is set to goget: https://github.com/gomods/athens/blob/8bb5a4006555ecd26558e595ffbc5b62ba0043a5/cmd/proxy/actions/app_proxy.go#L25
with cache filled synchronously. same goes for olympus.
what needs to be done is to make proxy talk to olympus. in few steps:

[2018-08-05 08:11] michalpristas commented on #349
one more option would be to use Olympus download protocol as an upstream for Proxy and do everything Sync
I'm not sure about the perf in this case, whether or not will go client timeouts or not. I'm more in favor sync/async combo but folks might see it differently

[2018-08-05 09:30] komuw commented on #368
@arschles hi.

I do not know if there's something we can do right now, short of moving to another uuid package that doesn't have this bug.
I think we can track https://github.com/gobuffalo/uuid/pull/2 for the next few days and see how it goes; I think @markbates  is the lead dev on that project and he's also(I think) the lead organiser of GopherconUK which was this week so he may not have had time

[2018-08-05 14:26] marwan-at-work commented on #408
@michalpristas unit testing the fetcher is done separately no? Plus, if we want e2e tests, we can just spin up the `mem` or `fs` storage.Backend implementation for e2e no?
What trips me up is the fact that we're mocking GCP. It's like writing two separate implementations, and saying the second implementation proves the first one is working 😄  (which is obviously not true)

[2018-08-05 14:48] marwan-at-work opened #414 "Remove olympus package from pkg/storage"
From https://github.com/gomods/athens/issues/309 and https://github.com/gomods/athens/issues/349, it looks like we're never gonna use Olympus as a storage backend to Proxy. We either *redirect* to Olympus, or use it as a download.Protocol interface in which case we save to storage first then stream back from storage.

[2018-08-05 15:01] michalpristas commented on #408
For me, it is a wording. What I understand by unit tests is a set of tests testing component by itself which can be run everywhere not requiring an internet connection... When I decide to run unit tests on a train on my way home I should be able to, so I can check I did not cause any obvious regression.
So if we remove mocks, let's not call these test Unit tests but let's make it a part of E2E. Th

[2018-08-05 15:05] marwan-at-work commented on #408
@michalpristas I agree on the unit test part. So let's expand on that: say you'd like to unit-test getting a module from GCP, if you mock "getting a module from GCP", you've basically completely rewrote that function for the test. So you're no longer unit testing it "getting a module from GCP", you're just testing "getting a module from a mock".

And sorry if I didn't make sense but you definitely

[2018-08-05 16:05] robjloranger commented on #413
I'm usually strongly against it. Requiring anything unusual to be installed. In this case though, as we require the behaviour of this version, it might be necessary. And temporary, 1.11 stable should be out soon.

[2018-08-05 16:07] robjloranger commented on #413
As well the method above is trivial if go is installed. It can be removed really really when no longer needed, and the alias is session only.

[2018-08-05 16:35] manugupt1 commented on #413
I really like this! I was tripped up for a while that I can use go1.10 on athens since everything was in shell scripts! If it is a go ahead, I can put it in the docs!

[2018-08-05 18:13] michalpristas commented on #408
@marwan-at-work your point is 100% valid, but not describing my scenario in mind. For me, mock helps with following.
- Considering storage returns values... will my wrapper respond with X?
- Considering storage hangs for TIMEOUTx 2...will my wrapper correctly timeout after TIMEOUT?
- Considering blobs github.com/owner/repo@v1.0 github.com/owner/repo@v2.0, will List functionality parse names correc

[2018-08-05 20:33] marwan-at-work commented on #408
@michalpristas Your points makes sense to me if the wrapper did need to do any of the above. Can you give an example of *where* in the GCP storage wrapper is there logic that should be tested with a mock bucket? Because right now we're testing the mock as if it's the real thing which is the whole point of this discussion.

[2018-08-05 21:38] marwan-at-work commented on #408
I'm fine with keeping them or getting rid of them. I think the important part of this discussion issue is to agree on the overall architecture of the storage packages and how we organize/test them in the future.

So your use case is about testing the wrappers. Here are some of the GCP wrappers:
https://github.com/gomods/athens/blob/master/pkg/storage/gcp/deleter.go
https://github.com/gomods/athens

[2018-08-05 21:52] marwan-at-work opened #416 "MVP: should the Proxy store Olympus modules or just Redirect?"
1. This is just an MVP question, not long term solution.
2. It's agreed upon that it's a desired feature to be able to duplicate modules from Olympus to Proxy.

The question is: in the MVP implementation of Athens, should we store Olympus modules into the Proxy storage? Or should we *just* have the Proxy *redirect* cmd/go to `Olympus/CDN`? The latter is easier to implement because it can just be a

[2018-08-05 22:27] marwan-at-work commented on #318
I believe this is fixed.

[2018-08-05 22:27] #318 closed

[2018-08-05 22:33] marwan-at-work commented on #284
What about having a json or toml representation of that config struct and so instead of populating env variables and keeping track of them, we just have one file where all this stuff lives.
Something like this

[code]

And then we can have several json representations for different environments:

config.local.json
[code]

and then config.prod.json

[code]

This way we don't need envconfig, or we c

[2018-08-06 01:30] marwan-at-work commented on #408
@michalpristas So sorry for the lengthy response, but since this is a "discussion" type of issue, thought I'd dig in deeper with some code examples and scenarios. Let me know if any of the above is not clear as I am happy to keep discussing 💯 🤓

[2018-08-06 03:12] rchakra3 commented on #284
I'll work on this!

[2018-08-06 03:23] manugupt1 opened #417 "Specify go binary as an env var and use it when provided for pkg/module/go_get_fetcher"
Currently,

https://github.com/gomods/athens/blob/master/pkg/module/go_get_fetcher.go#L22-L31 defaults to `go`

A user who has multiple installations of go should be able to specify
a `GO_BIN_PATH` and we should be able to use it directly. If it is not present, it should default to `go` and if a `go` installation is not present it, it should error out.

`GoBinPath` is mentioned in https://github.c

[2018-08-06 03:44] rchakra3 commented on #417
@manugupt1 is this different from the `GO_BINARY_PATH` environment variable?

[2018-08-06 03:52] manugupt1 commented on #417
@rchakra3 Nope! I just realized that it is the same.

I think we can close this off. However, I have also updated the docs to reflect the same in the PR.
https://github.com/gomods/athens/pull/418

[2018-08-06 03:52] #417 closed

[2018-08-06 15:45] bketelsen commented on #392
@rakyll you're definitely a subject matter expert here. would you be willing to advise and help us with this?

[2018-08-06 15:47] bketelsen commented on #391
I thought I got gomods already

[2018-08-06 15:47] bketelsen commented on #391
edit: Nope

[2018-08-06 15:51] bketelsen commented on #391
gomodsio is my vote

[2018-08-06 17:20] arschles commented on #391
Ok, vote here for `gomodsio`

[2018-08-06 17:20] arschles commented on #391
And vote here for `athensapp`

[2018-08-06 18:33] rakyll commented on #392
I would be definitely more than happy to help and contribute.

[2018-08-06 19:09] marwan-at-work commented on #392
@rakyll happy to hear it. If you have any questions, Athens maintainers are usually available on the `#athens` channel on the Gophers slack. We also have a weekly meeting every Thursday 11AM PST on Zoom to have a more face-to-face time to discuss any topic. And Github Issues is also a valid place for things. Pick whichever medium you prefer 😄

Reading this issue, it seems that no one has any objec

[2018-08-06 19:25] arschles commented on #392
That sounds like an awesome plan to start @marwan-at-work

@rakyll thanks!! Shout when you want reviews too 😊

On Mon, Aug 6, 2018 at 12:09 Marwan Sulaiman <notifications@github.com>
wrote:

[2018-08-06 19:32] marwan-at-work opened #420 "Fully Dockerized Development Environment"
Sorry if this is a duplicate issue. But it would be very helpful to onboard new contributors and anyone who just wants to interact with Athens with nothing but docker (no buffalo needed, not even Go is needed)

Let's have our dev set up to two tiers:

1. Just spin things up, I hate installing things.
`docker-compose up athens-dev` -- this will spin up the minimum dependencies but as well as two do

[2018-08-06 19:34] michalpristas commented on #420
Use case one covered in #81

[2018-08-06 19:39] marwan-at-work commented on #420
@michalpristas Thanks for showing me this issue! 81 seems to be for publishing images which will probably be optimized without having buffalo or GOPATH. Does it cover building a local docker image just for development purposes?

[2018-08-06 19:58] rakyll commented on #392
@marwan-at-work, I will try to dial on Thursday! I am in Germany this week and cannot gurantee if it is not going to conflict with other stuff but fingers crossed :)

@arschles I am open to reviews anytime!!! Haha 😊😊😊

[2018-08-06 20:00] michalpristas commented on #420
what do you mean by having a buffalo?
81 should result in a pair of docker images which you can download, deploy and play with

[2018-08-06 20:06] marwan-at-work commented on #420
@michalpristas I assume 81 is about production-ready docker images. They can totally be used to play with locally. But they will probably be optimized, for example it will probably be `FROM scratch` and so a user cannot open a shell into a docker image and hack on things. It might be a nicer experience to provide a local Dockerfile (never published to docker hub) that is `FROM buffalo` and also ha

[2018-08-06 20:58] michalpristas commented on #420
i think it goes hand in hand and one precedes the other. we can start with playable image and than productize it into publishable form

[2018-08-06 21:09] arschles opened #421 "Write up helm charts for the proxy"
For those not familiar with [helm](https://helm.sh), it's a tool that lets you package up a bunch of [Kubernetes](https://kubernetes.io) resources so that you can deploy your application all at once to Kubernetes. The package is called a "chart".

I'm planning on deploying the proxy to a Kubernetes cluster, and intending to use Helm to do it, so we should have the chart in this repo!

I'll take th

[2018-08-06 22:00] berndverst commented on #421
Depends on #81

[2018-08-07 00:00] arschles opened #423 "Cast your votes here! (1) Remove RDBMS support from the proxy? and (2) How should the registry redirect to CDNs?"
# About

This issue has had lots of awesome discussion - so much that it's actually split into two topics 😆!

- Whether or not we should remove RDBMS support from the proxy
- How the registry should redirect to CDN locations

All the discussions are in the thread in this isssue, but I'm summarizing the discussions on each topic here, and put each to a vote. In each section, you'll see links to do

[2018-08-07 00:13] manugupt1 commented on #324
Ref: https://github.com/gomods/athens/issues/392

[2018-08-07 00:14] manugupt1 commented on #174
Ref: https://github.com/gomods/athens/issues/392

[2018-08-07 00:16] manugupt1 commented on #172
Ref: https://github.com/gomods/athens/issues/392

[2018-08-07 00:19] #285 closed

[2018-08-07 00:51] #368 closed

[2018-08-07 01:45] robjloranger commented on #423
I think it's the other way around. Doesn't the proxy only store meta data and the registry stores source code?

[2018-08-07 02:27] robjloranger commented on #423
I guess it caches a copy. I think the discussion was regarding performance of reading and writing that source file into a database. Which I think would be pretty poor, in comparison to gridFS or cloud blob storage.

[2018-08-07 02:32] robjloranger commented on #423
I found it, it was in #383

[2018-08-07 04:05] marwan-at-work commented on #423
I was under the impression that, whether it's Proxy or Registry, we always save all three pieces of a module (RevInfo, go.mod, zip) in its storage backend. Is that not correct? :)

[2018-08-07 04:12] robjloranger commented on #423
I think that's right. I get confused. I think the proxy also stores meta data but the registry just stores the files `mod,info,zip`.

[2018-08-07 04:14] marwan-at-work commented on #423
@robjloranger i thought by metadata, you meant go.mod and RevInfo. If not, what kind of metadata does the proxy store?

[2018-08-07 04:39] robjloranger commented on #423
Oh, that makes more sense. I always read that as some other metadata.

[2018-08-07 05:08] VineethReddy02 commented on #414
I would like to work on this. How should i get onto this ?

[2018-08-07 07:07] michalpristas commented on #414
@VineethReddy02
there is a package `/pkg/storage/olympus` which needs to be removed
then in each storage generation you need to revisit switch cases and remove olympus case together with any other olympus storage reference. build (or go vet ./...) will fail so it will be easy

[2018-08-07 13:42] marwan-at-work commented on #423
@arschles i get it now. But why can't the registry just respond with `301 -> CDN` and then the client (cmd/go) will get stuff from cdn directly as well?

And side note, as of now, cmd/go will not work with serving HTML if cmd/go has GOPROXY set up.

[2018-08-07 14:31] michalpristas commented on #98
i think we can close this. it relates to event log
@arschles

[2018-08-07 14:32] michalpristas commented on #97
related to eventlog, we can close i guess
@arschles

[2018-08-07 16:31] robjloranger commented on #420
@marwan-at-work re: multi-build, we could look at using packer from hashicorp. It allows building multiple images from one config. We could even use it to eventually build VM images.

ref: https://packer.io

[2018-08-07 19:19] marwan-at-work opened #425 "pkg/module: switch from go get to go mod download"
`go get` attempts to traverse all dependencies and downloads them and so
1. it blows up in certain cases where a dependency has a build error.
2. it's slow because you don't need to download all deps from the Proxy perspective, nor do you need to compile anything.

Once CL 128355 goes in (or a new beta is released), we should switch `go mod download`. We should also look into the error field in th

[2018-08-07 19:26] michalpristas commented on #425
good catch @marwan-at-work

[2018-08-07 20:45] robjloranger commented on #412
ref: https://github.com/gobuffalo/buffalo/issues/1075

[2018-08-08 05:45] michalpristas commented on #412
👍

[2018-08-08 13:51] marwan-at-work opened #427 "Have storage.Checker's Exists method return an error"
The storage.Exists method makes a remote call to the backend to see if a module exists. Things could fail in different ways so that we need to be able to say "we're not sure if this exists or not because there's an error in storage right now".

[2018-08-08 14:57] devdinu opened #428 "Fix travis build on forked repositories"
The [forked](https://travis-ci.org/devslives/athens/builds/413607939) repositories build are currently failing. It would be great if we fix this, as we can verify ci build in fork before raising a PR.

[2018-08-08 15:42] robjloranger commented on #428
It's not going to be simple, if possible at all. I think it's related to import paths. Like if I clone your fork and try to run tests or build it all fails.

[2018-08-08 15:46] devdinu commented on #428
we need to move/copy the directory to `github.com/gomods/athens` before running tests, which will fix the issue.

[2018-08-08 15:55] robjloranger opened #429 "Include scripts for windows"
continuing from: https://github.com/gomods/athens/pull/415#issuecomment-410953621

We should add batch or powershell scripts for windows users.

Can we have make select the script based on OS?

[2018-08-08 16:04] #396 closed

[2018-08-08 16:05] robjloranger commented on #428
If you have a fix please put in a PR :grin: they are always welcome. I haven't worked with much CI so wasn't sure.

[2018-08-08 18:13] #413 closed

[2018-08-08 22:18] robjloranger opened #431 "Project GH short description"
Currently the short description of our project is `A distributed proxy server for Go`.

This should probably better reflect the project's actual purpose and function. It's not just a proxy, the proxy is an extra tool we provide. The big fish is the registry. But it's not actually a registry, more of an immutable repository that is globally distributed.

[2018-08-08 22:49] arschles commented on #431
@robjloranger we can use "Globally distributed proxy" in place of "registry"

[2018-08-08 22:52] robjloranger commented on #431
Athens: `A globally distributed module cache and proxy`

[2018-08-08 23:02] arschles commented on #431
Sounds good to me!

[2018-08-08 23:02] arschles commented on #431
Err, actually we're not really globally distributed yet, so how about `A Golang module cache and proxy`?

[2018-08-08 23:09] robjloranger commented on #431
Very true. `A Go module cache and proxy` or `Golang` I prefer `Go` but that's me.

[2018-08-08 23:10] robjloranger commented on #431
After we _are_ distributed we can call it `The globally distributed..`

[2018-08-08 23:45] arschles opened #433 "Create a forum for the Athens project"
Google groups is easy, so I'm gonna use that!

[2018-08-08 23:52] arschles commented on #174
@manugupt1 since #346 is done, do you think we can close this issue?

[2018-08-08 23:52] arschles commented on #138
I'm going to take this tomorrow 😄

[2018-08-09 12:29] manugupt1 commented on #172
This should fix it @arschles
https://github.com/gomods/athens/commit/7aafc2692e449c13ce16605e696fbb75a099a2d5

[2018-08-09 14:04] robjloranger commented on #172
correct, closed by #384

[2018-08-09 14:04] #172 closed

[2018-08-09 16:44] kteb commented on #330
I'll work on this one.

[2018-08-09 18:10] carolynvs opened #439 "Document the process for earning commit bit"
Let's chat here about how people can work towards becoming a regular contributor and eventually someone who can merge pull requests.

[2018-08-09 18:55] arschles commented on #416
We discussed two options in the Aug 9, 2018 meeting, so let's vote on there in here:

[2018-08-09 18:56] arschles commented on #416
Vote here if you'd like the proxy to always redirect to Olympus and never store in its cache

[2018-08-09 18:56] arschles commented on #416
Vote here if you'd like the proxy to redirect to Olympus and fill its cache in the background. This would mean that future `go get` calls to the proxy (for the same module) would be read out of the cache

[2018-08-09 18:58] arschles commented on #423
We discussed two options in the Aug 9, 2018 meeting, so let's vote on there in here:

[2018-08-09 19:00] arschles commented on #423
Vote here if you want the proxy to issue 301's to a CDN storage location for all the download protocol endpoints. We will also add support for 301s into the download protocol specificationspecification standardize that 301s are possible

[2018-08-09 19:00] robjloranger commented on #416
I think MVP could just redirect. We can always add caching to the proxy as a feature down the road.

[2018-08-09 19:43] arschles opened #441 "Regenerate the SHOULDERS.md file"
@markbates made a [new tool](https://github.com/gobuffalo/shoulders) to generate `SHOULDERS.md` files (thanks Mark!), so let's use it to regenerate ours!

[2018-08-09 19:50] arschles opened #442 "Proposal: Set up Issue and PR templates?"
[Here](https://blog.github.com/2016-02-17-issue-and-pull-request-templates/) is a description of what these templates do. I think if we do them, we should keep them basic at first to learn what kinds of things we should put in them.

What do folks think? Do we need them/should we try them?

[2018-08-09 19:56] robjloranger commented on #442
I like them, I think some contributors look for them before trying to contribute. As well as we grow we may decide there are more specific things we require in either.

I think PRs should always proceed an issue, I know I'm bad for this too sometimes. So each issue or bug can be discussed before work begins. This will help avoid people wasting time working a solution we may not need.

re: issue te

[2018-08-09 20:29] adyach commented on #427
@marwan-at-work did I understand correct, that we want to change Checker interface to
`Exists(ctx context.Context, module, version string) (bool, error)` ?

[2018-08-09 20:35] marwan-at-work commented on #427
@adyach yes. This function illustrates why we need the error https://github.com/gomods/athens/blob/master/pkg/storage/gcp/bucket_cloud.go#L59

[2018-08-09 20:38] adyach commented on #427
Can I grab it for work?

[2018-08-09 20:41] marwan-at-work commented on #427
@adyach it's yours :)

[2018-08-09 22:50] arschles commented on #439
@carolynvs I wrote a very rough draft in #444 - looking forward to comments!

[2018-08-09 22:55] manugupt1 opened #446 "[Discussion] Important metrics to be recorded for athens"
Metrics can be used to measure how Athens is performing.  We should have metrics for both Olympus and Proxy.

Some metrics can be storage, latency, how much data has been transferred

Along with that, we want to see how much do we want to measure. For example,
A) Disk usage / day.
B) Errors / minute
C) Time to process a request / second

and so on.

It will be great if we can have a clear idea of

[2018-08-09 22:59] robjloranger commented on #446
Related to: #360

[2018-08-09 22:59] robjloranger commented on #360
see #446 for metric details

[2018-08-09 23:09] #405 closed

[2018-08-09 23:12] robjloranger opened #447 "scripts/test_e2e.sh: use mktemp"
The script currently expects the environment variable `TMPDIR` to be set, this is not a common convention so I propose we use `mktemp` to get temporary storage from the OS. Specifically `mktemp -d`, the flag for a directory not a file.

Similar in a change from #415, we can use:
[code]

[2018-08-10 04:42] bearcherian commented on #420
Docker does allow for multi-build and stopping at a stage. Using the example you had you could do the following

[code]

Then it builds up to the `athens-dev` stage and tags the image as `athens/dev:local`. Then we could have a line in the Makefile to spin up this image.

[See Docker multi-stage documentation on stopping at build stages](https://docs.docker.com/develop/develop-images/multistage-bu

[2018-08-10 04:44] mydiemho commented on #441
I'm trying to work on this but have some questions:

1. I have downloaded https://github.com/gobuffalo/shoulders
1. when I run `shoulders` in the athens directory, I keep getting error for `cannot find package <XYZ>`.
1. Each time I would run `go get -u package <XYZ>` and there would be error for another missing package

Is there a command that I could run to get all dependencies at once?

[2018-08-10 05:34] #382 closed

[2018-08-10 07:10] michalpristas commented on #423
I voted for 301, but maybe we should keep the code for meta tags so we can reuse it with Sparta reborn

[2018-08-10 07:15] michalpristas commented on #442
I like Problem-Solution-Fixes (with issue linked) combination.
I've seen sections on 'how this was tested' but I think that at this point ^ 3 things is enough for now

[2018-08-10 07:36] michalpristas commented on #446
i'm thinking of
- Request - count (total, failed, succ), duration (ms),
- Errors - count,
- Disk usage
- network usage
- For workers number of in/out work items and time spent in a queue
- Cache hit rate (because it's fun to watch)

I imagine a PR for a bullet point, so it's not so huge

[2018-08-10 14:26] marwan-at-work commented on #423
I think the issue still stands that, can anyone make RDBMS work? I think I'm the only one who tried it on a big repo and failed.

[2018-08-10 14:52] robjloranger commented on #441
I get the same issue with up to date dependencies

[2018-08-10 15:40] robjloranger commented on #441
@mydiemho see https://github.com/gobuffalo/shoulders/issues/2#issuecomment-412120050
Try updating `shoulders` again and see if the fix works.

[2018-08-10 17:53] arschles opened #450 "'buffalo test' requires a database, can we remove it?"
`buffalo test` expects one of the supported RDBMS's to be running so that it can set up tables and schemas, etc... before running `go test`. If we remove RDBMS support from the proxy (#423), then we won't need that functionality, and it'll actually get in the way of running tests because you shouldn't have to run an unused database just to run tests

[2018-08-10 18:00] arschles commented on #423
@marwan-at-work you're right, we got off track in this issue. This issue is now basically two things in one:

1. should we remove RDBMS support from the proxy?
2. how should we have the registry "redirect" the go toolchain to a CDN
    - So far, we have 4 votes for redirecting with 301 status codes, 0 for "meta tag redirects". Cast your votes [here](https://github.com/gomods/athens/issues/423#issu

[2018-08-10 18:01] arschles commented on #423
Vote here if you'd like the proxy to keep RDBMS support

[2018-08-10 18:01] arschles commented on #423
Vote here if you'd like us to remove RDBMS support from the proxy

[2018-08-10 18:27] marwan-at-work commented on #423
I did a little more reading on why metadata tag was introduced in the original vgo papers. The use case for this functionality is not necessarily meant for Proxies. It's actually meant for users who want to abstract proxies under their own domains import path.

For example:
1. I write my package under `marwan.io/mycoolpackage`
2. Then cmd/go does `GET https://marwan.io/mycoolpackage?go-get=1`
3. M

[2018-08-10 18:32] marwan-at-work opened #451 "[Spike] - See if vanity imports puts us in an infinite loop"
1. Create a vanity import under your own domain name, `marwan.io/mycoolpackage`
2. Have the vanity import return a meta to an athens server (localhost since we don't have athens up yet) `<meta name="go-import" content="marwan.io/mycoolpackage mod http://localhost:3000">
3. do a go get for this package with GOPROXY set to localhost:3000
4. Proxy will internally call `go mod download` on `marwan.io/

[2018-08-10 18:37] arschles commented on #431
@robjloranger I'm good with the one you said - `A Go module cache and proxy`. Mind changing it when you get a chance?

[2018-08-10 18:50] arschles commented on #420
I'll throw another idea onto the pile here - it's possible to use docker as a toolchain that contains everything you need to develop. For example, we can create an image that has `buffalo`, `yarn`, `go`, and whatever else we need in it - let's say it's called `gomods/toolchain`. Then, we can use that image in our docker-compose file to do builds, tests, etc...

For example, to do a build (which do

[2018-08-10 18:54] adyach opened #452 "Verify that buffalo runs before tests"
There was a change in #449 regarding running buffalo before running any tests. It has to be validated, because buffalo should run all necessary things.

https://github.com/gomods/athens/pull/449/files/722d75649f2a8070e76ec23e3e6e177cb74fc963#diff-f785e9e46b9afd2567df7a658338db17

[2018-08-10 19:03] arschles commented on #391
Done!

https://twitter.com/gomodsio

🎉 😄

[2018-08-10 19:03] #391 closed

[2018-08-10 19:05] robjloranger commented on #431
done

[2018-08-10 19:05] #431 closed

[2018-08-10 19:07] robjloranger commented on #451
If there is no other, rjl.li/license exists

[2018-08-10 19:42] arschles commented on #433
Done! https://groups.google.com/forum/#!forum/gomodsio

[2018-08-10 19:42] #433 closed

[2018-08-10 21:55] mydiemho commented on #441
should I also add shoulders to the vendor directory?

[2018-08-10 22:00] robjloranger commented on #441
No, let's leave it as a tool not a dependency. Then we can add it as part of the CI to check for changes.

[2018-08-11 17:05] robjloranger commented on #311
Please do

[2018-08-11 21:58] arschles commented on #138
@fedepaol I remember you mentioning that you have a PR that added some tests for proxy routes. was it #456?

[2018-08-12 01:34] robjloranger commented on #98
Is this done? I've wondered about this, and the tombstone for deleted/deprecated. Olympus should also know what has been deprecated or deleted as well.

AFAIK this is not yet recorded anywhere for either Olympus or the Proxy.

[2018-08-12 01:38] robjloranger commented on #134
I think as part of #420 we can include this, I'm going to close and link back from there for reference.

[2018-08-12 01:38] #134 closed

[2018-08-12 01:40] robjloranger commented on #420
If we have a last step that adds dependencies for tests (including lint, dep etc) we can cover #134 as well

[2018-08-13 02:53] marwan-at-work commented on #307
We should close this issue since we don't return 404s anymore. However, for better performance, we should open a new issue titled "return 404 and asynchronously fill cache" once cmd/go resolves this issue: https://github.com/golang/go/issues/26334

[2018-08-13 03:03] robjloranger commented on #386
Partial reference conversion started in slack around here https://gophers.slack.com/archives/C9LRAQN8N/p1533660895000065

[2018-08-13 10:46] rogpeppe opened #462 "add go.mod file"
As athens is intended for the world of Go modules, it would seem reasonable to add a go.mod file so that it can be managed in that way.

FWIW, here's a working go.mod file as of commit 051f3884e1fcd5df3d07a7199e9df40bb29702d0.
It required a little bit of tweaking despite being initially generated from Gopkg.lock - not sure why.

	module github.com/gomods/athens

	require (
		cloud.google.com/go v0

[2018-08-13 13:52] marwan-at-work commented on #462
@rogpeppe thanks for opening this issue :) I believe there's already a PR for this (https://github.com/gomods/athens/pull/371) -- but I believe it's pending the official release since things with go mods is still changing in breaking ways in master.

[2018-08-13 15:00] rogpeppe commented on #462
OK, thanks - I hadn't seen that. For the record, I'd suggest running `go mod tidy` before submitting that PR.

[2018-08-13 15:29] michalpristas commented on #308
we should think whether or not proxy will be scaled 1:1 with underlying DB.
if not (adding more processing power - instances) with shared DB, we should think about some distributed lock here.
Something like Watches in Zookeeper or Consul