[2018-11-01 18:10] arschles commented on #749
I"d like to take this one

[2018-11-01 18:34] #832 closed

[2018-11-01 19:49] marpio opened #850 "Unify implementation for s3-compatible storage backends"
**Is your feature request related to a problem? Please describe.**
Minio and AWS s3 are compatible and so we could unify the implementation of this storages.

**Describe the solution you'd like**
At the moment there is this:
https://github.com/gomods/athens/tree/master/pkg/storage/s3
and this:
https://github.com/gomods/athens/tree/master/pkg/storage/minio
We could probably replace one with another

[2018-11-01 21:06] arschles opened #851 "Add doc for how to set up the local docs development environment"
**Is your feature request related to a problem? Please describe.**

We don't have docs on how to set up the local development environment to develop docs. That'd be nice because it would make docs authoring a bit easier. Maybe it'd encourage folks to write more docs too? No idea

**Describe the solution you'd like**

We should have a document on how to set up the docs server locally (inception!) -

[2018-11-01 21:08] marwan-at-work commented on #851
i'd like to work on this

[2018-11-01 21:11] arschles opened #852 "Is there a better time for dev meetings?"
We hold the [weekly development meeting](https://aka.ms/athendevmeeting) in the mid-morning time for the western US. This is in the evening for european community members and in the afternoon for the eastern US. People have jobs & lives, so I'd like to find out if there is:

1. A better single time for the dev meetings
1. A need/want for a second dev meeting that's better for folks in non-western-

[2018-11-01 21:11] arschles commented on #852
I think there's a better single time for the dev meetings (we'll figure out the better time if this gets the most votes)

[2018-11-01 21:12] arschles commented on #852
Vote here if you would like a second dev meeting that's better for folks in non-western-US time zones (we'll figure out when it should happen if this gets the most votes)

[2018-11-01 21:12] arschles commented on #852
Vote here if you think there's no need to change anything, the recordings/async workflow/etc... is ok

[2018-11-01 21:29] fedepaol commented on #829
Can I take this one?

[2018-11-01 21:35] michalpristas commented on #852
I would be very strongly against the second meeting. i think it might lead to exclusion rather than inclusion.
i would like to hear @Kunde21 opinion as well on this.
Maybe we could set up a biweekly schedule where one week would be more suitable for west-us another week for people from eastern europe/asia

[2018-11-01 21:56] arschles commented on #852
regarding the second meeting, that makes sense @michalpristas

[2018-11-01 22:53] arkadysafety commented on #830
@marpio ok with me. I do builds from source codes for now anyway.

[2018-11-01 22:54] arkadyb commented on #830
@marpio ok with me. I do builds from source codes for now anyway.

[2018-11-01 23:38] arschles opened #856 "Create a Docker image for Hugo"
**Is your feature request related to a problem? Please describe.**

In today's dev meeting (November 1, 2018) we discussed having documentation on how to run the documentation site locally. #851 talks about that.

**Describe the solution you'd like**

Following up on #851, @nunix, @chriscoffee, @marwan-at-work and some other folks were asking if there's a docker image that contains [hugo](https://

[2018-11-02 05:51] #830 closed

[2018-11-02 07:19] michalpristas commented on #808
@arschles  we talked about Release notes yesterday. so I was thinking maybe we can automate it with actions?
with each tag, we can publish a release notes with a list of Issues (not PRs as PR may fix a typo or another very minor thing)

[2018-11-02 11:04] marpio commented on #850
It seems that if we do `_, err = s.minioClient.PutObject(s.bucketName, zipFileName, zip, -1, minio.PutObjectOptions{})` (passing size=-1) minio will determine that the part size is 5TB/10000 and will allocate a buffer of this size (~600 MB). There is currently no way to change that.
https://github.com/minio/minio-go/blob/55c9b2e90ef38c5962d872ebc34b5d7c0e04974c/api-put-object-common.go#L71:6
For r

[2018-11-02 11:38] chriscoffee commented on #852
I'm personally happy with the current developer meeting time (GMT). I'd also be happy to have a rotating schedule that @michalpristas suggested, just a bit of calendar changes

[2018-11-02 11:42] marpio commented on #813
Are you on it @marwan-at-work ? If not I would like to take this one.
One question though - `deleteInvalidStorageConfigs` removes the empty structs which `envconfig` creates so that config validation in the next step doesn't fail.
Did you mean to exclude the storage field from validation or validate only if i.e. `s.Minio != Minioconfig{}` ?

[2018-11-02 12:47] manugupt1 commented on #829
Yes, that would be awesome. Would it make sense to separate it into smaller issues for different storages?

[2018-11-02 13:46] fedepaol commented on #829
Agree. What's matter now is to define the interface & the api. Will implement a storage and the other will come afterwards.
My understanding is that we rely on the storage to fetch the whole list instead of having to maintain the list in a separate storage, right?

[2018-11-02 13:51] michalpristas commented on #829
yes it should be the first one. also, i suggest starting implementation with a more complicated storage e.g GCP or S3 so you can hit the caveats in the design as soon as possible

[2018-11-02 14:38] marwan-at-work commented on #813
@marpio I keep forgetting that weird thing about envconfig affecting validations...We can do two things:
1. Maybe let's just a big comment on top of `deleteInvalidStorageConfigs` that says "we do this because envconfig instantiates all storages and therefore their validations will fail"
2. Remove that function, and only validate the storage once we know what "storage type" is present.

[2018-11-02 14:39] marwan-at-work commented on #813
@marpio I'm already working on the tests part, so that shouldn't affect the rest of the check boxes if you wanna take em. Lemme know!

[2018-11-02 15:10] #822 closed

[2018-11-02 16:11] #856 closed

[2018-11-02 18:23] nicknezis commented on #395
@marpio Yes I believe I'm good for now. Thanks.

[2018-11-02 18:23] #395 closed

[2018-11-02 21:15] nunix commented on #852
same as @michalpristas, it would be nice to have only one meeting and concerning the time, with the winter time, I think it will fit pretty well everyone

[2018-11-04 02:56] robjloranger commented on #842
This sounds fun.

Can we assume git is installed, or should we use a library?

Would an endpoint that returns json be most useful? I'm thinking so as then the eventual front end and any other services that wish to report the information can use it as they like.

:+1: for the cli `version` option

[2018-11-04 20:38] manugupt1 commented on #829
yes! I did jump ahead. I think this issue is more of a design issue than code issue. Once we have settled down, we can write the code.

[2018-11-04 20:52] robjloranger commented on #842
I'll work on this

[2018-11-05 23:10] #469 closed

[2018-11-06 10:49] chriscoffee commented on #749
@arschles What do you feel is missing here? I'd like to help out today/tonight, then we can get v0.1.0 out 🎆 🍰

[2018-11-06 19:57] marpio commented on #699
The go issue for ref: https://github.com/golang/go/issues/27947

[2018-11-06 20:13] marwan-at-work opened #870 "You Might Not Need Buffalo"
There are two reason for making the Athens API Buffalo-less:

1. The API doesn't need any of the Buffalo features (i.e. frontend asset pipeline)
2. I, as well as others, have experienced difficulty with setting up and working with the Buffalo ecosystem:

see:
1. https://gophers.slack.com/archives/C9LRAQN8N/p1541534836483500
2. https://github.com/gobuffalo/uuid/issues/4
3. https://github.com/gobuff

[2018-11-06 20:32] arschles commented on #870
two thoughts:

- maybe we could move to using [echo](https://github.com/labstack.echo)
- we've talked about https://github.com/gomods/athens/issues/33 and other UI possibilities. maybe we could add another project that just does the UI bits and talks to this API?

[2018-11-06 20:37] marwan-at-work commented on #870
@arschles I think we should use a router that most people are familiar with so that we can onboard contributes easily, aka gorilla/mux. That being said, totes happy to hear how echo compares and why it might be a good decision for Athens.

[2018-11-06 20:46] marwan-at-work opened #872 "doc: mention that you do not need to install Buffalo"
Buffalo is not required as a CLI. People have reported that they had problems installing it. So letting them know, that they can just use Go directly will help people trying out Athens.

[2018-11-06 20:58] marwan-at-work commented on #749
I'll pick this up real quick 😄

[2018-11-06 21:02] penDerGraft commented on #809
@chriscoffee we may want to wait until the new entry is actually being used `pkg/download`. I should be able to make a PR for that tonight.

[2018-11-06 21:32] marwan-at-work commented on #530
i'm closing this as we are going with the .netrc file. If someone feels like this is not enough, feel free to reopen.

[2018-11-06 21:32] #530 closed

[2018-11-07 00:38] fedepaol commented on #829
So, I gave a look at s3 / gcp implementations. I think it would not be efficient if we don't store the information separately.
Both s3 and gcp store the modules together with the versions, which means that we should iterate across all the objects (meaning all the versions of all the modules), extract the module name, put them in a set and return them. This would make the pagination really difficul

[2018-11-07 01:55] #872 closed

[2018-11-07 05:49] arschles opened #875 "Put a prominent notice in our readme about the weekly meeting"
**Is your feature request related to a problem? Please describe.**

Info on our weekly dev meetings could be more prominent.

**Describe the solution you'd like**

[harbor](https://github.com/goharbor/harbor) has a nice community meeting "banner" near the top of our readme:

<img width="974" alt="screen shot 2018-11-06 at 9 46 07 pm" src="https://user-images.githubusercontent.com/70865/48112995-b7

[2018-11-07 07:48] #809 closed

[2018-11-07 07:55] michalpristas commented on #829
do they provide some continuation token?
what azure does it will return continuation token together with the result so with the next request you pass a continuation token so pagination is not that difficult to implement

[2018-11-07 14:34] fedepaol commented on #829
Which means that if the user asks for page # 3 we would scroll all the blobs until we collect & discard 2 * pagenum modules.

[2018-11-07 14:36] manugupt1 commented on #829
I like the last option. Scroll by token. Does the token have a time to live?
Essentially, I would expect
GET /storage
GET a token
GET /storage with token
and so on..

Everytime there is a request finished, the time to live for the token get refreshed. This can be in the order of some seconds.

[2018-11-07 14:39] fedepaol commented on #829
I would propagate the token directly from s3 / gcp to the user and use that for the new requests. So our behaviour would be aligned to the one of the storage which sounds reasonable whatever this behaviour is.
As I said the probelm with this approach is only about having the same module returned in the second request, which we can avoid by providing some kind of caching (maybe bound to the token i

[2018-11-07 22:47] arschles opened #876 "Git tags & dockerhub tags are out of sync with our milestones. Oh noes!"
Hi Athenians! I am gonna make a change to our Github milestone names: `v0.1.0 => v0.2.0` and `v0.2.0 => v0.3.0`. After I make the change the new `v0.2.0` milestone will be our official beta release. That means that we're still one PR (#873) away from our first official beta.

## The Long Part

If you want to not read the stuff below, I won't be offended! The above TL;DR should be enough to explain

[2018-11-07 23:16] chriscoffee commented on #776
I'd like to pick this one up tomorrow.

[2018-11-07 23:48] manugupt1 commented on #762
This has been fixed by @t-tomalak! Thank you!

[2018-11-07 23:48] #762 closed

[2018-11-07 23:51] manugupt1 commented on #870
I am going to work on it :D

[2018-11-07 23:52] manugupt1 commented on #390
Closing this as we have FAQs and walkthrough now

[2018-11-07 23:52] #390 closed

[2018-11-07 23:52] arschles commented on #761
@marwan-at-work @marpio I wrote this a while ago when we planned to make the proxy redirect directly to a CDN. that would mean on a miss, it would then have to write directly to the CDN and two processes could still race for the `/list` blob, even if they do the append.

We're not doing the redirect-to-cdn logic now, except to redirect to an upstream, right? I think if that's the case, we can clos

[2018-11-07 23:55] manugupt1 commented on #310
Parent issue here: https://github.com/golang/go/issues/26232

[2018-11-07 23:56] manugupt1 commented on #537
@fedepaol  @marwan-at-work  @arschles Is this fixed, can we close it?

[2018-11-08 00:02] penDerGraft commented on #870
Just throwing this out there, but would it make sense to keep a checklist of sections of the codebase to track where we've removed it, so as to not remove a major dependency all at once?

We could probably even track this at the individual handler/middleware level though that may be too granular.

@marwan-at-work I think you mentioned still receiving the requests in the handlers and then passing t

[2018-11-08 00:10] marwan-at-work commented on #870
@manugupt1 I agree with @penDerGraft -- we should keep this as a proposal and break it down into multiple smaller issues where we break the code endpoint by endpoint, and middleware by middleware. Also, this is post beta, so it'd be nice to wait until everyone has voiced in their ideas on how to approach this refactor :)

[2018-11-08 01:06] chriscoffee opened #878 "markbates/willie is now gobuffalo/httptest"
We still use `markbates/willie` which has now been archived. It's now `gobuffalo/httptest` has been fixed(find and replaced) in buffalo.

More information here https://github.com/gobuffalo/httptest and a reference to the find and replace commit https://github.com/gobuffalo/buffalo/blob/f45656ff3ff1402d362a16d9420fc7c1edf67cff/buffalo/cmd/fix/fix.go

**Describe the solution you'd like**
Some places

[2018-11-08 06:20] marwan-at-work commented on #537
yep

[2018-11-08 06:20] #537 closed

[2018-11-08 06:37] michalpristas commented on #776
Thank you @chriscoffee it's yours

[2018-11-08 07:08] marpio commented on #761
Yes, we redirect to upstream. I think we can close this as well.
/cc @michalpristas

[2018-11-08 08:55] marpio opened #879 "Test_checkFilePerms fails on Windows"
**Describe the bug**
Test_checkFilePerms fails on Windows

**Error Message**
https://dev.azure.com/gomods/athens/_build/results?buildId=12&view=logs

**To Reproduce**
Execute tests on Windows

**Environment (please complete the following information):**
 - OS: Windows Server 2016

[2018-11-08 09:51] marpio commented on #879
`os.Chmod(...) ` doesn't work on Windows so the Test is failing because of that.
The question is, would it be okay to disable the test on Win? Or should we set the permissions manually?

[2018-11-08 11:18] michalpristas commented on #879
Let's disable until we find a workaround.
According to the docs:

maybe, as a workaround we can have different implementation for win/unix
unix is what we have
win would require 0200
then we would have a switch on runtime.GOOS
same with tests

[2018-11-08 12:28] marpio opened #880 "TestCloudLogger test fails"
**Describe the bug**
TestCloudLogger fails... sometimes.
https://dev.azure.com/gomods/athens/_build/results?buildId=12&view=logs

Not sure but I suppose it happens because the call to the log func
https://github.com/gomods/athens/blob/bc3563674920a7fa664f04e3287e943f65041860/pkg/log/log_test.go#L81
and the creation of the expected variable
https://github.com/gomods/athens/blob/bc3563674920a7fa664f

[2018-11-08 18:28] t-tomalak opened #882 "Add support for aws credentials file"
**Is your feature request related to a problem? Please describe.**
Some users when running Athens with S3 storage want to use aws default configuration aka `.aws/credentials`. Unfortunately we can't omit validation of our storage parameters from configuration file (or could we in that case?)

**Describe the solution you'd like**
1. We can drop `required` flag on every parameter of `S3config` and c

[2018-11-08 21:01] arschles commented on #761
thanks everyone, I will close this now then :)

[2018-11-08 21:01] #761 closed

[2018-11-08 21:03] arschles commented on #876
Looks like most folks have had a chance to look at this, and we talked about it in today's dev meeting. I made the changes ([v0.2.0](https://github.com/gomods/athens/milestone/2) and [v0.3.0](https://github.com/gomods/athens/milestone/3)) and I'm gonna close this now

Thank you everyone! 😄

[2018-11-08 21:03] #876 closed

[2018-11-08 22:34] manugupt1 commented on #879
Can I give a hotfix to this one?

[2018-11-08 22:35] #749 closed

[2018-11-08 22:46] manugupt1 commented on #870
@penDerGraft @marwan-at-work @arschles

This preliminary research. I think we might not have to remove buffalo. To me, the issue
1. is a big refactor
2. is something that we no longer require as we do not have an rdbms support yet.
3. is fixed and less likely to occur again

4. and 5. are context related and this is what has been my main motivation to remove buffalo. What if we start by having our

[2018-11-08 22:55] manugupt1 commented on #775
Hi @korrat Alibaba OSS is supported by minio as well, would you want to add docs for it?

[2018-11-08 22:59] manugupt1 commented on #870
Also, here is the relevant documentation: https://gobuffalo.io/en/docs/context

[2018-11-09 06:46] nicksnyder opened #885 "HTTP 500 when getting info on orphaned commit (?)"
Thanks for creating this proxy, we use it here at Sourcegraph!

[Our builds started failing](https://github.com/sourcegraph/sourcegraph/issues/898) with an error message like this:
[code]

I can confirm that this commit does exist on GitHub (https://github.com/dominikh/go-tools/commit/f1b53a58b022) but it appears to no longer be on a branch (I suspect that it was in the past though and some histor

[2018-11-09 14:39] chriscoffee commented on #885
Hey @nicksnyder thanks for raising an issue. Sourcegraph is awesome!

We'll look into it 👍

[2018-11-09 15:46] robjloranger commented on #301
I agree this should be no longer needed once #699 is done.

[2018-11-09 18:32] #842 closed

[2018-11-09 18:35] arschles opened #886 "Create an HTTP endpoint that outputs the build version of the proxy"
**Is your feature request related to a problem? Please describe.**

#866 compiles the build date and version into the proxy binary. There's no way to get that from a running proxy, though

**Describe the solution you'd like**

We should expose the build info via an HTTP method.

**Additional context**

Follow-up from https://github.com/gomods/athens/pull/866#issuecomment-436134211

cc/ @marpio @ro

[2018-11-09 18:36] arschles opened #887 "Add documentation on how you can build a proxy binary with your own version & build date"
**Is your feature request related to a problem? Please describe.**

#866 automatically compiles the build version and date into the proxy binary. Some folks might want to build their own binaries with their own version/date though.

**Describe the solution you'd like**

We should add docs on how to do that.

**Additional context**

Follow-up on https://github.com/gomods/athens/pull/866#issuecommen

[2018-11-09 18:38] robjloranger commented on #886
This could possibly be part of the health endpoint, it just needs to return 200 for health check so could combine with some json or simple string info.

[2018-11-09 21:01] penDerGraft commented on #870
@manugupt1 I don't really have strong opinions either way. However, my understanding is that point 1 was referring to general difficulties that new contributors faced with on-boarding. This was actually true for me as well since I started around the time of the force-push/checksum issue with buffalo and couldn't get my local env to work right.

I will say that I did like the idea of separate repos

[2018-11-09 22:03] #875 closed

[2018-11-09 22:31] arschles commented on #850
@chriscoffee you might be interested in this one?

[2018-11-09 22:31] arschles commented on #829
What if we started with an  API that lists the total number of modules we're serving?

[2018-11-09 22:35] arschles commented on #800
@gcstang do you have any other thoughts on this? Specifically I'm interested in option (2). It looks like you'd like to tell Athens to check a public proxy first, then fall back to a private proxy or VCS?

If so, can you write down a use case?

[2018-11-09 22:39] arschles commented on #638
@scriptonist sorry for the long delay. If you're still interested in trying this, you're more than welcome to.

[2018-11-09 22:41] chriscoffee commented on #850
Yeah I'm interested, cheers! I'll take this one. Thanks all

[2018-11-09 22:44] arschles commented on #631
@zkry I am going to close this now. If you're able to reproduce it with the current, can you comment in here?

[2018-11-09 22:44] #631 closed

[2018-11-09 22:47] arschles commented on #806
@michalpristas would those be represented by wildcards in the codeowners file? Also, would we create Github teams for each of those categories?

[2018-11-09 22:49] arschles commented on #104
@michalpristas I'm not sure we need this anymore because:

- Our `/list` handler always queries the VCS (unless the VCS is unavailable or the repo is missing, and then we fall back onto our storage
- We always fetch source code synchronously on a `go get` call

Are you thinking that the VCS hook be used as an optimization?

[2018-11-09 23:01] arschles commented on #451
@marwan-at-work good point (and sorry for the delay). I see what you mean now. What do you think about recording each cache miss that we see and cancelling a `go mod download` call if we see the same cache miss within duration D?

I think this relies on #760 being built, but assuming it is, I can't think of any other reason that there would be multiple cache misses within a small duration for the

[2018-11-09 23:03] arschles commented on #816
@bhaveshpraveen are you still interested in tackling this?

[2018-11-09 23:05] arschles commented on #793
[mergeable](https://github.com/jusx/mergeable) could help us automate this

[2018-11-09 23:06] marpio commented on #104
I think this could still be a nice optimization. Since we're using go cmd the first request for a big module (i.e. cockroach db) will have to wait quite a while. With this we could minimize this so that we can serve it from the storage instead.

[2018-11-09 23:09] marpio commented on #793
Mergable looks awesome!

[2018-11-09 23:32] arschles opened #890 "Cookies are being sent to the client"
**Describe the bug**

When an API request is sent to the proxy, it responds with `Set-Cookie` headers, for example:

[code]

**To Reproduce**

Run the `curl` command (or equivalent with other tools) above in the example console output, and notice the `Set-Cookie` headers in the response.

**Expected behavior**

I don't think we have any technical reason to return cookies from our API calls, and I

[2018-11-09 23:38] arschles opened #891 "Add liveness and readiness probes for Kubernetes"
**Describe the solution you'd like**

The proxy can implement an endpoint that Kubernetes [liveness / readiness probes](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/) can use to figure out if the proxy is running and healthy.

I think we should implement the endpoint in the proxy and configure the helm chart to use it.

**Additional context**

I'm re

[2018-11-09 23:55] arschles opened #892 "Proposal: add indication whether returned data was in storage or not"
**Is your feature request related to a problem? Please describe.**

Most production logs look like this:

[code]

It's not really a problem, but read on because we could possibly make these better 😄

**Describe the solution you'd like**

Those logs are nice, but for debugging it can be useful to tell whether the data being returned (for info, mod and zip requests) was from the storage. For `/list`

[2018-11-10 00:37] arschles opened #893 "Proposal: cache the /list endpoint for a short period of time?"
**Is your feature request related to a problem? Please describe.**

The `/list` endpoint contacts the upstream VCS to get version numbers, so that corresponds to one `git` (or `hg` etc...) operation per dependency. For a public deployment of athens, I believe that's untenable.

**Describe the solution you'd like**

I think it'd be a good idea to add an option to the proxy to cache the `/list` endp

[2018-11-10 01:36] arschles opened #895 "Add support for Azure App Insights"
**Is your feature request related to a problem? Please describe.**

Our distributed tracing setup doesn't support [Application Insights](https://cda.ms/JT), and it looks like we don't use the default exporter either.

**Describe the solution you'd like**

I'd like to add support specifically for Azure AppInsights, but in doing so we'd also start using the default exporter (according to https://ope

[2018-11-10 01:51] gcstang commented on #800
@arschles basically what I was trying to accomplish by this train of thought was not having to change a proxy all the time on local machines, I'm not sure if that's possible.

First Example: (private -> public)
I'm working on my machine and my proxy internally has one fqdn int.proxy.domain.com:4000  to the company I work at on their network or VPN.  When I leave there and need to use the public re

[2018-11-10 04:33] robjloranger commented on #806
I think we have to create teams in GitHub to assign them to portions of the codebase. I don't believe you can assign more than one person or entity as an owner, one `@something` etc.

[2018-11-10 04:34] manugupt1 commented on #870
@penDerGraft Yep! The proxy functions as an API right now and it might require some clean up, but it is almost there. For example look at this change https://github.com/gomods/athens/pull/898

I think the onboarding issue can be fixed through better documentation overall. We have multiple workflows even amongst us. The documented way needs to be tested or reported. We have fixed it now I believe.

[2018-11-10 04:37] robjloranger commented on #793
:+1: for mergeable, it looks perfect

[2018-11-10 13:51] marpio commented on #891
@arschles we already have the `/healthz` endpoint. Do we need to modify it somehow or do we need something different additionally?

[2018-11-10 14:00] marpio commented on #886
I would rather create an explicit endpoint for the version info, just to make it clear.
We could also return versions of the components we're using i.e. go, VCSs, storage.

[2018-11-10 14:01] marpio commented on #887
I would like to take that.

[2018-11-10 17:02] bhaveshpraveen commented on #816
Yeah. I've been a bit occupied with my university work. I'd still like to work on it. It's totally fine if someone else wants to work on this. Peace.

[2018-11-11 01:42] robjloranger commented on #887
@marpio note that the date is set in the dockerfile. And may change, I'm working on fixing an issue with docker builds failing on Travis.

[2018-11-11 01:52] robjloranger opened #899 "Docker build is failing on travis"
The new change to the proxy dockerfile is failing when built during CI. It does build fine when done locally.

I'm thinking of moving the call to `date` out on the argument passed to the go linker and storing in a env var or build arg.

I'm working on this.

[2018-11-11 18:04] nunix commented on #899
Hi Robbie,
I've made it work by changing the following lines in the Dockerfile:
[code]

I switched off go modules for the compilation as it doesn't find it (normal as we are building it no?):
`GO111MODULE=off` and removed the `mod=vendor` after `go build`

Finally, here is my build command from `athens` root directory:
[code]

The build succeeds like this, however not sure if it's a workaround or

[2018-11-11 19:03] robjloranger commented on #899
@nunix the build works fine locally, it's failing in the Travis environment for some reason. Could be the `GO111MODULES`, I will check it out. I thought maybe it was cgo related as well.

Reopening as the Travis build is still failing.

[2018-11-11 19:16] manugupt1 commented on #890
Since we have an API based interface and plan to return JSON responses, I would think that this is a bug.

[2018-11-11 19:53] marpio commented on #899
The error msg:
https://travis-ci.org/gomods/athens/builds/453641688#L1457

[2018-11-11 22:51] robjloranger commented on #899
Closed with #903

[2018-11-11 22:51] #899 closed

[2018-11-12 01:39] robjloranger commented on #893
I think some level of caching would be a big bonus here. Could we have manual invalidation on new version pushes?

[2018-11-12 01:45] robjloranger commented on #891
I think the `/healthz` endpoint covers the `liveness` probe.

I'm uncertain what we would do different for a `readiness` probe. Maybe an enpoint that checks outgoing network connectivity or backing storage availability.

[2018-11-12 01:49] robjloranger commented on #886
I'll work on this. How about a `/version` endpoint that lists the server version for now and we can add more fields to the response body as we implement the availability of other data.

I'm thinking JSON response.

[2018-11-12 06:48] marwan-at-work opened #905 "Temporarily Turn Off Automatic Docker Push For Tagging/Releases"
### Issue

Our push-to-dockerhub-on-merge has been more buggy than functional. So I suspect the same can happen when we fire up a release.

If the next release doesn't work (screws up the docker push && tag process), our only two options to mitigate are:

1. Fix the problem, and force-push the same tag.
2. Fix the problem, and create a new tag.

Both are not good options.

### Solution

At least f

[2018-11-12 08:38] michalpristas commented on #892
👍 for correlating this with traces.

[2018-11-12 08:41] marpio commented on #905
I think it would be okay to do this manually for the first release but it shouldn't be a long term solution. Doing things manually isn't less error prone from my experience (i.e. it's easy to forget to pass the version ARG to the docker build).
We should find a way to test the process (at least most of it) on PRs.
@carolynvs added the docker build make target to the PR build here:
https://github.c

[2018-11-12 10:50] michalpristas commented on #793
mergable looks awesome 👍

[2018-11-12 11:57] manugupt1 commented on #891
Would it not be different if you have several proxy server's running and one of them s down, but others are running on the same cluster?

[2018-11-12 13:08] chriscoffee opened #906 "Ability to set MongoDB database name"
**Is your feature request related to a problem? Please describe.**

I deployed athens to heroku. If I wanted to use the sandbox mLab offering of mongoDB for example I'd have to take their automatically generated database name (something like `heroku_aowd89adw` which wouldn't be `athens`. `athens` is currently required by this storage driver implementation.

At the moment we hardcode the database n

[2018-11-12 13:20] chriscoffee opened #907 "DropDups is silently ignored after MongoDB >2.8"
After some discussion in [#athens](https://gophers.slack.com/archives/C9LRAQN8N/p1542027520801700) we figured out that dropDupes is [no longer available after 3.0](https://docs.mongodb.com/manual/release-notes/3.0-compatibility/#remove-dropdups-option) for `createIndex()`, `ensureIndex()`, and `createIndexes.`

The latest stable version of MongoDB is 4.0.

Should we consider dropping this or conti

[2018-11-12 13:35] chriscoffee commented on #793
+1 for mergeable. It clearly has the coolest logo which is the biggest factor in my choice.

[2018-11-12 13:43] michalpristas commented on #907
i think with other storage implementations we return error with module already exists we should do the same here

[2018-11-12 13:54] michalpristas commented on #906
I would go with this
- use mgo to parse out db name in mongo pkg so we don't bloat config package with unnecessary dependencies
- if info.db is not set then use newly introduced `config.Mongo.DefaultDBName` which is set by ENV, is not required and defaults to `athens`

this way we give a solution for people preferring one way or another at the same time

[2018-11-12 14:07] carolynvs commented on #905
I'm the evil turd who wrote the docker push on merge. 😀 Can I help? If you let me know what's buggy, I'm sure it's fixable. I'd really hate to turn that functionality off (permanently).

[2018-11-12 14:51] marwan-at-work commented on #905
Good point, I definitely didn't mean permanently (updated the issue title).
@marpio if we forgot the build-arg, then we can catch that locally before pushing the new tag to docker hub. In other words, whoever issues the release should actually test things before pushing the tag.

@carolynvs there's nothing in mind about why it's not working, but you can see over time here that it hasn't been very

[2018-11-12 15:39] carolynvs commented on #905
I volunteer as tribute for today's release on-call if docker push fails.

[2018-11-12 15:43] robjloranger commented on #905
I'm free through the day today as well. It's a holiday for me.

[2018-11-12 15:45] marwan-at-work commented on #905
@robjloranger @carolynvs thank you both!

[2018-11-12 15:45] #905 closed

[2018-11-12 15:55] manugupt1 commented on #870
Okay, I do have a proposal finally.
How about we have our own context which has a `buffalo.Context` but accounts for our own logging and tracing capabilities?

For every interface layer, we just use our own context
For eg: https://github.com/gomods/athens/blob/master/pkg/storage/lister.go#L9

An example implementation might look like this. https://play.golang.org/p/qxJZzFqjF8Q

We can also use the

[2018-11-12 16:52] robjloranger commented on #806
I like the initial ideas @michalpristas had here https://github.com/gomods/athens/issues/806#issuecomment-432524651

We can always adjust as we move along. I'm happy to create the teams today if that's somewhere we'd like to start.

[2018-11-12 22:02] manugupt1 commented on #870
@marwan-at-work Yep!
A) We should only do this when function signatures are changed and nothing else in the first pass which would be essentially `s/context.Context/athensContext/`. That is just the number of lines of code that will be changed but not the functionality imo.
B) Regarding incompaitibiliy, I can't really speak of that, I think libraries should not force context.Context on everyone. I

[2018-11-12 22:18] manugupt1 commented on #654
I am closing this issue as we the healthz endpoint is automatically excluded and I can't think of anything else

[2018-11-12 22:18] #654 closed

[2018-11-13 06:52] michalpristas commented on #654
just a side note that it is common to use `/healtz` for liveness checks and `/ready` for readiness, we will cross that bridge when we get to it though

[2018-11-13 10:36] chriscoffee commented on #654
Just a quick addition to that, if we're going with `/healthz` we should probably also do `/readyz`. It's a Google practice to avoid collisions

[2018-11-13 10:38] chriscoffee commented on #906
I'll take this for myself!

[2018-11-14 15:03] leitzler opened #914 "Update default path for proxy config file"
The current default path to the config file is `../../config.dev.toml` regardless from where you start the proxy.

I'd suggest to use a more generic name for the file, as `config.toml` and also either skip the path entirely or even better use (per OS) specific config path. E.g.:

 OS | Path |
 ---- | ---- |
 Linux | `$XDG_CONFIG_HOME` |
 macOS | `~/Library/Application Support/` ([details](https://

[2018-11-14 15:32] robjloranger commented on #914
`$XDG_CONFIG_HOME` should probably just be `$HOME` as not all Linux distros support the base directory specification.

[2018-11-14 17:22] mewmew opened #915 "Link to https://docs.gomods.io/public_proxy results in 404"
The link to https://docs.gomods.io/public_proxy from https://docs.gomods.io/ results in a 404 error.

[2018-11-14 17:35] chriscoffee commented on #915
Hey @mewmew. Thanks for opening this ticket! We're currently running a public version of it at https://athens.azurefd.net but this may change as it may become unstable or disappear completely as we release v0.2.0/0.3.0

I'll get the docs update now, unless you'd like to do it? 👍

[2018-11-14 22:25] leitzler opened #916 "Return 4xx when user has incompatible import path"
I have a [sample repo](https://github.com/leitzler/modbug) that outputs the following error when i run `go run main.go`:
[code]
The error is due to incorrect import paths in my project, and can be fixed by updating them.

However when I do use athens as proxy, it returns `500 Internal server error`:
[code]

As a user I might not have access to the athens logs where the details can be found.
Since

[2018-11-15 00:44] Hamthannuel commented on #713
I submitted a pull request towards microsoft visual studio code and have not received a t-shirt or an email saying I would be recieving one yet..

[2018-11-15 03:00] robjloranger commented on #713
@Hamthannuel you will have to get in touch with Microsoft regarding that. This project is not under Microsoft. If you check out this [post](https://open.microsoft.com/2018/11/07/hacktoberfest-2018-results-thank-you/) you will see they are in the process of reviewing submissions.

[2018-11-15 03:04] robjloranger commented on #793
I think once we get this set up it should also block `do-not-merge` and `frozen` (if we add that tag)

[2018-11-15 06:59] mewmew commented on #915
Hi @chriscoffee!

Thanks for the note. Feel free to update the docs :) I couldn't find a gh-pages branch, or which specific repo handled the site (only skimmed briefly).

Cheers,
Robin

[2018-11-15 07:07] michalpristas commented on #914
what about multiple valid paths with priority, on load config init would check each of them
[code]

I do not mind to rename to `athens.config.toml` especially with homedir involved

[2018-11-15 09:42] marpio commented on #885
@nicksnyder What kind of storge are you using with athens? Could you check if `honnef.co/go/tools/@v/v0.0.0-20180910201051-f1b53a58b022`(.info/.mod/.zip) files are stored there?

[2018-11-15 10:07] keegancsmith commented on #885
We use ephemeral disk storage. It has been cleared away and we no longer attempt to fetch that version via athens. The directory and files are not present.

So I just manually fetched the info URL described above, and the file was still not present:
[code]

[2018-11-15 10:31] chriscoffee commented on #915
No worries @mewmew Thanks.

I'll get those updated.

[2018-11-15 10:51] keegancsmith commented on #885
Just upgraded to `v0.2.0` and same problem. Here is the log message now
[code]

[2018-11-15 10:58] michalpristas commented on #885
according to https://github.com/dominikh/go-tools/commits/master
there's no such revision in the commit history

[2018-11-15 11:20] marpio commented on #885
@keegancsmith Could you try `go get` this version without the proxy? Does it work then?

[2018-11-15 13:05] keegancsmith commented on #885
Yes it works, but it might be locally cached. So I `sudo rm -rf $GOPATH/pkg $(go env GOCACHE)` in case there is an old clone of the repo which works. It then failed:
[code]

I think this issue is more about the proxy returning a 500 responses, when maybe a `404` response would be more appropriate?

[2018-11-15 13:12] marpio commented on #885
👍 for some 4xx status. The problem is, `go` doesn't return error codes so we need to parse text.
Ref: #916

[2018-11-15 14:13] nicksnyder commented on #885
Can you confirm that Athens doesn’t even attempt to fetch from the network if it finds a matching entry on the disk cache? I want to rule out the possibility that we started seeing the 500 before our ephemeral storage was cleared (e.g. by a pod restart)

[2018-11-15 14:14] michalpristas commented on #885
yes the logic is that once module is not stored it is fetched, stored and then served from store

[2018-11-15 16:35] robjloranger commented on #914
For Linux if it's in the home directory, priority should be [`.athens.config.toml`, `.config/athens/config.toml`, `/etc/athens/config.toml`] or similar but in that order. Home then home relative config directory then system level. However system level config directories are not standardized across distributions.

[2018-11-15 18:03] rogpeppe opened #921 "better reference documentation is needed"
There are some helpful examples in the introductory web page, but there should really be a full definitive reference for all the Athens configuration and command line syntax. For example, the only place to find out what environment variables are supported is [this page](https://github.com/gomods/athens/blob/master/config.dev.toml) which doesn't seem to be linked to anywhere.

[2018-11-15 18:07] DonMcNamara opened #922 "Update docker hub description for gomods/athens"
**Describe the bug**
The descriptions on the docker hub page for [gomods/athens](https://hub.docker.com/r/gomods/athens/) appear to be placeholders. We should update them with some better documentation.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to: [https://hub.docker.com/r/gomods/athens/](https://hub.docker.com/r/gomods/athens/)

**Expected behavior**
The docker hub descriptions sh

[2018-11-15 18:29] marwan-at-work opened #923 "Simplify Timeouts In Config"
Our config.dev.toml has one global timeout, and one timeout for each storage. I don't think we're using "timeouts" in general for anythibg _but_ storage...therefore, we should remove all storage timeouts and just have one timeout field in the config.toml file. The top level one. And pass it to the storages on init.

[2018-11-15 21:13] marwan-at-work opened #924 "Aerial View Of Athens Documentation"
Our docs website is not well organized as of right now. I still struggle to find things I wrote myself because I'm not sure which section it belongs to.

**We should holistically look at how to make our documentation an end-to-end journey.** Something simple, understandable, and just great...I know I'm throwing jargon here, but I believe it's really worth it.

So before we just "code something", w

[2018-11-15 21:14] Xe opened #925 "Documentation is missing for the validation path referenced in the dev config"
I am trying to evaluate Athens for a project, I noticed that there is a [validation hook](
https://github.com/gomods/athens/blob/master/config.dev.toml#L84) in the default configuration but there is no details on what this is, means or how it is used.

My thought is that by using this, I can create a system that allows me to somehow identify the source of who is requesting a module (for example: a

[2018-11-15 21:17] chriscoffee opened #926 "Public proxy response times for Europe"
The current response times for Europe uncached or on the `/list` view which we know has problems are lenghty.

I can't see what the server sees but for various calls it's taking `30+s` against the publically hosted proxy compared to one I'm hosting myself in Europe.

I'd like to have us deploy a public version of the proxy closer to this side of the pond 👍

[2018-11-16 11:45] marpio commented on #924
I think it's a good idea to think this through - maybe we could make a small list of projects with great docs + some description of what makes it so good.
Something like:
- Project A - I like it because X and Y

We could then compile a list of features we think are important with examples.

[2018-11-16 14:30] #508 closed

[2018-11-16 15:07] #886 closed

[2018-11-16 16:14] marwan-at-work opened #929 "Add Config Flag To Pass Auth Header To ValidationHook"
One use case is that you might want to only allow Athens to be "available" during a CI/CD build then locking it down once that build is done...one way to achieve this is that the Go can send an Auth header (right now only basic) to Athens, and then Athens can pass that header on the fly to the Validation hook and the hook will make sure the token is correct.

We should have this behind a flag beca

[2018-11-16 16:33] robjloranger commented on #924
We should do the same for #922

[2018-11-16 20:35] #907 closed

[2018-11-16 20:52] #880 closed

[2018-11-16 20:53] komuw commented on #870
I would also be in favor of removing Buffalo, for the various reasons that have already been listed;
- new contributors have to grok `athens` and then `Buffalo` for them to be effective.
- `athens` does not appear to be using much of `Buffalo`. We are using `Buffalo` more like a http router than the full framework that it is; maybe all that `athens` requires is a router, we should get ourselves a

[2018-11-16 21:00] #923 closed

[2018-11-16 21:07] #890 closed

[2018-11-16 21:14] #878 closed

[2018-11-17 20:53] marpio opened #931 "Goreleaser failed on v0.2.0 tag build"
**Describe the bug**
Goreleaser failed on v0.2.0 tag build. See: https://travis-ci.org/gomods/athens/builds/454139475#L1637

**Error Message**

<pre>
release failed after 0.03s error=git is currently in a dirty state:
?? .minio.sys/
?? codecov
?? gomods/
?? gomodsaws/
?? minio
</pre>

**Expected behavior**
Raw binaries should be created and published to GH.

[2018-11-17 21:05] marpio commented on #735
@arschles do you think we could do this already with the new instance?

[2018-11-17 21:24] marpio commented on #262
@arschles I'm thinking, should we close this and open a new more specific issue?

We can already run tests without any additional services. We also have integration tests using minio and mongo.
Should we still have tests that operate on live services?
s3/DO spaces can be potentially replaced with minio and Azure Blob Store with Azurite, we don't have anything for GCP though.

[2018-11-17 21:44] nicksnyder commented on #885
My assumption is that the pod restarted and our ephemeral storage was cleared, which surfaced the issue, but I don't know for sure.

If you are interested in attempting to reproduce (to verify Athens behavior), then all you need to do is create a toy go dependency, load it into the proxy, force push over that commit you are depending on, and then see if Athens behaves correctly (using the cached o

[2018-11-18 06:28] fedepaol opened #932 "In gcp we ignore bkt.Create "bucket already exists" error"
**Describe the bug**
This drove me mad while trying to test https://github.com/gomods/athens/issues/829 .

Here https://github.com/gomods/athens/blob/master/pkg/storage/gcp/gcp.go#L46
[code]
we skip the error, assuming that if the bucket is already there it is because we created it.
Today I learned that the name must be unique across all GCP (see https://cloud.google.com/storage/docs/naming - "buc

[2018-11-18 14:04] #807 closed

[2018-11-18 16:42] marwan-at-work opened #935 "Error With Beta Deployment On Microsoft Cloud"
If you run the following from a given project (make sure your local cache is removed)

[code]

You get this error

[code]

This error shouldn't happen I think.

It would be great for whoever has access to see how this error happened since it's potentially an Athens bug in beta.

cc @arschles

[2018-11-18 17:35] PascalDierich commented on #935
following the instructions I get this error
[code]

[2018-11-19 09:32] marpio commented on #935
`GOPROXY=http://localhost:3000 go get github.com/gobuffalo/buffalo-pop@v1.1.2`
This work fine with `v0.2.0` and `mongodb`

[2018-11-19 15:08] marwan-at-work commented on #935
@marpio works ok locally, but broken on the deployment. I'm curious how/why.

[2018-11-20 19:56] #879 closed

[2018-11-20 20:11] #848 closed

[2018-11-22 09:15] Kunde21 commented on #852
In ASEAN, the current meeting time is unworkable (around midnight) and I've found it quite difficult to stay in the communication loop.

@michalpristas idea of a two-week schedule is probably the best solution to cover more timezones.

[2018-11-22 15:22] steakunderscore commented on #850
This seems related to #489.. Also could be worth holding off on this if the plan is to replace it all with go cloud :thought_balloon:

[2018-11-22 17:08] marpio commented on #850
Go cloud is still alpha and not suitable for production. I think removing/simplifying code can be still beneficial. Also, if I'm not mistaken and minio client really allocates 600mb on each module save then it might not be a workable solution.

[2018-11-22 23:14] #891 closed

[2018-11-23 11:06] chriscoffee commented on #213
Just a quick update on this that we're waiting for a new subscription and access. This can take a while. We last discussed this around 29th October.

[2018-11-23 12:36] manugupt1 commented on #885
I would like to reproduce this and see what can we do about this one.

[2018-11-26 14:30] marpio opened #946 "Create test that ensures the stored modules are immutable"
It would be nice to have a test described in #885 - `go get` a module by commit, then delete that commit and try to `go get` it again. This should work since the version should be stored.
We could use the https://github.com/athens-artifacts repo.

/cc @manugupt1

[2018-11-27 04:00] stubbornTanzhe opened #949 "wish support go get with branchname"
**Is your feature request related to a problem? Please describe.**

in my company,every private project has the branch include "develop","test","pre-production" and "master".first we write code to "develop" branch the merge from "develop" to "test",and to "master" in the end.
so the code I depend on always first in "develop" branch.so i need to go get project_i_depend@develop.
With the origin go c

[2018-11-27 12:44] rogpeppe opened #950 "go get with branch results in 500 error"
**Describe the bug**
If I use `go get $module@$branchname`, I get a 500 response from the Athens proxy.

**Error Message**

[code]

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
I would expect this command to fetch the latest commit from the master branch of `github.com/juju/errors`.

**Environment (please complete the following information):**
 - OS: Linux 64 bi

[2018-11-27 12:46] michalpristas commented on #950
Related #949

[2018-11-27 12:46] rogpeppe commented on #950
Note that `go get github.com/juju/errors` did not update to the latest version either.

[2018-11-27 15:41] marpio commented on #950
@rogpeppe this is a [known limitation](https://docs.gomods.io/intro/known-limitations/) Documentation mentions commit hash but it applies also to branches.
What you can do is `go get` this module without using proxy (so GOPROXY="")
This will add something like `require github.com/juju/errors v0.0.0-20181118221551-089d3ea4e4d5 // indirect` to the `go.mod` file. The build using proxy will work becau

[2018-11-27 15:46] marpio commented on #949
@stubbornTanzhe  this is a [known limitation](https://docs.gomods.io/intro/known-limitations/) Documentation mentions commit hash but it applies also to branches.
What you can do is `go get` this module without using proxy (so GOPROXY="")
For example `go get github.com/juju/errors@master` will add something like `require github.com/juju/errors v0.0.0-20181118221551-089d3ea4e4d5 // indirect` to the

[2018-11-27 17:09] rogpeppe commented on #950
FWIW the known limitation page says:

which sounds like the branch code works.

[2018-11-27 20:21] marpio commented on #950
You're right, we should make the docs more explicit/clear.
`go get github.com/juju/errors@master` wont work if `$GOPROXY` env var is set. It will work though, if it's **not** set.
Once you have a record like this `require github.com/juju/errors v0.0.0-20180806074554-22422dad46e1` in your `go.mod`, go will use the `pseudo version` while building and so `athens` will get requests like `/github.com/j

[2018-11-28 07:40] marpio commented on #703
I think that the issue title isn't accurate because it's more about adding azure blob storage support to Athens just like we support aws s3 and gcp blob storage.
Correct me if I'm wrong @michalpristas

[2018-11-28 08:32] michalpristas commented on #703
Yes, it is for blob storage, will update right away. thanks for pointing out

[2018-11-28 14:45] #775 closed

[2018-11-28 15:34] t-tomalak commented on #932
Maybe we should drop creating Bucket and let user create it manualy from GCP panel? From permission perspective I think to create new Bucket you need to have bigger permission, then just to read/create from specific Bucket. Then we can just check if given bucket exist and return `err` if not.

[2018-11-28 17:29] t-tomalak commented on #932
I will take this! :slightly_smiling_face:

[2018-11-28 19:11] marwan-at-work commented on #885
@nicksnyder Go only accepts 200 status from Athens (or any GOPROXY) so whether we return 500 or 4xx, the build fails anyway and there's no programmable way to make Go act differently based on this (as of now). Go also does not show any response message coming from Athens back to the user who ran `go build`. So we can't really tell the user what went wrong. Go does show the status message so maybe

[2018-11-28 19:11] #885 closed

[2018-11-28 21:15] marpio commented on #946
Alternatively we could write a unit test that checks just that as mentioned on Slack [here](https://gophers.slack.com/archives/C9LRAQN8N/p1543431320470200)

[2018-11-29 13:59] manugupt1 commented on #946
👍

Cheers
Manu
________________________________
From: marpio <notifications@github.com>
Sent: Wednesday, November 28, 2018 4:15:21 PM
To: gomods/athens
Cc: Manu Gupta; Mention
Subject: Re: [gomods/athens] Create an e2e test that ensures the stored modules are immutable (#946)

Alternatively we could write a unit test that checks just that as mentioned on Slack here<https://gophers.slack.com/archiv

[2018-11-29 16:06] #703 closed

[2018-11-29 19:05] arschles commented on #935
The MS deployment is having a lot of problems right now. I'm not sure the extent of them, but I'll look into this as soon as I can.

[2018-11-29 19:10] arschles commented on #932
@t-tomalak when you do this, can you check if the behavior is consistent across all the bucket storage implementations? For example, if you change GCP to require users to create the bucket beforehand, but S3 and Azure storage still try to automatically create, can you please create new issues for those storages, so we can update those implementations as well?

[2018-11-29 19:16] arschles commented on #916
We return 500 here because we can't get error codes from the `go` CLI that we use behind the scenes. I think we have two options to fix this:

1. Apply regular expressions to the CLI output to find out what kind of error the CLI output
2. Create a bug upstream for the CLI to output structured (i.e. JSON) information that we can read, and return an appropriate error code

[2018-11-29 19:17] arschles commented on #916
@marwan-at-work did you already create the bug I referenced in (2) above? For some reason I remember that you did. If not, I'll create one, just let me know

[2018-11-29 19:33] arschles commented on #852
I'll close this and open up a new issue regarding doing the two-week rotation of times

[2018-11-29 19:37] arschles commented on #699
I'm going to take this out of the `v0.3.0` milestone so that we don't couple it with the release of Go 1.12 (this is labelled with `fix after go 1.12`)

[2018-11-29 19:46] arschles commented on #262
Note that https://github.com/gomods/athens/pull/888 is open, and when merged it provides a docker compose target that lets you start up an athens locally with "things" attached to it.

@manugupt1 mentioned in the Nov. 29 meeting that we could have multiple docker compose targets to start Athens in dev and also to start Athens for production.

I think we can use this type of setup to run different

[2018-11-29 19:47] t-tomalak commented on #932
@arschles we don't create new bucket in S3 and azure implementation. I remember that we discussed this when I was implementing S3 storage that we wanna only create bucket when executing tests ( for storage.S3 is it in minio)

[2018-11-29 20:04] arschles opened #954 "Rotation of times for the dev meetings?"
In https://github.com/gomods/athens/issues/852, we talked about changing the time for the dev meeting or having two of them. We decided that we shouldn't change the time and we shouldn't hold two every week.

But the idea did come up to have a rotating time so that the meeting is at a reasonable time on week W for time zone X, and at a reasonable time on week W+1 for time zone Y. For example, we c

[2018-11-29 20:04] #852 closed

[2018-11-29 20:10] arschles commented on #924
@marwan-at-work thank you for opening this 💯 🎉 I put my opinions on your questions below

I feel like we should have these:

- Intro: the "elevator pitch", background on modules and more details on why Athens is rad, and a quick start
    - I think the quick start should be the focal point, and I also think this is where the single page with navigator would look great
- Community: non-technical st

[2018-11-29 20:11] arschles commented on #893
@robjloranger yea, I think we could definitely have that. Maybe some variation on the webhook that got proposed in #104 could do the invalidation - what do you think?

[2018-11-29 20:22] arschles commented on #924
@marpio here are some projects that have docs that stand out to me:

- [Buffalo](https://gobuffalo.io/en) has these things I like:
    - The top of the home page has a one-sentence description of the project and a getting started button
        - The "main features" grid on the home page gives me an idea of what exactly I'm gonna get, beyond the one-sentence
    - The header looks nice 😄 and has s

[2018-11-29 21:02] arschles commented on #895
Resources to checkout:

- https://github.com/bketelsen/censusai
- https://docs.microsoft.com/en-us/azure/application-insights/opencensus-go

[2018-11-30 09:44] leitzler commented on #916
I'd vote for (2)

[2018-11-30 19:19] marpio commented on #262
@arschles :+1: yes, that was my thinking as well. We can cover most of the storages by using things like minio, azurite etc.
I couldn't find anything for gcp either.

[2018-12-01 03:16] robjloranger commented on #893
Exactly 😁 some endpoint to say some module was "updated" and we can even check to see if it does have a new version, and if so update the list cache.

[2018-12-01 16:53] #932 closed

[2018-12-03 20:39] robjloranger commented on #926
What about a geographic load balancing and two deployments to start. North America and Europe.

They would each have their own storage of course which would help us get messaging and replication across deployments working.

[2018-12-03 20:44] robjloranger commented on #916
I like 2 as well, if accepted it could be behind a flag so only special use cases such as ours.

In the meantime a few regex for error types might not be a bad idea.

[2018-12-03 20:46] robjloranger commented on #915
Hey @chriscoffee, just checking in on this one. If your busy, would you prefer someone else to take it for you?

[2018-12-04 10:32] leitzler opened #959 "Private repo using ssh not supported since git global config is ignored"
I have a private gitlab repo that I use ssh instead of https to access. To make the `go` command aware of this, I add a configuration in my global git configuration file `$HOME/.gitconfig`:

`git config --global url."gitlab@privaterepo:".insteadOf "https://privaterepo/"`

Now `go get` from my private repo works like a charm.

When I use Athens as proxy, it calls `go mod download -json` and it fail

[2018-12-04 21:09] arschles commented on #926
@robjloranger azure.athensfd.net is now running behind a caching proxy that does geographical load balancing (https://docs.microsoft.com/en-us/azure/frontdoor)

The script to deploy to all the backend regions (as of this writing, I'm doing east US, west europe and southeast asia) is at https://github.com/arschles/athens-azure.

I'm going to close this because the remaining work is caching the muta

[2018-12-04 21:09] #926 closed

[2018-12-04 21:21] fedepaol opened #961 "Add catalog method to missing storages"
**Is your feature request related to a problem? Please describe.**
With https://github.com/gomods/athens/pull/955 a new catalog endpoint has been introduced.
Together with that, the Backend interface was enriched with a Cataloger interface.
That was implemented for file system backend, s3 and gcp. Azure, mongo and minio currently return a not implemented error.

**Describe the solution you'd like*

[2018-12-05 12:11] manugupt1 commented on #906
@chriscoffee Are you still on this?

[2018-12-05 19:56] chriscoffee commented on #906
@manugupt1 yeah mate I'll put the PR in tomorrow or later tonight, just been busy recently sorry.

[2018-12-05 21:21] #946 closed

[2018-12-06 10:52] scriptonist commented on #870
I don't know if I'm qualified to make an opinion about this, but I have experienced some onboarding issues with athens. I had to look up buffalo first get some background and jump back to athens.  I've contributed some code to athens and from my limited knowledge of the codebase I used to ask my self, Why buffalo is used 🤔 Why didn't they go with something light 🤔  and always concluded that it may

[2018-12-06 11:36] chriscoffee commented on #915
Apologies @robjloranger. I've put in the PR now.

[2018-12-06 12:11] leitzler opened #965 "File permissions on config files should allow more restrictive setting"
The config files must have 0640 as file permission, otherwise the proxy won't start. This check should be a mask check to allow a more restrictive permission (like 0600, 0400, etc)

https://github.com/gomods/athens/blob/48f7ca7780c0f744260d854752d09168369195e6/pkg/config/config.go#L149-L151

**Environment (please complete the following information):**
 - OS: linux
 - Go version : 1.11.2
 - Buffalo

[2018-12-06 19:12] #959 closed

[2018-12-06 19:16] arschles commented on #950
Another useful addition would be to include the error message in the response body. When you run `go get github.com/juju/errors@master` against an Athens server, here's what the server logs look like:

[code]

We could return the `msg` (`invalid version "master"`) to the client. That would be a good start for us

Maybe in the future we can match against this string on the server and return a 404 i

[2018-12-06 19:18] arschles commented on #949
I'm going to close this as a duplicate of #950, because that's a superset of this one

[2018-12-06 19:18] #949 closed

[2018-12-06 19:21] arschles commented on #931
In the Dec 6, 2018 meeting we discussed this:

- Removing goreleaser and favoring the docker images as the way to run Athens (or on Kubernetes/etc systems that run Docker images)
- Adding docs for how to build versioned binaries from source
- Adding a makefile target for building a versioned binary from source
- Closing this issue

[2018-12-06 19:25] #98 closed, assigned to nobody

[2018-12-06 19:30] arschles commented on #119
Currently if you set up a `.netrc` file on the machine that you run Athens from, the `go mod download` calls that Athens does on the backend will respect the token you set in the file.

Closing

[2018-12-06 19:30] #119 closed

[2018-12-06 19:36] arschles commented on #262
On the Dec. 6 Meeting, we talked about this:

- @manugupt1 suggested that we document what storages folks actually use in "production"
    - To help set the expectation on what's been tested in the wild
- We create another docker-compose service called `test` that starts up every service that we're able to start in a docker container, and runs all our tests against them
    - We have a `dev` targe

[2018-12-06 19:37] arschles commented on #386
We already have GitHub enforcing rules for us, closing

[2018-12-06 19:37] #386 closed

[2018-12-06 19:39] arschles commented on #529
There are two caches that we should definitely document:

- The local cache at `$GOPATH/pkg/mod`
- The not-a-cache in Athens (i.e. the database)

And we should mention that you will only be hitting Athens for dependencies if it's not already in your local cache

[2018-12-06 19:42] arschles commented on #813
This looks to be done after #860, closing

[2018-12-06 19:42] #813 closed

[2018-12-06 19:43] arschles commented on #804
This is done after #936, closing

[2018-12-06 19:43] #804 closed

[2018-12-06 19:48] arschles commented on #638
Now that someone can specify the proxy port (we do this in the buffalo config in code), this is done. Closing

[2018-12-06 19:48] #638 closed

[2018-12-06 21:10] arschles commented on #800
@gcstang it seems like the major concern is having to change the `GOPROXY` environment variable when you're at home vs. at work?

If that's the case, could you use `direnv` for now to set that environment variable based on which directory you're in?

Alternatively, if there's enough demand for it, we could extend `ATHENS_GLOBAL_ENDPOINT` to make requests to upstream proxies behind the scenes inste

[2018-12-06 22:07] t-tomalak opened #969 "Support for Metrics using DataDog and StackDriver"
**Is your feature request related to a problem? Please describe.**
After #816 will be merged we should add support for DataDog and StackDriver.

**Describe the solution you'd like**
`RegisterStatsExporter` should support `datadog` and `stackdriver` and export stats to them.

**Additional context**
https://opencensus.io/exporters/supported-exporters/go/datadog/#0
https://opencensus.io/exporters/sup

[2018-12-06 22:14] t-tomalak opened #970 "Add Prometheus service to Athens docker-compose"
**Is your feature request related to a problem? Please describe.**
As we support metrics export to prometheus (#816) we could add it as a service to our docker-compose

**Describe the solution you'd like**

There should be configured prometheus service in Athens docker-compose that will be listening on Athens metrics endpoint

**Additional context**
https://hub.docker.com/r/prom/prometheus/
https:

[2018-12-06 22:19] t-tomalak opened #971 "Update helm charts to include stats from prometheus"
**Is your feature request related to a problem? Please describe.**
As Athens supports metrics export to Prometheus (#816). We should update Athens helm charts to have Prometheus service that will be collecting that stats.

**Describe the solution you'd like**
Update helm charts to include prometheus as the stats service

[2018-12-07 00:00] gcstang commented on #800
@arschles It sounds like you may have answered my issue in slack on 11/29/18
I commented: it would be nice if it would fall back to going direct or if we could run a local copy of athens(via docker for example) that could point at my main athens and if not available fallback

you responded: we have the option to have Athens to fall back to another (we call it “upstream”) Athens so you certainly co

[2018-12-07 01:33] arschles commented on #776
@chriscoffee still up for this one? If not I wonder if @marwan-at-work you could do it b/c you do a lot of GCP work? Let me know if not and I'll pick it up after I finish up the preview deployment work

[2018-12-07 01:50] arschles commented on #816
@bhaveshpraveen it's totally fine for you to work on it. If you can, let us know if you're still interested

[2018-12-07 01:51] arschles commented on #446
@timraymond still interested in giving this a shot?

[2018-12-07 01:51] arschles commented on #892
Also CC https://github.com/gomods/athens/issues/446 because this is related

[2018-12-07 13:31] fedepaol opened #975 "Use the common storage tests for gcp"
**Is your feature request related to a problem? Please describe.**
Currently the tests for gcp are inside the package itself, while the other storages have a common testing framework that gets updated and covers all the new use cases. It's likely for gcp tests to be left behind.

**Describe the solution you'd like**
Merge the gcp tests inside the common storage ones.

[2018-12-07 18:36] robjloranger commented on #915
no apology needed, just checking in 😀

[2018-12-07 22:59] #915 closed

[2018-12-08 07:08] jcaberio opened #978 "Typo on docs"
**Describe the bug**
typo on https://github.com/gomods/athens/blame/master/docs/content/intro/protocol.md#L13
`bellow` -> `below`

**To Reproduce**
Steps to reproduce the behavior:
go to https://docs.gomods.io/intro/protocol/
<kbd>CTRL</kbd>+<kbd>F</kbd> `bellow`

**Expected behavior**
Should be spelled `below`

[2018-12-08 10:57] marpio opened #980 "Vote: Should we use : latest tag on docker hub"
At the moment the script that's pushing to docker hub sets :latest tag on every release:
 https://github.com/gomods/athens/blob/5ab820de96fa69c1a9e69119d9ca9e171b33667f/scripts/push-docker-images.sh#L25
There are pros and cons of using :latest and we should decide if we want to use it.

[2018-12-08 10:57] marpio commented on #980
Yes, we should use :latest

[2018-12-08 10:57] marpio commented on #980
No, we should not.

[2018-12-08 10:59] marpio commented on #980
My take is that latest is ok as long as we release frequently and the gap between master and release isn't big.

[2018-12-08 13:22] marpio opened #981 "Execute e2e test on azure pipelines windows build"
**Is your feature request related to a problem? Please describe.**
At the moment we don't execute our e2e test on Windows builds.

**Describe the solution you'd like**
We have a Powershell e2e test, we just need to execute it to ensure Athens is working on Windows.

**Describe alternatives you've considered**
None

[2018-12-08 19:19] marpio opened #982 "Add a makefile target for building a versioned binary from source"
As discussed in the Dec 6, 2018 meeting, we should add a makefile target for building a versioned binary from source.

[2018-12-08 23:31] leitzler opened #984 "Proposal: Add filter rule for direct vcs fetch"
I added a `D` filter rule with the impression that it would fetch all filtered repos directly from vcs source and not cache them. Apparently that not how `D` works.

The proposal is to add another filter rule to make athens skip caching certain repos. My use case is that I have an on-prem private repo that I don't want to be cached on my athens server. Since it is local it won't be much faster to

[2018-12-08 23:35] leitzler commented on #965
Ok, so I also noticed that is is only the filter file that is checked.
I would say that is way more important to check the actual config file permissions since it can contain secrets like credentials for 3rd party services and such.

[2018-12-09 09:34] #931 closed

[2018-12-09 09:41] michalpristas commented on #984
This would require a small redesign as the flow currently is
singleflight -> dp -> goget -> save to storage -> serve from storage

[2018-12-10 04:33] #978 closed

[2018-12-10 04:55] arschles commented on #980
@marpio I opened #989 to fix the script to push `latest` on pushes to `master` and `stable` on tag releases. We can merge if we vote yes on this issue 👍

[2018-12-10 18:23] arschles opened #990 "Do the CLI list and the storage versions list operation in parallel"
**Is your feature request related to a problem? Please describe.**

Right now, we fetch versions from storage first, and then we call the lister to get versions from the upstream. That makes the operation really slow, especially for modules with lots of versions:

[code]

**Describe the solution you'd like**

I think there's a lot we can do overall to speed up the listing (https://github.com/gomod

[2018-12-11 19:45] flibustenet opened #993 "How to remove a package from storage for security concern in a public proxy"
When packages are immutable and recorded in a public proxy/cdn, how will we do to remove one for security concern ?
For example I've my own repository with vanity import path. I use a public proxy.
And now I've seen that i commited a password, how will I remove this repository ?

I've tested that when I remove a repository completely `@v/list` of the proxy doesn't answer anymore. But the `.zip` is

[2018-12-11 19:53] manugupt1 commented on #993
Hi, While it is not possible to delete it. It is possible to exclude it altogether using a filter module

The docs are here:
https://docs.gomods.io/configuration/filter/

If this does not work, let us know!

[2018-12-11 19:59] flibustenet commented on #993
@manugupt1 sorry i didn't explain my concern...

[2018-12-11 20:10] #990 closed

[2018-12-12 23:45] manugupt1 commented on #993
Do you mean that you have committed your password to public proxy? As of now, there is no way to delete it.

I will strongly recommend you to change the password. I will ask the maintainers about this use case.

[2018-12-13 16:04] flibustenet commented on #993
No worry, it's just a question

[2018-12-13 17:08] fedepaol opened #995 "Add catalog method to azure storage"
**Is your feature request related to a problem? Please describe.**
With #955 a new catalog endpoint has been introduced.
#961 was opened to add missing storages and mongo is on its way to be merged.

This issue is for implementing the cataloger interface in Azure

**Describe the solution you'd like**
Implement the cataloger in azure.

[2018-12-13 17:09] fedepaol opened #996 "Add catalog method to minio storage"
**Is your feature request related to a problem? Please describe.**
With #955 a new catalog endpoint has been introduced.
#961 was opened to add missing storages and mongo is on its way to be merged.

This issue is for implementing the cataloger interface in minio.
It should be pretty straightforward since s3 is already implemented.

**Describe the solution you'd like**
Implement the cataloger in m

[2018-12-13 19:02] chriscoffee opened #998 "Official MongoDB Go Driver"
The official MongoDB Go driver just hit beta. Looking forward we could look to replace the current globalsign/mgo package we use.

https://github.com/mongodb/mongo-go-driver/releases/tag/v0.1.0

[2018-12-13 21:10] timraymond commented on #446
@arschles Apologies, I had to take a step back due to some family issues that came up back in November. If someone else wants to pick this up, please feel free to do so.

Fortunately, things are starting to settle down again, so I might be able to contribute soon :)

[2018-12-14 10:49] zturning opened #1000 "can't get new commit, when no version tag"
use a no version tag, example: `github.com/kataras/pio`

run this when no `github.com/kataras/pio` in disk

[code]

[2018-12-14 12:01] prateeknayak opened #1001 "Fix instructions to run athens as docker image, unable to find the gomods/athens:latest"
**Describe the bug**
I was trying to run athens locally using docker and the instruction details to use the latest tag of the image. Unfortunately, It fails with `Error response from daemon: manifest for gomods/athens:latest not found`. Also checked docker hub and  I can't see the latest tag on repo.

Looking at the travis script latest is only published when there isa tagged release. Would it be

[2018-12-15 11:56] t-tomalak commented on #1001
Hi @prateeknayak, it's know issue :slightly_frowning_face: We already trying to address that (https://github.com/gomods/athens/pull/989). Until this you can either use `:v0.2.0` (stable beta release) or `:canary` ( up to date with our `master` branch) tag

[2018-12-15 12:00] prateeknayak commented on #1001
@t-tomalak thanks for the prompt reply it's good to know that you are already on it. I am already using the v0.2.0, i just raised it so that it can be fixed in future for other folks.

Cheers !!

[2018-12-18 12:20] calmh opened #1003 "Checksum error on download of package with symlinks"
**Describe the bug**

In go 1.11.{34} the handling of packages with symlinks in them changed - they are now not included in zip files, previously they were. This means such zip files nowadays get a different checksum, when generated by Go 1.11.4. Zip files generated by Athens 0.2.0 fail this new checksum (assuming the `go.sum` was created outside of an Athens env).

**Error Message**

[code]

**To

[2018-12-18 13:56] #982 closed

[2018-12-18 13:56] #887 closed

[2018-12-18 19:49] marpio opened #1004 "Add ability to remove modules from the storage"
**Is your feature request related to a problem? Please describe.**
Even though athens storage should be immutable, there are some cases where modules will have to be deleted i.e. due to a DMCA infringement.

**Describe the solution you'd like**
The storages already implements the `Deleter` interface, what's missing is an http endpoint. It might be an manual process only possible from the UI and on

[2018-12-18 19:51] marpio commented on #993
Closing since it's replaced by #1004

[2018-12-18 19:51] #993 closed

[2018-12-18 20:43] marpio commented on #1000
Our `/list` endpoint returns merged results from the storage and from `go list -m -versions -json`.
If a module has no version (like in this case) the json structure returned by go cmd doesn't contain the `Versions` field which we use for the `/list` endpoint.
[code]
This means `/list` will only give the versions from the storage - in this case the one which was requested by `curl localhost:3000/g

[2018-12-19 22:18] markopotamus commented on #882
I'd like to work on this.

[2018-12-19 22:36] markopotamus commented on #882
Do you just want access to the default profile in the credentials file, or do you want to be able to specify any profile?

[2018-12-20 02:50] manugupt1 commented on #882
Hi @markopotamus Welcome!

What do you think of this flow:

If the proper env vars are not defined,
then look for the default to start off with.

We need to think about the order of
env var, profile, default (the easiest understandable format)

Until then, let us just go with the default unless you have worked with any of these and have an idea on how to proceed with it.

[2018-12-20 09:19] #816 closed

[2018-12-20 16:08] markopotamus commented on #882
I'll prefer the access key id and secret access key if they're specified in the S3 config.  I'll add an optional profile field to the config (it maps to the AWS_PROFILE env var).  If it's left blank, I'll use the default profile.

[2018-12-21 02:16] z2665 opened #1007 "config file permission"
**Is your feature request related to a problem? Please describe.**
System ceontos 7.2
 I'm always frustrated when  I open with config.toml, the information show it need config file's permission is bit mask 077. Actually I use chmod 077 filename not work.
but chmod 700 work well.

**Describe the solution you'd like**
the suggest information may need more friendly.
E.g ''the config's permission may

[2018-12-21 04:08] manugupt1 commented on #882
Let us not have profile for now please. Too many options for the user, imo.

[2018-12-21 15:20] manugupt1 commented on #1007
This is what the error message shows

[code]

Is there any confusion with `rwx, -, -`?

[2018-12-21 22:40] arschles opened #1008 "Add defaults for Athens config values"
**Is your feature request related to a problem? Please describe.**

If you don't pass Athens a config file, it won't have all the configuration values that it needs

**Describe the solution you'd like**

I'd like all of the default configurations that we see in the sample config file to be hard-coded into the binary, so that you only need to use the config file, or set environment variables, to ov

[2018-12-22 00:52] arschles commented on #1004
we'll need to have some authorization mechanism for deletes

[2018-12-22 03:13] z2665 commented on #1007
It may about habit;. I try chmod 077 first. but  not work.

[2018-12-22 22:31] manugupt1 commented on #1007
I am closing this issue as won't fix. I will fix it when someone else complains as well

If you still think it can be worded better, can you open a PR and we will go through it and merge?

[2018-12-23 02:55] z2665 commented on #1007
Thanks.  I'll try open PR

[2018-12-23 02:55] #1007 closed

[2018-12-29 18:21] Zyqsempai commented on #996
I can take it;)

[2018-12-29 18:54] fedepaol commented on #996
Great. You could give a look at the S3 implementation to take inspiration
from.

Il giorno sab 29 dic 2018, 19:21 Boris Popovschi <notifications@github.com>
ha scritto:

[2018-12-30 06:11] #882 closed

[2019-01-02 17:22] arpitgogia commented on #998
Hi @chriscoffee I would like to take up on the `good-first-issue` badge and volunteer for this task 😅

[2019-01-02 20:46] marpio commented on #998
Awesome @arpitgogia ! It's yours!

[2019-01-04 12:02] Zyqsempai opened #1023 "Minio saver: wrong path for module .info"
**Describe the bug**
Minio saver sets extra version for a module `.info`, module path already contains version
Module path: `github.com/gomods/testCatalogModule/v1.2.0014`
Extra version: `v1.2.0014`
Result: `github.com/gomods/testCatalogModule/v1.2.0009/v1.2.0009.info`
https://github.com/gomods/athens/blob/master/pkg/storage/minio/saver.go#L20

I can solve it in the scope of https://github.com/gom

[2019-01-04 12:03] Zyqsempai commented on #1023
@fedepaol Can you check this one?

[2019-01-04 12:41] Zyqsempai commented on #996
@fedepaol I faced few difficulties on my way to implement Catalog method:
First, one I mentioned above in new issue, the second is that fact that minioClient.ListObjectsV2 and ListObjects, don't want to continue list from specific key(module version), so we easily can fetch 1001 item but we can't continue from last module and fetch for example next 5.

[2019-01-04 13:41] manugupt1 commented on #1023
@Zyqsempai I looked into it a bit. Seems like it can be done in its own PR. I would prefer to do it that way unless absolutely necessary.

Let me know what do you think.

[2019-01-04 13:42] fedepaol commented on #1023
Agree with that, unless it blocks the minio catalog.
In any case it could be fixed & merged before the other

[2019-01-04 13:43] fedepaol commented on #996
Not sure I understood.
Can you provide a failing test?

[2019-01-04 16:34] Zyqsempai commented on #1023
Agree, opened PR to fix it. Better if we will merge it asap, cause catalog method implementation, related to this issue.

[2019-01-05 22:09] marpio opened #1032 "Exists checks only for .mod"
**Describe the bug**
At the moment we check for existence of a module by checking only if the `.mod` part is present in the storage.
This can lead to a problem if saving the module failed on `info`, `zip` or both but succeeded on `mod` because now the `storage.Exists` func will report true even though only the `mod` is present.
This, depending on the storage leads to some problems - for one the `/

[2019-01-05 23:39] manugupt1 commented on #1032
Hi Piotr,

I second what you are proposing.

Cheers,

Manu Gupta

On Sat, Jan 5, 2019 at 2:09 PM marpio <notifications@github.com> wrote:

[2019-01-06 20:00] marpio commented on #1032
@marwan-at-work

In that case, what we have in storage is broken, so it can't be used anyway. Let's say the first time the mod@ver was requested (at time `t1`) athens managed to save `mod` and `info` but failed on `zip` so the whole operation fails. This state should be treated as if this mod@ver wasn't there at all so that when the user requests it again at `t2` we don't mix `mod` and `info` from

[2019-01-06 20:05] marwan-at-work commented on #1032
@marpio

Yes, 100% which is why I suggested `storage.Save` ensures cleaning up after itself. We should definitely not be mixing objects around.

By the way, exists returns `bool, error`, and so if `storage.Save` wasn't entirely successful storage.Exists can do the following:

1. Attempt to delete everything, since `storage.Save` couldn't do it.
2. If deletion failed, then return a helpful error me

[2019-01-07 05:31] manugupt1 commented on #1032
I do not think we should let `Exists` overwrite / cleanup. For the save part, while I can see that overwrite may not be the best idea (checksum differs, module that was saved successfully has not been successfully written now because of a network failure), should we assume that something that is already on the storage is successfully written, but the ones that are not there are filled in successfu

[2019-01-07 07:43] marpio commented on #1032
@manugupt1
Wenn should not overwrite anything that has been saved successfully, for sure.

[2019-01-08 01:51] #699 closed

[2019-01-08 07:10] manugupt1 commented on #1032
We can selectively `Save` what needs to be saved by looking at `Exists` or even `Delete`. The state information tells us how much are we missing and we can act upon it within the context of the storage module. So, for example, if you do a Save(); You check for Exists(); you get a false / len = 2, that is not enough information to complete the module without over-writing the previous module. This c

[2019-01-08 07:11] manugupt1 commented on #1032
I am confused as to how the stasher would know what needs to be overwritten as well, can you be a bit more explicit about that?

[2019-01-08 08:10] marpio commented on #1032
@marwan-at-work about your idea - that's actually what I had in mind - `Exists` returns false if the module is incomplete. Then we overwrite the incomplete objects since download protocol thinks the module is not present and calls `Stash`.
Or did I misunderstand and you mean something different?

@manugupt1 if a module is incomplete, we should not just add the missing objects because we could then

[2019-01-08 19:34] marpio commented on #1032
`Exists` could also return `false` and some error indicating that the mod is incomplete and so download protocol could control if `Stash` overwrites or not. Is this what you meant @marwan-at-work ?

[2019-01-08 20:18] marwan-at-work commented on #1032
@marpio you understood me correctly the first time :) -- however, what if a storage.Backend returns an "already-exists" error and does not let us overwrite and object? For simplicity sake, let's assume that won't happen, but we should definitely double check *all* of our storages to make sure overwriting is ok. For example, GCP has an option where you can disable overwriting, and so Athens would b

[2019-01-09 04:51] oakad opened #1037 "envconfig incorrectly overrides config values from file"
envconfig will check if appropriate environment variable variable is set, and it not will set the corresponding config value to default, if default tag is present.

However, by doing so it will rewrite the values set via the config file, because it is run after the config file was parsed (consider: https://github.com/gomods/athens/blob/fd10bed60949bb14d612222b3bf600f07808d65d/pkg/config/config.go#

[2019-01-09 15:30] marwan-at-work commented on #1032
@manugupt1 as Piotr mentioned, we should **not** do that :) See his comment above for why.

[2019-01-10 15:08] amarruedo opened #1038 "Athens fails to start when deployed on Kubernetes using custom specifications"
**Describe the bug**

Trying to deploy Athens on a Kubernetes cluster using an Athens deployment and service specification I've experienced the following issue:

If I first deploy the service and then the deployment, Athens fails to start. If I change the order and deploy first the deployment and then the service, then it works.

**Error Message**

[code]

**To Reproduce**

athens-service.yaml:
[c

[2019-01-10 22:41] fedepaol commented on #996
Sorry for the late reply and for the dismissive reply I gave before.
I gave a look at the minio client. Even if the docs describes only the Client struct with its method, looking at the sources there is also this Core struct that exposes lower level methods such one similar to the one we are using against S3. I'd suggest you to try to use [Core.ListObjectsV2](https://github.com/minio/minio-go/blob

[2019-01-10 23:05] Zyqsempai commented on #996
Thanks, I will try it and get with feedback.

[2019-01-11 15:42] marwan-at-work commented on #1038
@amarruedo what is the failure message that you get? Athens shouldn't know anything about a K8s Service object.

[2019-01-11 16:14] amarruedo commented on #1038
@marwan-at-work

[code]

[2019-01-11 16:17] marwan-at-work commented on #1038
`buffalo: listen tcp: address tcp://10.3.48.153:80: too many colons in address`

looks like the colon at the end of the address is incorrect, is that somehow K8s's fault?

[2019-01-11 17:20] amarruedo commented on #1038
I would say that this could be more an issue on Buffalo side. I've found [this](https://github.com/gobuffalo/buffalo/issues/1118)  and I'm not sure if this means that there is some sort of problem with buffalo based apps (which I beleive is Athen's case) on Kubernetes. I'll research it a little bit more on monday.

[2019-01-11 22:02] Zyqsempai commented on #996
@fedepaol So, i opened PR, but it still has one big problem, performance.
Honestly, have no clue why every minio function works so slow.
274.693178ms
368.370131ms
346.225552ms

Here is a few examples, this is minioCore.ListObjectsV2 function, but minioClient.ListObjectsV2 doesn't show the better results.

[2019-01-12 17:07] manugupt1 commented on #996
Does ListObjectV2 download entire object, if so that can explain the slowness?
Which storage did you use against minio to take these benchmarks?

[2019-01-12 23:56] Zyqsempai commented on #996
@manugupt1 Sorry, i didn't make it clear, those benchmarks above are from simple unit test.
That's why i am so frustrated.
Maybe i am missing something.

[2019-01-13 04:15] marwan-at-work commented on #1037
From what I can see only `Port` has a default tag, nothing else does so I'm curious which values do get overridden? @oakad if it's not the server port, can you please provide steps to reproduce this issue. thanks

[2019-01-13 08:49] marpio commented on #1037
@marwan-at-work it is the Port that gets overridden.

[2019-01-13 22:00] Zyqsempai commented on #996
Yeah, but other storages handle 1000+ without any trouble, fast enough.

[2019-01-14 09:53] Zyqsempai commented on #995
@scriptonist How is you progress with this one? I can take it if you changed your mind or doesn't have enough time.

[2019-01-15 13:53] marpio commented on #950
We're now able to go get by branch!

[2019-01-15 13:53] #950 closed

[2019-01-16 10:36] lopezator commented on #1004
This would be possible now, although not ideal, by using "basic auth".

I agree that we need something to delete specific packages in case something goes bad (bad checksum, corrupted package or whatever).

[2019-01-16 11:57] michalpristas commented on #995
@scriptonist ping ping. any progress here? if you're out of time let's allow @Zyqsempai to continue

[2019-01-16 12:08] scriptonist commented on #995
Extremely Sorry for the delay @Zyqsempai @michalpristas, got caught up at work. @Zyqsempai please take this up because It will be difficult for me to find time in the next two weeks.

[2019-01-16 12:16] Zyqsempai commented on #995
@scriptonist No worries. I will take care of it from here.

[2019-01-16 12:19] michalpristas commented on #995
@scriptonist thanks for the reply. take care ;-)

[2019-01-16 13:17] michalpristas commented on #1008
sorry I missed the discussion during the syncup. my 0.02€: defaults may make you feel that everything is OK after you deploy to your prod cluster but the opposite is true.
i would rather fail fast

[2019-01-16 15:21] #408 closed

[2019-01-16 15:21] #975 closed

[2019-01-16 16:31] marwan-at-work commented on #984
We can avoid a redesign by relying on https://github.com/golang/go/issues/26334 -- this way the proxy can have a filter wrapper that just 404s on given modules.

[2019-01-16 16:47] lopezator commented on #984
@marwan-at-work the problem is that feature won't come until `1.13` (several months ago until then).  In case someone arrives here looking for a solution, the most feasible way in meantime is:

1. Cache private also repos
2. Add basic auth (if you need some privacy inside your network for your private repositories)

[2019-01-17 05:35] jamesgeorge007 commented on #995
@Zyqsempai @michalpristas I'm new here. It would be great if I was allowed to take this up :+1:
Also, can you guys guide me since I'm unaware of the code base :smile:

[2019-01-17 05:35] jamesgeorge007 commented on #995
@Zyqsempai @michalpristas I'm new here. It would be great if I was allowed to take this up :+1:
Also, can you guys guide me since I'm not thataware of the code base :smile:

[2019-01-17 05:35] jamesgeorge007 commented on #995
@Zyqsempai @michalpristas I'm new here. It would be great if I was allowed to take this up :+1:
Also, can you guys guide me since I'm not that aware of the code base :smile:

[2019-01-17 05:36] jamesgeorge007 commented on #995
@Zyqsempai @michalpristas I'm new here. It would be great if I was allowed to take this up :+1:
Also, can you guys guide me as I'm not that aware of the code base :smile:

[2019-01-17 05:38] jamesgeorge007 commented on #1037
@michalpristas @marwan-at-work @marpio  Can I take this up?

[2019-01-17 05:52] jamesgeorge007 commented on #995
@Zyqsempai @michalpristas I'm new here. It would be great if I was allowed to take this up :+1:
Also, can you guys guide me as I'm not familiar with the code base :smile:

[2019-01-17 06:57] manugupt1 commented on #995
@jamesgeorge007 There is another issue that has not been claimed so far, can you please let @Zyqsempai take this while you work on the other one as he had already claimed it?

[2019-01-17 10:45] jamesgeorge007 commented on #995
@manugupt1 Ok fine :+1:

[2019-01-17 10:45] jamesgeorge007 commented on #995
@manugupt1 fine :+1:

[2019-01-17 10:51] jamesgeorge007 commented on #1037
@manugupt1 I'm not that familiar with the code base.
Can you provide me a better picture of the issue here :smile:

[2019-01-17 11:02] jamesgeorge007 commented on #1037
@manugupt1 I'm not that familiar with the code base.
What change is to be made here?

[2019-01-17 15:33] manugupt1 commented on #1037
I am not sure what changes have to be made here (I will have to investigate), but I will start by reproducing the issue if you can. Second, I will look at the config package that is mentioned in the issue above and finally config.dev.toml to see how variables are set.

[2019-01-18 07:03] hellojukay commented on #1001
when i use v0.2.0
[code]

[2019-01-20 17:50] Zyqsempai commented on #995
Guys, any idea on: how we can test azure storage? We don't have any test for it currently,

[2019-01-21 07:13] Zyqsempai commented on #995
@marpio Cool, can you reference this issue in that PR to monitor status. Coz i am kind of blocked here.

[2019-01-23 19:07] bogdanbiv opened #1045 "Filter module version"
**Is your feature request related to a problem? Please describe.**
Is it possible to set up filter rules based on version ranges / regexp?

**Describe the solution you'd like**

    # deny every version of my-first-ex-dependency... except
    - github.com/my-first-ex-dependency v0.0.*
    # except version 20180906233101
    + github.com/abc/my-other-mod v0.0.0-20180906233101-161cd47e91fd

**Descri

[2019-01-23 19:35] michalpristas commented on #1045
Hey @bogdanbiv thanks for reaching out.
All except {ver} is not supported at the moment.
To be frank we haven't thought about at all but i like the idea and will add that to the meeting notes to see what we can do about it

[2019-01-23 19:38] bogdanbiv commented on #1045
could you give an example of how {ver} works, because it's not obvious in the doc page at https://docs.gomods.io/configuration/filter/ ?

[2019-01-23 19:44] michalpristas commented on #1045
right now, it is just as simple as prefix
so if some of the rules defined can be understood as a prefix of the module name, the rule is applied.
version filtering as said before, is not supported yet

[2019-01-24 04:43] scriptonist commented on #644
Hey @manugupt1, I've no Idea about the stuff mentioned here 😅  but I would like to take this as an opportunity to learn and understand that. With that in mind, Would you recommend me to try to tackle this?

[2019-01-24 05:49] manugupt1 commented on #644
Hi

I am not sure. I am traveling, can I have a look at the code and see where we are and get back to you?

Cheers
Manu

________________________________
From: Aravind <notifications@github.com>
Sent: Wednesday, January 23, 2019 8:43 PM
To: gomods/athens
Cc: Manu Gupta; Mention
Subject: Re: [gomods/athens] Observability - Try implementing ochttp plugin (#644)

Hey @manugupt1<https://github.com/man

[2019-01-24 10:23] amarruedo commented on #1038
Hi again!

Today I had some time to do some more research and finally found out whats happening. It has nothing to do with `buffalo`, it's a Kubernetes issue, more precisely a kubernetes environment variable injection issue.

From Kubernetes [documentation](https://kubernetes.io/docs/concepts/services-networking/service/#environment-variables):

Since I named my service `athens`, Kubernetes was in

[2019-01-24 10:23] #1038 closed

[2019-01-24 11:49] lopezator opened #1046 "Secrets being printed when using basic auth"
**Describe the bug**

When using athens + basic auth and any error occur, secrets are being printed on logs (anybody can see them on a failed CI failed build).

**Error Message**

With athens down, the error trying to use the proxy would be:

[code]

**To Reproduce**

Use basic auth against a down athens server.

**Expected behavior**

Secrets not being printed.

[2019-01-24 12:49] scriptonist commented on #644
Sure, please 👍

[2019-01-24 15:31] marwan-at-work commented on #1046
That error comes from the Go command directly and hiding it would mean hiding all errors which makes it impossible to know why something failed when running a build.
The issue is mainly about the fact that Go does not have a header-based auth mechanism yet. See https://github.com/golang/go/issues/26232

There’s an ugly hack potentially: scan the error string, and concatenate the basic auth into th

[2019-01-24 15:31] #1046 closed

[2019-01-30 11:16] 12307 opened #1047 "If there any solution to use athens like maven, we can deploy modules to athens, rather than to go get from gitlab or github"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
I want to build a private module athens in our company, and use athens like maven, so we can deploy a version to the private repos.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**

[2019-02-01 07:04] xiaoyunyang commented on #138
I'd like to take this on if no one else is working on this right now.

[2019-02-01 08:02] michalpristas commented on #138
Hey @xiaoyunyang feel free to start, in case of any questions just ping us on Athens slack channel on Gophers slack

[2019-02-01 20:14] ae6rt opened #1048 "hosted BitBucket project support"
**Describe the bug**
No documentation exists on supporting go-get against git VCS systems that clone over SSH.

With a capable SSH key and the right git and ssh config, Athens can deal with these authenticated VCS platforms.

[2019-02-01 20:15] ae6rt commented on #1048
I will work on this using on-prem Atlassian Bitbucket as an example.

[2019-02-04 14:06] michalpristas opened #1051 "Add support for `~`, `^` and `<` in filtering"
**Is your feature request related to a problem? Please describe.**
After #1050 is in we have a way how to enable specific versions of the module(those verified)
With repo being more active filtering might become a bit noisy which we can address by supporting `~` and `^`

**Describe the solution you'd like**
With this issue fixed we will have 5 ways how to enable module:
- `+ repo`: enables all ver

[2019-02-05 05:09] scriptonist commented on #644
@manugupt1 please close the issue, I'll look at the existing implementation in the meantime and open another issue if I find some room for improvement. 😄

[2019-02-05 05:56] #644 closed

[2019-02-05 05:56] manugupt1 commented on #644
thanks @scriptonist

[2019-02-05 07:55] Kunde21 commented on #1051
The other extension I would like to have on the version filtering is handling multiple rule entries.  We would need to define precedence rules, but I can see an approved list that has multiple approval points and one shared instance.
[code]

Another option might be a block list that is append-only:
[code]

[2019-02-05 08:04] #1045 closed

[2019-02-06 20:58] fedepaol commented on #1051
Can I grab this to get back on track?

[2019-02-06 23:22] Kunde21 commented on #1051
Yeah, go ahead @fedepaol.  Thank you!

[2019-02-07 01:13] #1048 closed

[2019-02-07 01:25] marwan-at-work commented on #1051
Looking at @michalpristas 's examples in the description above, any reason the versions don't have a `v` prefixed in them? I feel like we should stay consist with how the Go community is starting to expect SemVer tags to look like.

Also, if

Why not just make it `+ repo 1.2.x`? where you can do `2.x.x` and so on.

Also, I'd like us to step and think more thoroughly about this:

Are these features

[2019-02-07 16:26] fedepaol commented on #1051
@marwan-at-work I'll hold my keyboard, and I agree to not overcomplicate the filters.
We should think about general scenarios / use cases.
What comes into my mind is filtering a dependency that changed its license from a certain version, or wanting to adhere to a certain version of an api if/when the major changes.

[2019-02-07 20:47] Kunde21 commented on #1051
Where I've seen this need is strict compliance department requirements, where approvals are only for specific version(s) of a dependency.

[2019-02-12 13:47] sbinet opened #1053 "504 Gateway Timeout from gopkg.in and/or modernc.org vanity imports"
hi,

I am trying out `GOPROXY="https://athens.azurefd.net"` here: https://github.com/go-hep/hep/pull/441

but I am getting a 504 gateway timeout:
- https://travis-ci.org/go-hep/hep/jobs/492123003

[code]

running `athens/cmd/proxy` locally didn't show this error.
is `athens.azurefd.net` running the same binary?

[2019-02-12 14:11] MMulthaupt opened #1054 "Documentation: Clarify how git tag mutability is treated"
**Is your feature request related to a problem? Please describe.**
I followed the `Shared Team Instance` guide at https://docs.gomods.io/install/shared-team-instance/ which is linked to indirectly from `README.md` by `try it out` through https://docs.gomods.io/install/
where I expected some words on git tag mutability. While `GOPROXY` addresses the threat posed by potential deletion or otherwise i

[2019-02-12 20:57] arschles commented on #1053
@sbinet athens.azurefd.net is pretty alpha quality. the infrastructure isn't being maintained well right now, so I'm not surprised to see the timeouts. Your best bets right now would be to either host your own Athens or use [GoCenter](https://gocenter.jfrog.com/stats) (the only hosted Go module repository out there at the moment)

[2019-02-13 22:54] arschles commented on #1032
as an intermediate step, @manugupt1 @marpio @marwan-at-work do you think we can return false if the `.mod`, `.info` and `.zip` don't all exist? we can then move on and decide what to do in a follow-up PR

[2019-02-14 04:34] stubbornTanzhe commented on #950
is this feature merged to master branch? I checked athen docker but found not supported yet.

[2019-02-14 05:47] marwan-at-work commented on #1032
Most storages we implement allow overrides, so just returning `false` should be an ok thing for now. I can take on this issue and get back to some Athens work this weekend :) (unless anyone likes to work on it, feel free to let me know by Friday, happy to hand it over)

[2019-02-14 08:55] codingonHP opened #1055 "Question/Help: Use Athens behind workspace proxy"
I have locally hosted Athens on my machine which is connected to office network behind a proxy.
How do I configure Athens to use workspace proxy so that it goes to internet to download dependencies?

[2019-02-14 10:12] Halfi opened #1056 "Proxying upper case packages"
**Describe the bug**
When proxying upper case package, athens returns 500 error. For example `gopkg.in/DATA-DOG/go-sqlmock.v1` package

**Error Message**
<pre>
go get: upgrading gopkg.in/DATA-DOG/go-sqlmock.v1@v1.3.0: unexpected status (http://example.com/gopkg.in/%21d%21a%21t%21a-%21d%21o%21g/go-sqlmock.v1/@v/v1.3.2.info): 500 Internal Server Error

</pre>

**To Reproduce**
`GOPROXY=http://goprox

[2019-02-14 10:26] #1055 closed

[2019-02-14 11:13] chriscoffee commented on #1055
This was closed as @fedepaol ansnwered @codingonHP's question on slack. For those interested, the anwer is located here https://gophers.slack.com/archives/C9LRAQN8N/p1550137035029600

[2019-02-14 13:21] Halfi commented on #1056
Sorry, problem was in other package https://github.com/heptiolabs/healthcheck/pull/24

[2019-02-14 13:21] #1056 closed

[2019-02-14 14:42] codingonHP commented on #1055
I should have mentioned the reason for close as well. For anyone interested
https://docs.docker.com/network/proxy/
So, the idea is to start the container with

[2019-02-14 18:21] #906 closed

[2019-02-14 18:23] arschles commented on #1032
@marwan-at-work I'll submit a PR for now that just returns `false`

[2019-02-14 19:31] arschles opened #1057 "Add build caches to the Azure pipelines yaml file"
**Is your feature request related to a problem? Please describe.**

In the past, we've done various things to make the azure pipelines CI builds run faster and they're still kinda slow. IIRC a lot of it was related to downloading mongo in order to run integration tests

**Describe the solution you'd like**

I think we can use the new Azure pipelines caching stuff they just released to speed things

[2019-02-14 19:32] #1008 closed

[2019-02-15 13:41] lebaptiste opened #1059 "Add vulnerability scan of downloaded go modules"
**Is your feature request related to a problem? Please describe.**
Using a go module implies to trust its source and the dependencies it relies on. For this reason it can be really hard to vet the full code base. I often end up relying on popular packages I can see used by OSS projects I follow.
As a developer, how can I trust a go module I want to use for the first time, a simple way to know it h

[2019-02-15 14:03] Zyqsempai opened #1060 "Perfomance issue on ListObject in minio client"
**Describe the bug**
Exponential growth of the execution time on Minio-Go-client method `ListObjectsV2` or `ListObjects`

**To Reproduce**
Run minio test with more then 100 items.

**Expected behavior**
Linear growth of the execution time.

**Additional context**
Those issues already reported to minio:
https://github.com/minio/minio/issues/1516
https://github.com/minio/minio/issues/1735

PR which

[2019-02-15 17:29] arschles commented on #980
@marpio @michalpristas @carolynvs I think we can close this because of the same reason we discussed https://github.com/gomods/athens/pull/989#issuecomment-454546871, what do you think?

[2019-02-15 18:08] marpio commented on #980
:+1:

[2019-02-15 21:47] fedepaol commented on #969
Getting this

[2019-02-16 03:59] arschles opened #1064 "Investigate Minio catalog performance"
**Describe the bug**

Follow-up to https://github.com/gomods/athens/issues/996#issuecomment-453869584

**Error Message**
N/A

**To Reproduce**
See https://github.com/gomods/athens/issues/996#issuecomment-453869584

**Expected behavior**
That catalog for a large number of modules using the minio storage driver would have comparable performance to other storage drivers

**Environment (please complet

[2019-02-16 04:03] #996 closed

[2019-02-16 04:09] manugupt1 opened #1065 "[Proposal] Investigate speeding up go list"
**Is your feature request related to a problem? Please describe.**
Speed up  go list by determining successfully when all the versions have been fetched.

**Describe the solution you'd like**
https://github.com/gomods/athens/commit/0b2aece18d1b29b2a70cf707302b944a604097bd

The above commit speeds up go list.

**Describe alternatives you've considered**
We can think about speeding up by cancelling

[2019-02-16 04:27] manugupt1 commented on #1065
Okay! I am convincing myself not to do this.

Here is the scenario.
We do a
`go get module`
The module downloads v1, v2, v3
The VCS does a force push on tag and removes V2

If go get succeeds before storage.List on go list, then we would only get V1, V3; however the storage has V2

On the other hand,
If did
`go get module` in the past,
but a user has added a new tag ie: v4
and did a `go list` and

[2019-02-16 10:58] vaibhavjayaraman commented on #970
Can I give this a shot?

[2019-02-16 11:37] t-tomalak commented on #970
Sure, go ahead!

[2019-02-16 13:31] marpio commented on #1065
@manugupt1 yes, we need to wait for both results here for the reasons you mentioned above and also because we have to know if there was a failure and what kind of error it was.

[2019-02-16 21:08] arschles opened #1068 "Webhooks for notifying Athens of a new module/version"
**Is your feature request related to a problem? Please describe.**

It would be nice for module authors to tell an Athens instance when a new version of their module is published, without relying on someone to do a `go get` for that new version.

**Describe the solution you'd like**

A simple webhook that can be called which:

- Notifies Athens of a new module@version
- Prompts Athens to go fetch

[2019-02-17 21:44] #980 closed

[2019-02-18 04:23] manugupt1 commented on #1065
I am closing this issue as this makes no sense to pursue this optimization anymore!

[2019-02-18 04:23] #1065 closed

[2019-02-18 09:07] marpio commented on #950
@stubbornTanzhe
Please try again, now that https://github.com/gomods/athens/pull/1063 is merged - this fix requires go 1.12 to work properly.

[2019-02-18 15:54] fsouza commented on #1037
This one is tricky. I created the test reproducing the issue here: https://github.com/gomods/athens/commit/53a94b3f57a0a8ab3e903c08a81893868b202126.

I was thinking about approaches to fix this and wanted to check before I send a PR:

1. replace envconfig with some other tool (I only know [env](https://github.com/caarlos0/env) and that has the same limitation - and it also sounds like the author m

[2019-02-18 16:46] marwan-at-work commented on #1037
@fsouza thanks for the details :)

### TL;DR

The quickest fix to this bug is to just remove the default tag from here: https://github.com/gomods/athens/blob/master/pkg/config/config.go#L31

Which your no.2 option. I think this is okay and once we start having a difficult time to manage it, we can go back and address it.

### Background

Currently we have two places for deciding default values, th

[2019-02-19 14:11] gensmusic commented on #1047
same question

[2019-02-19 17:11] #1037 closed

[2019-02-19 20:57] fedepaol commented on #1051
Under @arschles suggestion I tried to implement the part suggested by @michalpristas to see how it comes and to use it as a discussion point. Comments are more than welcome :-)

[2019-02-20 23:57] arschles commented on #995
@Zyqsempai sorry for the delay on this. https://github.com/gomods/athens/pull/821 adds azurite for tetsting. I asked @chriscoffee if he's available to finish it. if he's busy I'll take it up so you can continue

[2019-02-21 00:02] arschles commented on #961
It looks like the only storage backend that doesn't have a cataloger is azure storage, so I'm closing this in favor of #995

[2019-02-21 00:02] #961 closed

[2019-02-21 08:00] #57 closed

[2019-02-21 19:18] chriscoffee commented on #566
Whilst we wait for the Azure hosted helm charts, we could host them on GitHub Pages with actions to release them https://medium.com/@stefanprodan/automate-helm-chart-repository-publishing-with-github-actions-and-pages-8a374ce24cf4

Again, we'll need actions..

[2019-02-21 19:44] arschles opened #1077 "Replace Travis CI"
**Is your feature request related to a problem? Please describe.**

Recently, Travis CI was acquired and then has laid off some of its employees. Sources:

- https://techcrunch.com/2019/01/23/idera-acquires-travis-ci/
- https://twitter.com/EricaJoy/status/1098595526742814722

This might mean that we won't be able to use Travis anymore for our CI/CD system

**Describe the solution you'd like**

We

[2019-02-21 19:48] arschles opened #1078 "Create cloud accounts so we can test cloud storage systems"
**Is your feature request related to a problem? Please describe.**

We don't thoroughly test our cloud storage backends in automated testing.

**Describe the solution you'd like**

We should 😄 , so we should have cloud accounts and wire up our automated tests to run against those accounts.

**Describe alternatives you've considered**

We could stick with what we have.

**Additional context**

We t

[2019-02-21 19:49] marwan-at-work opened #1079 "Docs: Add A CI/CD Walk Through For Athens"
**Is your feature request related to a problem? Please describe.**
As an Athens user, I'd like to have some helpful guides on how to use Athens in a CI/CD pipeline.

**Describe the solution you'd like**
There are many different CI/CD platforms, and so maybe picking 2 popular ones or even a "sudo" one to describe how you would use Athens for your Go project would be very helpful.

Currently there a

[2019-02-21 19:56] carolynvs commented on #566
How can I help host charts on Azure? I can setup a bucket and a script to update the index and upload the chart and index to the bucket? @arschles Would that help?

[2019-02-21 19:56] marwan-at-work commented on #1077
One question that @fsouza brought up with me: is our Azure pipelines windows only? Because if we already have Azure pipelines set up, then maybe we can just cancel Travis and everything is cool?

One thing I noticed in our CI/CD pipeline, is that the Azure Pipelines are pretty slow compared to travis 11 minutes vs ~3 minutes, so maybe it'd be a good opportunity to try out different set ups on our

[2019-02-21 21:40] Zyqsempai commented on #995
@arschles Great. looking forward to finish this one.

[2019-02-21 21:48] fsouza commented on #1079
Example of solution 2 here: https://github.com/fsouza/s3-upload-proxy/blob/dc1a0178b4b2be02e53b2090df5dd70a5d9e0c14/.drone.yml#L14-L36

[2019-02-21 22:45] machiel opened #1080 "Incompatible checksums on Athens v0.2.0 docker with go.sum generated by Go >= 1.11.4"
**Describe the bug**
My go.sum is generated using Go 1.11.5, however the Athens v0.2.0 image I pull from docker is running on Go 1.11.2. There has been a fix in 1.11.4 affecting the way checksums are calculated for modules, so now when pulling my dependencies from Athens there's a checksum mismatch, since Athens still uses the 1.11.2 way.

More about this here: https://github.com/golang/go/issues/

[2019-02-21 23:34] arschles commented on #1077
@marwan-at-work our Azure pipelines is windows only right now. I'm working on speeding that piece up in #1066. Adding build steps to also do linux builds is separate (and simpler) work, though. It's essentially using our docker-compose file in that case, which would greatly speed up setup times for mongo/minio/etc... I can also get help with pipelines if we need it. I'll submit a PR for adding lin

[2019-02-21 23:35] arschles commented on #954
@fedepaol you mentioned in slack that one hour later than our current time would be doable for you. Is that still the case?

[2019-02-21 23:42] arschles opened #1081 "Proposal: Add documentation for how to install Athens on Google App Engine Flexible Environment"
**Is your feature request related to a problem? Please describe.**

Not related to a problem, just a request for some docs

**Describe the solution you'd like**

I would love to see documentation on how to run Athens on the GAE Flex environment, similar to the [ACI docs](https://docs.gomods.io/install/install-on-aci/)

**Describe alternatives you've considered**

N/A

**Additional context**

@marw

[2019-02-21 23:44] arschles commented on #1077
Regarding Github actions, I've asked internally about whether it can run containers in the background while our tests run. Waiting to hear back at the moment

[2019-02-22 03:00] marwan-at-work commented on #1080
@machiel thanks for reporting this. The `canary` version of the docker image uses `go1.12-rc` which should be compatible with 1.11.5. Feel free to give this a try and let us know if the issue still persists. The next releas `v0.3.0` will have 1.12 on by default.

Also, don't forget to delete that module from your storage backend as it was compiled with pre1.11.5 and will need to be re-compiled wit

[2019-02-22 12:35] chriscoffee commented on #1077
It supports concurrent workflows, so I wonder if you could possibly have the dependencies (mongo etc) in one workflow and athens in another with `needs` requiring the other action. There'd probably some networking problems here though and don't know if you can need actions across workflows but it'd be cool to test.

[2019-02-22 19:35] #760 closed

[2019-02-23 14:22] tomjamescn commented on #1047
+1

[2019-02-23 15:51] tomjamescn opened #1083 "Publish private module to athens"
**Is your feature request related to a problem? Please describe.**
In many companies, there are many private packages/modules, how to add these packages/modules to athens?

**Describe the solution you'd like**
Maybe athens have a simple admin ui to add private package/module file and version

**Describe alternatives you've considered**
like other soluntions in other lang such as  maven in java and

[2019-02-24 02:29] arschles commented on #1083
@tomjamescn if you've given your Athens access to your private repository, you can do a `go get` against that Athens and it will store the private module. Did it work like that for you?

[2019-02-24 02:34] arschles commented on #1047
Hey @12307, @gensmusic and @tomjamescn - did the explanation in https://github.com/gomods/athens/issues/1083#issuecomment-466727229 make sense?

If you have a specific use case that the pull-from-VCS mechanism from https://github.com/gomods/athens/issues/1083#issuecomment-466727229 doesn't solve, please write it in here so we can be aware and consider making changes to that or adding functionality

[2019-02-25 02:56] 12307 commented on #1047
i have found a solution to solve this problem. so thx arschles

[2019-02-25 06:51] cupen opened #1085 "It doesn't works with GOPROXY."
**Describe the bug**
docker image doesn't work with `GOPROXY`

**Error Message**

1. go get
[code]
2. athens
[code]

**To Reproduce**
1. start athens with docker.
[code]

2. enable `go module` then use `go get` with `GOPROXY`
[code]

**Expected behavior**
go get works.

**Environment (please complete the following information):**
 - OS: win10 & wsl/debian 64bit
 - Go version : 1.11.5
 - Buffalo Ve

[2019-02-25 19:55] machiel commented on #1080
Perfect, thanks! I will await the `0.3.0` release, and in the mean time use the canary version.

Thanks!

[2019-02-25 19:55] #1080 closed

[2019-02-25 20:10] marpio commented on #1085
@cupen Could it be just an typo in the module path?
Asyn**c**kronIT should be AsynkronIT

[2019-02-25 21:24] marwan-at-work commented on #1085
1. The logs from step 2. are not the Canary version as they mention the word "buffalo" in it which has been removed
2. You are doing a go get <module>@dev -- which is a dynamic version that only works in Athens' canary version as well as having Go1.12rc or above.

Plus, @marpio 's comment above could also be the issue.

[2019-02-25 21:25] marwan-at-work opened #1087 "Storage/GCP: Allow authentication for GCS outside of GCP"
If Athens is running outside of GCP, there needs to be a way to authenticate it to access Google Cloud Storage. This is a useful case for us if we are say running a CI/CD build that can be anywhere (github-actions, droneCI, circleCI, etc) but have our modules stored in GCS.

[2019-02-25 21:59] #1087 closed

[2019-02-25 23:58] arschles commented on #566
@carolynvs that would be amazing! Either what you said or [ACR helm repos](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-helm-repos) are the options I can see, that we don't have to pay $$ for. Totally up to do

Either way you go, I can put them under my Azure account for Athens. Let me know if/when you do this and I'll add you to the Azure resource group

[2019-02-26 00:01] arschles commented on #1047
@12307 not a problem 😁

I'll close this issue but if you're able to share the solution, I'd love to hear it! Either write it in here or come say hi to us in the Gophers Slack `#athens` channel

[2019-02-26 00:01] #1047 closed

[2019-02-26 00:03] arschles commented on #1079
@fsouza very interesting. would you be willing to add some documentation on why & how to do this?

[2019-02-26 00:59] xiaoyunyang commented on #138
@michalpristas Thanks. I'm targeting submitting a PR by the end of this week.

[2019-02-26 11:04] fengxuway commented on #640
Go 1.12 is comming! <https://golang.org/doc/devel/release.html#go1.12>
But `go mod download` and `go list` does not have arg `-insecure ` still.

[2019-02-26 14:06] carolynvs commented on #566
If I do this as a bucket, then we can host with a cname and be able to move around later if we need to. I'm a bad MS employee but I thought that ACR was for private authenticated access only? I have time on Friday and can quickly setup the domain name and bucket approach since I've done it so many times on other projects. So I guess I vote for that?

[2019-02-26 18:46] arschles commented on #566
I'm also a bad MS employee and don't know if you can do public chart repos with ACR chart repo!

The bucket approach sounds great to me! 🎉

[2019-02-26 18:49] arschles commented on #984
I'm removing this from v0.3.0 because this has some dependencies on the go toolchain (see above and https://github.com/golang/go/issues/26334)

[2019-02-26 18:59] arschles commented on #262
I am going to take this out of 0.3.0 because it has been progressing in bits and pieces. I'll break this out and reference the individual pieces of work

[2019-02-26 19:23] arschles opened #1093 "Add more details to the filtering docs"
**Describe the bug**

We're missing a few things in the filtering docs that we've gotten some questions about (thank you @rogpeppe for bringing these up!)

- What exactly does Athens return when an exclude is found? (hint: 404)
- Does Athens include or exclude by default?
    - For example, how would you exclude everything by default and then only include a few things
    - And on the other hand,

[2019-02-26 20:19] #820 closed

[2019-02-26 20:21] arschles commented on #995
@Zyqsempai now that #821 is merged, do you have everything you need? I know that there aren't any azure tests at all yet, so if you'd like we can work together there. Let me know what you think, and thanks for waiting 😁

[2019-02-26 20:23] Zyqsempai commented on #995
@arschles Great news, I need to check what the status of my PR, it's been a while since I worked on it. I will come back to you with updates.

[2019-02-26 20:50] arschles commented on #995
thanks @Zyqsempai! ❤️

[2019-02-27 10:32] cupen commented on #1085
@marpi oh, yes. sorry for my mistake. It's:
[code]

@marwan-at-work  Thanks. I will try the `master` banch later.

[2019-02-27 15:06] marwan-at-work commented on #1085
Sounds good, closing this issue. Feel free to comment or reopen if you think there's a bug.

[2019-02-27 15:06] #1085 closed

[2019-02-27 22:43] arschles commented on #1078
I've created the google cloud account and added core maintainers onto it. @manugupt1 is going to work on creating the AWS account this weekend and I'll set up the billing for that afterward

[2019-02-27 22:59] arschles commented on #1023
@Zyqsempai I wanted to let you know on this that we're going to hold off on it until after we release [v0.3.0](https://github.com/gomods/athens/projects/2), because it has a potential breaking change. We haven't forgotten about it though!

[2019-02-27 23:05] Zyqsempai commented on #1023
@arschles Ok, thanks!

[2019-02-28 12:36] MMulthaupt commented on #1054
Here is some motivation from a recent incident: https://github.com/go-ole/go-ole/issues/185

[2019-02-28 17:53] arschles commented on #1054
@MMulthaupt good catch, we should certainly have that information in the docs. I'll take this one and mention you on the PR when I submit it, so you can let us know if it answers your question.

[2019-02-28 18:09] arschles commented on #1054
@MMulthaupt I created https://github.com/gomods/athens/pull/1095 - let me know what you think!

[2019-03-01 22:50] #1054 closed

[2019-03-01 23:08] #566 closed

[2019-03-01 23:12] arschles opened #1099 "Add docs for the new helm chart install URL"
**Is your feature request related to a problem? Please describe.**

Now that #1097 is merged, we have a helm chart repository at a stable URL, so we should change docs to use that URL

**Describe the solution you'd like**

The kubernetes install docs should show the new URL for helm install commands

**Describe alternatives you've considered**

N/A

**Additional context**
This is a follow-up to #1

[2019-03-01 23:12] arschles commented on #1099
I'll take this 😄

[2019-03-01 23:13] arschles opened #1100 "Get the gomods.io domain transferred to a registrar that maintainers can collectively administer"
**Is your feature request related to a problem? Please describe.**

Right now, gomods.io is registered with godaddy, and we don't know who owns it, so we can't do much to add subdomains, etc...

**Describe the solution you'd like**

Let's find that person and get the domain transferred somewhere that core maintainers can jointly administer it

**Describe alternatives you've considered**

N/A

**Ad

[2019-03-01 23:14] arschles opened #1101 "Add a CNAME for the helm chart URL"
**Is your feature request related to a problem? Please describe.**

Right now, the helm charts are hosted at an Azure blob storage URL (see https://github.com/gomods/athens/pull/1097#issuecomment-468836384). It would be nice to have that behind a cleaner URL

**Describe the solution you'd like**

Maybe have `charts.gomods.io` be the place you `helm install` from?

**Describe alternatives you've co

[2019-03-04 14:24] #1099 closed

[2019-03-04 23:40] arschles opened #1105 "Proposal: support the notary protocol"
**Is your feature request related to a problem? Please describe.**

Google just released a [proposal](https://go.googlesource.com/proposal/+/master/design/25530-notary.md#one-notary) to add a "notary" protocol to the Go toolchain. Very roughly speaking, the intention is to add security for public modules in the go ecosystem.

The proposal lays out two options to allow for Athens (and any internal

[2019-03-05 00:31] FiloSottile commented on #1105
Your point about it being too easy to just opt-out of everything is good, but there's a core catch-22 here that I don't think we can do much about: if the client is willing to trust the proxy for all modules, public and private, then `GONOVERIFY=*` is ok, there's HTTPS providing authentication for the proxy already; if the client wants to trust the proxy only for private modules, we are back to ha

[2019-03-05 00:36] arschles commented on #1105
@FiloSottile thanks for that. is it true that Athens will need to support the notary protocol if a developer wants to fetch private code from Athens, while not having to configure `GONOVERIFY` on their machine?

[2019-03-05 00:38] marwan-at-work commented on #1105
Added blocked label until details of the proposal is finalized in https://github.com/golang/go/issues/25530

@FiloSottile

There's a considerable point of failure that is mentioned by both me and @leitzler in the upstream issue.

It might be best to keep the conversation consistent over there and have this issue be purely about the Athens implementation of the **outcome** of the upstream issue?

[2019-03-05 00:40] arschles commented on #1105
Thanks @marwan-at-work. @FiloSottile essentially I'm asking the same question as https://github.com/golang/go/issues/25530#issuecomment-469455003, so I'll move it over to https://github.com/golang/go/issues/25530

[2019-03-05 00:43] FiloSottile commented on #1105
+1 on moving the discussion over there, but I'll answer this question here because I don't think it's the same one.

No, `GONOVERIFY` will work without Athens support, and even if Athens supports the notary protocol,  `GONOVERIFY` is required for private packages. Athens support is only needed for more privacy preservation, or to bypass outbound firewalls.

This is because the proxy is not trusted

[2019-03-05 20:06] jbub opened #1106 "Memory leak with Minio storage"
**Describe the bug**
I noticed a huge memory leak after upgrading to v0.3.0. After building a project the memory usage jumped to `2.32G`, before the upgrade the memory usage was flat at around `70MB`. It seems like its not related to the `v0.3.0` release, but to minio storage in general.

**To Reproduce**
Build a project which is using Athens as a `GOPROXY`.

**Expected behavior**
Flat memory usag

[2019-03-05 20:15] arschles commented on #1106
@jbub thanks for filing this. we'll check it out as soon as we can

[2019-03-05 20:21] jbub commented on #1106
Related `go.mod`:

[code]

[2019-03-05 21:03] marpio commented on #1106
Possible cause: https://github.com/minio/minio-go/issues/848
and potentially a fix: https://github.com/minio/minio-go/issues/848#issuecomment-338082471

[2019-03-05 21:08] marwan-at-work commented on #1106
@jbub can you run Athens with this env var: `GODEBUG=gctrace=1`  and copy the final `gc` and `scvg` lines to see that there is in fact a memory leak and not just a memory bottleneck?

[2019-03-05 21:11] marwan-at-work commented on #1106
@jbub also can you please post your Athens config file or env vars if you're not using the default ones?

[2019-03-05 21:31] jbub commented on #1106
[code]

[2019-03-05 21:37] jbub commented on #1106
[code]

[2019-03-05 22:12] arschles commented on #954
I posted a twitter poll to find some other times that work for folks: https://azure-advocacy.slack.com/archives/CADD7EPKL/p1551823850054600

It lasts 7 days (so until March 12, 2019), and when it's done hopefully we'll find another time that we can add to the rotation 🎉

[2019-03-05 22:36] marwan-at-work commented on #1106
This is most likely the issue @marpio recorded as I cannot reproduce any memory leaks in gctrace or the go tracer tool. I have a fork with the suggested solution above. @jbub feel free to test it out and see if it solves the issue: https://github.com/marwan-at-work/athens/tree/miniomemfix

In any case, the fork I have would solve the massive heap allocation to begin with so it's something that Ath

[2019-03-06 08:37] lopezator commented on #1046
I link to the main go repo issue in case someone reaches here:

https://github.com/golang/go/issues/30610

[2019-03-06 13:26] chriscoffee commented on #1101
I think `charts.gomods.io` too! This is blocked by #1100 right?

[2019-03-06 13:31] chriscoffee commented on #850
I actually forgot about this, 😭

Given the recent issues with performance problems from minio #1106, #1064, #1060 it might be worth as @leitzler rightly suggests:

or even toss out minio-go and use aws s3 sdk instead
_https://gophers.slack.com/team/U28141ZK6_

Pontus also suggested using Go CDK which is 'a bit more mature' https://blog.golang.org/gcdk-whats-new-in-march-2019

[2019-03-06 15:21] marwan-at-work commented on #850
FYI: this would break current users of Minio as their modules will be stored in different paths.
Our s3 implementation uses the module.Uploader (whose path is not what we want anyway), and minio uses its own Uploader (whose path is more ideal)

[2019-03-06 15:55] chriscoffee commented on #954
I think we should still do the one tomorrow an hour later and see how the poll turns out. It also looks like you linked Azure devrel massive Slack chat Aaron, rather than a twitter link 😄

[2019-03-06 19:07] chriscoffee commented on #954
Moving this into v0.4.0 Planning. This is the Twitter link @arschles mentioned https://twitter.com/gomodsio/status/1103055161855959040

[2019-03-06 19:27] chriscoffee commented on #1001
Hey @prateeknayak we're now tagging `latest` on master builds. We've also released v0.3.0 if you want to pull the latest image 👍

@hellojukay did you manage to resolve your problem?

[2019-03-06 21:13] #1106 closed

[2019-03-07 18:56] arschles commented on #954
Here's the link to the tweet about today's meeting being one hour later: https://twitter.com/gomodsio/status/1103696159112028160

[2019-03-07 21:01] marpio opened #1110 "Plugin architecture for storages"
**Is your feature request related to a problem? Please describe.**
There are still interesting storage options which we do not support i.e. B2. We cannot possibly support all storages in our code base but we can make it possible for the user to provide one i.e. through https://golang.org/pkg/plugin/

**Describe alternatives you've considered**
Implementing them like we do now but it will make the

[2019-03-07 21:04] marwan-at-work opened #1111 "Disable Azure Pipelines on PRs But Allow On Merge/Tag"
Azure Pipelines are super slow and since Go is cross-platform, we can almost confidently say if it passes on Linux it can pass on Windows.

### Proposal
We should disable Azure Pipelines **only** in PRs then enable them for merge to master and releases.

[2019-03-07 21:05] fedepaol commented on #1093
I can grab this

[2019-03-07 21:45] marpio commented on #1000
Since go 1.12 is there, I will take that.

[2019-03-07 21:53] arschles commented on #1078
After this is done, we should turn on tests in our CI/CD system that talk to the cloud endpoints (https://github.com/gomods/athens/issues/262 is part of that)

[2019-03-08 10:11] vaibhavjayaraman commented on #970
Sorry about the delay. I was busy with school work. I added a Prometheus service to the docker-compose file but I made a lot of hacky assumptions when writing the configuration file and updating the docker-compose file. Should I create a PR so that you guys can critic?

[2019-03-08 10:14] michalpristas commented on #970
sure @vaibhavjayaraman feel free to raise a PR and comment places where you need input from somebody, or something is unclear

[2019-03-08 10:35] vaibhavjayaraman commented on #970
Cool. I raised a PR and commented on lines that I had immediate issues with.

[2019-03-10 01:20] marwan-at-work opened #1115 "Stasher: Implement Redis SingleFlight"
Most cloud platforms provide a redis-compliant  in-memory store and so it's worth trying having a Stasher implementation that locks stashing modules. This way, users wouldn't have to maintain their own Etcd clusters.

[2019-03-11 00:55] chriscoffee commented on #1115
This is ace @marwan-at-work! We could also mention a few of the fun redis stuff you can do too, or atleast point people to the docs that show it can do `append-only` and persist to disk in our docs

[2019-03-11 06:48] #1115 closed

[2019-03-11 06:52] marwan-at-work commented on #1115
@chriscoffee not too familiar with Redis but interested to know how any of those features you mentioned could help Athens (and the Stasher in particular)

[2019-03-11 19:58] #1000 closed

[2019-03-11 20:52] #1111 closed

[2019-03-11 23:14] marwan-at-work opened #1123 "[Proposal] GCS Distributed Locking"
This is a proposal to alter the GCS backend storage implementation so it can support distributed locking. Related read: https://cloud.google.com/storage/docs/consistency

There's a pro and a con to this. I believe the pro outweighs the con significantly.

### Pro
You can run multiple stateless Athens containers and hook them up to a GCS storage and never have to maintain any state at all. No etcd

[2019-03-11 23:21] marwan-at-work commented on #1110
Another alternative would be is to provide an HTTP interface to storages, almost an extension of the download protocol. And also we can look at how K8s does plugin extensions

[2019-03-12 09:39] marpio commented on #1123
Nice idea @marwan-at-work ! This should be also possible with Azure Storage.
One question - in a scenario where the upload i.e. succeeded for `mod` and `info` but failed for `zip` would we be able to somehow overwrite the `mod` and ìnfo` the next time we're saving the mod@ver?

Alternatively we could use GCS separately to implement the distributed lock.
Don't know if it's better or not but just wa

[2019-03-12 14:21] marwan-at-work commented on #1123
@marpio

Yes, the `storage.Delete` method should still work and therefore if something goes wrong, we should be able to clean up with Delete then the next a save happens, we're alright again.

I didn't know about this limitation, that would leave some unhappy users.

I did think about just using GCS as a distributed lock like you suggested, but I find the current solution more elegant. We can also

[2019-03-12 14:23] marwan-at-work commented on #1123
@marpio I also found a library that does what you suggested: https://github.com/marcacohen/gcslock

It's definitely worth keeping in mind. And I'm very curious to know about Azure's implementation as well.

Thanks for reviewing!

[2019-03-12 17:54] #1077 closed

[2019-03-12 19:47] phaizel commented on #1068
I am keen to work on this.

[2019-03-12 21:41] tylerchr commented on #1110
I've implemented an `http` storage type in an effort to support an integration with a new storage backend (Artifactory) in a more generic way than simply integrating with that backend (this came out of a Slack conversation with @arschles). It works essentially as @marwan-at-work described, in that it maps the storage operations to generic HTTP GET/PUT/DELETE calls with BasicAuth, and looks pretty

[2019-03-13 16:48] arschles commented on #954
Ok, the poll at https://twitter.com/gomodsio/status/1103055161855959040 is over. The vote breakdown was:

- 43% for 20:00 UTC
- 34% for 22:00 UTC
- 23% 18:00 UTC

How do folks feel about rotating between 22:00 UTC on odd week numbers and 20:00 on even week numbers each month?

[2019-03-13 16:49] fedepaol commented on #954
Sounds great to me

[2019-03-13 18:07] #1123 closed

[2019-03-13 18:11] arschles commented on #1110
@tylerchr so awesome! Looking forward to this

I'm +1 on this over the Go plugin interface, so that folks can build storage interfaces and have flexibility to run them either on `localhost` or over a network

[2019-03-13 19:07] arschles commented on #1068
@phaizel great! DM me if you like and I'll help get you started

[2019-03-13 22:09] arschles commented on #1080
@machiel just FYI, the [v0.3.1](https://github.com/gomods/athens/releases/tag/v0.3.1) release is out. I recommend using that instead of v0.3.0 because it has a fix for the minio storage driver in it

[2019-03-13 22:16] arschles commented on #1101
@chriscoffee yup, it is. You reminded me to get #1100 done!

[2019-03-14 00:37] tylerchr opened #1130 "Implement storage.Backend for Artifactory storage"
**Is your feature request related to a problem? Please describe.**

At Qualtrics we use Artifactory as an artifact repository, which is not currently supported by Athens. We want to deploy Athens internally. but strong corporate incentives exist to use our internal repository for storage instead of Athens' S3 support.

**Describe the solution you'd like**

I'd like Athens to support a storage back

[2019-03-14 03:45] sevennt opened #1132 "Add feature about replacing modules"
**Is your feature request related to a problem? Please describe.**
Add feature about replacing modules, some modules like ``golang.org/x/tools`` are not easy to
download because of CN bad network.

By replacing modules in athens, we can replace this modules' path with other reachable path (such as github.com), then we can ``go mod tidy`` smoothly.

**Describe the solution you'd like**
User adds re

[2019-03-14 05:46] tfzxyinhao opened #1133 "failing to get some package"
**Describe the bug**
A clear and concise description of what the bug is.
failing to get some package

**Error Message**
<pre>
[code]
</pre>

**To Reproduce**
Steps to reproduce the behavior:
set ```goproxy=http://192.168.32.100:3000 ```
and then execute ```go get -u github.com/golang/protobuf/proto ```

**Expected behavior**
A clear and concise description of what you expected to happen.

**Enviro

[2019-03-14 06:23] rsc commented on #1105
@arschles asked me to comment here. I agree that mostly the general discussion should stay on golang/go#25530. But I wanted to point out where I think Athens can add value and what might be some productive ways to work together.

For a company running an Athens server, my expectation is that the Athens server is secured about as well as their main source code servers and that host-level TLS authen

[2019-03-14 12:42] tomjamescn commented on #1083
@arschles  Thanks. does Athens support gerrit server ? I found nothing in doc.

[2019-03-14 12:43] tomjamescn commented on #1047
what is the solution, can u share it ? thanks

[2019-03-14 12:47] machiel commented on #1080
@arschles great! Thanks for the update! :)

[2019-03-14 18:54] arschles opened #1135 "Add a "one liner" to the home page"
Many OSS project sites include a quick command that someone can run to try the thing out. The foremost example of this in my mind is [Homebrew](https://brew.sh/) (see screenshot below)

![Screen Shot 2019-03-14 at 11 52 52 AM](https://user-images.githubusercontent.com/70865/54383642-c1d78b00-464f-11e9-8f4e-a1ba4ff7656e.png)

The command they give quickly gets you started and up and running.

I thi

[2019-03-14 18:59] marwan-at-work commented on #1105
@rsc everything you said makes a lot of sense and I'm happy to participate in early experimental implementations as well as spec designs.

The only issue that I see from your above proposal is that a company would need to have a strong communication tool to ensure that all of their developers use a GOPROXY and don't directly go to the notary themselves. Because if a company employee doesn't have G

[2019-03-14 19:01] arschles opened #1136 "Add documentation on how to configure the max workers for go mod download"
Athens comes by default with 10 parallel workers for doing `git clone`s (by running the `go mod download` command). Since these operations vary really widely in terms of CPU and memory usage (think of `git clone`ing all of kubernetes/kubernetes and zipping it up!), 10 may not be the right number. If you leave this alone, your project's builds might be too slow when they could be faster, or you mig

[2019-03-14 21:52] arschles commented on #1083
@tomjamescn since Gerrit servers support git over SSH, Athens should support it (since it does similar to a `go get` on the backend)

[2019-03-14 21:54] arschles commented on #1083
@tomjamescn I'm going to close this issue now, but please feel free to open a new one if you have more questions!
😀

[2019-03-14 21:54] #1083 closed

[2019-03-14 21:56] arschles opened #1137 "List supported VCS repositories"
**Is your feature request related to a problem? Please describe.**

In https://github.com/gomods/athens/issues/1083#issuecomment-472836213, @tomjamescn asked if Athens supports gerrit servers, and said that he didn't find anything that says what VCS servers Athens supports.

**Describe the solution you'd like**

We should add documentation that indicates what VCS servers Athens supports! Even bett

[2019-03-14 21:56] arschles commented on #1083
Also, I added https://github.com/gomods/athens/issues/1137 to remind us to add documentation for what VCS servers Athens supports. Thanks again @tomjamescn !

[2019-03-14 23:39] arschles commented on #924
I obviously have #972 open, but I am also going to create a draft sitemap. I'll share it in here

[2019-03-15 13:21] marpio opened #1140 "Azure Storage Distributed Locking"
**Is your feature request related to a problem? Please describe.**
Azure storage supports [Lease Blob operation](https://docs.microsoft.com/en-us/rest/api/storageservices/lease-blob) which means we could use it similarly to GCS (issue #1123) to support `SingleFlight` on Azure storage.

[2019-03-15 23:58] tylerchr commented on #1110
I opened #1130 (issue describing my needs) and #1131 (prototype implementation of an HTTP storage type).

Would be interested to hear your thoughts (@marpio, @marwan-at-work) especially since you're coming from the "storage plugins" angle which I hadn't initially considered.

[2019-03-16 10:02] jedruniu commented on #895
I'll take this one.

[2019-03-16 11:53] chriscoffee commented on #895
Awesome @jedruniu!

It looks like @arschles has already done some stuff if you want to look at that or build from it.

@arschles you still working on this or cool for @jedruniu to pick it up?

[2019-03-16 21:25] marpio commented on #829
Closing since #955 is in.

[2019-03-16 21:25] #829 closed

[2019-03-16 21:34] marpio commented on #1140
I would like to take this one!

[2019-03-19 00:21] arschles commented on #895
@chriscoffee sorry for the delay, I'm not actively doing anything on this

@jedruniu it's all yours!

[2019-03-19 02:20] tomjamescn commented on #1137
Thank you! Greate job!

[2019-03-19 05:07] #1051 closed

[2019-03-19 05:08] arschles commented on #1140
@marpio it's all yours 🎉

[2019-03-19 05:20] arschles commented on #1133
@tfzxyinhao do you have any log output from the Athens server when you found this error?

[2019-03-19 05:26] arschles commented on #1001
@hellojukay @PascalDierich now that we have `latest` published, our documentation at https://docs.gomods.io/install/shared-team-instance/#running-athens-with-local-disk-storage works now.

I am going to close this issue, but please comment here, open a new issue, or come talk to us on the Athens slack channel if you have more questions or comments!

[2019-03-19 05:26] #1001 closed

[2019-03-19 05:27] arschles commented on #1132
@sevennt are you thinking of something like an alias?

[2019-03-19 05:33] arschles commented on #1047
@tomjamescn I don't know what the solution is obviously, but maybe I can help.

Athens doesn't have a "publish" feature (yet, but we'll consider it if you have a concrete use case!) because it automatically pulls from the private repository the first time you run a `go get`. In other words, it pulls code on-demand from the private repo. So, if you want to "publish" a module, you can run `go get` f

[2019-03-19 13:28] marpio opened #1149 "Remove references to Buffalo"
We still have some references to the Buffalo framework here and there i.e. `init.ps1`. We can remove those since we do not use Buffalo anymore.

[2019-03-19 19:56] #1032 closed

[2019-03-19 21:41] arschles commented on #1140
After this is done, I'd like to move our CI-based Athens runs (see #1138) to use Azure blob storage

[2019-03-19 21:49] arschles commented on #954
I am going to leave this vote open until the [next dev meeting](https://docs.google.com/document/d/1xpvgmR1Fq4iy1j975Tb4H_XjeXUQUOAvn0FximUzvIk/edit#heading=h.4mawhy3zg5im). We'll finalize what to do then

[2019-03-19 22:19] arschles opened #1151 "Flake in GCP tests"
**Describe the bug**

Check out line 224-245 in this build: https://cloud.drone.io/gomods/athens/138/1/5

I've seen this across a few different PRs. Without looking in depth at the GCP code, I wonder if we're hitting a race condition?

**Error Message**

[code]

**To Reproduce**

It's tough to reproduce this because it's a flakey test. I suspect that it's due to a race condition.

**Expected behav

[2019-03-19 22:23] arschles commented on #1151
I think one possible fix to this - and something we should probably do anyway for correctness - is to make sure that our test harness creates and destroys a _unique_ bucket name on each run.

I am going to submit a PR to do just this

[2019-03-20 02:21] sevennt commented on #1132
@arschles yes

[2019-03-20 04:13] Kunde21 commented on #954
Something closer to 12UTC would be more workable for the ASEAN region.  Bangalore, Jakarta, Singapore, China, and Manila have a lot of developers and big/growing interest in Go.

[2019-03-20 19:36] jedruniu commented on #895
Great!

[2019-03-23 20:21] bradfitz opened #1155 "Athens leaks defunct zombie git processes"
**Describe the bug**

I've had an Athens (0.2) pod running in Kubernetes since 24 Jan 2019. It's leaked 3,675 zombie processes since then.

**Error Message**

<pre>
    PID TTY      STAT   TIME COMMAND
3136069 ?        Ss     0:00 /bin/sh
3136083 ?        R+     0:00  \_ ps afx
3136084 ?        R+     0:00  \_ less
      1 ?        Ssl  1216:37 /bin/athens-proxy -config_file=/config/config.toml

[2019-03-23 21:48] marwan-at-work commented on #1155
@bradfitz Athens does not directly use `git` directly. It shells out to `go` which uses `git` internally.
The only two commands that Athens uses which could end up using git are
1. `go mod download` here: https://github.com/gomods/athens/blob/master/pkg/module/go_get_fetcher.go#L131
2. `go list -m` here: https://github.com/gomods/athens/blob/master/pkg/download/upstream_lister.go#L52

In both case

[2019-03-23 21:51] arschles commented on #1155
Also iirc Athens v0.2.0 is built with go version 1.11.x (I think 1.11.4 but not at my machine to confirm), in case that helps

[2019-03-23 22:52] marwan-at-work commented on #1155
@arschles Athens v0.2.0 uses `golang:1.11-alpine` while Athens v0.3.1 uses `golang:1.12-alpine` [here](https://github.com/gomods/athens/blob/master/cmd/proxy/Dockerfile#L5)

If I'm looking at the code from 1.11 correctly, running git commands for modules comes from [here](https://github.com/golang/go/blob/26957168c4c0cdcc7ca4f0b19d0eb19474d224ac/src/cmd/go/internal/modfetch/codehost/codehost.go#L2

[2019-03-24 15:04] bradfitz commented on #1155
Actually I noticed that athens-proxy is pid 1 above.

I suspect this is just a packaging issue in your container.

You should probably wrap athens-proxy in https://github.com/krallin/tini (see https://github.com/golang/go/issues/23705 where Go discovered this too for some of our services)

[2019-03-24 17:05] marwan-at-work commented on #1155
@bradfitz

Disclaimer: I'm using this issue as a learning moment because it's the first time I hear about Docker/GKE not cleaning up properly finished processes. So thank you very much for taking the time to report the issue and help out :)

As for your last comment,

Do you mean we should just include `tini`? Or do you mean there's an actual mistake in our Dockerfile?

Here is the Dockerfile we u

[2019-03-26 08:07] zc2638 opened #1156 "go get timeout"
When I use ```go get```
I set up GOPROXY=127.0.0.1:3000
Without Athens, I downloaded it successfully.
What's the problem?
[code]
[code]

[2019-03-26 20:55] arschles opened #1157 "Remove the line number from the config link in the Kubernetes docs"
**Describe the bug**

The link to the `config.toml` file in https://github.com/gomods/athens/blob/master/docs/content/install/install-on-kubernetes.md#give-athens-access-to-private-repositories-via-github-token-optional goes to a specific line number. Making it do that might be a problem in the future because we would need to keep our docs up to date with code as it changes.

We should change the

[2019-03-26 20:56] #914 closed

[2019-03-26 22:15] arschles commented on #1156
@zc2638 the last two lines indicate why the timeout is happening. The Athens server itself runs this command approximately:

[code]

And it is encountering an error when it does so:

[code]

So, the question is, how is Athens running so that it is unable to fetch the code? To begin, are you running the server inside a Docker container?

[2019-03-26 23:13] arschles opened #1160 "Create a docker image for windows testing"
In short, it would be very helpful for us to pre-build a small docker image to be used in our windows tests on azure pipelines.

See https://github.com/gomods/athens/pull/1126#issuecomment-474604836 for details

[2019-03-27 00:55] zc2638 commented on #1156
@arschles No, I'm not running in docker.I download the source code and install it directly.
Go version of test project is ```1.12.1```with ```go module```.
I don't know why it happened. It was successful to download the GitHub package directly.

[2019-03-27 21:24] jbub commented on #1155
Hmm i think i saw those defunct git processes at some point with 0.2, havent seen that happening since i have updated to 0.3. It was maybe related to this https://github.com/census-instrumentation/opencensus-go/issues/1046.

[2019-03-27 21:33] jbub commented on #1155
Nevermind i just checked and can see 33 zombie git processes with `gomods/athens:v0.3.1`.

[2019-03-28 20:02] marwan-at-work opened #1165 "Github Bot To Run Sensitive Tests"
Right now if a malicious user can open a PR and print our gcp credentials for CI/CD tests. We'd 100% be able to see it and invalidate those credentials but we should have a better mechanism. I suggest we create a github bot that we can ask it to run those sensitive tests after we see that the PR has no malicious code.

[2019-03-28 20:07] marwan-at-work opened #1166 "Support Proper Authentication"
The Go Team seems to be onboard with this authentication mechanism: https://github.com/golang/go/issues/26232#issuecomment-461525141

Which will allow users to proxy arbitrary headers through the Go command and into the GOPROXY.

We should define how Athens can add authentication support.

Here are the questions to be answered:
1. Should we have static tokens supported?
2. Should we also be able t

[2019-03-28 20:30] marwan-at-work opened #1167 "Redirect If Module Not Found"
We have a global endpoint, but it's tied to the filter. I'm not too familiar with the filter mechanism, but we should potentially look into "redirecting" if a module does not exist.

How to do that should be discussed here first before implementing. We can do this in the download.Protocol's main implementation, or it can be a middleware, or it can also be a wrapper implementation of the DP

The or

[2019-03-28 23:29] arschles opened #1168 "[Proposal] Better Integration with Document Servers (i.e. moddoc)"
**Is your feature request related to a problem? Please describe.**

No, not related to a problem

**Describe the solution you'd like**

Recently, @marwan-at-work released [moddoc](https://github.com/marwan-at-work/moddoc), which hooks up to any server that implements the `/catalog` endpoint and the standard proxy protocol. In today's (March 28, 2019) [developer meeting](https://www.meetup.com/The-

[2019-03-29 06:40] #1157 closed

[2019-03-29 20:59] arschles commented on #954
ok, we finalized the vote for 22:00 UTC and 20:00 UTC rotating between weeks

I've created the following meetups to keep track:

- 20:00 UTC: https://www.meetup.com/The-Athens-Developer-Meeting/events/txvjvqyzgbhb/
- 22:00 UTC: https://www.meetup.com/The-Athens-Developer-Meeting/events/bdwjvqyzgbqb/

@Kunde21 This rotation is just a start, and I am going to start working on adding an ASEAN time as

[2019-03-29 20:59] #954 closed

[2019-03-29 21:09] arschles opened #1169 "Dev Meetings: Adding a Time Rotation That's Friendly to Asia/Pacific Time Zones"
We now have a rotation of times that are beginning to accommodate EU and North America time zones in https://github.com/gomods/athens/issues/954#issuecomment-472508105.

As @Kunde21 mentioned in https://github.com/gomods/athens/issues/954#issuecomment-474677766, we don't yet have a time in the rotation that is friendly to Asia/Pacific time zones.

This issue is for adding a time into the rotation

[2019-03-29 23:58] arschles commented on #800
@gcstang super sorry for the delay here! Almost 4 months later, here is the documentation for the upstream: https://docs.gomods.io/configuration/upstream/

[2019-03-30 00:00] arschles commented on #800
I am going to close this issue for now, but @gcstang if you have more questions or this upstream functionality won't work, can you please comment here or open a new issue? You can as always talk to us on Slack if you like too

[2019-03-30 00:00] #800 closed

[2019-03-30 00:04] arschles commented on #1165
@marwan-at-work can you go into some more detail on the bot? How would it "hide" the credentials for the user?

[2019-03-30 00:11] arschles opened #1171 "Add logs to warn when not all 3 files (mod, info and zip) are present"
**Is your feature request related to a problem? Please describe.**

The file system storage currently checks for all three files (`.mod`, `.zip`, `.info`) exist and fails any one endpoint if they don't _all_ exist. This can be problematic if, for some reason, 1/3 or 2/3 of the files exist. In this case, Athens will "fall back" to downloading the module from the VCS and _overwriting_ it in its stor

[2019-03-30 00:13] arschles commented on #1068
@phaizel are you still interested in doing this one?

[2019-03-30 15:09] marwan-at-work commented on #1165
The bot wouldn't hide the credentials. The idea is that you have a step in the build that will run the GCP tests, but a maintainer has to look at that PR before you run those tests to ensure that that PR is not malicious. For exaple, if the PR has a "fmt.Println(credentials)" then we wouldn't tell the bot to run the tests. Only a maintainer can run the bot obviously.

[2019-03-31 12:22] marpio commented on #1167
@marwan-at-work
Do you see this useful in other use cases beside supporting the serverless platform?

[2019-03-31 18:15] marwan-at-work commented on #1167
@marpio
Yes, I imagine you might want to chain multiple proxies for various reasons. For example, an unauthenticated proxy that sits behind an authenticated proxy. Therefore the authenticated proxy only stores the private modules and not the public ones.

That said, I do think we should probably re-think the GlobalEndpoint because it was originally designed for a totally different purpose (back in

[2019-04-01 13:42] Kunde21 commented on #1169
Ideally, I think there would be a meeting on the odd weeks  ~11-13UTC, preceding one of the two US/EU time slots.  An EU/AF dev would become the "bridge" by attending at their lunch time and in the evening, to keep both regions informed.  Unfortunately, that means extra responsibility and duties piled upon a small number of devs in Europe/Africa, who are available at both times.

[2019-04-02 04:54] #1140 closed

[2019-04-03 20:45] arschles commented on #1160
This is ongoing in https://github.com/gomods/windows-testing-docker

[2019-04-03 20:48] arschles commented on #893
Update: https://github.com/gomods/athens/issues/1068 is the endpoint that @robjloranger talks about in https://github.com/gomods/athens/issues/893#issuecomment-443395041

I am going to start prototyping this now

[2019-04-04 17:18] arschles commented on #1169
@Kunde21 I think we decided that a single, rotating meeting time each week is less bad than a separate meeting for other time zones each week (see https://github.com/gomods/athens/issues/852#issuecomment-435195602).

What do you think of an every three week rotation, with one of the weeks being 11-13UTC?

[2019-04-04 17:47] arschles commented on #1167
@marwan-at-work for option 3 above, how do you anticipate the redirecting tier filling its storage?

Also, I agree that we should re-think the GlobalEndpoint. Originally it was designed for mirroring - Athens would fill its storage from an upstream proxy (rather than a VCS). I still like that idea 😄

[2019-04-04 18:14] marwan-at-work commented on #1167
it can be done in a few ways:

1. A download.Protocol wrapper
  1A: we could return a "RedirectError" and have the handler do the redirect part.
  1B: we could just proxy the response from the redirect itself, which would still save us a lot of resource power because we're now just copying bytes over and not doing a git-clone.
2. We can implement a download.Protocol middleware that has a different

[2019-04-04 18:48] #1151 closed

[2019-04-04 18:53] arschles commented on #1167
1(b) looks really good to me, it's almost exactly what I thought you were originally suggested in fact. One addition to that (we discussed this back in the early days as well) is to proxy the response from the redirect and copy it into storage (asynchronously, maybe, but that comes with some tradeoffs) - which makes the proxyer into a mirror

[2019-04-04 23:19] cep21 opened #1177 "Enable pprof/expvar/goroutine dumps"
I would like to debug my current running athens proxy.  It would be great if [pprof](https://golang.org/pkg/net/http/pprof/) or [expvar](https://golang.org/pkg/expvar/) were exposed (at least optionally in the config).  This would allow me to collect goroutine dumps or inspect environment variables so I can debug the proxy.

[2019-04-05 04:01] vaibhavjayaraman commented on #892
Can I work on this?

[2019-04-05 20:26] aplex opened #1179 "Add CPU and memory resources section to helm chart"
**Is your feature request related to a problem? Please describe.**

Current helm chart does not allow to set any resource requests or limitations. This can result in scheduling Athens on a Kubernetes node that does not have enough spare CPU and memory.

**Describe the solution you'd like**

Add resource section to values.yaml, similar to how it's done in stable helm charts:
https://github.com/helm

[2019-04-08 14:49] marwan-at-work opened #1182 "add support for PORT environment variable"
A lot of cloud providers won't recognize a custom PORT env var such as ATHENS_PORT. Furthermore, serverless platforms most often do not give you the PORT number ahead of time so you can't predict what port the server is going to run on. Most of them that I have noticed such GCF and GAE use the "PORT" env variable. So we should add it.

However, in the future we should maybe add an ENV VAR to tell

[2019-04-08 19:54] #1182 closed

[2019-04-08 19:55] arschles commented on #1182
@marwan-at-work I think this would be confusing to folks configuring Athens. Would you be ok leaving it as you made it in #1181?

[2019-04-08 20:05] arschles commented on #892
@vaibhavjayaraman yes, absolutely. Enjoy! And let us know if you have any questions, hit any roadblocks, etc...

[2019-04-08 20:31] #969 closed

[2019-04-08 20:51] arschles opened #1183 "Allow cache configurability on the mod, zip and info files"
**Is your feature request related to a problem? Please describe.**

These 3 endpoints are technically cachable forever because Athens is supposed to be immutable. Currently the athens.azurefd.net proxy has a caching proxy in front of it that honors the no-cache headers that Athens sends back for these endpoints.

In the past, Athens has failed to download the entire zip file, or failed to transmit

[2019-04-08 22:07] arschles commented on #1155
What do folks think about this problem? @bradfitz did you happen to update GKE and see if that fixed the problem? Otherwise, can we give you a custom image, which executes Athens with `tini`, to try in your cluster?

[2019-04-09 22:00] arschles commented on #1060
@Zyqsempai do we still have this after minio/minio#1516 and minio/minio#1735 are both closed?

[2019-04-09 22:02] #1160 closed

[2019-04-10 17:03] arschles commented on #1177
@cep21 if you had to choose one to get first, which would it be? I'd like to split this one up into separate PRs...

[2019-04-10 17:09] cep21 commented on #1177
For my case, the athen's proxy will frequently just "hang" without a response and slow "go get" commands for minutes at a time.  To debug this, I would need goroutine dumps and pprof info: so for me pprof would be the priority.

However, support for expvar is usually a single line of code: `import _ "expvar"`

[2019-04-13 02:27] cByst commented on #1171
I'd like to work on this one.

[2019-04-13 02:58] arschles opened #1186 "Improve the catalog endpoint format"
**Is your feature request related to a problem? Please describe.**

Right now, utilities that want to use the `/catalog` endpoint often need to aggregate each module's versions into a list. For example, the `/catalog` endpoint returns this:

[code]

Many programs will find it more convenient to get a response similar to this:

[code]

**Describe the solution you'd like**

I'd like us to add a V2 o

[2019-04-13 03:28] cByst commented on #1135
I'd like to work on this. Are you think adding a section to the readme that looked something like:
# Running A Local Athens Proxy
## Starting Athens Proxy Locally
You will need  [docker](https://www.docker.com/products/docker-desktop) installed on your machine. Then run:
[code]
This command will pull the latest athens docker image and start the Athens proxy on port 3000.
## Pointing ```go get``` T

[2019-04-17 14:50] MaruHyl opened #1189 "I can download pkg without repo permission"
There is a private repository `gitlab-xxx.com`,
A only has the download permission for the project `gitlab-xxx.com/p1`,
and B only has the download permission for the project `gitlab-xxx.com/p2`,
`athens` configured an account in `.netrc` which has permissions to download `p1` and `p2` to provide `GOPROXY service` for A and B,
there is a problem, B can download `p1` through `athens` by `GOPROXY=at

[2019-04-17 20:26] marpio commented on #1053
@sbinet so you think we can close it? Have you been able to reproduce it with your own Athens?

[2019-04-18 04:11] oakad commented on #1166
This will be most welcome, because many places have "no public access to rcs" policy - all accesses must be authenticated, and `.netrc` is often insufficient.

However, a more flexible approach may be envisioned.

For example, athens may support "download helpers", to the following tune:

1. The configuration file contains a section mapping package URI regexes to helper programs.
2. If athens rece

[2019-04-18 08:46] #1053 closed

[2019-04-18 12:01] chriscoffee opened #1191 "Set open graph image for Athens project"
GitHub just released this feature and it'll help with sharing and outreach and the like.

https://github.blog/2019-04-17-custom-open-graph-images-for-repositories/

I'll take this

Edit: Bunch of edits as I can't type on a phone 😂

[2019-04-18 18:37] chriscoffee commented on #1191
<img width="710" alt="Screenshot 2019-04-18 19 37 34" src="https://user-images.githubusercontent.com/7100370/56383299-7184b780-6211-11e9-979d-8bf78e799ba0.png">

This has been set as the new og:image

[2019-04-18 18:37] #1191 closed

[2019-04-19 00:27] xphyr opened #1192 "Support both UPPER and lower case versions of proxy environment variables"
I have been trying to figure out why Athens was not working behind our proxy and finally figured it out.  On our hosts we define "http_proxy", "https_proxy" and "no_proxy", not "HTTP_PROXY", "HTTPS_PROXY" and "NO_PROXY".  I was able to find that this traces back to this here:

https://github.com/gomods/athens/blob/master/pkg/module/go_get_fetcher.go#L165-L167

NOTE:  The go toolchain actually supp

[2019-04-20 13:40] cByst commented on #1135
@arschles is this is what you were thinking? I can submit a PR if it was.

[2019-04-20 19:38] robstrong commented on #998
Can this issue be closed now that #1042 is merged?

[2019-04-21 18:34] marpio commented on #998
Yes. Thank for the reminder.

[2019-04-21 18:34] #998 closed

[2019-04-22 01:08] Kunde21 commented on #1135
I'd lean more towards an export over defining for each go command:

[code]

or a true one-liner:

[code]

[2019-04-22 18:53] #1155 closed

[2019-04-22 20:35] arschles commented on #1192
This was closed by #1192. Closing

[2019-04-22 20:35] #1192 closed

[2019-04-22 22:32] arschles commented on #1135
I was thinking a one-liner for _installing_ and _running_ Athens. The using it part can come in subtext below.

@cByst  @Kunde21 what about this:

## Run `docker run -p '3000:3000' gomods/athens:latest` to get started

(^^ is the one liner, then this could be a follow-up subtext below)

Then, set up your `GOPROXY` and `go get` going!

`export GOPROXY=http://localhost:3000 && go get module@v1`

[2019-04-22 22:34] arschles commented on #1191
Thanks @chriscoffee 🚀 🎉

[2019-04-23 20:24] ahmetb opened #1196 ""not a valid zip file" when failing to fetch a package due to merge conflicts?"
**Describe the bug**

Something that fails with vanilla `go get` (due to some weird merge conflict error locally) is failing with "not a valid zip file" error while fetched via`GOPROXY=https://athens.azurefd.net`.

I'm not sure how/why the proxy is running into a conflict error as I'm running into it locally (for some reason I couldn't figure out).

**Error Message**
If applicable add error messag

[2019-04-23 20:53] marpio commented on #1196
@ahmetb
`athens.azurefd.net` isn't maintained that much and so it's possible that you're getting some weird errors.
Can you instead try this?
[code]

[2019-04-23 22:25] ahmetb commented on #1196
Thanks. Doesn't repro.

[2019-04-23 22:25] #1196 closed

[2019-04-26 06:09] MaruHyl commented on #1186
@arschles It looks simple, can I try it?

[2019-04-26 12:50] marpio commented on #1186
@MaruHyl sure, it's yours!
One thing you should keep in mind is that we have paging in place currently. This means that the last record we're getting from the storage doesn't have to be the last version of that module.
page1:
mod1@v1.00
mod1@v1.0.0
mod2@v2.0.0
Page2:
mod2@v2.1.0
etc.
So we can't just simply group by module the page records.

[2019-04-26 15:04] MaruHyl commented on #1186
@marpio Thanks!
I will use `module` as the key for sorting and paging. For example, pagesize is 3, then the result is m1(v1,v2..), m2(v1,v2..),m3(v1,v2..).

[2019-04-26 15:07] MaruHyl commented on #1186
@marpio
In `fs.CatalogV2`, the token will be `module`, not `module|version`.For example, pagesize is 3, then the result is m1(v1,v2..), m2(v1,v2..),m3(v1,v2..), the next token is m4
In `mongo.CatalogV2`, the token will be `module`, not `ID`, and the next token is m4 too.
...

[2019-04-26 18:14] manugupt1 commented on #1186
Hi,

My preference is not to sort as the order is not guaranteed by any storage
providers. The two storages may not necessarily be the same.

Cheers,

Manu Gupta

On Fri, Apr 26, 2019 at 8:07 AM maru <notifications@github.com> wrote:

[2019-04-27 19:54] marpio commented on #1186
@MaruHyl
Sorry for not being clear, I was thinking about the object storages (S3,GCS etc.)
Since we don't know the number of versions for each module we will need to `List` more objects that we actually need to satisfy the pageSize number of modules.
Now we can't simply return the last continuation token returned be the storage b/c we would skip some records.
Just something we should think of whil

[2019-04-28 09:33] MaruHyl commented on #1186
@marpio @manugupt1 Thanks for advises!

[2019-04-30 12:19] empijei commented on #351
Shouldn't this be labeled as "security"?

[2019-04-30 13:59] #1149 closed

[2019-05-02 19:28] #420 closed

[2019-05-03 18:16] marwan-at-work commented on #1189
The use case of Athens is that you run it within your company, and employees of your company have access to all of your repositories.

I imagine in super gigantic companies, you might want to limit code access between teams. Athens in this case can check certain headers but that's a bit of weird use case as of now for a couple of reasons:

1. Go does not send any headers (until Go1.13 introduces G

[2019-05-03 20:49] marpio commented on #1189
I don't think this should be Athens responsibility but maybe we could delegate that to some other system by using a hook which would send the headers and module.
We do something similar already with the [validation middleware](https://github.com/gomods/athens/blob/master/pkg/middleware/validation.go).

Of course, this would require at least go1.13 and GOAUTH

[2019-05-07 10:12] marpio commented on #1057
@arschles I'm closing it since we do not use azure pipelines anymore.

[2019-05-07 10:12] #1057 closed

[2019-05-07 10:14] marpio commented on #1133
@tfzxyinhao Can you provide more details?
Is it possible to go get the module without athens?

[2019-05-07 10:15] marpio commented on #981
Closing as we do not use azure pipelines anymore

[2019-05-07 10:15] #981 closed

[2019-05-07 10:59] marpio commented on #1023
@Zyqsempai I'm closing this since the change would require a breaking change.

[2019-05-07 10:59] #1023 closed

[2019-05-08 19:32] marwan-at-work opened #1211 "[Proposal] Support Multi Proxy Clients"
The GOPROXY in 1.13 will become a comma-separated command with specific logic of how to move from one proxy to the next.

Athens currently assumes it's the only Proxy by always trying to `go mod download` modules that are not found in storage.

But with this new change in 1.13, we should give users the option to potentially chain different Go Proxies not just based on Import Paths (GlobalEndpoint/

[2019-05-08 21:05] arschles commented on #1081
Duplicate of https://github.com/gomods/athens/issues/776, closing.

[2019-05-08 21:05] #1081 closed

[2019-05-09 00:52] arschles commented on #1211
@marwan-at-work I really like this idea! My comments are all related to the custom config.

First, could we make `DownloadRedirectURL` configurable for each `download` block?

Second, the good developer experience that HCL provides is going to be negated by the confusion between whether to use the filter file or the new HCL file, though, because the functionality is too similar. I think HCL is a n

[2019-05-09 00:56] arschles opened #1213 "Write a test for the continuation token on the minio storage driver"
**Is your feature request related to a problem? Please describe.**

https://github.com/gomods/athens/pull/1212 fixes the continuation token on the minio cataloger but I don't believe we have a test for it.

**Describe the solution you'd like**

Let's write a test for it 😁

**Describe alternatives you've considered**

**Additional context**

https://github.com/gomods/athens/pull/1212#pullrequestrev

[2019-05-09 03:43] marwan-at-work commented on #1211
@arschles

I was thinking about that too, and I think we should make that work, and in case of its absence, just default to whatever the global is. But we should validate that at least one redirect url exists up the chain.

Agreed. The good thing is that we don't have much documentation on the Filter File (it's a bad thing, but in this case it's a good thing lol). So yeah, we could potentially fre

[2019-05-09 08:27] amnonbc commented on #1211
What do we want to happen if the athens gets an authentication error when we try to access the upstream module?

[2019-05-09 13:30] marwan-at-work commented on #1211
@amnonbc in the context of this proposal, we're redirecting the client when the Athens storage is empty, and therefore we never check the status of "upstream" (VCS). Therefore, the client, being the Go command, will fail the build when the *next* proxy returns a 403.

However, AFAIK we return a 500 when `go mod download` gets an unauthenticated error. That's because `go mod download` does not retu

[2019-05-09 17:17] arschles commented on #1211
@marwan-at-work

Sounds good!

Agreed on the freeze, we can put a big banner at the top of https://docs.gomods.io/configuration/filter/ and redirect to a page with v2 syntax

Looking forward to it!

[2019-05-09 18:17] rimusz opened #1216 "Add CircleCI to this repo for chart linting and install testing"
As cloud.drone.io doesn't support `privileged` docker continuers need to run [kind](https://kind.sigs.k8s.io) for chart install tests, suggest to integrate the repo with CircleCI, where `kind` can be run at no problem.

[2019-05-09 19:27] arschles commented on #1211
Filter file docs for reference: https://docs.gomods.io/configuration/filter/

[2019-05-09 21:09] marwan-at-work commented on #1155
@bradfitz v0.4.0 is [released](https://github.com/gomods/athens/releases/tag/v0.4.0) which has `tini` in the Dockerfile (`docker pull gomods/athens:v0.4.0`) -- feel free to check it out and please let us know if the issue still persists.

[2019-05-10 11:25] ulrichSchreiner commented on #1192
hi,

the 0.4.0 version of athens does not work in our environment any more. we set `HTTP_PROXY` and `HTTPS_PROXY` but not the values with lowercase. i think your fix passes the environment variables with uppercase (which have values in our env) and with lowercase (which do not have values in our env) to your subprocess environment. now the environment contains
[code]

and now our instance of athen

[2019-05-10 15:49] wsoula opened #1219 "Build succeeds with 0.3.1 but fails with 0.4.0"
**Describe the bug**
I have a developer that opened a pull request after I upgraded athens to 0.4.0 and his pr failed even though he is not changing dependencies and just go code.  I rolled back athens to 0.3.1 and it succeeded, I then upgraded to 0.4.0 again and it failed, I then rolled back to 0.3.1 and it succeeded.  If I click the link in the error message it returns: "{"Version":"v1.0.0-comfg

[2019-05-13 05:12] sify21 opened #1220 "cache upstream module locally for faster download"
**Is your feature request related to a problem? Please describe.**
In my area, I can't download modules from `golang.org` directly. So I configured athens to use upstream module repository `https://athens.azurefd.net`. Those modules are not stored in athens local storage, and they're downloaded from internet every time.

**Describe the solution you'd like**
I want athens to have a switch to contro

[2019-05-13 06:47] marpio commented on #1220
@sify21 please take a look at #1211
Would that solve your problem?
Also a sidenote, athens.azurefd.net is awesome for trying out Athens but we don't put a lot of time into maintenance. If you face any issues with it you might consider using gocenter.io instead.

[2019-05-13 07:02] sify21 commented on #1220
@marpio  It would be great If #1211 is implemented. The DownloadMode `async_redirect` will solve my problem. As I understand it, athens will return the module immediately if the module is found in local storage, and only download those that are not in local storage. Am I right?

[2019-05-13 08:51] qqqasdwx opened #1221 "when I want to update some mod , I get nothing ."
I use athens from docker , this is my Dockerfile
[code]
and my filterfile:
[code]
`git.secok.com` is a internal git server

then I want to use this command `GOPROXY=http://<athens-ip> go get -u -v git.secok.com/cad/common`

command execute success,and I check my go.mod.
I want to get a new version for this repo , but I only get athens's cache , nothing to update.
Is this expected behavior?

[2019-05-13 15:04] ernado opened #1222 "Disable log buffering for fatal errors"
**Describe the bug**
Seems like log output is buffered and application is closing before flushing
the buffer.

This leads to log message loss if application is closing too quickly, e.g. right after the start.

**To Reproduce**
1. Create systemd service with athens
2. Start it
3. Try to look at logs via `journalctl`

It will look like:
[code]
No sign of failure cause.

**Expected behavior**
Error m

[2019-05-13 18:58] marpio commented on #1221
@qqqasdwx

What do you mean by new version? Did you create a new tag in `git.secok.com/cad/common` or do you want to get the latest commit?
If it's a tag, was it a new major version or minor or patch?
The `-u` flag will instruct go to fetch the latest minor or patch version so if there isn't any it won't update the version.
In general, you could run go get without Athens and check if there's any d

[2019-05-13 19:00] arschles commented on #1216
@rimusz turns out CircleCI was enabled previously, but no builds have been running for ~2 months. This should be good to go for adding a circle yaml file. let me know what you find, and feel free to `@` me on slack as always, happy to help if I'm around!

[2019-05-14 02:17] sify21 commented on #1220
Great! Then this issue can be closed, I'll subscribe for #1211

[2019-05-14 05:51] #1220 closed

[2019-05-14 10:13] qqqasdwx commented on #1221
thanks reply~
yes,  I want to get the latest commit, and this repo is not a go mod repo, when I set `GOPROXY=''` and run `go get -u -v git.secok.com/cad/common`, I get the latest commit and auto update my go.mod.
like this
[code]

[2019-05-14 11:06] rimusz commented on #1216
hmm, I don't see CircleCI kicking in for #1225

[2019-05-14 18:15] arschles commented on #1220
Related to https://github.com/gomods/athens/issues/1220#issuecomment-491696786, proxy.golang.org is another option 😄

[2019-05-14 18:23] arschles commented on #351
@empijei yep, you're right - I've labeled it with security, thank you!

I'm going to close this issue now, primarily because we're not designing or intending to build a registry-like system. We can revisit the security model for intra-organizational use cases if needed later

[2019-05-14 18:23] #351 closed

[2019-05-14 18:26] arschles commented on #1156
@zc2638 sorry for the long delay! is it possible for you to share your `go.mod` & `go.sum` files, so I can try to reproduce this issue?

[2019-05-14 18:30] arschles commented on #1177
@cep21 got it! would the opencensus infrastructure help you at all here? Regardless, we'll start with pprof.

[2019-05-14 18:30] arschles commented on #1171
@cByst please feel free!

[2019-05-14 18:33] arschles commented on #1105
@marwan-at-work did #1208 close this?

[2019-05-15 02:57] zc2638 commented on #1156
@arschles You can try the simple use of ```gin``` framework

[2019-05-15 21:05] marpio commented on #1221
@qqqasdwx
So the problem is that Athens serves only the first commit that has been saved and doesn't update it even though there are newer commits?
Is it similar to the issue described in #1000 ?

Could you post here Athens logs after running `GOPROXY=http://<athens-ip> go get -u -v git.secok.com/cad/common`?
Thanks!

[2019-05-16 16:22] atomi opened #1227 "Publish Athens server docker image for armv6"
Since Athens is using Drone which also offers a plugin to publish manifest files can multi arches  be supported?

http://plugins.drone.io/drone-plugins/drone-manifest/

I was able to build 955929d just fine on a Raspberry Pi 3 with only a tiny change in the Dockerfile

[code]

Edit: Obviously this is not critical but it would be a nice to have for further updates. Thanks.

[2019-05-16 17:23] arschles commented on #1216
#1225 closed this one

[2019-05-16 17:23] #1216 closed

[2019-05-16 19:05] atomi commented on #1227
So for what it's worth, I've been playing around with Athens on the Pi and it does indeed work but it is pretty slow.

So I'm not sure there will be many takers. 🤔

[2019-05-17 01:24] Kunde21 commented on #1227
Is there a reason the Dockerfile doesn't use the alpine `tini` package directly?

[2019-05-17 01:51] atomi commented on #1227
I wasn't aware tini was available in alpine but probably not. 🤷
It looks like it's the same version available as well.

[2019-05-17 02:46] marwan-at-work commented on #1219
@wsoula do you have a `go.mod` that I can use to reproduce this error? Thanks!

[2019-05-17 03:02] marwan-at-work commented on #1219
I just built Athens with an `fs` disk in version v0.3.1, then rebuilt it with the same storage (populated by v0.3.1) but with v0.4.0 and it built ok.

[2019-05-17 03:25] marwan-at-work commented on #1222
@ernado I can't seem to find any documentation (here https://golang.org/pkg/log/) on the difference in behavior between `log.Fatal` and `log.Panic` when it comes to buffering output. Especially that they both use the same way to print to Stdout.

It'd be nice to figure out why, but I don't see a problem in replacing `log.Fatal` with `log.Panic` as a quick fix.

[2019-05-17 06:41] ernado commented on #1222
I've failed to find anything related to log buffering too, it is weird.
Will try to investigate it further, maybe that problem is specific to my environment.

[2019-05-17 12:10] marwan-at-work commented on #1222
@ernado sounds good. I'll keep the issue open for now, feel free to give us an update or close the issue. Thanks!

[2019-05-17 13:18] manugupt1 commented on #1222
Can you try adding $GOROOT as an env var in the unit file @ernado and also see if WORKING_DIRECTORY has led to some unintended effects.

[2019-05-17 13:36] zerok opened #1228 "Helm: spec.ports: Required value"
When I try to install the gomods/athens-proxy helm chart in version 0.2.5 I get the following error message:

[code]

Looking at the service.yaml everything looks fine, though. Any idea what could cause that?

**Environment (please complete the following information):**

[code]

[code]

OS: macOS 10.14.x

[2019-05-17 13:55] ernado commented on #1222
Seems like the issue is related to systemd.
Can't reproduce it on Ubuntu 18.04 (systemd 237), but it can be a side-effect of having a faster machine.

Ref: https://github.com/coreos/bugs/issues/373

I'm investigating further, but I'm not sure that this should be fixed in the scope of the project.
Maybe we can just apply workaround of just adding a log message prefix `log.Fatalf("could not create a

[2019-05-17 13:58] ernado commented on #1222
Ref: https://github.com/etcd-io/etcd/issues/339

I think I'll just close it for now :/

[2019-05-17 13:58] #1222 closed

[2019-05-17 14:18] wsoula commented on #1219
I looked into this more and deleted some files from the geo folder and it works now.  I'm sorry I was wrong about the storage its s3.

With these files in the geo folder the build works fine:
![image](https://user-images.githubusercontent.com/1820481/57933855-8ccbfc80-787b-11e9-9863-8e80f580e7b8.png)

But if either of these sets are in that folder it does not work:
![image](https://user-images.git

[2019-05-18 02:30] marwan-at-work commented on #1228
cc: @arschles

[2019-05-18 17:03] marwan-at-work opened #1232 "Introduce Release Cycles"
Currently, we release Athens when we have a lot of features and fixes that it feels like we definitely need a new release. This means that each release has so many features that it's very difficult to catch any regressions and we introduce a lot of risk of too many changes.

On the other hand, too many releases would have the same negative effect.

Therefore, we should create a sane release cycle

[2019-05-18 18:15] marpio commented on #1232
+1
I would start with 3 and switch to 2 when we have more contributions.

[2019-05-18 20:24] robjloranger commented on #1232
I agree

[2019-05-19 02:46] delley opened #1233 "Build fails with 0.4.0"
**Describe the bug**
I'm trying to build a version of Athens from the repository clone and I'm having the error described below. However, by removing the `-mod=vendor` option from the `Makefile` file, it was possible to build the artifact.

**Error Message**
<pre>
build github.com/gomods/athens/cmd/proxy: cannot load cloud.google.com/go/storage: open /home/foliveira/arquivos/estudos/go/athens/vend

[2019-05-20 04:28] qqqasdwx commented on #1221
@marpio
Yes, it similar to [#1000](https://github.com/gomods/athens/issues/1000)

And I'm afraid I can't provide Athens log, because I change my repo to a mod repo and set tag with my commit. Now, I run `GOPROXY=http://<athens-ip> go get -v git.secok.com/cad/common` and I got the my lastest commit. I think this is the right way to use it, is it?

Thank you very much for your help.

[2019-05-20 05:34] zerok commented on #1228
I think I found the problem. I'm currently working on a PR for that.

[2019-05-20 15:51] mwf commented on #984
Hi guys!

golang/go/issues/26334 is done now, but it doesn't help without some modification in Athens.

Now Athens responds with 500 on any error occurs, but the proxy switch will work only if proxy returns 404/410 status (according to commit message details in https://go-review.googlesource.com/c/go/+/173441/)

Could you please take it into account and modify error handling inside Athens?

[2019-05-20 16:00] marwan-at-work commented on #984
@mwf there's an open PR that lets you specify for all not-found modules to return 404 or even based on import path patterns: https://github.com/gomods/athens/pull/1230

Thanks for reminding to tag this issue in my PR :)

[2019-05-20 19:00] arschles commented on #1156
@zc2638 I wasn't able to reproduce the issue, using the `v0.4.0` Docker image of Athens (see logs below). Is it possible that there's some configuration on your host machine that would prevent Athens from listing  from running properly?

Logs for the server:

[code]

Logs for the client:

[code]

[2019-05-20 22:52] brainflake commented on #1233
I just ran into the same issue while building the docker image w/ `make run-docker`. I think it's because the vendor dir was recently removed from the repo?

[2019-05-21 17:11] arschles commented on #1233
Yup, you're right @brainflake - we did indeed remove the vendor directory (I can't find the PR at the moment where we did that), but we haven't updated the documentation to indicate how to build Athens (I will do that ASAP, I'm really sorry about that!). The absolute best way to build Athens right now is to bootstrap it with `proxy.golang.org` or `gocenter.io`. I just confirmed that both work, so

[2019-05-21 17:13] arschles opened #1235 "Can't build Athens locally"
**Describe the bug**

Since we removed the vendor directory, the `Makefile` (and documentation) are wrong because they assume there is a vendor directory.

**Error Message**

Please see #1233

**To Reproduce**

Run `make build-ver VERSION="0.4.0"`

**Expected behavior**

The Athens binary should build successfully

**Environment (please complete the following information):**

Please see https://gi

[2019-05-21 17:13] arschles commented on #1235
I will take this one today.

[2019-05-21 17:44] arschles commented on #1232
sounds good to me. @marwan-at-work think we should do a code freeze as part of this, or is that overkill right now?

[2019-05-21 20:13] delley commented on #1233
@arschles Yes, it worked, thank you!

[2019-05-21 20:27] brainflake commented on #1233
Thanks @arschles! Building with either of those proxies works for me as well. I was also able to build the docker image by pulling out `-mod=vendor` adding a build arg to pass in a GOPROXY value from the compose file

[2019-05-22 00:36] xytan0056 opened #1236 "token is not passed in /catalog from URL"
**Describe the bug**
token/pagesize is not passed to /catalog from URL.

**Error Message**
token == "" instead of passed in value

![image](https://user-images.githubusercontent.com/48696694/58139137-4e716d00-7bee-11e9-9f27-fd3537611cf8.png)

![image](https://user-images.githubusercontent.com/48696694/58139173-76f96700-7bee-11e9-8d54-427b63629c20.png)

**To Reproduce**
just pass any variable

**Ex

[2019-05-22 03:03] arschles opened #1237 "Set up a dev environment with sail?"
**Is your feature request related to a problem? Please describe.**

Not really, this would be a pretty cool addition to our dev experience

**Describe the solution you'd like**

We already have a pretty good documentation page for how to set up your local development environment. I think it would be nice & convenience to provide another option for anyone looking to develop on Athens using [sail](h

[2019-05-22 03:41] storyicon commented on #1189
Now use  [GOS](https://github.com/storyicon/gos)  to solve all these problems. It allows you to take the right privileges to pull private repositories, and to use GOPROXY at the right time. It also provides some additional shortcuts.

[2019-05-22 03:43] storyicon commented on #1166
Now use [GOS] (https://github.com/storyicon/gos) to solve all these problems. It allows you to take the right privileges to pull private repositories, and to use GOPROXY at the right time. It also provides some additional shortcuts.

[2019-05-22 13:00] wsoula commented on #1219
How do those "intermediate" files get created?  They keep reappearing and I have to delete them to fix the build again.

[2019-05-22 14:25] marwan-at-work commented on #1219
@wsoula there shouldn't be any intermediate files. Athens only saves 3 files per module (.info, .mod, and .zip)

[2019-05-22 14:36] wsoula commented on #1219
The long numbered v1.0.0 are coming from someone's dependencies then I guess?

[2019-05-22 14:47] marwan-at-work commented on #1219
@wsoula most likely as long as they are valid tags/metatags.

[2019-05-22 17:42] wsoula commented on #1219
I have steps to reproduce with public repos:
Delete local cache and long numbered v1.0.0 from s3 bucket
go.mod:
[code]
then i run:
[code]
then i change go.mod to:
[code]
then i run and get the error:
[code]
Then I delete the long numbered files from the s3 bucket and run:
[code]

[2019-05-22 21:06] marwan-at-work commented on #1219
@wsoula Thanks for giving us a way to reproduce it. That makes a lot of sense now. The reason this is failing is because we check modules in v0.4.0 based on prefixes not based on explicit paths, so when two Versions have the same prefix, we get into trouble:

1. Here's the code now: https://github.com/gomods/athens/blob/master/pkg/storage/s3/checker.go#L26
2. Here's the code in v0.3.0: https://git

[2019-05-22 21:28] vprasanth commented on #1137
Hey I'd like to help get this done if no one else is already working on it. I'm new to go, so bare with me here :/ I've gone through the [go download source](https://github.com/golang/vgo/blob/master/vendor/cmd/go/internal/modcmd/download.go), and found [modfetch source](https://github.com/golang/vgo/tree/master/vendor/cmd/go/internal/modfetch/codehost) which seems to list out what it supports. Wa

[2019-05-23 12:17] marwan-at-work commented on #1166
@oakad that's definitely worth adding in a couple of ways:

1. Helper programs in the form of executables.
2. Helper programs in the form of an HTTP request. We already have a Webhook feature, all we have to do is have a config that passes the request headers so that the Webhook URL can tell us if the client is authenticated or not.

That said, I still think having a very simple authentication lay

[2019-05-23 14:24] brainflake commented on #1237
Has anybody taken a crack at this yet @arschles? I'd be happy to give it a shot

[2019-05-23 15:06] robjloranger commented on #1237
@brainflake it looks up for grabs still. Please do. 🤓

[2019-05-23 20:36] j4ng5y commented on #1213
@arschles, I take a stab :D

[2019-05-24 01:25] oakad commented on #1166
There are two sides to authentication:

1. Authenticating users to the proxy
2. Authenticating the proxy itself to secure upstream repos

Both are important, however I was mostly concerned about case 2 (whereupon proxy runs in a secure subnet but needs to access repos with authentication).

[2019-05-24 03:13] storyicon opened #1241 "Should not return 500 when pulling private repo failed"
In order to match the golang on the master branch, I think it should probably return `404`

Dilemma: https://github.com/storyicon/gos/blob/master/docs/on-goproxy.md
Related issue: https://github.com/golang/go/issues/31913

[2019-05-24 13:47] #1219 closed

[2019-05-24 14:12] shorsher commented on #1233
@arschles I'm sure I'm doing something wrong, but cannot seem to get athens to build even with the commands you pasted.  Thanks ahead of time for your help 🙌

see below:

[code]

[2019-05-24 14:26] shorsher commented on #1233
Just to help anyone else out, make sure to have ```GO111MODULE=on``` set, I forgot to do this before trying @arschles command above.  It is in the development readme though 😄

[2019-05-24 14:26] marpio commented on #1233
@shorsher did you set `GO111MODULE=on` ?

[2019-05-24 14:27] shorsher commented on #1233
@marpio no I completely forgot!  👍 thanks for the response

[2019-05-24 14:36] brainflake commented on #1237
Sounds good @robjloranger. Sail seems actually really easy to setup - is there anything in particular I should ensure is included in the dev environment (aside from enabling GO111MODULE)? The current go version is 1.12.4 in their base golang ubtuntu image, which I'm assuming works based on the Dockerfile currently in `cmd/proxy`.

Currently just seeing if i can get the unit tests to work from the

[2019-05-24 14:50] marpio commented on #1241
@storyicon
Wouldn't that be covered by https://github.com/gomods/athens/issues/1211 and the `DownloadMode="async"` ?

cc: @marwan-at-work

[2019-05-24 14:56] marpio opened #1242 "Remove -mod=vendor from source and docs"
https://github.com/gomods/athens/pull/1231 removed the vendor directory but there are still some ` -mod=vendor` left in our Makefile and docs.

We should remove those and use GOPROXY=https://proxy.golang.org instead to build Athens.

[2019-05-24 15:26] marpio opened #1243 "Fix Azure storage checker"
**Describe the bug**
We check modules in v0.4.0 based on prefixes not based on explicit paths, so when two Versions have the same prefix, we get into trouble.
More on that here: https://github.com/gomods/athens/issues/1219#issuecomment-494973122

There's already a fix for s3 (thanks @marwan-at-work) but we need to do the same for Azure storage.

**To Reproduce**
Described here https://github.com/g

[2019-05-24 15:26] marpio commented on #1243
I'll take this one

[2019-05-26 16:52] robjloranger commented on #1237
Awesome, sorry for the delay @brainflake. How is it coming? Did you get tests working?

I'm not yet familiar with sail myself, I am very interested in giving it a shot though. It should really help with on boarding new contributors who may be unfamiliar with Go development.

I think if you can build and run Athens then you've got a great start for the sail environment set up.

[2019-05-27 11:51] arschles commented on #1237
+1 to what @robjloranger said. Any progress with Sail I think is a great win. @brainflake if you have something working for local dev and/or unit tests, we can PR and merge that and then improve from there in follow-ups!

[2019-05-27 12:50] arschles commented on #1213
@j4ng5y sorry for the delay, go ahead!

[2019-05-27 13:25] 5onic commented on #1236
I'll take a look at this and hopefully will send a PR in ~ 1 week.

[2019-05-27 14:10] glb commented on #1179
@arschles do you want it just like it's done in the examples?

[2019-05-27 14:55] robjloranger commented on #1137
@vprasanth that is correct. Thanks for doing this. :smiley:

[2019-05-27 16:27] brainflake commented on #1237
Sounds good @robjloranger @arschles

I'll cut a PR with what I have. It's just a Dockerfile w/ a few lines at the moment but seems to work for building + running.

[2019-05-27 19:34] #1236 closed

[2019-05-27 20:58] penthaapatel commented on #1242
Hi! New contributor here. :) I would like to work on this.

[2019-05-28 05:21] marpio commented on #1242
Please do @penthaapatel It's yours!

[2019-05-28 05:21] marpio commented on #1242
Let us know if you have any questions.

[2019-05-28 12:31] arschles commented on #1135
@cByst sorry for the long delay there. If you'd still like to do this issue, let us know what you think about the `docker run` one-liner

[2019-05-28 12:55] arschles commented on #1236
@5onic thanks, you rock 🎉

[2019-05-28 13:14] penthaapatel commented on #1242
Should I change all the occurrences that say "GOPROXY=http://127.0.0.1:3000" to "GOPROXY=https://proxy.golang.org" in docs/content?

[2019-05-28 13:19] 5onic commented on #1236
@arschles Np, thank you for a cool project, and again(!) for an amazing community 🍰

[2019-05-28 13:20] arschles commented on #1242
@penthaapatel not everywhere, no. Many of the places in docs that say `GOPROXY=http://127.0.0.1:3000` are instructions for how to configure your machine to use an installed Athens, so don't change that. Only change the occurrences that talk about how to build Athens itself. Lots of them will be in development and testing docs

[2019-05-28 13:23] penthaapatel commented on #1242
@arschles Thanks! I got it.

[2019-05-28 14:00] penthaapatel commented on #1242
I removed `-mod=vendor` from Makefile, docs/content/install/build-from-source.md, and docs/content/walkthrough.md. Am I doing this right?

[2019-05-28 15:58] #1235 closed

[2019-05-28 16:13] arschles commented on #1242
@penthaapatel sounds like it! Would you be able to submit this as a pull request and we can start giving feedback directly on the code? Or, did you already submit one and I missed it?

[2019-05-28 16:26] arschles commented on #1171
@cByst do you think you still want to do this one? Either way, no worries and no rush. Just wanted to check in again.